@import "variable";

.info-card {
  border-radius: 5px;
  background-color: #F0F0F0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 0;
  position: absolute;
  bottom: 15px;
  padding: 10px 10px 10px 15px;
  right: 1em;
  overflow: hidden;
  width: 94%;
  @media only screen and (min-width: 568px) {
    right: 2em;
  }
  @media only screen and (min-width: 720px) {
    right: 0;
    bottom: 40px;
    width: auto;
  }
  @media only screen and (min-width: 992px) {
    width: 51%;
  }
  @media only screen and (min-width: 1140px) {
    width: auto;
    right: 0;
    bottom: 0;
  }
  .closeBtn {
    cursor: pointer;
    em {
      font-size: 12px;
      color: #373331;
    }
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ff5722;
  }
}
.info-title {
  margin-bottom: 5px;
}
.info-title span {
  color:#373331;
  font-weight: 500;
  margin-left: 10px;
  font-size: 15px;
}
.info-content ul {
  margin: 0px;
  padding-left: 13px;
  li {
    margin: 0 5px;
    font-size: 14px;
    text-align: left;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    a {
      color: #1b4e9b;
      text-decoration: none;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.animate {
  animation: mymove 1s ;
  z-index: 1;
}

.loginWrapper {
  background-image: url("https://assets.lntedutech.com/application_images/entrybackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  @media only screen and (min-width: 568px) {
    padding: 2em;
  }
  @media only screen and (min-width: 720px) {
    padding: 3em;
  }
  @media only screen and (min-width: 1140px) {
    padding: 4em;
  }
  .loginContainer {
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    position: relative;
    .bottomSection, .topSection {
      position: absolute;
      width: 100%;
      right: 0;
      padding: 6px 10px;
      span {
        font-weight: 400;
        color: #333333;
      }
    }
    .topSection {
      display: none !important;
      top: -28px;
      background: rgb(255,255,255);
      background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
      background: linear-gradient(90deg, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      span {
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        line-height: normal;
        a {
          font-weight: 500;
          color: #1B4E9B;
        }
        em {
          margin-right: 10px;
          font-size: 15px;
          color: #373331;
        }
      }
      @media only screen and (min-width: 720px) {
        top: -35px;
        display: flex !important;
      }
    }
    .bottomSection {
      display: none !important;
      bottom: -40px;
      background: rgb(255,255,255);
      background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
      span {
        font-weight: 400;
        color: #333333;
        font-size: 12px;
        line-height: normal;
        a {
          color: #333333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      @media only screen and (min-width: 720px) {
        display: flex !important;
      }
      .terms {
        margin-right: 5em;
        display: flex;
        a {
          color: #666666;
          border-right: 1px solid #cdcdcd;
          margin-right: 10px;
          padding-right: 10px;
          display: inline-flex;
          align-items: center;
          line-height: normal;
          font-size: 12px;
          cursor: pointer;
          &.privacyPolicy {
            position: relative;
            top: 0;
          }
          em {
            margin-right: 5px;
          }
          .settingsIcon {
            font-size: 16px;
          }
          &:hover {
            span {
              color: #1B4E9B;
            }
            text-decoration: none;
            em {
              color: #1B4E9B;
            }
          }
          &:last-child {
            border-right: 0;
            margin-right: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .brandLogo {
    width: 55%;
    background-color: #fcfcfc;
    background-image: url("https://assets.lntedutech.com/application_images/obstacles.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 30px 0;
    display: none;
    .logo {
      margin: 0;
    }
    @media only screen and (min-width: 992px) {
      display: inline-flex;
      background-position: top center;
    }
    @media only screen and (min-width: 1540px) {
      background-position: 100%;
    }
  }
  .topImage {
    text-align: center;
    width: 70%;
    margin-top: 1em;
    @media only screen and (min-width: 1140px) {
      width: 50%;
    }
    @media only screen and (min-width: 1450px) {
      margin-top: 2em;
    }
    @media only screen and (min-width: 1720px) {
      margin-top: 4em;
    }
    .logo {
      img {
        width: 50%;
        @media only screen and (min-width: 1540px) {
          width: 50%;
        }
      }
    }
  }
  .middleImage {
    width: 75%;
    @media only screen and (min-width: 1540px) {
      width: 55%;
    }
    .obstacles {
      img {
        width: 100%;
      }
    }
  }
  .downloadApp {
    text-align: center;
    figure {
      // width: 22.5%;
      width: 17%;
      margin: 0 0 0 2.5%;
      @media only screen and (min-width: 1540px) {
        width: 20%;
      }
      img {
        cursor: pointer;
        max-width: 100%;
      }
    }
    span {
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      text-align: right;
    }
  }
  .loginSection {
    width: 45%;
    background-color: #ffffff;
    @media only screen and (max-width: 992px) {
        width: 100%;
        margin: 0 auto;
    }
    .signInContainer {
      max-width: 400px;
      width: 90%;
      margin: 0 auto;
      @media only screen and (max-width: 992px) {
        max-width: initial;
      }
      .logo {
        width: 50%;
        text-align: center;
        margin: 2em 0 4em 0;
        img {
          max-width: 100%;
        }
        @media only screen and (min-width: 568px) {
          width: 35%;
        }
        @media only screen and (min-width: 992px) {
            display: none;
        }
      }
    }
    h1 {
      font-size: 29px;
      font-weight: 700;
      color: #000000;
      line-height: normal;
      margin-bottom: 20px;
      text-align: center;
    }
    .gradientBtn {
        margin: 20px 0 30px 0;
        button {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 12px 0;
            border-radius: 7px;
            height: 47px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            background: #00b0ed; /* Old browsers */
            background: -moz-linear-gradient(left, #00b0ed 0%, #53aa34 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #00b0ed 0%,#53aa34 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #00b0ed 0%,#53aa34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ed', endColorstr='#53aa34',GradientType=1 );
        }
    }
    a {
        text-decoration: none;
    }
  }
  //SignIn
  .signUp {
    padding: 0 0 30px 0;
  }
  .signIn {
    padding-bottom: 30px;
  }
  .signIn, .forgotPassword, .signUp, .resetpassword {
    width: 100%;
    .goBack{
      display: flex;
      justify-content: center;
      color: #87898a;
      cursor: pointer;
      padding-bottom: 30px;
    }
    .goBack:hover{
      color: #1B4E9B;
      text-decoration: underline;
    }
    .signup {
      cursor: pointer;
    }
    .alert1{
      color: #87898a;
      margin-bottom: 1em;
    }
  }
  .forgot {
      font-size: 12px;
      font-weight: 400;
      color: #1B4E9B;
      cursor: pointer;
  }
  .dontHaveAccount {
      text-align: center;
      span {
          font-size: 13px;
          font-weight: 400;
          color: #999999;
          line-height: normal;
          a {
              color: #1B4E9B;
              font-weight: 500;
          }
      }
      
  }

  //forgotPassword

  //SignUp
}


//Login Promotions Slides
.promotionSlides {
  text-align: center;
  &:hover {
    .explore {
      color: #ffffff;
      text-decoration: none;
      &::before {
        transform: scaleX(1);
      }
      em {
        animation-name: hvr-icon-buzz;
        animation-duration: 0.8s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    p {
      color: #000000;
    }
  }
  figure {
    margin-bottom: 15px;
    img {
      width: 25%;
      margin: 0 auto;
    }
  }
  h3 {
    color: #27BBEE;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
  }
  p {
    color: #848484;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 !important;
    padding: 0;
    min-height: 70px;
    @media only screen and (min-width: 1540px) {
      padding: 0 4%;
    }
  }
  .explore {
    cursor: pointer;
    border: 1px solid #1B4E9B;
    border-radius: 0;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 400;
    color: #1B4E9B;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: color;
    position: relative;
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #1B4E9B;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    em {
      font-size: 12px;
      margin-left: 7px;
      transform: translateZ(0);
    }
  }
}
::ng-deep.middleImage {
  .owl-theme .owl-dots .owl-dot span {
    margin: 5px 3px;
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid rgba(132,132,132,0.8);
  }
  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    border: 1px solid rgba(132,132,132,0.8);
    background: #848484;
  }
}
// Slide Ends

::ng-deep.signInContainer {
  .mat-form-field {
    width: 100%;
  }
  .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: #C02222;
  }
  .error, 
  .mat-form-field.mat-form-field-invalid .mat-form-field-label, 
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #C02222;
  }
  input.mat-input-element {
    line-height: normal;
  }
  .mat-form-field-prefix{
    display: none;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.25em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #cdcdcd;
  }
  .mat-checkbox-frame {
      border-color: #cdcdcd;
  }
  .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 4px;
  }
  .mat-checkbox-layout .mat-checkbox-label {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #1B4E9B;
  }
}

// dots css start


.loader {
  // display: flex;
  // position: relative;
  // padding: 4px 0;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// .snippet {
//   text-align: initial;
//   display: flex;
//   justify-content: center;
//   height: 26px;
//   padding-top: 0.5em;
// }
// .dot-falling {
//   position: relative;
//   left: -9999px;
//   width: 10px;
//   height: 10px;
//   font-size: 18px;
//   border-radius: 5px;
//   background-color: white;
//   color: white;
//   box-shadow: 9999px 0 0 0 white;
//   animation: dotFalling 1s infinite linear;
//   animation-delay: .1s;
//   &::before, &::after {
//     content: '';
//     display: inline-block;
//     position: absolute;
//     top: 0;
//   }
//   &::before {
//     width: 10px;
//     height: 10px;
//     border-radius: 5px;
//     background-color: white;
//     color: white;
//     animation: dotFallingBefore 1s infinite linear;
//     animation-delay: 0s;
//   }
//   &::after {
//     width: 10px;
//     height: 10px;
//     border-radius: 5px;
//     background-color: white;
//     color: white;
//     animation: dotFallingAfter 1s infinite linear;
//     animation-delay: .2s;
//   }
// }
// @keyframes dotFalling {
//   0% {
//     box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9999px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingBefore {
//   0% {
//     box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9984px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingAfter {
//   0% {
//     box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 10014px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

@keyframes hvr-icon-buzz {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mymove {
  0% {
    bottom: -100px;
  }
  100%{
    bottom: 0;
  }
}
::ng-deep.qnatroubleshoot {
  .mat-dialog-container {
    padding: 25px !important;
    border-radius: 0 !important;
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
    .leftHeading {
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: $black1;
        line-height: 1;
        margin: 0;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        color: $lightgrey;
        line-height: 3;
        margin: 0 0 20px 0 !important;
      }
    }
    .rightContent {
      display: flex;
      justify-content: flex-end;
      em {
          color: $black1;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 15px;
          cursor: pointer;
      }
    }
  }
  .searchBar {
    display: flex;
    justify-content: flex-end;
  }
  .mainContent {
    display: flex;
    justify-content: space-between;
    .leftQA {
      width: 30%;
      // overflow-y: scroll;
      .titleContainer {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 3px 6px $blackshade1;
        padding: 18px 10px;
        cursor: pointer;
        h5 {
          font-size: 15px;
          font-weight: 400;
          color: $black1;
          margin-bottom: 0;
        }
        em {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          color: $color-lightGray;
        }
        &:hover {
          color: $color-white;
          background-color: $blue;
          transition: 0.2s ease-in;
          h5, em {
            color: $color-white;
          }
        }
        &.active {
         color: $color-white;
         background-color: $blue;
         h5, em {
           color: $color-white;
         }
        }
      }
    }
    .rightSteps {
      width: 70%;
      height: 100%;
      padding: 15px 25px;
      box-shadow: 0px 3px 6px $blackshade;
      // overflow-y: scroll;
      display: flex;
      flex-direction: column;
      .stepsContent {
        margin-left: 10px;
        flex-grow: 1;
         h3 {
          font-size: 15px;
          font-weight: 700;
          color: $black1;
         }
         h5 {
          font-size: 15px;
          font-weight: 400;
          line-height: 2;
          color: $black1;
         }
      }
      .contactSupport {
        display: flex;
        justify-content: flex-end;
        h5 {
          font-size: 13px;
          font-weight: 400;
          color: $black1;
          a {
            font-size: 15px;
            font-weight: 400;
            color: $colordarkblue;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


