<mat-grid-list cols="4" rowHeight="100px">
  <form class="example-form" [formGroup]="loginForm">
    <mat-grid-tile [colspan]="4" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-form-field appearance="outline" class="formField">
        <input matInput placeholder="Username" name="username" formControlName="username">
      </mat-form-field>
      <mat-hint>Name should have a minimum of 3 characters.</mat-hint>
      <div *ngIf="f.username.touched && f.username.errors">
        <mat-error *ngIf="f.username.errors.required">Email is required</mat-error>
        <mat-error *ngIf="f.username.errors.pattern">Email pattern is invalid</mat-error>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-form-field appearance="outline" class="formField">
        <input matInput placeholder="Password" name="password" formControlName="password">
      </mat-form-field>
      <mat-hint>Name should have a minimum of 3 characters.</mat-hint>
      <div *ngIf="f.password.touched && f.password.errors">
        <mat-error *ngIf="f.password.errors.required">Email is required</mat-error>
        {{f.password.errors | json}}
        <mat-error *ngIf="f.password.errors.pattern">Email pattern is invalid</mat-error>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-checkbox class="example-margin" >
       Remember Me
      </mat-checkbox>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
  </form>
</mat-grid-list>

<button mat-button (click) = "login()">Click me!</button>