@import "variable";

.loginWrapper {
  background-image: url("../../../../assets/images/login_BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &::after, &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &::before {
    background-image: linear-gradient(to right, #27bbee, #00c3da, #00c7ae, #31c572, #88bd2f);
    opacity: 0.5;
    z-index: 0;
  }
  &::after {
    background-color: rgba(23, 23, 23, 0.65);
    z-index: 1;
  }
  .loginContainer {
    padding: 0;
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
    flex-grow: 1;
    padding: 2em 0;
    z-index: 2;
    @include xl {
      padding: 2em 0;
    }
    @media only screen and (min-width: 1540px) {
      padding: 6em 0;
    }
    @media only screen and (min-width: 1720px) {
      padding: 8em 0;
    }
  }
  footer {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    padding: 10px 0;
    z-index: 2;
    .container {
      max-width: 1400px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .copyrights {
        span {
          color: $white-grey;
          font-size: 12px;
          font-weight: 300;
          line-height: normal;
        }
      }
      .policy {
        ul {
          list-style-type: none;
          display: flex;
          li {
            margin-right: 10px;
            padding-right: 10px;
            border-right: 1px solid $color-white;
            line-height: normal;
            a {
              text-decoration: none;
              color: $color-white;
              font-size: 12px;
              font-weight: 300;
            }
            &:last-child {
              border-right: none;
              margin-right: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }
  .carouselSection {
    width: 60%;
    padding: 30px 0;
    display: none;
    .logo {
      margin: 0;
    }
    @include lg {
      display: flex;
    }
    @include xl {
      width: 65%;
    }
    .topImage {
      width: 130px;
      .logo {
        img {
          width: 100%;
        }
      }
    }
    .middleImage {
      width: 70%;
      flex-grow: 1;
      position: relative;
      > div {
        margin-top: 10vh;
        @media only screen and (min-width: 1540px) {
          margin-top: 15vh;
        }
      }
      .promotionSlides {
        figure {
          margin-bottom: 15px;
          img {
            width: 25%;
            margin: 0 auto;
          }
        }
        h3 {
          color: $color-white;
          font-size: 32px;
          font-weight: 500;
          line-height: 30px;
          position: relative;
          span {
            &:first-child {
              display: block;
              font-size: 18px;
              font-weight: 300;
              line-height: normal;
              color: rgba(255,255,255,0.9);
            }
            &:last-child {
              position: relative;
              padding-right: 10px;
              &::after {
                content: '';
                position: absolute;
                left: 100%;
                bottom: 8px;
                width: 70px;
                height: 3px;
                border-radius: 10px;
                background-image: linear-gradient(to right, #27bbee, #00c3da, #00c7ae, #31c572, #88bd2f);
              }
            }
          }
        }
        p {
          color: rgba(255,255,255,0.9);
          font-size: 16px;
          font-weight: 300;
          line-height: 27px;
          margin: 0 !important;
          padding: 0;
          min-height: 150px;
        }
        .explore {
          cursor: pointer;
          background-color: transparent;
          font-size: 16px;
          font-weight: 500;
          color: $color-orange;
          line-height: normal;
          margin-top: 20px;
          position: relative;
          text-decoration: none;
          em {
            font-size: 8px;
            margin-left: 7px;
            border-radius: 50%;
            border: 1px solid;
            width: 23px;
            height: 23px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            line-height: normal;
          }
        }
      }
    }
  }
  .downloadApp {
    text-align: center;
    figure {
      width: 17%;
      margin: 0 0 0 2.5%;
      @media only screen and (min-width: 1540px) {
        width: 20%;
      }
      img {
        cursor: pointer;
        max-width: 100%;
      }
    }
    span {
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      text-align: right;
    }
  }

  .loginSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include xl {
      width: 35%;
    }
    .visitWebsite {
      display: block;
      text-align: right;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 5px;
      position: relative;
      a {
        color: $color-white;
        text-decoration: none;
      }
      &:hover {
        a {
          text-decoration: underline;
        }
      }
    }
    > div {
      height: 100%;
      background-color: $grey1;
      border-radius: 10px;
      box-shadow: 0 0 55px rgba(0, 0, 0, 1);
    }
    // @media only screen and (max-width: 992px) {
    //   width: 100%;
    //   margin: 0 auto;
    // }
    .signInContainer {
      max-width: 400px;
      width: 90%;
      margin: 0 auto;
      @media only screen and (max-width: 992px) {
        max-width: initial;
      }
      .logo {
        width: 50%;
        text-align: center;
        margin: 2em 0 4em 0;
        img {
          max-width: 100%;
        }
        @media only screen and (min-width: 568px) {
          width: 35%;
        }
        @media only screen and (min-width: 992px) {
            display: none;
        }
      }
      .signIn {
        padding-bottom: 30px;
        h1 {
          font-size: 42px;
          font-weight: 500;
          color: #000000;
          line-height: 40px;
          margin-bottom: 30px;
          text-align: left;
          span {
            font-size: 28px;
            font-weight: 300;
            display: block;
          }
        }
        .gradientBtn {
          margin: 20px 0 10px 0;
          button {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 12px 0;
            border-radius: 7px;
            height: 47px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            background-image: linear-gradient(to right, #27bbee, #00c3da, #00c7ae, #31c572, #88bd2f);
          }
        }
        .forgotPswd {

        }
        input {
          &:-webkit-autofill {
            box-shadow: 0 0 0 30px #f0f0f0 inset !important;
          }
        }
        .infoCard {
          ul {
            list-style-type: none;
            li {
              font-size: 12px;
              font-weight: 400;
              line-height: normal;
              color: $darkblack;
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
              }
              @media only screen and (min-width: 1540px) {
                font-size: 13px;
              }
              span {
                color: $colorOrange;
              }
              a {
                color: $lightshadeblue;
                text-decoration: none;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  //SignIn
  .signUp {
    padding: 0 0 30px 0;
  }
  
  .signIn, .forgotPassword, .signUp, .resetpassword {
    width: 100%;
    .goBack {
      display: flex;
      justify-content: center;
      color: #87898a;
      cursor: pointer;
      padding-bottom: 30px;
    }
    .goBack:hover {
      color: #1B4E9B;
      text-decoration: underline;
    }
    .signup {
      cursor: pointer;
    }
    .alert1 {
      color: #87898a;
      margin-bottom: 1em;
    }
  }
  .forgot {
    font-size: 12px;
    font-weight: 700;
    color: $lightshadeblue;
    cursor: pointer;
  }
  .dontHaveAccount {
    text-align: center;
    span {
      font-size: 13px;
      font-weight: 400;
      color: #999999;
      line-height: normal;
      a {
        color: #1B4E9B;
        font-weight: 500;
      }
    }
  }
}

::ng-deep.middleImage {
  .owl-theme .owl-dots .owl-dot span {
    margin: 5px 3px;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 5px;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
    }
  }
  .owl-theme .owl-dots {
    text-align: left;
  }
  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    border: 1px solid rgba(132,132,132,0.8);
    background: transparent;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7px;
      height: 7px;
      background-color: $color-white;
      border-radius: 50%;
    }
  }
}
// Slide Ends

::ng-deep.signInContainer {
  .mat-form-field {
    width: 100%;
  }
  .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    caret-color: #C02222;
  }
  .error, 
  .mat-form-field.mat-form-field-invalid .mat-form-field-label, 
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #C02222;
  }
  input.mat-input-element {
    line-height: normal;
  }
  .mat-form-field-prefix{
    display: none;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $blackshadecolor;
  }
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.25em;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: $blackshadecolor;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, 
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, 
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px;
  }
  .mat-checkbox-frame {
      border-color: $blackshadecolor;
      border-width: 1px;
  }
  .mat-checkbox-background, .mat-checkbox-frame {
      border-radius: 4px;
  }
  .mat-checkbox-layout .mat-checkbox-label {
      color: #000000;
      font-size: 12px;
      font-weight: 400;
  }
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #1B4E9B;
  }
}

// dots css start

// .snippet {
//   text-align: initial;
//   display: flex;
//   justify-content: center;
//   height: 26px;
//   padding-top: 0.5em;
// }
// .dot-falling {
//   position: relative;
//   left: -9999px;
//   width: 10px;
//   height: 10px;
//   font-size: 18px;
//   border-radius: 5px;
//   background-color: white;
//   color: white;
//   box-shadow: 9999px 0 0 0 white;
//   animation: dotFalling 1s infinite linear;
//   animation-delay: .1s;
//   &::before, &::after {
//     content: '';
//     display: inline-block;
//     position: absolute;
//     top: 0;
//   }
//   &::before {
//     width: 10px;
//     height: 10px;
//     border-radius: 5px;
//     background-color: white;
//     color: white;
//     animation: dotFallingBefore 1s infinite linear;
//     animation-delay: 0s;
//   }
//   &::after {
//     width: 10px;
//     height: 10px;
//     border-radius: 5px;
//     background-color: white;
//     color: white;
//     animation: dotFallingAfter 1s infinite linear;
//     animation-delay: .2s;
//   }
// }
// @keyframes dotFalling {
//   0% {
//     box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9999px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingBefore {
//   0% {
//     box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9984px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingAfter {
//   0% {
//     box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 10014px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

@keyframes hvr-icon-buzz {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mymove {
  0% {
    bottom: -100px;
  }
  100%{
    bottom: 0;
  }
}
::ng-deep.qnatroubleshoot {
  .mat-dialog-container {
    padding: 25px !important;
    border-radius: 0 !important;
  }
  .mainHeader {
    display: flex;
    justify-content: space-between;
    .leftHeading {
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: $black1;
        line-height: 1;
        margin: 0;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        color: $lightgrey;
        line-height: 3;
        margin: 0 0 20px 0 !important;
      }
    }
    .rightContent {
      display: flex;
      justify-content: flex-end;
      em {
          color: $black1;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 15px;
          cursor: pointer;
      }
    }
  }
  .searchBar {
    display: flex;
    justify-content: flex-end;
  }
  .mainContent {
    display: flex;
    justify-content: space-between;
    .leftQA {
      width: 30%;
      // overflow-y: scroll;
      .titleContainer {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 3px 6px $blackshade1;
        padding: 18px 10px;
        cursor: pointer;
        h5 {
          font-size: 15px;
          font-weight: 400;
          color: $black1;
          margin-bottom: 0;
        }
        em {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          color: $color-lightGray;
        }
        &:hover {
          color: $color-white;
          background-color: $blue;
          transition: 0.2s ease-in;
          h5, em {
            color: $color-white;
          }
        }
        &.active {
         color: $color-white;
         background-color: $blue;
         h5, em {
           color: $color-white;
         }
        }
      }
    }
    .rightSteps {
      width: 70%;
      height: 100%;
      padding: 15px 25px;
      box-shadow: 0px 3px 6px $blackshade;
      // overflow-y: scroll;
      display: flex;
      flex-direction: column;
      .stepsContent {
        margin-left: 10px;
        flex-grow: 1;
         h3 {
          font-size: 15px;
          font-weight: 700;
          color: $black1;
         }
         h5 {
          font-size: 15px;
          font-weight: 400;
          line-height: 2;
          color: $black1;
         }
      }
      .contactSupport {
        display: flex;
        justify-content: flex-end;
        h5 {
          font-size: 13px;
          font-weight: 400;
          color: $black1;
          a {
            font-size: 15px;
            font-weight: 400;
            color: $colordarkblue;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}


