<!-- <app-header></app-header> -->
<div>
<mat-toolbar class="headerShadow">
  <img class="hearder-logo " alt="" src="assets/learner/LNT_Logo new.svg">
</mat-toolbar>
<div class="limiter">
  <div class="row container-reg200">
    <div class="igniteLogo col-xl-8 col-md-6 col-sm-12 col-12 border-right no_pl">
      <div class="main-logo">
      <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/iGGnite_SVG.svg">
      
    </div>
    <div class="app-Dnld">
      <span class="wrapperSpan">Download our <span style="color:red">i</span><strong>GGnite</strong> mobile app</span>
      <img src="assets/learner/gplay.png" width="100px" style="margin-top: 10px;">
  </div>
    </div>
    <div class="loginWrapper col-xl-4 col-md-6 col-sm-12 col-12">
      <div class="wrap-reg">
        <form [formGroup]="loginForm">
          <h1 class="animated animatedFadeInUp fadeInUp signIn"> {{'Sign in to your account' | translate }}</h1> <br><br>
          <mat-card-content style="margin-top:10px">

            <mat-form-field appearance="outline">
              <mat-label class="label-color">{{'Email' | translate}}</mat-label>
              <input matInput  id="username" #username [placeholder]="'Enter the email' | translate"  formControlName="username" maxlength="64"
              required>
              <!-- <mat-icon matPrefix class="icon-color">mail_outline</mat-icon> -->
              <i class="icon-color lxp-MailOutline" matPrefix></i>
              <mat-error class="error" *ngIf="loginForm.get('username').hasError('required')">{{'Email is required' | translate}}</mat-error>

              <mat-error class="error" *ngIf="loginForm.get('username').hasError('pattern')">{{'Please enter a valid email address' | translate}}</mat-error>
            </mat-form-field>
            <div class="space-20"></div>

            <div class="" appCapslock (capsLock)="capsOn=$event">
              <!-- <label>Password</label> -->
              <div *ngIf="capsOn">{{'Caps lock is on !' | translate }}</div>
              <mat-form-field appearance="outline">
                <mat-label  class="label-color">{{'Password' | translate }}</mat-label>
                <input matInput  [placeholder]="'Enter password' | translate " [type]="hide ? 'password' : 'text'" formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" required>
                <!-- <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon> -->
                <i class="icon-color lxp-Lock" matPrefix></i>
                <span  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <!-- <mat-icon class="icon-color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                <i class="icon-color" [ngClass]="hide ? 'lxp-VisibilityOff' : 'lxp-Visibility'"></i>
                </span>
                <mat-error class="error" *ngIf="f.password.touched && f.password.errors" >{{'Password is required' | translate }}</mat-error>
              </mat-form-field>
              <div class="space-20"></div>

            </div>
            <div class="space-20"></div>

            <div style="text-align: right;">
              <mat-checkbox class="remember_me" formControlName="remember_me">
                {{'Keep me signed in' | translate }}
              </mat-checkbox>
            <mat-label>
            <a  class="forgot"(click)="reserPassword('reserPassword')">{{'Forgot password?'  | translate}}</a>
            </mat-label></div>

            <div class="space-20"></div>

            <div class="center">
              <button class="btn" id="login" mat-raised-button [disabled]="loginForm.invalid" (click)="login()">{{'SIGN IN'  | translate}}</button>
  
            </div>

            <div class="sign_up">
              <span class="haveacc">Don't have an account?</span>
              <a [routerLink]="['/Learner/register']"><span class="col">{{'Sign up' | translate }}</span></a> </div><br>
          </mat-card-content>
        </form>
        <div class="info-card animate" *ngIf="infoClose">
          <div class="info-bodyWrapper">
          <div class="info-title d-flex justify-content-between align-items-center">
            <div><i class="lxp-info-circle"></i><span>info</span></div>
            <div (click)="infoClose = infoClose?false:true"><i class="lxp-Close"></i></div>
          </div>
          <div class="info-content">
            <ul>
              <li>Please clear browser cache before logging into the application.</li>
              <li>If you need any assistance, kindly reach us at <a href="mailto:collegeconnect.support@lntedutech.com">collegeconnect.support@lntedutech.com</a>.</li>
            </ul>
          </div>
        </div>
        </div>
        <div class=""  id="footer">
          <div class="col-12">
            <span class="forgot1">{{currentYear}} © L&T EduTech All Rights Reserved</span> 
          </div>
        </div>

      </div>
      <div class="col-4">
        <!-- <span class="powered">
          <img class="footericon" alt="" src="assets/learner/LT_small.svg">
        </span> -->
      </div>
    </div>



  </div>
  
</div>
</div>