@import "variable";

mat-card {
    width: 22%;
    margin: auto;
    top: 10%;
}

.align {
    text-align: right !important;
}

mat-form-field {
    width: 100%;
}

.remember_me {
    float: left !important;
    font-size: 13px;
    color: $lxp-text !important;
    margin-top: -4px;
}

.forgot {
    color: $lxp-text ;
    cursor: pointer;
    font-size: 13px;
}
.forgot1 {
    color: $lxp-text ;
    font-size: 13px;
}

a:hover {
    color: $lxp-theme-green !important;
    
        text-decoration: underline;
    
}

.link {
    color: $color-white !important;
}

:host::ng-deep .mat-checkbox-inner-container {
    height: 18px !important;
    width: 18px !important;

}

:host ::ng-deep.mat-checkbox-layout .mat-checkbox-label {
    line-height: 28px;
}

.haveacc {
    color: $label !important;
    font-size: 13px;
}

.forgot_ps {
    text-align: center;
    width: 100%;
    color: $color-blue;
    font-weight: 500;
    font-size: 12px;
    margin-top: 8%;
}

.col {
    margin-top: 10%;
    color: $lxp-theme-green !important;
    margin-left: -10px;
}

:host ::ng-deep.p-t-77 {
    padding-top: 21px !important;
}

:host ::ng-deep.sign_up {
    margin-top: 12% !important;
    text-align: center !important;
    margin-left: 16px;
}

mat-card-title,
.remember_me .a {
    // color: $color-blue !important;
    margin-top: -12px !important;
    text-align: center !important;
}

:host ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: $color-border !important;

}
:host ::ng-deep.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $lxp-text  !important;
}

mat-card-title {
    font-weight: 400;
}

.fa {
    cursor: pointer;
    font-size: 16px;
}


:host ::ng-deep.errspan {
    float: right;
    margin-right: 10px;
    margin-top: -29px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #9E9E9E;
}

:host ::ng-deep.mat-raised-button[disabled]:not([class*='mat-elevation-z']) {
    color: #d2d1d1;
    background: $lxp-theme-green !important;
}


:host ::ng-deep.pg {
    position: absolute;
    color: $color-white;
    padding: 7px;
    margin-top: 16px;
    margin-left: 50% !important;
    font-size: 14px;
    font-weight: normal !important;
}

:host ::ng-deep.privcy {
    position: absolute;
    color: $color-white;
    padding: 7px;
    margin-top: 45%;
    margin-left: 47% !important;
    font-size: 14px;
    font-weight: normal !important;
}

:host ::ng-deep .container-reg200 {
    width: 100%;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

:host ::ng-deep.lxplogo {
    text-align: center;
    margin-left: 94px;
    margin-right: 94px;
    width: 110px;
}

:host ::ng-deep.head1 {
    text-align: center;
    font-weight: normal !important;
    font-size: 21px;
    margin-top: 18px !important;
}

:host ::ng-deep.bgimg {
    width: 99%;
    height: 657px;
}

:host ::ng-deep.lnt_logo {
    position: absolute;
    width: 15%;
    margin-top: 21px;
    margin-left: 108px;
}

.reset {
    cursor: pointer;
  }
  .space-20{
      margin-top: 15px;
  }

 :host ::ng-deep .wrap-reg {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    height: 100vh;
    border-radius: 0px !important;
    margin-left: 0% !important;
    overflow: hidden !important;

}

.hearder-logo {
    height: 36px;
}
.mat-toolbar {
    background: $lxp-theme-yellow-sec !important;
    color: $color-blank;
    position: absolute;
    z-index: 4;
}
.headTit{
    display: contents;
    font-size: 14px;
    font-style: oblique;
    color: $color-blank;
    margin-left: 2px;
    font-weight: bold;
  }
.example-spacer {
    flex: 1 1 auto;
  }
.border-right{
    border-right: 1px solid $color-border;
}
:host ::ng-deep.footertext{
    font-size: 14px !important;
    font-weight: 400;
    padding: 18px;
    position: absolute;
    color: $lxp-footer-text;
}

// new changes
input.mat-input-element {
    margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {

    margin: 3px !important;

}
.btn {
         font-size: 16px;
        background: $lxp-theme-green !important;
        color: $color-white;
        border-radius: 50px !important;
        width: 54%;
        height: 45px;
        margin-left: 23%;
        margin-right: 23%;
        margin-top: 10%;
    
}
.center{
    text-align: center;
}
:host ::ng-deep .btn.disabled,
.btn:disabled {
  opacity: 1 !important;
  color: $color-white !important;
  border-radius: .25rem;
  font-size: 16px;
}
.usericon input{
    padding-left:25px;
}

::placeholder {
    color: $color-border !important;
    }

:host ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $lxp-theme-green !important;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0em 0 !important;
}
:host ::ng-deep.mat-form-field-wrapper {
    padding-bottom: .5em;
}
.icon-color{
  color:  #8c8c8c !important;
  position: relative;
  top: -2px;
} 
.error{
    margin-top: 10px;
}
.label-color{
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif !important;
}

// mobile
@media (max-width: 480px) and (max-width: 320px) {
    .kauhalya {
        margin-top: 11%;
         margin-left: 0%  !important; 
        margin-right: 0% !important;
    }
    .wrap-reg {
        text-align: center;
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: hidden !important;
        height: 96vh;
        border-radius: 0 !important;
        margin-left: 0% !important;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .linee {
        border-left: 222px solid none !important;
    }
    .forgot1{
        margin-left: -9%;
      }
}


@media (max-width: 568px) {
    .kauhalya {
        margin-top: 11%;
         margin-left: 0%  !important; 
        margin-right: 0% !important;
    }
    .wrap-reg {
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: hidden !important;
        height: 96vh;
        border-radius: 0 !important;
        margin-left: 0% !important;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .powered {
        font-size: 10px !important;
        margin-left: -43px;
        color: $label;
    }
    .footericon {
        width: 100%;
        position: absolute;
        margin-left: 5px;
        margin-top: 4px;
    }
    .footertext {
        color: transparent;
    }

    .beforeloginimg {
        width: 100%;
         height: 0vh !important; 
         padding: 10px;
    }
    .footer20 {
        position: absolute;
        bottom: 25px;
        text-align: center !important;
    }
    .linee {
        border-left: 257px solid none !important;
        margin-left: 33px !important;
}
.forgot1{
    margin-left: -9%;
  }

}

@media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .wrap-reg {
        text-align: center;
        width: 100%;
        margin-left: 0% !important;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    label {
        display: inline-block;
        margin-bottom: 10px !important;
    }

    .forgot {
        font-size: 13px !important;
        // color: $color-border !important;
    }

    .reset {
        font-size: 14px !important;
    }

    .haveacc {
        font-size: 13px !important;

    }

    .beforeloginimg {
        width: 100%;
         height: 0vh !important; 
         padding: 10px;
    }
    .forgot1{
        margin-left: -9%;
      }
}








