@import "variable";

.activity_center {
    margin-left: 32px;
    font-size: 18px;
    font-weight: 800;
    margin-top: 23px;
}

.m-t-rw {
    margin-top: 100px;
}

.activitycard {
    width: 440px;
    border-left: 6px solid $color-yellow;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 4px #00000029;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ht-120 {
    height: 120px;
}

.ht-150 {
    height: 150px;
}

.p-t-5 {
    padding-top: 5px;
}

.img_ht_wt {
    height: 50px;
    width: 50px;
    margin-left: 40px;
}

.next_activity {
    // padding-top: 1px;
    // margin-left: 22px;
    font-size: 18px;
    font-weight: 800;
}

.m-b-0 {
    margin-bottom: 0px;
}

.color_red {
    color: $lxp-theme-green;
}

.f-w-800 {
    font-weight: 800;
}

.color_blue {
    color: $color-subhead !important;
}

.color_green {
    color: $light-green !important;
}

.color_orange {
    color: $color-orange !important;
}

.mt8 {
    margin-top: -8px !important;
}

.mt9 {
    margin-top: -9px !important;
}

.m_t_10 {
    margin-top: -10px !important;
}

.mt6 {
    margin-top: -6px !important;
}

.m-t-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.color_grey {
    color: #6A6A6A;
}

.m-l-10px{
    margin-left: 10px;
}
.p-l-30px {
    padding-left: 30px;
}

.footer {
    padding: 15px;
    font-size: inherit;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    color: $label;
    position: fixed;
    z-index: 999999;
    font-weight: 500;
    background-color: $profile-t-grey;
    text-align: right;
    border-top: 2px solid $profile-p-grey;
}

// Mobile
@media (min-width: 200px) and (max-width: 767.98px) {
    .footer {
        text-align: center;
    }
}

.m-b-70 {
    margin-bottom: 70px;
}