<app-header></app-header>
<!-- <div class="row">
  <h2 class="activity_center">Activity center</h2>
</div> -->
<br />
<div class="f_size_22  m-l-10px myC-head animated animatedFadeInUp fadeInUp " style="font-size: 22px;">
  {{'Activity Center' | translate }}</div>
  <div class="container-fluid m-t-rw activityCallouts">
    <div class="activityCardEmpty"></div>
    <div class="activityCenterCard activitycard1">
    <mat-card class="activitycard ht-120" [ngClass]="details?.nextactivity?.length == 0 ? '': 'pointer'"
      (click)="details?.nextactivity?.length == 0 ? '': gototable1()">
      <!-- <mat-card-content> -->
      <div class="row no_padding ">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 center">
          <img src="assets/images/Next-Activity.svg" alt="" class="img_ht_wt">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
          <h2 class="next_activity m-b-0 mt8">Next activity on</h2>
          <!-- <h3 class="m-b-0 color_red f-w-800">15th October 2020 | 11:00 AM</h3>
            <h2 class="m-b-0 f_size_15 color_red">Perform pollutionlevel and corrosion</h2> -->
          <h3 class="m-b-0 color_grey"
            *ngIf="details?.nextactivity === null || details?.nextactivity === [] || details?.nextactivity?.length == 0">
            You have no new activity scheduled to start</h3>
          <span *ngIf="details?.nextactivity?.length >= 1">
            <h4 class="m-b-0 color_red f-w-800">{{details?.nextactivity[0].activitystartdate | date:'longDate'}} &nbsp;
              |&nbsp;
              {{details?.nextactivity[0].activitystartdate | date:'shortTime'}} </h4>
            <div>
              <h3 class="m-b-0 f_size_15 color_grey no_margin">{{details?.nextactivity[0]?.activity}} - {{details?.nextactivity[0]?.activityname}} </h3>  
              <!-- details?.nextactivity[details.nextactivity.length - 1] -->
              <!-- <p class="m-b-0 f_size_15">Perform-pollutionlevel and corrosion </p>
            <p class="m-b-0 f_size_15">Perform-pollutionlevel and corrosion  </p> -->
            </div>
          </span>
        </div>
      </div>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
  <div class="activityCenterCard activitycard2">
    <mat-card class="activitycard ht-120"
      [ngClass]="(details?.Completed == null && details?.Graded == null && details?.Submitted ==null) ? '': 'pointer'" (click)="(details?.Completed == null && details?.Graded == null && details?.Submitted ==null) ? '': gototable('completed')">
      <!-- <mat-card-content> -->
      <div class="row no_padding ">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 center">
          <img src="assets/images/Completed.svg" alt="" class="img_ht_wt">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
          <h2 class="next_activity m-b-0 mt9">Completed</h2>
          <!-- <h3 class="m-b-0  color_grey"
            *ngIf="details?.Completed == null && details?.Graded == null && details?.Submitted ==null">You have no
            completed activity </h3> -->
          <!-- <span *ngIf="details?.Completed !== null || details?.Graded !== null || details?.Submitted !== null"> -->
          <h3 class="m-b-0 color_blue">You have completed
            {{details?.Completed > 1   ?  details?.Completed + ' activities ': details?.Completed == 1 ?  '1 activity ': '0 activity'}}
          </h3>
          <h2 class="m-b-0 f_size_15 color_green mt6">Graded -
            {{details?.Graded > 1  ? details?.Graded + ' activities ': details?.Graded == 1 ?  '1 activity ': '0 activity'}}
          </h2>
          <h2 class="m-b-0 f_size_15 m_t_10 color_orange">Submitted -
            {{details?.Submitted > 1  ? details?.Submitted + ' activities ': details?.Submitted == 1 ? '1 activity ': '0 activity'}}
          </h2>
          <!-- </span> -->
        </div>
      </div>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
  <div class="activityCardEmpty"></div>
</div>
<div class="container-fluid activityCallouts">
  <div class="activityCardEmpty"></div>
  <div class="activityCenterCard activitycard1">
    <mat-card class="activitycard ht-120" (click)="details?.Yettosubmit == null ? '': gototable('ongoing')"
    [ngClass]="details?.Yettosubmit == null ? '': 'pointer'">
      <!-- <mat-card-content> -->
      <div class="row no_padding ">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 center">
          <img src="assets/images/Pending-activities.svg" alt="" class="img_ht_wt">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
          <h2 class="next_activity m-b-0 mt8">Ongoing activities</h2>
          <!-- <h3 class="m-b-0 color_grey"
          *ngIf="details?.Yettosubmit === null">
          You have no pending activity</h3>
          <span  *ngIf="details?.Yettosubmit === null"> -->
          <h3 class="m-b-0 color_grey">You have
            {{details?.Yettosubmit > 1 ? details?.Yettosubmit + ' ongoing activities ': details?.Yettosubmit == 1 ?  '1 ongoing activity ': '0 ongoing activity'}}
            </h3>
          <!-- </span> -->
        </div>
      </div>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
  <div class="activityCenterCard activitycard2">
    <mat-card class="activitycard ht-120" (click)="details?.Allactivites == null ? '': gototable('allActivities')"
    [ngClass]="details?.Allactivites == null ? '': 'pointer'">
      <!-- <mat-card-content> -->
      <div class="row no_padding ">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 center">
          <img src="assets/images/View-all-activities.svg" alt="" class="img_ht_wt">
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8"   [ngClass]="details?.Allactivites == null ? 'p-l-30px' :''">
          <h2 class="next_activity m-b-0 mt9">View all activities</h2>
          <h3 class="m-b-0 color_grey" *ngIf="details?.Allactivites == null">
            You have no activity</h3>
          <span *ngIf="details?.Allactivites != null">
            <h3 class="m-b-0 color_blue">You have
              {{details?.Allactivites > 1 ? details?.Allactivites + ' activities ': details?.Allactivites == 1 ?  '1 activity ': ''}} overall </h3>
          </span>
        </div>
      </div>
      <!-- </mat-card-content> -->
    </mat-card>
  </div>
  <div class="activityCardEmpty"></div>
</div>
<!-- <div class="footer">
  <span class="powered">
      <span class="forgot1">2020 © L&T EduTech All Rights Reserved</span>
  </span>
</div> -->