@import "variable";
// .commonBackStyle {
//     margin: 0 !important;
//     padding-left: 0;
//     display: inline-block;
//     &:hover {
//         i, span {
//             color: #C02222;
//         }
//     }
//     .backArrow {
//         font-size: 6px;
//         color: #231F20;
//         font-weight: bold;
//         transform: rotate(-90deg);
//         display: inline-block;
//         vertical-align: middle;
//         cursor: pointer;
//     }
//     span {
//         cursor: pointer;
//         display: inline-block;
//         vertical-align: middle;
//         font-size: 18px;
//         color: #999999;
//         font-weight: lighter;
//         margin: 0 0 0 5px;
//     }
// }
.breadcrumb {
    margin: 0;
    padding: 0 20px !important;
    background-color: transparent !important;
    @media only screen and (max-width: 568px) {
      padding: 0 !important;
    }
    li {
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      position: relative;
      margin-right: 15px;
      em {
        display: inline-block;
        transform: scale(-1);
        color: #666666;
        margin-right: 8px;
        cursor: pointer;
      }
      &::after {
        content: "/";
        position: absolute;
        right: -10px;
        top: auto;
        bottom: auto;
        color: #c02222;
      }
      &:first-child {
        span {
          color: #999999;
        }
      }
      &:last-child {
          &::after {
              content: '';
          }
      }
    }
  }
.courseNameBreadcrum {
    margin-left: 10px;
    .pipeLine {
        display: inline-block;
        margin-right: 10px;
    }
    span {
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        display: inline-block;
    }
    i {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 8px;
        color: #333333;
        margin: 0 7px;
    }
}
.notificatonRead {
    margin: 15px 0;
    padding: 0 15px;
}
.head {
    margin: 0;
}
.tableContainer {
    width: 98%;
    margin: auto;
    padding-bottom: 55px;
    table {
        width: 100%;
    }
    @media only screen and (max-width: 767px) {
        width: 94%;
    }
}
table {
    thead {
        tr {
            td {
                text-align: center;
                @media only screen and (max-width: 767px) {
                    font-size: 15px;
                }
            }
        }
    }
    tbody {
        tr {
            td:last-child {
                text-align: center;
            }
        }
    }
}
.w-60 {
    width: 60% !important;
}
.w-30 {
    width: 30% !important;
}
.w-10 {
    width: 10% !important;
}
.font {
    font-size: large;
}
.read {
    color: $lxp-text;
}
.unread {
    color: $color-blank;
}
.markAllbtn {
    margin: 0;
}
.readIcon {
    font-size: 19px;
}
.pointer {
    cursor: pointer;
}
.pagination {
    margin-right: 0px;
    
}
.nonotifictaion {
    text-align: center !important;
    margin-top: 131px !important;
    font-size: x-large !important;
    font-weight: 500 !important;
}
.markBtn {
    border: none !important;
    background-color: $color-white !important;
}
