<app-header></app-header>
<div class="notificatonRead d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center justify-content-start">
    <p class="commonBackStyle">
      <i class="lxp-Arrow backArrow" (click)="goBack()"></i>
      <span (click)="goBack()">Back</span>
    </p>
    <div class="d-flex align-items-center courseNameBreadcrum">
      <span class="pipeLine"> | </span>
      <span>All notifications</span>
    </div>
  </div>
  <!-- <h2 class="head"><strong>All notifications</strong></h2> -->
  <div class="markAllbtn" *ngIf="notifications?.length > 0">
    <button class="markBtn" (click)="markAsRead(notifications,'all')" [disabled]="unreadCount == 0">
      <u><strong>Mark all as read</strong></u>
    </button>
  </div>
</div>

<!------------------------------------Table------------------------------------->
<div class="tableContainer">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 " *ngIf="notifications?.length">

  <ng-container matColumnDef="notificationName">
    <th class="w-60" mat-header-cell *matHeaderCellDef><strong class="font">Notifications</strong></th>
    <td class="pointer" mat-cell *matCellDef="let element" (click)="markAsRead(element,'single')">
      <span class="read" *ngIf="element.notifiedStatus == true">{{element.notificationMessage}}</span>
      <span class="unread" *ngIf="element.notifiedStatus != true">{{element.notificationMessage}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th class="w-30 text-center" mat-header-cell *matHeaderCellDef><strong class="font">Received on</strong></th>
    <td class="pointer text-center" mat-cell *matCellDef="let element" (click)="markAsRead(element,'single')"> 
      <span class="read" *ngIf="element.notifiedStatus == true">{{element.timeAgo}}</span>
      <span class="unread" *ngIf="element.notifiedStatus != true">{{element.timeAgo}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th class="w-10 text-center" mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-icon *ngIf="element.notifiedStatus == true" class="read readIcon">drafts</mat-icon>
      <mat-icon *ngIf="element.notifiedStatus != true" class="unread readIcon" (click)="markAsRead(element,'single')" >markunread</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<div *ngIf="notifications?.length > 0" >
<mat-paginator class="pagination" #paginator [length]="totalCount" [pageSize]="limit" (page)="next($event)"
  showFirstLastButtons>
</mat-paginator>
</div>
</div>

<div class="nonotifictaion" *ngIf="emptynotifications">
  No new notifications
</div>
