<app-header></app-header>
<div class="row">
  <h2 class="head"><b>All notifications</b></h2>
</div>
<div class="row markAllbtn float-right" *ngIf="notifications?.length > 0">
  <u class="pointer" (click)="markAsRead(notifications,'all')"><b>Mark all as read</b></u>
</div>

<!------------------------------------Table------------------------------------->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableContainer" *ngIf="notifications?.length">

  <ng-container matColumnDef="notificationName">
    <th class="w-55" mat-header-cell *matHeaderCellDef><b class="font">Notifications</b></th>
    <td class="pointer" mat-cell *matCellDef="let element" (click)="markAsRead(element,'single')">
      <span class="read" *ngIf="element.notifiedStatus == true">
      {{element.notificationMessage}}
    </span>
    <span class="unread" *ngIf="element.notifiedStatus != true">
      {{element.notificationMessage}} 
    </span>
  </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th class="w-50 text-center" mat-header-cell *matHeaderCellDef><b class="font">Received on </b></th>
    <td class="pointer text-center" mat-cell *matCellDef="let element" (click)="markAsRead(element,'single')"> 
      <span class="read" *ngIf="element.notifiedStatus == true">
      {{element.timeAgo}} 
    </span>
    <span class="unread" *ngIf="element.notifiedStatus != true">
      {{element.timeAgo}} 
    </span>
  </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-icon *ngIf="element.notifiedStatus == true" class="read readIcon" (click)="markAsRead(element,'single')" >drafts</mat-icon>
        <mat-icon *ngIf="element.notifiedStatus != true" class="unread readIcon" >markunread</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="notifications?.length > 0">
<mat-paginator class="pagination" #paginator [length]="totalCount" [pageSize]="limit" (page)="next($event)"
  showFirstLastButtons>
</mat-paginator>
</div>

<div class="nonotifictaion" *ngIf="!notifications?.length">
  No new notifications
</div>
