@import "variable";
.notificatonRead {
    margin: 15px 0;
    padding: 0 15px;
}
.head {
    margin: 0;
}
.tableContainer {
    width: 98%;
    margin: auto;
    padding-bottom: 55px;
    @media only screen and (max-width: 767px) {
        width: 94%;
    }
}
table {
    thead {
        tr {
            td {
                text-align: center;
                @media only screen and (max-width: 767px) {
                    font-size: 15px;
                }
            }
        }
    }
    tbody {
        tr {
            td:last-child {
                text-align: center;
            }
        }
    }
}
.w-60 {
    width: 60% !important;
}
.w-30 {
    width: 30% !important;
}
.w-10 {
    width: 10% !important;
}
.font {
    font-size: large;
}
.read {
    color: $lxp-text;
}
.unread {
    color: $color-blank;
}
.markAllbtn {
    margin: 0;
}
.readIcon {
    font-size: 19px;
}
.pointer {
    cursor: pointer;
}
.pagination {
    margin-right: 0px;
    
}
.nonotifictaion {
    text-align: center !important;
    margin-top: 131px !important;
    font-size: x-large !important;
    font-weight: 500 !important;
}
.markBtn {
    border: none !important;
    background-color: $color-white !important;
}
