<div class="knowledge-preview-container">
  <div class="prev-cancel" (click)="onClose()" *ngIf="isCancelLoad">
    <mat-icon>arrow_back</mat-icon>
    <span style="position: absolute;
    top: 3px;
    left: 30px;
    font-size: 16px;">
      {{batchdialogdata.filename}}
    </span>
  </div>
  <ng-container *ngIf="isCancelLoad">
    <!-- <mat-icon [ngClass]="{'preview-cancel-pdf': fileType == 'pdf','preview-cancel' : (fileType == 'image' || fileType == 'video')}" (click)="onClose()">cancel</mat-icon> -->
  </ng-container>
  <ng-container *ngIf="fileType == 'image'">
    <div class="image-container">
      <img [src]="file" alt="image">
    </div>
  </ng-container>

  <ng-container *ngIf="fileType == 'pdf'">
    <!-- <pdf-viewer [src]="this.batchdialogdata.file"
     [original-size]="false"></pdf-viewer> -->
    <iframe title="file" width="100%" height="100%" [src]="file" allowfullscreen></iframe>

  </ng-container>

  <ng-container *ngIf="fileType == 'video'">
    <video  oncontextmenu="return false;" [src]="file" title="image" width="100%" height="100%" controls controlsList="nodownload"></video>
  </ng-container>

  <ng-container *ngIf="fileType == 'audio'" controlsList="nodownload">
    <audio oncontextmenu="return false;" class="audio-player" [src]="file" title="image" width="100%" height="100%" controls controlsList="nodownload"></audio>
  </ng-container>
</div>