<app-header></app-header>
<div class="qandWrapper d-flex">
    <div class="questionLeftCol">
        <ul class="breadcrumb">
            <li><em routerLink="/Learner/MyCourse" class="lxp-Right_Direction_Arrow backArrow"></em> Applied Industrial IoT</li>
            <li>Question and Answer</li>
        </ul>
        <div class="qandaSection">
            <h2>Question and Answer</h2>
            <mat-tab-group animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                        My Q&A
                    </ng-template>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span>Question : 5</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>What are the problems associated with this method in terms of shrinkage of concrete?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>During prestressing operation at one end, frictional losses will occur and the prestressing force decreases along the length of tendon until reaching the other end. These frictional losses include the friction induced due to a change of curvature of tendon duct and also the wobble effect due to deviation of duct alignment.</p>
                    </div>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span>Question : 5</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>In incremental launching method of bridge construction, what are the measures adopted to enhance sufficient resistance of the superstructure during the launching, what are the measures process?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>(i) During the launching process the leading edge of the superstructure is subject to a large hogging moment. In this connection, steel launching nose typically about 0.6-0.65 times span length is provided at the leading edge to reduce the cantilever moment. Sometimes, instead of using launching nose a tower and stay system are designed which serves the same purpose.</p>
                        <p>(ii) Sometimes, instead of using launching nose a tower and stay system are designed which serves the same purpose.</p>
                    </div>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span>Question : 5</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>In incremental launching method of bridge construction, what are the measures adopted to enhance sufficient resistance of the superstructure during the launching, what are the measures process?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>During prestressing operation at one end, frictional losses will occur and the prestressing force decreases along the length of tendon until reaching the other end. These frictional losses include the friction induced due to a change of curvature of tendon duct and also the wobble effect due to deviation of duct alignment.</p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Unanswered
                    </ng-template>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span>Question : 5</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>In incremental launching method of bridge construction, what are the measures adopted to enhance sufficient resistance of the superstructure during the launching, what are the measures process?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>During prestressing operation at one end, frictional losses will occur and the prestressing force decreases along the length of tendon until reaching the other end. These frictional losses include the friction induced due to a change of curvature of tendon duct and also the wobble effect due to deviation of duct alignment.</p>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        All
                    </ng-template>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span><em class="lxp-AccountCircle"></em>Kumar Vaithiyanathan</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>In incremental launching method of bridge construction, what are the measures adopted to enhance sufficient resistance of the superstructure during the launching, what are the measures process?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>During prestressing operation at one end, frictional losses will occur and the prestressing force decreases along the length of tendon until reaching the other end. These frictional losses include the friction induced due to a change of curvature of tendon duct and also the wobble effect due to deviation of duct alignment.</p>
                    </div>
                    <div class="content">
                        <div class="askedDate d-flex flex-row">
                            <span>Kumar Vaithiyanathan</span>
                            <span>Asked on 20 Jan 2020, 07:43:23 PM</span>
                        </div>
                        <h4>In incremental launching method of bridge construction, what are the measures adopted to enhance sufficient resistance of the superstructure during the launching, what are the measures process?</h4>
                        <div class="answeredDate">
                            <button>Answered</button>
                            <span>21 Jan 2020, 02:22:133 PM</span>
                        </div>
                        <p>During prestressing operation at one end, frictional losses will occur and the prestressing force decreases along the length of tendon until reaching the other end. These frictional losses include the friction induced due to a change of curvature of tendon duct and also the wobble effect due to deviation of duct alignment.</p>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="addQuestionRightCol">
        <div class="addQuestion">
            <button (click)="openQuestionDialog(questionDialog)"><em class="lxp-add"></em> Add Question</button>
        </div>
        <div class="questionResults d-flex justify-content-between">
            <div class="questions d-flex justify-content-between align-items-center">
                <span><em class="lxp-question"></em></span>
                <div>
                    <p>Questions</p>
                    <h2>234</h2>
                </div>
            </div>
            <div class="answeres d-flex justify-content-between align-items-center">
                <span><em class="lxp-answers"></em></span>
                <div>
                    <p>Answers</p>
                    <h2>198</h2>
                </div>
            </div>
            <div class="learners d-flex justify-content-between align-items-center">
                <span><em class="lxp-Members"></em></span>
                <div>
                    <p>Learners</p>
                    <h2>56</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #questionDialog>
    <div class="d-flex justify-content-between">
        <div class="font-weight-bold"><h2>Ask A Question</h2></div>
        <div><i (click)="dialogClose()" class="lxp-Close"></i></div>
    </div>
    yelo boi
</ng-template>