<app-header></app-header>
<div class="qandWrapper d-flex">
    <div class="questionLeftCol" #leftContainer infiniteScroll [infiniteScrollDistance]="2"
    [scrollWindow]="false" [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()">
        <ul class="breadcrumb">
            <li><em routerLink="/Learner/MyCourse" class="lxp-Go backArrow"></em> <span>{{courseName}}</span> <span class="bar">/</span> </li>
            <li>Q&A</li>
        </ul>
       
        <div class="qandaSection">
           
            <mat-tab-group animationDuration="100ms" [(selectedIndex)]="selectedIndex"
                (selectedTabChange)="contentChange()">
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        Answered
                    </ng-template>
                    <span *ngIf="showSkeleton;else skeleton">
                        <div class="searchFilter">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="searchKey" (keyup)='searchcaller()' placeholder="Search...">
                                <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
                                <mat-icon matSuffix *ngIf="searchKey"(click)="searchKey='';this.getQAData();">close</mat-icon>
                            </mat-form-field>
                        </div>
                        <span *ngIf="qaDataList.length;else noquescard">
                            
                            <div class="content" *ngFor="let item of qaDataList | paginate: { totalItems: totalCount, itemsPerPage: 10, currentPage: pageNumber + 1}; let i = index ">
                                <div class="askedDate d-flex flex-row">
                                    <span>Question : {{i+ 1}}</span>
                                    <span>Asked on {{item.askedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <h4 [innerHTML]="item.question"></h4>
                                <div class="answeredDate">
                                    <button class="answer" style="cursor:default;">Answered</button>
                                    <span>{{item.publishedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <p [innerHTML]="item.answer"></p>
                            </div>
                        </span>
                        <pagination-controls *ngIf="qaDataList.length" class="gradingPagination"
                            style="text-align: center;" (pageChange)="onpagination($event)"></pagination-controls>
                    </span>
                </mat-tab> -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        Questions I asked
                    </ng-template>
                    <span *ngIf="showSkeleton;else skeleton">
                        <div class="allsearchFilter">
                            <div>
                                <span class="filterby">Filter by :</span>
                                <mat-form-field appearance="outline" style="width: 130px;">
                                    <mat-select [(ngModel)]='selectedtype' (selectionChange)=getQAtype()>
                                        <mat-option *ngFor="let item of filterBy" [value]="item.value">
                                            {{item.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="searchKey" (keyup)='searchcaller()' placeholder="Search...">
                                    <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
                                    <mat-icon matSuffix *ngIf="searchKey"(click)="searchKey='';this.getQAData();">close</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <span *ngIf="qaDataList.length;else noquescard">
                            
                            <div class="content" *ngFor="let item of qaDataList;let i = index">
                                <div class="askedDate d-flex flex-row">
                                    <span>Question : {{i+ 1}}</span>
                                    <span>Asked on {{item.askedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <div [innerHTML]="item.question"></div>

                                    <div *ngIf="item?.answer;else unans">
                                    <div class="answeredDate">
                                        <button class="answer" style="cursor:default;">Answered</button>
                                        <span>{{item.publishedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                    </div>
                                        <p [innerHTML]="item?.answer"></p>
                                    </div>
                                    <ng-template #unans>
                                        <div class="answeredDate">
                                            <button class="noAnswer" style="cursor:default;">Unanswered</button>
                                        </div>
                                    </ng-template>
                            </div>
                        </span>
                    </span>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        All Q&A's in this course
                    </ng-template>
                    <span *ngIf="showSkeleton;else skeleton">
                        <div class="searchFilter">
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="searchKey" (keyup)='searchcaller()' placeholder="Search...">
                                <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
                                <mat-icon matSuffix *ngIf="searchKey"(click)="searchKey='';this.getQAData();">close</mat-icon>
                            </mat-form-field>
                        </div>
                        <span *ngIf="qaDataList.length;else noquescard">
                           
                            <div class="content" *ngFor="let item of qaDataList">
                                <div class="askedDate d-flex flex-row">
                                    <span><em class="lxp-AccountCircle"></em>{{item.askedBy}}</span>
                                    <span>Asked on {{item.askedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <h4 [innerHTML]="item.question"></h4>
                                <div class="answeredDate">
                                    <button  class="answer">Answered</button>
                                    <span>{{item.publishedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <p [innerHTML]="item.answer"></p>
                            </div>
                        </span>
                    </span>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="addQuestionRightCol">
        <div class="addQuestion">
            <button (click)="openQuestionDialog(questionDialog)"><em class="lxp-add"></em> Add Question</button>
        </div>
        <div class="questionResults d-flex justify-content-between">
            <div class="questions d-flex justify-content-between align-items-center">
                <span><em class="lxp-question"></em></span>
                <div>
                    <p>Questions</p>
                    <h2 id="qCount"></h2>
                </div>
            </div>
            <div class="answeres d-flex justify-content-between align-items-center">
                <span><em class="lxp-answers"></em></span>
                <div>
                    <p>Answers</p>
                    <h2 id="aCount"></h2>
                </div>
            </div>
            <!-- <div class="learners d-flex justify-content-between align-items-center">
                <span><em class="lxp-Members"></em></span>
                <div>
                    <p>Learners</p>
                    <h2>56</h2>
                </div>
            </div> -->
        </div>
    </div>
</div>

<ng-template #questionDialog>
    <div class="d-flex justify-content-between titleMargin" (contextmenu)="contextmenu()">
        <div class="font-weight-bold">
            <h2>Ask A Question</h2>
        </div>
        <div><em (click)="dialogClose()" class="lxp-Close pointer"></em></div>
    </div>
    <div class="dialogContent" (contextmenu)="contextmenu()">

        <div>
            <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
        </div>
        <!-- <div [innerHTML]="htmlContent"></div> -->
        <div>
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Notify by e-mail for incomming answers</label>
            </div> -->
        </div>
        <div class="d-flex justify-content-between cancelSubmit">
            <button class="btn btn-outline-dark btn-block" (click)="dialogClose()">Cancel</button>
            <button class="btn btn-danger btn-block" (click)="createQuestion()">Submit Question</button>
        </div>
    </div>
</ng-template>
<ng-template #skeleton>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
</ng-template>
<ng-template #noquescard>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <figure>
            <img src="/assets/learner/QandA.svg" alt="QandA">
        </figure>
        <div *ngIf="!searchKey">
        <p *ngIf="selectedIndex == 0">
            <span *ngIf="selectedtype=='un_answered&answered' || selectedtype=='un_answered'">
                {{'You have not asked any questions'}}
            </span>
            <span *ngIf="selectedtype=='answered'">
                {{unAnsCheck?'Your question will be answered soon':'You have not asked any questions'}}
            </span>
        </p>
        <p *ngIf="selectedIndex == 1">No Q&A's to display at the moment</p>
        </div>
        <p *ngIf="searchKey">{{'No results found'}}</p>
    </div>
</ng-template>