<app-header></app-header>
<div class="qandWrapper d-flex">
    <div class="questionLeftCol" #leftContainer infiniteScroll [infiniteScrollDistance]="2"
    [scrollWindow]="false" [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()">
        <ul class="breadcrumb">
            <li><em routerLink="/Landing/MyCourse" class="lxp-Go backArrow"></em> <span class="name">{{courseName}}</span> <span class="bar">/</span> <span class="breadCrumbTopic">Q&A</span></li>
        </ul>
       
        <div class="qandaSection">
            <mat-tab-group animationDuration="100ms" [(selectedIndex)]="selectedIndex"
                (selectedTabChange)="contentChange()">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{'Questions I asked' | translate}}
                    </ng-template>
                    <div class="allsearchFilter">
                        <div>
                            <span class="filterby">{{'Filter by :' | translate}}</span>
                            <mat-form-field appearance="outline" style="width: 130px;">
                                <mat-select [(ngModel)]='selectedtype' (selectionChange)="getQAtype()">
                                    <mat-option *ngFor="let item of filterBy" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <input matInput [(ngModel)]="searchKey" (keyup)='searchcaller($event)' [placeholder]="'Search...' | translate">
                                <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
                                <mat-icon matSuffix *ngIf="searchKey"(click)="resetSearch()">close</mat-icon>
                             </mat-form-field>
                        </div>
                    </div>
                    <span *ngIf="showSkeleton;else skeleton">
                        <span *ngIf="qaDataList.length;else noquescard">
                            
                            <div class="content" *ngFor="let item of qaDataList;let i = index">
                                <div class="askedDate d-flex flex-row">
                                    <span>{{'Question :' | translate}} {{i+ 1}}</span>
                                    <span>{{'Asked on ' | translate}} {{item.askedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <div [innerHTML]="item.question"></div>

                                    <div *ngIf="item?.answer;else unans">
                                    <div class="answeredDate">
                                        <button class="answer" style="cursor:default;">{{'Answered' | translate}}</button>
                                        <span>{{item.publishedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                    </div>
                                        <p [innerHTML]="item?.answer"></p>
                                    </div>
                                    <ng-template #unans>
                                        <div class="answeredDate">
                                            <button class="noAnswer" style="cursor:default;">{{'Unanswered' | translate}}</button>
                                        </div>
                                    </ng-template>
                            </div>
                        </span>
                    </span>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{'All Q&As in this course' | translate}}
                    </ng-template>
                    <div class="allsearchFilter">
                    <!-- <div>
                        <span class="filterby">{{'Filter by :' | translate}}</span>
                        <mat-form-field appearance="outline" style="width: 130px;">
                            <mat-select [(ngModel)]='selectedtype' (selectionChange)="getQAtype()">
                                <mat-option *ngFor="let item of filterBy" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>    -->
                    <div class="secondarySearch">
                        <mat-form-field appearance="outline">
                            <input matInput [(ngModel)]="searchKey" (keyup)='searchcaller($event)' [placeholder]="'Search...' | translate">
                            <mat-icon matSuffix *ngIf="!searchKey">search</mat-icon>
                            <mat-icon matSuffix *ngIf="searchKey"(click)="searchKey='';this.getQAData();">close</mat-icon>
                        </mat-form-field>
                    </div>
                    </div>
                    <span *ngIf="showSkeleton;else skeleton">
                        <span *ngIf="qaDataList.length;else noquescard">
                           
                            <div *ngFor="let item of qaDataList">
                                <div class="content" *ngIf="item.answered">
                                <div class="askedDate d-flex flex-row">
                                    <span><em class="lxp-AccountCircle"></em>{{item.askedBy}}</span>
                                    <span>{{'Asked on ' | translate}} {{item.askedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                </div>
                                <h4 [innerHTML]="item.question"></h4>
                                <div *ngIf="item?.answer;else unans">
                                    <div class="answeredDate">
                                        <button class="answer" style="cursor:default;">{{'Answered' | translate}}</button>
                                        <span>{{item.publishedDate|date:'dd MMM yyyy, hh:mm:ss a'}}</span>
                                    </div>
                                        <p [innerHTML]="item?.answer"></p>
                                    </div>
                                    <ng-template #unans>
                                        <div class="answeredDate">
                                            <button class="noAnswer" style="cursor:default;">{{'Unanswered' | translate}}</button>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </span>
                    </span>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="addQuestionRightCol">
        <ul class="breadcrumb">
            <li><em routerLink="/Landing/MyCourse" class="lxp-Go backArrow"></em> <span class="name">{{courseName}}</span> <span class="bar">/</span> <span class="breadCrumbTopic">Q&A</span></li>
        </ul>
        <div class="addQuestion">
            <button class="pointer" (click)="openQuestionDialog(questionDialog)"><em class="lxp-add"></em> {{'Ask A Question' | translate}}</button>
        </div>
        <div class="questionResults d-flex justify-content-between">
            <div class="questions d-flex justify-content-start align-items-center" (click)="navigateAllQA('un_answered&answered')">
                <span><em class="lxp-question"></em></span>
                <div>
                    <p>{{'Total questions asked in this course' | translate}}</p>
                    <h2 id="qCount"></h2>
                </div>
            </div>
            <div class="answeres d-flex justify-content-start align-items-center" (click)="navigateAllQA('answered')">
                <span><em class="lxp-answers"></em></span>
                <div>
                    <p>{{'Total questions answered' | translate}}</p>
                    <h2 id="aCount"></h2>
                </div>
            </div>
        </div>
        <div class="instructions">
            <span class="heading">Instructions: </span>
            <ul>
                <li><span>&#9733;</span> <span>Ask only questions that are relevant to this course</span></li>
                <li><span>&#9733;</span> <span>Before asking a question, take a look into “All Q&A in this course” tab. You may find your answer published already.</span></li>
            </ul>
        </div>
    </div>
</div>

<ng-template #questionDialog>
    <div class="d-flex justify-content-between titleMargin" (contextmenu)="contextmenu()">
        <div class="font-weight-bold">
            <h2>{{'Ask A Question' | translate}}</h2>
        </div>
        <div><em (click)="dialogClose()" class="lxp-Close pointer"></em></div>
    </div>
    <div class="instructions">
        <span class="heading">Instructions: </span>
        <ul>
            <li><span>&#9733;</span> <span>Ask only questions that are relevant to this course</span></li>
            <li><span>&#9733;</span> <span>Before asking a question, take a look into “All Q&A in this course” tab. You may find your answer published already.</span></li>
        </ul>
    </div>
    <div class="dialogContent" (contextmenu)="contextmenu()">
        <div>
            <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
        </div>
        <div class="d-flex justify-content-between cancelSubmit">
            <button class="cancelButton" (click)="dialogClose()">{{'Cancel' | translate}}</button>
            <button class="submitButton" (click)="createQuestion()">{{'Submit Question' | translate}}</button>
        </div>
    </div>
</ng-template>
<ng-template #skeleton>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
    <div class="content">
        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    </div>
</ng-template>
<ng-template #noquescard>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <figure>
            <img src="https://assets.lntedutech.com/application_images/qanda.webp" alt="QandA">
        </figure>
        <div *ngIf="!searchKey">
        <p *ngIf="selectedIndex == 0">
            <span *ngIf="selectedtype=='un_answered&answered' || selectedtype=='un_answered'">
                {{'You have not asked any questions' | translate}}
            </span>
            <span *ngIf="selectedtype=='answered'">
                {{unAnsCheck?('Your question will be answered soon' | translate):'You have not asked any questions'}}
            </span>
        </p>
        <p *ngIf="selectedIndex == 1">{{'No Q&A\'s to display at the moment' | translate}}</p>
        </div>
        <p *ngIf="searchKey">{{'No results found' | translate}}</p>
    </div>
</ng-template>