<!-- <app-header></app-header> -->
<div class="container">
  <div *ngIf="performDetails?.length == 0">
    <mat-card class="noSessionCard color-yellow-card-status">
      <div class="d-flex justify-content-between align-items-center flexStyle">
        <div class="sessionImg">
          <img class="noSessionImg" src="https://assets.lntedutech.com/application_images/noPerform.svg" alt="nocourse"> 
        </div>
        <div class="noData">
          <span class="">{{'You have no perform activity at the moment!' | translate}}</span>
        </div>
      </div>
    </mat-card>  
  </div>
  <div class="ml-0 mr-0 mt-3">
    <div class="backtoPerform d-flex align-items-center">
      <mat-icon class="arrowPopup mr-2" aria-hidden="false" (click)="mobileResponsive()">keyboard_backspace</mat-icon>
      <span class="f_wt_600 size catnamenew" (click)="mobileResponsive()">Perform</span>
    </div>
    <div class="performWrapper">
      <div class="performHeading">
        <div class="">
          <p class="subTittle"><img class="perfimg" src="https://assets.lntedutech.com/application_images/Perform1.svg" alt="perform">&nbsp; {{performActivityData.performActivity.module_id}}</p>
          <span>{{performActivityData.performActivity.topic_id}}</span>
        </div>
      </div>
      <div class="d-flex justify-content-between iterationSubmit">
        <div class="">
          <span class="textGrayColor">{{'Iterations:' | translate}} <span *ngIf="performActivityData.performActivity.submittedTotal > 0">{{performActivityData.performActivity.submittedTotal}} / </span>{{performActivityData.performActivity.iterationTotal}}</span>
        </div>
        <div class="">
          <span class="yettoSubmit" *ngIf="performActivityData.performActivity.submit_status == 'notsubmitted'"><span class="dot"></span> {{'Yet to submit' | translate}}</span>
          <span class="submitstatus" *ngIf="performActivityData.performActivity.submit_status == 'submitted'"><span class="submitdot"></span>{{'Submitted' | translate}}</span>
          <span class="gradeStatus" *ngIf="performActivityData.performActivity.submit_status == 'graded'"><span class="gradedot"></span>{{'Graded' | translate}}</span>
          <!-- <span class="textGrayColor" *ngIf="perform.performActivity.submittedTotal > 0">{{perform.performActivity.submittedTotal}} / </span>{{perform.performActivity.iterationTotal}} -->
        </div>
      </div>
      <div class="d-flex justify-content-between SEDate">
        <div class="">
          <span class="font-weight-bold">{{'Start date:' | translate}}</span><br />
          <span>{{performActivityData.performActivity.activitystartdate | date:'MMM dd, yyyy hh:mm a'}}</span>
        </div>
        <div class="">
          <span class="font-weight-bold">{{'End date:' | translate}}</span><br />
          <span class=""> {{performActivityData.performActivity.activityenddate | date:'MMM dd, yyyy hh:mm a'}}</span>
        </div>
      </div>
      <div class="ml-0 mr-0 mt-3">
        <div class="pr-0 text-left">
          <p class="activityDisc font-weight-bold">{{'Activity description' | translate}}</p>
          <p class="brickMaking">{{performActivityData.performActivity.activityname}}</p>
        </div>
      </div>
      <div class="ml-0 mr-0">
        <div class="text-left">
          <span><strong>{{'Materials for activity' | translate}} ({{performActivityData.performActivity.materialDetails.length}})</strong></span>
          <h3 *ngIf="performActivityData.performActivity.materialDetails && performActivityData.performActivity.materialDetails.length == 0">
            <span>{{'No materials found for this activity.' | translate}}</span>
          </h3>
        </div>
      </div>
      <div class="ml-0 mr-0 mt-3">
        <div class="text-left pl-0 pr-0">
          <drag-scroll class="materialsScrollActivity" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
            <span class="slideLoop row ml-0 mr-0" *ngFor="let material of performActivityData.performActivity.materialDetails; let i = index">
              <div [ngClass]="performActivityData.performActivity.materialDetails.length >= 2 ? 'carouselCol': 'carouselCol1'">
                <mat-card class="p-0 iterationCard" (click)="playVideo(projectPreviewDialog, videoDialog, material, material.doc_type, preview = true)">
                  <div class="row ml-0 mr-0 carouselRow1">
                    <div class="col-12 m-auto">
                      <mat-icon class="iterationicons"
                        *ngIf="material.doc_type =='image/jpeg'  || material.doc_type == 'image/png' || material.doc_type == 'image/jpg'">
                        photo_size_select_actual</mat-icon>
                      <mat-icon class="iterationicons" *ngIf="material.doc_type =='video/mp4' || material.doc_type =='video/quicktime'">play_circle_outline</mat-icon>
                      <i class="fa fa-file-pdf-o iterationicons" *ngIf="material.doc_type =='application/pdf'" aria-hidden="true"></i>
                    </div>
                    <div class="fileSelDet">
                      <span class="carouselText" *ngIf="material.filename?.length > 30">{{(material.filename| slice:0:20)+'...'}}</span>
                      <span class="carouselText" *ngIf="material.filename?.length < 30">{{material.filename}}</span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </span>
          </drag-scroll>

          <!-- <owl-carousel-o [options]="trendingCategorires" [ngClass]="performActivityData.performActivity.materialDetails.length >= 4 ? 'arrow': 'widthClass arrow' " *ngIf="performActivityData?.performActivity?.materialDetails?.length > 0">
            <ng-template class="row ml-0 mr-0" carouselSlide *ngFor="let material of performActivityData.performActivity.materialDetails; let i = index">
              <div [ngClass]="performActivityData.performActivity.materialDetails.length >= 2 ? 'col-3 w-100 pt-2 pb-2  carouselCol': 'col-3 w-100 pt-2 pb-2  carouselCol1'">
                <mat-card class="p-0 iterationCard" (click)="playVideo(projectPreviewDialog, videoDialog, material, material.doc_type, preview = true)">
                  <div class="row ml-0 mr-0 carouselRow1">
                    <div class="col-12 m-auto">
                      <mat-icon class="iterationicons"
                        *ngIf="material.doc_type =='image/jpeg'  || material.doc_type == 'image/png' || material.doc_type == 'image/jpg'">
                        photo_size_select_actual</mat-icon>
                      <mat-icon class="iterationicons" *ngIf="material.doc_type =='video/mp4'">play_circle_outline</mat-icon>
                      <i class="fa fa-file-pdf-o iterationicons" *ngIf="material.doc_type =='application/pdf'" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="row ml-0 mr-0 h-40" class="fileSelDet">
                    <div class="col-12 pr-0 fileNameCol">
                      <span class="carouselText" *ngIf="material.filename?.length > 30">{{(material.filename| slice:0:20)+'...'}}</span>
                      <span class="carouselText" *ngIf="material.filename?.length < 30">{{material.filename}}</span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </ng-template>
          </owl-carousel-o> -->
        </div>
      </div>

      <div class="ml-0 mr-0 mt-3">
        <div class="">
          <mat-card class="matCard mb-3" *ngFor="let itration of performActivityData.performActivity.iterationDetails; let i = index">
            <div>
              <div class="row ml-0 mr-0" (click)="arrowUP = !arrowUP; openItration(i)">
                <div class="col-3 pr-0 pl-0 text-left">
                  <span>{{'Iteration' | translate}} {{itration.iterationcount}}</span>
                </div>
                <div class="col-4 pr-0 pl-0 text-center">
                  <span>{{'Score:' | translate}} <span *ngIf="itration.score_mark > 0">{{itration.score_mark}}</span>
                  <span *ngIf="itration.score_mark == 0 || itration.score_mark == null">-</span> / {{itration.total_mark}}</span>
                </div>
                <div class="col-5 gradeStatusCol text-right">
                  <span class="textGrayColor" *ngIf="itration.submit_status == 'notsubmitted' && itration.grade_status !== 'Evaluated'">{{'Yet to Submit' | translate}}</span>
                  <span class="submitstatus" *ngIf="itration.grade_status == 'Not Evaluated' && itration.submitAction == 'submit'">
                    {{'Submitted' | translate}}</span>
                  <span class="gradeStatus" *ngIf="itration.grade_status == 'Evaluated'">{{'Graded' | translate}} <span
                    *ngIf="itration.grade_status == 'Evaluated' && itration.instructor_status !== null"
                    [ngClass]="itration.instructor_status === 'Pass'? 'colorGreen ml-1': 'colorRed ml-1'">{{itration.instructor_status | titlecase}}</span></span>
                  <!-- <span class="text-success">Graded</span>&nbsp;&nbsp;
                  <span class="text-primary">pass</span>&nbsp;&nbsp; -->
                  <mat-icon class="matIcon" *ngIf="!arrowUP || openIndex !== i">keyboard_arrow_down</mat-icon>
                  <mat-icon class="matIcon" *ngIf="arrowUP && openIndex == i">keyboard_arrow_up</mat-icon>
                </div>
              </div>
              <div class="row ml-0 mr-0 w-100" *ngIf="arrowUP && openIndex == i">
                <div class="col-12 pl-0 pr-0">
                  <div class="row ml-0 mr-0 mt-3" *ngIf="itration.videodetails.length > 0">
                    <div class="col-12 text-left pl-0 pr-0">
                      <drag-scroll class="materialsScrollActivity" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
                        <span class="slideLoop" *ngFor="let videoData of itration.videodetails; let i = index">
                          <div [ngClass]="performActivityData.performActivity.materialDetails.length >= 2 ? 'carouselCol': 'carouselCol1'">
                            <mat-card class="p-0 iterationCard" >
                              <div class="row ml-0 mr-0 itCarouselRow1">
                                <div class="col-12 m-auto">
                                  <mat-icon class="closeIcon" *ngIf="itration.submit_status == 'notsubmitted'" (click)="submitType = 'delete'; submitDeleteVideo(videoData, itration, performActivityData.performActivity)">close</mat-icon>
                                  <!-- itration.grade_status -->
                                  <mat-icon class="iterationicons" [ngClass]="itration.grade_status !== 'Evaluated' ? 'cursorBlock' : ''" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)" *ngIf="videoData.doc_type =='image/jpeg'  || videoData.doc_type == 'image/png' || videoData.doc_type == 'image/jpg'">
                                    photo_size_select_actual</mat-icon>

                                  <mat-icon class="iterationicons" [ngClass]="itration.grade_status !== 'Evaluated' ? 'cursorBlock' : ''" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)" *ngIf="videoData.doc_type =='video/mp4' || videoData.doc_type =='video/quicktime'">play_circle_outline</mat-icon>
                                  
                                  <i class="fa fa-file-pdf-o iterationicons" [ngClass]="itration.grade_status !== 'Evaluated' ? 'cursorBlock' : ''" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)" *ngIf="videoData.doc_type =='application/pdf'" aria-hidden="true"></i>
                                </div>
                              </div>
                              <div class="row ml-0 mr-0 h-40" class="fileSelDet" [ngClass]="itration.grade_status !== 'Evaluated' ? 'cursorBlock' : ''" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)">
                                <div class="fileNameCol">
                                <!-- <div class="col-12 text-center mt-2 mb-2 pl-0 pr-0"> -->
                                  <span class="carouselText" *ngIf="videoData.name?.length > 40">{{(videoData.name| slice:0:30)+'...'}}</span>
                                  <span class="carouselText" *ngIf="videoData.name?.length < 40">{{videoData.name}}</span>
                                </div>
                              </div>
                            </mat-card>
                          </div>
                        </span>
                      </drag-scroll>
                      
                      <!-- <owl-carousel-o [options]="trendingCategorires"
                      [ngClass]="performActivityData.performActivity.materialDetails.length >= 4 ? 'owlHeight': 'widthClass' ">
                        <ng-template class="row ml-0 mr-0" carouselSlide *ngFor="let videoData of itration.videodetails; let i = index">
                          <div [ngClass]="performActivityData.performActivity.materialDetails.length >= 2 ? 'col-3 w-100 pt-2 pb-2  carouselCol': 'col-3 w-100 pt-2 pb-2  carouselCol1'">
                            <mat-card class="p-0 iterationCard" >
                              <div class="row ml-0 mr-0 itCarouselRow1">
                                <div class="col-12 m-auto">
                                  <mat-icon class="closeIcon" *ngIf="itration.submit_status == 'notsubmitted'" (click)="submitType = 'delete'; submitDeleteVideo(videoData, itration, performActivityData.performActivity)">close</mat-icon>
                                  <mat-icon class="iterationicons" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)"
                                    *ngIf="videoData.doc_type =='image/jpeg'  || videoData.doc_type == 'image/png' || videoData.doc_type == 'image/jpg'">
                                    photo_size_select_actual</mat-icon>
                                  <mat-icon class="iterationicons" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)" *ngIf="videoData.doc_type =='video/mp4'">play_circle_outline</mat-icon>
                                  <i class="fa fa-file-pdf-o iterationicons" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)" *ngIf="videoData.doc_type =='application/pdf'" aria-hidden="true"></i>
                                </div>
                              </div>
                              <div class="row ml-0 mr-0 h-40" class="fileSelDet" (click)="playVideo(projectPreviewDialog, videoDialog, videoData, videoData.doc_type, preview = true)">
                                <div class="col-12 fileNameCol">
                                  <span class="carouselText" *ngIf="videoData.name?.length > 40">{{(videoData.name| slice:0:30)+'...'}}</span>
                                  <span class="carouselText" *ngIf="videoData.name?.length < 40">{{videoData.name}}</span>
                                </div>
                              </div>
                            </mat-card>
                          </div>
                        </ng-template>
                      </owl-carousel-o> -->
                    </div>
                  </div> 
                
                  <div class="ml-0 mr-0 mt-2">
                    <!-- <input type="file" accept="video/mp4" style="display: none" #videoInput (change)="uploadDocument($event)" /> -->
                    <div class="col-12 text-center " *ngIf="itration.grade_status !== 'Evaluated'"> 
                    <!-- <button mat-raised-button *ngIf="itration.submit_status == 'notsubmitted' && performActivityData.itrationStarted" (click)="videoRecord = true; getData(videoRecordPopup, itration)" class="recordBtn mt-3 w-100"><mat-icon class="video-icon">videocam <i class="fa fa-youtube-play playBtn" aria-hidden="true"></i></mat-icon> Record Video
                    </button> -->
                      <button mat-stroked-button *ngIf="itration.submit_status == 'notsubmitted'" class="uploadBtn mt-3" [disabled]="performActivityData.performSubmitType == false || performActivityData.itrationStarted == false"
                       (click)="uploadDocuments(itration, performActivityData.performActivity,submitType = 'upload')">
                        <mat-icon class="icon-color m-t-m-2 addIcon">add</mat-icon>
                        <span>{{'Upload' | translate}}</span>
                      </button>
                      <p class="uploadMessage" *ngIf="itration.submit_status == 'notsubmitted'">{{'Max File Size : 150 MB, Format : MP4, MOV, PDF' | translate}}</p>
                      <button mat-stroked-button class="submit-btn mt-2" *ngIf="itration.submit_status == 'notsubmitted' && itration.videodetails.length > 0 && (performActivityData.itrationStarted && performActivityData.performSubmitType)" (click)="submitType = 'submit'; submitDeleteVideo({}, itration, performActivityData.performActivity)"> {{'Submit' | translate}} </button>
                      <button mat-stroked-button *ngIf="itration.submit_status == 'notsubmitted' &&  (itration.videodetails.length == 0 && performActivityData.itrationStarted) && performActivityData.performSubmitType"
                      class="submitted-btn mt-2"> {{'Submit' | translate}} </button>
                      <button mat-stroked-button *ngIf="itration.submitAction == 'submit'" class="submitted-btn mt-2"> {{'Submitted' | translate}} </button>
                      <div class="align-center mt-2">
                        <span *ngIf="itration.videodetails.length > 0  && itration.submitAction !== 'submit'" class="submitedFile">{{'Submitted files cannot be edited' | translate}}</span>
                        <span class="uploadedFile" *ngIf="itration.submitAction == 'submit'">{{'Submitted on:' | translate}} {{itration.submitted_date | date:'MMM dd, yyyy'}}</span>
                      </div>
                      <input style="display: none;" accept="video/mp4,video/quicktime,application/pdf" multiple type="file" id="videoInput" type="file" #VideoInputPerform (change)="uploadDocument($event)" />
                    </div>
                    <div class="pl-0 pr-0" *ngIf="itration.grade_status === 'Evaluated'">
                      <div class="" *ngIf="itration.assessmentreport.length > 0">
                        <div class="">
                          <button mat-stroked-button class="AssignmentBtn mt-3 w-100" (click)="playVideo(projectPreviewDialog, videoDialog, itration.assessmentreport[0], itration.assessmentreport[0].doc_type)"><mat-icon class="assignmentIcon mr-2">wysiwyg</mat-icon>{{'Assessment report' | translate}}</button>
                        </div>
                      </div>
                      <div class="ml-0 mr-0 mt-2">
                        <div class="text-left">
                          <p class="feedBackTxt">{{'Feedback comments' | translate}}</p>
                          <textarea disabled rows="4" cols="50" class="textArea">{{itration.comments}}</textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
   
  </div>
  <!-------------------------- Preview Video --------------------------------->
  <ng-template #videoDialog>
  <!-- <div class="row ml-0 mr-0 previewVideoScreen" *ngIf="videoPerview">
    <div class="col-12 pl-0 pr-0"> -->
      <div class="row ml-0 mr-0">
        <div class="col-6 text-left mt-2">
          <span class="previewTxt">{{'Preview Video' | translate}}</span>
          </div>
          <div class="col-6 text-right">
            <button mat-mini-fab class="closeBtn">
              <mat-icon class="download-icon" (click)="closedialogbox()">close</mat-icon>
            </button>
          </div>
          </div>
          <div class="row ml-0 mr-0 mt-2 videoPlay">
            <div class="col-12 pl-0 pr-0">
          <video _ngcontent-tls-c58 class="videoCell" controls oncontextmenu="return false;" width="100%" src="{{videoSource + blobKey}}"></video>
          </div>
          </div>
    <!-- </div>
  </div> -->
</ng-template>

  <!-------------------Preview for Project------------------>

<ng-template #projectPreviewDialog>
  <div class="row ml-0 mr-0 mb-3">
    <div class="col-12 text-right">
    <button mat-mini-fab class="closeBtn">
      <mat-icon class="download-icon" (click)="closedialogbox()">close</mat-icon>
    </button>
  </div>
  </div>
  <div class="row ml-0 mr-0" *ngIf="previewDoc">
    <div class="col-12 pl-0 pr-0">
    <app-pdfreader [url]="previewDoc"></app-pdfreader>
  </div>
  </div>
</ng-template>
  <!------------- Video Recordpopup ------------------------>
  <ng-template #videoRecordPopup>
  <!-- <div class="row ml-0 mr-0 videoRecordOverLay" *ngIf="videoRecord" > -->
    <div class="row ml-0 mr-0 w-100">
      <div class="col-12 pl-0 pr-0">
        <div class="row ml-0 mr-0 mt-2 closeRow" *ngIf="!videoStart">
          <div class="col-sm-12 text-right">
            <mat-icon class="closeIcons" (click)="closeDialog()">close</mat-icon>
          </div>
        </div>
        <div class="row ml-0 mr-0 videoRec">
          <div class="col-12 pl-0 pr-0" *ngIf="!videoStart">
            <!-- <app-video-recorder></app-video-recorder> -->
            </div>
            <div class="col-12 previewCol" *ngIf="videoStart">
              <mat-card class="previewCard m-auto p-0">
                <div class="row ml-0 mr-0">
                  <div class="col-12 pl-0 pr-0">
                    <video _ngcontent-tls-c58 class="videoCell" controls oncontextmenu="return false;" width="100%" src="{{videoUrl + blobKey}}"></video>
                  </div>
                </div>
                <div class="row ml-0 mr-0">
                  <div class="col-12 text-left">
                    <p class="textSize mt-3">{{'file name x151' | translate}}</p>
                    <p class="textSize"><span class="font-weight-bold">{{'MP4 .' | translate}} </span>&nbsp; {{'Recorded on: Sep 24, 2020' | translate}}</p>
                  </div>
                </div>
              </mat-card>
            </div>
            </div>
            <div class="row ml-0 mr-0 mt-2" *ngIf="videoStart">
              <div class="col-12">
                <button mat-stroked-button class="cancelBtn mr-4" (click)="videoPerview = !videoPerview; closeDialog()">{{'Cancel' | translate}}</button>
                <button mat-stroked-button class="saveBtn" (click)="videoPerview = !videoPerview; learnerRecordVideo()">{{'Save' | translate}}</button>
              </div>
            </div>
        </div>
        </div>
  <!-- </div> -->
</ng-template>
</div> 
  
