@import "../../../../assets/variable.scss";

@media (max-width: 767px) {
  .dot {
    height: 10px;
    width: 10px;
    background-color: #6A6A6A;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  
  .submitdot {
    background-color: #FFA04E;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }

  .gradedot {
      background-color: #0C781B;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
  }

.textGrayColor {
  color: $color-lightGray;
}

.submitstatus {
  color: #FFA04E;
}

.gradeStatus {
  color: #0C781B;
}

.performCard {
    width: 100%;
    height: 10rem;
    padding: 8px !important;
}

.titleCase {
    font-size: 16px;
    font-weight: bolder;
}

.subTittle {
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin: 0 0 10px !important;
}

.yettoSubmit {
    margin: 0px 0px 3px;
}

.activityDisc {
  color: $label2;
  margin: 0px 0px 3px;
}

.brickMaking {
  font-size: 14px;
  color: #666666;
}

.matCard {
  padding: 16px 10px 16px 10px !important;
}

.matIcon {
    position: absolute;
    top: -5px;
    right: 0px;
}

.arrowPopup {
    position: absolute;
    top: -3px;
}

.arrowPerform {
  position: absolute;
  top: 0.6rem;
}

.itration {
  margin: 0px 0px 20px;
}

:host ::ng-deep  .recordBtn .mat-button-wrapper {
  margin-left: 5rem;
}

.uploadBtn {
  height: 3rem;
  width: 100%;
  font-weight: bolder;
  font-size: 15px;
}

.add-icon {
  font-weight: bolder;
}

.recordBtn {
  height: 3.5rem;
  background-color: #F5F5F5;
  font-size: 16px;
  font-weight: bolder;
  color: #666666;
}

.video-icon {
  font-size: 55px;
  color: $lxp-theme-green;
  position: absolute;
  left: 5rem;
  top: 0rem;
}

.submitted-btn{
  color: $color-white !important;
  background-color: #898989;
  width: 45%;
  // margin-top: 6%;
  cursor: not-allowed;
}

.submitBtn {
  height: 3rem;
  width: 80%;
  background-color: $lxp-theme-green;
  color: $color-white;
  margin-left: 2.1rem;
}
:host ::ng-deep .submitBtn .mat-stroked-button:not([disabled]) {
  color: #ffffff96 !important;
  background-color: #c0222299 !important;
}



.catnamenew {
    color: #3f444a;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 2rem;
    font-weight: 900 !important;
  }

  .previewTxt {
    font-size: 16px;
  }

  .previewVideoScreen {
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: white;
    position: absolute;
  }

  .previewCol {
    border: 1px solid #66666680;
    padding: 1rem;
  }

  .previewCard {
    width: 100%;
  }

  .videoCell {
    height: 180px;
  }

  .fileSelDet {
    background-color: #5C6873;
    height: 40%;
    border-radius: 0px 0px 4px 4px;
  }

  .fileNameCol {
    padding-left: 5px !important;
  }

  .icons {
    font-size: 50px;
    padding: 0.4rem 1rem;
    color: #898989;
  }
  
  .iterationicons {
    font-size: 50px;
    padding: 0.4rem 4.2rem;
    color: #898989;
  }

  .iterationCard{
    height: 8rem;
  }

  .materialCardItration {
    width: 100%;
    height: 8rem;
  }

  .fileColor {
    font-size: 10px;
    color:#E8E8E8;
  }

  .saveBtn {
    color: $color-white;
    background-color: $lxp-theme-green;
    height: 2rem;
    width: 6rem;
  }

  .cancelBtn {
    border: 1px solid $lxp-theme-green;
    height: 2rem;
    width: 6rem;
    margin-left: 21%;
  }

  .textSize {
    font-size: 12px;
  }

  .matCardIconRow {
    height: 60%;
  }
}

//----- video overlay popup --------

.videoRecordOverLay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: white;
}

.videoRec {
  height: 100%;
}

.closeRow {
  height: 3rem;
}

.closeIcon {
  font-size: 30px;
}

.videoPlay {
  height: 20rem;
}

.gradeStatusCol {
  padding-right: 25px !important;
}

.textArea {
  align-content: left;
  border-block-end-width: 1px solid #BEBEBEBF;
  color: $label2;
  width: 100%;
}

.feedBackTxt {
  color: $label2;
}

.AssignmentBtn {
  height: 3rem;
  font-weight: bolder;
  font-size: 15px;
  border: 1px solid #707070;
}

.assignmentIcon {
  color: #5C6873;
}

::ng-deep .matDialogMat1 .mat-dialog-container {
  padding: 0px !important;
}

.performHeight {
  height: 3rem;
}


////////

:host ::ng-deep .widthClass .owl-carousel.owl-drag .owl-item {
  width: 15.5rem !important;
}

.carouselCol {
  max-width: 100% !important;
  height: 15rem;
}

.carouselCol1 {
  max-width: 100% !important;
  height: 11rem;
}

.carouselRow1 {
  height: 7rem;
}

.itCarouselRow1 {
  height: 8rem;
}

.colorRed {
  color: $color-maroon;
}

.colorGreen {
  color: $color-text-success;
}

.pdfIcon {
  font-size: 50px;
  margin-left: 3rem;
  color: #898989;
}

.carouselRowHover {
  height: 4rem;
  background-color: #5C6873;
}

.carouselRow {
  height: 3rem;
  background-color: #5C6873;
}

.carouselText {
  font-size: 12px;
  color: #ffffff;
}

.playActions {
  margin-bottom: 10px;
}

.colAction {
  padding-left: 5px;
  cursor: pointer;
 }
 
.playBtn {
  font-size: 24px;
  top: 14.5px;
  left: 0.7rem;
  position: absolute;
  color: white;
}

.actionBtn {
  font-size: 12px;
  margin-left: 2rem;
}

:host ::ng-deep .owlHeight .owl-theme {
  height: 11rem !important;
}

:host ::ng-deep .widthClass .owl-theme {
  height: 11rem !important;
}

.closeIcon {
  position: absolute;
  right: 0.2rem;
  font-size: 21px;
  top: -1.8rem;
  color: $lxp-theme-green;
}

:host ::ng-deep .widthClass .owl-theme .owl-nav {
  display: none !important;
}

