@import "../../../../assets/variable.scss";

@media (max-width: 767px) {
  .dot {
    height: 10px;
    width: 10px;
    background-color: #6A6A6A;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  .m-l-16 {
    margin-left: 16px;
  }
  .submitdot {
    background-color: #FFA04E;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }

  .gradedot {
      background-color: #0C781B;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
  }

.textGrayColor {
  color: $color-lightGray;
}

.submitstatus {
  color: #FFA04E;
}

.gradeStatus {
  color: #0C781B;
}

.performCard {
    width: 100%;
    height: 10rem;
    padding: 8px !important;
}

.titleCase {
    font-size: 16px;
    font-weight: bolder;
}
.SEDate, 
.iterationSubmit, 
.performHeading {
  width: 100%;
}
.SEDate, .iterationSubmit {
  margin-top: 15px;
}
.subTittle {
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin: 0 !important;
}
.performWrapper {
  // padding: 15px;
  // box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  // border: 1px solid #ccc;
}
.perfimg {
  width: 16px;
  margin-bottom: 5px;
}
.yettoSubmit {
    margin: 0px 0px 3px;
}

.activityDisc {
  color: $label2;
  margin: 0px 0px 3px !important;
}

.brickMaking {
  font-size: 17px;
  color: #666666;
}

.matCard {
  padding: 16px 10px 16px 10px !important;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 0;
}

.matIcon {
    position: absolute;
    top: -5px;
    right: 0px;
}

.arrowPopup {
    // position: absolute;
    // top: -3px;
}
.arrowPerform {
  position: absolute;
  top: 0.6rem;
}

.itration {
  margin: 0px 0px 20px;
}

:host ::ng-deep  .recordBtn .mat-button-wrapper {
  margin-left: 5rem;
}

.uploadBtn {
  width: 100%;
  font-size: 15px;
}

.uploadBtndisplayNone {
  display: none;
}

.add-icon {
  font-weight: bolder;
}

.recordBtn {
  height: 3.5rem;
  background-color: #F5F5F5;
  font-size: 16px;
  font-weight: bolder;
  color: #666666;
}

.video-icon {
  font-size: 55px;
  color: $lxp-theme-green;
  position: absolute;
  left: 5rem;
  top: 0rem;
}

.submitted-btn{
  color: #ffffff !important;
  background-color: rgba(192, 34, 34, 0.5);
  width: 45%;
  cursor: not-allowed;
}

.submit-btn{
  color: $color-white !important;
  background-color: $lxp-theme-green;
  width: 45%;
  margin-top: 6%;
}

.submitBtn {
  height: 3rem;
  width: 80%;
  background-color: $lxp-theme-green;
  color: $color-white;
  margin-left: 2.1rem;
}
:host ::ng-deep .submitBtn .mat-stroked-button:not([disabled]) {
  color: #ffffff96 !important;
  background-color: #c0222299 !important;
}



.backtoPerform {
  margin-bottom: 15px;
}
.catnamenew {
    color: #3f444a;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 900 !important;
  }

  .previewTxt {
    font-size: 16px;
  }

  .previewVideoScreen {
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: white;
    position: absolute;
  }

  .previewCol {
    border: 1px solid #66666680;
    padding: 1rem;
  }

  .previewCard {
    width: 100%;
  }

  .videoCell {
    height: 180px;
  }

  .fileSelDet {
    background-color: #5C6873;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    // height: 40%;
    // border-radius: 0px 0px 4px 4px;
  }

  .fileNameCol {
    // padding-left: 5px !important;
    text-align: center;
    padding: 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
  }

  .icons {
    font-size: 50px;
    padding: 0.4rem 1rem;
    color: #898989;
  }
  
  .iterationicons {
    font-size: 24px;
    padding: 0;
    color: #898989;
  }

  .iterationCard{
    height: 100%;
    position: relative;
    border: 0.5px solid #707070;
  }

  .materialCardItration {
    width: 100%;
    height: 8rem;
  }

  .fileColor {
    font-size: 10px;
    color:#E8E8E8;
  }

  .saveBtn {
    color: $color-white;
    background-color: $lxp-theme-green;
    height: 2rem;
    width: 6rem;
  }

  .cancelBtn {
    border: 1px solid $lxp-theme-green;
    height: 2rem;
    width: 6rem;
    margin-left: 21%;
  }

  .textSize {
    font-size: 12px;
  }

  .matCardIconRow {
    height: 60%;
  }

  .noSessionCard {
    margin: auto;
    margin-top: 15%;
    border-radius: 0;
    opacity: 1;
    text-align: center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border-left: 3px solid #ffc107bf !important;
    width: 90%;
    padding: 20px 15px !important;
    @media only screen and (min-width: 576px) {
      width: 90%;
    }
    @media only screen and (min-width: 768px) {
      padding: 30px 15px !important;
      width: 82%;
    }
    @media only screen and (min-width: 992px) {
      width: 65%;
    }
    @media only screen and (min-width: 1200px) {
      width: 50%;
    }
    @media only screen and (min-width: 1600px) {
      width: 40%;
    }
  }
  .color-yellow-card-status {
    border-left: 3px solid $lxp-status-yellow !important;
    color: $color-blank !important;
  }

  .flexStyle {
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  .sessionImg {
    width: 100%;
    @media only screen and (min-width: 768px) {
      width: 20%;
    }
  }
  .noSessionImg {
    width: 45px;
    margin-left: 0%;
  }

  .noData {
    font: normal normal normal 18px/22px Roboto Condensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    @media only screen and (min-width: 576px) {
      font: normal normal normal 19px/29px Roboto Condensed;
    }
    @media only screen and (min-width: 768px) {
      text-align: left;
      width: 78%;
      font: normal normal normal 23px/29px Roboto Condensed;
    }
  }
}

//----- video overlay popup --------

.videoRecordOverLay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: white;
}

.videoRec {
  height: 100%;
}

.closeRow {
  height: 3rem;
}

.closeIcons {
  font-size: 30px;
  position: absolute;
  right: 1.2rem;
  color: $lxp-theme-green;
}

.videoPlay {
  height: 20rem;
}

.gradeStatusCol {
  padding-right: 25px !important;
}

.textArea {
  color: $label2;
  width: 100%;
  padding: 5px 7px;
  font-size: 15px;
  border: 1px solid rgba(112, 112, 112, 0.5);
  background-color: #ffffff;
}

.feedBackTxt {
  color: $label2;
  margin: 0 !important;
  font-size: 16px;
}

.AssignmentBtn {
  font-size: 15px;
  border: 1px solid rgba(112, 112, 112, 0.5);
  background-color: #F5F5F5;
  border-radius: 0;
}

.assignmentIcon {
  color: #5C6873;
}

::ng-deep .matDialogMat1 .mat-dialog-container {
  padding: 0px !important;
}

.performHeight {
  height: 3rem;
}


////////

:host ::ng-deep .widthClass .owl-carousel.owl-drag .owl-item {
  width: 15.5rem !important;
}
::ng-deep.materialsScrollActivity .drag-scroll-content {
  @media only screen and (max-width: 1199px) {
    overflow: auto hidden !important;
    height: calc(100% + 8px) !important;
  }
}
// .carouselCol {
//   max-width: 100% !important;
//   height: 15rem;
// }
.slideLoop {
  display: inline-block;
  text-align: left;
}
.carouselCol1, .carouselCol {
  // max-width: 100% !important;
  padding: 0 !important;
  margin-left: 0;
  // height: initial;
  width: 10em;
  height: 6.7em;
  display: inline-block;
  margin-right: 10px;
}

.carouselRow1 {
  // height: 7rem;
  height: 100%;
  text-align: center;
}

.itCarouselRow1 {
  text-align: center;
  height: 100%;
  // height: 8rem;
}

.colorRed {
  color: $color-maroon;
}

.colorGreen {
  color: $color-text-success;
}

.pdfIcon {
  font-size: 50px;
  margin-left: 3rem;
  color: #898989;
}

.carouselRowHover {
  height: 4rem;
  background-color: #5C6873;
}

.carouselRow {
  // height: 3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5C6873;
}

.carouselText {
  font-size: 12px;
  color: #ffffff;
}

.playActions {
  margin-bottom: 10px;
}

.colAction {
  padding-left: 5px;
  cursor: pointer;
 }
 
.playBtn {
  font-size: 24px;
  top: 14.5px;
  left: 0.7rem;
  position: absolute;
  color: white;
}

.actionBtn {
  font-size: 12px;
  margin-left: 2rem;
}

:host ::ng-deep .owlHeight .owl-theme {
  height: 11rem !important;
}

:host ::ng-deep .widthClass .owl-theme {
  height: 11rem !important;
}

.closeIcon {
  position: absolute;
  right: 0.2rem;
  font-size: 21px;
  top: -1.8rem;
  color: $lxp-theme-green;
}

:host ::ng-deep .widthClass .owl-theme .owl-nav {
  display: none !important;
}

