@import "variable";
.p-xy-10{
    padding: 10px;
}
.backarrow{
    color:black
}
.disableColor{
color:grey
}
.player{
    width: 100%;
        border: none;
    height: 90% !important;
}
.backcolor{
    color: #999999
}
.contentHeight{
    height: 80vh !important;
    background: #F0F0F0;
}
.tocSize{
width: 40% !important;
overflow: auto;
-webkit-overflow-scrolling: touch;
}
div.tocSize::-webkit-scrollbar {
    width: 5px !important;
}

.afterHover {
    overflow: y;
    height: auto;
}

.beforeHover {
    overflow: hidden;
    height: auto;
    @media only screen and (max-width: 991px) {
        overflow: auto;
    }
}

.tocTitle{
   font-size: 17px !important;
   font-weight: normal !important; 
   color:#999999 !important
}
.colorBlack{
    color:#666666;
}
.tocSubTitle{
    font-size: 15px !important;
    font-weight: normal !important; 
    color:#333333 !important;
    margin-bottom:0px !important
 }

.resizer {
    resize: both;
    overflow: auto;
}

.titleSelected {
    font-weight: bold;
}
.redHover:hover {
    color: $lxp-theme-green !important;
}
.topicCard{
  margin:10px;
  padding: 10px !important;
  border-radius: 0px;
  border: 1px solid #cacaca;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.resource-card{
    margin:10px;
  padding: 10px !important;
  border-radius: 0px;
  border: 1px solid #cacaca;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

:host ::ng-deep .mat-step-label {
    white-space: pre-line !important;
    position: relative;
    overflow: visible !important;
    color:#000000
}

::ng-deep .mat-vertical-content {
    padding: 0 !important;
}

::ng-deep .mat-step-header[aria-labelledby="colgreen"] {
    box-sizing: border-box !important;
    height: 10px !important;
    .mat-step-icon {
        background-color: #0e7d12 !important;
        // color: #0e7d12 !important;
        height: 15px !important;
        width: 15px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content {
        color: transparent !important;
        display: none !important;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colYellow"] {
    box-sizing: border-box !important;
    height: 10px !important;
    .mat-step-icon {
        background-color: $color-yellow !important;
        color: $color-yellow !important;
        height: 15px !important;
        width: 15px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colWhite"] {
    box-sizing: border-box !important;
    height: 10px !important;
    .mat-step-icon {
        background-color: $color-white !important;
        // color: $color-white !important;
        border: 2px solid $color-border;
        height: 13px !important;
        width: 13px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content {
        color: transparent !important;
        display: none !important;
    }
}



:host ::ng-deep .mat-step-icon .mat-icon,
.mat-step-icon-content {
    color: $color-white !important;
}

::ng-deep .course-player-menu .mat-step-icon .mat-icon{
    display: none !important;
}

::ng-deep .course-player-menu .mat-step-icon-content span{
    display: none !important;
}

.currentTopic{
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden !important;
    text-align: center;
    // width:80%;
}
.navigation{
   padding-right: 10px;
max-width: 65%;
min-width: 65%;
justify-content: space-between;
}
.hamburger{
    margin-right:5px;
}
.titlebar{
padding:10px;
background-color: #F0F0F0;

}
.toolBar{
    padding:0px 10px;
}
.toolBar .leftContent{
    width: 40%;
}
.toolBar .rightContent{
    width: 60%;
}
.resourseContainer{
    overflow-y: hidden;
}
.rowMargin{
    margin: -10px -10px 0 -10px;
    background: #F0F0F0;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    height: 2px !important;
    background-color: $lxp-theme-green !important;
}
.arrowDown{
    font-size: 10px;
    transform: rotate(180deg);
    display: inline-block;
}
.arrowUp{
    font-size: 10px;
    //transform: rotate(180deg);
    display: inline-block;
}
.modTopName{
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden !important;
}
.resourseToc{
    width: 30% !important;
    min-width: 30%!important;
}
.rescontentHeight{
    height: 370px !important;
}
.previewContainer{
    width: 100% !important;
}

