@import "variable";

.display_flex {
    display: flex;
}

.vertical {
    border-left: 44px solid $color-blue;
    height: 3px;
    margin-top: -15px;
}

.margin-5 {
    margin-top: 5px;
}

.margin-15 {
    margin-top: 8px;
    margin-left: 0.2%;
}

.margin-10 {
    margin-top: 10px;
}

.Outine {
    font-size: 16px;
    font-weight: 400px;
    margin-left: -13px;
    width: 142px;

}

.size {
    height: 17px;
    margin-left: 3px;

}

.sm-icon {
    width: 14px;
}

.content {
    overflow: auto !important;
}

.videoplayer {
    height: 328px;
    max-width: 100%;
}

li {
    list-style: none;
}


.modeIcon {
    width: 26px;
    margin-top: 5px;
}

.modeName {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 13px;
    font-weight: 500;
}

.desc {
    margin-top: 10px;
    // font-weight: 500;
    margin-left: -12px;
}

.head-h1 {
    font-size: 18px;
    color: $color-blue;
    margin-top: 10px;
}

.head-h2 {
    font-size: 18px;
    color: $color-blue;
    margin-top: 10px;
}

.arrow {
    text-align: right !important;

}

.contentTop {
    margin-top: 67px !important;
}

.instr-box {
    width: 294px;
    height: auto;
    margin-top: 20px;
    padding-top: 22px;
    margin-bottom: 6px;
    margin-left: 5px;
    // margin-right: 10px;
    display: inline-grid;
    box-shadow: 1px 1px 0px 2px rgba(158, 158, 158, 0.1), 0 2px 6px 0 rgba(158, 158, 158, 0.88);
    border-radius: 2px;

}

:host ::ng-deep .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.borderline {
    border-top: 1px solid $color-border;
    width: 295px;

}

.hideButton {
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.margin-35 {
    margin-top: 35px;
}

.img-inst {
    width: 70px !important;
    height: 70px;
    border-radius: 50%;
    margin-top: -17px;
    position: absolute
}

.authorname {
    font-size: 16px;
    text-align: left;
    color: $color-darkGrey;
    font-weight: 300;
    font-family: roboto;
}

.docType {
    margin-left: 3px;
    font-size: 22px;
    margin-top: -3px;
}

.author-desc {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 3px;
    color: #9E9E9E !important;
    font-size: 12px;
}


.space {
    margin-top: 4%;
}

.backbtn {
    margin-top: 1.5%;
    font-size: 12px;
}

.backIcon {
    font-size: 22px;
}

.alarmIcon {
    font-size: 14px !important;
    margin-left: 100%;
}

.panel {
    border: 1px solid $color-border;
    width: 100%;
}

.panel2 {
    height: 50px !important;
    border: 1px solid $color-border;
    margin-left: 0.7%;
    margin-bottom: 1%;
    margin-top: 1%;
}

.topicnm {
    font-size: 14px;
}

.panel1 {
    border: 1px solid $color-border;
    margin-left: 3.7%;
    margin-bottom: 1%;
    margin-top: 1%;
}

:host ::ng-deep .mat-expansion-panel-header {
    padding: 0 11px !important;
}

.sqnumber {
    border: 1px solid $color-border;
    width: 30px;
    height: 27px;
    padding-left: 11px;
    padding-top: 2px;
    margin-left: 1px;
    font-size: 12px;
}

.index-number {
    border: 1px solid $color-border;
    padding: 2px 8px;
}

.module-container {
    display: flex;
    flex-direction: column;
    height: 35px;
    margin-top: 2px
}

.player {
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}

:host ::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

.curInclu {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
}

.silder {
    text-align: right;
    width: 332px;
    // height: 223px;
    margin-top: 10px;
}

// silder
.drawer {
    position: absolute;
    height: 100%;
    background: $color-white !important;
    min-width: 30%;
    margin-top: 0%;
    border-right: 1px solid $color-border;
}

.drawer .header {
    position: inherit !important;
    right: 0;
    justify-content: space-between;
}

.drawer .contents {
    padding: 2px !important;
}

.main {
    background-color: $color-white;
}


.main.contents {
    min-height: 100vh;
}

:host ::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
    height: 44px !important;
}

:host ::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
    background: $color-white !important;
}

.margin-7per {
    margin-top: 8%;
}

.font-color {
    color: #9a9898;
}

:host ::ng-deep .mat-drawer-content {
    padding-left: 15px !important;
    overflow: hidden !important;
}


///////////// sub 

.accordion>input[name="collapse"] {
    display: none;
}

.accordion label,
.accordion .content {
    max-width: 900px;
    margin: 0 auto;
}

.accordion .content {
    // background: $color-border;
    height: 0;
    transition: 0.5s;
    border: 1px solid $color-border;
    border-top-color: transparent;
}

.accordion>input[name="collapse"]:checked~.content {
    height: 380px;
    transition: height 0.5s;
}

.accordion label {
    display: block;
}

/* For Desktop */
@media only screen and (min-width: 620px) {
    .accordion>input[name="collapse"]:checked~.content {
        height: auto;
        overflow: hidden !important;
        // background: $color-border;
    }
}

.accordion {
    margin-bottom: 1em;
}

.accordion>input[name="collapse"]:checked~.content {
    border-top: 0;
    transition: 0.3s;
}

.accordion .handle {
    margin: 0;
    font-size: 12px;
    // border-bottom: 1px solid $color-border;
}

.accordion label {
    color: $color-darkGrey;
    cursor: pointer;
    user-select: none;
    border: 1px solid $color-border;
    border-bottom-color: transparent;

}

.accordion .handle label:before {
    font-family: FontAwesome;
    content: "\f067";
    display: inline-block;
    margin-right: 21px;
    margin-left: 20px;
    font-size: 1.5em;
    color: $color-border;
    line-height: 1.556em;
    vertical-align: middle;
    transition: 0.8s;
}

.accordion>input[name="collapse"]:checked~.handle label:before {
    content: "\f068";
    transform-origin: center;
    transition: 0.8s;
    color: $color-border;
}

:host /deep/ .mat-ink-bar {
    height: 4px !important;
    background-color: #0260A7 !important;
}

.moduletime {
    font-size: 12px;
}

.courseTime {
    font-size: 12px;
    display: flex;
    margin-left: -12px;
}

.time-icon {
    font-size: 12px;
}

.course-time {
    font-size: 12px;
    margin-left: -5px;
}

.exp-icon {
    font-size: 22px;
    margin-top: 3px;
}

.mod-check-icon {
    margin: 3px 8px;
    height: 22px;
    font-size: 20px;
    font-weight: bolder;
    color: $color-green;
    border: 1px solid $color-border;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-step-header[aria-labelledby="colgreen"] {
    .mat-step-icon {
        background-color: $color-green !important;
        color: $color-white !important;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colYellow"] {
    .mat-step-icon {
        background-color: $color-yellow !important;
        color: $color-white !important;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colWhite"] {
    .mat-step-icon {
        background-color: $color-white !important;
        color: $color-blank !important;
        border: 2px solid $color-border;
    }
}