@import "variable";
.p-xy-10{
    padding: 10px;
}
.backarrow{
    color:black
}
.passColor{
    color:#0E7D12
}
.processColor{
    color:#FFA04E
}
.disableColor{
color:grey
}
.player{
    width: 100%;
        border: none;
    height: 90% !important;
}
.backcolor{
    color: #999999
}
.contentHeight{
    height: 80vh !important;
    background: #ffffff;
    margin-top: 10px;
    position: relative;
    .hamburgerPosition {
        //position: relative;
        
        background-color: #FFCC00;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .lxp-HamburgerMenu {
            cursor: pointer;
            font-size: 18px;
            display: inline-block;
        }
    }
    .position-fixed-burgur{
        position:fixed;
        left: 10px;
        z-index: 9;
    }
    .videoPlayer {
        position: relative;
        transition: all 0.3s linear;
        width: 70%;
        @media only screen and (max-width: 767px) {
            width: 0;
        }
        &.fullWidth {
            width: 100%;
        }
        .understoodBookmark {
            margin: 0 10px;
            button {
                background-color: #EEEEEE;
                border: 1px solid rgba(112, 112, 112, 0.25);
                box-shadow: 0px 2px 2px #00000029;
                font-size: 12px;
                font-weight: 400;
                color: #333333 !important;
                &.btn-outline-success:hover {
                    color: #0e7d12 !important;
                    background-color: #F0F0F0;
                    border: 1px solid #0e7d12;
                    i {
                        color: #0e7d12;
                    }
                }
                &.btn-outline-success:active:focus {
                    color: #0e7d12 !important;
                    background-color: #F0F0F0;
                    border: 1px solid #0e7d12;
                    i {
                        color: #0e7d12;
                    }
                }
                &.btn-outline-success {
                    color: #0e7d12 !important;
                    background-color: #F0F0F0; 
                    border: 1px solid #0e7d12;
                    font-weight: 700;
                    i {
                        color: #0e7d12;
                    }
                }
                &.btn-outline-danger {
                    color: #c20303 !important;
                    background-color: #F0F0F0;
                    border: 1px solid #c20303;
                    font-weight: 700;
                    i {
                        color: #c20303;
                    }
                }
                &.btn-outline-danger:hover {
                    color: #c20303;
                    background-color: #F0F0F0; 
                    border: 1px solid #c20303;
                    i {
                        color: #c20303;
                    }
                }
                &.btn-outline-danger:active:focus {
                    color: #c20303;
                    background-color: #F0F0F0;
                    border: 1px solid #c20303;
                    i {
                        color: #c20303;
                    }
                }
                // &.btn-outline-light {
                //     color: #000 !important;
                //     background-color: #F0F0F0;
                //     font-weight: bold;
                // }
                // &.btn-outline-light:active:focus {
                //     color: #000 !important;
                //     background-color: #F0F0F0;
                //     border-color: #bebebe;
                //     font-weight: bold;
                // }
                i {
                    font-size: 15px;
                    color: #000000;
                    display: inline-block;
                    vertical-align: text-bottom;
                    margin-right: 3px;
                }
            }
        }
    }
    .understoodButton {
        button {
            margin-right: 10px;
        }
    }
}
.tocSize {
    // overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 30%;
    margin-left: 0;
    margin-right: 5px;
    transition: all 0.3s linear;
    position: relative;
    z-index: 8;
    background-color:#fff;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
    &.drawersOpen {
        margin-left: -30%;
        margin-right: 0;
        @media only screen and (max-width: 767px) {
            margin-left: -100%;
        }
    }
    .filterSection {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        padding: 0 10px 0 10px;
        background-color: #ffffff;
        text-align: right;
        // margin: 0 10px 10px 10px;
    }
    .xyz {
        overflow: auto;
        height: 74.7vh;
        margin-top: 10px;
    }
}
::ng-deep div.tocSize::-webkit-scrollbar {
    width: 5px !important;
}
::ng-deep.tocSize .mat-stepper-vertical {
    background-color: #FCFCFC !important;
}
// .afterHover {
//     overflow: y;
//     height: auto;
// }

// .beforeHover {
//     overflow: hidden;
//     height: auto;
//     @media only screen and (max-width: 991px) {
//         overflow: auto;
//     }
// }

.tocTitle {
   font-size: 17px;
   font-weight: normal; 
   color:#999999;
}
.colorBlack{
    color:#666666;
}
.tocSubTitle {
    font-size: 15px;
    font-weight: normal; 
    color: #666666;
    margin-bottom: 0px;
    cursor: pointer;
}
.topicnm {
    font-size: 13px;
    font-weight: normal; 
    color: #000000;
    line-height: normal;
    width: 100%;
    display: inline-block;
    padding: 15px 15px 15px 0;
}
.resizer {
    resize: both;
    overflow: auto;
}
.expandCollapse {
    font-size: 20px;
    color: #666666;
    line-height: normal;
}
.titleSelected {
    font-weight: bold;
}
.redHover:hover {
    color: $lxp-theme-green !important;
}
.topicCard {
  margin: 0 10px 10px 10px;
  padding: 10px !important;
  background-color: #FCFCFC;
  border-radius: 0px;
  border: 1px solid rgba(112, 112, 112, 0.25);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
  &.collapseClass {
      .tocSubTitle {
          color: #333333;
      }
  }
//   box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
::ng-deep.resource-card .mat-card-subtitle {
    margin-bottom: 6px;
}
.resource-card {
    margin: 0 10px 10px 10px;
    padding: 10px !important;
    border-radius: 0px;
    // border: 1px solid #cacaca;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    .pointer {
        &:hover {
            i {
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
    .handPointer {
        cursor: pointer;
    }
    h4 {
        font-size: 15px;
        font-weight: 400;
        margin: 0;
        line-height: normal;
    }
    h5 {
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden !important;
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        margin: 9px 10px 0 10px;
        line-height: normal;
        display: inline-block;
        width: 90%;
    }
    &.inActiveTab {
        background-color: #EAEAEA;
        h4 {
            color: #333333;
        }
    }
    &.activeTab {
        background-color: #ffffff;
        h4 {
            color: #666666;
        }
    }
}
.aboutCourseTab {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    h2, h6 {
        color: #333333;
        line-height: normal;
    }
    h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    h6 {
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 400;
    }
    .countCourseLanguage {
        list-style-type: none;
        margin: 0 0 15px 0;
        padding: 0;
        li {
            color: #000000;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            display: inline-block;
            border-right: 1px solid #333333;
            padding-right: 7px;
            margin-right: 7px;
            &:last-child {
                border-right: 0;
            }
        }
    }
    .descriptionContent {
        p {
            font-size: 15px;
            color: #666666;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 15px;
        }
    }
    .instructionBox {
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        max-width: 370px;
        width: 100%;
        display: inline-block;
        margin: 0 5px 10px 5px;
        figure {
            width: 35%;
            margin-bottom: 0;
            img {
                height: 175px;
                width: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
        .authorDescription {
            width: 64%;
            padding: 10px;
            h5 {
                color: #000000;
                font-size: 15px;
                font-weight: 700;
                line-height: normal;
            }
            p {
                color: #5E5E5E;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                padding-right: 7px;
                margin-bottom: 0 !important;
                height: 110px;
                overflow: auto;
            }
        }
    }
}
:host ::ng-deep .mat-step-label {
    white-space: pre-line !important;
    position: relative;
    overflow: visible !important;
    color:#000000;
    line-height: normal;
}

::ng-deep .mat-vertical-content {
    padding: 0 !important;
}

::ng-deep .mat-step-header[aria-labelledby="colgreen"] {
    box-sizing: border-box !important;
    height: auto !important;
    padding: 0 0 0 24px;
    .mat-step-icon {
        background-color: #0e7d12 !important;
        // color: #0e7d12 !important;
        height: 15px !important;
        width: 15px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-label {
        width: 100%;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content {
        color: transparent !important;
        display: none !important;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colYellow"] {
    box-sizing: border-box !important;
    height: auto !important;
    padding: 0 0 0 24px;
    .mat-step-icon {
        // background-color: $color-yellow !important;
        background-color: #FFA04E !important;
        color: #FFA04E !important;
        height: 15px !important;
        width: 15px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-label {
        width: 100%;
    }
}

::ng-deep .mat-step-header[aria-labelledby="colWhite"] {
    box-sizing: border-box !important;
    height: auto !important;
    padding: 0 0 0 24px;
    .mat-step-icon {
        background-color: $color-white !important;
        // color: $color-white !important;
        border: 2px solid $color-border;
        height: 13px !important;
        width: 13px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-label {
        width: 100%;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content {
        color: transparent !important;
        display: none !important;
    }
}



// :host ::ng-deep .mat-step-icon .mat-icon,
// .mat-step-icon-content {
//     color: $color-white !important;
// }

::ng-deep .course-player-menu .mat-step-icon .mat-icon{
    display: none !important;
}

::ng-deep .course-player-menu .mat-step-icon-content span{
    display: none !important;
}

.currentTopic{
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden !important;
    text-align: center;
    // width:80%;
    @media only screen and (max-width: 767px) {
        max-width: 75%;
        
    }
}
.navigation {
    margin-left: 10px;
    padding-right: 10px;
    max-width: 65%;
    // min-width: 65%;
    justify-content: space-between;
    .pipeLine {
        font-size: 18px;
        color: #333333;
        display: inline-block;
        margin-right: 10px;
    }
    @media only screen and (max-width: 767px) {
        max-width: 75%;
        margin-left: 7px;
    }
    div {
        display: inline-block;
        line-height: 14px;
    }
    .leftArrow, .rightArrow {
        cursor: pointer;
        color: #707070;
    }
    .leftArrow {
        margin-right: 10px;
    }
    .rightArrow {
        margin-left: 10px;
    }
    .lxp-Next-Previous {
        font-size: 17px;
        display: inline-flex;
        &.previousTopic {
            transform: rotate(180deg);
        }
    }
}
.rightContent {
    position: absolute;
    right: 20px;
    bottom: 20vh;
    .fullScr, .resourceTab {
        background-color: #FFCC00;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 15px;
        transition: all 0.3s ease-in-out;
        &[data-title] {
            transition: all 0.3s ease-in-out;
            position: relative;
            &:hover {
                &::before {
                    content: attr(data-title);
                    position: absolute;
                    bottom: -30px;
                    left: -15px;
                    line-height: normal;
                    background: #5C6873;
                    padding: 4px 6px;
                    color: #fff;
                    font-size: 11px;
                    white-space: nowrap;
                    z-index: 9;
                }
                &::after {
                content: '';
                position: absolute;
                bottom: -9px;
                left: 50%;
                border-width: 6px;
                border-style: solid;
                border-color: transparent transparent #5C6873 transparent;
                transform: translateX(-50%);
                }
            }
        }
    }
    i {
        color: #000000;
    }
    .fullScr {
        i{
            font-size: 13px;
        }
    }
    .resourceTab {
        i{
            font-size: 10px;
        }

    }
}
.hamburger {
    margin-right:5px;
    position: relative;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    &.isActive {
        &:hover {
            opacity: .7;
        }
        .hamburgerInner {
            transform: translate3d(0,10px,0) rotate(45deg);
            &::before {
                transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                opacity: 0;
            }
            &::after {
                transform: translate3d(0,-20px,0) rotate(-90deg);
            }
        }
    }
    &:hover {
        opacity: .7;
    }
    .hamburgerInner {
        display: block;
        margin-top: -2px;
        position: absolute;
        top: 2px;
        width: 40px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: red;
        &::before, 
        &::after {
            content: '';
            display: block;
        }
        &::before {
            position: absolute;
            width: 40px;
            height: 4px;
            border-radius: 4px;
            background-color: red;
            top: 10px;
            // transition-timing-function: ease;
            // transition-duration: .15s;
            transition-property: transform, opacity;
        }
        &::after {
            position: absolute;
            top: 20px;
            bottom: -10px;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: .15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: red;
        }
    }
}

.titlebar {
    position: relative;
    .titleBack {
        padding: 0 10px;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out;
        &.animateAnimate {
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }
        &.fadeInDown {
            padding:10px;
            animation-name: fadeInDown;
        }
        &.fadeOutUp {
            animation-name: fadeOutUp;
        }
    }
    .downTitle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        display: inline-block;
        // width: 100%;
        text-align: center;
        z-index: 999;
        i {
            &.arrDown {
                transform: rotate(180deg);
            }
            &.arrUp {
                transform: rotate(0deg);
                display: none;
            }
            cursor: pointer;
            color: rgba(0, 0, 0, 0.5);
            font-size: 10px;
            display: inline-block;
        }
    }
    .collapseFill {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
        .arrDown {
            display: none;
        }
        i {
            cursor: pointer;
            color: rgba(0, 0, 0, 0.5);
            font-size: 22px;
            display: inline-block;
        }
    }
    .courseTitle {
        font-size: 18px;
        color: #333333;
        margin-left: 5px;
        width: 100%;
        span {
            font-weight: 400;
            margin-left: 5px;
            display: inline-block;
            @media only screen and (max-width: 767px) {
                width: 70%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
            }
        }
    }
}
.pointer {
    &:hover {
        i, span {
            color: #C02222;
        }
    }
    i, span {
        display: inline-block;
    }
    span {
        font-size: 18px;
        color: #999999;
        font-weight: lighter;
        margin-left: 5px;
        
    }
    .backArrow {
        font-size: 6px;
        color: #231F20;
        font-weight: bold;
        transform: rotate(-90deg);
    }
}
.toolBar{
    padding: 8px 10px;
    background-color: #F0F0F0;
}
.toolBar .leftContent{
    width: 40%;
    @media only screen and (max-width: 767px) {
        width: 75%;
    }
}
.toolBar .rightContent{
    width: 60%;
    @media only screen and (max-width: 767px) {
        width: 25%;
    }
}
.resourseContainer{
    overflow-y: hidden;
}
.rowMargin{
    margin: -10px -10px 0 -10px;
    background: #F0F0F0;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    height: 2px !important;
    background-color: $lxp-theme-green !important;
}
.arrowDown{
    font-size: 10px;
    transform: rotate(180deg);
    display: inline-block;
}
.arrowUp{
    font-size: 10px;
    //transform: rotate(180deg);
    display: inline-block;
}
.popupContainer {
    height: 100%;
}
::ng-deep.popupContainer {
    .mat-tab-group {
        height: 100%;
        .mat-tab-body-wrapper {
            height: 100%;
        }
    }
    .mat-tab-label {
        opacity: 1;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        &.mat-tab-label-active {
            color: rgba(0, 0, 0, 1);
        }
    }
    .mat-tab-body-content {
        overflow: auto !important;
    }
}
.rescontentHeight {
    height: 100%;
    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}
.resourseToc {
    margin-top: 10px;
    width: 30% !important;
    min-width: 30%!important;
    border-right: 1px solid rgba(112, 112, 112, 0.5);
    @media only screen and (max-width: 767px) {
        width: 100% !important;
        min-width: 100%!important;
        border-right: 0;
    }
}
.previewContainer {
    width: 100% !important;
    overflow: auto;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 767px) {
        overflow: initial;
        // min-height: 100%;
    }
    img {
        max-width: 100%;
    }
    iframe {
        position: absolute;
        width: 100%;
        // height: 0;
        &::before {
            content: '';
            display: block;
            padding-bottom: 50%;
        }
    }
    .previewContainerTitle {
        p {
            text-align: center;
            font-size: 15px;
            padding-top: 10px;
            margin-bottom: 5px;
        }
    }
}
.popupTab {
    position: relative;
    .closeSection {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 9;
    }
    .mat-tab-label.mat-tab-label-active {
        opacity: 1;
    }
}
::ng-deep.resourseContainer .mat-dialog-content {
    height: 100% !important;
    max-height: inherit !important;
}
.sel-pad {
    padding:2px;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        // -webkit-transform: translate3d(0,-100%,0);
        // transform: translate3d(0,0%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        // -webkit-transform: translate3d(0,-100%,0);
        // transform: translate3d(0,-100%,0);
    }
}