
<app-header></app-header>

<div oncontextmenu="return false" class="coursePlayerContainer" *ngIf="scromModuleData;else skeletonLoader">
    <!-- TITLE AND BACK -->
    <div class="titlebar">
        <!-- <div class="downTitle"><i (click)="titleBar?titleBar=false:titleBar=true" [ngClass]="titleBar?'arrUp':'arrDown'" class="lxp-Arrow"></i></div>
        <div class="collapseFill"><i class="lxp-CollapseFill"></i></div> -->

        <div class="downTitle"><i (click)="titleBar = !titleBar" [ngClass]="titleBar?'arrDown':'arrUp'" class="lxp-Arrow"></i></div>
        <div class="collapseFill"><i (click)="!titleBar?titleBar=true:''" [ngClass]="!titleBar?'arrUp':'arrDown'" class="lxp-CollapseFill"></i></div>

        <div class="d-flex align-items-center titleBack animateAnimate" [ngClass]="titleBar==true?'fadeOutUp':'fadeInDown'">
            <div class="pointer d-flex align-items-center backcolor redHover" *ngIf="scromApiData?.toc != '0'" (click)="goBack()">
                <i class="lxp-Arrow backArrow"></i><span>Back</span>
            </div>
            <ng-container *ngIf="scromApiData?.toc != '0'">
                <div class="navigation d-flex align-items-center" *ngIf="scromModuleData&&filterkey==='All'&&drawersOpen===false">
                    <span class="pipeLine">|</span> 
                    <div class="leftArrow">                
                     <i class="lxp-Next-Previous previousTopic" title="Previous Topic" [ngClass]="isprevEnable?'disableColor':''" (click)="isprevEnable?false:topicPrve()"></i>
                    </div>
                    <div class="currentTopic" >
                     <span title="{{scromModuleData[weekHolderUI].childData[moduleHolder]?.children[nextPrevHolder].title}}">{{scromModuleData[weekHolderUI].childData[moduleHolder]?.children[nextPrevHolder].title}}</span>
                    </div>
                    <div class="rightArrow">                
                     <i class="lxp-Next-Previous" title="Next Topic" [ngClass]="isNextEnable?'disableColor':''" (click)="isNextEnable?false:topicNext()"></i>
                    </div>
                </div>
            </ng-container>
            <div class="courseTitle" *ngIf="drawersOpen!==false||filterkey!=='All'"> | <span>{{this.course?.course_name}}</span></div>
        </div>
    </div>
    <!-- COURSE TOOL BAR -->
    <!-- <div class="d-flex justify-content-between align-items-center toolBar">
       <div class="d-flex align-items-center leftContent">
           <div class="navigation d-flex align-items-center" *ngIf="scromModuleData">
               <div class="leftArrow">                
                <i class="lxp-Next-Previous previousTopic" title="Previous Topic" [ngClass]="isprevEnable?'disableColor':''" (click)="isprevEnable?false:topicPrve()"></i>
               </div>
               <div class="currentTopic" title="{{scromModuleData[moduleHolder]?.children[nextPrevHolder].title}}">
                <span >{{scromModuleData[moduleHolder]?.children[nextPrevHolder].title}}</span>
               </div>
               <div class="rightArrow">                
                <i class="lxp-Next-Previous" title="Next Topic" [ngClass]="isNextEnable?'disableColor':''" (click)="isNextEnable?false:topicNext()"></i>
               </div>
           </div>
       </div>
    </div> -->
    <!-- TOC AND PLAYER -->
    <div class="contentHeight d-flex">
        
        <!-- TOC DATA -->
        <div class="tocSize" [ngClass]="drawersOpen ? '': 'drawersOpen'">
            <div *ngIf="scromApiData?.toc != '0'" class="filterSection d-flex justify-content-between">
                <div class="hamburgerPosition" [ngClass]="drawersOpen?'position-relative':'position-fixed-burgur'">
                    <i class="lxp-HamburgerMenu" (click)="drawersOpen=drawersOpen?false:true"></i>
                </div>
                <div>
                Filter by: <select class="sel-pad" [(ngModel)]="filterkey" (change)="filterToc()">
                    <option [value]="'All'">All</option>
                    <option [value]="'Bookmarked'">Bookmarks</option>
                    
                </select>
            </div>
            </div>
            <div class="xyz" *ngIf="filterkey=='Bookmarked'?(filterData.length>0?true:false):(scromModuleData.length>0?true:true);else emptyTOC">
                <mat-card *ngFor="let resDat of filterkey=='Bookmarked'?filterData:scromModuleData; let wi = index" [ngClass]="resDat.expanded ? 'expandClass':'collapseClass'" multi displayMode=""
                    class="topicCard" >
                    <div *ngIf="wi===weekHolderUI" #focuser ></div>
                    <!-- (click)="moduleExpand(resDat,i)" -->
                            <mat-card-title  class="d-flex justify-content-between align-items-center pointer">
                                <div class="tocTitle">Week - {{resDat.week?resDat.week:wi+1}}</div>
                                <div>
                                    <!-- <i class="expandCollapse" [ngClass]="resDat.expanded?'lxp-Collapse':'lxp-Expand'"></i> -->
                                </div>
                            </mat-card-title>
                            <span *ngFor="let res of resDat.childData let mi = index" (load)="mi==moduleHolder?res.expanded=true:res.expanded=false;">
                            <mat-card-subtitle (click)="moduleExpand(wi,mi,res)" class="d-flex justify-content-start align-items-center tocSubTitle" [ngClass]="(wi===weekHolderUI&&mi==moduleHolder)?'titleSelected':''">
                                <div>
                                    <!-- *ngIf="res?.status == 'Passed'" -->
                                    <mat-icon *ngIf="res?.status == 'Passed'" class="material-icons passColor" >done </mat-icon>
                                    <mat-icon *ngIf="res?.status == 'process'" class="material-icons processColor" >done </mat-icon>
                                    <mat-icon *ngIf="res?.status == null" class="material-icons mar" >done </mat-icon>
                                </div>
                                <div>
                                    <span *ngIf="res?.title?.length >= 67" class="moduleName" tooltip="{{res?.title}}"
                                        placement="right">
                                        {{res?.title | slice:0:71}}...</span>
                                    <span *ngIf="res?.title?.length < 67" class="moduleName">
                                        {{res?.title}}
                                    </span>
                                </div>
                                <div style="margin-left:auto">
                                    <mat-icon class="material-icon">{{res.expanded?'expand_less':'expand_more'}}</mat-icon>
                                </div>
                            </mat-card-subtitle>
                    <mat-card-content *ngIf="(res.expanded)">
                        <div class="bs-vertical-wizard">
                            <ul>
                                <li  [ngClass]="mod?.status === 'Passed' ? 'complete' :  mod?.status === 'process' ? 'current' : ''" *ngFor="let mod of res?.children; let ti = index">
                                    <span class="icov" [ngClass]="(wi==weekHolderUI&&ti==nextPrevHolder && mi==moduleHolder) ? 'titleSelected' : ''" (click)="playTopic(mod.link,mod.title,mod.status,res?.title,res?.status,scromModuleData?.length,wi,ti,mi);drawersOpen=performOverLay?(drawersOpen?false:true):true">
                                        {{mod?.title}}
                                        <i class="ico" [ngClass]="mod?.status === 'Passed' ? 'fa fa-check ico-green' :  mod?.status === 'process' ? 'fa fa-circle ico-yellow' : ''"></i>
                                        <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                                        <span *ngIf="mod.bookmark===true "><i class="lxp-bookmark" style="color:blue"></i></span>
                                    </span>
                                    
                                </li>
                            </ul>
                        </div>
                        </mat-card-content>
                    </span>
                </mat-card>
            </div>
            <ng-template #emptyTOC>
                <div class="xyz p-xy-10 d-flex justify-content-around align-items-center">
                    You have not added any bookmarks!
                </div>
            </ng-template>
        </div>
        <!-- COURSE PLAYER -->
        <div class="videoPlayer" [ngClass]="drawersOpen ? 'halfWidth' : 'fullWidth'">
            <iframe title="player" id="myPlayer" class="player" [src]="urlSafe" allowfullscreen></iframe>
            
           <div class="d-flex justify-content-between understoodBookmark">
                <div class="d-flex justify-content-between align-items-center understoodButton">
                    <button *ngIf="userType!=='collegeconnect'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed'&& topicInfo?.user_experience === 'like'?'btn btn-outline-success':'btn btn-outline-light'" (click)="understoodClick('like')">
                        <i class="lxp-smile"></i> Understood
                    </button>
                    <button *ngIf="userType!=='collegeconnect'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed' && topicInfo?.user_experience === 'dislike'?'btn btn-outline-danger':'btn btn-outline-light'" (click)="understoodClick('dislike')">
                        <i class="lxp-sad"></i> Not Understood
                    </button>
                </div>
               <!-- <div class="d-flex bookmarkButton">
                    <button type="button" [disabled]="filterkey==='Bookmarked'" ngClass="btn btn-outline-light mr-10px" (click)="bookmarkClick(topicInfo?.bookmark?false:true)">
                        <i [ngClass]="topicInfo?.bookmark?'lxp-bookmark':filterkey==='Bookmarked'? 'lxp-bookmark':'lxp-bookmark-o'"></i> {{topicInfo?.bookmark?'Bookmarked': filterkey==='Bookmarked'? 'Bookmarked':'Add to Bookmark'}}
                    </button>
                    <button *ngIf="userType!=='collegeconnect'" type="button" [disabled]="batchEndTime<currentDate" ngClass="btn btn-outline-light" (click)="openAskQuestions(askQuestions)">
                        <i class="lxp-lifebuoy"></i> Ask Questions
                    </button>
                </div> -->
            </div>
            <div class="rightContent">
                <div (click)="makeFullScreen()" data-title="Fullscreen" class="fullScr d-flex align-items-center iconSize">
                    <i  class="lxp-Fullscreen"></i>
                </div>
                <!-- <div (click)="openResourse(resourseWindow)" data-title="Resources" class="resourceTab d-flex align-items-center iconSize">
                    <i  class="lxp-res-popout f_size_14"></i>
                </div> -->
                <div class="mixed" [ngClass]="isShowDiv ? 'paddingTop' : 'paddingZero'">
                    <div *ngIf="isShowDiv" class="allIcons">
                        <!-- <div class="smile">
                            <button data-title="Understood" *ngIf="userType!=='collegeconnect'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed'&& topicInfo?.user_experience === 'like'?'btn btn-outline-success':'btn btn-outline-light'" (click)="understoodClick('like')">
                                <i class="lxp-smile"></i>
                            </button>
                        </div>
                        <div class="sad">
                            <button data-title="Not Understood" *ngIf="userType!=='collegeconnect'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed' && topicInfo?.user_experience === 'dislike'?'btn btn-outline-danger':'btn btn-outline-light'" (click)="understoodClick('dislike')">
                                <i class="lxp-sad"></i>
                            </button>
                        </div> -->
                        <div class="resource">
                            <button data-title="Resources"  type="button" ngClass="btn btn-outline-light" (click)="openResourse(resourseWindow)">
                                <i class="lxp-res-popout"></i>
                            </button>
                        </div>
                        <div class="askquestion">
                            <button data-title="Ask Question" *ngIf="userType!=='collegeconnect'" type="button" ngClass="btn btn-outline-light" (click)="openAskQuestions(askQuestions)">
                                <i class="lxp-lifebuoy"></i>
                            </button>
                        </div>
                        <div class="bookmark">
                            <button data-title="Bookmark" type="button" [disabled]="filterkey==='Bookmarked'" ngClass="btn btn-outline-light" (click)="bookmarkClick(topicInfo?.bookmark?false:true)">
                                <i [ngClass]="topicInfo?.bookmark?'lxp-bookmark':filterkey==='Bookmarked'? 'lxp-bookmark':'lxp-bookmark-o'"></i>
                            </button>
                        </div>
                    </div>
                    <div (click)="toggleDisplayDiv()" class="d-flex align-items-center iconSize allTabs">
                        <i [ngClass]="isShowDiv ? 'closeIcon' : 'addIcon'" class="lxp-Close f_size_14"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #resourseWindow>
    <!-- <mat-dialog-title>
        <div class="d-flex justify-content-between rowMargin p-xy-10">
            <div class="d-flex justify-content-start align-items-center">
            <span class="f_wt_600 ">{{this.course?.course_name}}</span>
            </div>
            
            <div class="d-flex justify-content-start align-items-center text-right">
                <mat-icon class="download-icon" (click)="closedialogbox()">close</mat-icon>
            </div>
        </div>
    </mat-dialog-title> -->
      <mat-dialog-content (contextmenu)="contextmenu()" class="no_padding no_margin popupTab">
        <div class="popupContainer">
            <div class="closeSection">
                <i (click)="closedialogbox()" class="lxp-Close"></i>
            </div>
                <mat-tab-group #demo3Tab [(selectedIndex)]="selectedTabIndex" #tabs (selectedTabChange)="tabSelection($event)">
        
                    <!-- resource tab -->
                    <mat-tab label="Resources">
                        <div class="d-flex rescontentHeight">
                                <div class="resourseToc" [ngClass]='!content?.noresource?"d-flex justify-content-around align-items-center":""'>
                                    <ng-container *ngIf="content?.noresource">
                                        <ng-container  *ngFor="let res of content?.coursedetails; let i = index">
                                            <mat-card class="resource-card" *ngIf="res.resValue" [ngClass]="res.isOpen?'activeTab':'inActiveTab'">
                                            <mat-card-title class="d-flex justify-content-between align-items-center pointer" (click)="resourseAccord(content?.coursedetails, i);">
                                                <h4>{{res?.modulename}}</h4>
                                                <div style="display: inline-flex;"><i class="lxp-Arrow" [ngClass]="res.isOpen?'arrowUp':'arrowDown'"></i></div>
                                            </mat-card-title>
                                            <div *ngIf="res.isOpen">
                                            <ng-container *ngFor="let mod of res?.moduledetails">
                                                <mat-card-subtitle>
                                                    <h5 mat-line class="modTopName" [title]="mod?.topicname" *ngIf="mod.resourse?.files.length">
                                                        {{mod?.topicname}}
                                                    </h5>
                                                </mat-card-subtitle>
                                                <mat-card-content>
                                                    <mat-card class="resource-card handPointer d-flex justify-content-start" mat-ripple (click)="urlBinder(file); add_topic_reference(res)" *ngFor="let file of mod.resourse?.files">
                                                        <div class="mr-2">
                                                            <img *ngIf="file.doc_type == 'application/pdf'" class="size" alt=""
                                                                src="assets/learner/fileicon/PDF_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'link'" class="size" alt="" src="assets/learner/fileicon/Link_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                                                class="size" alt="" src="assets/learner/fileicon/Excel_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'image/jpeg' || file.doc_type == 'image/png'" class="size" alt=""
                                                                src="assets/learner/fileicon/Image_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"
                                                                class="size" alt="" src="assets/learner/fileicon/PPT_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                                                                class="size" alt="" src="assets/learner/fileicon/Word_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'application/msword'" class="size" alt=""
                                                                src="assets/learner/fileicon/Word_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'application/vnd.ms-excel'" class="size" alt=""
                                                                src="assets/learner/fileicon/Excel_Icon.svg">
                                                            <img *ngIf="file.doc_type == 'video/mp4'" class="size" alt="" src="assets/learner/fileicon/Video_Icon.svg">
                                                            <mat-icon class="docType" *ngIf="file.doc_type == 'text/plain' "> description </mat-icon>
                                                        </div>
                                                        <div>{{file.type_name}}</div>
                                                    </mat-card>
                                                </mat-card-content>
                                            </ng-container>
                                        </div>
                                        </mat-card>
                                        </ng-container>
                                        
                                    </ng-container>
                                    <ng-container *ngIf="!content?.noresource">
                                        No Resource found !!
                                    </ng-container>
                                    
                              
                                </div>
                                <div class="previewContainer" >
                                    <div class="previewContainerTitle">
                                        <p>{{resourceName}}</p>
                                    </div>
                                    <ng-container *ngIf="isCancelLoad">
                                        <!-- <mat-icon [ngClass]="{'preview-cancel-pdf': fileType == 'pdf','preview-cancel' : (fileType == 'image' || fileType == 'video')}" (click)="onClose()">cancel</mat-icon> -->
                                      </ng-container>
                                      <ng-container *ngIf="fileType == 'image'">
                                        <div class="d-flex justify-content-center align-items-center">
                                          <img [src]="URIData" alt="image">
                                        </div>
                                      </ng-container>
                                    
                                      <ng-container *ngIf="(fileType == 'pdf'||fileType == 'link')&& URIData!==null">
                                        <pdf-viewer [src]="URIData"  [render-text]="true" style="display: block;"></pdf-viewer>
                                        <!-- <iframe title="file" width="100%" height="100%" [src]="URIData" allowfullscreen></iframe> -->
                                    
                                      </ng-container>
                                    
                                      <ng-container *ngIf="fileType == 'video'">
                                        <video  oncontextmenu="return false;" [src]="URIData" title="image" width="100%" height="100%" controls controlsList="nodownload"></video>
                                      </ng-container>
                                    
                                      <ng-container *ngIf="fileType == 'audio'" controlsList="nodownload">
                                        <audio oncontextmenu="return false;" class="audio-player" [src]="URIData" title="image" width="100%" height="100%" controls controlsList="nodownload"></audio>
                                      </ng-container>
                                </div>
                            <!--[ngClass]="drawer.opened==true?'drawerOpnResource':'drawerClsResource'" -->
                            
                        </div>
                    </mat-tab>

                    <!-- about the course tab -->
                    <mat-tab label="About the course" *ngIf="userType!=='collegeconnect'">
                        <div class="aboutCourseTab">
                            <h2>{{'Details about the course' | translate}}</h2>
                            <!-- <h6>{{ 'This course includes :' | translate}}</h6>
                            <ul class="countCourseLanguage">
                                <li>{{content?.totalResourseCount}} Resource File(s)</li>
                                <li *ngIf="course?.course_mode">{{course?.course_mode === 'self-placed' ? 'Self paced' : course?.course_mode}}</li>
                                <li *ngIf="course?.course_language">{{course?.course_language}}</li>
                            </ul> -->
                            <div class="descriptionContent">
                                <p [innerHTML]="course?.course_long_description"></p>
                            </div>
                            <div *ngIf="course?.author_details[0].author_name != ''">
                                <h2>{{'Instructors'| translate}}</h2>
                                <div class="">
                                    <div class="instructionBox" *ngFor="let author of course?.author_details">
                                        <div class="d-flex justify-content-between">
                                            <figure>
                                                <img class="img-inst" [src]="author.image ? (author?.image + blobKey) : 'assets/learner/pro2.png'" alt="" />
                                            </figure>
                                            <div class="authorDescription">
                                                <h5>{{author?.author_name | titlecase| translate}}</h5>
                                                <p>{{author?.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-dialog-content>
</ng-template>

<ng-template #askQuestions id="askQuestions">
    <div class="askQuestionsContainer" style=" position: relative !important;">
        <div class="qaClose cursor-pointer"><i (click)="askqaTabs.selectedIndex = 0; closeAskQuestion()" class="lxp-Close"></i></div>
        <mat-tab-group #askqaTabs [(selectedIndex)]="selectedQATabIndex" (selectedTabChange)="questionTabSelection($event)">
            <mat-tab label="Ask a Question">
                <div class="questionInput align-content-center">
                    <p>Your Question:</p>
                    <textarea [(ngModel)]="questionText"></textarea>
                    
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary-outline mr-10px" (click)="closeAskQuestion()">Cancel</button>
                    <button class="btn btn-primary" (click)="submitMyQuestion()">Submit Question</button>
                </div>
            </mat-tab>
            <mat-tab label="My Q&A">
                <div class="myQuestions" *ngIf="myQuestionList.length;else noitems">
                    <div class="qaBox" *ngFor="let item of myQuestionList">
                        <div class="QuestionMeta">
                            <p>Asked on {{item.filteredValue.question.askDate}},&nbsp;{{item.filteredValue.question.askTime}}</p>
                        </div>
                        <p class="quesiton">{{item.filteredValue.question.que}}</p>
                        <div class="QuestionMeta">
                            <div class="font-weight-lighter" [ngClass]="item.filteredValue.question.ansDate?'badge-success':'badge-warning'">{{item.filteredValue.question.ansDate?'Answered':'Unanswered'}} </div>
                            &nbsp;<p *ngIf="item.filteredValue.question.ansDate">{{item.filteredValue.question.ansDate}}, &nbsp;{{item.filteredValue.question.ansTime}}</p>
                            
                        </div>
                        <p class="answer" *ngIf="item.filteredValue.question.ansDate">{{item.filteredValue.question.ans}}</p>
                        <!-- <div class="QuestionMeta" *ngIf="item.filteredValue.question.ansDate">
                            <p>Answered on {{item.filteredValue.question.ansDate}}</p>
                        </div> -->
                    </div>
                </div>
                <ng-template #noitems>
                    <div  class="myQuestions d-flex align-items-center justify-content-center">
                        {{isQALoading?'Loading...':'You have not asked any questions!'}}
                    </div>
                </ng-template>
                
            </mat-tab>
            <mat-tab label="All Q&A">
                <div class="d-flex justify-content-end" *ngIf="allQuestionList.length">
                    <div class="m-t-10"><span>Sort by: &nbsp;</span> 
                        <select class="sel-pad" [(ngModel)]="qaFilterKey" (change)="filterQAList()">
                            <option [value]="-1" selected="true">Newest</option>
                            <option [value]="1">Oldest</option>
                        </select>
                    </div>
                </div>
                <div class="myQuestions" *ngIf="allQuestionList.length;else noallitems">
                    <div class="qaBox" *ngFor="let item of allQuestionList">
                        <!-- <div class="userAccount"><i class="lxp-AccountCircle"></i>&nbsp; {{item.user_id}}</div> -->
                        <span class="userAccount"><i
                                class="lxp-AccountCircle align-text-bottom font-weight-bold"></i>&nbsp;<span class="font-weight-bold">{{item.user_id}}</span></span>&nbsp;|&nbsp;
                        <span class="QuestionMeta d-inline-flex">
                        <p>Asked on: &nbsp;{{item.filteredValue.question.askDate}},&nbsp;{{item.filteredValue.question.askTime}}</p>
                    </span>
                        <p class="quesiton">{{item.filteredValue.question.que}}</p>
                        <div class="QuestionMeta">
                            <div class="badge badge-success font-weight-lighter">Answered</div>
                            <p>&nbsp; {{item.filteredValue.question.ansDate}},&nbsp;{{item.filteredValue.question.ansTime}}</p>
                        </div>
                        <p class="answer"*ngIf="item.filteredValue.question.ansDate">{{item.filteredValue.question.ans}}</p>
                        <!-- <div class="QuestionMeta">
                            <p>{{item.filteredValue.question.ansDate}}</p>
                        </div> -->
                    </div>
                    
                </div>

                <ng-template #noallitems>
                    <div  class="myQuestions d-flex align-items-center justify-content-center">
                        {{isQALoading?'Loading...':'No questions asked on this topic.'}}
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-template>

<ng-template #skeletonLoader>
<div class="item">
    <mat-card class="courseDetailSkeleton" style="box-shadow: none !important;">
        <div class="breadcrumbskeleton">
            <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-between">
            <div class="item" style="width: 30%;">
                <div class="d-flex justify-content-between">
                    <ngx-skeleton-loader [theme]="{'background-color': '#888888'}" appearance="circle" animation="pulse" [theme]="{width: '190px',height: '120px','border-radius': '10px'}"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', width: '150px', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                    <ngx-skeleton-loader count="12" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            
            <div class="item" style="width: 69%;">
                <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ border: '2px solid #888888', height: '436px', 'background-color': 'transparent', 'border-radius': '10px' }"></ngx-skeleton-loader>
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div class="item d-flex justify-content-between" style="width: 40%;">
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div class="item d-flex justify-content-between" style="width: 40%; text-align: right;">
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
</ng-template>