
<app-header></app-header>

<div oncontextmenu="return false" class="coursePlayerContainer" [ngClass]="checkDetails?.toc != '0' ? 'nonITCourses':'ITcourses'" *ngIf="scromModuleData;else skeletonLoader">
    <!-- TITLE AND BACK -->
    <div class="titlebar">
        <!-- <div class="downTitle"><em (click)="titleBar?titleBar=false:titleBar=true" [ngClass]="titleBar?'arrUp':'arrDown'" class="lxp-Arrow"></em></div>
        <div class="collapseFill"><i class="lxp-CollapseFill"></i></div> -->

        <!-- <div class="collapseFill"><em (click)="titleBar = !titleBar" [ngClass]="titleBar?'arrDown lxp-Arrow':'arrUp lxp-CollapseFill'"></em></div> -->
        <!-- <div class="collapseFill"><em (click)="!titleBar ? titleBar = true : ''" [ngClass]="!titleBar?'arrUp':'arrDown'" class="lxp-CollapseFill"></em></div> -->

        <!-- <div class="d-flex align-items-center titleBack animateAnimate" [ngClass]="titleBar==true?'fadeOutUp':'fadeInDown'">
            <div class="pointer d-flex align-items-center backcolor redHover" *ngIf="scromApiData?.toc != '0'" (click)="goBack()">
                <i class="lxp-Arrow backArrow"></i><span>Back</span>
            </div>
            <ng-container *ngIf="scromApiData?.toc != '0'">
                <div class="navigation d-flex align-items-center" *ngIf="scromModuleData&&filterkey==='All'&&drawersOpen===false">
                    <span class="pipeLine">|</span> 
                    <div class="leftArrow">                
                     <i class="lxp-Next-Previous previousTopic" title="Previous Topic" [ngClass]="isprevEnable?'disableColor':''" (click)="isprevEnable?false:topicPrve()"></i>
                    </div>
                    <div class="currentTopic" >
                     <span title="{{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}">{{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}</span>
                    </div>
                    <div class="rightArrow">                
                     <i class="lxp-Next-Previous" title="Next Topic" [ngClass]="isNextEnable?'disableColor':''" (click)="isNextEnable?false:topicNext()"></i>
                    </div>
                </div>
            </ng-container>
            <div class="courseTitle" *ngIf="drawersOpen!==false||filterkey!=='All'"> | <span>{{this.course?.course_name}}</span></div>
        </div> -->
        <div class="titleBack animateAnimate d-flex justify-content-between align-items-center" [ngClass]="titleBar==true?'fadeOutUp':'fadeInDown'">
            <div class="breadCrumbWrapper">
                <ul class="breadcrumb" [ngClass]="checkDetails?.toc != '0' ? 'no':'yes'">
                    <li [ngClass]="drawersOpen ? 'no':'yes'">
                        <!-- <em (click)="goBack()" class="lxp-Go backArrow"></em> -->
                        <span>{{course?.course_name}}</span>
                    </li>
                    <!-- <ng-container  *ngIf="checkDetails?.toc != '0' && !checkDetails.checkLevel">
                        <div class="navigation d-flex align-items-center" style="display: none;" *ngIf="scromModuleData && filterkey==='All' && drawersOpen===false">
                            <div class="leftArrow">                
                                <em class="lxp-Next-Previous previousTopic" title="Previous Topic" [ngClass]="isprevEnable?'disableColor':''" (click)="isprevEnable?false:topicPrve()"></em>
                            </div>
                            <div class="currentTopic" >
                                <span title="{{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}">{{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}</span>
                            </div>
                            <div class="rightArrow">                
                                <em class="lxp-Next-Previous" title="Next Topic" [ngClass]="isNextEnable?'disableColor':''" (click)="isNextEnable?false:topicNext()"></em>
                            </div>
                        </div>
                    </ng-container> -->
                    <!-- <li><div class="courseTitle" *ngIf="drawersOpen!==false||filterkey!=='All'"><span>{{this.course?.course_name}}</span></div></li> -->
                </ul>
            </div>
           
        </div>
    </div>
    <!-- COURSE TOOL BAR -->
    <!-- <div class="d-flex justify-content-between align-items-center toolBar">
       <div class="d-flex align-items-center leftContent">
           <div class="navigation d-flex align-items-center" *ngIf="scromModuleData">
               <div class="leftArrow">                
                <i class="lxp-Next-Previous previousTopic" title="Previous Topic" [ngClass]="isprevEnable?'disableColor':''" (click)="isprevEnable?false:topicPrve()"></i>
               </div>
               <div class="currentTopic" title="{{scromModuleData[moduleHolder]?.childData[nextPrevHolder].title}}">
                <span >{{scromModuleData[moduleHolder]?.childData[nextPrevHolder].title}}</span>
               </div>
               <div class="rightArrow">                
                <i class="lxp-Next-Previous" title="Next Topic" [ngClass]="isNextEnable?'disableColor':''" (click)="isNextEnable?false:topicNext()"></i>
               </div>
           </div>
       </div>
    </div> -->
    <!-- TOC AND PLAYER -->
    <div class="contentHeight d-flex">
        <!-- TOC DATA -->
        <div class="tocSize" [ngClass]="drawersOpen ? '': 'drawersOpen'">

            <div class="leftToc" *ngIf="checkDetails?.toc != '0'">
                <div class="showHide" (click)="drawersOpen=drawersOpen?false:true" [ngClass]="drawersOpen?'Yes':'No'">
                    <em *ngIf="drawersOpen" class="lxp-TOC_Collapse"></em>
                    <em *ngIf="!drawersOpen" class="lxp-TOC_Expand"></em>
                </div>
                <mat-tab-group (selectedTabChange)="tabClick($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span class="tabLabel">{{'Course Contents' | translate}}</span>
                        </ng-template>
                       <ng-template [ngTemplateOutlet]="tocContent"></ng-template>
                    </mat-tab>
                  
                    <mat-tab *ngIf="userType!=='vocational'" [ngClass]="filterkey == 'Bookmarked' ? 'yes':'no'">
                        <ng-template mat-tab-label>
                            <span class="tabLabel">{{'Bookmarks' | translate}}</span> <span class="labelcount">{{bookmarkedCount}}</span>
                        </ng-template>
                        <ng-template [ngTemplateOutlet]="tocContent"></ng-template>
                    </mat-tab>
                  
                    <!-- <mat-tab>
                      <ng-template mat-tab-label>
                        <span class="tabLabel">Notes</span> <span class="labelcount">3</span>
                      </ng-template>
                      Content 3
                    </mat-tab> -->
                </mat-tab-group>
            </div>

            <!-- Commented Filter -->
            <!-- <div *ngIf="scromApiData?.toc != '0'" class="filterSection d-flex justify-content-between">
                <div class="hamburgerPosition" [ngClass]="drawersOpen?'position-relative':'position-fixed-burgur'">
                    <em class="lxp-HamburgerMenu" (click)="drawersOpen=drawersOpen?false:true"></em>
                </div>
                <div>
                    Filter by: 
                    <select class="sel-pad" [(ngModel)]="filterkey" (change)="filterToc()">
                        <option [value]="'All'">All</option>
                        <option [value]="'Bookmarked'">Bookmarks</option>
                    </select>
                </div>
            </div> -->

            <!-- Commented TOC -->
            <!-- <div class="xyz" *ngIf="filterkey=='Bookmarked'?(filterData.length>0?true:false):(scromModuleData.length>0?true:true);else emptyTOC">
                <mat-card *ngFor="let resDat of filterkey=='Bookmarked'?filterData:scromModuleData; let wi = index" [ngClass]="resDat.expanded ? 'expandClass':'collapseClass'" multi displayMode=""
                    class="topicCard" >                            <mat-card-title  class="d-flex justify-content-between align-items-center pointer">
                                <div class="tocTitle">Week - {{resDat.week?resDat.week:wi+1}}</div>
                                <div>
                                </div>
                            </mat-card-title>
                            <span *ngFor="let res of resDat.childData let mi = index" (load)="mi==moduleHolder?res.expanded=true:res.expanded=false;">
                            <mat-card-subtitle (click)="moduleExpand(wi,mi,res)" class="d-flex justify-content-start align-items-center tocSubTitle" [ngClass]="(wi===weekHolderUI&&mi==moduleHolder)?'titleSelected':''">
                                <div>
                                    <mat-icon *ngIf="res?.status == 'Passed'" class="material-icons passColor" >done </mat-icon>
                                   < mat-icon *ngIf="res?.status == 'process'" class="material-icons processColor" >done </mat-icon>
                                    <mat-icon *ngIf="res?.status == null" class="material-icons mar" >done </mat-icon>
                                </div>
                                <div>
                                    <span *ngIf="res?.title?.length >= 67" class="moduleName" tooltip="{{res?.title}}"
                                        placement="right">
                                        {{res?.title | slice:0:71}}...</span>
                                    <span *ngIf="res?.title?.length < 67" class="moduleName">
                                        {{res?.title}}
                                    </span>
                                </div>
                                <div style="margin-left:auto">
                                    <mat-icon class="material-icon">{{res.expanded?'expand_less':'expand_more'}}</mat-icon>
                                </div>
                            </mat-card-subtitle>
                    <mat-card-content *ngIf="(res.expanded)">
                        <div class="bs-vertical-wizard">
                            <ul>
                                <li  [ngClass]="mod?.status === 'Passed' ? 'complete' :  mod?.status === 'process' ? 'current' : ''" *ngFor="let mod of res?.childData; let ti = index">
                                    <div *ngIf="wi==weekHolderUI&&ti==nextPrevHolder && mi==moduleHolder" #focuser ></div>
                                    <span class="icov" [ngClass]="(wi==weekHolderUI&&ti==nextPrevHolder && mi==moduleHolder) ? 'titleSelected' : ''" (click)="playTopic(mod.link,mod.title,mod.status,res?.title,res?.status,scromModuleData?.length,wi,ti,mi);drawersOpen=performOverLay?(drawersOpen?false:true):true">
                                        {{mod?.title}}
                                        <em class="ico" [ngClass]="mod?.status === 'Passed' ? 'fa fa-check ico-green' :  mod?.status === 'process' ? 'fa fa-circle ico-yellow' : ''"></em>
                                        <span *ngIf="mod.bookmark===true "><em class="lxp-bookmark" style="color:blue"></em></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        </mat-card-content>
                    </span>
                </mat-card>
            </div> -->
            <ng-template #emptyTOC>
                <div class="leftTocContent p-xy-10 d-flex justify-content-around align-items-center">
                    {{'You have not added any bookmarks!' | translate}}
                </div>
            </ng-template>

            <ng-template #tocContent>
                <div class="leftTocContent" *ngIf="filterkey=='Bookmarked'?(filterData.length>0?true:false):(scromModuleData.length>0?true:true);else emptyTOC">
                    <mat-card *ngFor="let resDat of filterkey=='Bookmarked'?filterData:scromModuleData; let wi = index" [ngClass]="resDat.expanded ? 'expandClass':'collapseClass'" multi displayMode=""
                        class="topicCardLevel" >
                        <!-- (click)="moduleExpand(resDat,i)" -->
                        <mat-card-title  class="d-flex justify-content-between align-items-center pointer">
                            <div class="tocTitle" >{{'Week -' | translate}} {{resDat.week?resDat.week:wi+1}}</div>
                            <div>
                                <!-- <i class="expandCollapse" [ngClass]="resDat.expanded?'lxp-Collapse':'lxp-Expand'"></i> -->
                            </div>
                        </mat-card-title>
                        <!-- moduleExpand(wi,mi,null,res) -->
                        <span *ngFor="let res of resDat.childData let mi = index" (load)="mi==moduleHolder?res.expanded=true:res.expanded=false;">
                            <mat-card-subtitle (click)="scromApiData.checkLevel?'':gettopicOnModule(wi+1,checkDetails.checkLevel?res?.module_name:null,checkDetails.checkLevel?null:res?.id,res);moduleExpand(wi,mi,null,res)" class="d-flex justify-content-start align-items-center tocSubTitle" [ngClass]="(wi===weekHolderUI&&mi==moduleHolder)?'titleSelected':''">
                                <div class="statusColor">
                                    <span *ngIf="res?.status == 'Passed'" class="passColor"><em class="lxp-Right"></em></span>
                                    <span *ngIf="res?.status == 'process'" class="processColor"></span>
                                    <span *ngIf="res?.status == null" class="greyColor"></span>
                                </div>
                                <div class="topicName">
                                    <h4 *ngIf="res?.module_name?.length >= 67" class="moduleName" tooltip="{{res?.module_name}}">
                                        {{res?.module_name | slice:0:71}}...</h4>
                                    <h4 *ngIf="res?.module_name?.length < 67" class="moduleName" tooltip="{{res?.module_name}}">
                                        {{res?.module_name}}
                                    </h4>
                                </div>
                                <!-- <div class="progressBar">
                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                    <span>3/5</span>
                                </div> -->
                                <div class="arrowExpandCollapse">
                                    <div>
                                        <em class="rotate lxp-DownArrow" [ngClass]="res.expanded?'expand_less':'expand_more'"></em>
                                        <!-- <em *ngIf="res.expanded" class="lxp-Arrow"></em> -->
                                        <!-- <mat-icon class="material-icon">{{res.expanded?'expand_less':'expand_more'}}</mat-icon> -->
                                    </div>
                                </div>
                            </mat-card-subtitle>
                            <div *ngIf="scromApiData.checkLevel">
                                <span *ngFor="let subData of (res.childData) let smi = index" (load)="smi==subModuleHolder?subData.expanded=true:subData.expanded=false;">
                                    <mat-card-subtitle *ngIf="res.expanded" (click)="gettopicOnModule(wi+1,null,subData?.id,subData);moduleExpand(wi,mi,smi,subData)" class="d-flex justify-content-start align-items-center tocSubTitle tocSubSubtitle" [ngClass]="(wi===weekHolderUI&&smi==moduleHolder&&mi==subModuleHolder)?'titleSelected':''">
                                        <div class="statusColor">
                                            <span *ngIf="subData?.status == 'Passed'" class="passColor"><em class="lxp-Right"></em></span>
                                            <span *ngIf="subData?.status == 'process'" class="processColor"></span>
                                            <span *ngIf="subData?.status == null" class="greyColor"></span>
                                        </div>
                                        <div class="topicName">
                                            <h4 *ngIf="subData?.module_name?.length >= 67" class="moduleName" tooltip="{{subData?.module_name}}">
                                                {{subData?.module_name | slice:0:71}}...</h4>
                                            <h4 *ngIf="subData?.module_name?.length < 67" class="moduleName" tooltip="{{subData?.module_name}}">
                                                {{subData?.module_name}}
                                            </h4>
                                        </div>
                                        <!-- <div class="progressBar">
                                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                            <span>3/5</span>
                                        </div> -->
                                        <div class="subModuleExpandCollapse">
                                            <div>
                                                <em class="lxp-Expand" *ngIf="!subData.expanded"></em>
                                                <em class="lxp-Collapse" *ngIf="subData.expanded"></em>
                                            </div>
                                        </div>
                                    </mat-card-subtitle>
                                    <mat-card-content *ngIf="(subData.expanded&&res.expanded)">
                                        <div class="bs-vertical-wizard">
                                            <ul>
                                                <li  [ngClass]="mod?.status === 'Passed' ? 'complete' :  mod?.status === 'process' ? 'current' : ''" *ngFor="let mod of subData?.childData; let ti = index">
                                                    <div *ngIf="(wi==weekHolderUI&&ti==nextPrevHolder && smi==subModuleHolder && mi==moduleHolder)||(this.weekHolder==undefined&& mod.expanded)" #focuser ></div>
                                                    <div class="icov" [ngClass]="(wi==weekHolderUI&&ti==nextPrevHolder && smi==subModuleHolder && mi==moduleHolder)||(this.weekHolder==undefined&& mod.expanded) ? 'topicTitleSelected' : ''" (click)="playTopic(mod.link,mod?.topic_name,mod.status,subData?.module_name,res?.status,mod,wi,ti,mi,smi);drawersOpen=performOverLay?(drawersOpen?false:true):true">
                                                        <div class="modTitle">
                                                            <h3 tooltip="{{mod?.topic_name}}">{{mod?.topic_name}}</h3>
                                                            <!-- <span class="playVideo"><em class="lxp-PlayCircle"></em> Video</span>
                                                            <span class="videoDuration"><em class="lxp-Clock"></em> 30:00 min</span> -->
                                                        </div>
                                                        <span *ngIf="mod?.status === 'Passed'" [ngClass]="mod?.status === 'Passed' ? 'bgGreen' : ''">
                                                            <em *ngIf="mod?.status === 'Passed'" class="lxp-Right"></em>
                                                        </span>
                                                        <span *ngIf="mod?.status === 'process'" [ngClass]="mod?.status === 'process' ? 'bgYellow' : ''">
                                                            <em *ngIf="mod?.status === 'process'" class="lxp-Timer_Outlined"></em>
                                                        </span>
                                                        <span *ngIf="mod?.status === null" [ngClass]="mod?.status === null ? 'bgGrey' : ''"></span>
                                                        <!-- <em class="ico" [ngClass]="mod?.status === 'Passed' ? 'fa fa-check ico-green' :  mod?.status === 'process' ? 'fa fa-circle ico-yellow' : ''"></em> -->
                                                        <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                                                        <span class="bookmarkTopic d-flex justify-content-center align-items-center" *ngIf="mod.bookmark===true ">
                                                            <em class="lxp-bookmark"></em></span>
                                                    </div>
                                    </li>
                                </ul>
                            </div>
                                    </mat-card-content>
                                    </span>
                            </div>
                            <div *ngIf="!scromApiData.checkLevel">
                            <mat-card-content *ngIf="(res.expanded)">
                                <div class="bs-vertical-wizard">
                                    <ul>
                                        <!-- <ng-container *ngIf="(topicData$|async).data.playerstatus.message"></ng-container> -->
                                        <li  [ngClass]="mod?.status === 'Passed' ? 'complete' :  mod?.status === 'process' ? 'current' : ''" *ngFor="let mod of( res.childData) let ti = index">
                                            <div *ngIf="(wi==weekHolderUI&&ti==nextPrevHolder && mi==moduleHolder)||(this.weekHolder==undefined&& mod.expanded)" #focuser ></div>
                                            <div class="icov" [ngClass]="(wi==weekHolderUI&&ti==nextPrevHolder && mi==moduleHolder)||(this.weekHolder==undefined&& mod.expanded) ? 'topicTitleSelected' : ''" (click)="playTopic(mod.link,mod.topic_name,mod.status,res?.module_name,res?.status,mod,wi,ti,mi);drawersOpen=performOverLay?(drawersOpen?false:true):true">
                                                <div class="modTitle">
                                                    <h3 tooltip="{{mod?.topic_name}}">{{mod?.topic_name}}</h3>
                                                    <!-- <span class="playVideo"><em class="lxp-PlayCircle"></em> Video</span>
                                                    <span class="videoDuration"><em class="lxp-Clock"></em> 30:00 min</span> -->
                                                </div>
                                                <span *ngIf="mod?.status === 'Passed'" [ngClass]="mod?.status === 'Passed' ? 'bgGreen' : ''">
                                                    <em *ngIf="mod?.status === 'Passed'" class="lxp-Right"></em>
                                                </span>
                                                <span *ngIf="mod?.status === 'process'" [ngClass]="mod?.status === 'process' ? 'bgYellow' : ''">
                                                    <em *ngIf="mod?.status === 'process'" class="lxp-Timer_Outlined"></em>
                                                </span>
                                                <span *ngIf="mod?.status === null" [ngClass]="mod?.status === null ? 'bgGrey' : ''"></span>
                                                <!-- <em class="ico" [ngClass]="mod?.status === 'Passed' ? 'fa fa-check ico-green' :  mod?.status === 'process' ? 'fa fa-circle ico-yellow' : ''"></em> -->
                                                <!-- <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cumque.</span> -->
                                                <span class="bookmarkTopic d-flex justify-content-center align-items-center" *ngIf="mod.bookmark===true ">
                                                    <em class="lxp-bookmark"></em></span>
                                            </div>
                            </li>
                        </ul>
                    </div>
                            </mat-card-content>
                        </div>
                        </span>
                    </mat-card>
                </div>
            </ng-template>

        </div>
        <!-- COURSE PLAYER -->
        <div class="videoPlayer" [ngClass]="drawersOpen ? 'halfWidth' : 'fullWidth'">
            <iframe title="player" id="myPlayer" class="player" [src]="urlSafe" allowfullscreen></iframe>
            <div class="toccollapsed" *ngIf="!drawersOpen">
                <em class="lxp-TOC_Collapse" (click)="drawersOpen=drawersOpen?false:true"></em>
            </div>
            <div class="rightContent">
                <div (click)="makeFullScreen()" data-title="Fullscreen" class="fullScr d-flex align-items-center iconSize">
                    <em class="lxp-Fullscreen"></em>
                </div>
                <!-- <div class="mixed" [ngClass]="isShowDiv ? 'paddingTop' : 'paddingZero'">
                    <div *ngIf="isShowDiv" class="allIcons">
                        <div class="smile">
                            <button data-title="Understood" *ngIf="userType=='Corporate'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed'&& topicInfo?.user_experience === 'like'?'btn btn-outline-success':'btn btn-outline-light'" (click)="understoodClick('like')">
                                <i class="lxp-smile"></i>
                            </button>
                        </div>
                        <div class="sad">
                            <button data-title="Not Understood" *ngIf="userType=='Corporate'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed' && topicInfo?.user_experience === 'dislike'?'btn btn-outline-danger':'btn btn-outline-light'" (click)="understoodClick('dislike')">
                                <i class="lxp-sad"></i>
                            </button>
                        </div>
                        <div class="resource">
                            <button data-title="Resources"  type="button" ngClass="btn btn-outline-light" (click)="openResourse(resourseWindow)">
                                <em class="lxp-res-popout"></em>
                            </button>
                        </div>
                        <div class="askquestion">
                            <button data-title="Ask Question" *ngIf="userType!=='collegeconnect'" type="button" ngClass="btn btn-outline-light" (click)="openAskQuestions(askQuestions)">
                                <em class="lxp-lifebuoy"></em>
                            </button>
                        </div>
                        <div class="bookmark" *ngIf="userType == 'collegeconnect'">
                            <button data-title="Bookmark" type="button" [disabled]="filterkey==='Bookmarked'" ngClass="btn btn-outline-light" (click)="bookmarkClick(topicInfo?.bookmark?false:true)">
                                <em [ngClass]="topicInfo?.bookmark?'lxp-bookmark':filterkey==='Bookmarked'? 'lxp-bookmark':'lxp-bookmark-o'"></em>
                            </button>
                        </div>
                    </div>
                    <div (click)="toggleDisplayDiv()" class="d-flex align-items-center iconSize allTabs">
                        <em [ngClass]="isShowDiv ? 'closeIcon' : 'addIcon'" class="lxp-Close f_size_14"></em>
                    </div>
                </div> -->
            </div>
        </div>
        
        <div class="d-flex justify-content-between understoodBookmark" [ngClass]="!drawersOpen ? 'Yes':'No'">
            <div class="popupContent d-flex align-items-center">
                <div class="wrapper d-flex align-items-center" *ngIf="drawersOpen || checkDetails?.toc == '0'">
                    <span class="abtCourse" (click)="aboutCourse(aboutCourseWindow)"><em class="lxp-Info"></em> <span>{{'About the Course' | translate}}</span></span>
                    <span class="resourcesTab" (click)="openResourse(resourseWindow)"><em class="lxp-Image_Folder"></em> <span>{{'Course Resources' | translate}}</span></span>
                    <span class="downloadCode" (click)="downloadResource();" *ngIf="scromApiData.resourceUrl"><em class="lxp-Download_Code"></em> <span>{{'Download Code exercises' | translate}}</span></span>
                </div>
                <div *ngIf="checkDetails?.toc != '0'" class="d-flex align-items-center moduleTopicWrapper">
                    <div *ngIf="!drawersOpen" class="currentModuleTopic">
                        <div class="curentVideoWeek">{{'Week' | translate}} <span>{{weekHolderUI+1}}</span></div>
                        <div class="currentVideoModuleTopic">
                            <h5>{{scromModuleData[weekHolderUI].childData[moduleHolder].title}}</h5>
                            <h4 title="{{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}">
                                {{scromModuleData[weekHolderUI].childData[moduleHolder]?.childData[nextPrevHolder].title}}
                            </h4>
                        </div>
                    </div>
                    <div class="dotMenu" *ngIf="!drawersOpen">
                        <button [matMenuTriggerFor]="menu">
                            <em class="lxp-Dot_Menu"></em>
                        </button>
                        <mat-menu #menu="matMenu" yPosition="above" class="onPopup">
                            <span class="abtCourse" (click)="aboutCourse(aboutCourseWindow)"><em class="lxp-Info"></em> <span>{{'About the Course' | translate}}</span></span>
                            <span class="resourcesTab" (click)="openResourse(resourseWindow)"><em class="lxp-Image_Folder"></em> <span>{{'Course Resources' | translate}}</span></span>
                            <span class="downloadCode" (click)="downloadResource();" *ngIf="scromApiData.resourceUrl"><em class="lxp-Download_Code"></em> <span>{{'Download Code exercises' | translate}}</span></span>
                        </mat-menu>
                    </div>
                </div>
            </div>

            <div class="wrapppper d-flex align-items-center">
                <!-- <div class="upSkill" *ngIf="showlab"> "*ngIf="showlab"-->
                <div class="upSkill" *ngIf="userType==='Corporate'">
                    <button data-title="Practice online" *ngIf="userType==='Corporate'" class="practiceOnline" [ngClass]="!showlab?'btn-transp':''" [disabled]="!showlab" type="button" (click)="navigatePractice()">
                        <em class="lxp-Lab_Practice"></em> <span>{{'Practice Online' | translate}}</span>
                    </button>
                    <!-- <button data-title="Practice online" (click)="showlab = showlab?false:true" class="onlineEditor" type="button">
                        <em class="lxp-Online_Code_Editor"></em> <span>Online Code Editor</span>
                    </button> -->
                </div>
                <div class="notesBookmarks">
                    <!-- [disabled]="topicInfo.status !== 'Passed'" -->
                    <div *ngIf="userType=='vocational'"  (click)="understoodClick('like')" data-title="Understood" class="smile" [ngClass]="topicInfo.status==='Passed'&& topicInfo?.user_experience === 'like'?'fillcol':'nofill'">
                        <em class="lxp-smile"></em> <span>{{'Understood' | translate}}</span>
                    </div>
                    <!-- [disabled]="topicInfo.status !== 'Passed'" -->
                    <div *ngIf="userType=='vocational'"   (click)="understoodClick('dislike')" data-title="Not Understood" class="sad" [ngClass]="topicInfo.status==='Passed' && topicInfo?.user_experience === 'dislike'?'fillcol':'nofill'">
                        <em class="lxp-sad"></em> <span>{{'Not Understood' | translate}}</span>
                    </div>
                    <button data-title="Ask A Question" class="askAQuestion" *ngIf="userType!=='collegeconnect'" type="button" (click)="openAskQuestions(askQuestions)">
                        <em class="lxp-question"></em> <span>{{'Ask A Question' | translate}}</span>
                    </button>
                    <button data-title="Ask A Question" class="askAQuestion" *ngIf="userType=='collegeconnect'" type="button" (click)="openQuestionDialog(questionDialog)">
                        <em class="lxp-question"></em> <span>{{'Ask A Question' | translate}}</span>
                    </button>
                    <!-- <button class="notesBtn"><em class="lxp-Notes"></em> <span>Notes</span></button> -->
                     <button class="bookmarkBtn" *ngIf="userType!=='Corporate' && userType!=='vocational'" data-title="Bookmark" type="button" [disabled]="filterkey==='Bookmarked'" ngClass="btn btn-outline-light" (click)="bookmarkClick(topicInfo?.bookmark?false:true)">
                         <em [ngClass]="topicInfo?.bookmark?'lxp-bookmark':filterkey==='Bookmarked'? 'lxp-bookmark':'lxp-bookmark-o'"></em> <span [ngClass]="topicInfo?.bookmark?'bold':'normal'">{{topicInfo?.bookmark?'Bookmarked': filterkey==='Bookmarked'? translate.instant('Bookmarked'): translate.instant('Bookmark')}}</span>
                     </button>
                </div>
            </div>
             <!-- <div class="d-flex justify-content-between align-items-center understoodButton">
                 <button *ngIf="userType!=='collegeconnect'&&userType!=='Corporate'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed'&& topicInfo?.user_experience === 'like'?'btn btn-outline-success':'btn btn-outline-light'" (click)="understoodClick('like')">
                     <i class="lxp-smile"></i> Understood
                 </button>
                 <button *ngIf="userType!=='collegeconnect'&&userType!=='Corporate'" type="button" [disabled]="topicPageStatus !== 'Passed'" [ngClass]="topicPageStatus==='Passed' && topicInfo?.user_experience === 'dislike'?'btn btn-outline-danger':'btn btn-outline-light'" (click)="understoodClick('dislike')">
                     <i class="lxp-sad"></i> Not Understood
                 </button>
             </div> -->
            <!-- <div class="d-flex bookmarkButton">
                 <button type="button" [disabled]="filterkey==='Bookmarked'" ngClass="btn btn-outline-light mr-10px" (click)="bookmarkClick(topicInfo?.bookmark?false:true)">
                     <i [ngClass]="topicInfo?.bookmark?'lxp-bookmark':filterkey==='Bookmarked'? 'lxp-bookmark':'lxp-bookmark-o'"></i> {{topicInfo?.bookmark?'Bookmarked': filterkey==='Bookmarked'? 'Bookmarked':'Add to Bookmark'}}
                 </button>
                 <button *ngIf="userType!=='collegeconnect'" type="button" [disabled]="batchEndTime<currentDate" ngClass="btn btn-outline-light" (click)="openAskQuestions(askQuestions)">
                     <i class="lxp-lifebuoy"></i> Ask Questions
                 </button>
             </div> -->
        </div>
    </div>
</div>
<ng-template #resourseWindow>
      <mat-dialog-content (contextmenu)="contextmenu()" class="no_padding no_margin popupTab">
        <div class="popupContainer">
            <div class="closeSection">
                <em (click)="closedialogbox()" class="lxp-Close"></em>
            </div>
            <div class="d-flex rescontentHeight">
                <div class="resourseToc" [ngClass]='!content?.noresource?"d-flex justify-content-start flex-column":""'>
                    <h4>{{'Resources' | translate}}</h4>
                    <ng-container *ngIf="content?.noresource">
                        <ng-container  *ngFor="let res of content?.coursedetails; let i = index">
                            <mat-card class="resource-card" *ngIf="res.resValue" [ngClass]="res.isOpen?'activeTab':'inActiveTab'">
                                <mat-card-title class="d-flex justify-content-start align-items-center pointer" (click)="resourseAccord(content?.coursedetails, i);">
                                    <div class="arrow">
                                        <em class="lxp-Arrow" [ngClass]="res.isOpen?'arrowUp':'arrowDown'"></em>
                                    </div>
                                    <div class="module">
                                        <span>{{'Module' | translate}}</span>
                                        <h4>{{res?.modulename}}</h4>
                                    </div>
                                </mat-card-title>
                                <div *ngIf="res.isOpen">
                                    <ng-container *ngFor="let mod of res?.moduledetails">
                                        <mat-card-subtitle>
                                            <h5 mat-line class="modTopName" [title]="mod?.topicname" *ngIf="mod.resourse?.files.length">
                                                {{mod?.topicname}}
                                            </h5>
                                        </mat-card-subtitle>
                                        <mat-card-content>
                                            <mat-card class="handPointer d-flex justify-content-start" mat-ripple (click)="urlBinder(file); add_topic_reference(res); cloneTemplate(mod.topicname,res?.modulename)" *ngFor="let file of mod.resourse?.files">
                                                <div class="mr-2">
                                                    <img *ngIf="file.doc_type == 'application/pdf'" class="size" alt=""
                                                        src="https://assets.lntedutech.com/application_images/PDF_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'link'" class="size" alt="" src="https://assets.lntedutech.com/application_images/Link_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                                        class="size" alt="" src="https://assets.lntedutech.com/application_images/Excel_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'image/jpeg' || file.doc_type == 'image/png'" class="size" alt=""
                                                        src="https://assets.lntedutech.com/application_images/Image_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"
                                                        class="size" alt="" src="https://assets.lntedutech.com/application_images/PPT_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                                                        class="size" alt="" src="https://assets.lntedutech.com/application_images/Word_Icon.svgWord_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'application/msword'" class="size" alt=""
                                                        src="https://assets.lntedutech.com/application_images/Word_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'application/vnd.ms-excel'" class="size" alt=""
                                                        src="https://assets.lntedutech.com/application_images/Excel_Icon.svg">
                                                    <img *ngIf="file.doc_type == 'video/mp4'" class="size" style="width: 16px;" alt="" src="https://assets.lntedutech.com/application_images/Video_Icon.svg">
                                                    <mat-icon class="docType" *ngIf="file.doc_type == 'text/plain' "> {{'description' | translate}} </mat-icon>
                                                </div>
                                                <div>{{file.type_name}}</div>
                                            </mat-card>
                                        </mat-card-content>
                                        <div class="onMobileDevices" *ngIf="mod.showPreview">
                                            <div class="closeTemp" (click)="closeTemplate()"><em class="lxp-Close"></em></div>
                                            <div class="innerWrapper">
                                                <div class="previewContainerTitle">
                                                    <p>{{resourceName}}</p>
                                                </div>
                                                <ng-container *ngIf="isCancelLoad"></ng-container>
                                                <ng-container *ngIf="fileType == 'image'">
                                                    <div class="imageContainer d-flex justify-content-center align-items-center">
                                                        <img [src]="URIData" alt="image" />
                                                    </div>
                                                </ng-container>
                                            
                                                <ng-container *ngIf="(fileType == 'pdf'||fileType == 'link')&& URIData!==null">
                                                    <div class="pdfContainer">
                                                        <pdf-viewer [src]="URIData" [fit-to-page]="true" [render-text]="true" style="display: block;"></pdf-viewer>
                                                    </div>
                                                </ng-container>
                                            
                                                <ng-container *ngIf="fileType == 'video'">
                                                    <div class="videoContainer">
                                                        <video  oncontextmenu="return false;" [src]="URIData" title="" controls controlsList="nodownload"></video>
                                                    </div>
                                                </ng-container>
                                            
                                                <ng-container *ngIf="fileType == 'audio'" controlsList="nodownload">
                                                    <div class="audioContainer">
                                                        <audio oncontextmenu="return false;" class="audio-player" [src]="URIData" title="" width="100%" height="100%" controls controlsList="nodownload"></audio>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </mat-card>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!content?.noresource">
                        <div class="noResources">
                            <p>{{'No Resource found !!' | translate}}</p>
                        </div>
                    </ng-container>
                </div>

                <div class="previewContainer">
                    <div [ngClass]="!content?.noresource ? 'no':'yes'" class="previewRibbon">
                        <span>{{'Preview' | translate}}</span>
                    </div>
                    <div class="innerWrapper">
                        <div class="previewContainerTitle">
                            <p>{{resourceName}}</p>
                        </div>
                        <ng-container *ngIf="isCancelLoad"></ng-container>
                        <ng-container *ngIf="fileType == 'image'">
                            <div class="imageContainer d-flex justify-content-center align-items-center">
                                <img [src]="URIData" alt="image">
                            </div>
                        </ng-container>
                    
                        <ng-container *ngIf="(fileType == 'pdf'||fileType == 'link')&& URIData!==null">
                            <div class="pdfContainer">
                                <pdf-viewer [src]="URIData" [fit-to-page]="true" [render-text]="true" style="display: block;"></pdf-viewer>
                            </div>
                        </ng-container>
                    
                        <ng-container *ngIf="fileType == 'video'">
                            <div class="videoContainer">
                                <video  oncontextmenu="return false;" [src]="URIData" title="image" controls controlsList="nodownload"></video>
                            </div>
                        </ng-container>
                    
                        <ng-container *ngIf="fileType == 'audio'" controlsList="nodownload">
                            <div class="audioContainer">
                                <audio oncontextmenu="return false;" class="audio-player" [src]="URIData" title="image" width="100%" height="100%" controls controlsList="nodownload"></audio>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<ng-template #aboutCourseWindow>
    <mat-dialog-content (contextmenu)="contextmenu()" class="no_padding no_margin aboutpopupTab">
        <div class="aboutCourseContainer">
            <div class="closeSection">
                <em (click)="closedialogbox()" class="lxp-Close"></em>
            </div>
            <div class="aboutCourseTab">
                <h2>{{'About the Course' | translate}}</h2>
                <div class="descriptionContent">
                    <!-- <p id="courseDesc" [innerHTML]="course?.course_long_description">
                        <a href="javascript:;" *ngIf="!isReadMore && longDesc?.length>250" (click)="showText()"> More</a>
                        <a href="javascript:;" *ngIf="isReadMore" (click)="showText()"> Less</a>
                    </p> -->
                    <p>
                        <span id="courseDesc" class="hideDesc" [innerHTML]="course?.course_long_description"></span>

                        <span *ngIf="isReadMore" [innerHTML]="course?.course_long_description"></span>
                        <span *ngIf="!isReadMore" [innerHTML]="course?.course_long_description.slice(0,250)"></span>
                        <span *ngIf="!isReadMore && longDesc?.length>250">...</span> 
                        <a href="javascript:;" *ngIf="!isReadMore && longDesc?.length>250" (click)="showText()"> {{'More' | translate}}</a> 
                        <a href="javascript:;" *ngIf="isReadMore && longDesc?.length>250" (click)="showText()"> {{'Less' | translate}}</a>
                    </p>
                </div>
                <div class="instructorsWrapper" *ngIf="course?.author_details[0].author_name != ''">
                    <h2>{{'Instructors'| translate}}</h2>
                    <owl-carousel-o [options]="TopicsOptions">
                        <ng-template *ngFor="let author of course?.author_details" carouselSlide>
                            <div class="instructionBox">
                                <div class="d-flex justify-content-between">
                                    <figure>
                                        <img class="img-inst" [src]="author.image ? (author?.image + blobKey) : 'https://assets.lntedutech.com/application_images/pro2.png'" alt="" />
                                    </figure>
                                    <div class="authorDescription">
                                        <h5>{{author?.author_name | titlecase| translate}}</h5>
                                        <p>{{author?.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                   
                </div>
                <div class="poweredBy">
                    <!-- <h2>Course offered by: <span><img src="/assets/images/lNTlogo.svg" alt="" /></span></h2> -->
                    <h2>{{'Course offered by:' | translate}} <span><img src="https://assets.lntedutech.com/edutech_logo.svg" alt="" /></span></h2>
                </div>
            </div>
        </div>
    </mat-dialog-content>
</ng-template>

<ng-template #askQuestions id="askQuestions">
    <div class="askQuestionsContainer" style=" position: relative !important;">
        <div class="qaClose cursor-pointer"><em (click)="askqaTabs.selectedIndex = 0; closeAskQuestion()" class="lxp-Close"></em></div>
        <mat-tab-group #askqaTabs [(selectedIndex)]="selectedQATabIndex" (selectedTabChange)="questionTabSelection($event)">
            <mat-tab label="Ask A Question">
                <div class="questionInput align-content-center">
                    <p>{{'Your Question:' | translate}}</p>
                    <textarea [(ngModel)]="questionText"></textarea>
                    
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary-outline mr-10px" (click)="closeAskQuestion()">{{'Cancel' | translate}}</button>
                    <button class="btn btn-primary" (click)="submitMyQuestion()">{{'Submit Question' | translate}}</button>
                </div>
            </mat-tab>
            <mat-tab label="My Q&A">
                <div class="myQuestions" *ngIf="myQuestionList.length;else noitems">
                    <div class="qaBox" *ngFor="let item of myQuestionList">
                        <div class="QuestionMeta">
                            <p>{{'Asked on' | translate}} {{item.askDate}},&nbsp;{{item.askTime}}</p>
                        </div>
                        <p class="quesiton">{{item.que}}</p>
                        <div class="QuestionMeta">
                            <div class="font-weight-lighter" [ngClass]="item.ansDate?'badge-success':'badge-warning'">{{item.ansDate?'Answered':'Unanswered'}} </div>
                            &nbsp;<p *ngIf="item.ansDate">{{item.ansDate}}, &nbsp;{{item.ansTime}}</p>
                            
                        </div>
                        <p class="answer" *ngIf="item.ansDate">{{item.ans}}</p>
                        <!-- <div class="QuestionMeta" *ngIf="item.ansDate">
                            <p>Answered on {{item.ansDate}}</p>
                        </div> -->
                    </div>
                </div>
                <ng-template #noitems>
                    <div  class="myQuestions d-flex align-items-center justify-content-center">
                        {{isQALoading? translate.instant('Loading...') : translate.instant('You have not asked any questions!')}}
                    </div>
                </ng-template>
                
            </mat-tab>
            <mat-tab label="All Q&A">
                <div class="d-flex justify-content-end" *ngIf="allQuestionList.length">
                    <div class="m-t-10"><span>{{'Sort by:' | translate}} &nbsp;</span> 
                        <select class="sel-pad" [(ngModel)]="qaFilterKey" (change)="filterQAList()">
                            <option [value]="-1" selected="true">{{'Newest' | translate}}</option>
                            <option [value]="1">{{'Oldest' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="myQuestions" *ngIf="allQuestionList.length;else noallitems">
                    <div class="qaBox" *ngFor="let item of allQuestionList">
                        <!-- <div class="userAccount"><i class="lxp-AccountCircle"></i>&nbsp; {{item.user_id}}</div> -->
                        <span class="userAccount"><em class="lxp-AccountCircle align-text-bottom font-weight-bold"></em>&nbsp;<span class="font-weight-bold">{{item.user_id}}</span></span>&nbsp;|&nbsp;
                        <span class="QuestionMeta d-inline-flex">
                        <p>{{'Asked on:' | translate}} &nbsp;{{item.askDate}},&nbsp;{{item.askTime}}</p>
                    </span>
                        <p class="quesiton">{{item.que}}</p>
                        <div class="QuestionMeta">
                            <div class=" badge-success font-weight-lighter">Answered</div>
                            <p>&nbsp; {{item.ansDate}},&nbsp;{{item.ansTime}}</p>
                        </div>
                        <p class="answer"*ngIf="item.ansDate">{{item.ans}}</p>
                        <!-- <div class="QuestionMeta">
                            <p>{{item.ansDate}}</p>
                        </div> -->
                    </div>
                    
                </div>

                <ng-template #noallitems>
                    <div  class="myQuestions d-flex align-items-center justify-content-center">
                        {{isQALoading?'Loading...':'No questions asked on this topic.'}}
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-template>

<ng-template #skeletonLoader>
<div class="item">
    <mat-card class="courseDetailSkeleton" style="box-shadow: none !important;">
        <div class="breadcrumbskeleton">
            <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
        </div>
        <div class="d-flex justify-content-between">
            <div class="item" style="width: 30%;">
                <div class="d-flex justify-content-between">
                    <ngx-skeleton-loader [theme]="{'background-color': '#888888'}" appearance="circle" animation="pulse" [theme]="{width: '190px',height: '120px','border-radius': '10px'}"></ngx-skeleton-loader>
                    <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', width: '150px', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                </div>
                <div class="item">
                    <ngx-skeleton-loader count="12" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            
            <div class="item" style="width: 69%;">
                <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ border: '2px solid #888888', height: '436px', 'background-color': 'transparent', 'border-radius': '10px' }"></ngx-skeleton-loader>
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div class="item d-flex justify-content-between" style="width: 40%;">
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div class="item d-flex justify-content-between" style="width: 40%; text-align: right;">
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" animation="pulse" [theme]="{ 'border-radius': '0', height: '20px', width: '150px', 'background-color': '#888888', 'border-radius': '10px' }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
</ng-template>

<ng-template #questionDialog>
    <div class="d-flex justify-content-between titleMargin" (contextmenu)="contextmenu()">
        <div class="font-weight-bold">
            <h2>{{'Ask A Question' | translate}}</h2>
        </div>
        <div><em (click)="dialogClose()" class="lxp-Close pointer"></em></div>
    </div>
    <div class="dialogContent" (contextmenu)="contextmenu()">

        <div>
            <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
        </div>
        <!-- <div [innerHTML]="htmlContent"></div> -->
        <div>
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Notify by e-mail for incomming answers</label>
            </div> -->
        </div>
        <div class="d-flex justify-content-between cancelSubmit">
            <button class="btn btn-outline-dark btn-block" (click)="dialogClose()">{{'Cancel' | translate}}</button>
            <button class="btn btn-danger btn-block" (click)="createQuestion()">{{'Submit Question' | translate}}</button>
        </div>
    </div>
</ng-template>