<app-header></app-header>

<div class="section_1"></div>
<mat-card style="text-align: center;" class="section_1_card_1"></mat-card>
<mat-card style="text-align: center;" class="section_1_card_2">
    <mat-card-title> <span class="icon">ICON 600</span>
        <span class="price_striked">Rs 70000</span>
        <span class="percent_off"> 90% Off </span>
    </mat-card-title>
    <mat-card-content>
        <p class="day_left"><i class="fa fa-hourglass" style=" -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;" aria-hidden="true"></i>1 day left at this price</p>
        <div> <button mat-raised-button class="add_to_cart">ADD TO CART</button></div><br>
        <div><button mat-raised-button class="buy_now">BUY NOW</button></div><br>
        <div>
            <button mat-raised-button class="share_text"><i class="fa fa-share" aria-hidden="true"></i>Share</button>
            <button mat-raised-button class="share_text"><i class="fa fa-heart" aria-hidden="true"></i>Wishlist</button>
        </div>
    </mat-card-content>
    <br>
    <br>
</mat-card>
<div class="section_1_a">
    <p class="course_name">Online Photography Course </p>
    <bar-rating [readOnly]="true" [rate]="3" [max]="5"></bar-rating>
    <p class="course_desc">I'm trying to blur the background image, but the main content is blurred too blur the
        background image</p>
    <table>
        <tr>
            <td> Already enrolled</td>
            <td><i class="fa fa-address-card" style="background-color: #f8f9fa;
                width: 18%;
                font-size:18px;
                border-radius: 50px;
                padding: 10px;"></i> Certificate</td>
            <td> <i class="fa fa-refresh" style="background-color: #f8f9fa;
                width:17%;
                font-size:20px;
                -webkit-text-stroke-color: black; 
                border-radius: 50px;
                padding: 10px;"></i>Self Placed</td>
        </tr>
        <tr>
            <td> Last updated</td>
            <td> <i class="fa fa-language" style="background-color: #f8f9fa;
                width: 18%;
                font-size:25px;
                -webkit-text-stroke-color: black; 
                border-radius: 50px;
                padding: 8px;"></i>English</td>
        </tr>
    </table>
    <i class="fa fa-play" aria-hidden="true" style="-webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black; color : black;font-size: 50px;background-color: #f8f9fa;
            width: 10%;
            border-radius: 50px; 
            padding: 15px 15px 15px 27px;margin-top: 3% !important;" (click)="coursePlay()"></i>

    <div class="course_preview">
        <h1>Course <br> Preview</h1>
    </div>

    <div class="partner_image_div">
        <img src="../../../../assets/learner/1.jpg" class="partner_img">
        <img src="../../../../assets/learner/1.jpg" class="partner_img">
        <img src="../../../../assets/learner/1.jpg" class="partner_img">
    </div>
</div>

<div class="wrap_content">
    <div class="tabs">
        <button mat-raised-button (click)="scroll(About)">About</button>
        <button mat-raised-button (click)="scroll(Take_away)">Take aways</button>
        <button mat-raised-button (click)="scroll(Syllabus)">Syllabus</button>
        <button mat-raised-button (click)="scroll(Review)">Review</button>
        <button mat-raised-button (click)="scroll(Instructor)">Instructor</button>
        <button mat-raised-button (click)="scroll(FAZ)">FAQ</button>
    </div>

    <br>
    <div #About class="about_tab">
        <h2>Details About Course</h2>
        <!-- <tr>
            <th>
                <h2 style="width: 50%;">Details About Course</h2>
            </th>
            <th>
                <h2 style="width: 50%;">Details About Course</h2>
            </th>
        </tr> -->
        <table>
      
            <tr>
                <td style="width: 20%;font-size: 15px;font-weight: 400;">Course Instructor</td>
                <td style="width: 40%;font-size: 15px;font-weight: 400;">Ajay</td>
                <td style="width: 10%;"></td>
                <td style="width: 5%;"><i class="fa fa-language" style="background-color: #f8f9fa;
                width: 18%;
                font-size:25px;
                -webkit-text-stroke-color: black; 
                border-radius: 50px;
                padding: 8px;"></i></td>
                <td style="font-size: 15px;font-weight: 400;">20 hrs demand</td>
            </tr>
            <tr>
                <td class="tr_w_1">Pre Requisite</td>
                <td class="tr_w_2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td style="width: 10%;"></td>
                <td class="tr_w_4"><i class="fa fa-language" style="background-color: #f8f9fa;
                width: 18%;
                font-size:25px;
                -webkit-text-stroke-color: black; 
                border-radius: 50px;
                padding: 8px;"></i></td>
                <td class="tr_w_5">20 hrs demand</td>
            </tr>
            <tr>
                <td class="tr_w_1">Course Description</td>
                <td class="tr_w_2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries</td>
                <td style="width: 10%;"></td>
                <td class="tr_w_4"><i class="fa fa-language" style="background-color: #f8f9fa;
                width: 18%;
                font-size:25px;
                -webkit-text-stroke-color: black; 
                border-radius: 50px;
                padding: 8px;"></i></td>
                <td class="tr_w_5">20 hrs demand</td>
            </tr>
        </table>
    </div>
    <br> <br>
    <div #Take_away class="">
      <h1>  TAKE AWAY</h1>
        </div>
</div>
