@import "variable";
.instructorLedWrapper {
  padding: 0;
  display: flex;
  background-color: $grey1;
  flex-direction: column;
  @media only screen and (min-width: 992px) {
    flex-direction: row;
    overflow: hidden;
  }
  .leftContainer {
    background-color: $grey1;
    z-index: 1;
    padding: 10px 0 0 0;
    width: 100%;
    @media screen and (min-width: 992px) {
      width: calc(100% - 360px);
    }
    @media screen and (min-width: 1140px) {
        width: calc(100% - 400px);
    }
    @media screen and (min-width: 1540px) {
        width: calc(100% - 500px);
    }
    .wrapper {
      height: auto;
      padding: 0 0 20px 0;
      background-color: #f2f2f2;
      @include lg {
        overflow: auto;
        height: calc(100vh - 122px);
      }
    }
  }
  
  .rightContainer {
    box-shadow: 0 0 2px 0 $blackshade3;
    background-color: $color-white;
    z-index: 2;
    padding: 15px;
    width: 100%;
    @media screen and (min-width: 992px) {
      padding: 20px 15px;
      width: 360px;
      height: calc(100vh - 112px);
      position: fixed;
      top: 72px;
      right: 0;
    }
    @media screen and (min-width: 1140px) {
      padding: 20px;
      width: 400px;
    }
    @media screen and (min-width: 1540px) {
      width: 500px
    }
  }
}

::ng-deep.industryTalkTabs {
  .mat-tab-label {
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 400;
    color: $grey3;
    padding: 0;
    opacity: 1;
    min-width: auto;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    &.mat-tab-label-active {
      color: $lightgrey;
      &::before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: $lightred;
        border-radius: 50%;
      }
    }
  }
  .mat-tab-header {
    border-bottom: 0;
    margin-bottom: 5px;
  }
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-body {
    overflow-y: auto;
    @media only screen and (min-width: 992px) {
        height: calc(100vh - 210px);
    }
    // @media only screen and (min-width: 1200px) {
    //     height: calc(100vh - 195px);
    // }
    @media only screen and (min-width: 1540px) {
        height: calc(100vh - 230px);
    }
  }
}

.container {
  padding-top: 20px;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: $lxp-theme-green;
    color: $color-white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
}

.text {
  margin: auto;
  padding-left: 40px;
  padding-top: 15px;
  h6 {
    padding-top: 15px;
  }
}

.formLayout {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}
.breadcrumbPading {
  padding: 15px 0;
  width: 100%;
}
.breadcrumb {
  margin: 0;
  padding: 0 20px !important;
  background-color: transparent !important;
  li {
    color: $label2;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    margin-right: 0;
    .bar {
      color: $lxp-theme-green !important;
      display: inline-block;
      margin: 0 10px;
    }
    em {
      display: inline-block;
      transform: scale(-1);
      color: $color-lightGray;
      margin-right: 8px;
      cursor: pointer;
    }
    //   &::after {
    //     content: "/";
    //     position: absolute;
    //     right: -10px;
    //     top: auto;
    //     bottom: auto;
    //     color: $lxp-theme-green;
    //   }
    .name {
      color: $lxp-text;
      font-size: 14px;
    }
    .breadCrumbTopic {
      font-size: 14px;
      font-weight: 500;
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
}
// .imgLayout {
//     background-color: #346f83;
//     // height: 288px;
//     border-radius: unset;
//     padding: 0;
//     @media only screen and (max-width: 600px) {
//         box-shadow: none;
//     }


.video1Container{
  width: 100%;
  height: auto;
  @include sm {
    height: 365px;
  } 
  @include md {
    height: 370px;
  }
  @include lg {
    height: 410px;
  }
  @media (min-width: 1440px) {
    height: 550px;
  }
}
.moduleImage {
  padding: 0 15px;
  position: relative;
  width: 100%;
  @media (min-width: 1200px) {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }
  .liveSession {
    position: relative;
    width: 100%;
    figure {
      display: flex;
      position: relative;
      .overlayImage {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        img {
          width: 49%;
          @include sm {
            width: 47%;
          }
          @include md {
            width: 45%;
          }
          @include xl {
            width: 43%;
          }
          @media only screen and (min-width: 1540px) {
            width: 41%;
          }
        }
      }
      .overlayContent {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        > div {
          display: none;
          @include lg {
            display: block;
          }
        }
        @include lg {
          top: auto;
          left: 3%;
          transform: initial;
          bottom: 2vh;
          text-align: left;
        }
        @include xl {
          bottom: 4.5vh;
        }
        @media only screen and (min-width: 1540px) {
          bottom: 10vh;
        }
        h4 {
          font-size: 18px;
          font-weight: 500;
          color: $color-white;
          line-height: normal;
          margin-bottom: 25px;
        }
        .commonStyle {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          em {
            color: $color-white;
            font-size: 14px;
            margin-right: 8px;
          }
          span {
            font-size: 14px;
            font-weight: 300;
            color: $color-white;
            line-height: normal;
          }
        }
        .playButton {
          margin-top: 10px;
          display: inline-flex;
          button {
            font-size: 16px;
            font-weight: 500;
            color: $color-white;
            background-color: $lightred;
            border-radius: 25px;
            border: 1px solid $color-white;
            opacity: 1;
            padding: 8px 24px;
            display: flex;
            align-items: center;
            .lxp-Play_Icon {
              margin-right: 6px;
            }
          }
        }
      }
    }
    .sessionImage {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 275px;
      @include sm {
        height: 365px;
      } 
      @include md {
        height: 370px;
      }
      @include lg {
        height: 410px;
      }
      @media (min-width: 1440px) {
        height: 550px;
      }
    }
  }

  .sessionDetails {
    padding: 20px 0;
    .sessionTitle {
      text-align: left;
      letter-spacing: 0px;
      font-size: 15px;
      color: $blackcolor;
      opacity: 1;
      width: 100%;
      text-overflow: ellipsis;
      display: inline-block;
      @media only screen and (max-width: 600px) {
        color: $blackcolor;
        margin-bottom: 0;
      }
    }

    .timingDetails {
      font-size: 12px;
      position: relative;
      margin: 0 10px 0 0;
      padding-right: 10px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        background-color: $greycolorshade;
        width: 1px;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      .sessionDate {
        line-height: 24px;
        color: $label2;
        .lxp-Duration {
          color: $blueshadecolor;
          margin-right: 5px;
        }
        .dateTitle {
          color: $color-lightGray;
        }
      }
      .sessionDuration {
        line-height: 24px;
        color: $label2;
        .lxp-Clock {
          color: $blueshadecolor;
          margin-right: 5px;
        }
        .durationTitle {
          color: $color-lightGray;
        }
      }
      .sessionModule {
        line-height: 24px;
        color: $label2;
        .lxp-Todo_task {
          color: $blueshadecolor;
          margin-right: 5px;
        }
        .ModuleTitle {
          color: $color-lightGray;
        }
      }
    }
  }
}

// .moduleContent {
//     margin-left: 10%;
//     padding-left: 60px;
//     padding-top: 10px;
//     @media only screen and (max-width: 600px) {
//         width: 100%;
//         padding: 10px;
//         background-color: $color-white;
//         margin-left: 0;
//         border: 1px solid #cdcdcd;
//     }

//     }
// }
.p-t-20 {
  padding-top: 20px !important;
}
.smallContainers {
  // margin: 25px -15px 0 -15px !important;
  margin: 20px 0 !important;
  row-gap: 20px;
  flex-direction: column;
  @include sm {
    flex-direction: row;
  }
  @media only screen and (min-width: 720px){
    // margin: 15px -15px 0 -15px !important;
    margin: 15px 0 !important;
    // flex-wrap: wrap;
  }
}
.sessionAttendance {
  margin-top: 25px;
}
.image-container {
  position: relative;
  text-align: center;
  width: 36%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @include xl {
      object-position: left;
    }
  }
}
.content-container {
  width: 64%;
  padding: 15px;
  h4, h5 {
    margin: 0 0 8px 0;
    line-height: normal;
  }
  h4 {
    font-size: 13px;
    font-weight: 700;
    color: $gerycolor;
  }
  h5 {
    font-size: 12px;
    font-weight: 400;
    color: $label2;
    span {
      color: $grey3;
      margin-right: 3px;
    }
  }
  &.active {
    background-color: $blueshadecolor;
    h4, h5 {
      color: $color-white;
    }
    h5 {
      span {
        color: $color-white;
      }
    }
  }
}

// .content-container:hover {
//   color: white;
//   background-color: $blueshadecolor;
//   border: 0.5px solid #848484;
//   transition: 0.2s ease;
// }

// .active {
//   color: white !important;
//   background-color: $blueshadecolor;
//   border: 0.5px solid #848484;
// }

// .active:hover .activity-name {
//   color: white;
//   transition: 0.2s ease;
// }

// .active:hover .hover-content {
//   color: white;
//   transition: 0.2s ease;
// }

// .content-container:hover .activity-name {
//   color: white;
//   transition: 0.2s ease;
// }

// .content-container:hover .hover-content {
//   color: white;
//   transition: 0.2s ease;
// }

.rightWrapper {
  width: 100%;
}

.rec-center {
  position: absolute !important;
  color: $color-white !important;
  font-size: 40px !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%,-50%);
  width: 40%;
  height: 40%;
}
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $color-white;
  padding: 1px 14px;
  font-size: 13px;
  &.orange {
    background: $yellow1;
  }
  &.grey {
    background: $greyshade;
  }
  &.greenColor {
    background: $color-text-success;
  }
  &.rec-col {
    background: $lightblue1;
  }
}
.course-list {
  height: 840px;
  overflow: scroll;
  @media only screen and (max-width: 767px) {
    height: 100%;
    overflow: scroll;
  }

  // overflow-x: hidden;
  // overflow-y: scroll;
  @media only screen and (max-width: 576px) {
    // border-top: 1px solid #cdcdcd;
    // margin-top: 15px;
  }
  @media only screen and (min-width: 992px) {
    margin: 0 3% !important;
  }
}
.attendanceWrapper {
  margin-top: 30px;
  @media only screen and (max-width: 576px) {
    display: none;
  }
}
.attandanceShow {
  display: block;
  background-color: transparent;
  border-color: $lxp-theme-green !important;
  border-radius: initial;
  border-width: 2px;
  padding: 2px 10px;
  color: $blackcolor !important;
  font-size: 14px;
  &:active {
    background-color: transparent !important;
  }
  &:focus {
    box-shadow: none;
  }
  @media only screen and (min-width: 577px) {
    display: none;
  }
}
.headingWrapper {
  // width: 100%;
  // margin: 10px 0 15px 0;
  @media only screen and (max-width: 576px) {
    margin: 10px 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.sessionCard {
  width: -webkit-fill-available;
  border-radius: 5px;
  color: $blackcolor;
  padding: 0;
  margin-bottom: 12px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
  overflow: hidden;
  @media only screen and (max-width: 991px) {
    margin-bottom: 15px;
  }
}

.smallContainer {
  border-radius: 5px;
  background: $light-grey 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px $blackshade;
  // font-size: 20px;
  padding: 10px;
  width: 31%;
  align-items: center;
  // @media (min-width: 521px) {
  //   padding: 10px;
  //   width: 31%;
  // }
  @media only screen and (max-width: 620px) {
    width: 100%;
  }
  @media only screen and (min-width: 720px) {
    padding: 10px;
    // width: 47%;
  }
}

.iconWrap {
  width: 19%;
  @include sm {
    width: 30%;
  }
  @include md {
    width: 27%;
  }
  @include lg {
    width: 31%;
  }
  @include xl {
    width: 37%;
  }
  @media (min-width: 1440px) {
    width: 20%;
  }
}

.countWrap {
  width: 76%;
  margin-left: 5%;
  @include sm {
    width: 65%;
  }
  @include md {
    width: 62%;
  }
  @include lg {
    width: 64%;
  }
  @include xl {
    width: 58%;
  }
  @media (min-width: 1440px) {
    width: 75%;
  }
}

.LightBlueCircle {
  border-radius: 50%;
  background: $lightshadeblue;
  width: 50px;
  height: 50px;
  // font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 992px) {
    width: 45px;
    height: 45px;
  }

  @media (min-width: 1200px) {
    width: 70px;
    height: 70px;
  }
  .lxp-video-tutorial-1 {
    font-size: 25px;
    color: $color-white;
    @media (min-width: 576px) {
      font-size: 25px;
    }

    @media (min-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 992px) {
      font-size: 27px;
    }

    @media (min-width: 1200px) {
      font-size: 40px;
    }
  }
}

.YellowGreenCircle {
  border-radius: 50%;
  background: $greenshade;
  width: 50px;
  height: 50px;
  // font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 992px) {
    width: 45px;
    height: 45px;
  }

  @media (min-width: 1200px) {
    width: 70px;
    height: 70px;
  }
  .lxp-students {
    font-size: 25px;
    color: $color-white;
    @media (min-width: 576px) {
      font-size: 25px;
    }

    @media (min-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 992px) {
      font-size: 27px;
    }

    @media (min-width: 1200px) {
      font-size: 40px;
    }
  }
}

.FunBlueCircle {
  border-radius: 50%;
  background: $blue;
  width: 50px;
  height: 50px;
  // font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 576px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 992px) {
    width: 45px;
    height: 45px;
  }

  @media (min-width: 1200px) {
    width: 70px;
    height: 70px;
  }
  .lxp-recorded_videos {
    font-size: 25px;
    color: $color-white;
    @media (min-width: 576px) {
      font-size: 25px;
    }

    @media (min-width: 768px) {
      font-size: 25px;
    }

    @media (min-width: 992px) {
      font-size: 23px;
    }

    @media (min-width: 1200px) {
      font-size: 33px;
    }
  }
}

.smallContainer1 {
  // height: 96px;
  /* width: 223px; */
  /* background-color: orangered; */
  /* margin-left: 15px; */
  border-radius: unset;
  background: $orangecolor1 0% 0% no-repeat padding-box;
  font-size: 20px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
  }
}

.smallContainer2 {
  // height: 96px;
  /* width: 223px; */
  background: $color-text-success 0% 0% no-repeat padding-box;
  /* margin-left: 9.5%; */
  border-radius: unset;
  font-size: 20px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
  }
}

.smallContainer3 {
  // height: 96px;
  /* width: 223px; */
  background: $lightblue 0% 0% no-repeat padding-box;
  /* margin-left: 9.5%; */
  border-radius: unset;
  font-size: 20px;
  @media only screen and (max-width: 576px) {
    padding: 10px;
  }
}

.tableCol {
  text-align: center !important;
}

// .tableHeader1 {
//   @media screen and (max-width: 1268px) {
//     width: 16%;
//   }
// }

.mat-card-subtitle {
  color: $color-white;
}
.attendance-table {
  // overflow: auto;
  table {
    /* background: $color-white 0% 0% no-repeat padding-box;
        border: 0.5px solid #898989;
        opacity: 1; */
    /* margin-left: 15px; */
    /* padding-right: 10px;
        padding-left: 15px; */
    // min-width: 320px;
    width: 100%;
    tr {
      th {
        padding: 10px 20px;
        background-color: $bread-crumb-bg ;
        color: $label2;
        text-align: left;
        font-size: 12px;
        &:first-child {
          @media only screen and (max-width: 576px) {
            display: none;
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: $color-white;
        }
        &:nth-child(odd) {
          background-color: $color-white;
        }
      }
    }
    tr {
      td {
        padding: 10px 20px;
        line-height: normal;
        text-align: left;
        font-size: 14px;
        &:first-child {
          @media only screen and (max-width: 576px) {
            display: none;
          }
        }
      }
    }
  }
  td,
  th {
    // background: $color-white 0% 0% no-repeat padding-box;
    // border: 0.5px solid #898989;
    opacity: 1;
    text-align: center;
  }
}

// .listofSessionCards {
//     @media only screen and (max-width: 768px) {
//         width: 48%;
//     }
// }
.redHover:hover {
  color: $lxp-theme-green !important;
}

.backIc {
  width: 10px !important;
  margin-left: 10px !important;
}
.headLine {
  text-align: left;
  letter-spacing: 0px;
  color: $blackcolor;
  margin: 0 0 5px 0;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  @media only screen and (max-width: 992px) {
    margin: 0 0 5px 0;
  }
  @media only screen and (max-width: 573px) {
    margin: 0;
    padding: 0;
  }
}

.date-duration {
  align-items: center;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
  // width: 355px;
  // @media only screen and (max-width: 1024px) {
  //   width: 300px;
  // }
}

.headLine1 {
  text-align: left;
  letter-spacing: 0px;
  color: $light-grey;
  opacity: 1;
}

.gap {
  margin-right: 10.6%;
}

.tableHeadline {
  text-align: left;
  letter-spacing: 0px;
  color: $lxp-icon;
  opacity: 1;
  font-size: 17px;
  margin-bottom: 10px;
}

.smallHeadline {
  text-align: left;
  letter-spacing: 0px;
  color: $label2;
  opacity: 1;
  margin: 0 !important;
  font-size: 12px;
  line-height: 1.7;
  // margin-bottom: 15px;
  font-size: 15px;
  @media (min-width: 576px) {
    font-size: 12px;
    line-height: 1.7;
  }

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }

  @media (min-width: 992px) {
    font-size: 10px;
    line-height: 1.7;
  }

  @media (min-width: 1200px) {
    font-size: 11px;
    line-height: 1.7;
  }
}

.tblheaderFont {
  text-align: left;
  letter-spacing: 0px;
  color: $label2;
  opacity: 1;
}

// No Card
.noCard {
  text-align: center;
  figure {
    margin: 45px 0 15px 0;
  }
  p {
    font-size: 16px;
    color: $blackcolor;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px ​ !important;
  }
}
.mat-card-image {
  width: 45px;
  height: 31px;
  margin: 0;
  // margin-left: 80%;
  // margin-top: -30px;
  @media only screen and (max-width: 576px) {
    width: 25px;
    height: 24px;
  }
}
.number {
  /* margin-left: 2px;
    margin-top: -20px; */
  // margin-top: -12%;
  text-align: left;
  letter-spacing: 0px;
  color: $blackcolor;
  opacity: 1;
  font-size: 20px;
  font-weight: bolder;
  @media (min-width: 576px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 992px) {
    font-size: 17px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.noRecords {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}
.noData {
  text-align: left;
  letter-spacing: 0px;
  color: $label2;
  opacity: 1;
  box-shadow: none;
  font-size: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
}
.noSessionCard {
  margin-top: 13%;
  // background: #F7FBFF 0% 0% no-repeat padding-box;
  // box-shadow: 0px 3px 6px $blackshade;
  // border: 0.5px solid $greycolorshade;
  border-radius: 0;
  opacity: 1;
  text-align: center;
  padding-bottom: 8px !important;
  padding-right: 0px !important;

  background: $light-grey  0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px $blackshade;
  opacity: 1;
  border-left: 3px solid $lxp-status-yellow !important;
  width: fit-content;
}

.noSessionImg {
  width: 45px;
  margin-left: 0%;
}

.mar-t-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.pad-t-2 {
  padding-top: 2px !important;
}

.noSessionCard .mat-card-image:first-child {
  margin-top: 0px;
}

.course-list .mat-nav-list {
  width: 100%;
}
::ng-deep.videoPopupContainer {
  height: auto !important;
  @media only screen and (min-width: 1140px) {
    height: 90% !important;
  }
  // @media only screen and (max-width: 750px) {
  // }
  .mat-dialog-container {
    position: relative;
    padding: 20px !important;
  }
}
.listofSessionContainer {
  width: 100% !important;
  // overflow-x: hidden;
  // overflow-y: auto;
}
.activity-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.tblrow {
  border: 0.4399999976158142px solid $colorgrey;
  border-left: none;
  border-right: none;
  opacity: 1;
  box-shadow: 0px 3px 6px $blackshade;
  // border-radius: 2px;
}