@import "variable";
.formLayout {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.imgLayout {
    background-color: #346f83;
    // height: 288px;
    border-radius: unset;
}
.p-t-20{
    padding-top: 20px !important;
}
.smallContainers {
    margin-left: -15px !important;
    margin-right: -15px !important;
}
.image-container{
    position: relative;
    text-align: center;
}
.bottom-right{
    position: absolute;
    bottom: 0px;
    color: white;
    background: green;
    right: 15px;
    padding: 4px;
}
.smallContainer1 {
    // height: 96px;
    /* width: 223px; */
    /* background-color: orangered; */
    /* margin-left: 15px; */
    border-radius: unset;
    background: #e2663d 0% 0% no-repeat padding-box;
    @media only screen and (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.smallContainer2 {
    // height: 96px;
    /* width: 223px; */
    background: #0c781b 0% 0% no-repeat padding-box;
    /* margin-left: 9.5%; */
    border-radius: unset;
    @media only screen and (max-width: 576px) {
        margin-bottom: 20px;
    }
}

.smallContainer3 {
    // height: 96px;
    /* width: 223px; */
    background: #399ce0 0% 0% no-repeat padding-box;
    /* margin-left: 9.5%; */
    border-radius: unset;
}

.mat-card-subtitle {
    color: white;
}
.attendance-table{
    overflow: auto;
    table {
        /* background: #ffffff 0% 0% no-repeat padding-box;
        border: 0.5px solid #898989;
        opacity: 1; */
        /* margin-left: 15px; */
        /* padding-right: 10px;
        padding-left: 15px; */
        min-width: 320px;
        tr {
            th {
                padding: 10px;
                background-color: #346f83;
                color: #ffffff;
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background-color: #ffffff;
                }
                &:nth-child(odd) {
                    background-color: #eef4f6;
                }
            }
        }
        tr {
            td {
                padding: 7px;
            }
        }
    }
    td,
    th {
        // background: #ffffff 0% 0% no-repeat padding-box;
        border: 0.5px solid #898989;
        opacity: 1;
        text-align: center;
    }
}
// .listofSessionContainer {
//     @media only screen and (max-width: 768px) {
//         display: flex;
//         justify-content: space-between;
//     }
// }
// .listofSessionCards {
//     @media only screen and (max-width: 768px) {
//         width: 48%;
//     }
// }
.sessionCard {
    border: 1px solid #dddddd;
    // height: 170px;
    width: -webkit-fill-available;
    /* background-color: #388E3C; */
    /* margin-left: 20%; */
    border-radius: unset;
    color: black;
    box-shadow: none;
}
.content-container {
    h4 {
        font-weight: bold;
        margin-bottom: 10px;
        @media only screen and (max-width: 576px) {
            margin-top: 10px;
        }
    }
    h5 {
        line-height: 24px;
        margin: 0;
    }
}

.redHover:hover {
    color: $lxp-theme-green !important;
}

.backIc {
    width: 10px !important;
    margin-left: 10px !important;
}
.display_flex {
    margin-bottom: 10px;
}
.headLine {
    text-align: left;
    font: normal normal bold 15px/18px Roboto Condensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 0 0 15px 0;
    @media only screen and (max-width: 992px) {
        margin: 30px 0 15px 0;
    }
}

.headLine1 {
    text-align: left;
    font: normal normal normal 19px/25px Roboto Condensed;
    letter-spacing: 0px;
    color: #f5f5f5;
    opacity: 1;
}

.gap {
    margin-right: 10.6%;
}

.tableHeadline {
    text-align: left;
    font: normal normal bold 13px/15px Roboto Condensed;
    letter-spacing: 0px;
    color: #5c6873;
    opacity: 1;
    font-size: 17px;
    margin-bottom: 10px;
}

.smallHeadline {
    text-align: left;
    font: normal normal normal 17px/20px Roboto Condensed;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 15px;
}

.sessionTitle {
    text-align: left;
    font: normal normal normal 19px/25px Roboto Condensed;
    letter-spacing: 0px;
    color: #f5f5f5;
    opacity: 1;
    /* margin-left: 2%; */
}

.tblheaderFont {
    text-align: left;
    font: normal normal normal 15px/18px Roboto Condensed;
    letter-spacing: 0px;
    color: #5c6873;
    opacity: 1;
}

.mat-card-image {
    width: 45px;
    height: 31px;
    margin: 0;
    // margin-left: 80%;
    // margin-top: -30px;
}

.number {
    /* margin-left: 2px;
    margin-top: -20px; */
    // margin-top: -12%;
    text-align: left;
    font: normal normal normal 23px/27px Roboto Condensed;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.actBtn {
    background: #c02222 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    color: white;
}

.noData {
    text-align: left;
    font: normal normal normal 23px/29px Roboto Condensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.noSessionCard {
    margin-top: 13%;
    // background: #F7FBFF 0% 0% no-repeat padding-box;
    // box-shadow: 0px 3px 6px #00000029;
    // border: 0.5px solid #707070;
    border-radius: 0;
    opacity: 1;
    text-align: center;
    padding-bottom: 8px !important;
    padding-right: 0px !important;

    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border-left: 3px solid #ffc107bf !important;
    width: fit-content;
}

.noSessionImg {
    width: 45px;
    margin-left: 0%;
}

.mar-t-12{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}
.pad-t-2{
    padding-top: 2px !important;
}

.noSessionCard .mat-card-image:first-child {
    margin-top: 0px;
}

.course-list .mat-nav-list {
    width: 100%;
}