@import "variable";

// forum CSS
:host ::ng-deep .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.commonBackStyle {
    width: 100%;
    display: inline-block;
    margin-bottom: 0 !important;
    &:hover {
        i, span {
            color: #C02222;
        }
        .courseNameBreadcrum {
          span, i {
            color: #333333;
            cursor: auto;
          }
        }
    }
    .backArrow {
        font-size: 6px;
        color: #231F20;
        font-weight: bold;
        transform: rotate(-90deg);
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    span {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: #999999;
        font-weight: lighter;
        margin-left: 5px;
    }
  }
  .courseNameBreadcrum {
    margin-left: 5px;
    display: inline-block;
    width: 81%;
    .pipeLine {
      display: inline-block;
      margin-right: 5px;
    }
    span {
      color: #333333;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      display: inline-block;
      &:nth-child(2) {
        min-width: 3%;
        // min-width: 12.50%;
        max-width: 30%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media only screen and (min-width: 768px) {
          max-width: 100%;
        }
      }
      &:last-child {
        margin-left: 0;
      }
    }
    i {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 8px;
        color: #333333;
        margin: 0 7px;
    }
}
.moduleHeadHight, .moduleName {
    width: 100% !important;
}
.moduleHeadHight {
    padding: 0 !important;
}
// Mythreyi CSS starts here
@media screen and (min-width: 320px) and (max-width: 760px) {
    .threadbutton {
        display: none !important
    }

    .plus_icon {
        color: $lxp-theme-green;
    }
}

@media screen and (min-width: 761px) {
    .plus_icon {
        display: none
    }
}

.backIc {
    width: 10px !important;
    margin-left: 10px !important;
}

.send_btn {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $lxp-theme-green; // red color
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.greyBor {
    border: 1px solid #dddddd;
}

.createThreadDialog {
    width: 900px;
}

::ng-deep .mat-dialog-container {
    padding: 30px !important;
    border-radius: 0 !important;
}

.mobileHoriz {
    display: none;
}

.moileView {
    display: none;
}

// / mobile
@media(min-width: 320px) and(max-width: 767px) {

    .mobileHoriz {
        display: block;
    }

    .moileView {
        display: block;
    }

    .createThreadDialog {
        width: 320px;
    }

    .forum-width {
        width: 100% !important;
    }

    .prevBtn {
        margin-left: 45%;
        position: relative;
    }

    .black_bo {
        border: 1px solid $color-border !important;
    }

    .black_bor {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    .bg_color {
        // margin-left: 18px !important;
        margin-left: 0 !important;
    }

    .courseTime {
        font-size: 16px;
        display: block;
    }

}

@media(min-width: 768px) and(max-width: 991.98px) {
    .createThreadDialog {
        width: 600px;
        position: relative;
    }
}

@media(min-width: 992px) and(max-width:1024px) {
    .createThreadDialog {
        width: 600px;
        position: relative;
    }
}

.inputs {
    border: 1px solid grey;
}

/deep/ .angular-editor-button[title="Undo"],
/deep/ .angular-editor-button[title="Redo"],
/deep/ .angular-editor-button[title="Strikethrough"],
/deep/ .angular-editor-button[title="Superscript"],
/deep/ .angular-editor-select[title="Formatting"],
/deep/ .angular-editor-button[title="Font Name"],
/deep/ .angular-editor-button[title="Subscript"],
/deep/ .angular-editor-button[title="Justify Left"],
/deep/ .angular-editor-button[title="Justify Center"],
/deep/ .angular-editor-button[title="Justify Right"],
/deep/ .angular-editor-button[title="Justify Full"],
/deep/ .angular-editor-button[title="Indent"],
/deep/ .angular-editor-button[title="Outdent"],
/deep/ .angular-editor-button[title="Heading"],
/deep/ .angular-editor-select[title="Font Name"],
/deep/ .angular-editor-button[title="Font Size"],
/deep/ .angular-editor-button[title="Text Color"],
/deep/ .angular-editor-button[title="Custom Classes"],
/deep/ .angular-editor-button[title="Background Color"],
/deep/ .angular-editor-button[title="Unlink"],
/deep/ .angular-editor-button[title="Clear Formatting"],
/deep/ .angular-editor-button[title="HTML Code"],
/deep/ .angular-editor-button[title="Insert Video"],
/deep/ .angular-editor-button[title="Toggle Editor Mode"],
/deep/ .angular-editor-button[title="Remove Format"],
/deep/ .angular-editor-button[title="Horizontal Line"] {
    display: none !important;
}

/deep/ .angular-editor-toolbar .angular-editor-toolbar-set {
    display: inline-block;
    /* border-radius: 5px; */
    background-color: transparent !important;
    margin-right: 0 !important;
    vertical-align: middle;
    border: none !important;
    margin-bottom: none !important;
}

/deep/ .angular-editor-toolbar .angular-editor-toolbar-set select {
    display: none !important;
}

/deep/ .angular-editor {
    border-right: none !important;
}

/deep/ .angular-editor img {
    width: 100% !important;
}

@media only screen and(min-width: 770px) {
    /deep/ .angular-editor img {
        width: 70% !important;
    }
}

.bg-blue {
    background-color: $lxp-theme-green; // red color
}

.dialogButtons {
    .mat-stroked-button {
        margin: 0 0 0 15px;
        padding: 0 25px;
        border-radius: 0 !important;
    }
}

// Mythreyi CSS ends here

// Kani CSS starts here

.thread-header {
    // background-color: #C9E4F35C;
    // background-image: linear-gradient(#C9E4F35C, rgba(244, 246, 247, 0.361));
    background-image: linear-gradient(#FFCC00, #faf5cb);
    box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 0.753);
    border-bottom: 1px solid $color-border;
}

.post-header {
    // background-color: #F1F1F1;
    background-image: linear-gradient(#e0dfdf, #f1f1f1);
    box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 0.753);
    border-bottom: 1px solid $color-border;
}

.child-post-header {
    // background-color: #F1F1F15C;
    background-image: linear-gradient(#f1f1f15c, #fafafa);
    box-shadow: 0 2px 5px 0 rgba(230, 230, 230, 0.753);
    border-bottom: 1px solid $color-border;
}


.pointerNone {
    pointer-events: none !important;
    opacity: 0.5;
}

.new_Thread {
    color: $color-white !important;
    border-radius: none !important;
    background-color: $lxp-theme-green; // red color
    border: none;
    // margin-right: 10px !important;
    float: right !important;
    margin-top: 2px;
}

.send-btn {
    color: $color-white !important;
    border-radius: none !important;
    background-color: $lxp-theme-green; // red color
    // width: 70px !important;
    height: 30px !important;
    display: inline-flex !important;
    align-items: center;

}


.no-radius {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.profileimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $lxp-theme-green; // red color
    cursor: inherit !important;
    color: $color-white;
    font-size: 18px;
    vertical-align: middle;
    border: none !important;
}

.color-blue {
    color: $lxp-theme-green; // red color
}

.black_border {
    border: 1px solid $color-border;
}

.m-b-10 {
    margin-bottom: 10px;
}

.action_icon {
    vertical-align: middle;
    padding-right: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-blank;
    -webkit-text-fill-color: $color-white;
    font-size: 20px;
}

.action_icon_filled {
    vertical-align: middle;
    padding-right: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $profile-t-grey;
    -webkit-text-fill-color: $lxp-theme-green; // red color
    font-size: 20px;
}

.p-l-0 {
    padding-left: 0 !important;
}

.discussion_forum {

    .spinner-container {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

}

.vrl {
    border-left: 1px solid #ccc;
}


// kani CSS ends here

// Jasper CSS starts here
.bg_color {
    background-color: $profile-t-grey;
    text-align: center;
}

.position_hgt {
    font-size: large;
    padding-top: 12px;
    font-weight: normal;
}

.position {
    padding-top: 2px;
    color: #7e7e7e !important;
}

.titlecolor {
    color: #333333;
}

.date_color {
    color: #7e7e7e !important;
}

.m-bt-4 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

.m-b-8 {
    margin-bottom: 6px !important;
}

.h-8 {
    height: 64px !important;
}

.box_shadow {
    transition: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    &.pointer {
        padding: 16px 0;
        .bg_color {
            p {
                margin-bottom: 0 !important;
                padding-bottom: 15px;
            }
        }
    }
}
.comment_card {
    .padding_matcard {
        padding: 5px 15px !important;
    }
}

.send_pos {
    margin-top: 42px;
    background: whitesmoke;
    border: 1px solid #dddddd;
    border-left: none;
    margin-top: 5px;
    text-align: center;
}

.black_bor {
    border: 1px solid $color-border;
}

.black_bo {
    border: none;
}

.alignment {
    padding-top: 15px !important;
    padding-bottom: 12px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-15 {
    margin-bottom: 15px;
}

.p-lr-30 {
    padding: 0 30px !important;
}

.m-auto-tb {
    margin-top: auto;
    margin-bottom: auto;
}

.padding_matcard {
    padding: 5px 30px !important;
}

.reset:hover {
    background-color: #f5f5f5 !important;
}

.redHover:hover {
    color: $lxp-theme-green !important;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brdcrmb {
    margin-top: -3px;
}
::ng-deep .mat-step-header[aria-labelledby="colWhite"] {
    box-sizing: border-box !important;
    height: 10px !important;
    .mat-step-icon {
        background-color: $color-white !important;
        // color: $color-white !important;
        border: 2px solid $color-border;
        height: 13px !important;
        width: 13px !important;
        position: relative;
        bottom: 1px;
        left: 6px;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content {
        color: transparent !important;
        display: none !important;
    }
}

.topicCard{
    margin: 10px 10px 10px 10px;
    padding: 10px !important;
    border-radius: 0px;
    border: 1px solid #cacaca;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
  //   box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  }

  .moduleName{
    color: #333333 !important;
  }

