@import "../../../../assets/variable.scss";

img {
    width: 76%;
    height: 45%;
    border: 1px solid lightgrey;
}
.status {
    // margin-top: 10px;
    width: 76%;
    color: white;
    letter-spacing:1px ;
    border-radius: 0px;
    height: 7vh;
    font-size: 15px;
    font-weight: 400;
}

.title {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500 !important;
    text-align: justify;
    width: 76%;
    text-align: initial;
    height: 13vh;
    margin-left: 12%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.8em;
}
.mat-progress-bar {
    display: block;
    height: 6px;
    overflow: hidden;
    position: relative;
    transition: opacity 250ms linear;
    width: 54%;
    margin-left: 24%;
    border-radius: 30px;
}
.rating {
    // margin-top: -7vh;
    display: flex;
    font-size: 13px;
    margin-left: 12%;
}
::ng-deep .br-default .br-unit {
    width: 6px !important;
    font-size: 20px;
}
.details {
    margin-top: 6.3%;
    width: 60%;
    font-size: 13.5px;
}
strong {
    margin-left: 5%; 
    margin-right: 10%; 
}
.price {
    float : right;
    margin-right: 0% !important; 
} 
.example {
    display: inline;
}

.content {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:white;
    background-color:$color-blue !important;
    width:70%;
    margin-left: 15%;
    height:45vh;
}

.example .content:hover { opacity:1; }      
.example .content .text {
    height:0;
    opacity:1;
}

.example .content:hover .text {
    opacity:1;
    margin-top: 10px;
}

.text {
    font-size: 11.5px;
}
.course_description {
    text-align: initial;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.bottomButtons {
    position: absolute;
    bottom: 0;
}