<div class="example">
  <div class="wishlst" (click) = "selectWishlist(course.course_id)"><img src = "../../../../assets/learner/key_down.svg"></div>
  <img *ngIf = "course.course_img_url != 'null'" src="{{course.course_img_url}}">
  <img *ngIf = "course.course_img_url == 'null'" src="../../../../assets/learner/1.jpg">
  <p class="title">{{course.course_name}}...</p>
  <p class="rating">
    <bar-rating [readOnly]="true" [rate]="course.rating" [max]="5"></bar-rating>
    <span class="details"><strong>{{course.rating}}</strong> {{course.max_student_enrollments_allowed | number}}
      <strong class="price">Rs {{course.price | number }}</strong></span>
  </p>

  <button mat-raised-button class="status" block [ngStyle]="{'background-color':course.text === 'Start' ? 
    '#1f3777' : course.text === 'Resume' ? '#2661ff' : course.text === 'Completed' ? '028514' : '#1f3777' }">{{course.text}}</button>
  <br>
  <small class="progressBar">{{course.text === 'Resume' && course.statusValue + '%' || null}}</small>
  <mat-progress-bar *ngIf="course.text === 'Resume'" mode="determinate" value="{{course.statusValue}}">
  </mat-progress-bar>

  <div class="content">
    <div class="text">
      <button (click) = "selectWishlist(course.course_id)" class="wishlstinContent"><img src = "../../../../assets/learner/key_down.svg"></button>
      <p>
        Description
      </p>
      <p class="course_description">
        {{course.short_description}}
      </p>
      <div class="bottomButtons">
        <button id="buy_now" mat-raised-button class="buy_now" (click)="login()">Buy Now
        </button>
        <button id="add_to_cart" mat-raised-button class="buy_now" (click)="login()">Add
          to cart
        </button>
      </div>
    </div>

  </div>



  <!-- [‎19-‎03-‎2020 18:21]  Karthi D:  
No Title 
query{
  viewcourse(user_id:"5e6b2907396e26aaedcc5983"){
    success
    error_msg
    message{
      course_id
      course_description
      course_name
      version
      location
      course_start_datetime
      course_end_datetime
      advertised_start
      course_img_url
      social_sharing_url
      certificate_display_behaviour
      certificates_show_before_end
      certificate_html_view_enabled
      has_any_active_web_certificate
      certificate_name
      lowest_passing_grade
      mobile_available
      visible_to_staff_only
      pre_requisite
      enrollment_start
      enrollment_end
      invitation_only
      max_student_enrollments_allowed
      announcement
      catalog_visibility
      course_video_url
      short_description
      self_paced
      marketing_url
      course_language
      certificate_available_date
      author_name
      author_description
      course_content_details
      article_count
      downloadable_resource_count
      course_level
      step_towards
      rating
    }
  }
}  -->