<div class="example">
  <div class="wishlst" (change)="selectWishlist(course)">
    <img [ngStyle]="{'background-color':course.wishlisted === ture ? 'yellow' : 'black' }"
      src="../../../../assets/learner/key_down.svg">
  </div>
  <img *ngIf="course.course_img_url != 'null'" src="{{course.course_img_url}}">
  <img *ngIf="course.course_img_url == 'null'" src="../../../../assets/learner/1.jpg">
  <p class="title">{{course.course_name}}...</p>
  <p class="rating">
    <bar-rating [readOnly]="true" [rate]="course.rating" [max]="5"></bar-rating>
    <span class="details"><strong>{{course.rating}}</strong> {{course.max_student_enrollments_allowed | number}}
      <strong class="price">Rs {{course.price | number }}</strong></span>
  </p>

  <!-- <button mat-raised-button class="status" block
    [ngStyle]="{'background-color':course.text === 'Start' ? 
    '#1f3777' : course.text === 'Resume' ? '#2661ff' : course.text === 'Completed' ? '028514' : '#1f3777' }">{{course.text}}</button>
  <br>
  <small class="progressBar">{{course.text === 'Resume' && course.statusValue + '%' || null}}</small>
  <mat-progress-bar *ngIf="course.text === 'Resume'" mode="determinate" value="{{course.statusValue}}">
  </mat-progress-bar> -->
  <button mat-raised-button class="status" block
    [ngStyle]="{'background-color':course.text === 'Start' ? 
    '#1f3777' : course.text === 'Resume' ? '#2661ff' : course.text === 'Completed' ? '028514' : '#1f3777' }">Start</button>

  <div class="content">
    <div class="text">
      <button (click)="selectWishlist(course)" class="wishlstinContent">
        <img [ngStyle]="{'background-color':course.wishlisted === ture ? 'yellow' : 'black' }"
          src="../../../../assets/learner/key_down.svg"></button>
      <p>
        Description
      </p>
      <p class="course_description">
        {{course.short_description}}
      </p>
      <div class="bottomButtons">
        <button id="buy_now" mat-raised-button class="buy_now" (click)="login()">Buy Now
        </button>
        <button id="add_to_cart" mat-raised-button class="buy_now" (click)="login()">Add
          to cart
        </button>
      </div>
    </div>

  </div>