@import "variable";
// Activity center Homescreen Starts here //


// Activity center Homescreen Ends here //


// ******************************************************************************** //

// Start of screen 2 - Next activity on card //




// End of screen 2 - Next activity on card //

// ******************************************************************************** //

// Start of screen 3 - Completed card //





// End of screen 3 - Completed card //

// ******************************************************************************** //

// Start of screen 4 - Pending Activities card //



// End of screen 4 - Pending Activities card //

// ******************************************************************************** //

// Start of screen 5 - View All Activities card //
button,
textarea:focus,
input:focus {
    outline: none;
}

.inputs {
    border: 1.0px solid $color-border !important;
    padding: 8px !important;
}

.inputs:focus {
    border: 1.0px solid $lxp-theme-green!important;
}




// End of screen 5 - View All Activities card //

// ******************************************************************************** //