<!-- Activity center starts -->
<app-header></app-header>
<!-- <p>
  <span class="redHover">
    <mat-icon class="material-icons f_size_15 backIc pointer" (click)="goBack()">arrow_back_ios
    </mat-icon>
    <span class="f_size_19 pointer" (click)="goBack()">
      Back
    </span>
  </span>
</p> -->
<div *ngIf="showViewAllActivities">
  <div class="d-flex align-items-center justify-content-between learnerActivityCenterComp">
    <!-- <div class="col vert-txt-center" *ngIf="navDetails?.tableType !== 'submission'">
      <p class="m-l-10px">Activity center &nbsp; >
        &nbsp;{{navDetails?.tableType =='allActivities'? 'All' : navDetails?.tableType | titlecase}} activities</p>
    </div>
    <div class="col vert-txt-center" *ngIf="navDetails?.tableType == 'submission'">
      <p class="m-l-10px txt-caps">{{navDetails?.name}} &nbsp;>&nbsp; Submission details</p>
    </div> -->
    <div class="breadCrumActivities">
      <div class="commonBackStyle">
        <span (click)="goBack()">
          <i class="lxp-Arrow backArrow"></i> 
          <i class="backText">Back</i></span>
      </div>
      <div *ngIf="navDetails?.tableType !== 'submission'" class="courseNameBreadcrum">
        <span class="pipeLine"> | </span>
        <span class="navDetailsName">Activity center</span>
        <i class="lxp-Arrow"></i>
        <span>{{navDetails?.tableType =='allActivities'? 'All' : navDetails?.tableType | titlecase}} activities</span>
      </div>

      <div *ngIf="navDetails?.tableType == 'submission'" class="courseNameBreadcrum">
        <span class="pipeLine"> | </span>
        <span class="navDetailsName">{{navDetails?.name}}</span>
        <i class="lxp-Arrow"></i>
        <span>Submission details</span>
      </div>
    </div>
    <div class="search-form">
      <form class="search-viewactivities" autocomplete="off">
        <mat-form-field appearance="outline" class="pointer search-activity">
          <input matInput placeholder="Search" name="searchbar" [(ngModel)]="quickSearchValue"
            (keyup)="onKeyChange($event.target.value)" type="text">
          <mat-icon matSuffix *ngIf="quickSearchValue !== null" (click)="closesearch()">close</mat-icon>
          <mat-icon matSuffix [disabled]="true" *ngIf="quickSearchValue === null" class="pointer">search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>

  <ag-grid-angular style="width: 98%; height:  calc(100vh - 50px); margin:auto !important;" class="ag-theme-alpine"
    [pagination]="true" [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)"
    [rowModelType]="'infinite'" (sortChanged)="onSort($event)" (filterModified)="activityFilter($event)">
  </ag-grid-angular>
  <br><br><br><br>

</div>

