
<app-header></app-header>

<div class="limiter">
  <mat-tab-group style="margin-top: 10px;">
    <mat-tab class="mat" label="About"><br>



 

    </mat-tab>

    <mat-tab label="Syllabus">
      <span  *ngFor="let item of products">
        <li ><a href="/scormPlayer.html?contentID={{item}}">{{item}}</a></li>
      </span>
      <!-- <li class="subNav"><a class="navLink" href="${child.link}">${child.title}</a></li> -->
      <!-- <h1>This is the player.</h1> -->
      <!--this for all courses-->
      <div class="right" id="contentNav" *ngFor="let navtree of syllabus">
        {{navtree.title}}
        <!--this is for particular course syllabus-->
        <div *ngFor="let child of navtree.children" >http://40.76.47.212{{child.link}}

          <li class="subNav"><a class="navLink" href="http://40.76.47.212/{{child.link}}" >{{child.title}}</a></li>
        
        </div>
        
      </div>
      <!--this is for player-->
      <div class="left">
          <iframe class="player" id="content" ></iframe>
      </div>

      <!-- <h1 class="space">About the course</h1> -->

    </mat-tab>

    <mat-tab label="Review">

    </mat-tab>

    <mat-tab label="Instructor">

    </mat-tab>

    <mat-tab label="FAQ">

    </mat-tab>
  </mat-tab-group>

</div>



