.player{
    margin-top: 4%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 450px;
    border : 1px solid lightgray ;
}

.space{
    // color: ;
}

// .mat-ink-bar {
//     position: absolute;
//     bottom: 0;
//     height: 2px;
//     background-color: #ffc107 !important;
//     transition: .5s cubic-bezier(.35,0,.25,1);
// }

// .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//     background-color: #ffc107 !important;
// }

.mat {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #1f3777 !important;
    font-weight: 900 !important;
}