<app-header></app-header>
<div class="limiter">
  <div class="container wrap-body">
    <h1 class="head" >{{courseDeatils?.course_name}}</h1>
    <nav aria-label="breadcrumb" class="coursebreadcrumb contentTop">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/MyCourse']">Course</a></li>

        <li class="breadcrumb-item active" aria-current="page">{{courseDeatils?.course_name}}</li>
      </ol>
    </nav>

    <div class="left">
      <iframe class="player" [src]="urlSafe"></iframe>
    </div>
    <h1 class="subhead">Resources</h1>
    <section class="accordion" *ngFor="let res of content?.coursedetails | slice:0:5">
      <input type="checkbox" name="collapse" [id]="res?.modulename">
      <h2 class="handle">
        <label [for]="res?.modulename"><b>{{res?.modulename}}</b><i class="fa fa-file-text-o doc">
            <b style="padding-left: 18px;"> {{countofdoc}} Documents</b></i> </label>
      </h2>
      <div class="content">
        <div class="row" *ngFor="let mod of res?.moduledetails; let i = index">
          <div class="col-8">
            <ol class="submod">
              <li>{{i+1}} : {{mod?.topicname}}</li>
            </ol>
          </div>

          <div class="col-4">
            <mat-form-field style="text-align: right;margin-top: 5%;">
              <mat-label>Resourse</mat-label>
              <mat-icon matPrefix>folder</mat-icon>
              <mat-select>
                <mat-option *ngFor="let file of mod.resourse?.files">
                  <a class="link"  href="{{file.path}}" download><i class="fa fa-file-text size" aria-hidden="true"></i>    {{file.type_name}}   <b class="size" *ngIf="file.size">({{file.size}})</b></a>
                </mat-option>
                <mat-option *ngIf="mod.resourse?.files.length > 0" style="text-align: center;" (click)="downloadAll(mod.resourse?.files)">
                  <button class="btn">Download all</button>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </section>
    <div *ngIf="isCollapsed">
      <section class="accordion" *ngFor="let res of content?.coursedetails | slice:6">
        <input type="checkbox" name="collapse" [id]="res?.modulename">
        <h2 class="handle">
          <label [for]="res?.modulename"><b>{{res?.modulename}}</b><i class="fa fa-file-text-o doc">
              <b style="text-align: right;"> {{countofdoc}} Documents</b></i> </label>
        </h2>
        <div class="content">
          <div class="row" *ngFor="let mod of res?.moduledetails; let i = index">
            <div class="col-8"><br>
              <ol class="submod">
                <li><b>{{i+1}} : {{mod?.topicname}}</b></li>
              </ol>
            </div>

            <div class="col-4">
              <mat-form-field style="text-align: right;margin-top: 5%;">
                <mat-label>Resourse</mat-label>
                <mat-icon matPrefix>folder</mat-icon>
                <mat-select>
                  <mat-option *ngFor="let file of mod.resourse?.files">
                    <a class="link"  href="{{file.path}}" download><i class="fa fa-file-text size" aria-hidden="true"></i>    {{file.type_name}}   <b class="size" *ngIf="file.size">({{file.size}})</b></a>
                  </mat-option>
                  <mat-option *ngIf="mod.resourse?.files.length > 0" style="text-align: center;" (click)="downloadAll(mod.resourse?.files)">
                    <button class="btn">Download all</button>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div style="text-align:center;" *ngIf="modulength >= 5">
      <button class="btn1 success" (click)="moresection(isCollapsed,modulength)" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">{{modulength / 2}} more section</button>
    </div>
    <br><br>
  </div>
</div>

<!-- <button id="myBtn" (click)="open" >Open Modal</button> -->
<!-- The Modal -->
<div  class="modal" *ngIf="show" >
  <!-- *ngIf="show" -->
  <!-- [ngClass] = "show == true ? 'model' : 'offmodule'" -->
  <div class="modal-content">
    <div class="modal-header">
      <span>Your Feedback</span>
    </div>
    <div class="modal-body"><br>
      <span style="font-size: 18px;">Please take a moment to fill out this survey</span>
      <div class="row" *ngFor="let que of allFeedbackQue">
        <div class="col-6">
          <ul>
            <li>
              <span > {{que.question}}</span >
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <star-rating value="5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
                (rate)="onRate($event,que._id)"  ></star-rating>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <ul>
            <li>
              <span>Would you recommend this to a friend ?</span>
            </li>
            <li>
              <span>What do you like about the module</span>
            </li>
            <li>
              <textarea class="texare_width_ht" name="are"  [(ngModel)]="are" ></textarea>
            </li>
            <li>
              <span>What could be improved</span>
            </li>
            <li>
              <textarea class="texare_width_ht" name="are1"  [(ngModel)]="are1"></textarea>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <mat-radio-group aria-label="Select an option" [(ngModel)]='selectOption'>
                <mat-radio-button style="margin-right: 10px;" value="yes">Yes</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
              </mat-radio-group>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="roundbtn" (click)="submitFeedback(are,are1,selectOption)">Submit</button>
    </div>
  </div>
  </div>