@import "variable";

.profPic {
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
  }
}
:host {
  z-index: 4;
}
.imgContainer {
  width: 175px !important;
}
.mat-icon-button {
  margin-right: 10px;
}
:host ::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto !important;
}
:host ::ng-deep .mat-menu-content {
  padding: 0px !important;
  margin-left: 0px !important;
}
:host ::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
:host ::ng-deep .mat-menu-item {
  border: none !important;
}
:host ::ng-deep .mat-menu-item:active {
  border: none !important;
}
:host ::ng-deep .mat-toolbar.mat-primary {
  background-color: white !important;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  // -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1) !important;
  // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) !important;
}
:host ::ng-deep.mat-icon-button {
  line-height: 31px !important;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 15px 11px !important;
  width: 100%;
}
:host ::ng-deep button:active {
  outline: none !important;
  border: none;
  color: $color-blank;
}
.mat-h5,
.mat-typography h5 {
  margin: 0px 0 5px !important;
}
.mat-button {
  min-width: auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}
::ng-deep .swal2-styled.swal2-confirm {
  height: 41.25px !important;
  background-color: #1B4E9B !important;
  color: #ffffff !important;
}
::ng-deep .swal2-styled.swal2-cancel:hover {
  background-color: #1B4E9B !important;
  color: #ffffff !important;
}
::ng-deep .swal2-styled.swal2-cancel {
  height: 41.25px !important;
  border: 1px solid #1B4E9B !important;
  background-color: #ffffff !important;
  color: #333333 !important;
}
::ng-deep .swal2-styled {
  &:focus {
    box-shadow: none;
  }
}

// Desktop Menu Starts
.bg-dark {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
}
.tab {
  text-align: right;
  margin-right: 1%;
  width: 100%;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lxp-theme-green;
}
.toolbarRightContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 175px);
}
.hearder-logo {
  height: 38px;
  cursor: pointer;
  margin-left: 3px;
  object-fit: cover;
}
.profileimg {
  width: 36px;
  height: 35px;
  border-radius: 8px;
  background-color: #EDEDED;
  color: #004684;
  cursor: pointer;
  font-size: smaller;
  left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #1b4e9b;
    color: #FFFFFF;
  }
}
.txtName {
  color: #808080;
  font-size: 14px;
  margin: 0 10px 0 30px;
  cursor:default;
  text-align: right;
}
.searchContet{
    em{
        color:#999999;
        font-size:18px;
    }
}
.headicon {
  color: #808080;
  transition: all 2s ease-in-out;
  font-size: 18px !important;
  position: relative;
  &.lxp-ActivityCenter {
    font-size: 20px !important;
  }
  &.lxp-SelfPaced {
    font-size: 20px !important;
  }
}
.desktopMenu {
  &.possiblePages {
    visibility: visible;
  }
  &.notPossiblePages {
    visibility: hidden;
  }
  // display: none;
  @media only screen and (min-width: 768px) {
    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
    // padding-left: 30px;
  }
  @media only screen and (min-width: 1024px) {
    // padding-left: 60px;
  }
  @media only screen and (min-width: 1200px) {
    // padding-left: 100px;
  }
  button {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: none;
    padding: 12px 10px 11px 10px;
    transform: perspective(1px) translateZ(0);
    transition-property: color, background-color;
    transition-duration: 0.3s;
    @media only screen and (min-width: 992px) {
      padding: 12px 15px 11px 15px;
    }
    span {
      font-size: 15px;
      font-weight: 400;
    }
    &.colWhite {
      color: #000000;
      background-color: transparent;
    }
    &.colGrey {
      color: #ffffff !important;
      background-color: #555555 !important;
      position: relative;
      span {
        font-weight: 700;
      }
      &:hover {
        color: #ffffff !important;
        background-color: #555555 !important;
      }
      &:focus {
        border-bottom: none;
      }
      &::after {
        content: "";
        border-bottom: 2px solid $lxp-theme-green !important;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
    &:hover {
      background-color: rgba(85, 85, 85, 0.15) !important;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid $lxp-theme-green !important;
      }
    }
  }
}
.smNoDisp {
  margin-left: 7px;
}
// Desktop Ends

//sidenav
.sideNavStrip {
  height: 100%;
  transition: 2s ease-in-out;
  width: 60px;
  position: fixed;
  top: 70px;
  padding-top: 15px;
  left: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 3px 4px 5px #3c3c3c1a;
  transition: ease-in width 0.3s;
  @media only screen and (max-width: 767px) {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    height: auto;
    top: auto;
    bottom: -1px;
    width: 100%;
  }
  .stripItem {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f2f2f2;
      .icoBox {
        color: #373331;
      }
      .navTitle {
        color: #373331;
      }
    }
    .icoBox {
      padding: 5px;
      font-size: 20px;
      @include md {
        padding: 10px;
      }
    }
    .navTitle {
      display: none;
      padding-left: 10px;
      @include md {
        display: inline-block;
      }
    }
  }
}

// Navigation expand
.burgerspace {
  width: 70px;
  padding-left: 10px;
  span {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    &::before, 
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all 0.25s ease;
      border-radius: 50%;
    }
    &::after {
      box-shadow: inset 0 0 0 1px #ffffff;
    }
    &::before {
      background: #EDEDED;
      box-shadow: inset 0 0 0 40px #ffffff;
    }
    em {
      font-size: 16px;
      color: #848484;
      position: relative;
      z-index: 9;
    }
    &:hover {
      &::before {
        box-shadow: inset 0 0 0 1px #ffffff;
      }
      em {
        color: #373331;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.navClose {
  width: 210px;
  @media only screen and (max-width: 767px) {
    width: 100%;
    box-shadow: 0 -2px 5px #9B95955C;
  }
  .stripItem {
    text-align: left !important;
    white-space: nowrap;
    @media only screen and (max-width: 767px) {
      white-space: normal;
      text-align: center !important;
      width: 30%;
    }
  }
  .icoBox {
    display: inline-block;
  }
  .navTitle {
    opacity: 0;
    display: inline-block;
    animation-name: delayspeed;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    @media only screen and (max-width: 767px) {
      line-height: 16px;
      padding-left: 0 !important;
      margin-top: 5px;
    }
  }
}

// Navigation collapse
.navOpen {
 /* box-shadow: inset -3px 1px 4px rgba(0, 0, 0, 0.1); */
  .icoBox {
    display: inline-block;
  }
  .stripItem {
    white-space: nowrap;
  }
  .navTitle {
    opacity: 0;
    display: inline-block;
    animation-name: textHide;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
  }
}

// Active nav item
.activeItem {
  // background-color: #f2f2f2;
  .icoBox {
    background-color: #be2020;
    color: #fff !important;
    border-radius: 6px;
  }
  .navTitle {
    font-weight: 700;
  }
}
.normalItem {
  .icoBox {
    color: #848484;
    @media only screen and (max-width: 767px) {
      color: #000000;
      background-color: #f1f1ff;
      border-radius: 6px;
    }
  }
  .navTitle {
    color: #848484;
  }
}

//Mobile Starts
.mobMenu {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}
.mobileMenu {
  .greyColor {
    color: #5c6873;
  }
  .redColor {
    background-color: rgba(0, 0, 0, 0.05);
    color: #c02222;
  }
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 6px 20px;
    &:focus {
      outline: transparent;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .mobContent {
      margin-left: 8px;
    }
  }
}
.mobHamburger {
  display: none;
  // @media only screen and (max-width: 767px) {
  //   display: block;
  // }
}

.lxp-AccountCircle,
.lxp-Logout {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
}
//Mobile Ends

@keyframes delayspeed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}