
<mat-toolbar color="primary" class="mat-elevation-z4 bg-dark">
      <img class="hearder-logo " alt="" src="assets/learner/iGGnite_PNG.png" (click)="navigateMyCourse()">
    <!-- <span class="headTit">&nbsp;LARSEN & TOUBRO</span> -->
  <span class="spacer"></span>
  <div class="tab" *ngIf="show">
      <button class="btn1"  [ngClass]="activeUrl === '/Learner/MyCourse' ? 'colgreen' : 
      'colWhite'" md-raised-button routerLink="/Learner/MyCourse" >
        <mat-icon fontSet="material-icons-outlined" class="headicon animated animatedFadeInUp fadeInUp " inline=true> local_library </mat-icon> My Courses </button>
        <span style="margin-left: 3%;"></span>
        <!-- Afser's change on Profile not reuired removed *ngIf="loginDetails.is_profile_updated"-->
        <button  class="btn1" [ngClass]="activeUrl === '/Learner/calendar' ? 'colgreen' : 
        'colWhite'" md-raised-button  routerLink="/Learner/calendar" routerLinkActive="active">
      <mat-icon fontSet="material-icons-outlined " class="headicon animated animatedFadeInUp fadeInUp" inline=true> event_note </mat-icon>
      Calendar </button>
</div>

<!-- <mat-toolbar color="primary" class="mat-elevation-z4 bg-dark"> -->
  <!-- <div>
    <img class="hearder-logo" alt="" [src]="orgDetails ? orgDetails.organization_logo : 'assets/learner/logo.png'">
  </div> -->
  <!-- <button class="profileimg" mat-icon-button >{{initials}}</button> -->
  <!-- [matMenuTriggerFor]="menu" -->
  <!-- <mat-menu #menu="matMenu">
    <button class="backgroundcol" mat-menu-item (click)="navigateProfile()">
      <mat-icon>account_circle</mat-icon>
      <label>Profile</label>
    </button> -->
    <!-- <button class="backgroundcol" mat-menu-item routerLink="/Learner/dashboard">
      <mat-icon>dashboard</mat-icon>
      <label>Dashboard</label>
    </button> -->
    <!-- <button class="backgroundcol" mat-menu-item routerLink="/Learner/viewallcourses">
      <mat-icon>list_alt</mat-icon>
      <label>View All Courses</label>
    </button> -->
    <!-- <button class="backgroundcol" routerLink="/Learner/MyCourse" mat-menu-item>
      <mat-icon>library_books</mat-icon>
      <label>My Courses</label>
    </button> -->
    <!-- <button class="backgroundcol" mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <label>Logout</label>
    </button>
  </mat-menu> -->
  <button class="profileimg" mat-icon-button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">{{initials}}</button>
  <!-- <button class="iconmenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateProfile()">
      <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
      <span>Profile</span> 
    </button>

    <button mat-menu-item  routerLink="/Learner/MyCourse" routerLinkActive="active" *ngIf="!show">
      <mat-icon fontSet="material-icons-outlined">local_library</mat-icon>
      <span>My Courses</span> 
    </button>

    <button mat-menu-item  routerLink="/Learner/calendar" routerLinkActive="active"  *ngIf="!show">
      <mat-icon fontSet="material-icons-outlined">event_note</mat-icon>
      <span>Calendar</span> 
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>