<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <img *ngIf="course.course_img_url != 'null'" src="{{course.course_img_url}}">
      <!-- <img src="../../../../assets/learner/kl.jpg" width="300px"> -->
    </div>

    <div class="col-md-6  col-sm-9 col-9 float_left">
      <div class="row">
        <div class="f_wt_500 f_sz_14 float_left"> {{course.course_name}}</div>
      </div>
      <div class="row">
        {{course.short_description}}
      </div>
      <div class="row ">
        <span class="material-icons" style="vertical-align: middle;">
          people
        </span> <small>2,500 learners</small>
      </div>

    </div>

    <div class="col-md-3 col-sm-12 col-12 f_wt_500 float_right  border-left-color">
      <div class="row float_right" *ngIf="showRating">
        <!-- <bar-rating [readOnly]="true" [rate]="course.rating" [max]="5"></bar-rating> -->
        <div class="display_flex m-r-30 bg m-t-20 user-rating">
          <strong class="m-t-15">&nbsp;{{course.rating | number:'1.1-1'}}</strong><span class="material-icons"
            style="vertical-align: middle;">
            star_border
          </span>
        </div>

      </div>
      <br> <br> <br><br>
      <div class="row btnEnroll bottom-right float_right">
        <button id="enroll_now" mat-stroked-button (click)="login(btnType)"> {{btnType}}
        </button>
      </div>

    </div>
  </div>
</div>