<mat-card style="text-align: center;box-shadow: 0 2px 10px #6c757d;padding: 0px !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12" (click)="gotoDescription()">
        <img *ngIf="course.course_img_url != 'null'" class="img_size" src="{{course.course_img_url}}">
        <!-- <img src="../../../../assets/learner/kl.jpg" width="300px"> -->
      </div>

      <div class="col-md-6  col-sm-9 col-9 float_left m-t-20" (click)="gotoDescription()">
        <div class="row ">
          <div class="f_wt_500 f_size_16 float_left m-left-5 course_name">{{course.course_name}}</div>
        </div>
        <div class="row m-t-10 m-left-5  course_description ">
          {{course.short_description}}
        </div>
        <div class="row m-left-5  bottom-left learner-count" *ngIf="showCount">
          <span class="material-icons" style="vertical-align: middle;">
            people
          </span> <small>2,500 learners</small>
        </div>

      </div>

      <div class="col-md-3 col-sm-12 col-12 f_wt_500 float_right  border-left-color">
        <div class="row float_right" *ngIf="showRating" (click)="gotoDescription()">
          <!-- <bar-rating [readOnly]="true" [rate]="course.rating" [max]="5"></bar-rating> -->
          <div class="display_flex m-r-30 bg m-t-20 user_rating">
            <strong class="m-t-15 rating-text">&nbsp;{{course.rating | number:'1.1-1'}}</strong>
            <span class="material-icons"
              style="vertical-align: middle;" *ngIf="showRating">
              star_border
            </span>
          </div>

        </div>
        <br> <br> <br><br>
        <div class="row btnEnroll bottom-right float_right " *ngIf="btnType">
          <button id="enroll_now" mat-stroked-button (click)="login(btnType)"> {{btnType}}
          </button>
        </div>

      </div>
    </div>
  </div>
</mat-card>