<app-header></app-header>
<div class="upskillActivity">
  <div class="calendar">

  </div>

  <div class="activities">
    
    <div class="viewInfotxt d-flex justify-content-between">
      <div class="header d-flex justify-content-between align-items-center">
        <div class="leftPan">
          <span>{{'All' | translate}} (27)</span>
          <span>{{'Pending' | translate}} (20)</span>
          <span>{{'Completed' | translate}} (7)</span>
        </div>
        <div class="rightPan">
            <button mat-stroked-button class="filterBtn">
              <em class="lxp-Filter"></em> <span>{{'Filter' | translate}}</span>
            </button>
        </div>
      </div>
    </div>

    <div class="contentarea">

      <ng-container>
        <ng-container>
          <div class="contentbox justify-content-between">
            <div class="typendStatus">
              <div class="infotypearea">
                <span class="icon lxp-Edit_Document">i</span>
                <div class="htxt">
                  <div class="notifi activity">Assignments</div>
                </div>
              </div>
              
              <div class="statusarea d-flex justify-content-end align-items-center">
                  <span class="icon lxp-Timer timer">i</span>
                  <span>Ongoing</span>
              </div>
            </div>
            
            <div class="txtnddate">
              <div class="infotxtarea">
                <span class="htxt">Core Java Programming Course</span>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module: </span> <span class="moduleTopic" >Introduction to Industrial IoT</span></div>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic: </span> <span class="moduleTopic" >Phases of Industrial Revolution</span></div>
              </div>
            
              <div class="infodatearea d-flex justify-content-end align-items-center">
                <span class="icon lxp-Calendar_Outlined">i</span>
                <div class="htxt">
                  <span>03/06/2021 12:30 PM</span>
                  <span>11/06/2021 02:00 PM</span>
                </div>
              </div>
            </div>
        
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <ng-container>
          <div class="contentbox justify-content-between">
            <div class="typendStatus">
              <div class="infotypearea">
                <span class="icon lxp-VILT" >i</span>
                <div class="htxt">
                  <div class="notifi activity">Live Interactions</div>
                </div>
              </div>
              
              <div class="statusarea d-flex justify-content-end align-items-center">
                  <span class="icon lxp-Timer timer">i</span>
                  <span>Ongoing</span>
              </div>
            </div>
            
            <div class="txtnddate">
              <div class="infotxtarea">
                <span class="htxt">Core Java Programming Course</span>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module:</span> <span class="moduleTopic" >Introduction to Industrial IoT</span></div>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic:</span> <span class="moduleTopic" >Phases of Industrial Revolution</span></div>
              </div>
            
              <div class="infodatearea">
                <span class="icon lxp-Calendar_Outlined">i</span>
                <div class="htxt">
                  <span>03/06/2021 12:30 PM</span>
                  <span>11/06/2021 02:00 PM</span>
                </div>
              </div>
            </div>
        
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <ng-container>
          <div class="contentbox justify-content-between">
            <div class="typendStatus">
              <div class="infotypearea">
                <span class="icon lxp-Edit_Document">i</span>
                <div class="htxt">
                  <div class="notifi activity">Assignments</div>
                </div>
              </div>
              
              <div class="statusarea d-flex justify-content-end align-items-center">
                  <span class="icon lxp-Timer timer">i</span>
                  <span>Ongoing</span>
              </div>
            </div>
            
            <div class="txtnddate">
              <div class="infotxtarea">
                <span class="htxt">Core Java Programming Course</span>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module:</span> <span class="moduleTopic" >Introduction to Industrial IoT</span></div>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic:</span> <span class="moduleTopic" >Phases of Industrial Revolution</span></div>
              </div>
            
              <div class="infodatearea">
                <span class="icon lxp-Calendar_Outlined">i</span>
                <div class="htxt">
                  <span>03/06/2021 12:30 PM</span>
                  <span>11/06/2021 02:00 PM</span>
                </div>
              </div>
            </div>
        
          </div>
        </ng-container>
      </ng-container>

      <ng-container>
        <ng-container>
          <div class="contentbox justify-content-between">
            <div class="typendStatus">
              <div class="infotypearea">
                <span class="icon lxp-Edit_Document">i</span>
                <div class="htxt">
                  <div class="notifi activity">Assignments</div>
                </div>
              </div>
              
              <div class="statusarea d-flex justify-content-end align-items-center">
                  <span class="icon lxp-Timer timer">i</span>
                  <span>Ongoing</span>
              </div>
            </div>
            
            <div class="txtnddate">
              <div class="infotxtarea">
                <span class="htxt">Core Java Programming Course</span>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module: </span> <span class="moduleTopic" >Introduction to Industrial IoT</span></div>
                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic: </span> <span class="moduleTopic" >Phases of Industrial Revolution</span></div>
              </div>
            
              <div class="infodatearea">
                <span class="icon lxp-Calendar_Outlined">i</span>
                <div class="htxt">
                  <span>03/06/2021 12:30 PM</span>
                  <span>11/06/2021 02:00 PM</span>
                </div>
              </div>
            </div>
        
          </div>
        </ng-container>
      </ng-container>

    </div>

  </div>
</div>