<app-header></app-header>
<div class="upskillActivity">
    <div class="calendar">

    </div>

    <div class="activities">

        <div class="viewInfotxt d-flex justify-content-between align-items-center">
            <div class="leftPan">
                <span mat-ripple (click)="setStatus('')" [ngClass]="status == '' ? 'active' : ''">{{'All' | translate}} ({{activityData?.allActivityCount}})</span>
                <span mat-ripple (click)="setStatus('pending')" [ngClass]="status == 'pending' ? 'active' : ''">{{'Pending' | translate}} ({{activityData?.pendingActivityCount}})</span>
                <span mat-ripple (click)="setStatus('completed')" [ngClass]="status == 'completed' ? 'active' : ''">{{'Completed' | translate}} ({{activityData?.completedActivityCount}})</span>
            </div>
            <div class="rightPan">
                <span>{{'Filter:' | translate}} </span>
                <mat-form-field class="mr-2" appearance="outline">
                    <mat-select (selectionChange)="onSortChange($event)" matTooltip="{{CourseName}}" [(ngModel)]="courseValue">
                        <mat-option *ngFor="let course of courseDetailsList" [value]="course.course_id">
                            {{course.course_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-select (selectionChange)="onSortChange($event)" [(ngModel)]="activityValue">
                        <mat-option *ngFor="let filter of filterBy" [value]="filter.value">
                            {{filter.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <button mat-stroked-button class="filterBtn">
              <em class="lxp-Filter"></em> <span>{{'Filter' | translate}}</span> 
               </button> -->
            </div>
        </div>

        <div class="contentarea">
            <ng-container *ngIf="dataAvailable">
                <ng-container *ngFor="let activity of activityData.activities">
                    <div class="contentbox justify-content-between" (click)="goToActivities(activity)">
                        <div class="typendStatus">
                            <div class="infotypearea">
                                <em *ngIf="activity.activitytype == 'Live Classroom'" class="icon lxp-VILT"></em>
                                <em *ngIf="activity.activitytype == 'Self Learning'" class="icon lxp-Self_Learning"></em>
                                <em *ngIf="activity.activitytype == 'Perform'" class="icon lxp-Perform"></em>
                                <em *ngIf="activity.activitytype == 'Assignment'" class="icon lxp-Edit_Document"></em>
                                <em *ngIf="activity.activitytype == 'Project'" class="icon lxp-User_Settings"></em>
                                <div *ngIf="activity.activitytype != 'Live Classroom' && activity.activitytype != 'Self Learning'" class="htxt notifi activity">{{activity.activitytype}}</div>
                                <div *ngIf="activity.activitytype == 'Self Learning'" class="htxt notifi selfplacedlearning">{{activity.activitytype}}</div>
                                <div *ngIf="activity.activitytype == 'Live Classroom'" class="htxt notifi virtualinstructorled">
                                    <ng-container *ngIf="userDetails.org_type !== 'collegeconnect'">{{'Live Interactions' | translate}}</ng-container>
                                    <ng-container *ngIf="userDetails.org_type == 'collegeconnect'">{{'Industry Talk' | translate}}</ng-container>
                                </div>
                            </div>

                            <div class="statusarea d-flex justify-content-end align-items-center">
                                <em class="icon lxp-Timer timer"></em>
                                <em class="icon lxp-Tick green" *ngIf="activity.status == 'Completed' || activity.status == 'Graded' || activity.status == 'Submitted'"></em>
                                <em class="icon lxp-Timelapse red" *ngIf="activity.status == 'Overdue'"></em>
                                <em class="icon lxp-Timer timer" *ngIf="activity.status == 'On going'"></em>
                                <em class="icon lxp-Play grey" *ngIf="activity.status == 'Yet to submit' || activity.status == 'Up Coming'"></em>
                                <span>Ongoing</span>
                            </div>
                        </div>

                        <div class="txtnddate">
                            <div class="infotxtarea">
                                <span class="htxt coursename" matTooltipPosition="below" matTooltip="{{activity.coursename}}">{{activity.coursename}}</span>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module: </span> <span class="moduleTopic" matTooltipPosition="below" matTooltip="{{activity.modulename}}">Introduction to Industrial IoT</span></div>
                                <div *ngIf="(activity.self_paced_learning == 'topic' || activity.liveclassroom == 'topic') || (!activity.self_paced_learning && !activity.liveclassroom)" class="infotxt d-flex justify-content-start align-items-center"> <span>Topic: </span> <span class="moduleTopic" matTooltipPosition="below" matTooltip="{{activity.topicname}}">Phases of Industrial Revolution</span></div>
                            </div>

                            <div class="infodatearea align-items-center">
                                <em class="icon lxp-Calendar_Outlined"></em>
                                <div class="htxt">
                                    <div>{{activity.activitystartdate | date: 'MMM d, y, h:mm a'}}</div>
                                    <div>{{activity.activityenddate | date: 'MMM d, y, h:mm a'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!dataAvailable && !showSkeleton">
                <div class="noCard">
                    <figure>
                        <img src="https://assets.lntedutech.com/application_images/noactivityScheduled.svg" alt="assignment">
                    </figure>
                    <p>{{'You have no activity scheduled' | translate}}</p>
                </div>
            </ng-container>

            <ng-container *ngIf="showSkeleton">
                <div class="skeleton-container d-flex justify-content-between flex-row" *ngFor="let skeleton of skeletonPart">
                    <div class="skeleton-part d-flex justify-content-between flex-column item1">
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                    </div>
                    <div class="skeleton-part d-flex justify-content-between flex-column item2">
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                    </div>
                    <div class="skeleton-part d-flex justify-content-between flex-column item3">
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
                    </div>
                </div>
            </ng-container>

            <!-- <ng-container>
                <ng-container>
                    <div class="contentbox justify-content-between">
                        <div class="typendStatus">
                            <div class="infotypearea">
                                <em class="icon lxp-VILT"></em>
                                <div class="htxt notify virtualinstructorled">Live Interactions</div>
                            </div>

                            <div class="statusarea d-flex justify-content-end align-items-center">
                                <em class="icon lxp-Tick green"></em>
                                <span>Completed</span>
                            </div>
                        </div>

                        <div class="txtnddate">
                            <div class="infotxtarea">
                                <span class="htxt">Core Java Programming Course</span>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module:</span> <span class="moduleTopic">Introduction to Industrial IoT</span></div>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic:</span> <span class="moduleTopic">Phases of Industrial Revolution</span></div>
                            </div>

                            <div class="infodatearea align-items-center">
                                <em class="icon lxp-Calendar_Outlined"></em>
                                <div class="htxt">
                                    <div>03/06/2021 12:30 PM</div>
                                    <div>11/06/2021 02:00 PM</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </ng-container>

            <ng-container>
                <ng-container>
                    <div class="contentbox justify-content-between">
                        <div class="typendStatus">
                            <div class="infotypearea">
                                <em class="icon lxp-Self_Learning"></em>
                                <div class="htxt notify selfplacedlearning">Self Learning</div>
                            </div>

                            <div class="statusarea d-flex justify-content-end align-items-center">
                                <em class="icon lxp-Play grey"></em>
                                <span>Yet to start</span>
                            </div>
                        </div>

                        <div class="txtnddate">
                            <div class="infotxtarea">
                                <span class="htxt">Core Java Programming Course</span>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module:</span> <span class="moduleTopic">Introduction to Industrial IoT</span></div>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic:</span> <span class="moduleTopic">Phases of Industrial Revolution</span></div>
                            </div>

                            <div class="infodatearea align-items-center">
                                <em class="icon lxp-Calendar_Outlined"></em>
                                <div class="htxt">
                                    <div>03/06/2021 12:30 PM</div>
                                    <div>11/06/2021 02:00 PM</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </ng-container>

            <ng-container>
                <ng-container>
                    <div class="contentbox justify-content-between">
                        <div class="typendStatus">
                            <div class="infotypearea">
                                <em class="icon lxp-Perform"></em>
                                <div class="htxt notify activity">Perform</div>
                            </div>

                            <div class="statusarea d-flex justify-content-end align-items-center">
                                <em class="icon lxp-Timer timer"></em>
                                <span>Ongoing</span>
                            </div>
                        </div>

                        <div class="txtnddate">
                            <div class="infotxtarea">
                                <span class="htxt">Core Java Programming Course</span>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Module: </span> <span class="moduleTopic">Introduction to Industrial IoT</span></div>
                                <div class="infotxt d-flex justify-content-start align-items-center"> <span>Topic: </span> <span class="moduleTopic">Phases of Industrial Revolution</span></div>
                            </div>

                            <div class="infodatearea align-items-cediv">
                                <em class="icon lxp-Calendar_Outlined"></em>
                                <div class="htxt">
                                    <div>03/06/2021 12:30 PM</div>
                                    <div>11/06/2021 02:00 PM</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </ng-container> -->

        </div>

    </div>
</div>