<app-header></app-header>
<!-- <br>
<br>
<input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked"/>
<main id="bluepurple">
  <section class="results-header">

      <div class="sortby">
        <label class="label-form">Sort by :</label>
        <select type="text" >
            <option value="1">Featured</option>
            <option value="2">Popular</option>
          </select>
      </div>

    <div class="results-header__option">
    
      <div (click)="test();showdesc=true" class="option__button option--grid selected"><span></span><span></span><span></span><span></span><span></span></div>
      <div (click)="test();showdesc=false" class="option__button option--list"><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="main">

        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>
         
      </div>
  </section>
 
  <div class="filter-section__wrapper">
    <section class="filter-section">
      <h6>Filters</h6>
      <div class="filters">
        <h5 class="filters__title">Category</h5>
        <div class="filters__item" *ngFor ="let cat of categories;let ind = index">
          <div class="checkbox">
            <input  name="check"  id="{{ind+1}}" [checked]="selected === ind" (change)="selected = ind" (change)="getcourses(cat)"
                 type="checkbox"/>
            <label (click)="getcourses(cat)" for="{{ind+1}}">{{cat.category_name}}<span class="box"></span>
            </label> 
          </div><span class="badge status-primary">10</span>
        </div>
      </div>
      <div class="filters">
        <h5 class="filters__title">Enrollments</h5>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-5" type="checkbox"/>
            <label for="checkbox-5">0-100<span class="box"></span></label>
          </div><span class="badge status-primary">9</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-6" type="checkbox" />
            <label for="checkbox-6">101-200<span class="box"></span></label>
          </div><span class="badge status-primary">12</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-7" type="checkbox"/>
            <label for="checkbox-7">201-500<span class="box"></span></label>
          </div><span class="badge status-primary">17</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-8" type="checkbox"/>
            <label for="checkbox-8">501-1000<span class="box"></span></label>
          </div><span class="badge status-primary">3</span>
        </div>
        <div class="filters__item">
            <div class="checkbox">
              <input id="checkbox-9" type="checkbox"/>
              <label for="checkbox-9">> 1000<span class="box"></span></label>
            </div><span class="badge status-primary">3</span>
          </div>
      </div>
      <div class="filters">
        <h5 class="filters__title">Instructor Name</h5>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-10" type="checkbox"/>
            <label for="checkbox-10">Fernado<span class="box"></span></label>
          </div><span class="badge status-primary">9</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-11" type="checkbox" />
            <label for="checkbox-11">Example<span class="box"></span></label>
          </div><span class="badge status-primary">12</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-12" type="checkbox"/>
            <label for="checkbox-12">Peter<span class="box"></span></label>
          </div><span class="badge status-primary">17</span>
        </div>
        <div class="filters__item">
          <div class="checkbox">
            <input id="checkbox-13" type="checkbox"/>
            <label for="checkbox-13">Joseph<span class="box"></span></label>
          </div><span class="badge status-primary">3</span>
        </div>
        <div class="filters__item">
            <div class="checkbox">
              <input id="checkbox-14" type="checkbox"/>
              <label for="checkbox-14">John<span class="box"></span></label>
            </div><span class="badge status-primary">3</span>
          </div>
      </div>
      <div class="filters__item">
      <a class="button" (click)="loadcategoryandcourses();check=false">Clear</a>
      </div>
    </section>
  </div>
  <section class="results-section results--grid">

    <div class="profile" *ngFor ="let c of allcourses  | paginate: { itemsPerPage: 10, currentPage: pagenumber } ;let j=index">
      <div class="profile__image"><img src="{{c?.course_img_url}}" alt="Course Image"/></div>
      <div *ngIf="showdesc" class="overlayinn">
    
        <h6>{{c?.course_description}}</h6>
    </div>
      <div class="profile__info">
        <h3>{{c?.course_name}}</h3>
     
        <p *ngIf="!showdesc" class="profile__info__extra">{{c?.course_description}}</p>
      </div>
      <div class="profile__stats">
       <i class="fa fa-users fa-2x"></i>
      </div>
      <p class="profile__stats__title">2,900 learners</p>   
      <div class="profile__cta"><a class="button">ENROLL NOW</a></div>
    </div>

    <div *ngIf="allcourses?.length==0">

      No Courses Found
       
    </div>
  </section>
</main>
<br>
<pagination-controls class="my-pagination" style="text-align: center;" (pageChange)="pagenumber = $event" ></pagination-controls> -->

<nav aria-label="breadcrumb" class="coursebreadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Learner">Home</a></li>

    <li class="breadcrumb-item active" aria-current="page">All Courses</li>
  </ol>
</nav>
<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loader" style="height:100%">
  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>
<br> <br>
<!-- <div class="btn-group pull-right"> -->
  <!-- <button class="icon_fnt"  type="button"(click)="onDisplayModeChange(1)"
  [ngClass]="{'btn-primary active': displayMode === 1}" >
  <i class="fa fa-search"></i>
</button> -->
  <!-- <button class="icon_fnt"  (click)="onDisplayModeChange(1)">
    <i class="fa fa-filter"></i>
  </button> -->
<!-- </div> -->
  <div class="row">
    <div class="col-md-10 col-sm-12 col-12">
  <button class="submit" (click)="getCategory(getCategoryDialog)" > Category
      <i class="fa fa-chevron-down colr"></i>
    </button>
    <button class="submit" (click)="showAppliedFiltre = !showAppliedFiltre; filter()" > Filter
      <i class="fa fa-filter colrr"></i>
    </button>
    <button class="submit" mat-button [matMenuTriggerFor]="Sort">Sort by
      <i class="fa fa-chevron-down colrr"></i>
    </button>
    <mat-menu #Sort="matMenu">
      <button mat-menu-item (click)="sorting('A-Z')">A-Z</button>
      <button mat-menu-item (click)="sorting('Z-A')">Z-A</button>
    </mat-menu>

    </div>
    <div class="col-md-2 col-sm-12 col-12">
      <button class="icon_fnt" mat-button (click)="onDisplayModeChange(1)">
        <mat-icon class="icon">view_module</mat-icon>
    </button>

    <button class="icon_fnt" mat-button (click)="onDisplayModeChange(2)"> 
      <mat-icon>menu</mat-icon>
  </button>
    </div>
  </div>
  <br>

  <div class="row box" *ngIf ="showAppliedFiltre">
    <div class="col-2 width-10 ">
      <h3 class="text">Applied filters : </h3>
    </div>

    <div class="col-8"  >
        <span class="cover" *ngFor="let item of selectedFilter?.category1; let i = index" >{{item?.category_name}}
          <mat-icon class="clear-icon" (click)="removeFilterVal(item)">clear</mat-icon>
          </span>
          <span class="cover" *ngFor="let item of selectedFilter?.category2; let i = index" >{{item?.sub_category_name}}
            <mat-icon class="clear-icon" (click)="removeFilterVal(item)">clear</mat-icon>
            </span>
            <span class="cover" *ngFor="let item of selectedFilter?.category3; let i = index" >{{item?.super_sub_category_name}}
              <mat-icon class="clear-icon" (click)="removeFilterVal(item)">clear</mat-icon>
              </span>
              <span class="cover" *ngFor="let item of selectedFilter?.filterVal; let i = index" >{{item}}
                <mat-icon class="clear-icon" (click)="removeFilterVal(item)">clear</mat-icon>
                </span>
    </div>

    <div class="col-2 ">
      <div class = "smallline"></div> 
      <h3 class="text2" (click)="clearAll()"> Clear all filters </h3>
     
    </div>
  </div>




<!-- <div class="container"> -->
  <br>

  <div class="row">
    <div class="col-3"   *ngIf="showAppliedFiltre">
      <div class="container1 containerShadow" *ngIf="showAppliedFiltre">
        <h3><b>Language</b></h3><br>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let language of guidelineSearchVal.course_data |
          paginate: { itemsPerPage: course_languagePerPage,currentPage: course_languagePageNo}">
            <label class="container1">
            <input  type="checkbox"  name="language" (change)="checkedVal($event,language,'language')"
            [checked]="language.checked" />
            <div class="row">
              <div class="col-10 pading">
                {{language.course_language}} 
              </div>
              <div class="col-2">
                <span >{{language.count}}</span>
              </div>
            </div>
            <span class="checkmark">
            </span>
          </label>
          </li>
        </ul><br>
        <div style="text-align: right;">
          <span class="showmore" (click)="showmore('course_language')"> + Show more</span>
        </div><br>
     
        <div class="borderline"></div>
        <br>
        <h3><b>Instructor name</b></h3><br>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let authors of guidelineSearchVal.author_data | 
          paginate: { itemsPerPage: authorPerPage,currentPage: authorPageNo}">
            <label class="container1">
            <input  type="checkbox"  name="authors" (change)="checkedVal($event,authors,'Instructor')" 
            [checked]="authors.checked"/>
            <div class="row">
              <div class="col-10 pading">
                {{authors.authordetails}} 
              </div>
              <div class="col-2">
                <span >{{authors.count}}</span>
              </div>
            </div>
            <span class="checkmark">
            </span>
          </label>
          </li>
        </ul><br>
        <div style="text-align: right;">
          <span class="showmore" (click)="showmore('author')"> + Show more</span>
        </div><br>
        <div class="borderline"></div><br>


        <h3><b>Learning pace</b></h3><br>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let courseMode of guidelineSearchVal.coursemode_data | 
           paginate: { itemsPerPage: course_modePerPage,currentPage: course_modePageNo}">
            <label class="container1">
            <input  type="checkbox"  name="courseMode" (change)="checkedVal($event,courseMode,'courseMode')"
            [checked]="courseMode.checked" />
            <div class="row">
              <div class="col-10 pading">
                {{courseMode.course_mode}} 
              </div>
              <div class="col-2">
                <span >{{courseMode.count}}</span>
              </div>
            </div>
            <span class="checkmark">
            </span>
          </label>
          </li>
        </ul><br>
        <div style="text-align: right;">
          <span class="showmore" (click)="showmore('course_mode')"> + Show more</span>
        </div><br>
        <div class="borderline"></div><br>

        <h3><b>Hours of content </b></h3><br>
        <ul class="list-group">
          <li class="list-group-item" >
            <label class="container1">
              <div class="range-control range">
                <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
              </div>
          </label>
          </li>
        </ul>
        <div class="borderline"></div><br>

        <h3><b>Partners search</b></h3><br>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let coursepartner of guidelineSearchVal.coursepartner_data | 
          paginate: { itemsPerPage: coursepartnerPerPage,currentPage: coursepartnerPageno}">
            <label class="container1">
            <input  type="checkbox"  name="coursepartner"(change)="checkedVal($event,coursepartner,'coursepartner')"  
            [checked]="coursepartner.checked"/>
            <div class="row">
              <div class="col-10 pading">
                {{coursepartner.coursepartnerdetails}} 
              </div>
              <div class="col-2">
                <span >{{coursepartner.count}}</span>
              </div>
            </div>
            <span class="checkmark">
            </span>
          </label>
          </li>
        </ul><br>
        <div style="text-align: right;">
          <span class="showmore" (click)="showmore('coursepartner')"> + Show more</span>
        </div><br>
        <div class="borderline"></div><br>
        <h3><b>Published date</b></h3><br>
        <div class="row">
          <div class="col-10 date">
            <my-date-picker name="fromdate" [options]="myDatePickerOptions" placeholder="From date"
            (dateChanged)="onDateChanged($event,'fromdate')"></my-date-picker>
            </div>
            <div class="col-6 todate">
            <my-date-picker name="todate" [options]="myDatePickerOptions" placeholder="To date"
            (dateChanged)="onDateChanged($event,'todate')"></my-date-picker>
            </div>
          <!-- </div> -->
          <!-- <div class="col-4 dateBox">
            <dp-date-picker theme="dp-material"
                            [config]="datePickerConfig" required="true">
            </dp-date-picker>
          </div> -->
        </div>
      </div>
    </div>
    <ng-container *ngIf="showAppliedFiltre">
    <div class="col-9">
      <div class="container containerShadow">
        <div class="row" *ngIf="displayMode === 1">
          <ng-container
            *ngFor="let c of allcourses  | paginate: { itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
            <div class="col-md-6 col-lg-3 col-sm-12">
              <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                [showWishlist]="true" [showStatus]="false"> </app-course-component> <br>
            </div>
          </ng-container>
          <br>
        </div>
        <div class="row" *ngIf="displayMode === 2">
          <ng-container
            *ngFor="let c of allcourses  | paginate: { itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
            <div class="col-lg-9 col-md-9 center col-sm-11 col-11">
              <app-list-view-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                [showWishlist]="true" [showStatus]="false" [showRating]="true" [btnType]="btnType" [showCount]="true"
                [goto]="goto" [showDate]="true">
              </app-list-view-course-component>
              <br>
            </div>
          </ng-container>
        </div>
    
      </div>
    </div>
    </ng-container>
    <ng-container *ngIf="!showAppliedFiltre">
    <div class="diffcol-9">
      <div class="container containerShadow">
        <div class="row" *ngIf="displayMode === 1">
          <ng-container
            *ngFor="let c of allcourses  | paginate: { itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
            <div class="col-md-6 col-lg-3 col-sm-12">
              <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                [showWishlist]="true" [showStatus]="false"> </app-course-component> <br>
            </div>
          </ng-container>
          <br>
        </div>
        <div class="row" *ngIf="displayMode === 2">
          <ng-container
            *ngFor="let c of allcourses  | paginate: { itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
            <div class="col-lg-9 col-md-9 center col-sm-11 col-11">
              <app-list-view-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                [showWishlist]="true" [showStatus]="false" [showRating]="true" [btnType]="btnType" [showCount]="true"
                [goto]="goto" [showDate]="true">
              </app-list-view-course-component>
              <br>
            </div>
          </ng-container>
        </div>
    
      </div>
    </div>
    </ng-container>
  </div>

  <br>
  <pagination-controls class="my-pagination" style="text-align: center;" (pageChange)="onpagination($event)">
  </pagination-controls>

  <ng-template #getCategoryDialog>
    <mat-dialog-title>
      <mat-icon class="close" (click)="closedialogbox()">clear</mat-icon>
    </mat-dialog-title>
    <mat-dialog-content>
    <div class="row">
      <div class="col-4">
        <h2>Level 1 : Category</h2>
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
           <input type="search"  [(ngModel)]="lvl1Search" matInput placeholder="Search">
         </mat-form-field>

         <div class="row">
          <div class="col-md-8">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of allLvlCategoryFilterVal?.level1 ? allLvlCategoryFilterVal?.level1 : allLvlCategory?.level1  | search : lvl1Search ">
                    <label class="container1">
                    <input  type="checkbox" [(ngModel)]="item.isSelected"  name="list_name"  (change)="getCategoryId(item)"/>
                    <spn style="padding-left: 35px;white-space: nowrap;">{{item.category_name}}</spn>
                    <span class="checkmark"></span></label>
                  </li>
                </ul>
          </div>
      </div>

      </div>
      <div class = "vertical"></div> 
      <div class="col-4" >
        <h2>Level 2 : Category</h2>
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
           <input type="search" [(ngModel)]="lvl2Search"  matInput placeholder="Search">
         </mat-form-field>
         <div class="row">
          <div class="col-md-8">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of allLvlCategoryFilterVal?.level2 ? allLvlCategoryFilterVal?.level2 : allLvlCategory?.level2   | search : lvl2Search">
                    <label class="container1">
                    <input  type="checkbox" [(ngModel)]="item.isSelected" name="list_name2" (change)="getCategoryId(item)"/>
                    <spn style="padding-left: 35px;white-space: nowrap;">{{item.sub_category_name}}</spn>
                    <span class="checkmark"></span></label>
                  </li>
                </ul>
          </div>
          <!-- <span class="errormsg" *ngIf="errormsg"> Level 2 Category not found </span> -->
      </div>
      </div>
      <div class = "vertical1"></div> 
      <div class="col-4">
        <h2>Level 3 : Category</h2>
        <mat-form-field class="example-full-width">
          <mat-icon matPrefix>search</mat-icon>
           <input type="search" [(ngModel)]="lvl3Search"  matInput placeholder="Search">
         </mat-form-field>

         <div class="row">
          <div class="col-md-8">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of allLvlCategoryFilterVal?.level3 ? allLvlCategoryFilterVal?.level3 : allLvlCategory?.level3 | search : lvl3Search">
                    <label class="container1">
                    <input  type="checkbox" [(ngModel)]="item.isSelected" name="list_name3"  (change)="getCategoryId(item)"/>
                    <spn style="padding-left: 35px;white-space: nowrap;">{{item.super_sub_category_name}}</spn>
                    <span class="checkmark"></span></label>
                  </li>
                </ul>
          </div>
          <!-- <span class="errormsg" *ngIf="errormsg"> Level 3 Category not found </span> -->
      </div>
      </div>
    </div>
    <mat-dialog-actions align="center">
      <button class="roundbtn" (click)="applyFilter(allLvlCategoryFilterVal)">Apply</button>
     </mat-dialog-actions>
    </mat-dialog-content>
  </ng-template>


<!-- </div> -->