@import "variable";

/*overall layout*/

::ng-deep .mat-dialog-actions {
  border-top: 1px solid !important;
}
main {
  width: 90%;
  margin: 3em auto 0;
  max-width: 1500px;
  color: var(--foregroundColor);
  text-align: left;
}

main section {
  position: relative;
}

.icon_fnt {
  height: 50px;
  width: 40px;
  box-shadow: 0px 7px 5px 2px #0b0b0b17;
}

.containerShadow {
  padding: 20px;
  -webkit-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
  box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
  margin-top: 20px;
}

/////  after filter adding////@extend

.icon{
  color: $color-darkGrey;
}
.icon:focus{
  outline: none;
  box-shadow: none;
}

.submit {
  width: 13%;
  border: none !important;
  background-color: $color-white;
  color: $color-blue;
  text-align: left;
  box-shadow: 0px 7px 5px 2px #0b0b0b17;
  height: 45px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 2.5%;
}

.submit:focus {
  outline: none;
  box-shadow: none;
  background-color: $color-blue ;
  color: $color-white;
}

.colr{
  margin-left: 26px;
}

.colrr{
  margin-left: 50px;
}



::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  margin-left: -180px !important;
  margin-top: 220px !important;
  // margin-top: 22px !important;
  box-sizing: border-box;
  overflow:  hidden !important;
  outline: 0;
  width: 83em !important;
  height: 550px !important;
}

.example-full-width {
  width: 90%;
}

.vertical { 
  border-left: 0.5px solid $color-darkGrey;
  height: 65%;
  position: absolute;
  left: 28%;
} 
.vertical1 { 
  border-left: 0.5px solid $color-darkGrey;
  height: 65%;
  position: absolute;
  left: 56%;
} 

h2{
  color:$color-subhead ;
}
.roundbtn{
  background-color: $color-subhead;
  font-size: 20px;
  border: none !important;
  width: 10% !important;
  color: $color-white;
  font-weight: 500;
  height: 50px;
  border-radius: 30px;
}

::ng-deep .list-group{
  width: 90% !important;
  border: none;
}

::ng-deep .list-group-item {
 border: none !important; 
}

.container1 {
  display: block;
  position: relative;
  // padding-left: 35px;
  width: 100%;
  // cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid $color-border;
  border-radius: 5px;
}

.container1 input:checked ~ .checkmark {
  background-color: $light-green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container1 input:checked ~ .checkmark:after {
  display: block;
}

.container1 .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid $color-white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

 ::ng-deep .list-group-item {
  padding: 5px !important;

}

.box{
  margin-left: 1%;
  width: 92.5%;
  height: auto;
  border: 1px solid $color-border;
  color: $color-blue;
}

.text{
  margin-top: 6px;
  font-weight: 500;
}
.text2{
  margin-top: 6px;
  text-align: right !important;
  color: $color-darkGrey;
  cursor: pointer;
}
::ng-deep .mat-typography h3 {
  margin: 5px 0px 5px !important;
}

.smallline { 
  border-left: 0.5px solid $color-border;
  height: 76%;
  margin-top: 5px;
  position: absolute;
  margin-left: 56px;
  text-align: right;
} 

::ng-deep .mat-dialog-content {
  max-height: 70vh !important;
}
.cover{
  background-color: #446bd457;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 10px;
}
.clear-icon{
  margin-left: 10px;
  color: red;
  font-size: 17px;
  margin-top: 8px;
}

.width-10{
  max-width: 11.5%;
}

.errormsg{
    margin-left: 23%;
    margin-right: 23%;
    font-size: 18px;
    font-weight: 500;
    color: $color-red;
}
.borderline{
  border: 0.5px solid $color-border;
  width: 80%;
  margin-top: 5px;
  position: absolute;
}
.showmore{
  text-align: right !important;
  color: $color-dark-green ;
  cursor: pointer !important;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

// silder css

.range {
  flex: 2 0;
  text-align: center;
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 9px;
}

::ng-deep .range .ng5-slider-pointer {
  width: 8px;
  height: 8px;
  top: -5px;
  background-color: $color-blue !important;
  outline: none;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  cursor: pointer;
  width: 20px !important;
  height: 20px !important;
  top: -9px !important;
}

::ng-deep .range  .ng5-slider-pointer::after {
  position: absolute;
  top: -9px;
  left: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1),opacity .4s cubic-bezier(.25,.8,.25,1);
}



::ng-deep .range .ng5-slider-selection {
  background-color: $color-blue !important;
}
.pading{
  padding-left: 46px;
}
.padding{
  padding-left: 20px;
}
// .topadding{
//   padding-left: 20px;
// }
.fa-chevron-down:before {
  // content: "\f078";
  margin-left: -9px !important;
}
.col-9 {
  flex: 0 0 73%;
  max-width: 73%;
}
.diffcol-9{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 2.5%;
}
.close{
  float: right !important;
  margin-top: -24px;
  margin-right: -18px;
}
.dateBox {
  margin-left: 1%;
  // width: 43.5%;
  width: 70%;
  height: 31px;
  border: 2px solid #ccc;
  border-radius: 7px;
  color: #1F3777;
}
.date{
    padding: 61px;
    margin-top: -66px;
    margin-left: -49px;
}
.todate{
  margin-left: 145px;
  margin-top: -111px;
  padding: 8px;
}



