<app-header></app-header>

<nav aria-label="breadcrumb" class="coursebreadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Learner">Home</a></li>

    <li class="breadcrumb-item active" aria-current="page">All Courses</li>
  </ol>
</nav>
<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loader" style="height:100%">
  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>
<br> <br>
<div class="row">
  <div class="col-md-10 col-sm-12 col-12">
    <button class="submit" (click)="viewCategory(element)"> Category 
      <i class="fa fa-chevron-down colr"></i>
    </button>
    <button class="submit" (click)="showAppliedFiltre = !showAppliedFiltre"> Filter
      <i class="fa fa-filter colrr"></i>
    </button>
    <ng-container *ngIf="!showAppliedFiltre">
    <app-guideline-search></app-guideline-search>
    </ng-container>
    <button class="submit sort" mat-button [matMenuTriggerFor]="Sort">Sort by
      <i class="fa fa-chevron-down colrr"></i>
    </button>
    <mat-menu #Sort="matMenu">
      <button mat-menu-item (click)="sorting('A-Z')">A-Z</button>
      <button mat-menu-item (click)="sorting('Z-A')">Z-A</button>
    </mat-menu>

  </div>
  <div class="col-md-2 col-sm-12 col-12">
    <button class="icon_fnt" mat-button (click)="onDisplayModeChange(1)">
      <mat-icon class="icon">view_module</mat-icon>
    </button>

    <button class="icon_fnt" mat-button (click)="onDisplayModeChange(2)">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <br>
  <br>
<!-- 
  <div class="row">
    <div class="col-3" *ngIf="showAppliedFiltre">
      <app-guideline-search></app-guideline-search>
    </div> -->
    <!-- <ng-container *ngIf="!showAppliedFiltre"> -->
      <div class="col-9" *ngIf="!showAppliedFiltre">
        <div class="container">
          <div class="row" *ngIf="displayMode === 1">
            <ng-container
              *ngFor="let c of allcourses  | paginate: { totalItems: courseCount,itemsPerPage: 20, currentPage: paginationpgno } ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                  [showWishlist]="true" [showStatus]="false" [showRating]="true" [goto]="goto" [showCount]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
            <br>
          </div>
          <div class="row" *ngIf="displayMode === 2">
            <ng-container
              *ngFor="let c of allcourses  | paginate: { totalItems: courseCount,itemsPerPage: 20, currentPage: paginationpgno } ;let j=index">
              <div class="col-lg-9 col-md-9 center col-sm-11 col-11">
                <app-list-view-course-component [course]="c" [canNavigate]="true" [showEnroll]="true"
                  [showCartBtn]="false" [showWishlist]="true" [showStatus]="false" [showRating]="true"
                  [btnType]="btnType" [showCount]="true" [goto]="goto" [showDate]="true">
                </app-list-view-course-component>
                <br>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    <!-- </ng-container> -->
    <ng-container *ngIf="showAppliedFiltre">
      <div class="col-12 allcourses">
        <div class="container ">
          <div class="row" *ngIf="displayMode === 1">
            <ng-container
              *ngFor="let c of allcourses  | paginate: { totalItems: courseCount,itemsPerPage: 20, currentPage: paginationpgno } ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                  [showWishlist]="true" [showStatus]="false" [showCount]="true" [showRating]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
            <br>
          </div>
          <div class="row" *ngIf="displayMode === 2">
            <ng-container
              *ngFor="let c of allcourses  | paginate: {totalItems: courseCount, itemsPerPage: 20, currentPage: paginationpgno } ;let j=index">
              <div class="col-lg-9 col-md-9 center col-sm-11 col-11">
                <app-list-view-course-component [course]="c" [canNavigate]="true" [showEnroll]="true"
                  [showCartBtn]="false" [showWishlist]="true" [showStatus]="false" [showRating]="true"
                  [btnType]="btnType" [showCount]="true" [goto]="goto" [showDate]="true">
                </app-list-view-course-component>
                <br>
              </div>
            </ng-container>
          </div>

        </div>
      </div>
    </ng-container>
  </div>

  <br>
  <div style="margin-left: 36%;margin-right: 36%;">
    <pagination-controls class="my-pagination" (pageChange)="onpagination($event)">
    </pagination-controls>
  </div>
  <!-- <ng-container *ngIf="!showCategory">
    <app-category-component></app-category-component>
  </ng-container> -->
