.course-creation-container {
    height: 1000px;
    padding-left: 15px;
    margin: 15px 0;
    .Course-create {
        margin-bottom: 10px;
    }
    .mat-card {
        box-shadow: 0 0 10px #aaaaaa !important;
        height: 900px;
        width: 98%;
    }
    .pubish {
        color: #6f6c6c;
        font-size: initial;
        font-style: normal;
    }
}
