@import "../../../../assets/variable.scss";
mat-card {
    padding: 2% !important;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px 1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.top_course {
    font-size: 15px;
    font-weight: 600;
    margin-left: 3%;
}
::ng-deep .mat-grid-tile .mat-figure, mat-grid-tile {
    display: block !important;
    margin-right: 19px !important;
    margin-left: 19px !important;
}
.key_down {
    text-align: end;
}
.top_course {
    color: $color-blue !important;
}
