@import "variable";

.calendarArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 100%;
    @media screen and (max-width:768px) {
        flex-direction: column; 
    }
    @media screen and (min-width:992px)  {
        height: 100%;
    }
}
.activiySchedule {
    background-color: #f2f2f2;
    height: 100%;
    padding: 0 0.85em 4.5em 0.85em;
    width: 100%;
    order: 2;
    @media screen and (min-width: 720px) {
        padding: 0 0.85em 0 0.85em;
    }
    @media screen and (min-width: 992px) {
        padding: 1.8em 1.5em 0 1.5em;
        order: 1;
    } 
    @media screen and (min-width:769px) {
        width: calc(100% - 360px);
    }
    @media screen and (min-width: 1140px) {
        width: calc(100% - 400px);
    }
}
.heading5 {
    font-size: 1.7em;
    font-weight: 700;
    margin: 1em 0;
    span {
        font-size: 13px;
        font-weight: 400;
        color: #333333;
        line-height: normal;
    }
}
.viewInfotxt {
    flex-direction: column;
    // min-height: 70px;
    @media screen and (min-width:1140px) { 
        flex-direction: row;
    }
}
.leftPan {
    order: 2;
    margin-top: 10px;
    @media only screen and (min-width:1140px) {
        margin-top: 0;
        order: 1;
    }
    span {
        // margin-right: 1.7em;
        font-size: 1.1em;
        color:#999999 ;
        display: inline-block;
        cursor: pointer;
        // padding-bottom: 1em;
        padding: 14px 10px;
        position: relative;
        font-weight: 400;
        height: 48px;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: #000000;
        }
        &.active {
            color:#000000;
            font-weight: 400;
            &:before {
                content:' ';
                width: 6px;
                height: 6px;
                background-color: #BE2020;
                position: absolute;
                bottom: 6px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
            }
        }
    }
}
.rightPan {
    order: 1;
    @media only screen and (min-width:1140px) {
        order: 2;
    }
    span {
        padding: 0 1em 0 0;
        @media screen and (min-width:1140px) {
            padding: 0 1em;
        }
    }
    select {
        margin: 0 1em;
        min-width: 100px;
        padding: 0.1em 0.3em;
        border-radius: 0.2em;
        @media screen and (max-width:480px) {
            margin: 0 0.5em;
        }
    }
}
.contentarea {
    padding: 0.5em 0;
    @media only screen and (min-width:1140px) {
        padding: 1.5em 0;
    }
    .contentbox {
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #fff;
        padding: 0.8em 2em;
        border-radius: 0.3em;
        border: 0.1em solid #eaeaea;
        margin-bottom: 1em;
        position: relative;
        cursor: pointer;
        transform: perspective(1px) translateZ(0) translateY(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition-property: box-shadow, transform;
        transition-duration: 0.3s;
        &:hover {
            box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
            transform: translateY(-3px);
        }
        @media screen and (max-width:480px) {
            flex-wrap: wrap;
            padding: 0.4em 1em;
        }
        @media screen and (max-width:768px) { 
            padding: 0.8em 1em;
        }
        @media screen and (min-width:769px) and (max-width:1024px) {
            padding: 0.8em 1.5em;
        }
        @media only screen and (min-width:1140px) {
            flex-wrap: nowrap;
        }
        .infotypearea, .infodatearea {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .htxt {
                span {
                    display: block;
                    font-weight: 400;
                    color: #808080;
                }
                div.notifi {
                    position: relative;
                    padding-left: 1em;

                    &:before {
                        content: ' ';
                        width: 8px;
                        height: 8px;
                        background-color: transparent;
                        position: absolute;
                        border-radius: 10px;
                        left: 0;
                        top: 5px;
                    }
                }
                div.notifi.activity:before { 
                    background-color: #D9E021;
                }
                div.notifi.selfplacedlearning:before {  
                    background-color: #00A99D;
                }
                div.notifi.virtualinstructorled:before {  
                    background-color: #ca77f7;
                }
            }
        }
        .infotxtarea {
            width: 95%;
            order: 2;
            @media only screen and (min-width: 569px) {
                margin-bottom: 10px;
                order: 1;
            }
            @media only screen and (min-width:1140px) {
                width: 35%;
                margin-bottom: 0;
            }
            .htxt {
                font-weight: 700;
                color: #C02222;
                display: inline-block;
                line-height: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 98%;
            }
            .infotxt {
                color: #999999;
                .moduleTopic {
                    display: inline-block;
                    color: #666666;
                    margin-left: 5px;
                    line-height: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 98%;
                }
            }
        }
        .infotypearea {
            width: 100%;
            font-weight: 700;
            color: #000;
            padding: 0 1%;
            order: 1;
            @media only screen and (min-width: 569px) {
                width: 49%;
                order: 2;
            }
            @media only screen and (min-width:1140px) {
                width: 24%;
            }
            .icon {
                width: 14%;
                @media only screen and (max-width: 568px) {
                    display: none;
                }
            }
            .htxt {
                width: 84%;
                span {
                    @media only screen and (max-width: 568px) {
                        display: none;
                    }
                }
            }
        }
        .infodatearea {
            width: 100%;
            order: 3;
            @media only screen and (min-width: 569px) {
                width: 49%;
            }
            @media only screen and (min-width:1140px) {
                width: 23%;
            }
            .icon {
                width: 14%;
                @media only screen and (max-width: 567px) {
                    width: 7%;
                }
            }
            .htxt {
                width: 84%;
                @media only screen and (max-width: 567px) {
                    width: 91%;
                    margin: 6px 0;
                    display: flex;
                    flex-direction: row;
                }
                span {
                    &:last-child {
                        margin-left: 15px;
                        @media only screen and (min-width: 569px) {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .launch {
            width: 100%;
            order: 4;
            text-align: left;
            div {
                background-color: #c02222;
                border-radius: 5px;
                display: inline-flex;
                align-items: center;
                padding: 3px 8px 4px 8px;
                line-height: normal;
                em {
                  color: #fff;
                  font-size: 10px;
                  margin-right: 5px;
                }
                span {
                  font-size: 11px;
                  font-weight: 400;
                  color: #ffffff;
                }
            }
            @media only screen and (min-width:1140px) {
                width: 10%;
                align-self: center;
                text-align: center;
            }
        }
        .statusarea {
            width: 9%;
            text-align: right;
            order: 5;
            @media screen and (min-width:1140px) {
                width: 5%;
            }
            @media screen and (max-width:1139px) { 
                position: absolute;
                top: 15px;
                right: 1em;
            }
            .icon {
                border-radius: 50%;
                font-size: 0.6em;
            }
            .green {
                height: 17px;
                width: 17px;
                background-color: #41d275;;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    color: #fff;
                }
            }
            .grey {
                font-size: 1.2em !important;
                &::before {
                    color:grey;
                }
            }
            .red {
                font-size: 1.2em !important;
                color: #c02222 !important;
            }
            .timer {
                font-size: 1.2em !important;
                &::before {
                    color: #FFA800 !important;
                }
            }
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #808080;
        font-size: 1.4em;
    }
}

[data-md-tooltip] {
    position: relative;
    &::before {
        content: attr(data-md-tooltip);
        position: absolute;
        bottom: -35px;
        left: 50%;
        padding: 8px;
        transform: translateX(-50%) scale(0);
        transition: transform 0.3s ease-in-out;
        transform-origin: top;
        background: #616161e6;
        color: white;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 400;
    }
    &:hover {
        &::before {
            transform: translateX(-50%) scale(1);
        }
    }
}
::ng-deep.infotxtarea {
    .mat-tooltip {
        font-size: 14px;
        line-height: normal;
    }
}

::ng-deep.calendarSlide { 
    width: 400px;
    background-color: #fff;
    padding: 2em 1em; 
    box-shadow: 0 0 2px 0 #0000006b;
    order: 2;
    position: fixed;
    right: 0;
    top: 70px;
    height: 100%;
    @media screen and (max-width:991px) {
        padding: 1em;
        width: 100%;
        order: 1;
        position: relative;
        top: auto;
        height: auto;
    }
    @media screen and (min-width:769px) and (max-width:1024px) {
        width: 360px;
    }
    .cal-month-view .cal-day-cell {
        min-height: 40px;
    }
    .cal-month-view .cal-cell-top {
        min-height: 30px;
        flex: 1;
    }
    .cal-month-view .cal-days .cal-cell-row {
        border-bottom-color: transparent;
    }
    .cal-month-view .cal-day-cell:not(:last-child) {
        border-right-color: transparent;
        border-radius: 0.5em;
    }
    .cal-month-view .cal-days {
        border-color: transparent;
    }
    .cal-month-view .cal-day-cell.cal-today {
        background-color: #f2f2f2;
    }
    .cal-month-view .cal-day-number {
        font-size: 1em;
        font-weight: 400;
        opacity: 1;
        margin-top: 0.5em;
        margin-right: 1.4em;
        float: right;
        margin-bottom: 0.5em;
    }
    .cal-month-view .cal-day-cell.cal-today .cal-day-number {
        font-size: 1.1em;
        font-weight: bold;
    }
    .cal-month-view .cal-header {
        text-align: center;
        color: #9c9c9c !important;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 0.9em;
    }
    .cal-month-view {
        .cal-in-month {
            cursor: pointer;
        }
    }
    .calendarInfo {
        display: flex;
        align-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .prevNext {
            span {
                color: #666666;
                font-size: 10px;
                display: inline-block;
                cursor: pointer;
                line-height: normal;
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
    .currentMonth {
        font-weight: 700;
        font-size: 1.6em;
        margin: 1em 0;
    }
    .activInfo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: #9c9c9c !important;
        font-size: 0.9em;
        padding: 1em 0;
        span {
            position: relative;
            padding-left: 1.1em;
            font-size: 11px;
            color: #666666;
            display: inline-block;
            margin-right: 10px;
            line-height: normal;
            @media only screen and (min-width: 411px) {
                font-size: 12px;
            }
            &:before {
                content:'';
                width: 7px;
                height: 7px;
                background-color: transparent;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                border-radius: 5px; 
            }
            &.self:before {
                background-color: #00a99d;
            }
            &.live:before {
                background-color: #ca77f7;
            }
            &.Activ:before {
                background-color: #d9e021;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .cal-month-view .cal-event {
        width: 6px;
        height: 6px;
    }
    .cal-month-view .cal-day-badge {
        margin-top: 8px;
        display: none;
    }
    .cal-month-view .cal-events {
        margin-top: 0;
        justify-content: center;
    }
}

::ng-deep .rightPan {
    .mat-form-field {
        width: 40%;
    }
    .mat-form-field-appearance-outline {
        .mat-form-field-outline {
            top: 0;
        }
        .mat-form-field-wrapper {
            margin: 0;
        }
        .mat-select-arrow-wrapper {
            transform: translateY(0%);
        }
        .mat-form-field-flex {
            margin-top: 0;
            background-color: #ffffff;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
        }
        .mat-form-field-outline-start {
            border-radius: 0;
        }
        .mat-form-field-outline-end {
            border-radius: 0;
        }
        .mat-form-field-outline-thick {
            .mat-form-field-outline-end, 
            .mat-form-field-outline-gap, 
            .mat-form-field-outline-start {
                border-width: 1px;
            }
        }
    }
    .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
        opacity: 0.15;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: rgba(0, 0, 0, 0.15);
    }
    .mat-form-field-underline {
        bottom: 0;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-infix {
        border-top: 0 solid transparent;
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: translateY(0%);
    }
    .mat-form-field-ripple, 
    .mat-form-field.mat-focused .mat-form-field-ripple, 
    .mat-form-field-appearance-fill .mat-form-field-underline::before {
        background-color: transparent;
    }
    .mat-form-field-underline {
        border: 1px solid #cdcdcd;
        height: 100%;
    }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow, 
    .mat-select-arrow {
        color: rgba(0, 0, 0, 0.54);
    }
    .mat-select {
        text-transform: capitalize;
    }
    .noHandIcon {
        .mat-select-trigger {
            cursor: not-allowed;
        }
        .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
            cursor: not-allowed;
        }
    }
    // mat-form-field {
    //     width: 10em !important;
    // }
    // .mat-form-field-wrapper {
    //     padding-bottom: 0;
    // }
    // .mat-form-field-appearance-outline .mat-form-field-wrapper {
    //     background-color: #ffffff;
    // }
    // .mat-form-field-appearance-outline .mat-form-field-infix {
    //     padding: 0 0 0.6em 0 !important;
    // }
    // .pull-right {
    //     mat-form-field {
    //         width: 10em !important;
    //     }
    // }
    // .mat-select-arrow-wrapper {
    //     vertical-align: baseline !important;
    // }
    // .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    //     color: #00000063 !important;
    //     opacity: 1 !important;
    // }
}
.reset-button{
    background-color: $lxp-theme-green !important;
    color: $color-white !important;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    padding: 5px 15px;
    line-height: normal;
    border: none;
    box-shadow: none;
    border-color: transparent;
    overflow: hidden;
    transition-property: color;
    transition-duration: 0.2s;
    z-index: 9;
    @media only screen and (min-width: 1140px) {
        transform: translateY(-50%) perspective(1px) translateZ(0);
    }
    em {
        display: inline-block;
        transform: scaleX(-1);
        font-size: 10px;
        margin-right: 7px;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #004684;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }
    &:hover {
        &::before {
            transform: scale(1);
        }
    }
    span {
        line-height: 16px;
    }
}

// No Card
.noCard {
    text-align: center;
    figure {
        margin: 15px 0;
    }
    p {
        font-size: 14px;
        color: #000000;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 30px ​!important;
    }
}
  
.skeleton-container{
    background-color: white;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    margin-top: 20px;
    padding: 6px;
    .skeleton-part {
        width: 30%;
        @media only screen and (max-width: 1139px) {
            width: 48%;
        }
        &.item3 {
            @media only screen and (max-width: 1139px) {
                display: none;
            }
        }
    }
    .skeletonStyle {
        border-radius: 5px;
        margin: 8px 0;
        height: 15px;
        width: 100%;
        background-color: $skeletonColor;
        border: 1px solid #fff;
    }
}

::ng-deep .calendarArea {
    .cal-day-selected {
        outline: #0D05D5 auto 1px;
        outline-color: #0D05D5;
        outline-style: auto;
        outline-width: 1px;
    }
    
    .calendarSlide .cal-month-view .cal-day-cell.cal-today {
        background-color: #dcdada;
    }
    .cal-event-highlight {
        background-color: white !important;
    }
}
.canendarTrans{
    display: none;
}