<section class="container">
  <div class="headerarea">
    <div class="heading5">Schedule</div>
  </div>
  <div class="viewInfotxt">
    <div class="leftPan">
      <span class="active">All ({{'3'}})</span>
      <span>Pending ({{'3'}})</span>
      <span>Completed ({{'3'}})</span>
    </div>
    <div class="rightPan">
      <span>Filter by: </span>
      <select class="sel-pad">
        <option [value]="-1" selected="true">All Courses</option>
      </select>
      <select class="sel-pad">
        <option [value]="-1" selected="true">All Activities</option>
      </select>
    </div>
  </div>
  <div class="contentarea">

    <div class="contentbox">

      <div class="infotxtarea">
        <span class="htxt">Applied Industrial loT</span>
        <div class="infotxt"> <span>Module:</span> Introduction to Industrial loT</div>
        <div class="infotxt"> <span>Topic:</span> Phases of Industrial Revolution</div>
      </div>

      <div class="infotypearea">
        <span class="icon">i</span>
        <div class="htxt">
          <span>Type</span>
          <div class="notifi activity">{{'Assignments'}}</div>
        </div>
      </div>

      <div class="infodatearea">
        <span class="icon">i</span>
        <div class="htxt">
          <span>03/06/2021 12.30 PM</span>
          <span>11/06/2021 02.00 PM</span>
        </div>
      </div>

      <div class="statusarea">
        <span class="icon">i</span>
      </div>

    </div>

  </div>
</section>