<app-header></app-header>
<div class="calendarArea">
<section>
  <div class="headerarea">
    <div class="heading5">Schedule</div>
  </div>
  <div class="viewInfotxt">
    <div class="leftPan">
      <span  (click)="setStatus('')" [ngClass]="status == '' ? 'active' : ''">All ({{activityData?.allActivityCount}})</span>
      <span (click)="setStatus('pending')" [ngClass]="status == 'pending' ? 'active' : ''">Pending ({{activityData?.pendingActivityCount}})</span>
      <span (click)="setStatus('completed')" [ngClass]="status == 'completed' ? 'active' : ''">Completed ({{activityData?.completedActivityCount}})</span>
    </div>
    <div class="rightPan">
      <span>Filter by: </span>
      <mat-form-field class="mr-2" appearance="outline">
        <mat-select (selectionChange)="onSortChange($event)" [(ngModel)]="courseValue">
          <mat-option *ngFor="let course of courseDetailsList" [value]="course.course_id">
              {{course.course_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select (selectionChange)="onSortChange($event)" [(ngModel)]="activityValue">
          <mat-option *ngFor="let filter of filterBy" [value]="filter.value">
              {{filter.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="contentarea">
    <ng-container *ngIf="dataAvailable">
      <ng-container *ngFor="let activity of activityData.activities">
        <div class="contentbox d-flex justify-content-between" (click)="goToActivities(activity)">
          <div class="infotxtarea">
            <span class="htxt">{{activity.coursename}}</span>
            <div class="infotxt"> <span>Module:</span> {{activity.modulename}}</div>
            <div class="infotxt"> <span>Topic:</span> {{activity.topicname}}</div>
          </div>
    
          <div class="infotypearea">
            <span *ngIf="activity.activitytype == 'Perform' || activity.activitytype == 'Assignment'|| activity.activitytype == 'Project'" class="icon lxp-Test" >i</span>
            <span  *ngIf="activity.activitytype == 'Live Classroom'" class="icon lxp-VILT" >i</span>
            <span  *ngIf="activity.activitytype == 'Self Learning'" class="icon lxp-Self_Learning">i</span>
            <div class="htxt">
              <span>Type</span>
              <div></div>
              <div *ngIf="activity.activitytype != 'Live Classroom' && activity.activitytype != 'Self Learning'" class="notifi activity">{{activity.activitytype}}</div>
              <div *ngIf="activity.activitytype == 'Self Learning'" class="notifi selfplacedlearning">{{activity.activitytype}}</div>
              <div *ngIf="activity.activitytype == 'Live Classroom'" class="notifi virtualinstructorled">Virtual Instructor Led Session</div>
            </div>
          </div>
    
          <div class="infodatearea">
            <span class="icon lxp-calendar">i</span>
            <div class="htxt">
              <span>{{activity.activitystartdate | date: 'MMM d, y, h:mm a'}}</span>
              <span>{{activity.activityenddate | date: 'MMM d, y, h:mm a'}}</span>
            </div>
          </div>
    
          <div class="statusarea d-flex justify-content-end align-items-center">
            <span class="icon lxp-Tick green" *ngIf="activity.status == 'Completed' || activity.status == 'Graded' || activity.status == 'Submitted'">i</span>
            <span class="icon lxp-Timelapse red" *ngIf="activity.status == 'Overdue'">i</span>
            <span class="icon lxp-Timer timer" *ngIf="activity.status == 'On going'">i</span>
            <span class="icon lxp-Play grey" *ngIf="activity.status == 'Yet to submit' || activity.status == 'Up Coming'">i</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!dataAvailable && !showSkeleton">
      No data found
    </ng-container>
    <ng-container  *ngIf="showSkeleton">
      <div class="skeleton-container d-flex justify-content-between flex-row" *ngFor="let skeleton of skeletonPart">
        <div class="skeleton-part d-flex justify-content-between flex-column item1">
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        </div>
        <div class="skeleton-part d-flex justify-content-between flex-column item2">
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        </div>
        <div class="skeleton-part d-flex justify-content-between flex-column item3">
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<div class="calendarSlide">
  <div class="d-flex justify-content-end">
    <button mat-stroked-button class="reset-button" (click)="onSortChange('')">
      Reset
    </button>
  </div>
  <div class="calender-section">
    <!-- calender html start-->
    <div class="calendarInfo">
      <div class="currentMonth"> {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
      </div>
      <div class="prevNext align-self-center">
        <div class="btn-group d-flex align-items-center justify-content-center">
          <mat-icon mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="getCalendarCount($event);monthChange($event)">
            <!-- {{'Previous' | translate }} -->keyboard_arrow_left
          </mat-icon>
          <mat-icon mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="getCalendarCount($event);monthChange($event)">
            <!-- {{'Next' | translate }} --> keyboard_arrow_right
          </mat-icon>
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="getLearnerActivity('day',$event.day,$event.day)">
      </mwl-calendar-month-view>
    </div>
    <!-- calender html end #00a99d-->
  </div>
  <div class="activInfo">
    <span class="self">Self paced Learning</span>
    <span class="live">Virtual Instructor Led Session</span>
    <span class="Activ">Activity</span>
  </div>
</div>
</div>