@import "variable";
.myC-head {
    margin-left: 0.8% !important;
}
.scroll-bar{
    // width: 450px;
    width: 100%;
    height: 505px;
    overflow: auto;
    // overflow-y: hidden;
}
.calender-container {
    height: 100vh;
    //overflow-y: hidden;
    .calender-section {
        box-shadow: none;
        padding: 0;
        // height: 550px;
        // overflow-y: auto;
    }
    .monthHeading {
        h1 {
            margin: 0 !important;
        }
    }
    .f_size_22 {
        font-size: 22px;
    }
    .color-grey {
        border-left: 2px solid #b5acac !important;
    }
    .errorbox {
        border-left: 7px solid;
        height: 100px;
        background: #F5F5F5;
        border-left-color: $lxp-theme-yellow-sec;
        color: black;
        text-align: center;
        padding-top: 38px;
        box-shadow: #00000029;
        box-shadow: aliceblue;
        box-shadow: 0px 2px 4px #00000029;
    }
    .f_size_24 {
        font-size: 24px;
    }
    .para {
        display: inline-flex;
        font-size: 18px;
        vertical-align: initial;
        padding-left: 10px;
    }
    .iconevent {
        padding: 9px;
        font-size: 37px;
        color: #5c6873;
    }
    .color-blue {
        border-left: 3px solid #FFA04E !important;
        color: #1F1A17!important;
    }
    //
    .prevNext {
        position: relative;
        width: 100%;
        p {
            font-size: 22px;
            margin: 0 !important;
            @media only screen and (max-width: 576px) {
                font-size: 16px;
            }
        }
        .currentMonth {
            width: 150px;
            @media only screen and (max-width: 576px) {
                width: 105px;
            }
        }
        .mat-icon {
            font-size: 35px;
            width: 34px;
            height: 34px;
            @media only screen and (max-width: 576px) {
                font-size: 24px;
                width: 24px;
                height: 24px;
            }
        }
    }
    .monthHeading {
        position: absolute;
        right: 0%;
        top: 0;
        button {
            font-size: 18px;
            line-height: normal;
            padding-right: 0;
            @media only screen and (max-width: 576px) {
                font-size: 16px;
            }
        }
    }
    //
    .activityHeading {
        color: rgba(51, 51, 51, 1);
        font-size: 20px;
        font-weight: 600;
        @media only screen and (max-width: 991px) {
            margin-top: 25px;
        }
    }
    .activityDate {
        font-size: 12px;
        color: rgba(51, 51, 51, 0.6);
    }
    .mainCard {
        background: #F5F5F5;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        // overflow: hidden;
        // margin-right: 5px;
        margin-bottom: 10px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
        &:nth-child(2n+2) {
            @media only screen and (max-width: 991px) {
                margin-left: 4%;
            }
            @media only screen and (max-width: 767px) {
                margin-left: 0;
            }
        }
        @media only screen and (max-width: 991px) {
            display: inline-block;
            width: 48%;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .session-card {
        box-shadow: none;
        height: auto;
        margin-bottom: 0%;
        background: transparent !important;
        padding: 10px 10px 10px 20px;
        position: relative;
        &::before {
            content: '';
            width: 6px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        &.color-grey-card-status {
            &::before {
                background-color: #0C781B;
            }
        }
        &.color-blue-card-status {
            &::before {
                background-color: #b3b2b2;
            }
        }
        &.color-yellow-card-status {
            &::before {
                background-color: #FFA04E;
            }
        }
    }
    .color-white {
        color: #b5acac;
        background: $color-white !important;
        border-left: 0px !important;
    }
    .activity-status {
        span {
            padding: 2px 6px 3px 6px;
            border-radius: 4px;
            color: $color-white;
            font-size: 12px;
            display: inline-block;
            line-height: normal;
            font-family: Roboto Condensed !important
        }
    }
    .status {
        background: #FFA04E;
    }
    .Upcomingstatus {
        background: #b3b2b2;
    }
    .Completedstatus {
        background: #0C781B;
    }
    .coursenameT {
        border-radius: 0;
        font-weight: 600;
        padding: 5px 0 ;
        font-size: 13px;
        white-space: nowrap; 
        width: 200px; 
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0 !important;
        color: rgba(51, 51, 51, 1);
    }
    .course-section, .topic-section {
        width: 48%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(58, 58, 58, 1);
        font-size: 13px;
    }
    .topic-section {
        text-align: right;
    }
    .expandLine {
        margin: 5px 0 0 0 !important;
    }
    .topicSection {
        width: 100%;
    }
    .activityButton {
        width: 30%;
        text-align: right;
    }
    .courseModule {
        margin: 2px 0 0 0 !important;
    }
    .img-show {
        width: 10%;
        text-align: right;
        img {
            object-fit: contain;
            width: 23px;
            height: 23px;
        }
    }
    .activity_type {
        font-size: 12px;
        color: rgba(58, 58, 58, 1);
        display: inline-block;
        font-family: Roboto Condensed !important;
        margin-right: 0px;
        width: 60%;
    }
    .LaunchBtn {
        border: 1px solid $lxp-theme-green;
        border-radius: 5px;
        position: relative;
        display: inline-block;
        font-size: 12px;
        color: #ffffff;
        border: 1px solid currentColor;
        padding: 3px 6px 3px 6px;
        line-height: 18px;
        margin-bottom: 0 !important;
        background-color: $lxp-theme-green;
    }

    .blue_clr {
        // color: #69727c;
    }
    .cap::first-letter {
        text-transform: capitalize !important;
    }
    // .m-b-10 {
    //     margin-bottom: 12px;
    // }
    .statBtn {
        border: 1px solid #b3b2b2;
    }
    // .mat-stroked-button {
    //     border: 1px solid currentColor;
    //     padding: 0px 7px;
    //     line-height: 25px;
    // }
    .blue_clr:hover {
        background-color: $lxp-theme-green !important;
        color: $color-white !important;
    }
    .m-l-4 {
        // margin-left: 4%;
    }
    hr {
        margin-bottom: 0.5rem;
    }
    .no_pl {
        padding-left: 0 !important;
    }
    .created-section{
        // width: 28%;
        color: black !important;
        display: inline-block;
        font-family: Roboto Condensed !important;
    }
    .created-name{
        color: black !important;
        font-family: Roboto Condensed !important;
    }
    .person {
        // position: absolute;
        // margin-left: 10px;
        color: #5c6873;
        font-size: 18px;
    }
    .aligned-icon {
        // position: absolute;
        color: #9E9E9E;
        // margin-left: 32px;
    }
    .color_black2 {
        color: #5c6873;
        ;
    }
    .space-10 {
        margin-top: 10px;
    }
    .session-sub-card {
        width: 100%;
        // border-bottom: 1px solid #dedede;
        // padding-bottom: 10px;
    }
    .activitiesCard {
        .mat-icon {
            // width: auto;
            height: auto;
            vertical-align: middle;
        }
    }
    .f_size_12 {
        font-size: 12px;
    }
    .btn {
        color: $color-white  !important;
        background-color: #b3b2b2 !important;
        border-color: #bcc0c5 !important;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
        color: $color-white  !important;
        background-color: $lxp-theme-green !important;
        border-color: #b3b2b2 !important;
        /*set the color you want here*/
    }
}


// ::ng-deep .cal-month-view .cal-cell-top {
//     height: 20px !important;
//     min-height: 20px !important;
//     flex: 1;
// }
::ng-deep .cal-cell-row {
    height: 100%;
}
::ng-deep.cal-month-view {
    margin-top: 20px;
}
::ng-deep.cal-month-view .cal-day-cell {
    min-height: 95px;
    @media only screen and (max-width: 737px) {
        // height: 80px;
        min-height: 7vh;
    }
}
::ng-deep.cal-month-view .cal-cell-top {
    @media only screen and (max-width: 576px) {
        min-height: 0;
    }
}

::ng-deep.cal-month-view .cal-event {
    display: none;
}

::ng-deep .cal-cell-row {
    height: 100%;
}

// ::ng-deep.cal-month-view .cal-day-cell {
//     height: 80px;
//     min-height: 0px;
// }

::ng-deep.cal-month-view .cal-event {
    display: none;
}

::ng-deep.cal-month-view .cal-day-badge {
    background-color: #48b994 !important;
    color: $color-white  !important;
}

::ng-deep.cal-month-view .cal-day-number {
    color: $color-blank;
}

::ng-deep.cal-month-view .cal-days {
    border-color: #b3b2b2;
    border-bottom: 0px;
}

::ng-deep.cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: #b3b2b2;
}

 :host ::ng-deep.cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: #b3b2b2;
}
.footer {
    padding: 15px;
    font-size: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $label;
    // position: fixed;
    z-index: 999999;
    font-weight: 500;
    background-color: $profile-t-grey;
    text-align: right;
    border-top: 2px solid $profile-p-grey;
  }


// Mobile
@media (min-width: 200px) and (max-width: 767.98px) {
.footer{
    text-align: center;
}
}
::ng-deep .marginRemove{
    margin: 0 0 0 16px !important;
}

::ng-deep .expandLine{
    margin: 0 0 20px 16px !important;
}

::ng-deep .cal-day-selected{
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
}
// ::ng-deep .mat-h5, .mat-typography h5 {
   
//     margin: 0 0 0 16px !important;
// }