
div.terms{
    color: #1F3777;
    word-break: break-all !important;
    font-size: 12px;
    font-weight: 500;
}
div.account{
    color: #1F3777;
    word-break: break-all !important;
    text-align: center !important;
}


