<mat-toolbar>
  <img class="hearder-logo " alt="" src="assets/learner/LT.svg">
  <span class="headTit">&nbsp;LARSEN & TOUBRO</span>
</mat-toolbar>
<div class="limiter">
    <div class="row container-reg200">
        <!-- <div class="col-md-8 col-sm-12 col-12">
            <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/lapBG.jpeg">
            <div class="row footer20">
                <div class="col-8">
                  <span class="footertext">© 2020 L&T EduTech.</span>
                </div>
                <div class="col-4">
                  <span class="powered">Powered by:
                    <img class="footericon" alt="" src="assets/learner/LT_small.svg">
                  </span>
                </div>
              </div>
        </div> -->
        <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
            <!-- <img alt="" class="lnt_logo" src="assets/learner/WHITE_LNT T_LOGO.svg"> -->
            <div class="main-logo">
            <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/iGGnite_SVG.svg">
          </div>
            <div class="row footer20">
              <div class="col-8">
                <div class="powered">
                  <!-- <img class="footericon" alt="" src="assets/learner/LnT-Full-black-logo.svg"> -->
                 <span class="forgot1">2020 © L&T EduTech All Rights Reserved</span> 
                </div>
              </div>
              <div class="col-4">
                <!-- <span class="powered">
                  <img class="footericon" alt="" src="assets/learner/LT_small.svg">
                </span> -->
              </div>
            </div>
          </div>
        
        <div class="col-md-4 col-sm-12 col-12">
            <div class="wrap-reg ">
                <!-- <img class="kauhalya" alt="" src='assets/images/l&t.png'> -->
                <form [formGroup]="registerForm">
                    <!-- <div class="borderbox"> -->
                        <h1 class=" animated animatedFadeInUp fadeInUp signIn">{{'Create an account ' | translate }}</h1><br><br>
                        <mat-form-field  appearance="outline">
                            <mat-label class="label-color">{{'Full Name' | translate }}</mat-label>
                            <input matInput id="fullname"  #fullname placeholder="Enter the full name"  formControlName="fullname" 
                              maxlength="50" required>
                            <mat-icon matPrefix class="icon-color">person_outline</mat-icon>
                          
                            <!-- <mat-error class="error" *ngIf="f.fullname.touched && f.fullname.errors">Fullname is required</mat-error>
                            <mat-error class="error" *ngIf="f.fullname.errors.pattern">Fullname is invalid</mat-error> -->
                            <mat-error class="error"  *ngIf="registerForm.get('fullname').hasError('required')">
                                {{'Full name is required' | translate }}
                              </mat-error>
                            <mat-error class="error" *ngIf="registerForm.get('fullname').hasError('minlength')">
                                {{'Full name should be atleast 3 characters long' | translate }}
                              </mat-error>
                          
                              <mat-error class="error" *ngIf="registerForm.get('fullname').hasError('maxlength')">
                                {{'Full name can be atmax 50 characters long' | translate }}
                              </mat-error>
                          
                              <mat-error class="error" *ngIf="registerForm.get('fullname').hasError('pattern')">
                                {{'Full name is invalid' | translate }}
                              </mat-error>
                          </mat-form-field>
                        <!-- <div class="form-group">
                            <label class="fromLabel">Full Name</label>
                            <input type="text" id="fullname" #fullname formControlName="fullname" minlength="3"
                                maxlength="50" class="form-control"
                                [ngClass]="{ 'is-invalid': f.fullname.touched && f.fullname.errors }" />
                            <div *ngIf="f.fullname.touched && f.fullname.errors" class="invalid-feedback">
                                <div *ngIf="f.fullname.errors.required">Full Name is required</div>
                                <div *ngIf="f.fullname.errors.pattern">Full Name is invalid</div>
                                <div *ngIf="f.fullname.errors.maxlength || f.fullname.errors.minlength">Full name must
                                    be
                                    3-50 characters long </div>
                            </div>
                        </div> -->
                        <br><br>
                        <mat-form-field appearance="outline">
                            <mat-label class="label-color">{{'Email' | translate }}</mat-label>
                            <input matInput  id="email" #email placeholder="Enter the email"  formControlName="email" maxlength="64"
                            required>
                            <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                            <mat-error class="error" *ngIf="registerForm.get('email').hasError('required')">{{'Email is required' | translate }}</mat-error>
                            <!-- <mat-error class="error" *ngIf="f.email.errors.required">Email ID is required</mat-error> -->
                            <mat-error class="error" *ngIf="registerForm.get('email').hasError('pattern')">{{'Please enter a valid email address ' | translate }}</mat-error>
                          </mat-form-field>
                        <div class=" space5">
                            <!-- <label class="fromLabel">Email ID</label>
                            <input type="text" id="email" #email formControlName="email" maxlength="64"
                                class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
                                required />
                            <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Email ID is invalid</div>
                            </div><br> -->

                            <div class="row">
                                <div class="col-12">
                                    <div class="alert1"> <b>{{'Note' | translate }}</b> {{': Full name will be used in your certificates' | translate }}</div>
                                </div>
                            </div>


                            <button class="btn" mat-raised-button id="btnsubmit" [disabled]="!registerForm.valid" (click)="Submit()">
                                {{'SIGN UP' | translate }}
                            </button>

                            <div class="account">{{'Already have an account?' | translate }}
                                <a [routerLink]="['/Learner/login']" routerLinkActive="active"><span class="col">{{'Sign
                                        in' | translate }}</span></a>
                            </div>
                        </div>
                    <!-- </div> -->
                </form>
                <!-- <div class="row footer20">
                    <div class="col-7">
                        <span class="footertext">© 2020 L&T EduTech.</span>
                    </div>
                    <div class="col-5">
                        <span class="powered">Powered by :
                            <img class="footericon" alt="" src="assets/learner/LT_small.svg">
                        </span>
                    </div>
                </div> -->
            </div>
            <div class="row footer20">
              <div class="col-3">
              </div>
              <div class="col-9">
                <!-- <span class="powered"> -->
                  <!-- <img class="footericon" alt="" src="assets/learner/LnT-Full-black-logo.svg"> -->
                 <!-- <span class="forgot1">{{'2020 © L&T EduTech All Rights Reserved' | translate }}</span> 
                </span> -->
              </div>
            </div>

        </div>
    </div>


</div>