<div class="limiter">
    <img alt="" class="lnt_logo" src="../../../../assets/learner/WHITE_LNT T_LOGO.svg"> 
    <!-- <span class="pg"><span style="font-size: 12px;">Already have an account !</span>&nbsp;&nbsp;<a class="link" [routerLink]="['/Learner/login']">Sign in</a></span> -->
  <!-- <span class="privcy"> Privacy policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & conditions</span> -->
    
  <div class="row container-reg200">
      <div class="col-md-8 col-sm-12 col-12">

      </div>
      <div class="col-md-4 col-sm-12 col-12">
            
  <!-- <div class="container-reg200"> -->
    <div class="wrap-reg ">
        <img class="kauhalya" alt="" src='../../../../assets//learner/kauhalya.png'>
        <form  [formGroup]="registerForm">
            <div class="borderbox">
            <!-- <h1 class="head1">Edutech</h1> -->
            <h1 class="signIn">Create an account </h1><br><br>
            <div class="form-group">
                <label class="fromLabel">Full Name</label>
                <input type="text" id="fullname" #fullname formControlName="fullname"
                    minlength="3" maxlength="50" class="form-control"
                    [ngClass]="{ 'is-invalid': f.fullname.touched && f.fullname.errors }" />
                <div *ngIf="f.fullname.touched && f.fullname.errors" class="invalid-feedback">
                    <div *ngIf="f.fullname.errors.required">Full Name is required</div>
                    <div *ngIf="f.fullname.errors.pattern">Full Name is invalid</div>
                    <!-- <div *ngIf="f.fullname.errors.minlength">Full Name must be minimum of 3 characters </div>
                    <div *ngIf="f.fullname.errors.maxlength">Full Name must be 50 maximum of characters</div> -->
                    <div *ngIf="f.fullname.errors.maxlength || f.fullname.errors.minlength">Full name must be
                        3-50 characters long </div>
                </div>
            </div>

            <div class="form-group space5">
                <label class="fromLabel">Email ID</label>
                <input type="text" id="email" #email formControlName="email" maxlength="64"
                    class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" required />
                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Email ID is invalid</div>
                </div><br>
                <!-- <div style=" margin-left: -50px;margin-right: -50px;"> -->
                <div class="row">
                    <!-- <div class="col-2"></div> -->
                    <div class="col-12">
                        <div class="alert1"> Note : This name will be used in your certificates</div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="linee"></div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                        <div class="iagree">
                            <mat-checkbox  formControlName="termsandconditions" required>
                                <div class="terms"><span style="color:#333">I agree with!</span> <a (click)="openDialog()">&nbsp;&nbsp;<span style="font-size: 14px;">"Terms &
                                    Conditions"</span></a></div>
                            </mat-checkbox><br><br></div>
                    </div>
                </div> -->
            <!-- </div> -->
                
                <button class="btn" id="btnsubmit" [disabled]="!registerForm.valid" (click)="Submit()">
                    Register
                </button>
               
                <div class="account">Already have an account !
                    <a [routerLink]="['/Learner/login']"><strong class="col">Sign
                            in</strong></a>
                </div>
            </div>
        </div>
        </form>
        <!-- <footer class="footer-before-login"> -->
            <div class="row footer20">
              <div class="col-7">
                  <span class="footertext">@ 2020 L&T EduTech.</span>
              </div>
              <div class="col-5">
                  <span class="powered">Powered by : 
                      <img class="footericon" alt="" src="assets/learner/LT_small.svg">
                  </span>
              </div>
            </div>
            <!-- </footer> -->

    </div>
<!-- </div> -->
    </div>
  </div>
  

</div>