
<div class="limiter">
    <div class="container-reg100 p-t-77">
        <div class="wrap-reg p-l-50 p-r-50 p-t-77  p-b-30">
            <h1 class="head">Create an account </h1>
        <form [formGroup]="registerForm">
            <div class="form-group">
                <label>Full Name</label><span style="color: red;"> *</span>
                <input type="text" formControlName="username" placeholder="example"  maxlength="50" class="form-control"
                    [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
                    <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Full Name is required</div>
                    <div *ngIf="f.username.errors.pattern">Full Name is invalid</div>
                    <div *ngIf="f.username.errors.minlength">Full Name must be minimum of 3 characters </div>
                    <div *ngIf="f.username.errors.maxlength">Full Name must be 50 maximum of characters</div>
                </div>
            </div>

            <span class="alert ">This name will be used in your certificates</span>


            <div class="form-group space5">
                <label>Email ID</label><span style="color: red;"> *</span>
                <input type="text" formControlName="email" placeholder="example@mail.com"  maxlength="64" class="form-control"
                    [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" required />
                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.pattern">Email pattern is invalid</div>
                </div>
            </div>

            <mat-checkbox class="" formControlName="termsandconditions"> 
               <div class="terms">I agree to the <a href="#">"Terms and Conditions"</a> and <br> privacy policy  by clicking on register</div> 
              </mat-checkbox><br><br>
            <button class="btn " [disabled]="!registerForm.valid" (click)="Submit()">
               Register
            </button><br><br>
            <!-- <div class="account"> <b (click)="signIn()">Sign In</b></div>  -->
            <div class="account">Already an account?<a [routerLink]="['/Learner/login']"><strong>Sign In</strong></a> </div>
    </form>
    </div>
    </div>
</div>

