@import "../../../../assets/variable.scss";

.sideNavWrapper {
  // display: flex;
  position: relative;
  min-height: calc(100vh - 106px);
}
::ng-deep.sideNavWrapper {
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
  }
}
.sideNavContainer {
  width: 100%;
  z-index: inherit !important;
}
.sideNavContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  //Something New
  .somethingNew {
    background-color: #FFCC00;
    padding: 20px;
    h4 {
      font-size: 20px;
      color: #ffffff;
      font-weight: 500;
      margin: 40px 0 10px 0;
    }
    .thingsContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 470px;
      min-width: 350px;
      p {
        font-size: 14px;
        color: #4D4D4D;
        font-weight: 400;
        margin: 0 20px 0 0 !important;
      }
      > div {
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin-right: 20px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 1px;
          background-color: #ffffff;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          position: relative;
          z-index: 1;
          &.green {
            background-color: #32CE6A;
            em {
              color: #ffffff
            }
          }
          &.white {
            background-color: white;
            em {
              color: #B3B3B3;
            }
          }
          em {
            font-size: 5px;
            display: inline-block;
          }
        }
      }
      .expand {
        font-size: 14px;
        font-weight: 400;
        color: #5A727D;
        em {
          font-size: 6px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 3px;
        }
      }
    }
  }

  //Top 3 Things
  .top3Things {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #CCCCCC;
    padding: 10px 85px 10px 20px;
    flex-wrap: wrap;
    @media only screen and(min-width:720px) {
      padding: 10px 80px 10px 15px;
    }
    .box {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 15px 20px;
      position: relative;
      height: 200px;
      width: 100%;
      margin: 10px 0;
      @media only screen and(min-width:600px) {
        width: 48%;
      }
      @media only screen and(min-width:720px) {
        width: 30%;
      }
      h6 {
        font-size: 11px;
        font-weight: 400;
        color: #808080;
        margin-bottom: 5px;
        line-height: normal;
      }
      .type {
        line-height: normal;
        font-size: 10px;
        font-weight: 400;
        color: #8E8E8E;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        line-height: normal;
        display: inline-block;
        width: 100%;
      }
      .dueDate {
        color: #808080;
        font-size: 11px;
        font-weight: 400;
      }
      .upcoming {
        margin-top: 15px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 20px;
        > div {
          align-self: flex-end;
        }
        button {
          padding: 5px 30px;
          border-radius: 30px;
          border: 1px solid #c02222;
          background-color: transparent;
          text-transform: uppercase;
          em {
            color: #c02222;
            font-size: 16px;
          }
          span {
            font-size: 12px;
            color: #000000;
            margin-left: 5px;
            display: inline-flex;
          }
        }
        .icons {
          em {
            font-size: 50px;
            color: #B3B3B3;
          }
        }
      }
    }
  }

  //MyCourses
  .mycoursesWrapper {
    padding: 0 80px 20px 15px;
    margin-top: 20px;
    @media only screen and (min-width:720px) {
      padding: 0 85px 20px 20px;
    }
    h3 {
      font-size: 26px;
      font-weight: 700;
      color: #000000;
    }
    .courses {
      flex-wrap: wrap;
      background-color: #ffffff;
      padding: 15px;
      margin: 15px 5px;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    figure {
      width: 100%;
      margin: 0;
      height: 150px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      @media only screen and (min-width:720px) {
        width: 18%;
      }
      button {
        position: absolute;
        background-color: #c02222;
        padding: 5px 20px;
        text-align: center;
        border: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 13px;
        border-radius: 20px;
        em {
          font-size: 12px;
          margin-right: 5px;
          display: inline-flex;
        }
      }
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
      }
    }
    .rightCol {
      width: 100%;
      @media only screen and (min-width:720px) {
        margin-left: 2%;
        width: 80%;
      }
      h3 {
        font-size: 22px;
        font-weight: 700;
        color: #000000;
        line-height: normal;
        margin-bottom: 10px;
        margin-top: 10px;
        @media only screen and (min-width:720px) {
          margin-top: 0;
        }
      }
      .showLessContent {
        position: relative;
        p {
          font-size: 14px;
          font-weight: 400;
          color: #808080;
          padding-right: 20px;
        }
        .readMoreLess {
          border: 0;
          background-color: transparent;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 9;
          em {
            font-size: 8px;
            color: #999999;
          }
        }
        > div {
          text-overflow: ellipsis;
          height: 20px;
          position: relative;
          overflow: hidden;
          transition: height 1s ease-in-out;
          &.showText {
            height: auto;
            transition: height 1s ease-in-out;
          }
        }
      }
      .type {
        margin-bottom: 20px;
        flex-wrap: wrap;
        @media only screen and (min-width:720px) {
          flex-wrap: nowrap;
        }
        span {
          display: inline-flex;
          margin-right: 8px;
          padding-right: 8px;
          font-size: 12px;
          font-weight: 400;
          color: #666666;
          line-height: normal;
          border-right: 1px solid #c02222;
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            border-right: 0;
          }
          @media only screen and (min-width:720px) {
            margin-top: 0;
          }
        }
      }
      .durationCredits {
        flex-wrap: wrap;
        @media only screen and (min-width:720px) {
          flex-wrap: nowrap;
        }
        &.top {
          margin-top: 10px;
        }
        &.zero {
          margin-top: 0;
        }
        span {
          font-size: 11px;
          font-weight: 400;
          color: #999999;
          line-height: normal;
          em {
            display: inline-flex;
            margin-right: 5px;
          }
          &.credits {
            margin-top: 7px;
            display: inline-flex;
            @media only screen and (min-width:720px) {
              margin-top: 0;
            }
          }
        }
      }
    }
    .actionItems {
      margin-top: 10px;
      flex-wrap: wrap;
      @media only screen and (min-width:720px) {
        flex-wrap: nowrap;
      }
    }
    .viltActivitiesQA {
      .icons {
        text-align: center;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          border: 1px dashed rgba(128, 128, 128, 0.4);
          em {
            color: #808080;
          }
          &:hover {
            em {
              color: #c02222;
            }
          }
        }
      }
    }
    .viltActivitiesQA, 
    .courseProgression {
      .icons {
        p {
          font-size: 10px;
          font-weight: 400;
          color: #333333;
          margin: 3px 0 0 0 !important;
          line-height: 11px;
        }
      }
    }
    .courseProgression {
      justify-content: flex-start;
      margin-top: 20px;
      @media only screen and (min-width:720px) {
        justify-content: flex-end;
        margin-top: 0;
      }
      .icons {
        text-align: center;
        margin-right: 30px;
        @media only screen and (min-width:720px) {
          margin-right: 10px;
        }
      }
      span {
        em {
          font-size: 20px;
        }
      }
      .percentage {
        width: 25%;
        @media only screen and (min-width:720px) {
          width: 16%;
        }
      }
    }
  }
}
::ng-deep.mycoursesWrapper {
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-label {
    font-size: 16px;
    opacity: 1;
    justify-content: flex-start;
    padding: 0 25px 0 0;
    min-width: auto;
  }
  .mat-tab-label[aria-selected="false"] {
    font-weight: 400;
    color: #999999;
  }
  .mat-tab-label[aria-selected="true"] {
    font-weight: 700;
    color: #4D4D4D;
    .mat-tab-label-content {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #c02222;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
        border-radius: 50%;
      }
    }
  }
  .mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0;
  }
}

//
.sideNav {
  padding: 20px;
}
.taskToDo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  .arrow {
    position: absolute;
    top: 16px;
    left: -15px;
    width: 0; 
    height: 0; 
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ffffff transparent transparent;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.2));
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.2));
  }
  span {
    em {
      font-size: 25px;
      display: inline-block;
      line-height: normal;
      border: 1px solid #c02222;
      padding: 3px;
    }
  }
}