<app-header></app-header>

<div class="sideNavWrapper">
    <div>
        <mat-drawer-container class="sideNavContainer" autosize>
            <mat-drawer #drawer class="sideNav" mode="over" position="end"> 
                <!-- Over Side Push -->
                <span type="button" (click)="drawer.toggle()">
                    <em class="lxp-Right_Arrow"></em>
                </span>
              <p>Auto-resizing sidenav Auto-resizing sidenav</p>
              <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
            </mat-drawer>

            <div class="sideNavContent">

                <!-- Top 3 Things -->
                <div class="somethingNew">
                    <h4>Let's learn something new today!</h4>
                    <div class="thingsContent">
                        <p>Here are your top 3 things to do!</p>
                        <div>
                            <span class="green"><em class="lxp-Right"></em></span>
                            <span class="white"><em class="lxp-Right"></em></span>
                            <span class="white"><em class="lxp-Right"></em></span>
                        </div>
                        <span class="expand">Expand <em class="lxp-DownArrow"></em></span>
                    </div>
                </div>

                <!-- Top 3 Things Contents -->
                <div class="top3Things d-flex justify-content-between">
                    <div class="box">
                        <h6>Learn from where your left</h6>
                        <span class="type">MODULE:</span>
                        <h2>Codes for reinforced and Pre-stress…</h2>
                        <div class="upcoming d-flex justify-content-between">
                            <div>
                                <button class="d-flex align-items-center"><em class="lxp-Play"></em> <span>4m 8s</span></button>
                            </div>
                            <div>
                                <span class="icons"><em class="lxp-Timer"></em></span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h6>Learn from where your left</h6>
                        <span class="type">MODULE:</span>
                        <h2>Codes for reinforced and Pre-stress…</h2>
                        <div class="dueDate">Due date: 23 June 2021 12:00 AM</div>
                        <div class="upcoming d-flex justify-content-between">
                            <div>
                                <button class="d-flex align-items-center"><span>GO</span></button>
                            </div>
                            <div>
                                <span class="icons"><em class="lxp-Assignments"></em></span>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h6>Learn from where your left</h6>
                        <span class="type">MODULE:</span>
                        <h2>Codes for reinforced and Pre-stress…</h2>
                        <div class="dueDate">Due date: 23 June 2021 12:00 AM</div>
                        <div class="upcoming d-flex justify-content-between">
                            <div>
                                <button class="d-flex align-items-center"><span>Join</span></button>
                            </div>
                            <div>
                                <span class="icons"><em class="lxp-JoinIcon"></em></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- My Course -->
                <div class="mycoursesWrapper">
                    <h3>My Courses</h3>
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Ongoing (2)
                            </ng-template>
                            <div class="mycoursesContent">
                                Content 1
                            </div>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                Completed (4)
                            </ng-template>
                            <div class="mycoursesContent">
                                Content 2
                            </div>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                All (6)
                            </ng-template>
                            <div class="mycoursesContent">
                                Content 3
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </mat-drawer-container>
    </div>
    <div class="taskToDo">
        <span type="button" (click)="drawer.toggle()">
            <em class="lxp-HamburgerMenu"></em>
        </span>
        <div class="arrow"></div>
    </div>
</div>
