<app-header></app-header>

<div class="sideNavWrapper">
    <div>
        <mat-drawer-container class="sideNavContainer" autosize>
            <mat-drawer #drawer class="sideNav" [opened]="innerWidth>1140 ? 'true':'false'" [mode]="innerWidth>1140?'side':'over'" position='end'>
                <div class="drawerWrapper">
                    <!-- Over Side Push -->
                    <div class="navBackBtn">
                        <span type="button" (click)="drawer.toggle();show=!show">
                            <em class="lxp-TOC_Expand"></em>
                        </span>
                    </div>
                    <div class="prevNext">
                        <div class="wrapperTaskToDo d-flex align-items-center justify-content-between">
                            <div class="currentMonth">
                                <h3>{{ viewDate | calendarDate:('month' + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="arrows d-flex align-items-center">
                                <span mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate">
                                    <em class="lxp-Rewind_Arrow"></em>
                                </span>
                                <span (click)="getTodaydate()">
                                    <span class="today" mwlCalendarToday [(viewDate)]="viewDate">
                                        {{'Today' | translate}}
                                    </span>
                                </span>
                                <span mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate">
                                    <em class="lxp-Forward_Arrow"></em>
                                </span>
                            </div>
                        </div>
                        <div class="weekviewHead">
                            <mwl-calendar-week-view [selected]="selectedDate" (dayHeaderClicked)="getLearnerActivity($event.day.date);highlightSelectday($event)" [weekStartsOn]="1" [(viewDate)]="viewDate" [events]="events"></mwl-calendar-week-view>
                        </div>
                    </div>
                    <div class="minHeight">
                        <div class="sideTabsStrip">
                            <div class="activeTabItem">
                                {{'To Do' | translate}}
                            </div>
                        </div>
                        <ng-container *ngFor="let data of learnerActivityList | slice:0:4;">
                            <div class="listItem d-flex justify-content-start">
                                <div class="dateFlag" [ngClass] = "{'ongoing': data.status === 'On going', 'Overdue': data.status === 'Overdue', 'completed': data.status === 'Completed', 'graded': data.status === 'Graded', 'submitted': data.status === 'Submitted', 'yetStart': data.status === 'Yet to submit', 'yettoStart': data.status === 'Up Coming'}">
                                    <div class="dateDiv">
                                        <span class="flagDay">{{dayMonth | date :'dd'}}</span>
                                        <span class="flagMonth">{{dayMonth | date :'MMM'}}</span>
                                    </div>
                                </div>
                                <div class="detailData">
                                    <div class="badgedata d-flex justify-content-between">
                                        <p class="d-flex justify-content-center align-items-center">
                                            <ng-container *ngIf="data.activitytype != 'Live Classroom'">{{data.activitytype}}</ng-container>
                                            <ng-container *ngIf="data.activitytype == 'Live Classroom'">
                                                <ng-container *ngIf="userDetailes.org_type!== 'collegeconnect'">Live Interactions</ng-container>
                                                <ng-container *ngIf="userDetailes.org_type == 'collegeconnect'">Industry Talk</ng-container>
                                            </ng-container>
                                        </p>
                                        <ng-container *ngIf="data.activitytype != 'Live Classroom'">
                                            <div class="status">
                                                <span class="ongoing" *ngIf="data.status == 'On going'">
                                                    <em class="lxp-Timer_Outlined"></em>{{'Ongoing' | translate }}
                                                </span>
                                                <span class="Overdue" *ngIf="data.status == 'Overdue'">
                                                    <em class="lxp-Timelapse"></em>{{'Overdue' | translate }}
                                                </span>
                                                <span class="yettoStart"  *ngIf="data.status == 'Yet to submit' || data.status == 'Up Coming'">
                                                    <em class="lxp-Play"></em>{{'Yet to start' | translate }}
                                                </span>
                                                <span class="completed" *ngIf="data.status == 'Completed' || data.status == 'Graded' || data.status == 'Submitted'">
                                                    <em class="lxp-Right"></em>{{'Completed' | translate }}
                                                </span>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="data.activitytype == 'Live Classroom'">
                                            <div class="status">
                                                <span class="yettoStart"  *ngIf="data.status == 'Yet to submit' || data.status == 'Up Coming'">
                                                    <em class="lxp-Play"></em>{{'Yet to start' | translate }}
                                                </span>
                                                <span class="completed" *ngIf="data.status == 'Completed' || data.status == 'Graded' || data.status == 'Submitted'">
                                                    <em class="lxp-Right"></em>{{'Completed' | translate }}
                                                </span>
                                                <span class="launch" *ngIf="data.status == 'On going'" (click)="openClassroom(data.link)">
                                                    <em class="lxp-Launch"></em> <span>{{'Launch' | translate}}</span>
                                                </span>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="titleFontSize">{{data.coursename}}</div>
                                    <div class="type">{{'Module: ' | translate}}<span>{{data.modulename}}</span></div>
                                    <div class="topic" *ngIf="(data.self_paced_learning == 'topic' || data.liveclassroom == 'topic') || (!data.self_paced_learning && !data.liveclassroom)">{{'Topic: ' | translate}}<span>{{data.topicname}}</span></div>
                                    <div class="date">
                                        <span>{{data.activitystartdate | date :'d/M/yy h:mm a'}} <span>-</span> {{data.activityenddate | date :'d/M/yy h:mm a'}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="viewAll" *ngIf="learnerActivityList?.length > 3">
                            <a routerLink="/Learner/calendaractivity">{{'View all' | translate}} <em class="lxp-Right_Direction_Arrow"></em></a>
                        </div>
                        <div class="item" *ngIf="showSkeleton">
                            <div class="d-flex justify-content-between">
                                <div class="item1">
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '5px', height: '50px', width: '50px', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                </div>
                                <div class="item2">
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="item1">
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '5px', height: '50px', width: '50px', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                </div>
                                <div class="item2">
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" [theme]="{'border-radius': '4px', height: '10px', 'margin-bottom':'0', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="noActivity">
                            <div class="searchNoResults">
                                <figure>
                                    <img src="https://assets.lntedutech.com/application_images/nocard.svg" alt="No Card" />
                                </figure>
                                <p>{{'You have no activity scheduled for the day!' | translate}}</p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </mat-drawer>

            <div class="sideNavContent">
                <!-- Top 3 Things -->
                <div class="somethingNew">
                    <h3>{{'Welcome!' | translate}}</h3>
                    <h4>{{'Let\'s learn something new today!' | translate}}</h4>
                    <!-- Don't Delete below commented-->
                    <!-- <div class="thingsContent">
                        <p>Here are your top 3 things to do!</p>
                        <div class="check">
                            <span class="green"><em class="lxp-Right"></em></span>
                            <span class="white"><em class="lxp-Right"></em></span>
                            <span class="white"><em class="lxp-Right"></em></span>
                        </div>
                        <div class="expand" (click)="expandtoggle()">
                            <span *ngIf="expandcollapse">Expand <em class="lxp-DownArrow"></em></span>
                            <span *ngIf="!expandcollapse">Collapse <em class="lxp-Arrow"></em></span>
                        </div>
                    </div> -->
                </div>

                <!-- Top 3 Things Contents -->
                <div [@collapse]="expandcollapse">
                    <div class="top3Things d-flex justify-content-between" [ngClass]="show ? 'noPadding': ''">
                        <div class="box">
                            <div class="moduleName">
                                <h6>{{'Learn from where your left' | translate}}</h6>
                                <span class="type">{{'MODULE:' | translate}}</span>
                                <h2>{{'Codes for reinforced and Pre-stress…' | translate}}</h2>
                                <div class="dueDate">
                                    <div></div>
                                    <button><em class="lxp-Play"></em> <span>4m 8s</span></button>
                                </div>
                            </div>
                            <div class="upcoming d-flex justify-content-between">
                                <div>
                                    <button><em class="lxp-Play"></em> <span>4m 8s</span></button>
                                </div>
                                <div class="icons">
                                    <span><em class="lxp-Timer_Outlined"></em></span>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div>
                                <h6>{{'Learn from where your left' | translate}}</h6>
                                <span class="type">{{'MODULE:' | translate}}</span>
                                <h2>{{'Codes for reinforced and Pre-stress…' | translate}}</h2>
                                <div class="dueDate">
                                    <span>{{'Due date: 23 June 2021 12:00 AM' | translate}}</span>
                                    <button><span>{{'GO' | translate}}</span></button>
                                </div>
                            </div>
                            <div class="upcoming d-flex justify-content-between">
                                <div>
                                    <button><span>{{'GO' | translate}}</span></button>
                                </div>
                                <div>
                                    <span class="icons"><em class="lxp-Assignments"></em></span>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div>
                                <h6>{{'Learn from where your left' | translate}}</h6>
                                <span class="type">{{'MODULE:' | translate}}</span>
                                <h2>{{'Codes for reinforced and Pre-stress…' | translate}}</h2>
                                <div class="dueDate">
                                    <span>{{'Due date: 23 June 2021 12:00 AM' | translate}}</span>
                                    <button><span>{{'Join' | translate}}</span></button>
                                </div>
                            </div>
                            <div class="upcoming d-flex justify-content-between">
                                <div>
                                    <button><span>{{'Join' | translate}}</span></button>
                                </div>
                                <div>
                                    <span class="icons"><em class="lxp-JoinIcon"></em></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- My Course -->
                <div class="orgType" [ngClass]="userDetailes.org_type == 'vocational' ? 'yes':'no'">
                <div class="mycoursesWrapper" [ngClass]="show ? 'noPadding': ''">
                    <h3>{{'My Courses' | translate}}</h3>
                    <div class="mobileEnable">
                        <span type="button" (click)="drawer.toggle();show=!show">
                            <em class="lxp-Calendar_Todo"></em>
                        </span>
                    </div>
                    <div *ngIf="stepUrl" class="stepIntegrationSection">
                        <figure class="stepFigure">
                            <img src="assets/images/step1.png" alt="">
                        </figure>
                        <div class="text">
                            <h1>{{'Learn to speak English' | translate}}</h1>
                            <div class="resumeBtn">
                                <button (click)="redirect()">
                                    <em class="lxp-Play_Icon"></em> <span>{{'Start Learning' | translate}}</span>
                                </button>
                            </div>
                        </div>
                     </div>
                    <div class="course-progress" [ngClass]="showJobRole ? 'Yes' : 'No'" *ngIf="showProgressChart" [@collapseprogress]>
                        <div class="course-progress-wrapper">
                            <div class="d-flex justify-content-between align-items-start course-progress-header">
                                <div class="course-progress-header-text">{{'Course Completion Progress' | translate}}</div>
                                <div class="d-flex align-items-center course-progress-header-action" (click)="showProgressChart = false;">
                                    <em class="lxp-Close"></em>
                                    <span>{{'Close' | translate}}</span>
                                </div>
                            </div>  
                            <div class="d-flex justify-content-between flex-wrap course-progress-content" *ngIf="true;else courseChartSkeleton">
                                <mat-card class="cousrse-wise-card">
                                    <div class="d-flex justify-content-between align-items-center cousrse-wise-card-header">
                                        <div class="cousrse-wise-card-header-text">{{'Course Wise Completion' | translate}}</div>
                                    <div class="d-flex justify-content-between align-items-center cousrse-wise-card-date">
                                        <div class="start-date">
                                            <mat-form-field style="width:105px;">
                                                <input matInput [matDatepicker]="CourseFromDatepicker" [placeholder]="'From date' | translate" [(ngModel)]="courseStartDate" [min] = "UserDetails.created_on"
                                                [max]="today" (dateChange)="changeCourseDate()">
                                                <mat-datepicker-toggle matSuffix [for]="CourseFromDatepicker"></mat-datepicker-toggle>
                                                <mat-datepicker #CourseFromDatepicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="end-date">
                                            <mat-form-field style="width:105px;">
                                                <input matInput [matDatepicker]="CourseDatepicker" [placeholder]="'To date' | translate" [(ngModel)]="courseEndDate" [min] = "minCourseDate"
                                                [max]="today" (dateChange)="changeCourseDate()">
                                                <mat-datepicker-toggle matSuffix [for]="CourseDatepicker"></mat-datepicker-toggle>
                                                <mat-datepicker #CourseDatepicker></mat-datepicker>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="cousrse-chart-content">
                                        <h6>{{'Completion %' | translate}}</h6>
                                        <canvas baseChart [datasets]="coursebarChartData" [labels]="coursebarChartLabels" [options]="courseChartOptions"
                                        [plugins]="courseChartPlugins" [legend]="coursebarChartLegend" [chartType]="coursebarChartType"></canvas>
                                </div>
                                    <div class="d-flex justify-content-center align-items-center course-chart-footer">
                                        {{'Courses' | translate}}
                                    </div>
                                </mat-card>
                                <mat-card class="week-wise-card">
                                    <div class="week-wise-card-header">
                                    <div class="weekwise-card-header-text">{{'Week wise time spent' | translate}}</div>
                                    </div>
                                    <div class="progress-date d-flex">
                                        <div class="progress-hours-container">
                                        <h4 class="progress-hours">{{totalhoursSpend}}</h4>
                                        <span class="hours-spent-label">{{'Hours Spent' | translate}}</span>
                                        </div>
                                        <div class="progress-date-input">
                                        <mat-form-field style="width:110px;">
                                        <input matInput [matDatepicker]="weekWiseDatepicker" [placeholder]="'Choose a date' | translate" [(ngModel)]="weekWiseDate"  [min] = "UserDetails.created_on"
                                            [max]="today" (dateChange)="changeWeekDate()">
                                        <mat-datepicker-toggle matSuffix [for]="weekWiseDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #weekWiseDatepicker></mat-datepicker>
                                        </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="Week-chart-content">
                                        <h6>{{'Time in hours' | translate}}</h6>
                                        <div>
                                            <canvas baseChart height="174px" [datasets]="WeekbarChartData" [labels]="WeekbarChartLabels" [options]="WeekbarChartOptions"
                                            [plugins]="WeekbarChartPlugins" [legend]="WeekbarChartLegend" [chartType]="WeekbarChartType"></canvas>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>  
                        </div>
                    </div>

                    <div class="tabsWrapper" [ngClass]="showJobRole ? 'Yes' : 'No'">
                        <div class="linksWrapper">
                            <div class="courseCompletion-btn" (click)="getCourseProgress()" *ngIf="!showProgressChart">
                                <h4>
                                    <em class="lxp-Analytics"></em>
                                    <span>{{'Course Completion Progress' | translate}}</span> 
                                </h4>
                            </div>
                            <div class="videolinks-btn" (click)="getVideoLink('Java')">
                                <h4>
                                    <em class="lxp-video_links"></em>
                                    <span>{{'Reference video links' | translate}}</span> 
                                </h4>
                            </div>
                        </div>

                        <mat-tab-group #tabs (selectedTabChange)="courseTabChange($event,userDetailes.user_id,userDetailes._id);" [(selectedIndex)]="selectedIndex">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    {{'Ongoing' | translate}} ({{onGoingCourseCount}})
                                </ng-template>
                                <div *ngIf="courseSkel; else courseSkeleton">
                                <div class="mycoursesContent" *ngIf="courseDetailsList.length; else noCourseCard">
                                   
                                   
                                    <ng-container *ngFor="let item of courseDetailsList" (deferLoad)="item.show = true">
                                        <app-mycourse-item-component *ngIf="item.show" [courseItems]="item"></app-mycourse-item-component>
                                    </ng-container>
                                </div>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    {{'Completed' | translate}} ({{completedCourseCount}})
                                </ng-template>
                                <div *ngIf="courseSkel;else courseSkeleton">
                                <div class="mycoursesContent" *ngIf="courseDetailsList.length;else noCourseCard">
                                    <ng-container *ngFor="let item of courseDetailsList" (deferLoad)="item.show = true">
                                        <app-mycourse-item-component *ngIf="item.show" [courseItems]="item"></app-mycourse-item-component>
                                    </ng-container>
                                </div>
                                </div>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    {{'All' | translate}} ({{allCourseCount}})
                                </ng-template>
                                <div *ngIf="courseSkel;else courseSkeleton">
                                <div class="mycoursesContent" *ngIf="courseDetailsList.length;else noCourseCard">
                                    <ng-container *ngFor="let item of courseDetailsList" (deferLoad)="item.show = true">
                                        <app-mycourse-item-component *ngIf="item.show" [courseItems]="item"></app-mycourse-item-component>
                                    </ng-container>
                                </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>

                    <ng-container *ngIf="showJobRole">
                        <div class="desktopWrapper jobRole" [ngClass]="vocationalselectjobRole.length > 0 ?'handIcon':'noHandIcon'">
                            <div class="vocationalJobRole" style="display: inline-block;">
                              <mat-form-field appearance="fill">
                                <mat-label *ngIf="userDetailes.org_type == 'vocational'">{{'My Job Role:' | translate}}</mat-label>
                                <mat-label *ngIf="userDetailes.org_type != 'vocational'">{{'Courses For:' | translate}}</mat-label>
                                <mat-select (selectionChange)="onSelectionChange($event)"  [(ngModel)]="jobroleCategoryId">
                                  <mat-select-trigger>{{selectedJobRoleData?.jobroleCategoryName}}</mat-select-trigger>
                                  <mat-option  class="jobRolecustomClass" *ngFor="let selectedJobRole of vocationalselectjobRole" [value]="selectedJobRole.jobroleCategoryId" (onSelectionChange)="jobRoleSelectedFunction($event,selectedJobRole)">
                                    {{selectedJobRole.jobroleCategoryName}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                    </ng-container>

                    <!-- InProgressModule -->
                    <ng-contaniner *ngIf="userDetailes.org_type == 'collegeconnect'">
                        <div class="inprogressModule" *ngIf="inProgress">
                            <h3>{{'Inprogress Modules' | translate}}</h3>
                            <div class="wrapper">
                                <drag-scroll #inProgress snap-duration="200" (reachesLeftBound)="leftBoundStatInProgress($event)" (reachesRightBound)="rightBoundStatInProgress($event)" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
                                    <div class="contWrap">
                                        <div class="progressContainer" drag-scroll-item *ngFor="let progressModule of inProgressModule">
                                                <div class="modules" (click)="goToCourse(progressModule)">
                                                <h6 data-title="{{progressModule.course_name}}">{{progressModule.course_name}}</h6>
                                                <span>{{'MODULE:' | translate}}</span>
                                                <p data-title="{{progressModule.module}}">{{progressModule.module}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </drag-scroll>
                                <div class="draggable-button-container">
                                    <div class="leftArrow">
                                        <button [disabled]="leftNavDisabledInProgress" [ngClass]="leftNavDisabledInProgress ? 'disableArrow' : 'showArrow'" (click)="moveLeftInProgress()" class="draggable-button float-left"> <em class="lxp-Right_Direction_Arrow"></em> </button>
                                    </div>
                                    <div class="rightArrow">
                                        <button [disabled]="rightNavDisabledInProgress" [ngClass]="rightNavDisabledInProgress ? 'disableArrow' : 'showArrow'" (click)="moveRightInProgress()" class="draggable-button float-right"> <em class="lxp-Right_Direction_Arrow"></em> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-contaniner>
                    <!-- Missed Topics & Knowledge Check -->
                    <div class="missedTopicsKnowledgeCheck d-none" *ngIf="courseDetailsList.length">
                        <h3>{{'Missed Topics & Knowledge Check' | translate}}</h3>
                        <div class="wrapper d-flex justify-content-between">
                            <span class="leftArrow"><em class="lxp-Right_Direction_Arrow"></em></span>
                            <span class="rightArrow"><em class="lxp-Right_Direction_Arrow"></em></span>
                            <div class="missedTopics">
                                <h6>{{'Applied Industrial IoT' | translate}}</h6>
                                <span class="moduleName">{{'MODULE:' | translate}}</span>
                                <h5>{{'Introduction to Industrial IoT' | translate}}</h5>
                                <span class="topicName">{{'TOPIC:' | translate}}</span>
                                <h4>{{'Codes for reinforced and Pre-stress…' | translate}}</h4>
                            </div>
                            <div class="missedTopics">
                                <h6>{{'Applied Industrial IoT' | translate}}</h6>
                                <span class="moduleName">{{'MODULE:' | translate}}</span>
                                <h5>{{'Information technology and Operation' | translate}}</h5>
                                <span class="topicName">{{'TOPIC:' | translate}}</span>
                                <h4>{{'Codes for reinforced and Pre-stress…' | translate}}</h4>
                            </div>
                            <div class="missedTopics">
                                <h6>{{'Applied Industrial IoT' | translate}}</h6>
                                <span class="moduleName">{{'MODULE:' | translate}}</span>
                                <h5>{{'Introduction to Industrial IoT' | translate}}</h5>
                                <span class="topicName">{{'TOPIC:' | translate}}</span>
                                <h4>{{'Codes for reinforced and Pre-stress…' | translate}}</h4>
                            </div>
                            <div class="missedTopics">
                                <h6>{{'Applied Industrial IoT' | translate}}</h6>
                                <span class="moduleName">{{'MODULE:' | translate}}</span>
                                <h5>{{'Introduction to Industrial IoT' | translate}}</h5>
                                <span class="topicName">{{'TOPIC:' | translate}}</span>
                                <h4>{{'Codes for reinforced and Pre-stress…' | translate}}</h4>
                            </div>
                        </div>
                    </div>

                    <!-- Recently Learned Topics -->
                    <ng-contaniner *ngIf="userDetailes.org_type == 'collegeconnect'">
                        <div class="recentlyLearnedTopics" *ngIf="recentlyCompleted">
                            <h3>{{'Recently Completed Topics' | translate}}</h3>
                            <div class="wrapper">
                                <drag-scroll #completedTopics snap-duration="200" (reachesLeftBound)="leftBoundStat($event)" (reachesRightBound)="rightBoundStat($event)" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
                                    <div class="contWrap">
                                        <div class="topicsContainer" drag-scroll-item *ngFor="let complete of completedTopic">
                                            <div class="missedTopics" (click)="goToCourse(complete)">
                                                <h6 data-title="{{complete.course_name}}">{{complete.course_name}}</h6>
                                                <span class="moduleName">{{'MODULE:' | translate}}</span>
                                                <h5 data-title="{{complete.module}}">{{complete.module}}</h5>
                                                <span class="topicName">{{'TOPIC:' | translate}}</span>
                                                <h4 data-title="{{complete.topic}}">{{complete.topic}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </drag-scroll>
                                <div class="draggable-button-container">
                                    <div class="leftArrow">
                                        <button [disabled]="leftNavDisabled" [ngClass]="leftNavDisabled ? 'disableArrow' : 'showArrow'" (click)="moveLeft()" class="draggable-button float-left"> <em class="lxp-Right_Direction_Arrow"></em> </button>
                                    </div>
                                    <div class="rightArrow">
                                        <button [disabled]="rightNavDisabled" [ngClass]="rightNavDisabled ? 'disableArrow' : 'showArrow'" (click)="moveRight()" class="draggable-button float-right"> <em class="lxp-Right_Direction_Arrow"></em> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-contaniner>
                </div>
                </div>
                <div class="footer" [ngClass]="show ? 'noPadding': 'padd'"><span class="powered"><span class="forgot1">© {{currentYear}} {{' L&T EduTech. All Rights Reserved.' | translate}}</span></span></div>
            </div>
        </mat-drawer-container>
    </div>
    <div class="taskToDo">
        <span type="button" (click)="drawer.toggle();show=!show">
            <em class="lxp-Calendar_Todo"></em>
        </span>
        <div class="arrow"></div>
    </div>
</div>

<ng-template #infoPopup>
    <div class="d-flex align-items-center justify-content-center infocontent">
        <img src="https://assets.lntedutech.com/application_images/Banner.png" alt="Nature" class="infoimg">
        <div class="infoClose" (click)="closeBannerPopup()">
            <em class="lxp-Close"></em>
        </div>
    </div>
</ng-template>

  <ng-template #courseSkeleton>
      <div class="skeletonTop">
        <div class="courses d-flex ">
            <div class="leftCol">
                <ngx-skeleton-loader class="leftSkeleton" [theme]="{height:'150px'}"></ngx-skeleton-loader>
            </div>
            <div class="rightCol">
                <ngx-skeleton-loader [count]="3"></ngx-skeleton-loader>
                <div class="actionItems d-flex justify-content-between">
                <div class="viltActivitiesQA d-flex justify-content-start">
                    <ngx-skeleton-loader appearance="circle" [count]="3"></ngx-skeleton-loader>
                </div>
                <div class="courseProgression d-flex justify-content-end align-items-center">
                    <ngx-skeleton-loader appearance="circle" [count]="2"></ngx-skeleton-loader>
                </div>
                </div>
            </div>
        </div>
        <div class="courses d-flex ">
            <div class="leftCol">
                <ngx-skeleton-loader class="leftSkeleton" [theme]="{height:'150px'}"></ngx-skeleton-loader>
            </div>
            <div class="rightCol">
                <ngx-skeleton-loader [count]="3"></ngx-skeleton-loader>
                <div class="actionItems d-flex justify-content-between">
                <div class="viltActivitiesQA d-flex justify-content-start">
                    <ngx-skeleton-loader appearance="circle" [count]="3"></ngx-skeleton-loader>
                </div>
                <div class="courseProgression d-flex justify-content-end align-items-center">
                    <ngx-skeleton-loader appearance="circle" [count]="2"></ngx-skeleton-loader>
                </div>
                </div>
            </div>
        </div>
      </div>
  </ng-template>

  <ng-template #courseChartSkeleton>
        <div class="d-flex justify-content-between flex-wrap courseChartSkeleton">
           <mat-card class="skel-card">
                <div class="skeleton-header">
                    <ngx-skeleton-loader class="leftSkeleton" [theme]="{height:'40px'}"></ngx-skeleton-loader>
                </div>
                    <div class="d-flex justify-content-between skeleton-content">
                        <div><ngx-skeleton-loader  [theme]="{width:'260px' ,height:'130px'}"></ngx-skeleton-loader></div>
                        <div><ngx-skeleton-loader class="bar-skeleton"  [theme]="{width:'100px' ,height:'130px'}"></ngx-skeleton-loader></div>
                </div>
           </mat-card>
           <mat-card class="skel-card2">
                <div class="skeleton-header">
                    <ngx-skeleton-loader class="leftSkeleton" [theme]="{height:'40px'}"></ngx-skeleton-loader>
                </div>
                <div class="d-flex justify-content-between skeleton-content">
                    <div><ngx-skeleton-loader  [theme]="{width:'260px' ,height:'130px'}"></ngx-skeleton-loader></div>
                    <div><ngx-skeleton-loader class="bar-skeleton"  [theme]="{width:'100px' ,height:'130px'}"></ngx-skeleton-loader></div>
                </div>
           </mat-card>
        </div>
  </ng-template>

  <ng-template #noCourseCard>
    <div class="noCard">
        <div>
          <img src="https://assets.lntedutech.com/application_images/noProject.svg" alt="assignment">
        </div>
        <p>{{'You have no' | translate}} {{dynamicTextChange}} {{'courses at the moment!' | translate}}</p>
    </div>
  </ng-template>