@import "../../../../assets/variable.scss";

.sideNavWrapper {
  // display: flex;
  position: relative;
  height: calc(100vh - 121px);
}
::ng-deep.sideNavWrapper {
  .mat-drawer-container {
    background-color: #f2f2f2;
    height: calc(100vh - 121px);
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
  }
  .mat-drawer:not(.mat-drawer-side) {
    @media only screen and (max-width: 767px) {
      width: 100%;
      z-index: 8;
    }
  }
  .mat-drawer.mat-drawer-end {
    @media only screen and (max-width: 767px) {
      width: 100%;
      z-index: 9;
    }
  }
}
.spacer{
  height: 42.6vh ​!important;
}
.sideNavContainer {
  width: 100%;
  z-index: inherit !important;
}
.sideNavContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  //Something New
  .somethingNew {
    // background-color: #ffcc00;
    background-image: url(../../../../assets/learner/Yellow_band_Length.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 20px 40px 40px;
    position: relative;
    z-index: 99;
    @media only screen and (max-width: 767px) {
      padding: 10px;
    }
    h3 {
      font-size: 22px;
      font-weight: 500;
      color: #ffffff;
      line-height: normal;
    }
    h4 {
      font-size: 18px;
      color: #666666;
      font-weight: 300;
      margin: 0;
      // @media only screen and (max-width: 767px) {
      //   margin: 0px 0 10px 0;
      // }
    }
    .thingsContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 470px;
      min-width: 350px;
      @media only screen and (max-width: 767px) {
        justify-content: flex-start;
        width: 100%;
      }
      p {
        font-size: 14px;
        color: #4d4d4d;
        font-weight: 400;
        line-height: normal;
        margin: 0 20px 0 0 !important;
      }
      .check {
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin-right: 20px;
        position: relative;
        @media only screen and (max-width: 567px) {
          width: 25%;
          margin-right: 10px;
        }
        &::after {
          content: "";
          position: absolute;
          height: 1px;
          background-color: #ffffff;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          position: relative;
          z-index: 1;
          &.green {
            background-color: #32ce6a;
            em {
              color: #ffffff;
            }
          }
          &.white {
            background-color: white;
            em {
              color: #b3b3b3;
            }
          }
          em {
            font-size: 5px;
            display: inline-block;
          }
        }
      }
      .expand {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        cursor: pointer;
        span {
          @media only screen and (max-width: 767px) {
            display: none;
          }
        }
        em {
          font-size: 6px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 6px;
          color: #808080;
          font-weight: bold;
          @media only screen and (max-width: 767px) {
            font-size: 10px;
          }
        }
      }
    }
  }

  //Top 3 Things
  .top3Things {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #cccccc;
    padding: 5px 10px;
    flex-wrap: wrap;
    overflow: hidden;
    @media only screen and (min-width:768px) {
      padding: 10px 85px 10px 20px;
    }
    &.noPadding {
      @media only screen and (min-width: 1200px) {
        padding: 10px 20px 10px 20px;
      }
    }
    .box {
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      padding: 15px 20px;
      position: relative;
      height: auto;
      width: 100%;
      margin: 5px 0;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 20%;
        height: 60px;
        width: 5px;
        background-color: #FFA04E;
      }
      @media only screen and(min-width:600px) {
        width: 48%;
      }
      @media only screen and(min-width:992px) {
        margin: 10px 0;
        width: 31.5%;
      }
      .moduleName {
        @media only screen and (min-width: 568px) {
          margin-bottom: 20px;
        }
      }
      h6 {
        font-size: 11px;
        font-weight: 400;
        color: #808080;
        margin-bottom: 5px;
        line-height: normal;
      }
      .type {
        line-height: normal;
        font-size: 10px;
        font-weight: 400;
        color: #8e8e8e;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      h2 {
        font-size: 17px;
        font-weight: 400;
        color: #000000;
        line-height: normal;
        display: inline-block;
        width: 100%;
        margin: 0;
        @media only screen and (min-width: 568px) {
          font-size: 20px;
        }
      }
      .dueDate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        @media only screen and (min-width: 568px) {
          margin-top: 0;
        }
        button {
          @media only screen and (min-width: 568px) {
            display: none;
          }
        }
        span {
          color: #808080;
          font-weight: 400;
          font-size: 11px;
        }
      }
      .upcoming {
        width: 100%;
        margin-bottom: 0;
        > div {
          align-self: flex-end;
        }
        @media only screen and (min-width: 1140px) {
        }
        button {
          display: none;
          @media only screen and (min-width: 568px) {
            display: flex;
            align-items: center;
          }
        }
        .icons {
          position: absolute;
          right: 15px;
          top: 15px;
          @media only screen and (min-width: 568px) {
            position: relative;
            top: 0;
            right: 0;
          }
          em {
            font-size: 20px;
            color: #b3b3b3;
            @media only screen and (min-width: 568px) {
              font-size: 50px;
            }
          }
        }
      }
      button {
        padding: 2px 30px;
        border-radius: 30px;
        border: 1px solid #c02222;
        background-color: transparent;
        text-transform: uppercase;
        line-height: 18px;
        @media only screen and (min-width: 568px) {
          padding: 5px 30px;
        }
        em {
          color: #c02222;
          font-size: 16px;
        }
        span {
          font-size: 12px;
          color: #000000;
          margin-left: 5px;
          display: inline-flex;
        }
      }
    }
  }

  //MyCourses
  .mycoursesWrapper {
    padding: 20px 85px 20px 20px;
    background-color: #f2f2f2;
    position: relative;
    z-index: 9;
    @media only screen and (max-width: 767px) {
      padding: 15px;
    }
    &.noPadding {
      @media only screen and (min-width: 1200px) {
        padding: 10px 20px 10px 20px;
      }
    }
    .mobileEnable {
      position: absolute;
      right: 15px;
      top: 3.22vh;
      z-index: 9;
      display: none;
      @media only screen and (max-width: 767px) {
        display: block;
      }
      span {
        // border-radius: 50%;
        border-radius: 5px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 3px 7px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        line-height: normal;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        em {
          color: #000000;
          font-size: 20px;
        }
      }
    }
    h3 {
      font-size: 26px;
      font-weight: 700;
      color: #000000;
      margin-top: 10px;
    }
    .courses {
      position: relative;
      flex-wrap: wrap;
      background-color: #ffffff;
      padding: 15px;
      margin: 0 0px 15px 0px;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      @media only screen and (min-width: 720px) {
        padding: 15px 60px 15px 15px;
      }
    }
    .menuIcon {
      cursor: pointer;
      line-height: normal;
      @media only screen and (min-width: 720px) {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 10px;
        text-align: center;
      }
    }
    figure {
      width: 100%;
      margin: 0;
      height: 180px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: white;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, black 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
      }
      @media only screen and (min-width: 720px) {
        width: 24%;
      }
      // @media only screen and (min-width: 1140px) {
      //   width: 25%;
      // }
      @media only screen and (min-width: 1440px) {
        width: 18%;
      }
      button {
        position: absolute;
        background-color: #c02222;
        padding: 5px 20px;
        text-align: center;
        border: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 13px;
        border-radius: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        em {
          font-size: 12px;
          margin-right: 5px;
          display: inline-flex;
        }
      }
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
    }
    .rightCol {
      width: 100%;
      position: relative;
      @media only screen and (min-width: 720px) {
        margin-left: 2%;
        width: 74%;
        position: initial;
      }
      // @media only screen and (min-width: 1140px) {
      //   margin-left: 2%;
      //   width: 73%;
      // }
      @media only screen and (min-width: 1440px) {
        margin-left: 2%;
        width: 80%;
      }
      h3 {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        line-height: 19px;
        margin-bottom: 10px;
        margin-top: 10px;
        @media only screen and (min-width: 720px) {
          font-size: 21px;
          margin-top: 0;
        }
      }
      .showLessContent {
        position: relative;
        p {
          font-size: 14px;
          font-weight: 400;
          color: #808080;
          padding-right: 20px;
          margin: 0 !important;
          &.addEllipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
        .readMoreLess {
          border: 0;
          background-color: transparent;
          padding: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 9;
          em {
            font-size: 7px;
            color: #999999;
          }
        }
        > div {
          text-overflow: ellipsis;
          height: 20px;
          position: relative;
          overflow: hidden;
          transition: height 1s ease-in-out;
          &.showText {
            height: auto;
            transition: height 1s ease-in-out;
          }
        }
      }
      .type {
        margin-bottom: 0;
        margin-top: 10px;
        flex-wrap: wrap;
        @media only screen and (min-width: 720px) {
          flex-wrap: nowrap;
        }
        span {
          display: inline-flex;
          margin-right: 8px;
          padding-right: 8px;
          font-size: 12px;
          font-weight: 400;
          color: #666666;
          line-height: normal;
          border-right: 1px solid #c02222;
          margin-top: 10px;
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            border-right: 0;
          }
          @media only screen and (min-width: 720px) {
            margin-top: 0;
          }
        }
      }
      .durationCredits {
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 13px;
        @media only screen and (min-width: 720px) {
          flex-wrap: nowrap;
        }
        span {
          font-size: 11px;
          font-weight: 400;
          color: #999999;
          line-height: normal;
          b {
           color: #666666;
           font-weight: 400;
          }
          em {
            display: inline-flex;
            margin-right: 5px;
          }
          &.by {
          }
          &.credits {
            margin-top: 0;
            display: inline-flex;
            @media only screen and (min-width: 720px) {
              margin-top: 0;
            }
          }
        }
      }
    }
    .actionItems {
      // margin-top: 19px;
      align-items: center;
      flex-wrap: nowrap;
      &.top {
        margin-top: 20px;
      }
      &.zero {
        margin-top: 20px;
      }
    }
    .vocational {
      .viltActivitiesQA {
        width: 75%;
      }
      .courseProgression {
        width: 25%;
        .icons {
          margin-right: 0;
        }
      }
    }
    .viltActivitiesQA {
      .icons {
        text-align: center;
        margin-right: 30px;
        @media only screen and (max-width: 767px) {
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
        span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 42px;
          height: 42px;
          // border: 1px dashed rgba(128, 128, 128, 0.4);
          border: 1px dashed #C02222;
          &:hover {
            background-color: #f2f2f2;
            border: none;
            em {
              font-weight: bold;
            }
          }
          @media only screen and (max-width: 767px) {
            width: 45px;
            height: 45px;
          }
          em {
            color: #808080;
            font-size: 18px;
            @media only screen and (max-width: 767px) {
              font-size: 20px;
            }
          }
          &:hover {
            em {
              color: #c02222;
            }
          }
        }
      }
    }
    .viltActivitiesQA,
    .courseProgression {
      width: 50%;
      .icons {
        cursor: pointer;
        p {
          font-size: 12px;
          font-weight: 400;
          color: #333333;
          margin: 6px 0 0 0 !important;
          line-height: 11px;
          @media only screen and (max-width: 991px) {
            display: none;
          }
        }
      }
    }
    .courseProgression {
      justify-content: flex-end;
      margin-top: 0;
      margin-right: -15px;
      .icons {
        text-align: center;
        margin-right: 15px;
        &:hover {
          span {
            em {
              color: #c02222;
            }
          }
        }
      }
      span {
        em {
          font-size: 20px;
        }
      }
      .percentage {
        width: 39%;
        @media only screen and (min-width: 569px) {
          width: 26%;
        }
        @media only screen and (min-width: 1140px) {
          width: 25%;
        }
        @media only screen and (min-width: 1560px) {
          width: 15%;
        }
      }
    }
  }
}

.leftCol {
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
  width: 18%;
  .leftSkeleton {
    width: 100%;
  }
}

.skeletonTop {
  margin-top: 15px;
}

// In Progress Module
.inprogressModule {
  margin-top: 20px;
  > div {
    width: 100%;
    flex-wrap: wrap;
    @media only screen and (min-width: 1140px) {
      width: 75%;
    }
  }
  .modules {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    padding: 10px 30px 10px 15px;
    margin: 0 0 25px 0;
    position: relative;
    width: 100%;
    @media only screen and (min-width: 720px) {
      width: 45%;
      margin: 0 20px 25px 0;
    }
    &::before,
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      content: "";
      left: 0;
      width: 5px;
      background-color: #ffa04e;
      height: 65%;
    }
    .arrow {
      right: 15px;
      em {
        color: #b3b3b3;
        font-size: 10px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid rgba(204, 204, 204, 0.6);
      box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
      padding: 10px;
      width: 90%;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      z-index: -1;
    }
    h6 {
      font-size: 14px;
      font-weight: 700;
      color: #000000;
      line-height: normal;
      margin: 0 0 5px 0 !important;
    }
    span {
      display: block;
      color: #b3b3b3;
      font-size: 10px;
      font-weight: 400;
      margin-bottom: 0;
      line-height: normal;
    }
    p {
      color: #808080;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      margin: 0 !important;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      white-space: nowrap;
    }
  }
}

//Missed Topics Knowledge Check
.missedTopicsKnowledgeCheck,
.recentlyLearnedTopics {
  margin-top: 20px;
  .drag-scroll-wrapper {
    &.drag-scroll-container {
      height: auto !important;
    }
  }
  .wrapper {
    position: relative;
    .leftArrow,
    .rightArrow {
      border: 1px solid rgba(204, 204, 204, 0.3);
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 50%;
      transform: translateY(-80%);
      background-color: #ffffff;
      em {
        font-size: 10px;
        color: #808080;
      }
    }
    .leftArrow {
      left: -15px;
      em {
        display: inline-block;
        transform: rotate(180deg);
      }
    }
    .rightArrow {
      right: -15px;
    }
  }
}
.missedTopics {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 15px;
  width: 23%;
  margin-bottom: 15px;
  h6,
  span,
  h5,
  h4 {
    font-weight: 400;
    line-height: normal;
  }
  .moduleName,
  .topicName {
    text-transform: uppercase;
    font-size: 12px;
    color: #b3b3b3;
    display: block;
  }
  h6 {
    font-size: 15px;
    color: #666666;
  }
  h5 {
    font-size: 16px;
    color: #333333;
  }
  h4 {
    font-size: 19px;
    color: #000000;
    margin: 0;
  }
}

//
::ng-deep.missedTopicsKnowledgeCheck,
::ng-deep.recentlyLearnedTopics {
  .drag-scroll-content {
    display: flex !important;
    justify-content: space-between;
  }
  .drag-scroll-wrapper {
    &.drag-scroll-container {
      height: auto !important;
    }
  }
}
//
// ::ng-deep.no {
//   .mycoursesWrapper {
//     .mat-tab-group {
//       margin-top: 0;
//     }
//   }
// }
::ng-deep.mycoursesWrapper {
  .mat-ink-bar {
    display: none;
  }
  .mat-tab-label {
    font-size: 16px;
    opacity: 1;
    justify-content: flex-start;
    padding: 0 25px 0 0;
    min-width: auto;
  }
  .mat-tab-label[aria-selected="false"] {
    font-weight: 300;
    color: #999999;
  }
  .mat-tab-label[aria-selected="true"] {
    font-weight: 400;
    color: #000000;
    .mat-tab-label-content {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #c02222;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        border-radius: 50%;
      }
    }
  }
  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: 0;
  }
  .mat-tab-body-content {
    padding: 0 5px;
  }
  .mat-tab-group {
    margin-top: 60px;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}

//
.sideNav {
  //Calendar
  .prevNext {
    padding: 0 15px 25px 15px;
    p {
      text-transform: uppercase;
      margin: 0 !important;
      font-size: 14px;
      font-weight: 400;
      color: #A5A7B8;
      margin-bottom: 5px !important;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .wrapperTaskToDo {
      margin-bottom: 10px;
    }
    .currentMonth {
      h3 {
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin: 0;
      }
    }
    .arrows {
      span {
        color: #333333;
        font-size: 10px;
        display: inline-block;
        cursor: pointer;
        line-height: normal;
        &.today {
          margin: 0 10px;
          color: #999999;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          &:hover {
            color: #c02222;
          }
        }
      }
    }
  }

  //RIGHT SIDE NAV CONTENT//
  .drawerWrapper {
    margin: 0 auto;
    width: 400px;
    @media only screen and (max-width: 767px) {
      width: 96%;
    }
  }
  .minHeight {
    min-height: 320px;
  }
  .navBackBtn {
    text-align: right;
    font-size: 20px;
    padding: 15px 15px 10px 15px;
    span {
      color: #999999;
      display: inline-block;
      @media only screen and (max-width: 767px) {
        transform: rotate(180deg);
      }
    }
    p {
      display: none;
      @media only screen and (max-width: 767px) {
        display: inline-flex;
        font-size: 14px;
        font-weight: 500;
        color: #666666;
        text-transform: uppercase;
        margin: 0 0 0 10px !important;
      }
    }
    @media only screen and (max-width: 767px) {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;
    }
  }
  .sideTabsStrip {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    .activeTabItem {
      border-bottom: solid #c02222 2px;
      border-radius: 0;
      padding: 0 15px;
    }
  }

  // Todo List
  .listItem {
    padding: 20px 10px 10px 16px;
    .dateFlag {
      // height: 60px;
      // width: 50px;
      height: 60px;
      width: 12%;
      position: relative;
      text-align: center;
      font-size: 18px;
      &::before, 
      &::after {
        content: "";
        position: absolute;
        height: 50%;
        // width: 52%;
        bottom: 0;
        z-index: -2;
      }
      &::before {
        width: 56%;
        left: -1px;
        transform: skewY(150deg);
      }
      &::after {
        width: 49%;
        right: -1px;
        transform: skewY(-150deg);
      }
      &.Overdue {
        border-left: 1px solid #c02222;
        border-top: 1px solid #c02222;
        border-right: 1px solid #c02222;
        &::before, 
        &::after {
          border-bottom: 1px solid #c02222;
        }
        &::before {
          border-left: 1px solid #c02222;
        }
        &::after {
          border-right: 1px solid #c02222;
        }
      }
      &.ongoing {
        border-left: 1px solid #FFA04E;
        border-top: 1px solid #FFA04E;
        border-right: 1px solid #FFA04E;
        &::before, 
        &::after {
          border-bottom: 1px solid #FFA04E;
        }
        &::before {
          border-left: 1px solid #FFA04E;
        }
        &::after {
          border-right: 1px solid #FFA04E;
        }
      }
      &.completed, &.graded, &.submitted {
        border-left: 1px solid #75D883;
        border-top: 1px solid #75D883;
        border-right: 1px solid #75D883;
        &::before, 
        &::after {
          border-bottom: 1px solid #75D883;
        }
        &::before {
          border-left: 1px solid #75D883;
        }
        &::after {
          border-right: 1px solid #75D883;
        }
      }
      &.yettoStart, &.yetStart {
        border-left: 1px solid #B3B3B3;
        border-top: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
        &::before, 
        &::after {
          border-bottom: 1px solid #B3B3B3;
        }
        &::before {
          border-left: 1px solid #B3B3B3;
        }
        &::after {
          border-right: 1px solid #B3B3B3;
        }
      }
      .dateDiv {
        margin: 5px 0 0 0;
        .flagDay {
          font-size: 17px;
          font-weight: 700;
          color: #000000;
          line-height: normal;
          display: block;
        }
        .flagMonth {
          font-size: 12px;
          color: #b3b3b3;
          text-transform: uppercase;
          position: relative;
          top: -5px;
        }
      }
    }
    .detailData {
      position: relative;
      margin: 0px 0 0px 4%;
      width: 81%;
      .badgedata {
        p {
          background-color: #E6E6E6;
          border-radius: 3px;
          text-align: center;
          padding: 2px 8px;
          font-size: 10px;
          font-weight: 400;
          line-height: normal;
          color: #333333;
          margin: 0 !important;
        }
        span {
          font-size: 10px;
          font-weight: 400;
          color: #898989;
          line-height: normal;
          em {
            font-size: 10px;
            display: inline-block;
            margin-right: 3px;
          }
        }
        .status {
          padding: 0;
          span {
          font-size: 12px;
          color: #808080;
          display: inline-flex;
          align-items: center;
            &.yettoStart, &.yetStart {
              em {
                color: #B3B3B3;
                font-size: 15px;
              }
            }
            &.completed, &.graded, &.submitted, &.ongoing, &.Overdue {
              em {
                width: 14px;
                height: 14px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 6px;
                border-radius: 50%;
                color: #ffffff;
              }
            }
            &.ongoing {
              em {
                font-size: 7px;
                background-color: #FFA04E;
              }
            }
            &.completed, &.graded, &.submitted {
              em {
                font-size: 5px;
                background-color: #75D883;
              }
            }
            &.Overdue {
              em {
                font-size: 8px;
                background-color: #c02222;
              }
            }
          }
          .launch {
            background-color: #c02222;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            padding: 3px 8px 4px 8px;
            cursor: pointer;
            em {
              color: #fff;
              font-size: 10px;
              margin-right: 8px;
            }
            span {
              font-size: 11px;
              font-weight: 400;
              color: #ffffff;
            }
          }
        }
      }
      .titleFontSize {
        font-size: 12px;
        font-weight: 500;
        color: #c02222;
        line-height: 15px;
        margin-top: 3px;
      }
      .type, .topic, .date {
        font-size: 11px;
        font-weight: 400;
        color: #999999;
        line-height: normal;
        margin: 3px 0;
        span {
          color: #666666;
        }
      }
      .date {
        span {
          display: inline-flex;
          margin: 0 5px 0 0;
        }
      }
    }
    .timeData {
      position: relative;
    }
  }
  .viewAll {
    text-align: left;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    a {
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      color: #c02222;
      &:hover {
        text-decoration: none;
      }
    }
    em {
      display: inline-flex;
      margin-left: 5px;
    }
  }
  .status {
    padding: 20px 10px 0 20px;
    > div {
      span {
        display: inline-flex;
        color: #808080;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        position: relative;
        margin-right: 15px;
        &::before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: transparent;
          position: absolute;
          left: -8px;
          top: 50%;
          transform: translateY(-50%);
        }
        &.Overdue {
          &::before {
            border: 1px solid #c02222;
          }
        }
        &.ongoing {
          &::before {
            border: 1px solid #FFA04E;
          }
        }
        &.completed, &.graded, &.submitted {
          &::before {
            border: 1px solid #75D883;
          }
        }
        &.yettoStart, &.yetStart {
          &::before {
            border: 1px solid #B3B3B3;
          }
        }
      }
    }
    a {
      color: #c02222;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      em {
        display: inline-block;
        margin-left: 3px;
        font-size: 8px;
      }
    }
  }
  .searchNoResults {
    padding: 15px;
    text-align: center;
    figure {
      margin: 20px 0 10px 0;
      img {
        max-width: 30%;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: #666666;
    }
  }
  .item {
    padding: 15px 15px 0 15px;
    > div {
      margin-bottom: 15px;
    }
    .item1 {
      width: 18%;
    }
    .item2 {
      width: 80%;
      margin-right: 2%;
      display: flex;
      flex-direction: column;
      // ngx-skeleton-loader {
      //   height: 15px;
      // }
      .weekwiseSkeleton {
        border-radius: 4px;
        height: 10px;
        margin-bottom: 9px;
        background-color: #d8d9dd;
        border: 1px solid #ffffff;
      }
    }
  }
}
::ng-deep.item {
  .loader {
    height: 0;
  }
}
//RIGHT SIDE NAV CONTENT END//
.taskToDo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 767px) {
    display: none;
  }
  .arrow {
    position: absolute;
    top: 16px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ffffff transparent transparent;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  }
  span {
    em {
      font-size: 25px;
      display: inline-block;
      line-height: normal;
      border: 1px solid rgba(0,0,0,0.15);
      padding: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
      color: #666666;
      border-radius: 5px;
    }
  }
}

.desktopWrapper {
  // display: none;
  display: block;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}
.jobRole {
  position: absolute;
  top: 70px;
  left: 15px;
  z-index: 8;
  width: 90%;
  &.handIcon {
    text-align: left;
    @media only screen and (min-width: 992px) {
      text-align: right;
    }
    @media only screen and (min-width: 1200px) {
      padding-right: 20px;
    }
  }
  @media only screen and (min-width:768px) {
    padding-right: 85px;
    top: 20px;
    left: auto;
    right: 0;
    width: 55%;
    text-align: right;
  }
  @media only screen and (min-width: 1140px) {
    width: 42%;
  }
  &.noHandIcon {
    // display: none;
  }
  label {
    font-weight: 700;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #333333;
    // width: 28%;
  }
  .vocationalJobRole {
    width: 70%;
    text-align: right;
  }
}

::ng-deep.vocationalJobRole {
  .mat-form-field {
    width: 100%;
  }
}
::ng-deep.jobRole {
  .mat-form-field-underline {
    bottom: 0;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-infix {
    border-top: 0 solid transparent;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0%);
  }
  .mat-form-field-ripple, 
  .mat-form-field.mat-focused .mat-form-field-ripple, 
  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: transparent;
  }
  .mat-form-field-underline {
    border: 1px solid #cdcdcd;
    height: 100%;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow, 
  .mat-select-arrow {
    color: rgba(0, 0, 0, 0.54);
  }
  .mat-select {
    text-transform: capitalize;
  }
  .noHandIcon {
    .mat-select-trigger {
      cursor: not-allowed;
    }
    .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
      cursor: not-allowed;
    }
  }
}
::ng-deep.jobRolecustomClass {
  position: relative;
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #333333 !important;
  }
  .mat-option-text {
    text-transform: capitalize;
  }
  .jobRoleCount {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #C02222;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
::ng-deep.custom-mat-tooltip {
  position: relative !important;
  bottom: 80px !important;
  background-color: black !important;
  opacity: 1 !important;
  right: 20px !important;
  font-size: 12px !important;
  text-transform: capitalize;
}
::ng-deep.desktopWrapper .mat-tab-header {
  margin-top: 20px;
}
::ng-deep.desktopWrapper .mat-tab-label {
  opacity: 0.5;
  min-width: inherit !important;
  &:hover {
    background-color: #eeeeee;
  }
}
::ng-deep.desktopWrapper .mat-tab-label-active {
  min-width: inherit !important;
  background-color: #fff;
  opacity: 1;
  &:hover {
    background-color: transparent;
  }
}

::ng-deep.prevNext {
  .cal-week-view {
    border-top: none;
    .cal-event, .cal-header {
      overflow: visible;
      text-overflow: inherit;
    }
    .cal-day-headers {
      border-color: transparent;
      border: 0;
      span {
        font-size: 15px;
        font-weight: 400;
        color: #666666;
        opacity: 1;
        display: block;
        margin-bottom: 3px;
        line-height: normal;
      }
      .cal-header {
        border: 1px solid rgba(149, 152, 154, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 0 5px;
        padding: 5px 8px;
        cursor: pointer;
        &:focus-visible {
          outline: #0D05D5 auto 1px;
          outline-color: #0D05D5;
          outline-style: auto;
          outline-width: 1px;
        }
        b {
          font-size: 9px;
          font-weight: 400;
          color: #999999;
          text-transform: uppercase;
          display: block;
          margin: 3px 0;
          line-height: normal;
        }
        br {
          display: none;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .cal-header {
      &.cal-today {
        background-color: #F2F2F2;
        b {
          color: #3E3E3E;
        }
        span {
          color: #3E3E3E;
          font-weight: 700;
          position: relative;
          &:after {
            // content: '';
            position: absolute;
            width: 4px;
            height: 5px;
            border-radius: 50%;
            background-color: #c02222;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
          }
        }
      }
    }
  }
}

::ng-deep.weekviewHead {
  .cal-time-events{
    display: none !important;
  }
  .cal-week-view .cal-day-headers {
    padding-left: 0px;
  }
  .cal-week-view .cal-day-headers .cal-header:hover, .cal-week-view .cal-day-headers .cal-drag-over {
    // border: 1px solid #c02222;
  }
}
.cal-week-view {
  border-top: none;
}

////INFO BANNER POPUP
::ng-deep .dialogContainer {
  overflow-y: hidden !important;
  width: 55% !important;
  //max-height: 85% !important;
  margin: auto;
}
.infocontent{
  position: relative
}
.infoClose{
  cursor: pointer;
  position:absolute;
  right: 10px;
  top:10px;
}
.infoimg{
  width: 100%;
  height: auto;
}


// No Card
.noCard {
  text-align: center;
  div {
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px ​!important;
  }
}
.progression {
  span {
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;
    line-height: normal;
  }
}
::ng-deep.sideNavContainer {
  .mat-drawer-inner-container {
    overflow-x: hidden !important;
  }
}
::ng-deep .progStatus {
  position: absolute;
  bottom: 10px;
  width: 90%;
  z-index: 2;
 .mat-progress-bar-buffer {
    background: #b5b6b7 !important;
}
.mat-progress-bar{
  border-radius: 4px;
  height: 4px;
}
}
::ng-deep .mycoursesContent {
  margin-top: 20px;
  .mat-progress-bar{
    height: 2px;
  }
  .start{
    .mat-progress-bar-fill::after {
      background: #F7941E;
    }
  }
  .midway{
    .mat-progress-bar-fill::after {
      background-image: linear-gradient(to right, #F7941E, #F9ED32);
    }
  }
  .end{
    .mat-progress-bar-fill::after {
      background-image: linear-gradient(to right, #F7941E, #F9ED32, #119A16);
    }
  }

  .mat-progress-bar-buffer {
    background: #E4E8EB;
  }
  
}
.disabledcursor{
  cursor:not-allowed !important;
}

