<nav aria-label="breadcrumb" class="coursebreadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
    <li class="breadcrumb-item " aria-current="page"><a href="/Admin/auth/Wca">My Courses</a></li>
    <li class="breadcrumb-item active" aria-current="page">Course</li>
    <li class="breadcrumb-item active" aria-current="page">{{course?.course_name}}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-12 col-sm-12 col-12">
    <h1 class="head1">{{course?.course_name}}</h1>
  </div>
</div>

<div class="profile">
  <div class="wrap-reg"><br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <button class="fillsmallbtn" (click)="editModules()">Edit modules</button>
        <button class="fillsmallbtn" (click)="previewcourse(previewDialog)">Preview course</button>
        <button class="fillsmallbtn" *ngIf="isshowPublish" (click)="published()">Publish</button>
      </div>
    </div>
    <div class="row">
      <!-- left side -->
      <div class="col-md-4 col-sm-12 col-12">
        <div style="width: 60%; ">
          <img class="image" src="{{course?.course_img_url}}">
        </div><br>
        <div class="info">
          <div class="grid-item fadetext"><b>Course Name</b></div>
          <!-- <div class="grid-item" > -->
          <div class="grid-item">: {{course?.course_name}}</div>
          <!-- <button class="smallbtn" *ngIf="!isshowPublish" >
               Published
              </button> -->
          <!-- </div> -->
          <div class="grid-item fadetext">Course ID</div>
          <div class="grid-item">: {{course?.course_id}}</div>
          <div class="grid-item fadetext">Version number</div>
          <div class="grid-item">: {{courseType != 'publish' ? 'NA'  : course?.version}}</div>
          <div class="grid-item fadetext" *ngIf="courseType != 'publish'">Created on</div>
          <div class="grid-item" *ngIf="courseType != 'publish'">: {{course?.created_at | date}}</div>
          <div class="grid-item fadetext" *ngIf="courseType != 'publish'">Created by</div>
          <div class="grid-item" *ngIf="courseType != 'publish'">: {{course?.created_by}}</div>
          <div class="grid-item fadetext" *ngIf="courseType === 'publish'">Published on</div>
          <div class="grid-item" *ngIf="courseType === 'publish'">: {{course?.published_on | date }}</div>
          <div class="grid-item fadetext" *ngIf="courseType === 'publish'">Published by</div>
          <div class="grid-item" *ngIf="courseType === 'publish'">: {{course?.published_by}}</div>
        </div>

        <div class="row cls" *ngIf="isshowPublish">
          <div class="col-md-4 col-sm-12 col-12">
            <button class="btn" (click)="crsDetails()">
              Edit Course Details
            </button>
          </div>
          <div class="col-md-4 col-sm-12 col-12">
            <button class="outline" (click)="editResource()">
              Edit Resource files
            </button>
          </div>
        </div>
      </div>
      <!-- left side end -->

      <!-- Right side  -->
      <div class="col-md-8 col-sm-12 col-12">
        <!-- <h1 class="sd">Short Description</h1> -->
        <!-- <div *ngIf="course">
          <h4 style="text-align: left;">{{course?.short_description}}</h4>
        </div> -->
        <div class="enroll">
          <div class="grid-item " *ngIf="courseType === 'publish'"><b>Learners Enrolled</b></div>
          <div class="grid-item fadetext" *ngIf="courseType === 'publish'">: NA</div>
          <div class="grid-item "><b>Language</b></div>
          <div class="grid-item fadetext">: {{course?.course_language}}</div>
          <div class="grid-item "><b>Mode</b></div>
          <div class="grid-item fadetext">:
            {{course?.course_mode == 'self-placed' ? 'Self paced' : course?.course_mode }}</div>
        </div>

        <div class="enroll">
          <div class="grid-item ">
            <i class="fa fa-play course_preview_icon pointer" aria-hidden="true"></i>
          </div>

          <div class="grid-item ">
            <div class="course_preview">
              <h2>Course <br> Preview</h2>
            </div>
          </div>

          <div class="grid-item ">
            <div class="partner_image">
              <img *ngFor="let coursePartner of course?.coursepartner_details"[src]=" coursePartner.image ?  coursePartner.image : '../../../../assets/learner/8.jpg'" width="15%"class="left">
            </div>
          </div>
        </div>
      </div>
      <!-- Right side end -->
    </div>
    <br><br>
    <!-- line -->
    <div class="line"></div>
    <br>
    <div class="row">
      <h1>Details about the Course</h1>
    </div><br>
    <div class="row">
      <!-- left side -->
      <div class="col-md-4 col-sm-12 col-12">
        <h3><b>Course Instructor</b></h3>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <span *ngFor="let author of course?.author_details" class="fadetext"> {{author.author_name}} , </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <h3><b>Pre-Requisite</b></h3>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
        <button *ngFor="let preque of course?.pre_requisite" class="outlinebtn cent">
          {{preque.name ? preque.name : 'none'}}</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-12 col-12">
        <h3><b>Course description</b></h3>
      </div>
      <div class="col-md-8 col-sm-12 col-12">
        <h3 class="fadetext">{{course?.course_description}}</h3>
      </div>
    </div>
    <div class="line"></div>
    <br><br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <div class="display_flex">
          <h2 class=""> Takeaways</h2>
          <button mat-raised-button (click)="clickedT('media')" class="tabbtn">Media</button>
          <button mat-raised-button (click)="clickedT('text')" class="tabbtn">Text</button>
        </div>

        <div style="width: 100%;height: 600px;" *ngIf="clicked == 'media'">
          <owl-carousel-o [options]="customOptions1" class="takeway">
            <ng-template carouselSlide [id]="img" *ngFor="let img of course?.takeway_details[0].media"> 
              <img [src]="img ? img : '../../../../assets/learner/lens.jpg' " height="500px">
            </ng-template>
          </owl-carousel-o>
        </div>

        <ul *ngIf="clicked == 'text'">
          <li class="f_size_17" style="margin-bottom: 12px;" *ngFor="let text of course?.takeway_details">{{text.text ? text.text : text.description }}
          </li>

        </ul>
      </div>

    </div>
    <div class="line"></div>
    <br>
    <div class="row">
      <h1>A Step towards</h1>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-12">
        <h3>{{course?.takeway_details[0].description}}</h3>
      </div>
    </div><br>
    <div class="line"></div>
    <br>
    <div class="row">
      <h1>Instructor details</h1>
    </div>
    <br><br>

    <mat-grid-list [cols]="breakpoint" rowHeight="1:0.3">
      <mat-grid-tile *ngFor="let author of course?.author_details">
        <div class="row">
          <div class="col-md-4 ">
            <img class="image" [src]="author.image ? author.image : '../../../../assets/learner/avatar2.png'">
          </div>
          <div class="col-md-8 ">
            <div class="cardhead"><b>{{author.author_name}}</b></div><br>
            <div style="margin-left: 5%;">
              <p style="word-break: normal;">{{author.description}}</p>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <br><br>

    <div class="line"></div><br>
    <h1>Resources</h1>
    <br><br>
    <!-- <div class="row"> -->
    <section class="accordion" *ngFor="let res of content?.coursedetails | slice:0:5">
      <input type="checkbox" name="collapse" [id]="res?.modulename">
      <h2 class="handle">
        <label [for]="res?.modulename"><b>{{res?.modulename}}</b><i class="fa fa-file-text-o doc">
            <b style="text-align: right;"> {{res?.moduledetails?.length}} Documents</b></i> </label>
      </h2>
      <div class="content">
        <div class="row" *ngFor="let mod of res?.moduledetails; let i = index">
          <div class="col-8"><br>
            <ol class="submod">
              <li><b>{{i+1}} : {{mod?.topicname}}</b></li>
            </ol>
          </div>

          <div class="col-4">
            <mat-form-field style="text-align: right;margin-top: 5%;" *ngIf="mod.resourse?.files.length > 0">
              <mat-label>Resources</mat-label>
              <mat-icon matPrefix>folder</mat-icon>
              <mat-select>
                <mat-option *ngFor="let file of mod.resourse?.files">
                  <a href="{{file.path}}" download>{{file.path}}</a>
                </mat-option>
                <mat-option *ngIf="mod.resourse?.files.length > 0" style="text-align: center;" (click)="downloadAll(mod.resourse?.files)">
                  <button class="btn">Download all</button>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </section>

    <div *ngIf="isCollapsed">
      <section class="accordion" *ngFor="let res of content?.coursedetails | slice:6">
        <input type="checkbox" name="collapse" [id]="res?.modulename">
        <h2 class="handle">
          <label [for]="res?.modulename"><b>{{res?.modulename}}</b><i class="fa fa-file-text-o doc">
              <b style="text-align: right;"> {{res?.moduledetails?.length}} Documents</b></i> </label>
        </h2>
        <div class="content">
          <div class="row" *ngFor="let mod of res?.moduledetails; let i = index">
            <div class="col-8"><br>
              <ol class="submod">
                <li><b>{{i+1}} : {{mod?.topicname}}</b></li>
              </ol>
            </div>

            <div class="col-4">
              <mat-form-field style="text-align: right;margin-top: 5%;">
                <mat-label>Resourse</mat-label>
                <mat-icon matPrefix>folder</mat-icon>
                <mat-select>
                  <mat-option *ngFor="let file of mod.resourse?.files">
                    <a href="{{file.path}}" download>{{file.path}}</a>
                  </mat-option>
                  <mat-option style="text-align: center;" (click)="downloadAll(mod.resourse?.files)">
                    <button class="btn">Download all</button>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div style="text-align:center;" *ngIf="modulength >= 5">
      <button class="btn1 success" (click)="moresection(isCollapsed,modulength)" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">{{modulength - 5}} more section</button>
    </div>

     <!-- Course preview dialogbox -->
    <ng-template #previewDialog>
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn" (click)="closedialogbox()">close</mat-icon>
      </button>
      <mat-dialog-content style="width: 80em;height: 600px;">
        <iframe style="width: 75em; height: 420px; border:none" [src]="urlSafe"></iframe>
      </mat-dialog-content>
    </ng-template>
  </div>
</div>