<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add User</li>
  </ol>
</nav>

<mat-tab-group>
  <mat-tab label="Add a user">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-4">
        </div>
        <div class="col-md-3 col-sm-5 col-6"><br>
          <form [formGroup]="addUserForm">
            <div class="form-group">
              <label>User Name</label><span style="color: red;"> *</span>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
              <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">User Name is required</div>
                <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
                <div *ngIf="f.username.errors.minlength">User Name must be minimum of 3 characters </div>
                <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label><span style="color: red;"> *</span>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
              <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Your email pattern is invalid.</div>
              </div>
            </div>
            <div class="form-group">
              <label>Group Name</label><span style="color: red;"> *</span><br>
              <mat-form-field class="width_100 ">
                <!-- <mat-label>Institute Name</mat-label> -->
                <mat-select formControlName="group">
                  <mat-option *ngFor="let grp of groups" [value]="grp">
                    {{grp.group_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div><br>
            <button id="addUser" mat-stroked-button [disabled]="addUserForm.invalid" class="width_70 center"
              (click)="addUser()">Add
              User</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Add Multiple Users">
    <!-- <app-data-table [tableData]="tableData" [columnHeader]="columnHeader"></app-data-table>
    {{tableData | json}}
    <mat-paginator #paginator [length]="9" [pageSize]="5" (page)="next()" showFirstLastButtons>
    </mat-paginator> -->

    <!-- //Maniyarasi  -  add your code here -->


     <!-- //Maniyarasi  - end of your code -->
  </mat-tab>

</mat-tab-group>