@import "../../../../assets/variable.scss";

::ng-deep .mat-tab-label {
    width: 50% !important;
    font-weight: 600;
    font-size: medium;
}

::ng-deep .mat-form-field-flex {
    background: $color-white;
    border: 1px solid $color-border;
}

::ng-deep .mat-select-arrow {
    height: 12px !important;
}

::ng-deep .mat-stroked-button{
    width: 100% !important;
}