.batch-leaners-container{
    .batch-btn {
        button {
            background-color: #1f3777 !important;
            height: 33px;
            width: 150px;
            float: right;
        }
}

h2{
    color: #1f3777 !important;
    margin-bottom: 0px !important;
}

hr{
    margin: 10px !important;
    background: white !important;
}
.tag-container{
    height: 100px;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.dotted-hr{
    border-top: 3px dashed rgba(0,0,0,.1) !important;
}

.course-tag{
    border: 2px solid rgba(0,0,0,.1);
    padding: 5px;
    border-radius: 4px;
    color: #1f3777 !important;
    margin-right: 10px;
    margin-bottom: 10px;

}
.m-l-50{
    margin-left: 50%;
}
.category-nav{
    height: 30px !important;
    background-color: #c6c2c2 !important
}
.category-nav li{
    padding: 5px !important;
}

.coursebreadcrumb{
padding-top: 0px !important;
}
.example-container{
    max-height: 100% !important;
}
 
}

::ng-deep .batch-leaners-container mat-table{
    max-width: 100% !important;
    max-height: 100% !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;

}