<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
    <li class="breadcrumb-item"><a href="/Admin/auth/Wca">My Courses</a></li>
    <li class="breadcrumb-item active" aria-current="page">View {{type}} Courses</li>
  </ol>
</nav>
<div class="p-5px">
  <div class="row">
    <div class="col-md-6">
      <h2 class="font-display">{{type}} Courses ({{course_count}})</h2>
    </div>
    <div class="col-md-6" *ngIf="courseList && courseList.length > 0">
      <mat-card class="float-right view-button-background">
        <button class="float-right button-view" mat-raised-button>
          <i class="material-icons app-toolbar-menu" (click)="viewType = 'list'">menu </i>
        </button>
        <button class=" float-right" mat-raised-button>
          <i class="material-icons app-toolbar-menu" (click)="viewType = 'grid'">apps </i>
        </button>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loader" style="height:100%">
    <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
  </div>

  <div class="container" *ngIf="!loader">
    <!-- grid-view-course-component here -->
    <div class="row" *ngIf="viewType == 'grid'">
      <div class="col-md-11 center">
        <mat-card style="text-align: center;box-shadow: 0 2px 10px #6c757d;">
          <mat-grid-list cols="4" [cols]="breakpoint" rowHeight="2.3:2.5">
            <mat-grid-tile
              *ngFor="let course of courseList  | paginate: { totalItems: course_count,itemsPerPage: 12, currentPage: paginationpgno } ;"
              [style.border]="'none'" [colspan]="1" [rowspan]="1">
              <app-course-component [course]="course" [canNavigate]="true" [showCartBtn]="false" [showWishlist]="false"
                [showStatus]="false" [showRating]="showRating" [showCount]="showCount" [showPrice]="showPrice"
                [showDate]="showPublishedDate" [goto]="goto">
              </app-course-component>
            </mat-grid-tile>
            <h2 *ngIf="courseList && courseList.length == 0">
              No courses yet
            </h2>
          </mat-grid-list>
        </mat-card>
      </div>
    </div>
    <!-- end of grid-view-course-component here -->
    <!-- list-view-course-component here -->
    <div class="row" *ngIf="viewType == 'list'">
      <div class="col-md-9 col-sm-11 col-11 width_80 center"
        *ngFor="let course of courseList  | paginate: { itemsPerPage: 12, currentPage: paginationpgno } ;">
        <app-list-view-course-component [course]="course" [showRating]="showRating" [btnType]="btnType"
          [showCount]="showCount" [goto]="goto" [showDate]="showPublishedDate" [showWishlist]="false">
        </app-list-view-course-component>
        <br>
      </div>
    </div>
    <!-- end of list-view-course-component here -->
    <br><br><br>
    <div class="row" *ngIf="courseList && courseList.length > 0">
      <div class="col-md-12">
        <pagination-controls class="my-pagination" style="text-align: center;" (pageChange)="onpagination($event)">
        </pagination-controls>
      </div>
    </div><br><br><br><br>
  </div>

</div>