   
/* @import "../../../../assets/variable.scss"; */

.mat-grid-list {
    top : 15px !important;
}

h2 {
    color: #1F3777;
    text-transform: capitalize;
    margin-left: 15px;
}
::ng-deep .mat-progress-spinner {
    position: absolute !important;
    top: 50% !important;
    left: 45% !important;
  }