   
/* @import "variable"; */

.mat-grid-list {
    top : 15px !important;
}

h2 {
    color: #1F3777;
    text-transform: capitalize;
    margin-left: 15px;
}
::ng-deep .mat-progress-spinner {
    position: absolute !important;
    top: 50% !important;
    left: 45% !important;
  }

::ng-deep .mat-raised-button{
    margin: 2px !important;
    min-width: 39px !important;
    padding: 0px 8px 0px !important;
    line-height: 29px !important;
}
.font-display{
    margin-left: 36px;
}
.view-button-background{
    padding: 3px !important;
    margin-right: 30px !important;
    margin-bottom: 7px !important;
}
