<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active" aria-current="page">View {{type}} Courses</li>
  </ol>
</nav>
<div class="p-5px">
  <h2>{{type}} Courses ({{courseList.length}})</h2>

  <div class="container">
    <div class="col-md-12">
      <mat-card style="text-align: center;box-shadow: 0 2px 10px #6c757d;">
        <mat-grid-list cols="4" [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2.3:2">
          <mat-grid-tile *ngFor="let course of courseList" [style.border]="'none'" [colspan]="1" [rowspan]="1">
            <app-course-component [course]="course" [canNavigate]="false" [showCartBtn]="false" [showWishlist]="false"
              [showStatus]="false" [showRating]="true" [showCount]="true" [showPrice]="true" [showDate]="true"
              [goto]="goto">
            </app-course-component>
          </mat-grid-tile>
          <h2 *ngIf="courseList && courseList.length == 0">
            No courses yet
          </h2>
          <br>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>