body {
    font-weight: 300;
}

/* change player background color */
#myVideo {
    background-color: #6AE838;
    margin: auto;
}

select {
    margin: 0 0 0.5em 0;
}

.inputSelector {
    margin-top: 30px;
    // display: none;
}