
<div><app-wca></app-wca></div>

<nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Wca">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">My Courses</li>
    </ol>
</nav>

<div>
    <button class="backgroundcol2" routerLink="/Wca/addcourse" >Create a Course</button>
</div> 
  


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                    
                    <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                        Published Courses <span style="float: right;font-size: small; font-weight: bold;">View all</span>
                    </mat-panel-title>

                    <mat-card style="text-align: center;">
                        <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2.3:2">

                            <owl-carousel-o [options]="popularCategorires" class="partner">
                                <ng-template carouselSlide *ngFor="let course of wishlist">

                            <app-course-component [course]="course" [canNavigate]="true" [showCartBtn]="true"
                              [showWishlist]="false" [showStatus]="false"> </app-course-component>
                            </ng-template>
                        </owl-carousel-o>
                        </mat-grid-list>
                        <h2 *ngIf="wishlist && wishlist.length == 0">
                          No courses yet
                        </h2>
                      </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                   
                        <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                            Courses created by me <span style="font-style: normal;font-size: initial;
                            color: #6f6c6c">(Yet to publish)</span> <span style="float: right;font-size: small; font-weight: bold;">View all</span>
                        </mat-panel-title>
                    
                        <mat-card style="text-align: center;">
                            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2.3:2">
    
                                <owl-carousel-o [options]="popularCategorires" class="partner">
                                    <ng-template carouselSlide *ngFor="let course of wishlist">
    
                                <app-course-component [course]="course" [canNavigate]="true" [showCartBtn]="true"
                                  [showWishlist]="false" [showStatus]="false"> </app-course-component>
                                </ng-template>
                            </owl-carousel-o>
                            </mat-grid-list>
                            <h2 *ngIf="wishlist && wishlist.length == 0">
                              No courses yet
                            </h2>
                          </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                   
                        <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                            Draft <span style="font-style: normal;font-size: initial;
                            color: #6f6c6c">(Work in progress)</span><span style="float: right;font-size: small; font-weight: bold;">View all</span>
                        </mat-panel-title>
                   
                        <mat-card style="text-align: center;">
                            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="2.3:2">
    
                                <owl-carousel-o [options]="popularCategorires" class="partner">
                                    <ng-template carouselSlide *ngFor="let course of wishlist">
    
                                <app-course-component [course]="course" [canNavigate]="true" [showCartBtn]="true"
                                  [showWishlist]="false" [showStatus]="false"> </app-course-component>
                                </ng-template>
                            </owl-carousel-o>
                            </mat-grid-list>
                            <h2 *ngIf="wishlist && wishlist.length == 0">
                              No courses yet
                            </h2>
                          </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>



<div><app-footer></app-footer></div>