
@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    
    .sidenav{
        // background: $lxp-blue;    
        overflow: hidden !important;
        position: relative;
        width: 250px;
    }
    .drawer{
        background: $lxp-blue;    
        overflow: hidden;
        position: relative;
        width: 80px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }

    .logo{
        font-size: 26px;font-family: Roboto;color:white;margin-top: 8px;
    }
  :host .mat-drawer-inner-container{
        overflow: hidden !important;
        background: $lxp-blue;
    }
    
    .mat-toolbar.mat-primary{
        background-color: #004072 !important;
        box-shadow: none !important;
    }
    .mat-nav-list .mat-list-item .mat-list-icon{
        color: white;
    }
    .mat-drawer-container{
        padding: 0;
    }
    .mat-row{
        min-height: 39px !important;
    }
    .mat-h1, .mat-headline, .mat-typography h1{
        margin: 0px !important;
    }
}

