<footer class="footer-container">
    <div class="content-title">
        <div class="footer-content">
            <div class="content-header">
                About L&T Group
            </div>
            <div class="content"> 
                About
            </div>
            <div class="content" >
                L&T for Business
            </div>
        </div>

        <div class="footer-content">
            <div class="content-header">
                Legal Terms
            </div>
            <div class="content">
                Terms & Condition
            </div>
            <div class="content">
                Privacy
            </div>
            <div class="content">
                Help
            </div>
        </div>

        <div class="footer-content">
            <div class="content-header">
                Follow us
            </div>
            <div class="content" >
               <em class="fa fa-facebook icon f_size_20 m-r-3" ></em>
               <em class="fa fa-google-plus icon f_size_20 m-r-3"></em>
               <em class="fa fa-youtube icon f_size_20 m-r-3"></em>
               <em class="fa fa-twitter icon f_size_20 m-r-3"></em>
            </div>
        </div>

        <div class="footer-content">
            <div class="content-header">
                Contact us
            </div>
            <div class="content">
                Larsen & Toubro Limited
            </div>
        </div>
    </div>
<br><br><br><br>
    <div class="copyright-header row">

        <div class="copyright-title">
            <p class="footertext">{{currentYear}} LARSEN & TOUBRO LIMITED. All rights reserved.</p>
        </div>
        <div class="copyright-title">
            Copyright & Terms | Privacy Policy
        </div>
    </div>
</footer>