<footer class="footer-container">
    <div class="content-title">
        <div class="footer-content">
            <div class="content-header">
                About L&T Group
            </div>
            <div class="content"> 
                About
            </div>
            <div class="content" >
                L&T for Business
            </div>
        </div>

        <div class="footer-content">
            <div class="content-header">
                Legal Terms
            </div>
            <div class="content">
                Terms & Condition
            </div>
            <div class="content">
                Privacy
            </div>
            <div class="content">
                Help
            </div>
        </div>

        <div class="footer-content">
            <div class="content-header">
                Follow us
            </div>

        </div>

        <div class="footer-content">
            <div class="content-header">
                Contact us
            </div>
            <div class="content">
                Larsen & Toubro Limited
            </div>
        </div>
    </div>

    <div class="copyright-header">

        <div class="copyright-title">
            2020 LARSEN & TOUBRO LIMITED. All rights reserved.
        </div>
        <div class="copyright-title">
            Copyright & Terms | Privacy Policy
        </div>
    </div>
</footer>