

     
  .otp {
    margin: 0 5px;
    text-align: center;
    font-size: 27px;
    outline: none;
    width: 21%;
    transition: all .2s ease-in-out;
    &:focus {
      border-color: #94b5f1;
      box-shadow: 0 0 5px #94b5f1 inset;
    }
    
    &::selection {
      background: transparent;
    }
  }
  div.account{
    color: #1F3777;
    word-break: break-all !important;
    text-align: center !important;
}
  
  