@import "variable";
.otp {
  margin: 0 5px;
  text-align: center;
  font-size: 27px;
  outline: none;
  width: 21%;
  transition: all 0.2s ease-in-out;

  &:focus {
    box-shadow: 0 0 5px $color-light-blue inset;
  }

  &::selection {
    background: transparent;
  }
}
.hearder-logo {
  height: 36px;

}
.mat-toolbar {
  background: $lxp-theme-yellow-sec !important;
  color: $color-blank;
  position: absolute;
  z-index: 4;
}

div.account {
  color: $color-blue;
  word-break: break-all !important;
  text-align: center !important;
  cursor: pointer;
  margin-top: 20%;
}

.did {
  color: $label2;
}

.star {
  color: $color-red;
}

.link {
  color: $color-white !important;
}

:host ::ng-deep .container-reg200 {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  // background: url('../../../../assets/learner/bg-6.jpg');
}

:host ::ng-deep.pg {
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 16px;
  margin-left: 50% !important;
  font-size: 14px;
  font-weight: normal !important;
}

:host ::ng-deep.privcy {
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 45%;
  margin-left: 47% !important;
  font-size: 14px;
  font-weight: normal !important;
}

:host ::ng-deep.lxplogo {
  text-align: center;
  margin-left: 94px;
  margin-right: 94px;
  width: 110px;
}

:host ::ng-deep.head1 {
  text-align: center;
  font-weight: normal !important;
  font-size: 21px;
  margin-top: 18px !important;
}

:host ::ng-deep.p-t-77 {
  padding-top: 21px !important;
}

:host ::ng-deep.bgimg {
  width: 99%;
  height: 657px;
}

:host ::ng-deep.lnt_logo {
  position: absolute;
  width: 15%;
  margin-top: 21px;
  margin-left: 108px;
}
:host ::ng-deep .wrap-reg {
  width: 100%;
  padding-left: 40px;
  padding-right: 30px;
  height: 100vh;
  border-radius: 0px !important;
  margin-left: 0% !important;
  overflow: hidden !important;
}


mat-form-field {
  width: 100%;
}

:host ::ng-deep.footertext{
  font-size: 14px !important;
  font-weight: 400;
  padding: 18px;
  position: absolute;
  color: $lxp-footer-text;
}

input.mat-input-element {
  margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {

  margin: 3px !important;

}
.btn {
       font-size: 16px;
      background: $lxp-theme-green !important;
      color: $color-white;
      border-radius: 50px !important;
      width: 54%;
      height: 45px;
      margin-left: 23%;
      margin-right: 23%;
      margin-top: 10%;
  
}
.center{
  text-align: center;
}
:host ::ng-deep .btn.disabled,
.btn:disabled {
color: $color-white !important;
border-radius: .25rem;
font-size: 16px;
}
.usericon input{
  padding-left:25px;
}

::placeholder {
  color: $color-border !important;
  }

.icon-color{
  color:  #8c8c8c !important;
  position: relative;
  top: -2px;
} 
.error{
    margin-top: 10px;
}
.label-color{
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif !important;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: .5em;
}
// mobile screen
@media (max-width: 480px) {
  .wrap-reg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden !important;
    height: 100vh;
    border-radius: 0 !important;
    margin-left: 0% !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .beforeloginimg {
    width: 100%;
    height: 0vh !important;
  }
  .footericon {
    width: 100%;
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
  }
  .forgot1{
    margin-left: -9%;
  }
}

@media (max-width: 568px) {
  .wrap-reg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden !important;
    height: 100vh;
    border-radius: 0 !important;
    margin-left: 0% !important;
  }
  .beforeloginimg {
    width: 100%;
    height: 0vh !important;
  }
  .footericon {
    width: 100%;
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
  }
  .forgot1{
    margin-left: -9%;
  }
}
.img {
  text-align: center;
}
.forgot1 {
  color: $lxp-text ;
  font-size: 13px;
}