<mat-toolbar>
  <img class="hearder-logo " alt="" src="assets/learner/LT.svg">
  <span class="headTit">&nbsp;LARSEN & TOUBRO</span>
</mat-toolbar>
<div *ngIf="!isLinkActive" class="limiter">
  <div class="row container-reg200">
    <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
      <!-- <img alt="" class="lnt_logo" src="assets/learner/WHITE_LNT T_LOGO.svg"> -->
      <div class="main-logo">
      <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/iGGnite_SVG.svg">
    </div>
      <div class="row footer20">
        <div class="col-8">
          <!-- <span class="footertext">© 2020 L&T EduTech.</span> -->
        </div>
        <div class="col-4">
          <!-- <span class="powered">
            <img class="footericon" alt="" src="assets/learner/LT_small.svg">
          </span> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div class="wrap-reg ">
        <!-- <img class="kauhalya" alt="" src='assets/images/l&t.png'> -->
        <form [formGroup]="otpForm">
          <h1 class="animated animatedFadeInUp fadeInUp signIn">Enter the mobile number</h1><br><br>
          <!-- <label>Mobile number</label> -->
          <mat-form-field appearance="outline">
            <mat-label class="label-color">Mobile number</mat-label>
            <input matInput  placeholder="Enter mobile number without country code"   minlength="10" pattern="[1-9]{1}[0-9]{9}"
             mask="0000000000"  maxlength="10"
             formControlName="mobile"   [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }" required>
            <mat-icon matPrefix class="icon-color" fontSet="material-icons-outlined">
              phone</mat-icon>
            <mat-error class="error"  *ngIf="otpForm.get('mobile').hasError('required')">
              Mobile number is required
            </mat-error>
            <mat-error class="error"  *ngIf="otpForm.get('mobile').hasError('minlength')">
              Mobile number must be 10 digits
            </mat-error>
         
            <mat-error class="error" *ngIf="otpForm.get('mobile').hasError('pattern')">
              Mobile number is invalid
            </mat-error>
          </mat-form-field>
          <!-- <div class="form-group">
            <input type="text" formControlName="mobile" placeholder="Mobile number without country code" maxlength="10"
              minlength="10" pattern="[1-9]{1}[0-9]{9}" mask="0000000000" class="form-control"
              [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }" />
            <div *ngIf="f.mobile.touched && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
              <div *ngIf="f.mobile.errors.pattern">Mobile number is invalid</div>
              <div *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Mobile number must be 10 digits</div>
            </div>
          </div> -->


          <button *ngIf="otpFeature == 'false'" mat-raised-button class="btn" [disabled]="!otpForm.valid"
            (click)="otpverification()">NEXT</button>
          <!-- // sms getway integation pending  -->
          <div *ngIf="otpFeature == 'true'">
            <div *ngIf="isenable"><br>
              <p class="head">OTP will be sent to this number</p>
              <button mat-raised-button class="btn" [disabled]="!otpForm.valid" (click)="otpverification()">VERIFY</button>
            </div>

            <div *ngIf="showotp"><br>
              <p class="otphead">OTP Code</p>
              <ng-otp-input [config]="config" [ngClass]="{ 'is-invalid': f.otp.touched && f.otp.errors }"
                formControlName="otp" min="0" max="9" (onInputChange)="onOtpChange($event)" pattern="[0-9]{1}">
              </ng-otp-input>
              <div>
                <p>{{minutes}}:{{seconds}}</p>
              </div>
              <br><br>
            </div>

            <div *ngIf="showotp">
              <button class="btn" mat-raised-button [disabled]="verifybutton" (click)="otpverify()">VERIFY</button>
            </div><br>
            <div class="account" *ngIf="resendLabel"><span class="did">Didn't get OTP?</span><b
                (click)="Resendcode()"><br>
                Resend OTP</b></div>

          </div>
          <!-- // sms getway integation pending  -->
        </form>
      </div>
      <div class="row footer20">
        <div class="col-6">
        </div>
        <div class="col-4">
          <span class="powered">
            <img class="footericon" alt="" src="assets/learner/LnT-Full-black-logo.svg">
          </span>
        </div>
      </div>
    </div>

  </div>


</div>



<!-- <img src="../../../../assets/images/forbidden.jpg"> -->
<img style="width: 100%;" *ngIf="isLinkActive" src="../../../../assets/images/2nd_sample.svg">
<h1 class="img" *ngIf="isLinkActive">This Link has already expired..</h1>