<!------------------------------Phone Number and OTP------------------------>
<div class="content">
<mat-card *ngIf="showCard">
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Phone number</mat-label>
      <input matInput [formControl]="phoneNumber" [errorStateMatcher]="matcher" placeholder="Phone number">
      <mat-error *ngIf="phoneNumber.hasError('pattern') && !phoneNumber.hasError('required')">
        Please enter valid phone number
      </mat-error>
      <mat-error *ngIf="phoneNumber.hasError('required')">
        Phone number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>OTP</mat-label>
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
    <ng-otp-input #ngOtpInput ></ng-otp-input>
    </mat-form-field> -->
    <div>
      <button mat-raised-button (click)="otpverification()">Verify</button>
    </div>
  </mat-card-content>
</mat-card>
</div>