@import "variable";

// New UI Starts
.courseReportWrapper {
  background-color: #f2f2f2;
  // height: calc(100vh - 121px);
  height: 100%;
  > div {
    height: 100%;
    flex-direction: column;
    @media only screen and (min-width: 720px) {
      flex-direction: row;
    }
  }
  .reportLeftCol {
    //inner scroll
    // overflow: auto;
    // height: 80vh !important;
    order: 2;
    padding: 20px 0;
    width: 100%;
    @media only screen and (min-width: 720px) {
      width: calc(100% - 300px);
      order: 1;
    }
    @media only screen and (min-width: 1140px) {
      width: calc(100% - 400px);
    }
  }
  .reportRightCol {
    order: 1;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    @media only screen and (min-width: 720px) {
      padding: 20px 15px;
      order: 2;
      width: 300px;
      height: 100%;
    }
    @media only screen and (min-width: 1140px) {
      padding: 20px 30px;
      width: 400px;
    }
  }
}

.reportLeftCol {
  .breadcrumb {
    margin: 0;
    padding: 0 20px !important;
    background-color: transparent !important;
    li {
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      position: relative;
      margin-right: 15px;
      em {
        display: inline-block;
        transform: scale(-1);
        color: #666666;
        margin-right: 8px;
        cursor: pointer;
      }
      &:first-child {
        color: #999999;
        &::after {
          content: "/";
          position: absolute;
          right: -10px;
          top: auto;
          bottom: auto;
          color: #c02222;
        }
      }
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    color: #333333;
    padding: 15px 20px;
    margin: 0;
  }
  .selfLearningSection {
    margin-bottom: 30px;
    padding: 0 20px;
    h5 {
      span {
        color: #00A99D;
      }
    }
  }
  .querySelection {
    margin-bottom: 30px;
    padding: 0 20px;
    h5 {
      span {
        color: #5850E0;
      }
    }
  }
  .overallsection{
    margin-top: 10px;
    padding: 0 20px;
    .selflearningCard{
      width: 49%;
      .card-head{
        font-size: 18px;
        font-weight: 500;
      }.card-content{
        .graph-content{
          width: 40%;
        }
        .text-content {
          width: 63%;
        }
        ul{
          list-style: none;
          padding-left: 0;
          line-height: 16px;
          margin-bottom: 0px; 
          label{
            font-size:13px;
            width:73%;
          }
          span{
            font-size:13px;
            font-weight: 600;
           
          }
        }
      }
      .card-foot{
        color:#809FB8;
        font-size: 10px;
      }
    }
  }
  .weeklyreport{
    margin-top: 40px;
    .weekly-head{
      .week-head-text{
        padding-left:20px;
        width:83%;
        font-size: 15px;
      }
      .week-head-action{
        width:17%;
        .mat-button-toggle-checked {
          background-color: white;
          color: #c02222;
        }
      }
    }
    .weekly-content{
      padding:0 20px;
      margin-top: 10px;
      .week-card{
        width:24%;
        margin-bottom: 10px;
        .week-card-head{
          margin-bottom: 10px;
          label{
            font-size:16px;
            font-weight: 600;
            width:90%;
          }
        }
        ul{
          list-style: none;
          padding-left: 0;
          line-height: 16px;
          margin-bottom: 0px; 
          label {
            font-size: 15px;
            width:80%;
          }
          span{
            color:#00A99D;
            font-weight:500;
          }
        }
      }
    }
  }
  h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
  }
  .percentageContent {
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 650px) {
      width: 25%;
    }
    @media only screen and (min-width: 992px) {
      width: 30%;
    }
    @media only screen and (min-width: 1150px) {
      width: 15%;
    }
    > div {
      width: 60%;
      margin: 0 auto;
    }
  }
  .weekScoredContent {
    width: 100%;
    margin-right: 0;
    justify-content: flex-start;
    @media only screen and (min-width: 650px) {
      width: 70%;
      margin-left: 2%;
    }
    @media only screen and (min-width: 992px) {
      width: 64%;
      margin-left: 0;
    }
    @media only screen and (min-width: 1150px) {
      width: 79%;
      margin-right: 0;
    }
    .weeksWise {
      width: 45%;
      margin-right: 15px;
      position: relative;
      @media only screen and (min-width: 650px) {
        width: 44%;
      }
      @media only screen and (min-width: 992px) {
        width: 46%;
      }
      @media only screen and (min-width: 1150px) {
        width: 23%;
      }
      .weekWiseDescription {
        padding: 8px;
        width: 95%;
        margin: 7px 0;
        &:hover {
          background-color: #e3e3e3;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: rgba(0, 0, 0, 0.25);
        }
        &::before {
          top: 100%;
          left: 0;
          width: 90%;
          height: 1px;
        }
        &::after {
          top: 15%;
          left: 98%;
          width: 1px;
          height: 76%;
          bottom: 5%;
        }
      }
      @media only screen and (max-width: 568px) {
        &:nth-child(2n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }
      @media only screen and (max-width: 1149px) {
        &:nth-child(3n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }

      @media only screen and (min-width: 1150px) {
        &:nth-child(4n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }
      h5,
      h6 {
        margin: 3px 0;
        line-height: normal;
      }
      h5 {
        font-size: 16px;
        color: #666666;
        font-weight: 400;
        span {
          display: inline-block;
          font-weight: 700;
          margin-left: 5px;
        }
        &.notStarted {
          color: #5c6873;
          opacity: 0.5;
        }
      }
      h6 {
        font-size: 15px;
        font-weight: 400;
        &.colorCompleted {
          // color: #0c781b;
          color: #000000;
        }
        &.colorOnGoing {
          // color: #e36900;
          color: #000000;
        }
        &.notStarted {
          // color: #5c6873;
          color: #000000;
          opacity: 0.5;
        }
      }
    }
  }
}

.reportRightCol {
  .refresh {
    text-align: right;
    margin-bottom: 30px;
    button {
      background-color: #c02222;
      border-radius: 5px;
      border: 0;
      padding: 5px 10px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      em {
        display: inline-block;
        transform: scaleX(-1);
      }
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    line-height: normal;
    margin: 0 0 10px 0;
  }
  .numberedList {
    width: 9%;
    align-self: center;
    span {
      font-size: 14px;
      font-weight: 700;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      &.green {
        background-color: #00a37d;
        border: 1px solid #00a37d;
        color: #ffffff;
      }
      &.white {
        background-color: #ffffff;
        border: 1px solid #666666;
        color: #333333;
      }
    }
  }
  .courseProgressBar {
    width: 71%;
    align-self: center;
    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin-bottom: 5px;
    }
  }
  .progressPercentage {
    width: 16%;
    margin-top: 1%;
    span {
      display: block;
      line-height: normal;
      &.percentageScore {
        color: #2A4DC1;
        font-size: 13px;
        font-weight: 500;
      }
      &.outOfScore {
        color: #00004E;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
  .finalScoreCard {
    margin-top: 40px;
    .progressFinal {
      width: 100%;
      @media only screen and (min-width: 1140px) {
        width: 40%;
      }
    }
    .gradePoints {
      width: 100%;
      padding: 7px;
      background-color: #F5F5F5;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
      margin-top: 10px;
      @media only screen and (min-width: 1140px) {
        width: 60%;
        margin-top: 0;
      }
      > div {
        border-right: 1px solid #cdcdcd;
        padding-right: 8px;
        margin-right: 8px;
        width: 48%;
        text-align: center;
        &:last-child {
          border-right: 0;
          margin-right: 0;
          padding-right: 0;
        }
        figure {
          margin: 0 0 7px 0;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-width: 50%;
          }
        }
      }
      h6 {
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        line-height: normal;
        margin: 0;
        span {
          display: inline-block;
          color: #333333;
          margin-left: 10px;
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
    .popoverInfoFinal {
      display: flex;
      // justify-content: center;
      align-items: center;
      border: none;
      background-color: #f5f5f5;
      color: grey;
      border-radius: 20px;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      em {
        color: #626262;
        font-size: 13px;
        font-weight: 500;
      }
    } 
    .finalScore  {
      flex-wrap: wrap;
      @media only screen and (min-width: 1140px) {
        flex-wrap: nowrap;
      }
    }   
  }
}
// New UI Ends

.assessmentScoreCard {
  margin-top: 15px;
}
.wrapperReport {
  flex-wrap: wrap;
  @media only screen and (min-width: 568px) {
  }
}

.course-arrow-mark {
  text-align: right;
  margin: 0 15px 15px 0;
  width: 100%;
  cursor: pointer;
  i {
    display: inline-block;
    font-size: 7px;
    color: #333333;
    margin-left: 10px;
    vertical-align: middle;
  }
  .showMore, .showLess {
    margin: 10px 0;
    span {
      font-size: 10px;
      em {
        margin-left: 10px;
        font-size: 6px;
      }
    }
  }
}

::ng-deep.popover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: none;
  .arrow {
    bottom: 32%;
    transform: translateY(0%);
  }
  .popover-body {
    .popoverContainer {
      min-width: 200px;
      .items, .calculation, .calFormula, .calcPercentage {
        font-weight: 400;
        line-height: 20px;
      }
      .items {
        color: #666666;
        font-size: 12px;
        span {
          color: #333333;
        }
      }
      .calculation {
        color: #C02222;
        font-size: 12px;
        font-weight: 500;
        margin-top: 6px;
      }
      .calcFormula, .calcPercentage {
        color: #002581;
        font-size: 10px;
      }
    }
  }
}

::ng-deep .ScoreSection .mat-progress-bar {
  height: 10px !important;
}

::ng-deep .ScoreSection .mat-progress-bar-fill::after {
  background-color: #00a37d !important;
}

::ng-deep .ScoreSection .mat-progress-bar-buffer {
  background-color: #bbbbbb !important;
}

.mt-20 {
  margin-top: 20px;
}

.popover-info {
  border: none;
  background: #f5f5f5;
  color: grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 1px 2px #00000029;
  //position: absolute;
  right: 10px;
  //top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popover-info:hover {
  background: grey;
  color: white;
}

.ml-2 {
  margin-left: 2%;
}

::ng-deep .popover .arrow {
  // top: 67px !important;
}

::ng-deep .finalScoreCard .popover .arrow {
  // top: 170px !important;
}