.commonBackStyle {
    width: 100%;
    display: inline-block;
    margin-bottom: 0 !important;
    &:hover {
        i, span {
            color: #C02222;
        }
        .courseNameBreadcrum {
          span, i {
            color: #333333;
            cursor: auto;
          }
        }
    }
    .backArrow {
        font-size: 6px;
        color: #231F20;
        font-weight: bold;
        transform: rotate(-90deg);
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    span {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: #999999;
        font-weight: lighter;
        margin-left: 5px;
    }
  }

  .courseNameBreadcrum {
    margin-left: 5px;
    display: inline-block;
    width: 81%;
    .pipeLine {
      display: inline-block;
      margin-right: 5px;
    }
    span {
      color: #333333;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      display: inline-block;
      &.ledCourseName {
        max-width: 40%;
        min-width: 3%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media only screen and (min-width: 768px) {
          max-width: 100%;
        }
      }
      &:last-child {
        margin-left: 0;
      }
    }
    i {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 8px;
        color: #333333;
        margin: 0 7px;
    }
}

.courseReportWrapper {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    color: #333333;
  }
  .numberedList {
    width: 9%;
    align-self: center;
    span {
      font-size: 14px;
      font-weight: 700;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      display: flex;
      &.green {
        background-color: #00A37D;
        border: 1px solid #00A37D;
        color: #ffffff;
      }
      
      &.white {
        background-color: #ffffff;
        border: 1px solid #666666;
        color: #333333;
      }
    }
  }
  .courseProgressBar {
    width: 71%;
    align-self: center;
    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin-bottom: 5px;
    }
  }
  .progressPercentage {
    width: 16%;
    margin-top: 1%;
    span {
      display: block;
      line-height: normal;
      &.percentageScore {
        color: #C7316B;
        font-size: 15px;
        font-weight: 400;
      }
      &.outOfScore {
        color: #00004E;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
  .finalScoreCard {
    margin-top: 30px;
    .progressFinal {
      width: 50%;
    }
    .gradePoints {
      width: 50%;
      h6 {
        font-size: 18px;
        font-weight: 400;
        color: #333333;
        line-height: normal;
        span {
          display: inline-block;
          color: #C02222;
          margin-left: 3px;
        }
      }
    }
  }
}
.LearningPercentage {
  width: 100%;
  @media only screen and (min-width: 992px) {
    width: 70%;
  }
  @media only screen and (min-width: 1150px) {
    width: 75%;
  }
  h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
  }
  .percentageContent {
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 650px) {
      width: 25%;
    }
    @media only screen and (min-width: 992px) {
      width: 20%;
    }
    @media only screen and (min-width: 1150px) {
      width: 15%;
    }
  }
  .weekScoredContent {
    width: 100%;
    margin-right: 0;
    justify-content: flex-start;
    @media only screen and (min-width: 650px) {
      width: 70%;
      margin-left: 2%;
    }
    @media only screen and (min-width: 992px) {
      width: 74%;
      margin-left: 0;
    }
    @media only screen and (min-width: 1150px) {
      width: 79%;
      margin-right: 2%;
    }
    .weeksWise {
      width: 49%;
      padding: 5px;
      position: relative;
      @media only screen and (min-width: 650px) {
        width: 32%;
      }
      @media only screen and (min-width: 992px) {
        width: 33%;
      }
      @media only screen and (min-width: 1150px) {
        width: 23%;
      }
      .weekWiseDescription {
        padding: 5px;
        &::before, 
        &::after {
          content: '';
          position: absolute;
          background-color: rgba(0,0,0,0.25);
        }
        &::before {
          top: 100%;
          left: 0;
          width: 90%;
          height: 1px;
        }
        &::after {
          top: 15%;
          left: 95%;
          width: 1px;
          height: 76%;
          bottom: 5%;
        }
      }
      @media only screen and (max-width: 568px) {
        &:nth-child(2n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }
      @media only screen and (max-width: 1149px) {
        &:nth-child(3n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }
      
      @media only screen and (min-width: 1150px) {
        &:nth-child(4n) {
          .weekWiseDescription {
            &::after {
              width: 0;
            }
          }
        }
      }
      &:hover {
        .weekWiseDescription {
          background-color: #E3E3E3;
        // margin-right: 10px;
        }
      }

      h5, h6 {
        margin: 0;
        line-height: normal;
        font-size: 17px;
        margin-bottom: 5px;
      }
      h5 {
        color: #666666;
        font-weight: 400;
        span {
          display: inline-block;
          font-weight: 700;
          margin-left: 5px;
        }
        &.notStarted {
          color: #5C6873;
          opacity: 0.5;
        }
      }
      h6 {
        font-weight: 400;
        &.colorCompleted {
          color: #0C781B;
        }
        &.colorOnGoing {
          color: #E36900;
        }
        &.notStarted {
          color: #5C6873;
          opacity: 0.5;
        }
      }
    }
  }
}

.selfLearningSection,
.instructorLedSection, 
.collaborationSection {
  margin-bottom: 30px;
}
.selfLearningSection {
  h5 {
    span {
      color: #2A4DC1;
    }
  }
}
.instructorLedSection {
  h5 {
    span {
      color: #C7316B;
    }
  }
}
.collaborationSection {
  h5 {
    span {
      color: #8639C9;
    }
  }
}
.ScoreSection {
  width: 100%;
  @media only screen and (min-width: 650px) {
    width: 100%;
  }
  @media only screen and (min-width: 992px) {
    width: 29%;
  }
  @media only screen and (min-width: 1150px) {
    width: 24%;
  }
  h3 {
    font-size: 18px;
  }
}
.assessmentScoreCard {
  margin-top: 15px;
}
.wrapperReport {
  flex-wrap: wrap;
  @media only screen and (min-width: 568px) {
  }
}

.course-arrow-mark {
  text-align: right;
  margin: 0 15px 15px 0;
  width: 100%;
  cursor: pointer;
  i {
    display: inline-block;
    font-size: 7px;
    color: #333333;
    margin-left: 10px;
    vertical-align: middle;
  }
  .showMore {
    margin-top: -10px;
  }
  .showLess {
    margin-top: 15px;
  }
}

::ng-deep .ScoreSection .mat-progress-bar {
  height: 10px !important;
}

::ng-deep .ScoreSection .mat-progress-bar-fill::after {
  background-color: #00A37D !important;
}

::ng-deep .ScoreSection .mat-progress-bar-buffer {
  background-color: #BBBBBB !important;
}

.mt-20 {
  margin-top: 20px;
}

.popover-info {
  border: none;
  background: #F5F5F5;
  color: grey;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 1px 2px #00000029;
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover-info-final{
  border: none;
  background: #F5F5F5;
  color: grey;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  box-shadow: 2px 1px 2px #00000029;
}

.popover-info:hover {
  background: grey;
  color: white;
}

.ml-2 {
  margin-left: 2%;
}

::ng-deep .popover .arrow {
  top: 67px !important;
}

::ng-deep .finalScoreCard .popover .arrow {
  top: 170px !important;
}
.refresh {
  height: 30px;
  width: 100px;
  border: 1px solid red !important;
}