<div class="filtertemplate">
  <div class="filterheader d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center left">
      <em class="lxp-Filter"></em>
      <div>Filters</div>
    </div>
  <div class="d-flex align-items-center right">
    <div class="clear">
        <button mat-button (click)="clearAll()">Clear All</button>
    </div>
  </div>
</div>
      <div class="filter-content d-flex justify-content-between align-items-center">
          <div class="left-content">
              <div *ngFor="let filter of filterMenu" (click)="changeMenu(filter)" [ngClass]="filter.active ? 'filteractive': ''">{{filter.key}}</div>
          </div>
          <div class="right-content">
              <div>
                <ul>
                  <ng-container *ngIf ="activeMenu.key == 'Activities'">
                     <li *ngFor ="let item of activities">
                      <div class="d-flex justify-content-start align-items-center" (click)="activitiesFilter(item)"
                      [ngClass]="item.active ? 'filterChildactive': ''">
                   <em class="lxp-Right" *ngIf="item.active"></em>{{item.key}}
                    </div>
                  <hr>
                 </li>
                  </ng-container>

              <ng-container *ngIf ="activeMenu.key == 'Course'">
                <li *ngFor ="let course of courseDetailsList">
                  <div class="d-flex justify-content-start align-items-center" (click)="changecourseDetailsList(course)" [ngClass]="course.active ? 'filterChildactive': ''">
                    <em class="lxp-Right" *ngIf="course.active"></em>{{course.course_name}}
                  </div>
                 <hr>
                </li>
              </ng-container>
               </ul>
              </div>
          </div>
      </div>
        <div class="filterfooter d-flex"> 
          <button class="closeBtn" mat-button (click)="dialog.closeAll()">Close</button>
          <button class="applyBtn" mat-button (click)="applyFilter()">Apply</button>
        </div>
</div>
