<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
    <li *ngIf ="userid" class="breadcrumb-item"><a href="/Admin/auth/enrollment">Course Enrollment</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav>

<div class="container pb-5">
  <h1> Learner Management</h1>
  <div class="container margin20">
    <div class="row">
      <div class="col-9 bg-white">

 <mat-tab-group>
  <mat-tab label="User Profile">
    <br>
   
    <!-- <mat-dialog-actions> -->
      <!--Button code-->
    <!-- </mat-dialog-actions> -->
  </mat-tab>

  <mat-tab label="Activities">
    <br> <br>
    
 
 
  </mat-tab>

  <mat-tab label="Enrolled Courses">
    <br> <br>
    <mat-table #table [dataSource]="dataSource1">
      <ng-container matColumnDef="sno"> 
        <mat-header-cell *matHeaderCellDef>
         S.No
        </mat-header-cell>
        <mat-cell *matCellDef="let row;let i = index">
          <!-- <span class="mobile-label">S.No</span> -->
          <span class="desktop-data"> {{i+1}}</span>
          <!-- <span class="mobile-data"> {{i+1}}</span> -->
        </mat-cell>
      </ng-container>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef><i class="fa fa-sort" aria-hidden="true"></i>{{ column.header }}</mat-header-cell>
        <mat-cell (click)="datachange(row,column,enrolldialog)" *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row   *matRowDef="let row; columns: displayedColumns;let i = index"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" (page)="next($event)" showFirstLastButtons>
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
</div>

</div>
</div>
</div>