<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
    <li class="breadcrumb-item"><a href="/Admin/auth/enrollment">Course Enrollment</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav>

<div class="container pb-5">
  <h1> Learner Management</h1>
  <div class="container margin20">
    <div class="row">
      <div class="col-12 bg-white">

 <mat-tab-group>
  <mat-tab label="User Profile">
    <br>
   
    <mat-card>
      <form>
        <div class="row pt-3">
          <div class="col-lg-2  col-sm-1  ">
            <div class="form-group  m-0 " style="padding-left: inherit;">
              <img src="https://cdn.3dnames.net/previews/cd45/250x250/h/cd45harsha3dxx.jpg" alt="Avatar">
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-lg-2 col-md-3 col-sm-1">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">Full name:</label>
              <!-- <mat-form-field appearance="outline" class="custom-branch-select-outline col-sm-6"> -->
                {{profiledetail?.full_name}}
              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">User Name:</label>
              <!-- <mat-form-field appearance="outline" class="custom-branch-select-outline col-sm-6"> -->
               {{profiledetail?.user_dtl?.username}}
              <!-- </mat-form-field> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">DOJ LXP:</label>
              <!-- <mat-form-field color="accent" appearance="outline" class="custom-branch-select-outline col-sm-6"> -->
                {{profiledetail?.user_dtl?.created_on | date: 'dd MMM, yyyy'  }}
              <!-- </mat-form-field> -->
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-lg-2 col-md-3 col-sm-1">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12  ">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">Gender:</label>  {{profiledetail?.user_profile[0].gender}} 
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">I am a :</label>
              {{profiledetail?.user_profile[0]?.full_name}}
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-12 languages">
            <div class="form-group  m-0">
              <label class="col-sm-8 common-label1 languages">Languages Known</label> {{profiledetail?.language_detail[0]?.languagename}}
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-lg-2 col-md-3 col-sm-1">
            <div class="form-group  m-0">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">Qualification</label>                 {{profiledetail?.qualification}}

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="form-group  m-0">
              <label class="col-sm-5 common-label1">Location</label> {{profiledetail?.country_detail[0]?.countryname}}
              {{profiledetail?.state_detail[0]?.countryname}} {{profiledetail?.district_detail[0]?.countryname}}
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  
  </mat-tab>

  <mat-tab label="Activities">
    <br> <br>
    
    <mat-tab label="Enrolled Courses">
      <br> <br>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="sno"> 
          <mat-header-cell *matHeaderCellDef>
           S.No
          </mat-header-cell>
          <mat-cell *matCellDef="let row;let i = index">
            <!-- <span class="mobile-label">S.No</span> -->
            <span class="desktop-data"> {{i+1}}</span>
            <!-- <span class="mobile-data"> {{i+1}}</span> -->
          </mat-cell>
        </ng-container>
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <mat-header-cell *matHeaderCellDef><i class="fa fa-sort" aria-hidden="true"></i>{{ column.header }}</mat-header-cell>
          <mat-cell (click)="datachange(row,column,enrolldialog)" *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row   *matRowDef="let row; columns: displayedColumns;let i = index"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" (page)="next($event)" showFirstLastButtons>
      </mat-paginator>
    </mat-tab>
 
  </mat-tab>

  <mat-tab label="Enrolled Courses">
    <br> <br>
    <mat-table #table [dataSource]="dataSource1">
      <ng-container matColumnDef="sno"> 
        <mat-header-cell *matHeaderCellDef>
         S.No
        </mat-header-cell>
        <mat-cell *matCellDef="let row;let i = index">
          <!-- <span class="mobile-label">S.No</span> -->
          <span class="desktop-data"> {{i+1}}</span>
          <!-- <span class="mobile-data"> {{i+1}}</span> -->
        </mat-cell>
      </ng-container>
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef><i class="fa fa-sort" aria-hidden="true"></i>{{ column.header }}</mat-header-cell>
        <mat-cell (click)="datachange(row,column,enrolldialog)" *matCellDef="let row">{{ column.cell(row) }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
      <mat-row   *matRowDef="let row; columns: displayedColumns1;let i = index"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" (page)="next($event)" showFirstLastButtons>
    </mat-paginator>
  </mat-tab>
</mat-tab-group>
</div>

</div>
</div>
</div>