<app-header></app-header>

    <h1>Available course</h1>
    <ul id="contentList"></ul>
    <span  *ngFor="let item of  ">
      <li ><a href="/scormPlayer.html?contentID={{item}}">{{item}}</a></li>
    </span>

<h1>syllabus</h1>
    <div class="right" id="contentNav" *ngFor="let navtree of productsData">
      {{navtree.title}}rajesh
      <div *ngFor="let child of navtree.children" >
        <li class="subNav"><a class="navLink" href="http://192.168.0.103:8080{{child.link}}" >{{child.title}}</a></li>
      </div>
      
    </div>
    <div class="left">
        <iframe id="content" ></iframe>
    </div>
