@import "../../../../assets/variable.scss";

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.coursebreadcrumb{
    padding-top: 60px;
    ol{
        margin-bottom: 0 !important;
        background-color: #fff !important;
    }
}