<app-header></app-header>
<mat-tab-group style="margin-top: 5%;">
  <mat-tab label="My Courses" > 
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="smallbox">
          <h2>Courses yet to start</h2>
          <div class="row">
            <div class="col-10">
              <span class="count">26</span>
            </div>
            <div class="col-2">
              <img class="icon" src="../../../../assets/learner/CoursesYettoStart.svg">
            </div>
          </div><br>
    
          <div class="row">
            <div class="col-8">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4</span>
            </div>
            <div class="col-4">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-12">
        <div class="smallbox">
          <h2>Courses in-progress</h2>
          <div class="row">
            <div class="col-10">
              <span class="count">26</span>
            </div>
            <div class="col-2">
              <img class="icon" src="../../../../assets/learner/CoursesInprogress.svg">
            </div>
          </div><br>
    
          <div class="row">
            <div class="col-8">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4</span>
            </div>
            <div class="col-4">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 3%;"></div>
    <h3>My Enrolled Courses</h3>
    <div class ="vertical"></div> 
    <div style="margin-bottom: 10%;"></div>
  </mat-tab>

  <mat-tab label="Explore" > 
    <div  class="row section_1" [style.background]="'url(../../../../assets/learner/Learnerhomebanner.jpg)'" >
      <div class="col-md-8 section_1_a">
        <h1 class="welcom">Welcome to </h1>
        <h1 class="lxp">LXP Platform </h1>

        <p class="msg">Customize your Experience by adding</p>
        <h1 class="submsg">your favourite courses</h1>
        <div style="text-align: center;">
        <button class="whitebgBtn">Add Courses</button>
      </div>
     </div>
    </div>

    <div style="margin-top: 3%;"></div>
    <div class="row">
      <div class="col-9">
        <h3>All Courses   <span class="tot">(Total 2500 results )</span></h3>
        <div class ="vertical"></div> 
      </div>
      <div class="col-3">
        <button class="filterbtn"> <i class="fa fa-filter colrr"></i>
          Filter
        </button>

        <select  class="category" (change)="onChange($event.target.value)">
          <option>Popular Courses</option>
          </select>
      </div>
    </div>
   

  </mat-tab>
</mat-tab-group>