<app-header></app-header>

<div class="wrap-body">
    <button mat-raised-button class="my_course_btn" (click)="myCourses()">My courses</button>

    <mat-card style="text-align: center;">
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum
    </mat-card>
    <br><br>
    <!-- <mat-grid-list cols="2" rowHeight="10vh">
        <mat-grid-tile class = "top_course">Top Courses</mat-grid-tile    >
        <mat-grid-tile class="key_down"> 
            <img src= "../../../../assets/learner/key_down.svg">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card style="text-align: center;">
        <app-top-courses></app-top-courses>
    </mat-card> -->
    <app-top-courses></app-top-courses>
    <br><br>
    <!-- <mat-grid-list cols="2" rowHeight="10vh">
        <mat-grid-tile class = "top_course">Recommended Courses</mat-grid-tile    >
        <mat-grid-tile class="key_down"> 
            <img src= "../../../../assets/learner/key_down.svg">
        </mat-grid-tile>
    </mat-grid-list>
    <mat-card style="text-align: center;">
        <app-recomended-courses></app-recomended-courses>
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        ipsum
    </mat-card> -->
    <app-recomended-courses></app-recomended-courses>
</div>