@import "variable";

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallbox{
    margin-left: 12%;
    margin-top: 3%;
    width: 72%;
    height: 180px;
    color: $color-darkGrey ;
    border-radius: 10px;
    background-color: $color-white;
    -webkit-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
}
h2{
    padding-left: 20px;
    padding-top: 18px;
    font-size: 22px;
    padding-bottom: 5px;
}
.count{
    margin-left: 18px;
    font-size: 50px;
    font-weight: 500;
}
.icon{
    margin-top: -24px;
    width: 80px;
    margin-left: -58px;
}
.text{
    color:$color-border;
    font-size: 18px;
    margin-left: -20px;
}

.text2{
  font-size: 18px;
  color:$color-border;
  margin-left: -44px;
}

.trendicon{
    margin-left: 6%;
}
.trendno{
    margin-left: 3px;
    color: $trend;
}
.trendnodown{
  color: $color-red;
}
h3{
    color: $color-blue;
    margin-left: 3%;
    font-size: 22px;
    font-weight: 500;
}

.vertical { 
    border-left: 44px solid $color-blue;
    max-width: 100%;
    height: 5px;
    position: absolute;
    left: 41px;
    margin-top: -5px;
    border-radius: 17px
  } 

  .section_1 {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    padding: 0px;
    position: relative;
    margin-top: 20px;
    height: 500px;
    overflow: hidden;
    background-blend-mode: color;
}

:host::ng-deep .mat-tab-group {
    display: block !important;
   flex-direction: column;
   overflow: hidden  !important
}

:host::ng-deep .mat-tab-body-content {
   overflow: hidden !important;
   height: 100% !important;
}


.welcom{
    font-size: 38px;
    color: $color-white;
    padding-left: 8%;
    font-weight: lighter !important;
    padding-top: 6%;
}
.lxp{
    color: $color-white;
    padding-left: 8%;
    padding-top: 40px;
    font-weight: lighter !important;
    font-size: 60px;
    letter-spacing: 1px;
}
.msg{
    margin-left: 9%;
    margin-top: 9%;
    font-size: 28px;
    color: $color-white;
    font-weight: lighter !important;
}
.submsg{
    text-align: center;
    font-size: 28px;
    color: $color-white;
    margin-top: 2%;
    margin-left: -12% !important;
    font-weight: lighter !important;
}

.whitebgBtn{
    margin-top: 23px;
    width: 16%;
    height: 46px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background: $color-white;
    font-weight: 500;
    color: $color-blue;
}

.whitebgBtn .filterbtn .category:focus {
    outline: none;
    box-shadow: none;
  }
  .tot{
    color: $color-blank;
    font-weight: 400;
    margin-left: 2%;
    font-size: 18px;
  }

  .filterbtn{
    width: 30%;
    height: 35px;
    background-color: $color-white;
    border: 1px solid $color-border;
  }
  .category{
    margin-left: 15px;
    height: 35px;
    width: 50%;
    border: 1px solid $color-border;
  }
  .colrr{
    padding-right: 8px;
  }
  .col-9 {
    flex: 0 0 73%;
    max-width: 73%;
    margin-top: 7%;
  }
  .containerShadow {
    padding: 20px;
    -webkit-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    margin-top: 20px;
  }

  .submit {
    width: 45%;
    border: none !important;
    background-color: $color-white;
    color: $color-blue;
    text-align: left;
    box-shadow: 0px 7px 5px 2px #0b0b0b17;
    height: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 59.5%;
    margin-top: -3%;
  }
  
  .submit:focus {
    outline: none;
    box-shadow: none;
    background-color: $color-blue ;
    color: $color-white;
  }
//   .col-3 {
//     flex: 0 0 25%;
//     max-width: 83%;
// }
  
    

  /* The Modal*/
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  text-align: left !important;
}

.modal-body {padding: 2px 16px;}

