@import "../../../../assets/variable.scss";

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.coursebreadcrumb {
    padding-top: 60px;

    ol {
        margin-bottom: 0 !important;
        background-color: #fff !important;
    }
}
// Ankit
.title {
    text-align: center;
    margin-top: 9px;
    font-size: 22px;
    color: $color-blue;
}

.backimage {
    height: 88px;
}

.small-box {
    // border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
    width: 264px;
    height: 95px;
    margin-top: 0%;
    position: relative;
}

.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: -20px;
    margin-top: -20px;
    transition: all .3s linear;
}

.svgimg {
    width: 42px;
    margin-left: 10px;
    margin-top: 10px;
}

.profileimg {
    margin-left: 95px;
    width: 65px;
    height: 65px;
    margin-top: -50px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: #ec8185;
    cursor: pointer;

}

.ion {
    display: inline-block;
}

.col-lg-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.small-box>.inner {
    padding: 10px;
}

//Removed by Mythreyi - used reusable classes
.head {
    // text-align: center;
    // font-size: 30px;
    // color: $color-blue;
    // font-weight: 500;
    // padding: 10px;
}

.bg-red {
    background-color: #ec8185 !important;
    color: #fff;
}

.bg-yellow {
    background-color: #fad553 !important;
    color: #fff;
}

.bg-green {
    background-color: #00d2b9 !important;
    color: #fff;
}

.bg-blue {
    background-color: #00afd4 !important;
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 78%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// End of Ankit




//Mythreyi
::ng-deep .banner .owl-theme .owl-nav [class*='owl-'] {
    color: wheat;
    font-size: 40px !important;
    background: rgb(46, 46, 46);
    display: inline-block;
    cursor: pointer !important;
    padding: 15px !important;
    border-radius: 50px !important;
    z-index: -1 !important;
    opacity: 0.7;
}

::ng-deep .banner .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 300px;
    z-index: 1 !important;
    left: 30px;
}

::ng-deep .banner .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 300px;
    z-index: 1 !important;
    right: 30px;
}

::ng-deep .banner .owl-theme .owl-dots {
    position: absolute;
    top: 600px;
    left: 48%;
}

::ng-deep .owl-theme .owl-dots .owl-dot.active span {
    background-color: black !important;
}

::ng-deep .owl-theme .owl-dots .owl-dot span {
    background-color: rgb(110, 109, 109) !important;
}

::ng-deep .partner .owl-carousel .owl-item img {
    width: 80%;
}

::ng-deep .partner .owl-carousel .owl-stage-outer {
    width: 90%;
    margin-left: 5%;
}

::ng-deep .partner .owl-carousel.owl-drag .owl-item {
    text-align: -webkit-center;
    width: 170.6px
}

::ng-deep .partner .owl-theme .owl-nav [class*='owl-'] {
    color: wheat;
    font-size: 30px !important;
    background: rgb(46, 46, 46);
    display: inline-block;
    cursor: pointer !important;
    padding: 10px !important;
    border-radius: 50px !important;
    width: 40px;
    z-index: -1 !important;
    opacity: 0.7;
}

::ng-deep .partner .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 20px;
    z-index: 1 !important;
    left: 30px;
}

::ng-deep .partner .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 20px;
    z-index: 1 !important;
    right: 30px;
}

// end of Mythreyi