<app-header></app-header>
<mat-tab-group style="margin-top: 5%;">


  <mat-tab label="Explore">
    <!-- <div  class="row section_1" [style.background]="'url(../../../../assets/learner/Learnerhomebanner.jpg)'" >
      <div class="col-md-8 section_1_a">
        <h1 class="welcom">Welcome to </h1>
        <h1 class="lxp">LXP Platform </h1>

        <p class="msg">Customize your Experience by adding</p>
        <h1 class="submsg">your favourite courses</h1>
        <div style="text-align: center;">
        <button class="whitebgBtn">Add Courses</button>
      </div>
     </div>
    </div> -->

    <div style="margin-top: 3%;"></div>
    <div class="row">
      <div class="col-6">
        <h3>All courses <span class="tot">(Total {{total_count}} results)</span></h3>
        <div class="vertical"></div>
      </div>

      <div class="col-3">
        <button class="submit" (click)="viewCategory(element)"> Category
          <i class="fa fa-chevron-down colr"></i>
        </button>
      </div>
      <div class="col-3">
        <button class="filterbtn" (click)="showAppliedFiltre = !showAppliedFiltre;"> 
          <i class="fa fa-filter colrr"></i>
          Filter
        </button>
        <select class="category" (change)="onChange($event.target.value)">
          <option value="allcourses">All courses</option>
          <option value="popularCourse">Popular courses</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-3" *ngIf="!showAppliedFiltre">
        <div class="row">
          <div class="col-12">
            <app-guideline-search [Lvl1CatId]="Lvl1CatId" [Lvl2CatId]="Lvl2CatId" [Lvl3CatId]="Lvl3CatId"
            [level1selectedID]="level1selectedID" [level2selectedID]="level2selectedID" [level3selectedID]="level3selectedID" 
            [allLvlCategoryFilterVal]="allLvlCategoryFilterVal" [allLvlCategory]="allLvlCategory"
            [viewallcourse]= "true">
            </app-guideline-search>
          </div>
        </div>
      </div>
     
      <div class="col-9" *ngIf="!showAppliedFiltre">
        <div class="container containerShadow">
          <div class="row">
            <ng-container
              *ngFor="let c of allcourses  | paginate: {  totalItems: courseCount, itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                  [showWishlist]="true" [showStatus]="false" [showCount]="true" [showRating]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="showAppliedFiltre">
        <div class="container containerShadow">
          <div class="row">
            <ng-container
              *ngFor="let c of allcourses  | paginate: { totalItems: courseCount,itemsPerPage: 16, currentPage: paginationpgno } ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="c" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                  [showWishlist]="true" [showStatus]="false" [showCount]="true" [showRating]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-left: 36%;margin-right: 36%;">
      <pagination-controls class="my-pagination" (pageChange)="onpagination($event)">
      </pagination-controls>
    </div>
  </mat-tab>

  <mat-tab label="My Courses">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12">
        <div class="smallbox">
          <h2>Courses yet to start</h2>
          <div class="row">
            <div class="col-10">
              <span class="count">{{yetToStart?.totalCount}}</span>
            </div>
            <div class="col-2">
              <img class="icon" src="../../../../assets/learner/CoursesYettoStart.svg">
            </div>
          </div><br>

          <!-- <div class="row">
            <div class="col-8" *ngIf="yetToStart?.IncDecPec != false">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">{{yetToStart?.valueIncDecPec}}%</span>
            </div>
            <div class="col-8"  *ngIf="yetToStart?.IncDecPec == false">
              <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
              <span class="trendnodown">{{yetToStart?.valueIncDecPec}}%</span>
            </div>
            <div class="col-4"  *ngIf="yetToStart?.IncDecPec != false">
              <span class="text">Up from yesterday</span>
            </div>
            <div class="col-4 " *ngIf="yetToStart?.IncDecPec == false">
              <span class="text2">Down from yesterday</span>
            </div>
          </div> -->
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-12">
        <div class="smallbox">
          <h2>Courses in-progress</h2>
          <div class="row">
            <div class="col-10">
              <span class="count">{{incomplete?.totalCount}}</span>
            </div>
            <div class="col-2">
              <img class="icon" src="../../../../assets/learner/CoursesInprogress.svg">
            </div>
          </div><br>
          <!-- <div class="row">
            <div class="col-8" *ngIf="incomplete?.IncDecPec != false">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">{{incomplete?.valueIncDecPec}}%</span>
            </div>
            <div class="col-8"  *ngIf="incomplete?.IncDecPec == false">
              <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
              <span class="trendnodown">{{incomplete?.valueIncDecPec}}%</span>
            </div>
            <div class="col-4"  *ngIf="incomplete?.IncDecPec != false">
              <span class="text">Up from yesterday</span>
            </div>
            <div class="col-4 " *ngIf="incomplete?.IncDecPec == false">
              <span class="text2">Down from yesterday</span>
            </div>
          </div> -->
 
        </div>
      </div>
    </div>
    <div class="spinner-container" *ngIf="loadingCatalogue">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <!-- ---------------------My Enrolled courses section start------------------------- -->
    <div style="margin-top: 3%;"></div>
    <h3>My enrolled courses</h3>
    <div class="vertical"></div>
    <div class="row">
      <div class="col-12">
        <div class="container containerShadow">
          <div class="row">
            <ng-container *ngFor="let eCourse of enrolledCourses ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="eCourse" [canNavigate]="true" [showWishlist]="false" [showStatus]="true"
                  [showRating]="false" [showCount]="false" [showEnroll]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
            <div class="col-md-12" style="text-align: center;">
              <h2 *ngIf="enrolledCourses && enrolledCourses.length == 0">
                No courses yet
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------My Enrolled courses section end------------------------- -->
    <!-- ---------------------Wishlist section start------------------------- -->
    <div style="margin-top: 3%;"></div>
    <h3>Wishlist</h3>
    <div class="vertical"></div>
    <div class="row">
      <div class="col-12">
        <div class="container containerShadow">
          <div class="row">
            <ng-container *ngFor="let wList of wishList ;let j=index">
              <div class="col-md-6 col-lg-3 col-sm-12">
                <app-course-component [course]="wList" [canNavigate]="true" [showEnroll]="true" [showCartBtn]="false"
                  [showWishlist]="true" [showStatus]="false" [showCount]="true" [showRating]="true">
                </app-course-component> <br>
              </div>
            </ng-container>
            <div class="col-md-12" style="text-align: center;">
              <h2 *ngIf="wishList && wishList.length == 0">
                No courses yet
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------Wishlist section end------------------------- -->
    <div style="margin-bottom: 10%;"></div>
  </mat-tab>
</mat-tab-group>

<!-- <button id="myBtn" (click)="open()">Open Modal</button> -->
<!-- The Modal -->
<!-- <div id="myModal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span>Modal Header</span>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
  </div>
  </div> -->
