<div class="courses">
    <div class="card">
        <figure class="leftColImage">
            <img src="../../../../assets/images/free.jpg" alt="Avatar" style="width:100%">
            <button class="d-flex align-items-center"><em class="lxp-Play_Icon"></em>
                Start
            </button>
            <div class="progStatus">
                <div class="d-flex justify-content-between progression">
                    <span>Progression</span>
                    <span> %</span>
                </div>
                <mat-progress-bar style="height: 4px;" [mode]="mode" [value]="course.course_percentage"
                    [bufferValue]="bufferValue"></mat-progress-bar>
            </div>
        </figure>
        <div class="container">
            <h4><b>Micro Learner Courses</b></h4>
            <p>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.
                Learn programming, marketing, data science and more.</p>
            <div class="icons">
                <div class="duration">
                    <span>
                        <p> Duration</p>
                        <em class="lxp-Duration"></em>
                    </span>
                </div>
                <div class="learnicon">
                    <span><em class="lxp-Analytics"></em></span>
                    <p>Learning Progression</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <figure class="leftColImage">
            <img src="../../../../assets/images/free.jpg" alt="Avatar" style="width:100%">
            <button class="d-flex align-items-center"><em class="lxp-Play_Icon"></em>
                Start
            </button>
            <div class="progStatus">
                <div class="d-flex justify-content-between progression">
                    <span>Progression</span>
                    <span> %</span>
                </div>
                <mat-progress-bar style="height: 4px;" [mode]="mode" [value]="course.course_percentage"
                    [bufferValue]="bufferValue"></mat-progress-bar>
            </div>
        </figure>
        <div class="container">
            <h4><b>Micro Learner Courses</b></h4>
            <p>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.
                Learn programming, marketing, data science and more.</p>
            <div class="icons">
                <div class="duration">
                    <span>
                        <p> Duration</p>
                        <em class="lxp-Duration"></em>
                    </span>
                </div>
                <div class="learnicon">
                    <span><em class="lxp-Analytics"></em></span>
                    <p>Learning Progression</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <figure class="leftColImage">
            <img src="../../../../assets/images/free.jpg" alt="Avatar" style="width:100%">
            <button class="d-flex align-items-center"><em class="lxp-Play_Icon"></em>
                Start
            </button>
            <div class="progStatus">
                <div class="d-flex justify-content-between progression">
                    <span>Progression</span>
                    <span> %</span>
                </div>
                <mat-progress-bar style="height: 4px;" [mode]="mode" [value]="course.course_percentage"
                    [bufferValue]="bufferValue"></mat-progress-bar>
            </div>
        </figure>
        <div class="container">
            <h4><b>Micro Learner Courses</b></h4>
            <p>Udemy is an online learning and teaching marketplace with over 185000 courses and 49 million students.
                Learn programming, marketing, data science and more.</p>
            <div class="icons">
                <div class="duration">
                    <span>
                        <p> Duration</p>
                        <em class="lxp-Duration"></em>
                    </span>
                </div>
                <div class="learnicon">
                    <span><em class="lxp-Analytics"></em></span>
                    <p>Learning Progression</p>
                </div>
            </div>
        </div>
    </div>
</div>