
<div><app-wca></app-wca></div>

<nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Wca">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">Create Courses</li>
    </ol>
</nav>


  

<div class="container wrap-body">
    <div class="row">
      
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                   
                        <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                            Create a Course
                        </mat-panel-title>
                        <mat-card style="text-align: center;">
                            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="1.70:2">
                               

                                <div class="form-group">
                            
                                  <div class="row">
                                    <div class="col-md-9">

                                      <div class="wrapper_1">
                                 
                                       
                                        <div class="row">
                                          <div class="col-md-3"><span style="font-weight: bold;">Course Details</span></div>
                                          <div class="col-md-9"  style="visibility:collapse;">  <mat-checkbox   [formControl]="mode">Self placed</mat-checkbox></div>
                                          </div>
                                    
                                    <div class="row">
                                    <div class="col-md-3">Course Name<span style="color: red;">*</span></div>
                                    <div class="col-md-9"><input type="text"  placeholder="Enter the course name"  
                                    required /> </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-md-3">Course Description</div>
                                      <div class="col-md-9"><textarea class="inputs" style="resize: none;"  
                                        placeholder="Enter the course description ( 1000 Characters)" maxlength="1000" 
                                        name="info"></textarea></div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-3">Pre-Requisite</div>
                                        <div class="col-md-9"><textarea class="inputs" style="resize: none;"  
                                          placeholder="Enter the course description ( 1000 Characters)" maxlength="1000" 
                                          name="info"></textarea></div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-3">Mode</div>
                                          <div class="col-md-9" >  <mat-checkbox  [formControl]="mode">Self placed</mat-checkbox></div>
                                          </div>

                                      

                                        <div class="row">
                                          <div class="col-md-3">Preview Video</div>
                                          <div class="col-md-9"><input type="text"  placeholder="URL"  
                                          required /> </div>
                                          </div>
                                   
                                      </div>
                                    </div>

                                    <div class="col-md-3"> <input style="display: none;" id="fileInput" type='file' #fileInput
                                      (change)="onSelectFile($event)">  <img class="img1"  (click)="fileInput.click()" src="../../../../assets/images/image_upload.svg"></div>

                                  </div>


 <div class="wrapper_2">
<div class="row">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-3"><span style="font-weight: bold;">Instructor Details</span></div>
      <div class="col-md-9"  style="visibility:collapse;">  <mat-checkbox   [formControl]="mode">Self placed</mat-checkbox></div>
      </div>



      <div class="row">
        <div class="col-md-3">Instructor Name</div>
        <div class="col-md-9"> 
        
          <div class="row" *ngFor="let word1 of words1; let in=index">
            <div class="col-sm-10">


              <div class="col-md-12" > <mat-select [disabled]='showdeletedicon' multiple class="inputs2" placeholder="Select the instructor"
                  name="language">
                 <mat-option *ngFor="let item of languageList" [value]="item._id">
                   {{item.languagename}}
                 </mat-option>
               </mat-select>
             </div>

             <div class="row">

              <div class="col-md-4"> <input style="display: none;" id="fileInput" type='file' #fileInput
                (change)="onSelectFile($event)"><img class="img2"for="fileInput"  src="../../../../assets/images/image_upload.svg"></div>
            

             <div class="col-md-8"> <textarea class="inputs3" style="resize: none;"  
              placeholder="Description" maxlength="1000" 
              name="info"></textarea></div>

              

              
             </div>
         
            </div>
            <div class="col-sm-2 plusicon">

              <mat-icon  (click)="add(in)"
                >add_circle_outline</mat-icon>
              <mat-icon (click)="removenewLink(in)" >delete</mat-icon>
              <!-- <mat-icon (click)="test()">delete</mat-icon> -->
            </div>
          </div>
        
        
        </div>
        </div></div>


      </div>
    </div>



    <div class="wrapper_3">
      <div class="row">
      
        <div class="col-md-12">
      
          <div class="row">
            <div class="col-md-3"><span style="font-weight: bold;">Certification</span></div>
            <div class="col-md-9"  style="visibility:collapse;">  <mat-checkbox   [formControl]="mode">Self placed</mat-checkbox></div>
            </div>
      
      
      
            <div class="row">
              <div class="col-md-3">Certificate</div>
              <div class="col-md-9"> 
              
              
                    <div class="col-md-9" > <mat-select [disabled]='showdeletedicon' multiple class="inputs2" placeholder="No Certificate"
                        name="language">
                       <mat-option *ngFor="let item of languageList" [value]="item._id">
                         {{item.languagename}}
                       </mat-option>
                     </mat-select>
                   </div>
      
                       </div>
          </div>
          </div>
          </div>
    </div>



    
 <div class="wrapper_4">
  <div class="row">
  
    <div class="col-md-12">
  
      <div class="row">
        <div class="col-md-3"><span style="font-weight: bold;">Course Partners</span></div>
        <div class="col-md-9"  style="visibility:collapse;">  <mat-checkbox   [formControl]="mode">Self placed</mat-checkbox></div>
        </div>
  
  
  
        <div class="row">
          <div class="col-md-3">Institute Name</div>
          <div class="col-md-9"> 
          
            <div class="row" *ngFor="let word1 of words1; let in=index">
              <div class="col-sm-10">
  
  
               <div class="row">
  
               <div class="col-md-8"> <mat-select [disabled]='showdeletedicon' multiple class="inputs4" placeholder="Select the institute"
                name="language">
               <mat-option *ngFor="let item of languageList" [value]="item._id">
                 {{item.languagename}}
               </mat-option>
             </mat-select></div>

             <div class="col-md-4"> <input style="display: none;" id="fileInput" type='file' #fileInput
              (change)="onSelectFile($event)"><img class="img3"for="fileInput" (click)="fileInput.click()" src="../../../../assets/images/image_upload.svg"></div>
          
  
                
  
                
               </div>
           
              </div>
              <div class="col-sm-2 plusicon">
  
                <mat-icon  (click)="add(in)"
                  >add_circle_outline</mat-icon>
                <mat-icon (click)="removenewLink(in)" >delete</mat-icon>
                <!-- <mat-icon (click)="test()">delete</mat-icon> -->
              </div>
            </div>
          
          
          </div>
          </div></div>
  
  
        </div>
      </div>




      <div class="wrapper_2">
        <div class="row">
        
          <div class="col-md-9">
        
            <div class="row">
              <div class="col-md-3"><span style="font-weight: bold;">learers Takeaway</span></div>
              <div class="col-md-9"  style="visibility:collapse;">  <mat-checkbox   [formControl]="mode">Self placed</mat-checkbox></div>
              </div>

              <div class="row">
                <div class="col-md-3">learers Takeaway</div>
                <div class="col-md-9"><input type="text"  placeholder="Enter the course name"  
                  required />  </div>
                </div>

                <div class="row">
                  <div class="col-md-3">learers Takeaway</div>
                  <div class="col-md-9">  
                    
                    <div class="row">

                      <div class="col-md-2">
                        <input style="display: none;" id="fileInput" type='file' #fileInput
              (change)="onSelectFile($event)"><img class="img5"for="fileInput" (click)="fileInput.click()" src="../../../../assets/images/image_upload.svg">
                      </div>
                    
                      <div class="col-md-10">
                    <mat-icon  (click)="add(in)"
                    >add_circle_outline</mat-icon>
                  <mat-icon (click)="removenewLink(in)" >delete</mat-icon>
                </div>
                </div>
                
                </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">learers Takeaway</div>
                    <div class="col-md-9" ><textarea class="inputs" style="resize: none;"  
                      placeholder="Enter the course description ( 1000 Characters)" maxlength="1000" 
                      name="info"></textarea> </div>
                    </div>
        
        
        
           
              </div>
            </div>
      </div>


          <div>  <button class="backgroundcol2" routerLink="/Wca/viewmodule" >Save & Continue</button></div> 


       

      
       </div>

                            </mat-grid-list>
                        </mat-card>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>



<div><app-footer></app-footer></div>