<div class="container selfContainer">
  <div class="row ml-0 mr-0 mt-3 mb-3">
    <div class="col-12">
      <mat-icon class="arrowPopup mr-2" aria-hidden="false">
        keyboard_arrow_left</mat-icon>
      <span class="f_wt_600 size catnamenew">Back</span>
      <p>Emerging Technologies : loT, 3D, Printing, Robotics > Self-learning activity details</p>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-4">
      <mat-card>
        <div class="row ml-0 mr-0">
          <div class="col-4 pr-0"></div>
          <div class="col-8">
            <circle-progress [percent]="70" [radius]="20" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [space]="-2"
                          [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#53a9ff'"
                          [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="7"
                          [unitsFontSize]="7" [showSubtitle]="false" [animation]="true" [animationDuration]="100"
                          [startFromZero]="false" [responsive]="true">
                        </circle-progress>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card></mat-card>
    </div>
    <div class="col-4">
      <mat-card></mat-card>
    </div>
  </div>
  <div class="row ml-0 mr-0">
    <div class="col-12">
      <mat-card></mat-card>
    </div>
  </div>
</div>