<!-- start of nav-bar section  -->
<!-- <app-header></app-header> -->
<app-landing-header></app-landing-header>
<!-- end of nav-bar section  -->

<!-- start of card area -->
<div id="myDIV" stickyHeaderDirective style="overflow: auto; max-height: 100%;"
  (scrollValues)="getScrollValues($event)">
  <div class="container" #formCard>
    <div class="row section_1" [style.background]="'url(assets/learner/lapBG.jpeg)'">
      <div class="col-lg-9 col-md-8 col-sm-12 col-12 section_1_a">
        <br> <br>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-2"></div>
          <div class="col-lg-6 col-md-8 col-sm-10 col-10">
            <h2 class="f_size_40 landing-text m-b-10 ">Welcome to Your <br> Professional Community.</h2>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-2"></div>
          <div class="col-lg-6 col-md-8 col-sm-10 col-10">
            <h4 class="color_1 f_size_18 m-b-10">This is the new way to Learn Online</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-2"></div>
          <div class="col-lg-6 col-md-8 col-sm-10 col-10">
            <div class="input-group mb-3">
              <input type="text" class=" search-bar form-control" placeholder="course,title,author,institution"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">search</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-2"></div>
          <div class="col-lg-6 col-md-8 col-sm-10 col-10 float_left">
            <button class="explore-btn width_25 ">Explore more</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
        <mat-card class="section_1_card_1 background_trans" [ngClass]="{ 'noneC' : scrollAchieved}">
          <mat-card-content>
            <form [formGroup]="detailsForm">
              <h2 style="text-align: center;"> Need Guidance </h2> <br>
              <mat-card-content>
                <div class="form-group">
                  <input type="text" name="username" formControlName="username" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" name="email" formControlName="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" name="course" formControlName="course" placeholder="Course" class="form-control">
                </div>
                <br>
                <button id="req" mat-raised-button class="center" [disabled]="detailsForm.invalid"
                  (click)="postReq()">Request to get back</button>
              </mat-card-content>
            </form>
            <br>
          </mat-card-content>
        </mat-card>
        <!-- <div [ngClass]="{ 'dispC op' : scrollAchieved && (scrollAchievedValue < 300), 
        'dispC op1' : scrollAchieved && (scrollAchievedValue > 300)}"> -->
        <div [ngClass]="{ 'dispC' : scrollAchieved }">
          <img src="assets/landingpageicons/Need Guidance_1.svg" (click)="gotoTop()">
          <img src="assets/landingpageicons/Need Guidance_2.svg" (click)="gotoTop()">
          <img src="assets/landingpageicons/Need Guidance_3.svg" (click)="gotoTop()">
        </div>
      </div>
    </div>
  </div>

  <!-- End of card area -->
  <br>
  <!-- start of Personalized Learning -->
  <div class="row m-l-20 m-r-20">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 f_wt_500 f_size_23 float_left p-l-15 color_black">
      <p>Personalized Learning</p>
    </div>
  </div>
  <br>
  <div class="row m-l-20 m-r-20">
    <div class="col-lg-2 col-md-2 col-sm-12 col-12"></div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6 width_80 center_align">
      <div class="row center">
        <img src="assets/landingpageicons/Vocational Courses.svg" width="60px" height="60px" />
      </div>
      <div class="row center p-5px m-t-10">
        <span class="f_wt_500 f_init">Vocational Course</span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6 width_80 center_align">
      <div class="row center">
        <img src="assets/landingpageicons/E-Learner.svg" width="60px" height="60px" />
      </div>
      <div class="row center p-5px m-t-10">
        <span class="f_wt_500 f_init">E-Learner</span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6 width_80 center_align">
      <div class="row center">
        <img src="assets/landingpageicons/College & University.svg" width="60px" height="60px" />
      </div>
      <div class="row center p-5px m-t-10">
        <span class="f_wt_500 f_init">College & University</span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-6 width_80 center_align">
      <div class="row center">
        <img src="assets/landingpageicons/Government.svg" width="60px" height="60px" />
      </div>
      <div class="row center p-5px m-t-10">
        <span class="f_wt_500 f_init">Government</span>
      </div>
    </div>
  </div>
  <br> <br> <br>
  <!-- End of Personalized Learning -->

  <!-- start of Popular courses -->
  <div class="row m-l-20 m-r-20">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 f_wt_500 f_size_23 float_left p-l-15 color_blue">
      <p>Popular Courses</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 float_right ">
      <button mat-flat-button class="blue-border color_blue"
        style="right: 10px; width: 17%;   height: 45px; font-size: initial;pointer-events: none;">
        All | 25
      </button>
    </div>
  </div>
  <br> <br>
  <div class="width_90 m-l-5">
    <owl-carousel-o [options]="customOptions" [ngClass]="courses.length <= 4 ? 'widthClass arrow' : 'arrow'">
      <ng-template carouselSlide *ngFor="let course of courses">
        <app-course-component [course]="course" [canNavigate]="false" [showCartBtn]="true" [showWishlist]="false"
          [showStatus]="false" [showRating]="false" [showCount]="false" [showPrice]="false" [showDate]="false"
          [goto]="null">
        </app-course-component>
      </ng-template>
      <br>
    </owl-carousel-o>
  </div>


  <!-- <div class="row m-l-20 m-r-20 m-t-25">
    <div class="col-md-11 center">
      <mat-grid-list cols="4" [cols]="breakpoint" rowHeight="1.7:2" (window:resize)="onResize($event)">
        <mat-grid-tile *ngFor=" let course of courses; let i = index" [style.border]="'none'" [colspan]="1"
          [rowspan]="1">
          <app-course-component [course]="course" [canNavigate]="true" [showCartBtn]="true" [showWishlist]="true"
            [showStatus]="false" [showRating]="true" [showCount]="true" [showPrice]="false" [showDate]="false"
            [goto]="null">
          </app-course-component>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div> -->

  <br><br>
  <!-- End of Popular courses -->

  <!-- start of trending courses -->
  <div class="row m-l-20 m-r-20">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 f_wt_500 f_size_23 float_left p-l-15 color_blue">
      <p>Trending Courses</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 float_right ">
      <button mat-flat-button class="blue-border color_blue"
        style="right: 10px; width: 17%;   height: 45px; font-size: initial; pointer-events: none;">
        All | 25
      </button>
    </div>
  </div>
  <br>
  <div class="width_90 m-l-5">
    <owl-carousel-o [options]="customOptions" [ngClass]="courses.length <= 4 ? 'widthClass arrow' : 'arrow'">
      <ng-template carouselSlide *ngFor="let course of courses">
        <app-course-component [course]="course" [canNavigate]="false" [showCartBtn]="true" [showWishlist]="false"
          [showStatus]="false" [showRating]="false" [showCount]="false" [showPrice]="false" [showDate]="false"
          [goto]="null">
        </app-course-component>
        <!-- <div class="containerOverlay">
        <img class="pointer m-b-10 course-image center" src="{{course.course_img_url}}" alt=""
          (click)="selectCourse(course,i+'c')">
        <div class="overlay p-5px" style="margin-bottom: 0;">
          <p class="course_description">
            {{(course.course_description?.length>120)? (course.course_description | slice:0:120)+'...':(course.course_description) }}
          </p>
        </div>
      </div>
      <div class="row card-bottom color_blue width_80 center f_wt_500 m-b-10 m-t-10">
        <span class="float_left m-t-10 f_size_14 f_wt_500">{{course.course_name}}</span>
        <button class="float_right m-b-10 m-t-10">Enroll</button>
      </div> -->
      </ng-template>
      <br>
    </owl-carousel-o>
  </div>
  <br><br>

</div>
<!-- End of Trending courses -->