
<mat-toolbar class="headerShadow">
  <img class="hearder-logo " alt="" src="assets/learner/LNT_Logo new.svg">
  <!-- <span class="headTit">&nbsp;LARSEN & TOUBRO</span> -->
</mat-toolbar>
<div class="forgotusername">
  <div class="limiter">
    <div class="container-reg200">
      <div class="igniteLogo col-xl-8 col-md-6 col-sm-12 col-12 border-right no_pl">
        <div class="main-logo">
        <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/iGGnite_SVG.svg">
      </div>
      </div>
      <div class="loginWrapper col-xl-4 col-md-6 col-sm-12 col-12">
        <div class="wrap-reg">
          <form class="animated animatedFadeInUp fadeInUp" autocomplete="off" [formGroup]="forgotUsername">
            <div class="forgotWrapper">
              <div *ngIf="isForgotUsernameEnable">
                <h1 class=" animated animatedFadeInUp fadeInUp signIn" *ngIf="isForgotUsernameEnable">{{'Forgot password?' | translate}}</h1><br><br>
                <mat-form-field appearance="outline">
                  <mat-label class="label-color">{{'Email ID'| translate }}</mat-label>
                  <input matInput  type="text" id="email" autocomplete="off"  placeholder="xyz@example.com" (input)="inputChanged(email)"  formControlName="username"   [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" #email (keyup)="focusout($event)" required>
                  <!-- <mat-icon matPrefix class="icon-color">mail_outline</mat-icon> -->
                  <i class="icon-color lxp-MailOutline" matPrefix></i>
                  <mat-error class="error"  *ngIf="f.email.errors.pattern">{{'Email ID is invalid'  | translate}}</mat-error>
                </mat-form-field>

                <div style="text-align: center;" *ngIf="isnextBtnEnable">
                  <button class="btn" mat-raised-button (click)="getUserDetails()">{{'NEXT'  | translate}}</button>
                </div>
                <mat-radio-group class="tp-radio-group" #radioGroup="matRadioGroup">
                  <mat-radio-button class="tp-radio-button" *ngFor="let recover of recoveryTypes" [value]="recover">
                    {{recover.value | maskingPipe:3}}
                  </mat-radio-button>
                </mat-radio-group>
                <div class="space-20"></div>
                <div  *ngIf="isenable">
                  <button class="btn" mat-raised-button (click)="forgotPassword(radioGroup.value)">{{'SUBMIT' | translate}} </button>
                </div>
                <div style="text-align: center; margin: 20px 0;">
                  <mat-label>  
                    <a class="col" [routerLink]="['/Learner/login']" routerLinkActive="active">{{'Go back to Sign in'  | translate}}</a></mat-label>
                </div>
              </div>
              <div *ngIf="isForgotPasswordEnable">
                <h1 class="animated animatedFadeInUp fadeInUp signIn">{{'Forgot username?'  | translate}}</h1><br><br>
                        <mat-form-field appearance="outline">
                          <mat-label class="label-color">{{'Email ID'  | translate}}</mat-label>
                          <input matInput  type="text" id="email" autocomplete="off"  placeholder="xyz@example.com" (input)="inputChanged(email)"  formControlName="email"   [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" #email (keyup)="focusout($event)" required>
                        
                          <mat-icon matPrefix class="icon-color">mail_outline</mat-icon>
                          <mat-error class="error"  *ngIf="f.email.errors.pattern">{{'Email ID is invalid'  | translate}}</mat-error>
                        </mat-form-field>
                <button class="btn" mat-raised-button [disabled]="isshow" (click)="forgotusername()">{{'SUBMIT' | translate }} </button>
                <div style="text-align: center; margin: 20px 0;">
                  <mat-label>  
                    <a class="col" [routerLink]="['/Learner/login']" routerLinkActive="active">{{'Go back to Sign in'  | translate}}</a></mat-label>
                </div>
              </div>
            </div>
          </form>
          <div class=" "  id="footer">
            <div class="col-12">
              <span class="">2020 © L&T EduTech All Rights Reserved</span> 
            </div>
          </div>
        </div>
        <div class="col-4">
        </div>
      </div>

      
    </div>
  </div>
</div>