.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1f3777 !important;
}

input[type=text], input[type=tel] {
  width: 89%;
  padding: 12px 20px;
  margin: 1px 0;
  // background: #94b5f1;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.wrap-reg {
    width: 400px;
    height: 500px;
    background: #fff !important;
    border-radius: 3px;
    overflow: hidden !important;
  }

  .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}
.mat-tab-body-content{height:100%;overflow:hidden !important}
.mat-tab-group-dynamic-height .mat-tab-body-content{overflow:hidden}
.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #1f3777 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1f3777 !important;
}

.btn {
width: 80%;
margin-left: 25px;
}

.icon {
  padding: 12px;
  background: #1f3777;
  color: white;
  min-width: 50px;
  margin-top: 0px;
  text-align: center;
}
.fa {
  display: grid;
  font: normal normal normal 14px/1 FontAwesome;
  // font-size: x-large;
  text-rendering: auto;
  /* height: 40px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconbutton{
  background: #1f3777;
  color: #fff;
  height: 39px;
  border: none;
    width: 34px;
}
// .input-container {
//   display: -ms-flexbox; /* IE10 */
//   display: flex;
//   width: 100%;
//   margin-bottom: 15px;
// }
// .input-field {
//   width: 100%;
//   // padding: 10px;
//   outline: none;
// }

