@import "variable";
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $color-blue !important;
}

input[type=text], input[type=tel] {
  width: 89%;
  // padding: 12px 20px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid $color-border;
  margin-left: 20px;
  // box-sizing: border-box;
  // border-top-left-radius: 7px !important;
  border-radius: 0px !important;
}
.color{
  color: #ccccccb0;;
}
:host ::ng-deep .btn.disabled, .btn:disabled {
  opacity: .65;
  color: #333 !important;
  background-color: #ccc !important;
}
  .mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}
.mat-tab-body-content{height:100%;overflow:hidden !important}
.mat-tab-group-dynamic-height .mat-tab-body-content{overflow:hidden}
.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 .tp-selected-value {
    margin: 15px 0;
 }

 mat-radio-button .mat-radio-inner-circle {
    background-color: $color-blue !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-blue !important;
}

.errtext{
  margin-left: 22px;
}
.head-h2{
  font-size: 18px;
  font-weight: 400;
  margin-top: 18px;
  color: $color-blue;
  text-align: center;
}
:host ::ng-deep.p-t-77 {
  padding-top: 21px !important;
}
.head1{
  text-align: center;
  font-weight: lighter !important;
  font-size: 21px;
}
.linee{
  border-left: 74px solid #ccccccb0;
  height: 5px;
  position: absolute;
  margin-left: 132px;
  margin-top: 12px;
  border-radius: 80px;
}
.linee1{
  border-left: 200px solid  #ccccccb0;
  height: 5px;
  position: absolute;
  margin-left: 70px;
  margin-top: 3px;
  border-radius: 80px;
}
.icon{
  color: #ccccccb0;
  margin-top: -14px;
  font-size: 100px;
}
.btn {
  width: 96%;
  margin-left: 20px;
  margin-top: 10%;
}
.title{
  margin-top: 10%;
  margin-left: 21px;
  font-size: 16px;
  font-weight: 400;
}

.input-group-text {
  display: flex;
  align-items: center;
  // padding: 12px 11px 10px 1px;
  margin-bottom: 0;
  height: 38px;
  margin-top: 1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid $color-border;
  margin-left: 4px;
  // border-radius: 7px;
}

.bg-transparent {
  // background-color: $color-light-blue!important;
}
.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 22% !important;
  margin-top: 5% !important;
}

:host ::ng-deep .container-reg200 {
  width: 100%;
  height: 100vh!important;
  display: flex;
  justify-content: center; 
   align-items: center; 
   background-size: cover !important; 
   background-repeat: no-repeat !important;
  background: url('../../../../assets/learner/bg-6.jpg');
}

.wrap-reg {
  width: 30%;
  height: 100%;
  border-radius: 0px !important;
  margin-left: 70% !important;
  overflow: hidden !important;
}
.pg{
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 16px;
  margin-left: 42% !important;
  /* background-color: #ffffff85; */
  font-size: 14px;
  font-weight: normal !important;
}
.privcy{
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 45%;
  margin-left: 47% !important;
  /* background-color: #ffffff85; */
  font-size: 14px;
  font-weight: normal !important;  
}
.next{
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.link {
  color: $color-white !important;
}
.head-h3{
  font-size: 18px;
  font-weight: 400;
  margin-top: 70px;
  color: $color-blue;
  text-align: center;
}

.lxplogo{
  text-align: center;
  margin-left: 94px;
  margin-right: 94px;
  width: 110px;
}
.space10{
  margin-top: 15px;
}
.head1{
  text-align: center;
  font-weight: normal !important;
  font-size: 21px;
}
.head{
  text-align: center;
    color: $color-blue !important;
    font-weight: bolder !important;
    font-size: 14px;
}

.bgimg{
  width: 99%;
  height: 657px;
}
.lnt_logo{
  position: absolute;
  width: 10%;
  margin-top: 21px;
  margin-left: 108px;
}