
@import "variable";
.forgot1 {
  color: $lxp-text ;
  font-size: 13px;
}

#footer {
  color: $lxp-text ;
  font-size: 13px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: right;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $color-blue !important;
}

.hearder-logo {
  height: 36px;
}
.mat-toolbar {
  background: $lxp-theme-yellow-sec !important;
  color: $color-blank;
  position: absolute;
  z-index: 4;
}
.color {
  color: $lineColor;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
}

.tp-radio-button {
  margin: 5px;
}

.tp-selected-value {
  margin: 15px 0;
}

:host ::ng-deep mat-radio-button .mat-radio-inner-circle {
  background-color: $lxp-theme-green !important;
}

:host ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $lxp-theme-green !important;
}

.errtext {
  margin-left: 22px;
}

:host ::ng-deep.head-h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 68px;
  color: $color-blue;
  text-align: center;
}

:host ::ng-deep.p-t-77 {
  padding-top: 21px !important;
}


.icon {
  color: $lineColor;
  margin-top: -14px;
  font-size: 100px;
}


.title {
  margin-top: 10%;
  margin-left: 21px;
  font-size: 16px;
  font-weight: 400;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin-left: 22% !important;
  margin-top: 5% !important;
}

:host ::ng-deep .container-reg200 {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  // background: url('../../../../assets/learner/bg-6.jpg');
}
:host ::ng-deep.pg {
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 16px;
  margin-left: 50% !important;
  font-size: 14px;
  font-weight: normal !important;
}

:host ::ng-deep.privcy {
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 45%;
  margin-left: 47% !important;

  font-size: 14px;
  font-weight: normal !important;
}

.next {
  font-size: 12px;
  color: $label2;
  cursor: pointer;
}

.link {
  color: $color-white !important;
}

.head-h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 70px;
  color: $color-blue;
  text-align: center;
}

.lxplogo {
  text-align: center;
  margin-left: 94px;
  margin-right: 94px;
  width: 110px;
}

.space10 {
  margin-top: 15px;
}

:host ::ng-deep.head1 {
  text-align: center;
  font-weight: normal !important;
  font-size: 21px;
  margin-top: 27px !important;
}

.head {
  text-align: center;
  color: $color-blue !important;
  font-weight: bolder !important;
  font-size: 14px;
}

.bgimg {
  width: 99%;
  height: 657px;
}

:host ::ng-deep.lnt_logo {
  position: absolute;
  width: 15%;
  margin-top: 21px;
  margin-left: 108px;
}

:host ::ng-deep .wrap-reg {
  width: 100%;
  padding-left: 40px;
  padding-right: 30px;
  height: 100vh;
  border-radius: 0px !important;
  margin-left: 0% !important;
  overflow: hidden !important;

}

:host ::ng-deep.footertext{
  font-size: 14px !important;
  font-weight: 400;
  padding: 18px;
  position: absolute;
  color: $lxp-footer-text;
}

// new changes
input.mat-input-element {
  margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {

  margin: 3px !important;

}
.btn {
       font-size: 16px;
      background: $lxp-theme-green !important;
      color: $color-white;
      border-radius: 50px !important;
      width: 54%;
      height: 45px;
      margin-left: 23%;
      margin-right: 23%;
      margin-top: 10%;
  
}
.center{
  text-align: center;
}
:host ::ng-deep .btn.disabled,
.btn:disabled {
  opacity: 1 !important;
  color: $color-white !important;
  border-radius: .25rem;
  font-size: 16px;
}

:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}
:host ::ng-deep.mat-form-field-wrapper {
  padding-bottom: .5em;
}
.icon-color{
color:  #8c8c8c !important;
position: relative;
top: -2px;
} 
.error{
  margin-top: 10px;
}
.label-color{
  color: $lxp-icon;
  font-family: "Roboto Condensed", sans-serif !important;
}

mat-form-field {
  width: 100%;
}

.col {
  margin-top: 10%;
  color: $lxp-text ;
}

a:hover {
  color: $lxp-theme-green !important;
      text-decoration: underline;
}


  // mobile screen
  @media (max-width: 480px){
    #footer {
      text-align: center;
  }
    .wrap-reg {
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        overflow: hidden !important;
        height: 96vh;
        border-radius: 0 !important;
        margin-left: 0% !important;
    }
    .linee1 {
      margin-left: 55px;
      margin-right: 55px;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .footer20 {
    position: absolute;
    bottom: 2px;
    // width: 84%;
    text-align: center !important;
}
.beforeloginimg {
    width: 100%;
     height: 0vh !important; 
}
.footertext {
  font-size: 10px;
  margin-left: -39px;
}
.powered {
  font-size: 10px !important;
  margin-left: -43px;
  top: 4px;
}
.forgot1{
  margin-left: -9%;
}
}


@media (max-width: 568px) {
  #footer {
    text-align: center;
}
  .wrap-reg {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden !important;
    height: 96vh;
    border-radius: 0 !important;
    margin-left: 0% !important;
  }
  .footericon {
    width: 100%;
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
}
.footertext {
    font-size: 12px;
    margin-left: -39px;
}

.beforeloginimg {
    width: 100%;
     height: 0vh !important; 
}

  .footer20 {
    position: absolute;
    bottom: 25px;
     // width: 84%;
     text-align: center !important;
}
.forgot1{
  margin-left: -9%;
}

}

