<div class="forgotusername">
<div class="limiter">
  <div class="container-reg100 p-t-77">
    <div class="wrap-reg p-l-50 p-r-50  p-t-77  p-b-30">
      <h1 class="head">Account Recovery </h1>
      <form [formGroup]="forgotUsername">
        <mat-tab-group>
        

          <mat-tab label="Forgot Password">
            <label class="title">Enter the username</label>
            <div class="input-group"><br>
              <input  class="form-control border-right-0" maxlength="20" [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" type="text"
                formControlName="username" placeholder="User Name" (keyup)="change($event)"/>
                <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="fa fa-long-arrow-right" (click)="getUserDetails()" aria-hidden="true"></i>
                  </span>
                </span>

              <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                <div  class="errtext" *ngIf="f.username.errors.pattern">User Name is invalid</div>
                <div  class="errtext" *ngIf="f.username.errors.minlength">User Name must be 3 characters long </div>
                <div  class="errtext" *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
              </div>
            </div>
            <mat-radio-group class="tp-radio-group" #radioGroup="matRadioGroup" >
              <mat-radio-button class="tp-radio-button" *ngFor="let recover of recoveryTypes" [value]="recover">
                {{recover.value | maskingPipe:3}}
              </mat-radio-button>
            </mat-radio-group>

            <div class="space20" *ngIf="isenable">
              <button class="btn" (click)="forgotPassword(radioGroup.value)">Submit </button>
            </div>
          </mat-tab>
          <mat-tab  label="Forgot Username"><br>
            <div class="input-group">
              <input type="text" id="mobile" formControlName="mobile" placeholder="Mobile Number" pattern="^[0-9]*$"
                (input)="inputChanged(mobile)" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }"
                #mobile
                (keyup)="focusout($event)" />
                <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="fa fa-times" (click)="resetForm('mobile')" aria-hidden="true"></i>
                  </span>
                </span>
              <div *ngIf="f.mobile.touched && f.mobile.errors" class="invalid-feedback">
                <div class="errtext" *ngIf="f.mobile.errors.pattern">Mobile Number is invalid</div>
                <div  class="errtext" *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Mobile Number must be 10 digits
                </div>
              </div>
            </div>
            <div class="space10">
              <h2 class="head">OR</h2>
            </div>


            <div class="input-group">
              <input type="text" id="email" formControlName="email"  (input)="inputChanged(email)"
                placeholder="Email ID" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
                #email (keyup)="focusout($event)" />
                <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="fa fa-times" (click)="resetForm('email')" aria-hidden="true"></i>
                  </span>
                </span>
              <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div  class="errtext" *ngIf="f.email.errors.pattern">Email pattern is invalid</div>
              </div>
            </div><br>
            <button class="btn" [disabled]="isshow" (click)="forgotusername()">Submit </button>

          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>
   </div>     
   </div>    
