<div class="limiter">
  <div class="container-reg100 p-t-77">
    <div class="wrap-reg p-l-50 p-r-50  p-t-77  p-b-30">
      <h1 class="head">Recover with </h1>
      <mat-tab-group>
        <mat-tab  label="Forgot Username"><br>
          <form [formGroup]="forgotUsername">
            <div class="form-group">
            <label>Mobile Number</label><br>
            <input type="tel" id="mobile" formControlName="mobile" placeholder="+91"  pattern="^[0-9]*$" (input)="inputChanged(mobile)"
              maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }"
              #mobile />
            <div *ngIf="f.mobile.touched && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.pattern">Mobile Number is invalid</div>
              <div *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Mobile Number must be 10 digits</div>
            </div>
            </div>
            <div class="space10">
              <h2 class="head">Or</h2>
            </div>


            <div class="form-group">
              <label>Email ID</label>
              <input type="text" id="email" formControlName="email" (input)="inputChanged(email)"
                placeholder="example@mail.com" class="form-control"
                [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"  #email />
              <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.pattern">Email pattern is invalid</div>
              </div>
            </div><br>
            <button class="btn" (click)="forgotusername()">Submit </button>
          </form>
        </mat-tab>

        <mat-tab label="Forgot Password">

          <div class="form-group space10">
            <label>User Name</label>
            <input type="text" id="username" formControlName="username" placeholder="User Name" class="form-control"
              [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
            <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
              <div *ngIf="f.username.errors.minlength">User Name must be 3 characters long </div>
              <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>

            </div>
          </div>
          <mat-radio-group class="tp-radio-group" [(ngModel)]="favoriteSeason">
            <mat-radio-button class="tp-radio-button" *ngFor="let recover of recoveryTypes" [value]="recover">
              {{recover}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="space20">
            <button class="btn" (click)="forgotPassword()">Submit </button>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>