<button class="btn_Icon" style="float: right;" (click)="closeModel()">Close
</button>
<br>
<section>
  <nav>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-icon (click)='getNode(node)' class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type ==='file' ? 'description' : 'folder' }}
        </mat-icon>
        {{node.name}}
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror" (click)='getIndex(treeControl.dataNodes)'>
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-icon (click)='getNode(node)' class="type-icon" [attr.aria-label]="node.type + 'icon'">
          {{ node.type ==='file' ? 'description' : 'folder' }}
        </mat-icon>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </nav>

  <article>    
    <mat-grid-list cols="4" rowHeight="2:2">
      <div *ngFor="let element of exploredData">
        <mat-grid-tile>
          <mat-card-content>
            <label>Name: {{element.name}}</label><br>
            <label>Size: {{element.size}}</label><br>
            <mat-icon>insert_drive_file</mat-icon><br>
            <button class="btn_Icon" (click)="getURL(element)">Generate URL</button>&nbsp;
            <button class="btn_Icon" (click)="preview(element)">Preview</button>
          </mat-card-content>
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </article>
</section>