<button class="btn_Icon" style="float: right;" (click)="closeModel()">Close
</button>
<br>
<mat-grid-list cols="4" rowHeight="2:2">
  <div *ngFor="let element of exploredData">
    <mat-grid-tile>
      <mat-card-content>
        <label>Name: {{element.name}}</label><br>
        <mat-icon>insert_drive_file</mat-icon><br>
        <button class="btn_Icon" (click)="getURL(element)">Generate URL</button>&nbsp;
        <button class="btn_Icon" (click)="preview(element)">Preview</button>
      </mat-card-content>
    </mat-grid-tile>
  </div>
</mat-grid-list>