.btn {
    width: 100px;
    height: 40px;
    border-radius: 0px;
    color: red;
    margin-right: 80px;
    margin-top: 80px;
}

.name_Menu_Btn {
    margin-left: 30px;
}

.modified_Menu_Btn {
    margin-left: 200px;
}

.type_Menu_Btn {
    margin-left: 50px;
}

.mat-icon {
    font-size: 90px;
    /* margin-top: -100px;
    margin-left: 50px; */
    color: grey;
}

.btn_Icon {
    border-radius: 5px;
    color: #1565c0;
    border-color: #1565c0;
}

.btn_Icon2 {
    cursor: pointer;
    margin-top: 105px;
    border-radius: 5px;
    color: #1565c0;
    border-color: #1565c0;
}

label {
    color: black;
    font-size: smaller;
}

.btn {
    height: 40px
}

.closeIcon {
    font-size: 34px;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 25%;
    height: 300px; /* only for demonstration, should be removed */
    /* background: #ccc; */
    padding: 2px;
    border-style: ridge
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 75%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  .type-icon {
    color: #999;
    margin-right: 5px;
  }

  .mat-icon-rtl-mirror, .type-icon {
    font-size: smaller;
  }

  .closeIcon {
    font-size: medium;
    margin-top: 4px;
    margin-left: -5px;
    color: black;
  }

  .topClose_btn {
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: black;
    border-color: black;
  }

  mat-chip {
    border-radius: inherit;
    width: -webkit-fill-available;
  }
  
  .mat-chip.mat-standard-chip {
    background-color: #DAEBEE;
  }

  mat-tree-node {
    padding-left: 0px !important;
  }