<app-header></app-header>

<div class="askQuestionsContainer">
    <!-- TITLE AND BACK -->
    <div class="titlebar">
        <div class="d-flex align-items-center titleBack">
            <div class="pointer d-flex align-items-center" (click)="goBack()">
                <em class="lxp-Arrow backArrow"></em><span>{{'Back' | translate}}</span>
            </div>
            <div class="courseTitle text-truncate"> | <span>{{courseName}} > {{'All Questions and Answer' | translate}}</span></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap mx-20px"  *ngIf="moduleTopicData?.length">
        <div class=" align-self-center">
            <div class="d-inline-block mt-10px mr-30px">
                <span>{{'Sort by: ' | translate}}&nbsp;</span>
                <select class="sel-pad" [(ngModel)]="qaSortKey" (change)="mainQAFilter('Sort')">
                    <option [value]="-1" selected="true">{{'Newest' | translate}}</option>
                    <option [value]="1">{{'Oldest' | translate}}</option>
                </select>
            </div>
            <span *ngIf="checkLevel;else normaltopics">
            <div class=" d-inline-block mt-10px" *ngIf="moduleTopicData?.length">
                <span>{{'Filter by: ' | translate}}&nbsp;</span>
                <select class="sel-pad mr-20px" [(ngModel)]="mainModule" (change)="mainQAFilter('M')">
                    <option [ngValue]="null" [disabled]="false">{{'All Modules' | translate}}</option>
                    <ng-container *ngFor="let skipper of moduleTopicData">
                        <option  *ngFor="let item of skipper.childData" [title]="item.module_name" [ngValue]="item">{{item?.module_name?.length<41?item?.module_name:(item?.module_name| slice:0:40)+'...'}}</option>
                    </ng-container>
                </select>
                </div>
                <div class=" d-inline-block mt-10px">
                <select *ngIf="mainModule" class="sel-pad " [(ngModel)]="mainTopic" (change)="mainQAFilter('T')">
                    <option [ngValue]="null" [disabled]="false">{{'All Topics' | translate}}</option>
                    <option  *ngFor="let item of mainModule.childData" [title]="item.topic_name" [ngValue]="item.topic_name">{{item?.topic_name?.length<41?item?.topic_name:(item?.topic_name| slice:0:40)+'...'}}</option>
                </select>
            </div>
            </span>
            <ng-template #normaltopics>
            <div class=" d-inline-block mt-10px" *ngIf="moduleTopicData?.length">
                <span>{{'Filter by: ' | translate}}&nbsp;</span>
                <select class="sel-pad mr-20px" [(ngModel)]="mainModule" (change)="mainQAFilter('M')">
                    <option [ngValue]="null" [disabled]="false">{{'All Modules' | translate}}</option>
                    <option  *ngFor="let item of moduleTopicData" [ngValue]="item">{{item?.module_name?.length<41?item?.module_name:(item?.module_name| slice:0:40)+'...'}}</option>
                </select>
                </div>
                <div class=" d-inline-block mt-10px">
                <select *ngIf="mainModule" class="sel-pad " [(ngModel)]="mainTopic" (change)="mainQAFilter('T')">
                    <option [ngValue]="null" [disabled]="false">{{'All Topics' | translate}}</option>
                    <option  *ngFor="let item of mainModule.childData" [ngValue]="item.topic_name">{{item?.topic_name?.length<41?item?.topic_name:(item?.topic_name| slice:0:40)+'...'}}</option>
                </select>
            </div>
        </ng-template>
            
        </div>
        <div class="justify-content-end mt-10px" *ngIf="batchEndTime>=currentDate">
            <button class="btn btn-primary" (click)="openQuestionInput(questionInputModal)">{{'Ask Question' | translate}}</button>
        </div>
    </div>
    <div >
        <div infiniteScroll [infiniteScrollDistance]="2" [scrollWindow]="false"
        [infiniteScrollThrottle]="50" (scrolled)="onScroll()" class="myQuestions" *ngIf="allQuestionList?.length;else noallitems">
            <div class="qaBox" *ngFor="let item of allQuestionList">
                <span class="userAccount"><i
                        class="lxp-AccountCircle align-text-bottom"></i>&nbsp;<span>{{item.user_name}}</span></span>&nbsp;|&nbsp;
                <span class="QuestionMeta d-inline-flex">
                    <p>{{'Asked on:' | translate}} &nbsp;{{item.question.askDate}},&nbsp;{{item.question.askTime}}</p>
                </span>
                <p class="quesiton">{{item.question.que}}</p>
                <div class="QuestionMeta">
                    <div class="badge badge-success">{{'Answered' | translate}}</div>
                    <p>&nbsp; {{item.question.ansDate}},&nbsp;{{item.question.ansTime}}</p>
                </div>
                <p class="answer" *ngIf="item.question.ansDate">{{item.question.ans}}</p>
    
            </div>
    
        </div>
    </div>
    <ng-template #noallitems>
        <div class="myQuestions d-flex align-items-center justify-content-center">
            {{isLoading?loadMessage:emptyMessage}}
        </div>
    </ng-template>
</div>

<ng-template #questionInputModal>
    <div class="askQuestionsTitle" style=" position: relative !important;" (contextmenu)="contextmenu()">
        <span style="font-weight: 400;">{{'Ask a Question' | translate}}</span> <span class="qaClose cursor-pointer"><i
                (click)="closedialogbox()" class="lxp-Close"></i></span>
    </div>
    <div class="askQuestionsContainer mx-20px"(contextmenu)="contextmenu()">
        <span *ngIf="checkLevel;else qinputlist">
        <div class="mt-10px  d-inline-block" >
            <select class="sel-pad-modal" [(ngModel)]="questionTopicList" (change)="askQAModuleSelect()">
                <option [ngValue]="null" [disabled]="true">{{'Please select a module' | translate}}</option>
                <ng-container *ngFor="let skipper of moduleTopicData">
                <option  *ngFor="let item of skipper.childData" [title]="item.module_name" [ngValue]="item">{{item?.module_name?.length<41?item?.module_name:(item?.module_name| slice:0:40)+'...'}}</option>
                </ng-container>
            </select>
            <select *ngIf="questionTopicList" class="sel-pad-modal ml-20px" [(ngModel)]="questionTopic" >
                <option [ngValue]="null" [disabled]="true">{{'Please select a topic' | translate}}</option>
                <option  *ngFor="let item of questionTopicList.childData"  [title]="item.topic_name" [ngValue]="item.topic_name">{{item?.topic_name?.length<41?item?.topic_name:(item?.topic_name| slice:0:40)+'...'}}</option>
            </select>
        </div>
        </span>
        <ng-template #qinputlist>
            <div class="mt-10px  d-inline-block" >
                <select class="sel-pad-modal" [(ngModel)]="questionTopicList" (change)="askQAModuleSelect()">
                    <option [ngValue]="null" [disabled]="true">{{'Please select a module' | translate}}</option>
                    <option  *ngFor="let item of moduleTopicData"  [title]="item.module_name" [ngValue]="item">{{item?.module_name?.length<41?item?.module_name:(item?.module_name| slice:0:40)+'...'}}</option>
                </select>
                <select *ngIf="questionTopicList" class="sel-pad-modal ml-20px" [(ngModel)]="questionTopic" >
                    <option [ngValue]="null" [disabled]="true">{{'Please select a topic' | translate}}</option>
                    <option  *ngFor="let item of questionTopicList.childData"  [title]="item.topic_name" [ngValue]="item.topic_name">{{item?.topic_name?.length<41?item?.topic_name:(item?.topic_name| slice:0:40)+'...'}}</option>
                </select>
            </div>
        </ng-template>
        <div class="questionInput align-content-center">
                    <textarea [(ngModel)]="questionText"></textarea>
                    
                </div>
                <div class="d-flex justify-content-center mt-10px">
                    <button class="btn btn-primary-outline mr-10px" (click)="closedialogbox()">{{'Cancel' | translate}}</button>
                    <button class="btn btn-primary" (click)="submitMyQuestion()">{{'Submit Question' | translate}}</button>
                </div>
    </div>
</ng-template>