<app-header></app-header>
<!-- oncontextmenu="return false" -->
<div class="askQuestionsContainer">
    <!-- TITLE AND BACK -->
    <div class="titlebar">
        <div class="d-flex align-items-center titleBack">
            <div class="pointer d-flex align-items-center" (click)="goBack()">
                <i class="lxp-Arrow backArrow"></i><span>Back</span>
            </div>
            <div class="courseTitle"> | <span>Course Name Comes Here > All Questions and Answer</span></div>
        </div>
    </div>
    <div class="d-flex justify-content-between mx-20px" >
        <div class="m-t-10 align-self-center">
            <div class="d-inline-block">
                <span>Sort by: &nbsp;</span>
                <select class="sel-pad" [(ngModel)]="qaSortKey" (change)="mainQAFilter('Sort')">
                    <option [value]="-1" selected="true">Newest</option>
                    <option [value]="1">Oldest</option>
                </select>
            </div>
            <div class="ml-30px d-inline-block" *ngIf="moduleTopicData?.childData">
                <span>Filter by: &nbsp;</span>
                <select class="sel-pad" [(ngModel)]="mainModule" (change)="mainQAFilter('M')">
                    <option [ngValue]="null" [disabled]="true">Please select a module.</option>
                    <option  *ngFor="let item of moduleTopicData.childData" [ngValue]="item">{{item.title}}</option>
                </select>
                <select *ngIf="mainModule" class="sel-pad ml-20px" [(ngModel)]="mainTopic" (change)="mainQAFilter('T')">
                    <option [ngValue]="null" [disabled]="true">Please select a topic.</option>
                    <option  *ngFor="let item of mainModule.children" [ngValue]="item.title">{{item.title}}</option>
                </select>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="openQuestionInput(questionInputModal)">Ask Question</button>
        </div>
    </div>
    <div class="myQuestions" *ngIf="allQuestionList.length;else noallitems">
        <div class="qaBox" *ngFor="let item of allQuestionList">
            <div class="userAccount"><i class="lxp-AccountCircle"></i>&nbsp; {{item.user_name}}</div>
            <p class="quesiton">{{item.question.que}}</p>
            <div class="QuestionMeta">
                <p>Asked on: &nbsp;{{item.question.askDate}}</p>
                <div class="badge badge-success">Answered</div>
            </div>
            <p class="answer" *ngIf="item.question.ansDate">{{item.question.ans}}</p>
            <div class="QuestionMeta">
                <p>Answered on: &nbsp;{{item.question.ansDate}}</p>
            </div>
        </div>

    </div>

    <ng-template #noallitems>
        <div class="myQuestions d-flex align-items-center justify-content-center">
            No questions / answers to display.
        </div>
    </ng-template>
</div>

<ng-template #questionInputModal>
    <div class="askQuestionsTitle" style=" position: relative !important;">
        <span style="font-weight: 400;">Ask a Question</span> <span class="qaClose cursor-pointer"><i
                (click)="closedialogbox()" class="lxp-Close"></i></span>
    </div>
    <div class="askQuestionsContainer mx-20px">
        <div class="m-t-10  d-inline-block">
            <select class="sel-pad" [(ngModel)]="questionTopicList" (change)="askQAModuleSelect()">
                <option [ngValue]="null" [disabled]="true">Please select a module.</option>
                <option  *ngFor="let item of moduleTopicData.childData" [ngValue]="item">{{item.title}}</option>
            </select>
            <select *ngIf="questionTopicList" class="sel-pad ml-20px" [(ngModel)]="questionTopic" >
                <option [ngValue]="null" [disabled]="true">Please select a topic.</option>
                <option  *ngFor="let item of questionTopicList.children" [ngValue]="item.title">{{item.title}}</option>
            </select>
        </div>
        <div class="questionInput align-content-center">
                    <textarea [(ngModel)]="questionText"></textarea>
                    
                </div>
                <div class="d-flex justify-content-center mt-10px">
                    <button class="btn btn-primary-outline mr-10px" (click)="closedialogbox()">Cancel</button>
                    <button class="btn btn-primary" (click)="submitMyQuestion()">Submit Question</button>
                </div>
    </div>
</ng-template>