<!--The content below is only a placeholder and can be replaced.-->
  <!-- <div *ngIf="isMobile" style="text-align: center; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);border: 3px solid #C02222 !important; padding: 10px;">
    This version of the application is being constructed for mobile device.<br> We will keep you notified. <br> <strong>Please use from desktop / laptop.</strong><br><br><span style="font-size: 6px;">--Your browser running on {{platformTxt}} --</span>
  </div> -->
  <!-- [@routeAnimations]="o && o?.activatedRouteData 
      && o?.activatedRouteData['animation']" -->
  <div class="heightClass" [ngClass]="isFooterVisible.length?hideLeftMenu?'hideSideMenu':'contentPad':''" >
    <router-outlet></router-outlet>
</div>
<div style="background-color: #ffffff;" [innerHTML]='isFooterVisible'>
</div>
<!-- <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="isLoader" style="height:100%">
  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div> -->
<!-- <router-outlet></router-outlet> -->
<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->

<ngx-ui-loader [hasProgressBar] = 'isProgressBar' [text]="percentage"></ngx-ui-loader>


<!-- <ng-container *ngIf="isFooterVisible && !hideLeftMenu">

<figure class="chatBotIcon" (click)="openChatbot()" *ngIf="!chatbotShow">
  <img src="https://assets.lntedutech.com/application_images/chatBot_v.2.svg" alt="" />
</figure>
<figure class="chatBotIcon" (click)="chatbotShow = false" *ngIf="chatbotShow">
  <img src="https://assets.lntedutech.com/application_images/chatBot_Close.svg" alt="" />
</figure>

  <div class="chatBot" *ngIf="chatbotShow">
      <iframe allow="microphone;" width="350" height="530" [src]="urlSafe"></iframe>    
  </div>
</ng-container> -->
