
.nav-item{
    padding:2px;
    margin-left: 7px;
}

.bg-dark {
    background-color:#1F3777!important;
}
.logo{
    height: 50px;
}
.menu{
    background: #1F3777 !important;
}

// label{
//     color: white !important;
// }
mat-icon{
    color: white;
}
