<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- <a class="navbar-brand" href="#">Angular Bootstrap Demo</a> -->
  <img class="logo" src="../../assets/images/logo.png" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" *ngIf = "userDetailes != null">

      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">Contacts</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click) = "logout()">Logout</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" *ngIf = "userDetailes == null">

      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-list">Contacts</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/Learner/login">Login</a>
      </li>
    </ul>

  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu class="menu" #menu="matMenu">
    <button mat-menu-item>
     <label>Profile</label>
    </button>
    <button mat-menu-item>
      <label>My Course</label>
    </button>
    <button mat-menu-item>
      <label>Dashboard</label>
    </button>
    <button mat-menu-item>
      <label>Wishlist</label>
    </button>
    <button mat-menu-item>
      <label>Certificate</label>
    </button>
    <button mat-menu-item>
      <label>Logout</label>
    </button>
  </mat-menu>
</nav>
<br><br><br>
