@import "variable";

.navbar-light .navbar-nav .nav-link {
    color: $color-landing-blue !important;
}

.nav-item:hover {
    box-shadow: none !important;
}

.browser_btnn {
    border: none;
    padding: 5px 15px;
    border-radius: 50px;
    background: $color-landing-blue !important;
    color: $color-white;
    margin-left: 5%;
}

.getstarted_btnn {
    border: none;
    padding: 5px 15px;
    border-radius: 50px;
    background: $color-landing-blue !important;
    color: $color-white;
}

.navbar-expand-lg .navbar-nav {
    cursor: pointer;
}

@media only screen and(min-width:769px) and (max-width: 2560px) { 
    .navbar-item {
        flex-direction: row;
        justify-content: flex-end;
    }
}
