<!-- ////for Logged out user///////// -->

<nav class="navbar navbar-expand-lg navbar-default fixed-top" *ngIf="userDetailes == null"
  style="background-color: white;">
  <img class="logo_img" src="https://assets.lntedutech.com/application_images/l&t.png" alt="L&T">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
    style="background-color: whitesmoke">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- <div class="navbar-nav">
      <button class="browser_btnn m-l-5 p-5px">Browse Categories</button>
      <a class="nav-item nav-link link_1 f_wt_500 pointer" href="#">What's New</a>
      <a class="nav-item nav-link link_2 f_wt_500 pointer" href="#">Talk To Expert</a>
      <a class="nav-item nav-link link_3 f_wt_500 pointer" href="#">FAQ</a>
      <a class="nav-item nav-link link_4 f_wt_500 pointer" routerLink="/Learner/login">Login</a>
      <button class="getstarted_btnn">Get Started</button>
    </div> -->
    <button class="browser_btnn">Browse Categories</button>
    <div class="navbar-nav width_100 navbar-item">
      <a class="nav-link float_right" href="#">What's New</a>
      <a class="nav-link float_right" href="#">Talk To Expert</a>
      <a class="nav-link float_right" href="#">FAQ</a>
      <a class="nav-link float_right" routerLink="/Learner/login">Login</a>&nbsp;&nbsp;&nbsp;
      <button class="getstarted_btnn">Get Started</button>
    </div>
  </div>
</nav>

