@import "variable";

@media only screen and (max-width: 1444px) {
    .navbar-light .navbar-nav .nav-link {
        // color: blue;
        $color-subhead: #446bd4d1;
    }

    .navbar-light .navbar-nav .nav-link {
        color: blue;
    }

    // .navbar-expand-lg .navbar-nav .nav-link {
    //     margin-left: 32%;

    // }
    .navbar-expand-lg .navbar-nav .nav-link {

        padding-left: 0rem;
        padding-right: 0rem;

    }

    .navbar-expand-lg .navbar-nav .link_1 {
        margin-left: 290px
    }

    .navbar-expand-lg .navbar-nav .link_2 {
        margin-left: 20px
    }

    .navbar-expand-lg .navbar-nav .link_3 {
        margin-left: 20px
    }

    .navbar-expand-lg .navbar-nav .link_4 {
        margin-left: -20px
    }

    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        margin-right: 18% !important;
    }

    .logo_img {
        width: inherit;
        height: 50px;
    }

    .browser_btnn {
        border: none;
        border-radius: 20px !important;
        color: $color-white;
        background-color: $color-blue !important;
        width: 12%;
        height: 35px;
        opacity: 76%;
    }

    .m-l-5 {
        margin-left: 5% !important;
    }

    .getstarted_btnn {
        color: $color-white;
        background-color: $color-blue !important;
        border: none;
        border-radius: 20px;
        width: 23%;
        margin-left: -15%;
        opacity: 76%;
    }

}

@media only screen and (max-width: 1024px) {
    .navbar-expand-lg[_ngcontent-vgr-c4] .navbar-nav[_ngcontent-vgr-c4] .link_1[_ngcontent-vgr-c4] {
        margin-left: 101px !important;
    }
}


@media only screen and (max-width: 2560px) {
    .navbar-expand-lg[_ngcontent-crc-c4] .navbar-nav[_ngcontent-crc-c4] .link_1[_ngcontent-crc-c4] {
        margin-left: 314%;
    }
    .browser_btnn {
        border: none;
        border-radius: 20px !important;
        color: $color-white;
        background-color: $color-blue !important;
        width: 12%;
        height: 35px;
        opacity: 76%;
    }

    .m-l-5 {
        margin-left: 5% !important;
    }

    .getstarted_btnn {
        color: $color-white;
        background-color: $color-blue !important;
        border: none;
        border-radius: 20px;
        width: 23%;
        margin-left: -15%;
        opacity: 76%;
    }
}