<div class="container pl-0 pr-0">
  <div class="row ml-0 mr-0">
    <div class="col-10 text-left m-auto moileView">
      <span class="titleCase">{{ selectedName | titlecase }}</span>
      <!-- <span *ngIf="course?.course_name?.length > 30">{{(course?.course_name | slice:0:20)+'...'}}</span> -->
    </div>
    <div class="col-2 text-right mobileHoriz">
      <mat-icon class="ml-3 mt-3 mb-3" [matMenuTriggerFor]="menu"
        >more_vert</mat-icon
      >
      <mat-menu #menu="matMenu">
        <button
          (click)="
            selectedTabIndex = 0;
            selectedName = detailDataToPerform?.course_name
              ? detailDataToPerform?.course_name
              : courceDetails?.course_name;
            emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>Course Player</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 1; selectedName = 'About the course'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>About the course</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 2; selectedName = 'Resources'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>Resources</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 3; selectedName = 'Assignments'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>Assignments</span>
        </button>
        <button
          (click)="selectedTabIndex = 4; selectedName = 'Forum'; emiteData()"
          class="matTabMenu"
          mat-menu-item
        >
          <span>Forum</span>
        </button>
        <button
        (click)="selectedName = 'project'"
        class="matTabMenu"
        mat-menu-item
      >
        <span>Projects</span>
      </button>
        <button
          (click)="selectedName = 'perform'"
          class="matTabMenu"
          mat-menu-item
        >
          <span>Perform</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="row mr-0 ml-0">
    <div class="col-sm-12">
      <div class="box-0-1" (click)="getprojectActivityData()"  *ngFor="let project of projectDetails; let i = index" (click)="projectdetailPage = !projectdetailPage">
        <div class="row">
        <div class="col-10 text-left">
          <span class="topic">
            <!-- <mat-icon class="assignIcon">assignment</mat-icon> -->
            <span class="f_size_16 f_wt_600 projHead">{{project.projectActivity.topic_id}}</span>
          </span>
        </div>
        <div class="col-2 text-right">
          <mat-icon class="f_size_16 expansionarr" aria-hidden="false" *ngIf="!isCollapsed || projectId !== i"
            (click)="isCollapsed = !isCollapsed; projectId = i">keyboard_arrow_down</mat-icon>
          <mat-icon class="f_size_16 expansionarr" aria-hidden="false" *ngIf="isCollapsed && projectId === i"
            (click)="isCollapsed = !isCollapsed; projectId = i">keyboard_arrow_up</mat-icon>
        </div>
      </div><br>

      <div class="row">
        <div class="col-12 text-right">
          <span class="f_wt_600 status" *ngIf="project.projectActivity.submitAction !== 'submit' ||
      project.projectActivity.submit_status == 'notsubmitted'"> <span class="dot"></span>
            Yet to submit</span>

          <span class="f_wt_600 projectSubmitstatus submitted" *ngIf="project.projectActivity.submitAction == 'submit'
      && project.projectActivity.grade_status == 'Not Evaluated'"> <span class="submitdot"></span>
            Submitted</span>

          <span class="f_wt_600 grade" *ngIf="project.projectActivity.grade_status == 'Evaluated'"> <span class="gradedot"></span>
            Graded</span>
        </div>
      </div><br>

      <div class="row">
        <div class="col-5">
          <span class="group">
            <button mat-mini-fab class="groupBtn">
              <mat-icon class="grpIcon">group</mat-icon>
            </button>
            <span class="teamName" *ngIf="project.projectActivity.groupname.length < 14">
              {{project.projectActivity.groupname}} ({{project.projectActivity.groupDetails.length}})
            </span>
            <span class="teamName" *ngIf="project.projectActivity.groupname.length > 14"
              matTooltip="{{project.projectActivity.groupname}}" matTooltipClass="custom-mat-tooltip">
              {{(project.projectActivity.groupname| slice:0:14)+'...'}} 
            </span>&nbsp;
          </span>
        </div>
        <div class="col-7 text-right">
          <!-- <div class="m-r-13">Start date :<span class="margin-30"></span>End date :</div>
          <div class="f_wt_600">
            <span>{{project.activityStartDate}}</span>
            <span class="m-r-5"></span>
            <span>{{project.activityEndDate}}</span></div> -->

            <div>Start date :<span class="margin-30"></span>End date :</div>
            <div class="m-r-2 f_wt_600">{{project.activityStartDate}}
              <span class="f_wt_600"></span>{{project.activityEndDate}}</div>
        </div>
      </div>

      <div class="ml-16">
      <div class="row">
        <span>Activity description:</span>
      </div>
      <div class="row">
        <p>{{project.projectActivity.activityname}}</p>
      </div>
    </div>
    <!-----------------------------Materials for activity--------------------->
  <div *ngIf="isCollapsed && projectId === i">
    <div class="row ml-0 mr-0">
      <div class="col-sm-12 text-left">
        <span>Material for activity ({{project.projectActivity.materialDetails.length}})</span>
      </div>
    </div>

    <div class="row ml-0 mr-0 mt-3">
      <div class="col-12 text-left pl-0 pr-0">
        <div id="demo" class="carousel" data-ride="carousel">
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row ml-0 mr-0">
                <div class="col-4 text-left pr-0" *ngFor="let material of project.projectActivity.materialDetails">
              <mat-card class="materialCard p-0 mr-2">
                <div class="row ml-0 mr-0 matCardIconRow">
                  <div class="col-12 pl-0 pr-0">
                    <i class="fa fa-file-pdf-o icons" *ngIf="material.doc_type == 'file/pdf'" aria-hidden="true"></i>
                    <mat-icon class="icons" *ngIf="material.doc_type =='image/jpeg'
                         || material.doc_type == 'image/png' || material.doc_type == 'image/jpg'">photo_size_select_actual</mat-icon>
                    <mat-icon class="icons" *ngIf="material.doc_type =='video/mp4'">play_circle_outline</mat-icon> 
                  </div>
                </div>
                <div class="row ml-0 mr-0 h-40" class="fileSelDet">
                  <div class="col-12 pr-0 fileNameCol">
                    <span class="fileColor">{{material.filename}}</span><br>
                  </div>
                </div>
              </mat-card>
              </div>
              </div>
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        
        </div>
      </div>
    </div>
<!----------------------------------------------Your work---------------------------------->
    <div class="row ml-0 mr-0 mt-3">
      <div class="col-12 text-left pl-0 pr-0" *ngIf="project.projectActivity.submit_status == 'notsubmitted'
      || project.projectActivity.grade_status !== 'Evaluated'">
              <div class="f_size_16 f_wt_600 align-center work">Your work</div>
              <div class="col-12 pl-0 pr-0">
                <div class="row ml-0 mr-0 mt-3" *ngIf="project.projectActivity.videodetails.length > 0">
                  <div class="col-12 text-left pl-0 pr-0">
                    <div id="demo" class="carousel" data-ride="carousel">
                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row ml-0 mr-0">
                            <div class="col-4 text-left pr-0" *ngFor="let videoData of project.projectActivity.videodetails">
                          <mat-card class="materialCard p-0 mr-2">
                            <div class="row ml-0 mr-0 matCardIconRow">
                              <div class="col-12 pl-0 pr-0">
                                <i class="fa fa-file-pdf-o icons" *ngIf="videoData.doc_type == 'application/pdf'" aria-hidden="true"></i>
                                <mat-icon class="icons" *ngIf="videoData.doc_type =='image/jpeg'
                                     || videoData.doc_type == 'image/png' || videoData.doc_type == 'image/jpg'">photo_size_select_actual</mat-icon>
                                <mat-icon class="icons" *ngIf="videoData.doc_type =='video/mp4'">play_circle_outline</mat-icon> 
                              </div>
                            </div>
                            <div class="row ml-0 mr-0 h-40" class="fileSelDet">
                              <div class="col-12 pr-0 fileNameCol">
                                <span class="fileColor">{{videoData.name}}</span><br>
                              </div>
                            </div>
                          </mat-card>
                          </div>
                          </div>
                        </div>
                      </div>
                    
                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>
                  </div>
                </div> 
              
              <div class="row ml-0 mr-0 mt-2">
              <div class="col-12 text-center"> 
                <input type="file" style="display: none"
                          accept="video/mp4,image/png,image/jpeg,image/jpg,application/pdf" #uploadInput
                          [(ngModel)]="fileName" (change)="uploadDoc($event, project, 'upload')" />
                        <button mat-stroked-button class="upload-btn" (click)="uploadDocs()"
                          [disabled]="project.enableSubmit == false && project.submitType == false"
                          *ngIf="project.projectActivity.submitAction !== 'submit'">
                          <mat-icon class="icon-color m-t-m-2">add</mat-icon>
                          Add your files
                        </button>

                        <button mat-stroked-button [disabled]="project.enableSubmit == false  && project.submitType == false" class="submit-btn"
                          (click)="learnerSumbitdeleteVideo(project, '' ,'submit')"
                          *ngIf="project.projectActivity.submit_status == 'notsubmitted' && project.projectActivity.videodetails.length > 0">
                          Submit
                        </button>
                        <button mat-stroked-button [disabled]="project.enableSubmit == false  && project.submitType == false"
                          *ngIf="project.projectActivity.videodetails.length == 0" class="submit-btn"> Submit </button>
                        <button mat-stroked-button class="submitted-btn" [disabled]="true"
                          *ngIf="project.projectActivity.submitAction == 'submit'">
                          Submitted
                        </button><br><br>
                        <p *ngIf="project.projectActivity.submit_status == 'notsubmitted'">Submitted files cannot be
                          edited</p>
                        <p *ngIf="project.projectActivity.submitAction == 'submit'">Submitted on:
                          {{project.submittedOn}}</p>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
  </div>

  </div>
  
