@import "../../../../assets/variable.scss";
@media (max-width: 767px) {
  .singleline-text {
    white-space: nowrap;
  }
  .projHead {
    color: $color-blank;
    margin-left: 5px;
    // position: absolute;
  }
  .materialCls {
    position: relative;
    // right: 13px;
  }
  .nomaterial {
    margin-left: 2px;
  }
  .m-l-2 {
    margin-left: 2px;
  }
  .topic {
    position: relative;
    // right: 4px;
  }
  .box-0-1{
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    height: auto;
    background-color: $color-white;
    border : 1px solid $color-border;
    // padding-bottom: 3%;
  }
  .keyboardArrow {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  .expansionarr {
    padding: 3px;
    font-weight: 600;
    width: 100%;
  }
  .activityDescription {
    margin-left: 25px;
    margin-top: 10px;
  }
  .projGroup {
    margin-top: 15px;
    .groupactivity {
      width: 40%;
    }
  }
  .mobprojDate {
    width: 59%;
    span {
      display: block;
    }
  }
  .groupBtn {
    border: 1px solid #5C6873;
    opacity: 1;
    background-color: #ffffff;
    color: #1F1A17;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: default;
  }
  .grpIcon {
    font-size: 11px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .teamName {
    position: relative;
    color: #0000EE;
    margin-left: 10px;
  }
  .materialsActivity {
    margin-top: 15px;
  }
  .work-border {
    border: 1px solid #ccc;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    opacity: 1;
    padding: 15px
  }
  .work {
    text-align: center;
    margin-bottom: 5px;
  }
  .input-hide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 9;
  }
  .materialsScrollActivity .slideLoop {
    display: inline-block;
    text-align: left;
  }
  .uploadBtn {
    font-weight: bolder;
    font-size: 15px;
    margin: 10px 0;
  }
  .add-icon {
    font-weight: bolder;
  }
  .recordBtn {
    height: 4rem;
    background-color: #F5F5F5;
    font-size: 16px;
    font-weight: bolder;
    color: #666666;
  }
  .video-icon {
    font-size: 55px;
    color: $lxp-theme-green;
    position: absolute;
    left: 5rem;
    top: 0rem;
  }
  .submitted-btn {
    color: $color-white !important;
    background-color: rgba(192, 34, 34, 0.5);
    width: 45%;
    // position: absolute;
    // left: 81px;
    cursor: not-allowed;
  }
  .submit-btn{
    color: $color-white !important;
    background-color: rgba(192, 34, 34, 0.5);
    width: 45%;
    // margin-top: 6%;
  }
  .submitBtn {
    height: 3rem;
    width: 80%;
    background-color: $lxp-theme-green;
    color: $color-white;
    margin-left: 2.1rem;
  }
  .playBtn {
    font-size: 25px;
    position: absolute;
    top: 1.10rem;
    left: 0.7rem;
    color: white;
  }
  .catnamenew {
    color: #3f444a;
    text-transform: capitalize;
    font-size: 16px;
    margin-left: 2rem;
    font-weight: 900 !important;
  }
  // .carouselCol {
  //   max-width: 100% !important;
  //   height: 15rem;
  // }
  .carouselCol1, 
  .carouselCol {
    padding: 0 !important;
    margin-left: 0;
    width: 10em;
    height: 6.7em;
    display: inline-block;
    margin-right: 10px;
  }
  .carouselRow1 {
    height: 100%;
    text-align: center;
  }
  .iterationCard {
    height: 100%;
    position: relative;
    border: 1px solid #707070;
  }
  .del-pos {
    position: absolute;
    right: 0;
    top: 0;
  }
  .iterationicons {
    font-size: 24px;
    color: #898989;
  }
  .fileSelDet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .fileSelDet, .fileSelDetHover {
    background-color: #5C6873;
  }
  .fileNameCol {
    // padding-left: 5px !important;
    width: 100%;
  }
  .trendingCategoriesScrollActivity .slideLoop {
    display: inline-block;
    text-align: left;
  }
  .m-r-40 {
    margin-right: 40px;
  }
  .m-rr-5 {
    margin-right: -5px;
  }

.m-r-13 {
  margin-right: 13px;
}
.margin-30{
  margin-left: 78px;
}
.m-l-16 {
  margin-left: 16px;
}
.m-l-8 {
  margin-left: 8px;
}
.margin-21{
  margin-left: 21px;
}
.fileData {
  background-color: #D5D5D5;
  border: 0.25px solid #707070;
  width: 100%;
  height: 2.8rem;
  padding: 0.3rem 5px;
}
.videoPlay {
  color: #898989;
  font-size: 25px;
  background-color: white;
  width: 2.5rem;
  height: 2rem;
  padding: 4px 5px 5px 7px;
  border-radius: 2px;
  cursor: default;
}
.uploadfileName {
  position: relative;
  left: 10px;
  top: 5px;
}
.box-0-2{
  margin-top: 10px;
  margin-left: 30px;
  width: 79%;
  padding: 20px;
  padding-bottom: 3%;
  overflow: hidden;
  height: auto;
  background-color: $color-white;
  border : 1px solid $color-border;
}
// .upload-btn {
//   width: 100%;
// }
.closeDialog {
  float: right;
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: large;
}
    ::ng-deep .learnerDialog .mat-dialog-container {
      position: relative !important;
      right: 80px !important;
      // bottom: -40px !important;
      overflow: hidden;
    }
    ::ng-deep .learner .list-group-item {
      border: none !important;
      padding: 0rem 0rem;
      padding-bottom: 0.50rem;
    }
    .grpName {
      position: relative;
      top: -5px;
      right: 0px;
    }

    .redHover:hover {
      color: $lxp-theme-green !important;
    }
    .backIc {
      width: 10px !important;
      margin-left: 10px !important;
    }
    .errormsg {
      position: absolute;
      top: 195px;
      left: 6px;
      width: 96%;
      font-size: 17px;
      padding: 8px;
      font-weight: 500;
      background: #F7FBFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 0.5px solid #707070;
      border-radius: 10px;
      opacity: 1;
    }
    .assignImg {
      height: 32px;
    }
   .txt {
    margin-left: 5px;
    position: relative;
    top: 3px;
   }
  //Ramya's Css ends here
  .dot {
    height: 10px;
    width: 10px;
    background-color: #6A6A6A;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  
  .submitdot {
    background-color: #FFA04E;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }

  .gradedot {
    background-color: #0C781B;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    right: 9px;
}
  .graded {
    color: #0C781B;
    position: relative;
    right: 3px;
  }
  .download-button {
    background: #C02222 !important;
    float: right;
    position: relative;
    top: -6px;
    right: 42px;
    height: 35px;
    width: 35px;
}
.close-button {
  background: #C02222 !important;
  float: right;
  top: -7px;
  position: relative;
  right: -39px;
  height: 35px;
  width: 35px;
}
.close-button1 {
  background: #C02222 !important;
  float: right;
  top: -7px;
  position: relative;
  height: 35px;
  width: 35px;
}
.closeBtn {
  background: #C02222 !important;
  height: 35px;
  width: 35px;
  // position: relative;
  // left: 37px;
  // bottom: 5px;
}
.close-buttonVideo {
  background: $lxp-theme-green !important; // red color
  // float: right;
  top: -12px;
  position: relative;
  height: 35px;
  width: 35px;
}

.textGrayColor {
  color: $color-lightGray;
}

.submitstatus {
  color: #FFA04E;
}

.gradeStatus {
  color: #0C781B;
}

.performCard {
    width: 100%;
    height: 10rem;
    padding: 8px !important;
}

.titleCase {
    font-size: 16px;
    font-weight: bolder;
}

.subTittle {
    font-size: 14px;
    font-weight: bolder;
    color: black;
    margin: 0 0 10px !important;
}

.yettoSubmit {
    margin: 0px 0px 3px;
}

.activityDisc {
  color: $label2;
  margin: 0px 0px 3px;
}

.brickMaking {
  font-size: 14px;
  color: #666666;
}

.matCard {
  padding: 16px 10px 16px 10px !important;
}

.matIcon {
    position: absolute;
    top: -5px;
    right: 0px;
}

.arrowPopup {
    position: absolute;
    top: -3px;
}

.itration {
  margin: 0px 0px 20px;
}

:host ::ng-deep  .recordBtn .mat-button-wrapper {
  margin-left: 4rem;
}

:host ::ng-deep .submitBtn .mat-stroked-button:not([disabled]) {
  color: #ffffff96 !important;
  background-color: #c0222299 !important;
}

  .previewTxt {
    font-size: 16px;
  }

  .previewVideoScreen {
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: white;
    position: absolute;
  }

  .previewCol {
    border: 1px solid #66666680;
    padding: 1rem;
  }

  .previewCard {
    width: 90%;
  }

  .videoCell {
    height: 180px;
  }

  .icons {
    font-size: 30px;
    padding: 1.2rem 2.5rem;
    color: #898989;
  }

  .icons-1 {
    font-size: 30px;
    padding: 1.2rem 5.2rem;
    color: #898989;
  }

  .materialCard {
    width: 7rem;
    height: 8rem;
  }

  .materialCards {
    width: 12rem;
    height: 8rem;
    margin-left: 2rem;
  }

  .fileColor {
    font-size: 10px;
    color:#E8E8E8;
  }

  .saveBtn {
    color: $color-white;
    background-color: $lxp-theme-green;
    height: 2rem;
    width: 6rem;
  }

  .cancelBtn {
    border: 1px solid $lxp-theme-green;
    height: 2rem;
    width: 6rem;
    margin-left: 21%;
  }

  .textSize {
    font-size: 12px;
  }

  .matCardIconRow {
    height: 60%;
  }

  .deleteIcon {
    color: #5C6873;
    font-size: 21px;
    margin-top: 4px;
  }

  .close-buttonVideo {
    background: $lxp-theme-green !important; // red color
    float: right;
    top: -8px;
    position: relative;
    height: 35px;
    width: 35px;
  }

  .noSessionCard {
    margin: auto;
    margin-top: 15%;
    border-radius: 0;
    opacity: 1;
    text-align: center;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border-left: 3px solid #ffc107bf !important;
    width: 90%;
    padding: 20px 15px !important;
    @media only screen and (min-width: 576px) {
      width: 90%;
    }
    @media only screen and (min-width: 768px) {
      padding: 30px 15px !important;
      width: 82%;
    }
    @media only screen and (min-width: 992px) {
      width: 65%;
    }
    @media only screen and (min-width: 1200px) {
      width: 50%;
    }
    @media only screen and (min-width: 1600px) {
      width: 40%;
    }
  }
  .color-yellow-card-status {
    border-left: 3px solid $lxp-status-yellow !important;
    color: $color-blank !important;
  }

  .flexStyle {
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
      flex-wrap: nowrap;
    }
  }

  .sessionImg {
    width: 100%;
    @media only screen and (min-width: 768px) {
      width: 20%;
    }
  }
  .noSessionImg {
    width: 45px;
    margin-left: 0%;
  }

  .noData {
    font: normal normal normal 18px/22px Roboto Condensed;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    width: 100%;
    text-align: center;
    margin-top: 7px;
    @media only screen and (min-width: 576px) {
      font: normal normal normal 19px/29px Roboto Condensed;
    }
    @media only screen and (min-width: 768px) {
      text-align: left;
      width: 78%;
      font: normal normal normal 23px/29px Roboto Condensed;
    }
  }
}



:host ::ng-deep .widthClass .owl-carousel.owl-drag .owl-item {
  width: 15.5rem !important;
}


.carouselText {
  font-size: 12px;
  color: #ffffff;
}

:host ::ng-deep .owlHeight .owl-theme {
  height: 11rem !important;
}

:host ::ng-deep .widthClass .owl-theme {
  height: 11rem !important;
}

:host ::ng-deep .widthClass .owl-theme .owl-nav {
  display: none !important;
}
