<!----------------------------------Username and Password--------------------------------->
<div class="loginWrapper">
  <mat-card class="h-100 loginContainer d-flex justify-content-start">
    <div class="brandLogo d-lg-flex justify-content-between align-items-center flex-column">
      <div class="topImage">
        <figure class="logo">
          <img alt="" src="assets/learner/EduTech_Logo.svg">
        </figure>
      </div>
      <div class="middleImage">
        <figure class="obstacles">
          <img src="assets/learner/EntryImage.svg" alt="" />
        </figure>
      </div>
      <div class="downloadApp d-flex justify-content-center align-items-center">
        <span>Download our Mobile app</span>
        <figure class="googlePlay">
          <img alt="" src="assets/learner/googlePlay.png">
        </figure>
        <figure class="appStore">
          <img src="assets/learner/appStore.png" alt="" />
        </figure>
      </div>
    </div>
    <div class="loginSection">
      <div class="signInContainer d-flex justify-content-center align-items-center flex-column h-100">
        <figure class="logo">
          <img alt="" src="assets/learner/EduTech_Logo.svg">
        </figure>
        <div class="resetpassword">
          <h1>set the password</h1>
          <form [formGroup]="passwordForm" autocomplete="off">
            <mat-form-field  appearance="outline">
              <mat-label class="label-color">{{'Email ID' | translate}}</mat-label>
              <input matInput readonly type="text" value={{emailid}}  formControlName="username">
            </mat-form-field>

            <mat-form-field class="pswdErrorMsg" appearance="outline">
              <mat-label  class="label-color">{{'Password' | translate}}</mat-label>
              <input matInput maxlength="20" onCopy="return false" onDrag="return false" onpaste="return false" [placeholder]="'Enter password' | translate " [type]="hide ? 'password' : 'text'" (keyup)="change($event)"
               formControlName="password" [ngClass]="{ 'is-invalid': pf.password.touched && pf.password.errors }" required>
              <em class="lxp-Lock icon-color" matPrefix></em>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <em class="icon-color" [ngClass]="hide ? 'lxp-VisibilityOff' : 'lxp-Visibility'"></em>
              </button>
              <mat-error class="error"  *ngIf="passwordForm.get('password').hasError('required')">
                {{'Password is required' | translate}}
              </mat-error>
              <mat-error class="error" *ngIf="passwordForm.get('password').hasError('minlength')">
              {{'Password must be at least 8 characters, one uppercase, number and special character' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label  class="label-color">{{'Confirm password' | translate}}</mat-label>
              <input matInput maxlength="20" onCopy="return false" onDrag="return false" onpaste="return false" [placeholder]="'Enter confirm password' | translate" [type]="hide2 ? 'password' : 'text'"
               formControlName="confirmpassword"   [ngClass]="{ 'is-invalid': pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword) }" required>
              <em class="lxp-Lock icon-color" matPrefix></em>
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <em class="icon-color" [ngClass]="hide2 ? 'lxp-VisibilityOff' : 'lxp-Visibility'"></em>
              </button>
              <mat-error class="error"  *ngIf="passwordForm.value.password != passwordForm.value.confirmpassword">
                {{'Should be same as password' | translate}}
              </mat-error>
            </mat-form-field>
          <div class="gradientBtn">
            <button id="login" mat-raised-button (click)="submit()" [disabled]="!passwordForm.valid">
              <span *ngIf="!loader">{{'SUBMIT' | translate}}</span>
              <div *ngIf="loader" class="snippet" data-title=".dot-falling">
                <div class="stage">
                  <div class="dot-falling"></div>
                </div>
              </div></button>
          </div>
          </form>
        </div>
         
      </div>
    </div>
  </mat-card>
</div>
