<!----------------------------------Username and Password--------------------------------->
<div class="limiter">
  <div class="row container-reg200">
    <div class="col-md-8 col-sm-12 col-12">
      <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/lapBG.jpeg">
      <div class="row footer20">
        <div class="col-8">
          <span class="footertext">© 2020 L&T EduTech.</span>
        </div>
        <div class="col-4">
          <span class="powered">Powered by:
            <img class="footericon" alt="" src="assets/learner/LT_small.svg">
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div class="wrap-reg">
        <img class="kauhalya" alt="" src='assets/images/l&t.png'>
        <form [formGroup]="passwordForm">
          <h1 class="animated animatedFadeInUp fadeInUp signIn">Set the password</h1><br><br>

          <!-- <div class="form-group">
            <label class="fromLabel">Username</label>
            <input type="text" formControlName="username" placeholder="" class="form-control"
              [ngClass]="{ 'is-invalid': pf.username.touched && pf.username.errors }" (blur)="checkForExistingUser()" />
            <div *ngIf="pf.username.touched && pf.username.errors" class="invalid-feedback">
              <div *ngIf="pf.username.errors.required">Username is required</div>
              <div *ngIf="pf.username.errors.pattern">Username is invalid</div>
              <div *ngIf="pf.username.errors.maxlength || pf.username.errors.minlength">Username must be 3-20 characters
                long </div>
            </div>
          </div> -->
         
            <mat-form-field  appearance="outline">
              <mat-label class="label-color">Username</mat-label>
              <input matInput  placeholder="Enter username"  formControlName="username" (blur)="checkForExistingUser()"  
              [ngClass]="{ 'is-invalid': pf.username.touched && pf.username.errors }" required>
            
              <mat-icon matPrefix class="icon-color">person_outline</mat-icon>
              <!-- <mat-error class="error" *ngIf="f.username.touched && f.username.errors">Username is required</mat-error> -->
              <mat-error class="error"  *ngIf="passwordForm.get('username').hasError('required')">
                Username is Required
              </mat-error>
            <mat-error class="error" *ngIf="passwordForm.get('username').hasError('minlength')">
              Username should be atleast 3 characters long
              </mat-error>
          
              <mat-error class="error" *ngIf="passwordForm.get('username').hasError('maxlength')">
                Username can be atmax 20 characters long
              </mat-error>
          
              <mat-error class="error" *ngIf="passwordForm.get('username').hasError('pattern')">
                Username is invalid
              </mat-error>
            </mat-form-field>


          <!-- <label class="fromLabel">Password</label>

          <div class="input-group">
            <input class="form-control border-right-0" [type]="showpassbutton ? 'text' : 'password'"
              formControlName="password" maxlength="20" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" placeholder=""
              [ngClass]="{ 'is-invalid': pf.password.touched && pf.password.errors }" (keyup)="change($event)" />
            <span class="input-group-append bg-white border-left-0">
              <span class="input-group-text bg-transparent">
                <i [class]="showpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showPassword()"
                  aria-hidden="true"></i>
              </span>
            </span>
            <div *ngIf="pf.password.touched && pf.password.errors" class="invalid-feedback">
              <div *ngIf="pf.password.errors.required">Password is required</div>
              <div *ngIf="pf.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="pf.password.errors.pattern">Your password must contain at least one number and have a mixture
                of special character uppercase and lowercase letters.</div>
            </div>
          </div> -->
          <div class="space5"></div>
          <mat-form-field  appearance="outline">
            <mat-label  class="label-color">Password</mat-label>
            <input matInput maxlength="20" onCopy="return false" onDrag="return false"  placeholder="Enter password" [type]="hide ? 'password' : 'text'" (keyup)="change($event)"
             formControlName="password" [ngClass]="{ 'is-invalid': pf.password.touched && pf.password.errors }" required>
            <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="icon-color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
           
            <mat-error class="error"  *ngIf="passwordForm.get('password').hasError('required')">
              Password is required
            </mat-error>
          <mat-error class="error" *ngIf="passwordForm.get('password').hasError('minlength')">
            Password must be at least 8 characters
            </mat-error>
            <!-- <mat-error class="error" *ngIf="passwordForm.get('password').hasError('pattern')">
              Your password must contain at least one number and have a mixture of special character uppercase and lowercase letters.
            </mat-error> -->
          </mat-form-field>
<!-- 
          <div class="box" id="message">
            <div class="row">
              <div class="col">
                <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                  Uppercase</p>
                <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                  Lowercase</p>
              </div>
              <div class="col">
                <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check"
                    aria-hidden="true"></i> Special character</p>
                <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i> Number</p>
              </div>
            </div>
          </div><br> -->

          <!-- <label class="fromLabel">Confirm Password</label>
          <div class="input-group">
            <input class="form-control border-right-0" [type]="showconpassbutton ? 'text' : 'password'"
              formControlName="confirmpassword" maxlength="20" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" placeholder=""
              [ngClass]="{ 'is-invalid': pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword) }" />
            <span class="input-group-append bg-white border-left-0">
              <span class="input-group-text bg-transparent">
                <i [class]="showconpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showconPassword()"
                  aria-hidden="true"></i>
              </span>
            </span>
            <div
              *ngIf="pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword)"
              class="invalid-feedback">
              <div *ngIf="(passwordForm.value.password != passwordForm.value.confirmpassword)"> Should be same as
                password</div>
            </div>
          </div> -->
          <div class="space5"></div>
          <mat-form-field  appearance="outline">
            <mat-label  class="label-color">Confirm password</mat-label>
            <input matInput maxlength="20" onCopy="return false" onDrag="return false"  placeholder="Enter confirm password" [type]="hide2 ? 'password' : 'text'"
             formControlName="confirmpassword"   [ngClass]="{ 'is-invalid': pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword) }" required>
            <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon class="icon-color">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="error" *ngIf="(passwordForm.value.password != passwordForm.value.confirmpassword)">
              Confirm password should be same as password
            </mat-error>
          </mat-form-field>

          <div class="row">
            <div class="col-12">
                <div class="alert1">Your password must be a mixture containing at least one number, one special character, one uppercase and one lowercase letters.
                </div>
            </div>
        </div>

          <!-- <div class="button"> -->
            <button class="btn" mat-raised-button [disabled]="!passwordForm.valid" (click)="submit()">SUBMIT</button>
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>