 <!----------------------------------Username and Password--------------------------------->
 <div class="limiter">
  <img alt="" class="lnt_logo" src="../../../../assets/learner/WHITE_LNT T_LOGO.svg"> 
  <span class="pg"><span style="font-size: 12px;">Already have an account !</span>&nbsp;&nbsp;<a class="link" [routerLink]="['/Learner/login']">Sign in</a></span>
<!-- <span class="privcy"> Privacy policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms & conditions</span> -->
    <div class="container-reg200">
      <div class="wrap-reg p-l-50 p-r-50 p-t-77">
        <h1 class="signIn">Set the password</h1><br><br><br>
  <form [formGroup]="passwordForm">
  <div class="form-group">
    <label class="fromLabel">User Name</label>
    <!-- <span class="star"> *</span> -->
    <input type="text" formControlName="username" placeholder="" class="form-control"
        [ngClass]="{ 'is-invalid': pf.username.touched && pf.username.errors }"  (input)="userNamesuggestion($event.target.value)"  [matAutocomplete]="auto" 
        (blur)="checkForExistingUser()" />
    <div *ngIf="pf.username.touched && pf.username.errors" class="invalid-feedback">
        <div *ngIf="pf.username.errors.required">User Name is required</div>
        <div *ngIf="pf.username.errors.pattern">User Name is invalid</div>
        <div *ngIf="pf.username.errors.minlength">User Name must be 3 characters long </div>
        <div *ngIf="pf.username.errors.maxlength">User Name must be 20 maximum of characters</div>
    </div>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-autocomplete>
</div>
<label class="fromLabel">Password</label>
<!-- <span class="star"> *</span> -->
<div class="input-group">
    <!-- <div data-tip="Your password must contain at least one number and have a mixture
    of uppercase and lowercase letters."> -->
  <input  class="form-control border-right-0" [type]="showpassbutton ? 'text' : 'password'" formControlName="password" maxlength="20" onCopy="return false" onDrag="return false"
      onDrop="return false" onPaste="return false" 
      placeholder="" 
      [ngClass]="{ 'is-invalid': pf.password.touched && pf.password.errors }"  (keyup)="change($event)"/>
      <span class="input-group-append bg-white border-left-0">
        <span class="input-group-text bg-transparent">
          <i [class]="showpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showPassword()" aria-hidden="true"></i>
        </span>
      </span>
  <div *ngIf="pf.password.touched && pf.password.errors" class="invalid-feedback">
      <div *ngIf="pf.password.errors.required">Password is required</div>
      <div *ngIf="pf.password.errors.minlength">Password must be at least 8 characters</div>
      <div *ngIf="pf.password.errors.pattern">Your password must contain at least one number and have a mixture
          of special character  uppercase and lowercase letters.</div>
  </div>
</div>
<!-- </div> -->
<div class="box" id="message">
  <div class="row">
    <div class="col">
      <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Uppercase</p>
      <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Lowercase</p>
    </div>
    <div class="col">
      <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Special character</p>
      <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Number</p>
    </div>
  </div>
</div><br>

<label class="fromLabel">Confirm Password</label>
<!-- <span class="star"> *</span> -->
<div class="input-group">
  <input  class="form-control border-right-0" [type]="showconpassbutton ? 'text' : 'password'" formControlName="confirmpassword"  maxlength="20" onCopy="return false" onDrag="return false"
      onDrop="return false" onPaste="return false" placeholder="" 
      [ngClass]="{ 'is-invalid': pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword) }" />
      <span class="input-group-append bg-white border-left-0">
        <span class="input-group-text bg-transparent">
          <i [class]="showconpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showconPassword()" aria-hidden="true"></i>
        </span>
      </span>
  <div *ngIf="pf.confirmpassword.touched && (passwordForm.value.password && passwordForm.value.password != passwordForm.value.confirmpassword)" class="invalid-feedback">
      <div *ngIf="(passwordForm.value.password != passwordForm.value.confirmpassword)"> Should be same as password</div>
  </div>
</div>
<br><br>
<div class="button">
  <button class="btn" [disabled]="!passwordForm.valid" (click)="submit()">Submit</button>
</div>
</form>
</div>
</div>