@import "variable";
.valid{
  color:$color-blue;
  font-size: 10px;
  font-weight: 600;
}
.box{
  width: 218px;
  margin-left: 12%;

}
:host ::ng-deep.p-t-77 {
  padding-top: 21px !important;
}

:host ::ng-deep input[type=text] {
  width: 100% !important;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid $color-border;
  box-sizing: border-box;
  border-radius: 0px !important;
}

:host ::ng-deep .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  position: relative;
  flex: 1 1 0%;
  min-width: 85% !important;
  margin-bottom: 0;
}

:host ::ng-deep.signIn{
  text-align : center !important;
  margin-top: 22px !important;
  color: $color-blue !important;
  font-weight: lighter !important ;
}
  
 :host ::ng-deep .input-group-text {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 38px;
  margin-top: 1px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-width: 88% !important;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid $color-border;
  border-radius: 0px !important;
}

:host ::ng-deep.form-control {
border-radius: 0px !important; 

}

:host ::ng-deep.errspan {
  float: right;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #9E9E9E;
}
:host ::ng-deep.wrap-reg {
  width: 30%;
  height: 100%;
  border-radius: 0px !important;
  margin-left: 70% !important;
  justify-content: center; 
  align-items: center; 
  overflow: hidden !important;
}
:host ::ng-deep.pg{
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-left: 45% !important;
  margin-top: 16px;
  font-size: 14px;
  font-weight: normal !important;
}

  :host ::ng-deep .container-reg200 {
      width: 100%;
      height: 100vh!important;
      display: flex;
      justify-content: center; 
       align-items: center; 
       background-size: cover !important; 
       background-repeat: no-repeat !important;
      background: url('../../../../assets/learner/bg-6.jpg');
    }
    :host ::ng-deep.lxplogo{
  text-align: center;
  margin-left: 94px;
  margin-right: 94px;
  width: 110px;
}
:host ::ng-deep.head1{
  text-align: center;
  font-weight: 500 !important;
  font-size: 22px;
}

:host ::ng-deep.bgimg{
  width: 99%;
  height: 657px;
}
:host ::ng-deep.lnt_logo{
  position: absolute;
  width: 10%;
  margin-top: 21px;
  margin-left: 108px;
}
:host ::ng-deep.privcy{
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 45%;
  margin-left: 47% !important;
  font-size: 14px;
  font-weight: normal !important;  
}

:host ::ng-deep .btn.disabled, .btn:disabled {
  opacity: .65;
  color: $label2 !important;
  background-color: $color-border !important;
}
.link {
  color: $color-white !important;
}
// :host ::ng-deep.btn{
//   margin-top: 8%;
// }


:host ::ng-deep label {
  margin-bottom: .1em !important;
}

.fromLabel{
  color: $label  !important;
}