@import "variable";

.dialogClose{
    position: relative;
    height: 20px;
}
.dialogClose1{
    position: absolute;
    cursor: pointer;
    top: -6px;
    right: -12px
  }
  .dialogClose2{
    position: absolute;
    cursor: pointer;
    top: 14px;    
    right: -12px
  }
  .tempBody{
    display: flex;
    justify-content: center;
    padding-top: 24px;
     }
     .tempName{
        padding-top: 30px;
          padding-right: 13px;
      }

      .btnDiv{
        padding-top: 31px;
        justify-content: center;
    }

    .btnCSS{
        background-color: $color-blue;
        color: white;
        border-radius: 25px;
        outline: none;
    }
    .Bcg{
      background: #B8D0FF;
      width: 100%;
      padding-left: 17px;
      height: 38px;
      border-radius: 11px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      outline: none;  
    }
.prew1{
  display: block;
  overflow: auto;
  user-select: none;
}
.prew2{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px 10px 10px 10px;
  height: 230px;
  width: 215px;
  display: inline-block;
  margin: 25px;
  padding:22px;
}

.example-box {
  padding: 18px 11px;
  color: #1f3777;
  display: flex;
  flex-direction: inherit;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
 
}

.horizontalView{
display: flex;
flex-wrap: wrap;
font-weight: bold;
color: #1f3777;
}

.example-box1{
padding: 9px 7px;
  color: rgb(210, 216, 230);
  display: flex;
  flex-direction: inherit;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0px 0px 9px 0px;
  border-style: inherit;
  border-width: 1px

}

//   .cdk-drag-preview {
//     // box-sizing: border-box;
//     // border-radius: 4px;
//     // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//     //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
//     //             0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.alnCenter{
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.margbtwBtn{
  margin: 0px 7px 0px 12px;
}
