@import "variable";

.dialogClose {
  position: relative;
  height: 20px;
}

.dialogClose1 {
  position: absolute;
  cursor: pointer;
  top: -6px;
  right: -12px
}

.dialogClose2 {
  position: absolute;
  cursor: pointer;
}

.tempBody {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.tempName {
  padding-top: 30px;
  padding-right: 13px;
}

.btnDiv {
  padding-top: 31px;
  justify-content: center;
}

.btnCSS {
  background-color: $color-blue;
  color: white;
  border-radius: 25px;
  outline: none;
}

.Bcg {
  background: #B8D0FF;
  width: 100%;
  padding-left: 17px;
  height: 38px;
  border-radius: 11px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
}

.prew3{
  border: 1px dotted #a09c9c;
  margin-top: 1%;
  display: block;
  user-select: none;
}


.prew1 {
  display: block;
  user-select: none;
}

.prew2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px 10px 10px 10px;
  height: 175px;
  width: 160px;
  display: inline-block;
  margin: 25px;
  padding: 22px;
}

.example-box {
  padding: 18px 11px;
  color: #1f3777;
  display: flex;
  flex-direction: inherit;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;

}

.horizontalView {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  color: #1f3777;
}

.example-box1 {
  padding: 9px 7px;
  color: rgb(210, 216, 230);
  display: flex;
  flex-direction: inherit;
  align-items: left;
  justify-content: left;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin: 0px 0px 9px 0px;
  border-style: inherit;
  border-width: 1px
}

//   .cdk-drag-preview {
//     // box-sizing: border-box;
//     // border-radius: 4px;
//     // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//     //             0 8px 10px 1px rgba(0, 0, 0, 0.14),
//     //             0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   }

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.alnCenter {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.margbtwBtn {
  margin: 0px 7px 0px 12px;
}

.backgroundcol1{
  cursor: pointer;
  background-color: #1F3777 !important;
  white-space: nowrap;
  border: 1px solid !important;
  padding-top: 8px;
  color: #ffffff;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;  
  width: 10%;
}

.close-icon{
  float: right;
  padding-right: 1%;
}

.image-container{
  max-height: 300vh;
}

.h-scroll {
  height: 100vh; 
  overflow-y: scroll;
  overflow-x: hidden;
}


#previewDialog .col-md-3{
  flex: 0 0 18% !important;
  max-width: 18% !important;
} 
#previewDialog .col-md-9{
  flex: 0 0 80% !important;
  max-width: 80% !important;
}

.left-scroll-element{
  max-height: 100%;
  overflow-y: auto;
}

.left-scroll-element::-webkit-scrollbar {
  width: 6px;
}

.left-scroll-element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.left-scroll-element::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #bbb8b8;
  transition: background-color .2s linear, width .2s ease-in-out;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.editable-content{    
    height: 100%;
    border: 2px dotted #bfb5b5;
    margin-left: 2%;
    padding: 10px;
}

.editable-content label{
  margin: 0;
  font-size: 17px;
  background: #e2e2e2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.active-slide.active{
  margin: 7%;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  background: white;
  border: 1px solid;
}

.drop-container-overflow{
  max-height: 100%;
    overflow-y: auto;
}

.edit-container{
  margin-top: 10px;
  text-align: center;
}

::ng-deep .mat-typography h1{
  color: black !important;
}
::ng-deep .second-toolbar a{
  display: none;
}

::ng-deep .fr-box {
  display: flex;
  height: 100%;
  flex-direction: column;
overflow-y: auto;

  .fr-wrapper {
    flex: 1;

    .fr-element {      
      border: 1px solid #c4bcbc;
      margin: 10px;
    }
  }
}

::ng-deep .fr-box::-webkit-scrollbar {
  width: 6px;
}

::ng-deep .fr-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::ng-deep .fr-box::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #bbb8b8;
  transition: background-color .2s linear, width .2s ease-in-out;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::ng-deep .fr-box .fr-wrapper .fr-element{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden !important;
    height: 1000px;    
}
  
::ng-deep .fr-quick-insert {
   display: none;
   }


