<div class="container pl-0 pr-0">
  <div class="row ml-0 mr-0">
    <div class="col-10 text-left m-auto moileView">
      <span class="titleCase">Assignments</span>
      <!-- <span *ngIf="course?.course_name?.length > 30">{{(course?.course_name | slice:0:20)+'...'}}</span> -->
    </div>
    <div class="col-2 text-right mobileHoriz">
      <mat-icon class="ml-3 mt-3 mb-3" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button
          (click)="
            selectedTabIndex = 0;
            selectedName = detailDataToPerform?.course_name
              ? detailDataToPerform?.course_name
              : courceDetails?.course_name;
            emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>{{
            detailDataToPerform?.course_name
              ? detailDataToPerform?.course_name
              : courceDetails?.course_name
          }}</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 1; selectedName = 'About the course'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>About the course</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 2; selectedName = 'Resources'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>Resources</span>
        </button>
        <button
          (click)="
            selectedTabIndex = 3; selectedName = 'Assignments'; emiteData()
          "
          class="matTabMenu"
          mat-menu-item
        >
          <span>Assignments</span>
        </button>
        <button
          (click)="selectedTabIndex = 4; selectedName = 'Forum'; emiteData()"
          class="matTabMenu"
          mat-menu-item
        >
          <span>Forum</span>
        </button>
        <button
          (click)="selectedName = 'perform'"
          class="matTabMenu"
          mat-menu-item
        >
          <span>Perform</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="row ml-0 mr-0">
    <div class="col-12 pl-0 pr-0">
      <div class="row ml-0 mr-0">
        <div class="col-12 text-left">
          <mat-icon class="arrowPopup mr-2" aria-hidden="false">
            keyboard_backspace</mat-icon>
          <span class="f_wt_600 size catnamenew">Back</span>
          <p class="subTittle">{{courseName}}</p>
        </div>
      </div>
      <mat-accordion class="example-headers-align" multi *ngIf="assignmentContent?.coursedetails.length > 0">
          <ng-container *ngFor="let res of assignmentContent?.coursedetails; let i = index">
              <mat-expansion-panel class="expand" *ngFor="let mod of res?.moduledetails">
                  <mat-expansion-panel-header class="height">
                      <!-- <mat-panel-title>
                        <span>{{res?.modulename}}
                        </span>
                      </mat-panel-title> -->
                      <div class="container height">
                          <div class="row ml-0 mr-0 mt-3">
                              <div class="col-7 pr-0">
                                <!-- <p class="subTittle">{{courseName}}</p> -->
                                <span>{{res?.modulename}}</span>
                              </div>
                              <!-- <div class="col-5 text-right pl-0">
                                <p class="yettoSubmit"><span class="dot"></span> Yet to submit</p>
                              </div> -->
                            </div>
                            <br />
                            <div class="row ml-0 mr-0 mt-3">
                                <div class="col-6 pr-0">
                                  <div class="row mr-0 ml-0">
                                    <div class="col-9 mr-0 pl-0 pr-0">
                                      <span class="font-weight-bold">{{mod?.topicname}}</span>
                                    </div>
                                    <!-- <div class="col-2 mr-0 pl-0 pr-0 text-left"></div> -->
                                  </div>
                                </div>
                                <div class="col-6 text-right pl-0">
                                  <div class="row mr-0 ml-0">
                                    <div class="col-6 mr-0 pl-0 pr-0 text-left">
                                      <span class="font-weight-bold">Start date:</span><br />
                                      <span>{{courseStartDate}}</span>
                                    </div>
                                    <div class="col-6 mr-0 pl-0 pr-0 text-left">
                                      <span class="m-l-5 font-weight-bold">End date:</span><br />
                                      <span class="m-l-5">{{courseEndDate}}</span>
                                    </div>
                                    <!-- <div class="col-2 mr-0 pl-0 pr-0 text-left"></div> -->
                                  </div>
                                </div>
                            </div>
                      </div>
                      
                    </mat-expansion-panel-header>
                      <ng-container *ngFor="let file of mod.resourse?.files">
                          <!-- <div class="row ml-0 mr-0 mt-3 width">
                            <div class="col-12 pr-0 text-left">
                              <p class="activityDisc font-weight-bold">Total score</p>
                              <p class="brickMaking score">{{file.score_mark}} / {{file.score}}</p>
                            </div>
                          </div> -->
                        <div class="row ml-0 mr-0 mt-3 width">
                          <div class="col-12 pr-0 text-left">
                            <p class="activityDisc font-weight-bold">Assignment name</p>
                            <p class="brickMaking">{{file.type_name}}</p>
                          </div>
                        </div>
                        <br />
                        <div class="row ml-0 mr-0 mt-3 width">
                          <div class="col-12 pr-0 text-left">
                            <p class="activityDisc font-weight-bold">Question</p>
                            <mat-icon *ngIf="file.enableView" (click)="previewDoc(previewDialog,file)"
                              class="viewDoc">find_in_page
                            </mat-icon>
                            <mat-icon *ngIf="!file.enableView" class="viewDoc">find_in_page
                            </mat-icon>
                          </div>
                        </div>
                      <div class="row ml-0 mr-0 width">
                        <div class="col-12">
                            <div class="row ml-0 mr-0 mt-2">
                              <div class="col-12 text-center border"> 
                                <span mat-stroked-button class="uploadBtn mt-3 w-100" *ngIf="file?.enableUpload">
                                  <mat-icon (click)="fileInput.click()" class="add-icon">upload</mat-icon>
                                </span>
                                <span mat-stroked-button class="uploadBtn mt-3 w-100" *ngIf="!file?.enableUpload">
                                  <mat-icon class="add-icon gradedUpload">upload</mat-icon>
                                </span>
                                <input type="file" id="upload-file" #fileInput multiple 
                                (change)="uploadAssignmentsFile($event,file._id,res?.modulename,mod?.topicname,file.type_name,file?.score,file?.endDate,file?.path)" />
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row ml-0 mr-0 mt-3 width">
                        <div class="col-12 pr-0 text-left">
                          <p *ngIf="file.doc_status === false && file.grade_status === 'Not Evaluated'" class="yettoSubmit"><span class="submitdot"></span> Submitted</p>
                          <p *ngIf="file.doc_status && file.grade_status != 'Evaluated'" class="yettoSubmit"><span class="dot"></span> Yet to submit</p>
                          <p *ngIf="file.grade_status === 'Evaluated'" class="yettoSubmit"><span class="gradedot"></span> Graded</p>
                        </div>
                      </div>
                      </ng-container>
                    <!-- </div> -->
              </mat-expansion-panel>
            </ng-container>
      </mat-accordion>
      <div class="row ml-0 mr-0 width errmsg" *ngIf="assignmentContent?.coursedetails.length < 1">
        <div class="col-12 m-auto">
            <div class="row ml-0 mr-0 mt-2">
              <div class="col-12 text-center"> 
                  <span class="errormsg">
                    <img class="assignImg" alt="" src="assets/006-assignment1.svg">
                    <span class="m-l">You have no assignments at the moment!</span>
                  </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #previewDialog>
    <div class="row">
      <div class="col-12">
        <button mat-mini-fab class="download-button">
          <mat-icon class="download-icon" (click)="downloadPdf(docpath)">get_app</mat-icon>
        </button>
        <button mat-mini-fab class="close-button">
          <mat-icon class="download-icon" (click)="closedialogbox()">close</mat-icon>
        </button>
      </div>
    </div>
    <div class="row" *ngIf="docpath">
      <div class="col-12">
        <app-pdfreader [url]="docpath"></app-pdfreader>
      </div>
    </div>
  </ng-template>