

<nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>

        <li class="breadcrumb-item" aria-current="page"><a href="/Admin/auth/Wca">Create Courses</a></li>

        <li class="breadcrumb-item active" aria-current="page">Create Module</li>
    </ol>
</nav>


  


<div class="container wrap-body">
    <div class="row">
      
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="bcgClrSync">
                   
                        <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                            
                        </mat-panel-title>
                        <mat-card style="text-align: center;">
                            <mat-grid-list [cols]="breakpoint"  rowHeight="1.70:2">
    
                              <div class="row">
                          <div class="col-md-2">   <img class="img" [src]="queryData?.image ? queryData?.image : '../../../../assets/images/image_upload.svg'">
                        <br><span>{{queryData?.courseName}}</span>
                        
                        </div>
                          <div class="col-md-3">   
                          
                           

                           <div class="wrapper_1"> <mat-icon  (click)="navChooseTemp()"
                            >add_circle_outline</mat-icon></div>
                         <div style="margin: -28px 97px 0px 0px">   <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                                Add Module
                            </mat-panel-title></div>
                        
                        </div>

                        <div class="col-md-3">   
                            <!-- routerLink="/Admin/auth/Wca/viewmodule" -->
                            
                <button  mat-stroked-button class="upload-btn"  (click)="navViewModule()">
                    
                   <span style="padding: 2px 176px 13px 0px;" >Upload a SCORM Course </span>

                    <mat-icon (click)="add(in)" style="margin:2px -156px 3px -157px;"
                    >file_upload</mat-icon>
                    
                  

                   

                </button>

                           
<!-- <button  class="backgroundcol2">
                            <div> <mat-icon (click)="add(in)" style="margin:59px -353px -70px -218px;"
                                >file_upload</mat-icon></div>

                                <div style="margin: -28px 97px 0px 0px">   <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                                    Add a SCROM Course
                                </mat-panel-title></div>
                            </button> -->
                             
                        </div>
                        

                        </div>
                            </mat-grid-list>
                        </mat-card>
                        
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>



