
<div><app-wca></app-wca></div>

<nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Wca">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">Create Courses</li>

        <li class="breadcrumb-item active" aria-current="page">Create Module</li>
    </ol>
</nav>


  


<div class="container wrap-body">
    <div class="row">
      
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true">
                   
                        <mat-panel-title class="f_wt_500 f_size_18 color_blue">
                            
                        </mat-panel-title>
                        <mat-card style="text-align: center;">
                            <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="1.70:2">
    
<div class="row">
                          <div class="col-md-2">   <img class="img" src="../../../../assets/images/image_upload.svg"></div>
                          <div class="col-md-10">   
                            
                            
                              <tr>
                                <td>
                            <mat-panel-title class="f_wt_500 f_size_18 color_blue">Course Name
                          </mat-panel-title>
                        </td>
                        <td><mat-panel-title class="f_wt_500 f_size_18 color_blue">HTML
                        </mat-panel-title></td>
                        </tr>
                        <tr>
                          <td>
                      <mat-panel-title class="f_wt_500 f_size_18 color_blue">Course Description
                    </mat-panel-title>
                  </td>
                  <td>                      <mat-panel-title class="f_wt_500 f_size_18 color_blue">This is Good</mat-panel-title>
                  </td>
                  </tr>
                  <tr>
<td> <button class="backgroundcol2" routerLink="/Wca/viewmodule" >Module Name</button></td>

                  </tr>
                        
                     <tr><td>
                   
                    </td></tr>   

                        </div>


                        </div>
                            </mat-grid-list>
                        </mat-card>
                        
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>



<div><app-footer></app-footer></div>