<app-header></app-header>
<nav aria-label="breadcrumb" class="coursebreadcrumb ">
  <ol class="breadcrumb contentTop">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-3 col-sm-12 col-12">

    <div class="smallbox">
      <h2>Courses enrolled</h2>
      <div class="row">
        <div class="col-8">
          <span class="count">{{dashboardData?.courseEnrolled.totalCount}}</span>
        </div>
        <div class="col-4">
          <img class="icon" src="../../../../assets/learner/CoursesEnrolled.svg">
        </div>
      </div><br>

      <!-- <div class="row">
        <div class="col-4" *ngIf="dashboardData?.courseEnrolled.IncDecPec != false">
          <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
          <span class="trendno">{{dashboardData?.courseEnrolled.valueIncDecPec}}%</span>
        </div>
        <div class="col-4" *ngIf="dashboardData?.courseEnrolled.IncDecPec == false">
          <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
          <span class="trendnodown">{{dashboardData?.courseEnrolled.valueIncDecPec}}%</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.courseEnrolled.IncDecPec != false">
          <span class="text">Up from yesterday</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.courseEnrolled.IncDecPec == false">
          <span class="text2">Down from yesterday</span>
        </div>
      </div> -->
    </div>
  </div>

  <div class="col-md-3 col-sm-12 col-12">
    <div class="smallbox">
      <h2>Courses yet to start</h2>
      <div class="row">
        <div class="col-8">
          <span class="count">{{dashboardData?.incomplete[0].totalCount}}</span>
        </div>
        <div class="col-4">
          <img class="icon" src="../../../../assets/learner/CoursesYettoStart.svg">
        </div>
      </div><br>

      <!-- <div class="row">
        <div class="col-4" *ngIf="dashboardData?.incomplete[0].IncDecPec != false">
          <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
          <span class="trendno">{{dashboardData?.incomplete[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-4" *ngIf="dashboardData?.incomplete[0].IncDecPec == false">
          <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
          <span class="trendnodown">{{dashboardData?.incomplete[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.incomplete[0].IncDecPec != false">
          <span class="text">Up from yesterday</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.incomplete[0].IncDecPec == false">
          <span class="text2">Down from yesterday</span>
        </div>
      </div> -->
    </div>
  </div>

  <div class="col-md-3 col-sm-12 col-12">
    <div class="smallbox">
      <h2>Courses in-progress</h2>
      <div class="row">
        <div class="col-8">
          <span class="count">{{dashboardData?.suspend[0].totalCount}}</span>
        </div>
        <div class="col-4">
          <img class="icon" src="../../../../assets/learner/CoursesInprogress.svg">
        </div>
      </div><br>
<!-- 
      <div class="row">
        <div class="col-4" *ngIf="dashboardData?.suspend[0].IncDecPec != false">
          <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
          <span class="trendno">{{dashboardData?.suspend[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-4" *ngIf="dashboardData?.suspend[0].IncDecPec == false">
          <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
          <span class="trendnodown">{{dashboardData?.suspend[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.suspend[0].IncDecPec != false">
          <span class="text">Up from yesterday</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.suspend[0].IncDecPec == false">
          <span class="text2">Down from yesterday</span>
        </div>
      </div> -->
    </div>
  </div>
  <div class="spinner-container" *ngIf="loadingCatalogue">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="col-md-3 col-sm-12 col-12">
    <div class="smallbox">
      <h2>Courses completed</h2>
      <div class="row">
        <div class="col-8">
          <span class="count">{{dashboardData?.completed[0].totalCount}}</span>
        </div>
        <div class="col-4">
          <img class="icon" src="../../../../assets/learner/CoursesCompleted.svg">
        </div>
      </div><br>

      <!-- <div class="row">
        <div class="col-4" *ngIf="dashboardData?.completed[0].IncDecPec != false">
          <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
          <span class="trendno">{{dashboardData?.completed[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-4" *ngIf="dashboardData?.completed[0].IncDecPec == false">
          <img class="trendicon" src="../../../../assets/learner/Trending_down.svg">
          <span class="trendnodown">{{dashboardData?.completed[0].valueIncDecPec}}%</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.completed[0].IncDecPec != false">
          <span class="text">Up from yesterday</span>
        </div>
        <div class="col-8" *ngIf="dashboardData?.completed[0].IncDecPec == false">
          <span class="text2">Down from yesterday</span>
        </div>
      </div> -->
    </div>
  </div>
</div>


<div class="container containerShadow">
    <span class="txthead"><b>Last accessed </b><span class="h8">Courses</span> (click on any course to resume)</span>

     
      
         
            <div class="row" >
              <div class="col-md-6 col-sm-12 col-12" *ngFor="let dashboard of dashboardData?.lastAccessedCourses">
              <div class="lg-box" (click)="gotohome()" >

             <div class="row">
               <div class="col-3">
                <img class="imge" src="{{dashboard?.course_img_url}}">
               </div>

               <div class="col-8">
                <h3 class="coursehead">{{dashboard?.course_name}}</h3>
                <mat-progress-bar class="border-radius-5" mode="determinate"[value]="dashboard?.coursePlayerStatus != null ? dashboard?.coursePlayerStatus.course_percentage : '0' ">
                </mat-progress-bar>
                <span class="percent">{{dashboard?.coursePlayerStatus != null ? dashboard?.coursePlayerStatus.course_percentage : '0'}}% Complete</span>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
