@import "variable";
.m-b-10 {
    margin-bottom: 10px !important;
}
.example-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  min-width: 300px;
  cursor: pointer;
  .mat-stroked-button {
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 0px;
    margin: 1px;
  }

  // .mat-header-cell:last-of-type {
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  //   display: initial;
  //   text-align: center;
  // }
}
.btnCss {
    display: inline-block;
    font-weight: 400;
    color: $color-white !important;
    text-align: center;
    vertical-align: middle !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $color-blue ;
    border-radius: 0px !important;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
}

// :host ::ng-deep.svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
//   margin-left: 0px !important;
//   margin-top: -12px !important;
// }

// ::ng-deep .mat-datepicker-toggle {
//   margin-top: -12px !important;
//   margin-left: 0px !important;

// }

// ::ng-deep .mat-datepicker-toggle{
//   margin-left: 0px !important;
//   color:aqua;
// }

::ng-deep  .svg.mat-datepicker-toggle-default-icon.ng-star-inserted
{

  color:aqua;

}
.matDatepickerToggleIcon {
  margin-right: 10px !important;
  margin-left: 0px !important;

}
