.m-b-10 {
    margin-bottom: 10px !important;
}

.example-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    min-width: 300px;
    cursor: pointer;
    .mat-stroked-button {
      font-size: 12px;
      cursor: pointer;
      line-height: 20px;
      padding: 0 0px;
      margin: 1px;
    }
  
    // .mat-header-cell:last-of-type {
    //   padding-top: 10px;
    //   padding-bottom: 10px;
    //   display: initial;
    //   text-align: center;
    // }
  }