pdf-viewer {
    display: block;
    height: 100vh;
}

.ng2-pdf-viewer-container {
    overflow-x: hidden;
    position: absolute !important;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}