<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Catalogue Management</li>
  </ol>
</nav>

<div class="row width_90 center m-t-20">

  <div class="card col-12 col-lg-12 col-md-12 col-sm-12 cardheight">

    <!-- start of button - add catalogue ( row ) -->
    <div class="row m-t-20 m-r-20">
      <div class="col-lg-9 col-md-8"> </div>
      <div class="col-lg-3 col-md-4 col-sm-11 col-11 center p-r-0 p-b-0">
        <button mat-raised-button [disabled]="false" class="addcat-btn width_90 m-b-10 color_white float-right"
          (click)="gotoAdd()">
          <span class="material-icons" style="vertical-align: middle;">add</span>New Catalogue
        </button>
      </div>
    </div>

    <hr class="header-line m-r-20">

    <!-- end of button add catalogue -->

    <!-- start of Viw List Catalogue - Jasper -->

    <!-- End of View List Catalogue - Jasper -->

    <!-- start of Add new Catalogue - Kani -->
    <div *ngIf="showAddCatalogueForm">
      <br>
      <form [formGroup]="addCatalogueForm">
        <div class="row">
          <p>Create catalogue</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-10 col-10 m-l-5">
            <input type="text" class="inputs border-radius-5 background_trans width_100"
              placeholder="Enter the catalogue name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-lg-11 m-l-5 col-sm-10 col-10">
            <div class="form-group">
              <textarea style="resize: none;" rows="5" placeholder="Catalogue Description"
                formControlName="catalogue_description" name="catalogue_description"></textarea>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-2 m-l-5 col-sm-6 col-6 m-r-20">
                <br>
                <button id="createCatalogue" mat-stroked-button
                  class="width_80 border-radius-5 background-blue color_white center" (click)=" ">Create</button>
              </div>
              <div class="col-md-2 m-l-5 col-sm-6 col-6 m-r-20">
                <br>
                <button id="cancel" mat-stroked-button
                  class="width_80 border-radius-5 background-blue color_white center" (click)=" ">Cancel</button>
              </div>
            </div>
      </form>
    </div>


    <!-- End of Add new Catalogue - Kani -->

    <!-- start of List Course table -  -->

    <!-- End of List Course table-  -->

    <!-- start of View Course (grid view) -  -->

    <!-- End of View Course (grid view)-  -->

  </div>

</div>