<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Admin/auth/catalogue">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Catagory Management</li>
  </ol>
</nav>

<!-- Remember to sigin to admin before hitting this url
navigate by url -- Admin/auth/catalogue -->
<div class="container  p-30 ">
  <div class="container m-t-20 card-shadow m-r-20">
    <div class="row card-shadow">

      <!-- Mat tree code here ( left hand side) -->
      <div class="card col-3 cardheight">
      </div>

      <!-- end of Mat tree code here ( left hand side) -->


      <!-- start of right hand side card view -->

      <div class="card col-9 cardheight">
        <br>
        <hr class="header-line">

        <mat-toolbar color="primary">
          <span class="navigation-buttons"></span>
          <button mat-raised-button class="add-btn toolbar-btn" (click)="gotoAdd()">
            <span class="material-icons" style="vertical-align: middle;">add</span>Add
          </button>
          <button mat-raised-button class="edit-btn toolbar-btn">
            <span class="material-icons" style="vertical-align: middle;" (click)="gotoEdit()">create</span>Edit
          </button>
          <button mat-raised-button class="delete-btn toolbar-btn">
            <span class="material-icons" style="vertical-align: middle;" (click)="gotoDelete()">delete</span>Delete
          </button>
        </mat-toolbar>
        <br><br><br>
        <div class="landing-background">
          <div class="landing-text">
            <p>
              <mat-icon>done</mat-icon>Add categories upto 3 levels
            </p>
            <br>
            <p>
              <mat-icon>done</mat-icon>Edit existing category name and description
            </p>
            <br>
            <p>
              <mat-icon>done</mat-icon>Delete a category after removing all courses and subcategories associated with it
            </p>
          </div>
        </div>
      </div>

      <!-- start of navigations ( engineering > electronics > nano electronics) -->

      <!-- end of navigations ( engineering > electronics > nano electronics) -->

      <!-- <hr> -->

      <!-- start of buttons (add, edit, dlt) -->

      <!-- end of buttons (add, edit, dlt) -->


      <!-- start of landing 3 line rules -->

      <!-- end of landing 3 line rules -->


      <!-- start of Add Catagory code  -->

      <!-- end of Add Catagory code  -->


      <!-- start of view courses -->

      <!-- end of view courses -->


      <!-- end of right hand side card view -->

    </div>
  </div>
</div>