@import "variable";

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (min-width: 320px) and (max-width:1024px) {
    .addcat-btn {
        width: 70% !important;
    }
}

@media screen and (min-width:1024px) {
    .addcat-btn {
        width: 70% !important;
    }

    .catalogue-card {
        width: 70% !important;
    }
}

.cardheight {
    height: 600px !important;
    box-shadow: 2px 0px 10px #6c757d;
    overflow: hidden;
}

.header-line {
    padding-top: 0;
    margin-top: 0;
}

hr {
    height: 1px;
    background-color: $box-shadow;
}

.left {
    z-index: 1 !important;
    box-shadow: 0px 0px 12px $box-shadow;
    overflow: auto !important
}

.right {
    box-shadow: 0px 0px 7px $box-shadow;
}

// .m-t-20 {
//     margin-top: 20px; replaced with space2
// }

.m-t-10 {
    margin-top: 10px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.p-r-0 {
    padding-right: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-l-10 {
    padding-left: 10;
}

.p-l-20 {
    padding-left: 20;
}

.p-t-10 {
    padding-bottom: 10;

}

.addcat-btn {
    background-color: $color-dark-green;
    margin-right: 0 !important;
}

button,
textarea:focus,
input:focus {
    outline: none;
}

.inputs {
    border: 1.0px solid $color-blue !important;
    padding: 8px !important;
}

.error_msg {
    font-size: 80%;
    color: $color-red;
}

// .material-icons {
//     font-size: inherit;
//     padding-right: 5px;
//     font-size: 16px;
// }

.sort-btn {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border-width: thin;
    border-color: $color-blank;
    background-color: $color-light-grey;

    .mat-icon {
        font-size: 25px !important;
        color: $color-blank;
    }
}

.catalogue-card {
    width: 90% !important;
    margin-bottom: 10% !important;
    border: 1.0px solid $color-light-grey !important;
    box-shadow: 0px 0px 5px $box-shadow;
    height: 70%;
    background-color: $color-lightest-grey;
    text-align: center;
    padding: 20px !important;
}

.arrow-drop-down {
    position: absolute;
    bottom: 0px;
    background-color: $color-white;

    mat-icon {
        font-size: 40px;
    }
}

.cat-name-card {
    margin-bottom: 10% !important;
    border: 1.0px solid $color-blank !important;
    height: 50%;
    text-align: center;
    padding: 10px !important;
}

.add-btn {
    background-color: $color-dark-green;
}

.edit-btn {
    background-color: $color-subhead;

    .material-icons {
        font-size: 12px !important;
    }
}

.example-container {
    height: 500px;
    overflow: auto;
}

table {
    width: 100%;
}

.remove-btn {
    background-color: $color-maroon;
}

.header-btn {
    height: 35px;
    font-size: 12px !important;
    width: 100px;
}

.containerOverlay {
    .overlay {
        height: 80%;
        width: 80%;
        position: absolute;
        overflow: hidden;
        top: 0vh;
        left: 10%;
        opacity: 0.7;
        cursor: pointer;
    }

    .pointer {
        width: 80% !important;
    }
}

.course-image {
    height: 100px;
    object-fit: cover;
}