@import "variable";

.assessmentContainer {
    background-color: $grey1;
    padding: 20px;
    .breadcrumb {
        margin: 0;
        padding: 0 0 20px 0 !important;
        background-color: transparent !important;
        li {
          color: #333333;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;
          position: relative;
          margin-right: 15px;
          display: inline-block;
          em {
            display: inline-block;
            transform: scale(-1);
            color: #666666;
            margin-right: 8px;
            cursor: pointer;
          }
          &:first-child {
            color: #999999;
            &::after {
              content: "/";
              position: absolute;
              right: -10px;
              top: auto;
              bottom: auto;
              color: #c02222;
            }
          }
        }
    }
    .progressionContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: calc(100vh - 120px);
        overflow: hidden;
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
        .leftSelf {
            width: 100%;
            order: 1;
            height: 100%;
            background-color: $color-white;
            border-radius: 10px;
            box-shadow: 0 0 2px 0 $blackshade3;
            @media screen and (min-width: 992px) {
                width: calc(100% - 360px);
            }
            @media screen and (min-width: 1140px) {
                width: calc(100% - 400px);
            }
            @media screen and (min-width: 1540px) {
                width: calc(100% - 500px);
            }

            .selfPieChart {
                .leftChart {
                    
                }
                .rightChart {

                }
            }
            .selfProgressionScore {

            }
        }
        .rightScore {
            width: 100%;
            order: 2;
            box-shadow: 0 0 2px 0 $blackshade3;
            height: 100%;
            padding: 15px;
            position: relative;
            padding: 2em 0.85em 1.5 0.85em;
            background-color: $color-white;
            border-radius: 10px;
            @media screen and (min-width: 992px) {
                padding: 10px;
                // position: fixed;
                // right: 0;
                // top: 70px;
                // width: 360px
            }
            @media screen and (min-width: 1140px) {
                width: 370px
            }
            @media screen and (min-width: 1540px) {
                width: 400px
            }
        }
    }
}