<app-header></app-header>
<div class="assessmentContainer" *ngIf="showreport">
    <ul class="breadcrumb">
        <li><em (click)="backButton()" class="lxp-Go backArrow"></em> {{routerDetails.name}} </li>
        <li>{{'Assessment Report' | translate}}</li>
    </ul>
    <div class="progressionContainer">
        <div class="leftSelf">
            <div class="selfPieChart">
                <div class="leftChart">
                    <h1>Self Learning Progression</h1>
                    <div class="selfContent">
                        <div class="percentageCircle">
                            <circle-progress percent="{{reportData?.totalWeekScore}}" [title]="" [suubtitle]="" [titleFontSize]="10"
                                [titleFontWeight]="600" [clockwise]="false" [showUnits]="false" [radius]=26 [outerStrokeGradient]=true [outerStrokeWidth]=10 [space]=-10
                                [innerStrokeWidth]=10 outerStrokeLinecap=square [outerStrokeColor]="'#5AB64C'"
                                [outerStrokeGradientStopColor]="'#5AB64C'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                                [animationDuration]="300" [responsive]="true"
                                [subtitle]="reportData?.totalWeekScore  + '/ ' + reportData?.total_slf_learning_pts" [showSubtitle]="true"
                                subtitleFontWeight=800 [showTitle]="false" [subtitleColor]="'#333333'">
                            </circle-progress>
                        </div>
                        <div class="textContent">
                            <ul>
                                <li>
                                    <label>No. of Weeks Elapsed</label>
                                    <span>{{reportData?.current_week}}/{{reportData?.total_week}}</span>
                                    <!-- <label class="contentlist">No. of weeks elapsed<span>05/08</span></label> -->
                                </li>
                                <li> 
                                    <label> No. of Topics Completed </label>
                                    <span>{{reportData?.completed_topic}}</span>
                                </li>
                                <li> 
                                    <label>{{'Total Duration Spent' | translate}} </label>
                                    <span>{{reportData?.total_duration_spent}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightChart">
                    <h1>Final Assessment</h1>
                    <div class="finalContent">
                        <div class="percentageCircle">
                            <circle-progress percent="{{reportData?.assessment[0].marksobtained}}" [title]="" [titleFontSize]="10"
                                [titleFontWeight]="600" [clockwise]="false" [showUnits]="false" [radius]=26 outerStrokeLinecap=square [space]=-10
                                [outerStrokeGradient]=true [outerStrokeWidth]=10 [outerStrokeColor]="'#4FC5EE'"
                                [outerStrokeGradientStopColor]="'#4FC5EE'" [innerStrokeColor]="'#e7e8ea'" [innerStrokeWidth]=10 [animation]="true"
                                [animationDuration]="300" [responsive]="true"
                                [subtitle]="reportData?.assessment[0].marksobtained  + '/ ' + reportData?.assessment[0].totalmarks"
                                [showSubtitle]="true" subtitleFontWeight=800 [showTitle]="false" [subtitleColor]="'#333333'"></circle-progress>
                        </div>
                        <div class="textfinal">
                            <ul>
                                <li>
                                    <label>Total Marks</label>
                                    <span>{{reportData?.assessment.length? reportData?.assessment[0].totalmarks : 0}}</span>
                                </li>
                                <li> 
                                    <label> Marks Obtained</label>
                                    <span>{{reportData?.assessment.length? reportData?.assessment[0].marksobtained : 0}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="selfProgressionScore">
                <h1 class="tableHeading">Self Learning Progression - Weekly Score</h1>
                <div class="scoreContainer">
                    <div class="progressTable">
                        <div class="headerTable">
                            <label>Week</label>
                            <label>Completed Percentage</label>
                            <label>Weekly Score</label>
                        </div>
                        <ul class="weeklyScoreList">
                            <li *ngFor="let item of reportData?.module" [class.active]=item.isActive (click)="viewTopicDetails(item)">
                                <label>{{item.week}}</label>
                                <div class="progressStatus">
                                    <circle-progress 
                                    [titleFontSize] = "14" [clockwise]="false"  [titleFontWeight] = "600" [showUnits]= "true" [percent]="item?.selflearningpercentage"
                                    [radius]=25 [startFromZero] = false [space]=-6 [outerStrokeGradient]=true [outerStrokeWidth]=6 [outerStrokeColor]='item.Percentage?"#FF5F25":"#00A99D"'
                                    [outerStrokeGradientStopColor]="'#5AB64C'" [innerStrokeColor]="'#e7e8ea'" [innerStrokeWidth]=6  [lazy]="true"
                                    [animation]="true" [animationDuration]="300" [responsive]="true" [showSubtitle]="false" >
                                    </circle-progress>
                                </div>
                                <div class="scoreCount">
                                    <label>{{item.weekScore == '00' ? 0 : item.weekScore}}</label>
                                    <div class="popoverInfoFinal" (mouseover)="viewInfoIcon(item, 'weekly')" (mouseleave)="viewInfoIcon(null, 'weekly')">
                                        <button class="popover-info" (mouseover)="viewInfoIcon(item, 'weekly')">
                                          <img alt="" src="https://assets.lntedutech.com/application_images/Group 14025.svg"/>
                                        </button>
                                        <div class="popoverContainer">
                                          <div class="items">{{'(A) Topics Completed - ' | translate}}<span>{{viewInfo?.selflearning.completed_topic}}/{{viewInfo?.selflearning.no_of_topic}}</span></div>
                                          <div class="items">{{'(B) Estimated Duration - ' | translate}}<span>{{viewInfo?.selflearning.totalDuration}} Mins</span></div>
                                          <div class="items">{{'(C) Actual Duration - ' | translate}}<span>{{viewInfo?.selflearning.completedDuration}} Mins</span></div>
                                          <div class="calculation">{{'Calculation' | translate}}</div>
                                          <div class="calcFormula">= (C/B) x 0.5 x 100</div>
                                          <div class="calcPercentage">= {{item.weekScore}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="activeScoreDetails">
                        <h1 class="tableHeading">Duration & Topics Information </h1>
                        <mat-card class="durationCard">
                            <div class="durInfo">                               
                                <div class="durationLeft">
                                    <div class="clock">
                                        <em class="lxp-Clock"></em>
                                    </div>
                                    <h1 class="headerBlue">Durations</h1>
                                </div>
                                <div class="durationRight">
                                    <div class="durationDetails">
                                        <h1 class="commonHeader">Estimated<p>Duration</p></h1>
                                        <h1 class="commonValue">{{topicinfo?.selflearning.actual_moduleduration}}</h1>
                                    </div>
                                    <div class="durationDetails">
                                        <h1 class="commonHeader headerGreen">Duration <p>Spent</p></h1>
                                        <h1 class="commonValue headerGreen">{{topicinfo?.selflearning.completed_moduleduration}}</h1>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="durationCard">
                            <div class="durInfo">
                                <div class="durationLeft">
                                    <div class="clock">
                                        <em class="lxp-Topics"></em>
                                    </div>
                                    <h1 class="headerBlue">Topics</h1>
                                </div>
                                <div class="durationRight">
                                    <div class="durationDetails">
                                        <h1 class="commonHeader">Total No. <p>of Topics</p></h1>
                                        <h1 class="commonValue">{{topicinfo?.selflearning.no_of_topic}}</h1>
                                    </div>
                                    <div class="durationDetails">
                                        <h1 class="commonHeader headerGreen">No. of Topics <p> Completed</p></h1>
                                        <h1 class="commonValue headerGreen">{{topicinfo?.selflearning.completed_topic}}</h1>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightScore"> 
            <div class="cornerdesign" [ngClass]="reportData?.rawscore <=50 ? 'Color1' : (reportData?.rawscore >50 && reportData?.rawscore <=80 ? 'Color2' :'Color3')">
            </div>
            <div class="finalScoreLabel">
                <h1 class="ScoreHeading">Final Score</h1>
                <div class="popoverScore">
                    <button class="popover-info">
                      <img alt="" src="https://assets.lntedutech.com/application_images/Group 14025.svg" />
                    </button>
                    <div class="popoverContainer">
                      <div class="items">Self Learning + Final Assessment</div>
                      <div class="calcFormula">= {{reportData?.rawscore}}</div>
                    </div>
                </div>
            </div>
            <div class="semiCircle">
                <canvas baseChart 
                [options]="ChartOptions" 
                [datasets]="chartData" 
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
            </canvas>
                <div class="Percentage">
                    <label>{{reportData?.rawscore}}<span>%</span></label>
                </div>
            </div>
            <div class="gradePoints">
                <h1 class="gradeHeading">Grade & Points</h1>
                <div class="gadeContainer">
                    <div  class="grade">
                        <figure>
                            <img src="https://assets.lntedutech.com/application_images/gradeicon2.webp" alt=""/>
                        </figure>
                        <label class="scoreGrades">Grade<span>{{reportData?.grade}}</span></label>
                    </div>
                    <div class="points">
                        <figure>
                            <img class="pointsimg" src="https://assets.lntedutech.com/application_images/gradeicon1.webp" alt=""/>
                        </figure>
                        <label class="scorePoints">Points<span>{{reportData?.gradepoint}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  
  <div class="assessmentContainer" *ngIf="!showreport">
    <ul class="breadcrumb">
        <li><em (click)="backButton()" class="lxp-Go backArrow"></em> {{routerDetails.name}} </li>
        <li>{{'Assessment Report' | translate}}</li>
    </ul>
    <div class="progressionContainer">
        <div class="leftSelf">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div class="item" style="width: 48%;" *ngFor="let item of [0,1]">
                    <div>
                      <ngx-skeleton-loader count="3" animation="pulse" [theme]="{ display: 'block', 'background-color': '#d2d1d1', width: '100%' , height: '40px'}"></ngx-skeleton-loader>
                    </div>
                </div>
              </div>

              <div class="selfProgressionScore">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div class="item" style="width: 48%;" *ngFor="let item of [0,1]">
                        <div>
                          <ngx-skeleton-loader count="3" animation="pulse" [theme]="{ display: 'block', 'background-color': '#d2d1d1', width: '100%' , height: '40px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                  </div>

              </div>
        </div>
        <div class="rightScore">
            <div class="d-flex justify-content-between" style="width: 100%;">
                <div class="item" style="width: 100%;">
                    <div>
                      <ngx-skeleton-loader count="3" animation="pulse" [theme]="{ display: 'block', 'background-color': '#d2d1d1', width: '100%' , height: '40px'}"></ngx-skeleton-loader>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="assessmentContainer"  *ngIf="noDataCard">
        <div  class="noCard">
            <figure>
              <img src="https://assets.lntedutech.com/application_images/noquiz.webp" alt="quiz">
            </figure>
            <p>{{'No Records Found!!' }}</p>
          </div>
        </div>