@import "variable";
.my-panel {
  background: $color-blue !important;
  height: 100px ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 70px !important;
  }


.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: $color-maroon;
  padding-right: calc(1.5em + .75rem);
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.custom-modalbox {
  .mat-dialog-actions {
    justify-content: center;
  }

  button {
    // background: $color-blue !important;
    color: $color-white;
  }

  .mat-dialog-title {
    font-weight: 400;
    text-align: center;
  }
}

// .label {
//   color:  $color-blue;
// }

.mand {
  color:  $color-red;
}

.mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
  color:$color-white
}

.wrap-body {
  padding: 3% !important;

  .star {
    color:  $color-red;
  }
}

.profile {
  .container-reg200 {
    width: 100%;
    // height: 100vh !important;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:$color-white;
  }

  .wrap-reg {
    // margin-top: -22px;
    width: 100%;
    padding: 30px;
    height: auto;
    background: $color-white !important;
    border-radius: 25px;
    border: none !important;
    // box-shadow: 0 2px 11px #b0d4dfb5;
    overflow: hidden;
    background-color: $color-white !important;
    margin-bottom: 30px;
  }

  // mat-label {
  //   color:  $color-blue;
  // }

  .mat-radio-outer-circle {
    height: 16px !important;
    width: 16px !important;
    border-color:  $color-border !important;
    border-width: 2px !important;
  }

  .mat-radio-inner-circle {
    height: 16px !important;
    width: 16px !important;
    background-color:  $color-blue !important;
  }

  // mat-select {
  //   border-radius: 10px;
  //   margin-left: -18px;
  // }

  .mat-select-placeholder {
    color: #757575 !important;
    font-weight: 500;
  }

  ::placeholder{
    color: #757575 !important;
    font-weight: 500;
  }
  // .swal2-popup.swal2-modal.swal2-show {
  //   display: flex !important;
  //   width: 27% !important;
  //   height: 35% !important;
  // }
}




[data-tip] {
  position: relative;

}

// To add tooltip for input box for headling
[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $color-blue;
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 35px;
  left: 0px;
  padding: 5px 8px;
  background: $color-blue;
  color: $color-white;
  z-index: 9;
  font-size: 0.75em;
  height: auto;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: normal;
  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}

mat-icon {
  cursor: pointer;
  // color:  $color-blue;
}


.br-default .br-selected:after {
  color: #ffcf05 !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 12px 11px 10px 1px;
  margin-bottom: 0;
  height: 38px;
  margin-top: 1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #cccccc;
  border-radius: 7px;
}



.bg-transparent {
  background-color: $color-light-blue !important;
}

.continer {
  margin-top: 50px;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: $color-white;
  display: flex;
  justify-content: center;
  height: 277px;
}

.container-reg100 {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: url('../../assets/learner/background.jpg');
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: $color-white !important;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color:  $color-blue !important;
  border-radius: 0px !important;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;

}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.wrap-reg {
  width: 350px;
  height: auto;
  background: $color-white !important;
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 480px) {
  .wrap-reg {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-l-50 {
  padding-left: 40px !important;
}

.p-r-50 {
  padding-right: 40px !important;
}

.p-t-77 {
  padding-top: 52px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $color-blue;
}


// label {
//   color:  $color-blue;
//   font-weight: 500;
// }

mat-icon {
  cursor: pointer;
  // color:  $color-blue;
}

button:disabled:hover {
  cursor: not-allowed;
}

.coursebreadcrumb {
  padding-top: 52px;

  ol {
      margin-bottom: 0 !important;
      // background-color: $color-white !important;
  }
}

.outlinebtn{
  background-color: $color-white  !important;
  color: $color-blue;
  border: none;
  font-size: 12px;
  border: 1px solid;
  height: 30px;
  width: 100px;
  border-radius: 6px;
  float: right;
  margin-left: 10px;
}

.fillsmallbtn{
  background-color: $color-blue !important;
  color: $color-white;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  width: 108px;
  border-radius: 6px;
  height: 30px;
  float: right;
}

.fillgreenbtn{
  background-color: $light-green !important;
  color: $color-white;
  border: none;
  width: 108px;
  font-size: 12px;
  border-radius: 6px;
  height: 31px;
  float: right;
  margin-right: 10px;
}
// svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
//   margin-left: 51px !important;
//   margin-top: -12px !important;
// }