@import "../../assets/variable.scss";

.login {
    background: url('../../assets/learner/download.jpg') !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100vh !important;
}
.custom-modalbox {
    .mat-dialog-actions {
          justify-content: center;
    }
    button {
        background: $color-blue !important;
        color: white;
    }
    .mat-dialog-title {
        font-weight: 400;
        text-align: center;
    }
}
.label{
    color: blue;
}
.mand{
    color: red;
}
.mat-raised-button[disabled]:not([class*=mat-elevation-z]) {
    color : rgb(199, 199, 199)
}
.wrap-body {
    padding:3% !important;

    .star{
        color: red;
    }
}
.profile{
    .container-reg200 {
        width: 100%;
        height: 100vh !important;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-size: cover;
        background-repeat: no-repeat;
        background-color:white;
      }
      .wrap-reg {
        width: 100%;
        height: auto;
        background: #fff !important;
        border-radius: 25px;
        border: 1px outset white;
        overflow: hidden;
        background-color: white !important;
        box-shadow: 0 2px 11px #00000057;
        margin-top: 50px;
        margin-bottom: 30px;
      }
      mat-label{
        color: #1F3777;
      }
    .mat-radio-outer-circle{
      height: 16px !important;
      width:16px !important;
      border-color: #1F3777 !important;
    }
    .mat-radio-inner-circle{
      height: 16px !important;
      width:16px !important;
      background-color: #1F3777 !important;
    }
    mat-select{
        border-radius: 10px;
        margin-left: -18px;
      }

      .mat-select-placeholder {
       color: $color-blue !important;
    }
  }
  

.space5{
    margin-top: 5%;
}.space10{
    margin-top: 10%;
}
.space20{
    margin-top: 20%;
}
.space30{
    margin-top: 30%;
}
.space40{
    margin-top: 40%;
}

  
[data-tip] {
	position:relative;

}

// To add tooltip for input box for headling
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid $color-blue;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:$color-blue;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:auto;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:normal;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
mat-icon{
    cursor: pointer;
    color: #1F3777 ;
}
