h2,
h3 {
    color: #1F3777;
}

h2 {
    text-transform: capitalize;
}

h2,
h3,
p,
button {
    margin-left: 15px;
}
.cardHeight {
    height: 300px !important;
    z-index: 1 !important;
    overflow: auto !important;
}