h2,
h3 {
    color: #1F3777;

}

h2 {
    text-transform: capitalize;
}

h2,
h3,
p,
button {
    margin-left: 15px;
}

li {
    list-style-type: none;
}

.tree {
    padding-top: 5px;
    box-shadow: 0 2px 10px rgb(216, 216, 216);
}

.ht-80px {
    height: 70px;
}