@import "variable";
.know-home-container {
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 33em;
}
.no-data {
  margin-top: 100px;
  text-align: center !important;
  span {
    font-size: 25px;
  }
}
.search-bar {
  margin-left: 0;
  position: relative;
  input {
    border: 1px solid gray;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px 10px 45px;
    display: block;
    &:focus {
      border: 1px solid red;
    }
  }
}

.search-icn {
  font-size: 26px;
  position: absolute;
  left: 3%;
  color: #5c6873 !important;
  top: 4.7em;
}
.search-placeholder {
  color: gray;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 45px;
}
.no-outline:focus {
  outline: none;
}
h1 {
  color: rgb(95, 93, 93);
  font-size: 19px !important;
  font-weight: bold !important;
  line-height: normal;
}
.resource-col {
  padding-right: 15px;
  margin-top: 35px;
}

.search-placeholder {
  color: gray;
  font-size: 16px;
  position: absolute;
  top: 10px;
  left: 45px;
}
.no-outline:focus {
  outline: none;
}
.resource-link {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  @media only screen and (min-width: 768px) {
    padding: 0 2%;
  }
  @media only screen and (min-width: 1200px) {
    // padding: 0 10%;
  }
}
h1 {
  color: rgb(95, 93, 93);
  font-size: 20px !important;
  font-weight: bold !important;
  margin-bottom: 5px;
  @media only screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}
.resource-col {
  margin-top: 25px;
  @media only screen and (min-width: 768px) {
    margin-top: 35px;
  }
}
.expand-more {
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
}

// for  upload resource
.upload-container {
  width: 100%;
  height: 70vh;
  .down-btn {
    a:hover {
      color: unset;
      text-decoration: unset;
    }
    a {
      color: unset;
    }
  }
}
.upload-resource {
  margin: 100px auto;
  margin-bottom: 50px !important;
}
.browse {
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 183px;
  height: 50px;
  border: none;
  margin-top: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #db202f;
  padding: 8px 16px;
  cursor: pointer !important;
}

.filecontainer {
  width: 500px;
  height: 250px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
  margin: auto;
  cursor: pointer !important;
  pointer-events: auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  h3 {
    font-size: 20px;
    color: #38424c;
  }
}

.inheritcursor {
  cursor: inherit;
}

.templateDownload {
  color: #38424c;
  font-size: 16px;
  background-color: white;
  border: 1px solid red;
  width: 200px;
  height: 40px;
  margin-left: 60px;
}

.template-div {
  margin: auto;
  width: 300px;
  p {
    text-align: center;
    color: gray;
    font-size: 16px;
    margin-left: 46px;
  }
}
.kr-empty {
  border-left: 7px solid;
  height: 100px;
  background: #f5f5f5;
  border-left-color: $lxp-theme-yellow-sec;
  color: black;
  text-align: center;
  padding-top: 38px;
  box-shadow: #00000029;
  box-shadow: aliceblue;
  box-shadow: 0px 2px 4px #00000029;
  width: 45%;
  margin-left: 30%;
}
.color-icon {
  color: $lxp-theme-green !important;
}
.headicon-kr {
  color: #c02222 !important;
  font-size: 30px !important;
  vertical-align: sub;
}
.para {
  display: inline-flex;
  font-size: 18px;
  vertical-align: initial;
  padding-left: 10px;
}

.area-int {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 24px;
  a {
    color: #007bff;
    text-decoration: underline;
  }
  a:hover {
    // color: #0056b3;
    color: #0056b3;
  }
}

// .footer {
//   padding: 15px;
//   font-size: inherit;
//   left: 0;
//   bottom: 0 !important;
//   width: 100%;
//   color: $label;
//   z-index: 999999;
//   font-weight: 500;
//   background-color: $profile-t-grey;
//   text-align: right;
//   border-top: 2px solid $profile-p-grey;
// }
// // Mobile
// @media (min-width: 200px) and (max-width: 767.98px) {
//   .footer {
//     text-align: center;
//   }
// }

.search-inp {
  width: 95%;
  height: 40px;
  border-radius: 25px;
  border: 1px solid;
  box-shadow: 0px 5px 10px -5px grey;
  padding: 0 40px 0 20px;
  &:focus {
    outline: unset !important;
    border: 1px solid #c02222;
  }
  @media only screen and (min-width: 992px) {
    padding: 0 20px;
  }
}

.close-search {
  font-size: 26px;
  position: absolute;
  right: 6%;
  color: #5c6873 !important;
  top: 4.7em;
  @media only screen and (min-width: 992px) {
    right: 5%;
  }
}
