
 <!----------------------------------Reset Password--------------------------------->
 <div class="limiter" *ngIf="isLinkActive">
  <div class="container-reg100 p-t-77">
    <div class="wrap-reg p-l-50 p-r-50 p-t-77  p-b-30">
      <h1 class="head">Reset the password</h1>
<form [formGroup]="resetForm">
<div class="form-group">
  <label>Username</label>
     
  <input readonly type="text" value="{{user}}" class="form-control"/>
  <!-- <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">User Name is required</div>
      <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
      <div *ngIf="f.username.errors.minlength">User Name must be 3 characters long </div>
      <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
  </div> -->
  <!-- <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-autocomplete> -->
</div>
<!-- <div class="input-group">
  <input class="form-control border-right-0" [type]="show_button ? 'text' : 'password'" formControlName="newpassword" onCopy="return false" onDrag="return false"
    onDrop="return false" onPaste="return false"
    [ngClass]="{ 'is-invalid': f.newpassword.touched && f.newpassword.errors }" />
    <span class="input-group-append bg-white border-left-0">
      <span class="input-group-text bg-transparent">
        <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()" aria-hidden="true"></i>
      </span>
    </span>
  <div *ngIf="f.newpassword.touched && f.newpassword.errors" class="invalid-feedback">
    <div *ngIf="f.newpassword.errors.required">New Password is required</div>
    <div *ngIf="f.newpassword.errors.minlength">New Password must be at least 6 characters</div>
    <div *ngIf="f.newpassword.errors.pattern">Your password must contain at least one number and have a
      mixture
      of uppercase and lowercase letters.</div>
    <div *ngIf="f.newpassword.errors.mustMatch"> Passwords must be same</div>
  </div>
</div> -->
<label>Password</label><span class="star"> *</span>
<div class="input-group">
<input class="form-control border-right-0" [type]="showpassbutton ? 'text' : 'password'" formControlName="password"   maxlength="20" onCopy="return false" onDrag="return false"
    onDrop="return false" onPaste="return false" placeholder="Password" (keyup)="change($event)"
    [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
    <span class="input-group-append bg-white border-left-0">
      <span class="input-group-text bg-transparent">
        <i [class]="showpsseye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()" aria-hidden="true"></i>
      </span>
    </span>

<div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
    <div *ngIf="f.password.errors.required">Password is required</div>
    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
    <div *ngIf="f.password.errors.pattern">The password should not be last password<br> The password should consist of 1 uppercase<br> 
      1 lowercase, 1 number and 1 special character<br>
      Note: Space ",", & (Not allowed)</div>
</div>
</div>

<div class="box" id="message">
  <div class="row">
    <div class="col">
      <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Uppercase</p>
      <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Lowercase</p>
    </div>
    <div class="col">
      <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Special character</p>
      <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Number</p>
    </div>
  </div>
</div>


<label>Confirm Password</label><span class="star"> *</span>
<div class="input-group">
 
<input class="form-control border-right-0" [type]="showconpassbutton ? 'text' : 'password'" formControlName="confirmpassword"  maxlength="20" onCopy="return false" onDrag="return false"
    onDrop="return false" onPaste="return false" placeholder="Confirm Password" 
    [ngClass]="{ 'is-invalid': f.confirmpassword.touched && (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword) }" />
    <span class="input-group-append bg-white border-left-0">
      <span class="input-group-text bg-transparent">
        <i [class]="showconpsseye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showconPassword()" aria-hidden="true"></i>
      </span>
    </span>

<div *ngIf="f.confirmpassword.touched &&  (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword)" class="invalid-feedback">
    <div *ngIf="resetForm.value.password != resetForm.value.confirmpassword"> Should be same as password</div>
</div>
</div><br><br>

<div class="button">
<button class="btn" [disabled]="!resetForm.valid" (click)="resetpassword()">Submit</button>
</div>
</form>
</div>
</div>
</div>


<div *ngIf="!isLinkActive">
  <br>
  <br>
  <img src="../../../../assets/images/forbidden.jpg">
  <h1>This Link has already expired..</h1>
</div>