@import "variable";

.loginWrapper {
  background-image: url("https://assets.lntedutech.com/application_images/entrybackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 1em;
  @media only screen and (min-width: 720px) {
    padding: 2em 4em;
  }
  .loginContainer {
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .brandLogo {
    width: 55%;
    background-color: #fcfcfc;
    background-image: url("https://assets.lntedutech.com/application_images/obstacles.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    padding: 30px 0;
    display: none;
    figure {
      margin: 0;
    }
    @media only screen and (min-width: 992px) {
        display: inline-flex;
    }
  }
  .topImage {
    text-align: center;
    width: 70%;
    margin-top: 1em;
    @media only screen and (min-width: 1140px) {
      width: 50%;
    }
    @media only screen and (min-width: 1450px) {
      margin-top: 2em;
    }
    @media only screen and (min-width: 1720px) {
      margin-top: 4em;
    }
    .logo {
      img {
        width: 55%;
        @media only screen and (min-width: 1720px) {
          width: 50%;
        }
      }
    }
  }
  .middleImage {
    width: 75%;
    @media only screen and (min-width: 1140px) {
      width: 55%;
    }
    .obstacles {
      img {
        width: 100%;
      }
    }
  }
  .downloadApp {
    text-align: center;
    figure {
      // width: 22.5%;
      width: 30%;
      margin: 0 0 0 2.5%;
      img {
        cursor: pointer;
        max-width: 100%;
      }
    }
    span {
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      text-align: right;
    }
  }
  .loginSection {
    width: 45%;
    background-color: #ffffff;
    @media only screen and (max-width: 992px) {
        width: 90%;
        margin: 0 auto;
    }
    .signInContainer {
      max-width: 400px;
      width: 90%;
      margin: 0 auto;
      @media only screen and (max-width: 992px) {
          max-width: initial;
        }
        .logo {
            text-align: center;
            margin: 0 0 4em 0;
            img {
                max-width: 70%;
            }
            @media only screen and (min-width: 992px) {
                display: none;
            }
      }
    }
    h1 {
      font-size: 29px;
      font-weight: 700;
      color: #000000;
      line-height: normal;
      margin-bottom: 20px;
      text-align: center;
    }
    .gradientBtn {
        margin: 20px 0 30px 0;
        button {
            color: #FFFFFF;
            font-size: 18px;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            width: 100%;
            padding: 12px 0;
            border-radius: 7px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            background: #00b0ed; /* Old browsers */
            background: -moz-linear-gradient(left, #00b0ed 0%, #53aa34 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #00b0ed 0%,#53aa34 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #00b0ed 0%,#53aa34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ed', endColorstr='#53aa34',GradientType=1 );
        }
    }
    a {
        text-decoration: none;
    }
  }
  //SignIn
  .signIn,.forgotPassword,.signUp,.resetpassword {
    width: 100%;
    .goBack{
      display: flex;
      justify-content: center;
      color: #87898a;
      cursor: pointer;
    }
    .goBack:hover{
      color: #C02222;
      text-decoration: underline;
    }
    .signup {
      cursor: pointer;
    }
    .alert1{
      color: #87898a;
      margin-top: 1em;
    }
  }
  .forgot {
      font-size: 12px;
      font-weight: 400;
      color: #C02222;
      cursor: pointer;
  }
  .dontHaveAccount {
      text-align: center;
      span {
          font-size: 13px;
          font-weight: 400;
          color: #999999;
          line-height: normal;
          a {
              color: #C02222;
              font-weight: 500;
          }
      }
      
  }

  //forgotPassword

  //SignUp
}

::ng-deep.signInContainer {
    .mat-form-field {
        width: 100%;
        //margin-bottom: 20px;
    }
    .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
      caret-color: #C02222;
    }
    .error, 
    .mat-form-field.mat-form-field-invalid .mat-form-field-label, 
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: #C02222;
    }
    .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
      margin-top: 2px;
    }
    input.mat-input-element {
      line-height: normal;
    }
    .mat-form-field-prefix{
      display: none;
    }
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      top: -0.25em;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: #cdcdcd;
    }
    .mat-checkbox-frame {
        border-color: #cdcdcd;
    }
    .mat-checkbox-background, .mat-checkbox-frame {
        border-radius: 4px;
    }
    .mat-checkbox-layout .mat-checkbox-label {
        color: #000000;
        font-size: 12px;
        font-weight: 400;
    }
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #C02222;
    }
}

// dots css start
// .snippet{
//   text-align: initial;
//   display: flex;
//   justify-content: center;
//   height: 26px;
//   padding-top: 0.5em;
// }
// .dot-falling {
//   position: relative;
//   left: -9999px;
//   width: 10px;
//   height: 10px;
//   font-size: 18px;
//   border-radius: 5px;
//   background-color: white;
//   color: white;
//   box-shadow: 9999px 0 0 0 white;
//   animation: dotFalling 1s infinite linear;
//   animation-delay: .1s;
// }

// .dot-falling::before, .dot-falling::after {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   top: 0;
// }

// .dot-falling::before {
//   width: 10px;
//   height: 10px;
//   border-radius: 5px;
//   background-color: white;
//   color: white;
//   animation: dotFallingBefore 1s infinite linear;
//   animation-delay: 0s;
// }

// .dot-falling::after {
//   width: 10px;
//   height: 10px;
//   border-radius: 5px;
//   background-color: white;
//   color: white;
//   animation: dotFallingAfter 1s infinite linear;
//   animation-delay: .2s;
// }

// @keyframes dotFalling {
//   0% {
//     box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9999px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingBefore {
//   0% {
//     box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 9984px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }

// @keyframes dotFallingAfter {
//   0% {
//     box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
//   }
//   25%,
//   50%,
//   75% {
//     box-shadow: 10014px 0 0 0 white;
//   }
//   100% {
//     box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
//   }
// }