
 <!----------------------------------Reset Password--------------------------------->
 <div class="limiter" *ngIf="isLinkActive">
  <img alt="" class="lnt_logo" src="../../../../assets/learner/WHITE_LNT T_LOGO.svg"> 
  <!-- <span class="pg"><span style="font-size: 12px;">Already have an account !</span>&nbsp;&nbsp;<a class="link" [routerLink]="['/Learner/login']">Sign in</a></span> -->
  <div class="row container-reg200">
    <div class="col-md-8 col-sm-12 col-12 ">
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div class="wrap-reg ">
        <img class="kauhalya" alt="" src='../../../../assets//learner/kauhalya.png'>
  <form [formGroup]="resetForm">
    <h1 class="head1">Reset the password</h1><br><br> 
  <div class="form-group">
    <label  class="fromLabel">Username</label>
       
    <input readonly type="text" value="{{user}}" class="form-control"/>
  </div>

  <label  class="fromLabel">Password</label>
  <!-- <span class="star"> *</span> -->
  <div class="input-group">
  <input class="form-control border-right-0" [type]="showpassbutton ? 'text' : 'password'" formControlName="password"   maxlength="20" onCopy="return false" onDrag="return false"
      onDrop="return false" onPaste="return false" placeholder="" (keyup)="change($event)"
      [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
      <span class="input-group-append bg-white border-left-0">
        <span class="input-group-text bg-transparent">
          <i [class]="showpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showPassword()" aria-hidden="true"></i>
        </span>
      </span>
  
  <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
      <div *ngIf="f.password.errors.pattern">The password should not be last password<br> The password should consist of 1 uppercase<br> 
        1 lowercase, 1 number and 1 special character<br>
        Note: Space ",", & (Not allowed)</div>
  </div>
  </div>
  
  <div class="box" id="message">
    <div class="row">
      <div class="col">
        <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Uppercase</p>
        <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Lowercase</p>
      </div>
      <div class="col">
        <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Special character</p>
        <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i>  Number</p>
      </div>
    </div>
  </div>
  
  
  <label style="margin-top: 18px;">Confirm password</label>
  <!-- <span class="star"> *</span> -->
  <div class="input-group">
   
  <input class="form-control border-right-0" [type]="showconpassbutton ? 'text' : 'password'" formControlName="confirmpassword"  maxlength="20" onCopy="return false" onDrag="return false"
      onDrop="return false" onPaste="return false" placeholder="" 
      [ngClass]="{ 'is-invalid': f.confirmpassword.touched && (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword) }" />
      <span class="input-group-append bg-white border-left-0">
        <span class="input-group-text bg-transparent">
          <i [class]="showconpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showconPassword()" aria-hidden="true"></i>
        </span>
      </span>
  
  <div *ngIf="f.confirmpassword.touched &&  (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword)" class="invalid-feedback">
      <div *ngIf="resetForm.value.password != resetForm.value.confirmpassword"> Should be same as password</div>
  </div>
  </div><br><br>
  
  <div class="button">
  <button class="btn" [disabled]="!resetForm.valid" (click)="resetpassword()">Submit</button>
  </div>
  </form>
  <!-- <footer class="footer-before-login"> -->
    <div class="row footer20">
      <div class="col-7">
          <span class="footertext">@ 2020 L&T EduTech.</span>
      </div>
      <div class="col-5">
          <span class="powered">Powered by : 
              <img class="footericon" alt="" src="assets/learner/LT_small.svg">
          </span>
      </div>
    </div>
    <!-- </footer> -->
  </div>
    </div>
  </div>

<!-- 
  <div class="container-reg100 p-t-77">

</div> -->
</div>


<div *ngIf="!isLinkActive">
  <br>
  <br>
  <img  *ngIf="!isLinkActive" src="../../../../assets/images/forbidden.jpg">
  <h1 *ngIf="!isLinkActive">This Link has already expired..</h1>
</div>