<mat-toolbar>
  <img class="hearder-logo " alt="" src="assets/learner/LT.svg">
  <span class="headTit">&nbsp;LARSEN & TOUBRO</span>
</mat-toolbar>
<div class="limiter" *ngIf="isLinkActive">
  <div class="row container-reg200">
    <div class="col-md-8 col-sm-12 col-12 border-right no_pl  no_pr">
      <!-- <img alt="" class="lnt_logo" src="assets/learner/WHITE_LNT T_LOGO.svg"> -->
      <div class="main-logo">
      <img alt="" class="beforeloginimg" style="width : inherit" src="assets/learner/iGGnite_SVG.svg">
    </div>
      <div class="row footer20">
        <div class="col-8">
          <!-- <span class="footertext">© 2020 L&T EduTech.</span> -->
        </div>
        <div class="col-4">
          <!-- <span class="powered">
            <img class="footericon" alt="" src="assets/learner/LT_small.svg">
          </span> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-12">
      <div class="wrap-reg ">
        <!-- <img class="kauhalya" alt="" src='assets/images/l&t.png'> -->
        <form [formGroup]="resetForm">
          <h1 class="animated animatedFadeInUp fadeInUp signIn">Reset the password</h1><br><br>
          <!-- <div class="form-group">
            <label class="fromLabel">Username</label>

            <input readonly type="text" value="{{user}}" class="form-control" />
          </div> -->
          
          <mat-form-field  appearance="outline">
            <mat-label class="label-color">Username</mat-label>
            <input matInput readonly type="text" value="{{user}}"  placeholder="Enter username">
          </mat-form-field>

<!--           
          <label class="fromLabel">Password</label>
          <div class="input-group">
            <input class="form-control border-right-0" [type]="showpassbutton ? 'text' : 'password'"
              formControlName="password" maxlength="20" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" placeholder="" (keyup)="change($event)"
              [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
            <span class="input-group-append bg-white border-left-0">
              <span class="input-group-text bg-transparent">
                <i [class]="showpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showPassword()"
                  aria-hidden="true"></i>
              </span>
            </span>

            <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="f.password.errors.pattern">The password should not be last password<br> The password should
                consist of 1 uppercase<br>
                1 lowercase, 1 number and 1 special character<br>
                Note: Space ",", & (Not allowed)</div>
            </div>
          </div> -->

          
          <mat-form-field appearance="outline">
            <mat-label  class="label-color">Password</mat-label>
            <input matInput maxlength="20" onCopy="return false" onDrag="return false"  placeholder="Enter password" [type]="hide ? 'password' : 'text'" (keyup)="change($event)"
             formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" required>
            <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="icon-color">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
           
            <mat-error class="error"  *ngIf="resetForm.get('password').hasError('required')">
              Password is Required
            </mat-error>
          <mat-error class="error" *ngIf="resetForm.get('password').hasError('minlength')">
            Password must be at least 8 characters
            </mat-error>
            <!-- <mat-error class="error" *ngIf="resetForm.get('password').hasError('pattern')">
              Your password must contain at least one number and have a mixture of special character uppercase and lowercase letters.
            </mat-error> -->
          </mat-form-field>

          <!-- <div class="box" id="message">
            <div class="row">
              <div class="col">
                <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                  Uppercase</p>
                <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                  Lowercase</p>
              </div>
              <div class="col">
                <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check"
                    aria-hidden="true"></i> Special character</p>
                <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i> Number</p>
              </div>
            </div>
          </div> -->


          <!-- <label style="margin-top: 18px;">Confirm password</label>
          <div class="input-group">

            <input class="form-control border-right-0" [type]="showconpassbutton ? 'text' : 'password'"
              formControlName="confirmpassword" maxlength="20" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false" placeholder=""
              [ngClass]="{ 'is-invalid': f.confirmpassword.touched && (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword) }" />
            <span class="input-group-append bg-white border-left-0">
              <span class="input-group-text bg-transparent">
                <i [class]="showconpsseye ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="showconPassword()"
                  aria-hidden="true"></i>
              </span>
            </span>

            <div
              *ngIf="f.confirmpassword.touched &&  (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword)"
              class="invalid-feedback">
              <div *ngIf="resetForm.value.password != resetForm.value.confirmpassword"> Should be same as password</div>
            </div>
          </div><br><br> -->
         

          <mat-form-field  appearance="outline">
            <mat-label  class="label-color">Confirm password</mat-label>
            <input matInput maxlength="20" onCopy="return false" onDrag="return false"  placeholder="Enter confirm password" [type]="hide2 ? 'password' : 'text'"
             formControlName="confirmpassword"   [ngClass]="{ 'is-invalid': f.confirmpassword.touched && (resetForm.value.password && resetForm.value.password != resetForm.value.confirmpassword) }" required>
            <mat-icon class="icon-color" matPrefix>lock_outline</mat-icon>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon class="icon-color">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="error"  *ngIf="resetForm.value.password != resetForm.value.confirmpassword">
              Should be same as password
            </mat-error>
          </mat-form-field>
          <div class="row">
            <div class="col-12">
                <div class="alert1">  Your password must contain at least one number and have a mixture of special character uppercase and lowercase letters.</div>
            </div>
        </div>
          <!-- <div class="button"> -->
            <button class="btn"  mat-raised-button [disabled]="!resetForm.valid" (click)="resetpassword()">SUBMIT</button>
          <!-- </div> -->
        </form>



      </div>
      <div class="row footer20">
        <div class="col-6">
        </div>
        <div class="col-4">
          <span class="powered">
            <img class="footericon m-t-15"  alt="" src="assets/learner/LnT-Full-black-logo.svg">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<img style="width: 100%;" *ngIf="!isLinkActive" src="../../../../assets/images/2nd_sample.svg">
<h1 class="img" *ngIf="!isLinkActive">This Link has already expired..</h1>