
@import "../../../../assets/variable.scss";
.valid{
  color:$color-blue;
  font-size: 10px;
  font-weight: 600;
}
.box{
  width: 218px;
  margin-left: 12%;

}
.fa {
  display: inline-block;
  font-size: smaller !important;
  text-rendering: auto;
}
.star{
    color: red;
}
