@import "variable";

.valid {
  color: $color-blue;
  font-size: 10px;
  font-weight: 600;
}

.box {
  width: 218px;
  margin-left: 12%;
}

// :host ::ng-deep .btn.disabled,
// .btn:disabled {
//   opacity: 0.65;
//   color: $label2 !important;
//   background-color: $color-border !important;
// }

// :host ::ng-deep.form-control {
//   border-radius: 0px !important;
// }

// .star {
//   color: $color-red;
// }

// :host ::ng-deep label {
//   margin-bottom: 0.1em !important;
// }

// :host ::ng-deep.errspan {
//   float: right;
//   position: relative;
//   z-index: 2;
//   font-size: 18px;
//   color: #9e9e9e;
// }

.link {
  color: $color-white !important;
}

:host ::ng-deep.p-t-77 {
  padding-top: 21px !important;
}

:host ::ng-deep .container-reg200 {
  width: 100%;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

// :host ::ng-deep.head1 {
//   text-align: center;
//   font-weight: normal !important;
//   font-size: 21px;
//   margin-top: 18px !important;
// }

:host ::ng-deep.pg {
  position: absolute;
  color: $color-white;
  padding: 7px;
  margin-top: 16px;
  margin-left: 50% !important;
  font-size: 14px;
  font-weight: normal !important;
}

:host ::ng-deep.lnt_logo {
  position: absolute;
  width: 15%;
  margin-top: 21px;
  margin-left: 108px;
}
:host ::ng-deep .wrap-reg {
  width: 100%;
  padding-left: 40px;
  padding-right: 30px;
  height: 100vh;
  border-radius: 0px !important;
  margin-left: 0% !important;
  overflow: hidden !important;
}

:host ::ng-deep.footericon{
  width: 100%;
  position: absolute;
  margin-left: 5px;

}
:host ::ng-deep.footertext{
  font-size: 14px !important;
  font-weight: 400;
  padding: 18px;
  position: absolute;
  color: $lxp-footer-text;
}

:host ::ng-deep .powered{
  font-size: 14px !important;
  font-weight: 400;
  padding: 18px;
  position: absolute;
  color: $lxp-footer-text;
}
:host ::ng-deep.footer20{
  height: 50px;
  bottom: 6px;
  width: 100%;
  position: absolute;
}
.signIn {
  text-align: center !important;
  margin-top: 27px !important;
  color: $lxp-theme-green !important;
  font-size: 28px;
  letter-spacing: 0.5px;
}
mat-form-field {
  width: 100%;
}
input.mat-input-element {
  margin-top: -3px !important;
}

:host ::ng-deep.mat-input-element {

  margin: 3px !important;

}
.btn {
       font-size: 16px;
      background: $lxp-theme-green !important;
      color: $color-white;
      border-radius: 50px !important;
      width: 54%;
      height: 45px;
      margin-left: 23%;
      margin-right: 23%;
      margin-top: 10%;
  
}
.center{
  text-align: center;
}
:host ::ng-deep .btn.disabled,
.btn:disabled {
color: $color-white !important;
border-radius: .25rem;
font-size: 16px;
}

.icon-color{
  color:  #8c8c8c !important;
  position: relative;
  top: -2px;
} 

.label-color{
    color: #5c6873;
    font-family: "Roboto Condensed", sans-serif !important;
}
.usericon input{
  padding-left:25px;
}

::placeholder {
  color: $color-border !important;
  }
// mobile
@media (max-width: 480px) and (max-width: 320px) {
  .wrap-reg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden !important;
    height: 100vh;
    border-radius: 0 !important;
    margin-left: 0% !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 568px) {
  .wrap-reg {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden !important;
    height: 100vh;
    border-radius: 0 !important;
    margin-left: 0% !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .beforeloginimg {
    width: 100%;
    height: 0vh !important;
  }

  .footericon {
    width: 67%;
    position: absolute;
    margin-left: 5px;
    margin-top: 4px;
  }
  .footertext {
    font-size: 10px;
    margin-left: -10px;
  }

  .footer20 {
    position: absolute;
    bottom: 25px;
    width: 84%;
  }
  .powered {
    font-size: 10px !important;
    margin-left: -29px;
  }
}
.img {
  text-align: center;
}
