@import "variable";
  .previous {
    font-size: 20px;
    color: $color-white ;
    background-color: transparent;
    border: 0px;
  }
  
  .next {
    font-size: 20px;
    color: $color-white;
    background-color: transparent;
    border: 0px;
  }

  .time{
    background: transparent;
    
  }
  vg-controls {
    background-color: rgba(42, 59, 142, 0.46) !important;
}

vg-controls vg-scrub-bar-buffering-time {
  position: absolute;
  top: calc(50% - 3px);
  background-color: #f0f8ff2e !important;
  
}


:host ::ng-deep.mat-option-text {
    color: $color-white !important;
}

:host ::ng-deep .mat-select-value-text {
  white-space: nowrap;
  color: $color-white !important;
}

::ng-deep .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color:$color-white !important;
}
:host ::ng-deep .mat-select-value {
  color: $color-white !important;
}

:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline  {
  background-color: transparent;
}
:host ::ng-deep .mat-select-arrow {
  color: transparent;
}
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow   {
  color: transparent;
}
:host ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-form-field-underline{
  color: transparent !important;
}

:host ::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: transparent !important;
}
button:focus {
  border: none;
  outline: none;
}
::ng-deepvg-scrub-bar .scrubBar{
  border: none;
  outline: none;
}