<vg-player (onPlayerReady)="onPlayerReady($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>
  <vg-controls *ngIf="!controls" [vgAutohide]="true" [vgAutohideTime]="1.5">
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
      <button  class="next round" (click)="previous(api.currentTime)"><i class="fa fa-backward" aria-hidden="true"></i></button>
      <button  class="previous round" (click)="next(api.currentTime)"><i class="fa fa-forward" aria-hidden="true"></i></button>
     

      <button class="time"   mat-raised-button matTooltip="Time Elapsed">
      <vg-time-display  vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      </button>

      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
 
      
      <!-- <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display> -->
      <button class="time" mat-raised-button matTooltip="Total Time">
        <vg-time-display  vgProperty="total" vgFormat="mm:ss">
        </vg-time-display>
    </button>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
  </vg-controls>

  <video #media [vgMedia]="media" id="singleVideo" preload="auto" [controls]="controls">
      <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
          <track kind="subtitles" label="English" src="assets/subs/pale-blue-dot.vtt" srclang="en" >
          <track kind="subtitles" label="Español" src="assets/subs/pale-blue-dot-es.vtt" srclang="es">
  </video>

 
</vg-player> 
