<div class="toolbar-notification-container">
  <button class="notificationBtn" mat-icon-button (click)="notificationOpen(isOpen = !isOpen); getNotification()" [class.open]="isOpen">
    <em class="icon lxp-Notification"></em>
    <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount>=100?99:unreadCount }}<span *ngIf="unreadCount>=100">+</span></span>
    <span *ngIf="unreadCount == 0" class="badge"></span>
  </button>


  <div class="dropdown mat-elevation-z4 col-md-12 col-sm-12 col-12" [class.open]="isOpen">
  
    <div class="card ">
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title" style="width: 90%;">
          <div class="name">Notifications</div>
          <div class="extra" *ngIf="unreadCount > 1">
            You have {{ unreadCount }} unread notifications</div>
          <div class="extra" *ngIf="unreadCount == 1">
            You have {{ unreadCount }} unread notifications</div>
        </div>
      </div>
    </div>
    <div *ngIf="notifications?.length !== 0; then thenBlock else elseBlock;">
    </div>
    <div *ngIf="notifications?.length !== 0;" class="footer" fxLayout="row" (click)="viewall()"
      fxLayoutAlign="center center">
      <div class="action">View all</div>
    </div>
  </div>
</div>

<ng-template #thenBlock>
  <div class="content">
    <div class="notificationWrapper" *ngFor="let notification of notifications | slice:0:5">
      <!-- fxLayout="row" fxLayoutAlign="start center"  -->
      <div class="notification d-flex justify-content-between align-items-center" mat-ripple>
        <div class="title" fxLayout="column" (click)="markAsRead(notification)">
          <a class="message wordWrap" *ngIf="notification.notifiedStatus != true" >{{ notification.notificationMessage }}</a>
          <a class="readed wordWrap" *ngIf="notification.notifiedStatus == true">{{ notification.notificationMessage }}</a>
          <div class="time">{{ notification.created_on | date: 'MMM d, y, h:mm a' }}</div>
        </div>
        <!-- <span fxFlex></span> -->
        <div class="notifiedStatus">
          <em *ngIf="notification.notifiedStatus == true" class="lxp-Mail_Read mailRead"></em>
          <em *ngIf="notification.notifiedStatus != true" (click)="markAsRead(notification)" class="lxp-Mail_UnRead mailUnRead"></em>

          <!-- <mat-icon *ngIf="notification.notifiedStatus == true" class="close closeBtn">drafts</mat-icon>
          <mat-icon *ngIf="notification.notifiedStatus != true" class="close closeBtn" (click)="markAsRead(notification)">markunread</mat-icon> -->
        </div>
        
      </div>
      <div class="divider" *ngIf="!isLast"></div>
    </div>
  </div>
  <ng-container *ngIf="showSkeleton">
    <div class="skeleton-container d-flex justify-content-between flex-row">
      <div class="skeleton-part d-flex justify-content-between flex-column item1">
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
      </div>
      <div class="skeleton-part d-flex justify-content-between flex-column item2">
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
      </div>
      <div class="skeleton-part d-flex justify-content-between flex-column item3">
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" class="skeletonStyle"></ngx-skeleton-loader>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #elseBlock>
  <!-- <div class="no" fxLayout="row" fxLayoutAlign="center center">No new notifications</div> -->
  <div class="noCard">
    <figure>
      <img alt="assignment" src="/assets/images/nocardNotification.svg">
    </figure>
    <p> No new notifications</p>
  </div>
</ng-template>