@import "variable";
$prefix: 'toolbar-notification';
.lxp-Notification {
    font-size: 21px;
}
.badge {
    position: absolute;
    top: 0;
    left: 50%;
    font-weight: 700;
    line-height: 1.5;
    height: 22px;
    width: 22px;
    padding: 4px;
    border-radius: 50%;
    background-color: #C02222;
    color: $color-white;
    border-color: #C02222;
    font-size: 11px;
    span {
        line-height: normal;
        display: inline-block;
        position: relative;
        top: -1px;
    }
}

.#{$prefix} {
    &-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    &-btn {
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
}
.toolbar-notification-container {
    .notificationBtn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition-duration: 167ms;
        transition-property: background-color,color;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        em {
            color: #848484;
        }
        &:hover {
            background-color: #EDEDED;
            em {
                color: #373331;
            }
        }
    }
}
::ng-deep.dropdown {
    .card {
        border: none !important;
    }
}
.dropdown {
    background: $color-white;
    position: absolute;
    top: 42px;
    right: 0;
    min-width: 400px;
    z-index: 1000;
    transform: translateY(0) scale(0);
    transform-origin: top right;
    visibility: hidden;
    transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    @media screen and (max-width: 568px) {
        min-width: 380px;
        right: -110px;
        transform: translateY(0);
        visibility: hidden;
        transition: transform .4s cubic-bezier(.25, .8, .25, 1), visibility .4s cubic-bezier(.25, .8, .25, 1);
    }
    @media screen and (max-width: 380px) {
        min-width: 350px;
        right: -115px;
    }
    @media screen and (max-width: 360px) {
        min-width: 300px;
        right: -117px;
    }

    &.open {
        transform: translateY(0) scale(1);
        visibility: visible;
    }

    .card {

        .header {
            background: #EDEDED;
            padding: 10px 15px;
            color: #555;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            .name{
                // text-decoration: underline;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                color: $lxp-theme-green;
                line-height: normal;
            }            
            .extra {
                font-size: 12px;
                font-weight: 400;
                color: #898989;
                line-height: normal;
            }
        }
    }

    .content {
        // max-height: 325px;
        max-height: 380px;
        overflow: auto !important;

        .notification {
            min-height: 64px;
            padding: 0 16px 10px 14px;
            position: relative;
            color: #666;
            cursor: pointer;
            background-color: transparent;
            transition: background-color 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
            &:hover {
                background-color: #f0f0f0;
            }
            .notifiedStatus {
                width: 12%;
                text-align: right;
                em {
                    color: #848484;
                }
            }
            .icon {
                height: 28px;
                width: 28px;
                line-height: 28px;
                font-size: 18px;
                margin-right: 13px;
                text-align: center;
                border-radius: 50%;
                background: $color-white;
                color: #888;
                border: 1px solid #EEE;
            }

            .title {
                font-weight: 400;
                font-size: 12px;
                width: 86%;
                color: #222222;
                line-height: normal;
            }

            .time {
                font-size: 10px;
                color: #999999;
                line-height: normal;
            }

            &.primary {
                .icon {
                    background: $color-border;
                    color: #ddd;
                }
            }

            &.accent {
                .icon {
                    background: #aaa;
                    color: #bbb;
                }
            }

            &.warn {
                .icon {
                    background: #eee;
                    color: #ddd;
                }
            }

            &.read {
                color: #999;

                .name {
                    font-weight: normal;
                }
            }
        }
    }

    .footer {
        border: 1px solid #848484;
        font-weight: 400;
        margin-top: 0;
        padding: 10px;
        background-color: #848484;
        display: block;
        .action {
            cursor: pointer;
            color: #ffffff;
            text-align: center;
            font-size: 13px;
            line-height: normal;
        }
    }

    .divider {
        width: calc(100% - 30px);
        height: 1px;
        background: #EEE;
        margin: 0 16px 0 14px;
    }
}
.notificationWrapper {
    &:last-child {
        .divider {
            display: none;
        }
    }
}
.download_doc {
    margin: 10px;
}

.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #bbb8b8;
    transition: background-color .2s linear, width .2s ease-in-out;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.message{
    color: #333333;
    // font-size: 16px;
    font-weight: 500;
}

.readed{
    color: #666666;
}

@media (min-width: 300px) {

  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    padding: 0px !important;
  }
}
.wordWrap {
    white-space: break-spaces !important;
    // line-height: 22px !important;
    margin: 8px 0 4px 0;
    display: block;
    &:hover{
        text-decoration: none;
    }
}