@import "variable";
.con-1{
    padding: 12px;
}
.back{
    font-size: 16px;
    color: $lxp-theme-green;
}
:host /deep/ .mat-ink-bar {
    height: 2px !important;
    background-color: $lxp-theme-green !important;
  }
  
 // expand
  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  /* mani assignment tab css starts here */
  .assignmentName {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .viewDoc {
      color: $color-blank;
      font-size: 20px;
      width: 20px;
  }

  .download-button {
    background: $lxp-theme-green !important; // red color
    float: right;
    position: relative;
    top: -12px;
    right: 26px;
    height: 35px;
    width: 35px;
}
.close-button {
  background: $lxp-theme-green !important; // red color
  float: right;
  top: -12px;
  position: relative;
  right: -53px;
  height: 35px;
  width: 35px;
}
.download-icon {
  position: relative;
  bottom: 2px;
}

.icon {
  color: $color-blue;
}

.not-submited {
    color: $lxp-gray;
}

.grade {
  color: $color-dark-green;
  }
  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

::ng-deep .mat-expansion-panel-content {
margin-bottom: 1% !important;
}

.gradedUpload {
  color: $lxp-icon !important;
  cursor: not-allowed !important;
}

    /* mani assignment tab css ends here */