<app-header></app-header>
<div class="con-1">
  <span class="back" routerLink="/Learner/MyCourse" routerLinkActive="active"> < Back</span>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Assignments">
    
    </mat-tab>

    <mat-tab label="Perform"> 
      <div class="box-0-1">
        <div class="row"  (click)="isCollapsed = !isCollapsed">
          <div class="col-10">
            <div class="f_size_16 f_wt_600">1. Pollution level and corrosion</div>
            <div class="t-l">Pollution level and corrosion Pollution level and corrosion Pollution level and corrosion</div>
            <div class="t-l">Activity : Create cutton mark</div>
          </div>
          <div class="col-2">
            <span class="f_wt_600">  <span class="dot"></span>Yet to submit</span><br>
            <div class="m-l-23">Iterations : 5</div>
            <div class="m-l-43">Start date :<span class="margin-5"></span>End date :</div>
            <div class="m-l-43">Oct 01, 2020<span class="margin-5"></span>Oct 12, 2020 </div> 
          </div>
        </div>
        <div class="panel" *ngIf="isCollapsed">
          <div class="row">
            <div class="col-8">
              <div class="f_size_16 f_wt_600">Material for activity</div>
              <div class="row">
                <div class="col-4 m-t">
                  <img alt="Course Img" src="../../../../assets/images/play.jpg" class="courseImg" />
                  <div class="con">
                  <div class="uppertext">Material for activity</div>
                  <div class="overlay">
                   <span class="margin-5">Duration : 01:20:00</span> 
                  <div class="row ">
                    <div class="col-6 dis-line">
                      <mat-icon  class="f_size_14" aria-hidden="false">play_circle_outline</mat-icon>Play
                    </div>
                    <div class="col-6 dis-line">
                      <mat-icon class="f_size_14" aria-hidden="false">get_app</mat-icon>Download
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="f_size_16 f_wt_600">Your work</div>
            </div>
          </div>
          
        </div>
      </div>
       </mat-tab>

    <mat-tab label="Project"> Project </mat-tab>

  </mat-tab-group>
</div>