<app-header></app-header>
<div class="con-1">
  <span class="back" routerLink="/Learner/MyCourse" routerLinkActive="active"> < Back</span>

  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Assignments">
      <mat-accordion class="example-headers-align" multi>
        <ng-container *ngFor="let res of assignmentContent?.coursedetails; let i = index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{res?.modulename}}
                </span>
              </mat-panel-title>
              <!-- <mat-panel-description>
              Type your name and age
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description> -->
            </mat-expansion-panel-header>

            <!-- tab  data comes here-->

            <div class="row">
              <div class="col-12">
                <mat-list *ngFor="let mod of res?.moduledetails">
                  <mat-list-item>
                    <div mat-line class="row">
                      <div class="col-12">
                        <span>
                          {{mod?.topicname}} :
                        </span>
                      </div>

                    </div>
                    <div class="row" *ngFor="let file of mod.resourse?.files">
                      <div class="col-2">
                        <div class="row">
                          <div class="col-12">
                            <span class="singleline-text"><b>{{'Assignment name' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <img *ngIf="file.doc_type == 'application/pdf'" class="size" alt=""
                              src="assets/learner/fileicon/PDF_Icon.svg">
                            <img *ngIf="file.doc_type == 'link'" class="size" alt=""
                              src="assets/learner/fileicon/Link_Icon.svg">
                            <img
                              *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                              class="size" alt="" src="assets/learner/fileicon/Excel_Icon.svg">
                            <img *ngIf="file.doc_type == 'image/jpeg' || file.doc_type == 'image/png' " class="size"
                              alt="" src="assets/learner/fileicon/Image_Icon.svg">
                            <img
                              *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.presentationml.presentation'"
                              class="size" alt="" src="assets/learner/fileicon/PPT_Icon.svg">
                            <img
                              *ngIf="file.doc_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                              class="size" alt="" src="assets/learner/fileicon/Word_Icon.svg">
                            <img *ngIf="file.doc_type == 'application/msword'" class="size" alt=""
                              src="assets/learner/fileicon/Word_Icon.svg">
                            <img *ngIf="file.doc_type == 'application/vnd.ms-excel'" class="size" alt=""
                              src="assets/learner/fileicon/Excel_Icon.svg">
                            <mat-icon class="docType no-cursor" *ngIf="file.doc_type == 'text/plain' ">
                              description </mat-icon>&nbsp;
                            <span class="assignmentName" tooltip="{{file.type_name}}"
                              placement="bottom">{{file.type_name}}</span>
                          </div>
                          <div class="col-12 f_size_12" *ngIf="file?.type_name =='Link'">
                            <span class="ml-2">
                              NA
                            </span>

                          </div>
                          <div class="col-12 f_size_12" *ngIf="file?.size">
                            {{file.size}}
                          </div>

                        </div>
                      </div>
                      <div class="col-1">
                        <div class="row">
                          <div class="col-12">
                            <span><b>{{'Question' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="ml-3">
                              <mat-icon *ngIf="file.enableView" (click)="previewDoc(previewDialog,file)"
                                class="viewDoc">find_in_page
                              </mat-icon>
                              <mat-icon *ngIf="!file.enableView" class="viewDoc">find_in_page
                              </mat-icon>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-12">
                            <span><b>{{'Start date' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="singleline-text">
                              {{file.startDate  | date :'MMM d, y h:mm a'
                              }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-12">
                            <span><b>{{'End date' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="singleline-text">
                              {{file.endDate  | date :'MMM d, y h:mm a'
                              }}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="row">
                          <div class="col-12">
                            <span>
                              <b>{{'Upload' | translate }}</b>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="uploadIcon" *ngIf="file?.enableUpload" >
                              <i (click)="fileInput.click()" class="fa fa-upload searchicon ml-3 tooltip-350 pointer" [tooltip]="popTemplate"
                                placement="bottom" aria-hidden="true"></i>
                              </span>

                            <span class="uploadIcon" *ngIf="!file?.enableUpload" >
                              <i class="fa fa-upload ml-3 tooltip-350 pointer gradedUpload"  aria-hidden="true"></i>
                              </span>
                            <input class="form-control border-right-0" type='file' id="upload-photo" #fileInput
                              (change)="uploadAssignmentsFile($event,file._id,res?.modulename,mod?.topicname,file.type_name,file?.score,file?.endDate,file?.path)">
                          </div>
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="row">
                          <div class="col-12">
                            <span class="singleline-text"><b>
                                {{'Max score' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="ml-3">
                              {{file?.score}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="row">
                          <div class="col-12">
                            <span class="singleline-text">
                              <b>
                                {{'Obtained score' | translate }}
                              </b>
                            </span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <span class="ml-5">
                              {{file?.score_mark}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="row">
                          <div class="col-12">
                            <span><b>{{'Status' | translate }}</b></span>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="disply no-cursor"
                              *ngIf="file.doc_status === false && file.grade_status === 'Not Evaluated'">
                              <div class="icon">
                                {{'Submitted' | translate }}
                              </div>
                            </div>
                            <div class="disply no-cursor" *ngIf="file.doc_status && file.grade_status != 'Evaluated'">
                              <div class="not-submited">
                                {{'Yet to Submit' | translate }}
                              </div>
                            </div>
                            <div class="disply no-cursor" *ngIf="file.grade_status === 'Evaluated'">
                              <div class="grade" style="padding-top: 4px;color: green;">
                                {{'Graded' | translate }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>

    </mat-tab>

    <mat-tab label="Perform"> 
      <div class="box-0-1">
        <div class="row"  (click)="isCollapsed = !isCollapsed">
          <div class="col-10">
            <div class="f_size_16 f_wt_600">1. Pollution level and corrosion</div>
            <div class="t-l">Pollution level and corrosion Pollution level and corrosion Pollution level and corrosion</div>
            <div class="t-l">Activity : Create cutton mark</div>
          </div>
          <div class="col-2">
            <span class="f_wt_600">  <span class="dot"></span>Yet to submit</span>
            <mat-icon  class="f_size_16 arr" aria-hidden="false">keyboard_arrow_down</mat-icon>
            <br>
            <div class="m-l-23">Iterations : 5</div>
            <div class="m-l-68">Start date :<span class="margin-30"></span>End date :</div>
            <div class="m-l-68 f_wt_600">Oct 01, 2020<span class="margin-21 f_wt_600"></span>Oct 12, 2020 </div> 
          </div>
         
           
        </div>
        
        <div class="panel" *ngIf="isCollapsed">
          <hr>
          <div class="row">
            <div class="col-8">
              <div class="f_size_16 f_wt_600">Material for activity</div>
              <div class="row">
                <div class="col-4 m-t">
                  <img alt="Course Img" src="../../../../assets/images/play.jpg" class="courseImg" />
                  <div class="con">
                  <div class="uppertext">Material for activity</div>
                  <div class="overlay">
                   <span class="margin-5">Duration : 01:20:00</span> 
                  <div class="row ">
                    <div class="col-5 dis-line pointer">
                      <mat-icon  class="f_size_16" aria-hidden="false">play_circle_outline</mat-icon>Play
                    </div>
                    <div class="col-7 dis-line pointer">
                      <mat-icon class="f_size_16" aria-hidden="false">get_app</mat-icon>Download
                    </div>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </div>
      
            <div class="col-4">
            
              <div class="f_size_16 f_wt_600 align-center margin-b-9">Your work</div>
              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     iteration 1
                    </mat-panel-title>
                    <mat-panel-description>
                     <span class="width">Score: - / 100</span> 
                      <span class="f_wt_600">  <span class="dot"></span>Yet to submit</span>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="align-center">
                    <button mat-stroked-button  class="upload-btn"> 
                      <mat-icon class="icon-color m-t-m-2">add</mat-icon>
                      Upload video
                    </button>

                    <button mat-stroked-button  class="submit-btn"> 
                      Submit
                    </button>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          
        </div>
      </div>
       </mat-tab>

    <mat-tab label="Project"> 
      <div class="box-0-1" *ngFor="let project of projectDetails">
        <div class="row">
          <div class="col text-right">
          <mat-icon class="f_size_16 expansionarr" aria-hidden="false" *ngIf="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">keyboard_arrow_down</mat-icon>
          <mat-icon class="f_size_16 expansionarr" aria-hidden="false" *ngIf="isCollapsed"
          (click)="isCollapsed = !isCollapsed">keyboard_arrow_up</mat-icon>
        </div>
        </div>
      <div class="row">
        <div [ngClass]="openList ? 'col-10' : 'col-12'">
          <!-----------------------------Row 1--------------------->
          <div class="row">
            <div class="col-12">
              <span class="topic text-left">
                <mat-icon class="assignIcon">assignment</mat-icon>
                <span class="f_size_16 f_wt_600 projHead">{{project.projectActivity.topic_id}}</span>
              </span>
            <!---------------------------Team------------------>
                  <span class="float-right group">
              <button mat-mini-fab class="groupBtn">
                <mat-icon class="grpIcon">group</mat-icon>
              </button>
              <span class="teamName">{{project.projectActivity.groupname}} ({{project.projectActivity.groupcount}})</span>&nbsp;
              <button mat-mini-fab class="arrBtn" *ngIf="!showIcon" (click)="openList = !openList; showIcon = !showIcon">
                <mat-icon class="grpIcon">arrow_back</mat-icon>
              </button>
            </span>
          </div>
          </div>
          <!-----------------------------Status------------------------->
          <div class="row">
            <div class="col-10"></div>
            <div class="col-2 text-right">
              <span class="f_wt_600 status" *ngIf="project.projectActivity.submit_status == 'notsubmitted'">  <span class="dot"></span>
              Yet to submit</span>

              <span class="f_wt_600 submitstatus" *ngIf="project.projectActivity.submit_status == 'submitted'">  <span class="submitdot"></span>
              Submitted</span>
            </div>
          </div><br>

          <div class="row">
            <div class="col-9">
              <div class="t-l-1">{{project.projectActivity.activityname}}</div>
            </div>
            <div class="col-3 text-right">
              <div class="m-r-40">Start date :<span class="margin-30"></span>End date :</div>
              <div class="m-r-2 f_wt_600">Oct 01, 2020<span class="margin-21 f_wt_600"></span>Oct 12, 2020 </div> 
            </div>
          </div>
          <!-----------------------------Materials for activity--------------------->
          <div class="panel1" *ngIf="isCollapsed">
            <hr>
            <div class="row">
              <div class="col-8">
                <div class="f_size_16 f_wt_600">Material for activity</div>
                <div class="row">
                  <div class="col-4 m-t">
                    <img alt="Course Img" src="../../../../assets/images/play.jpg" class="courseImg" />
                    <div class="con">
                    <div class="uppertext">Material for activity</div>
                    <div class="overlay">
                     <span class="margin-5">Duration : 01:20:00</span> 
                    <div class="row ">
                      <div class="col-6 dis-line">
                        <mat-icon  class="f_size_14" aria-hidden="false">play_circle_outline</mat-icon>Play
                      </div>
                      <div class="col-6 dis-line">
                        <mat-icon class="f_size_14" aria-hidden="false">get_app</mat-icon>Download
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="f_size_16 f_wt_600 align-center">Your work</div>
                <div class="box-0-2">
                <div class="align-center">
                  <button mat-stroked-button  class="upload-btn"> 
                    <mat-icon class="icon-color m-t-m-2">add</mat-icon>
                    Add your files
                  </button>
  
                  <button mat-stroked-button  class="submit-btn"> 
                    Submit
                  </button>
                </div>
              </div>
              </div>
            </div>
            
          </div>
        </div>
       <!------------------------------------Learner list------------------------------->
        <div class="col-2 learnerList" *ngIf="openList">
          <div class="align-center">{{project.projectActivity.groupname}} ({{project.projectActivity.groupcount}})
            <button mat-mini-fab class="arrfwd" *ngIf="showIcon" (click)="openList = !openList; showIcon = !showIcon">
              <mat-icon class="grpIcon">arrow_forward</mat-icon>
            </button>
          </div>
          <div class="list">
            <ul class="list-group" *ngFor="let learner of groupDetails">
              <li class="list-group-item">{{learner.name}}</li>
            </ul>
          </div>
  </div>
      </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<!-- dialogue box for assignment tab view assignment-->
<ng-template #previewDialog>
  <div class="row">
    <div class="col-12">
      <button mat-mini-fab class="download-button">
        <mat-icon class="download-icon" (click)="downloadPdf(docpath)">get_app</mat-icon>
      </button>
      <button mat-mini-fab class="close-button">
        <mat-icon class="download-icon" (click)="closedialogbox()">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="docpath">
    <div class="col-12">
      <app-pdfreader [url]="docpath"></app-pdfreader>
    </div>
  </div>
</ng-template>
<!-- tooltip template for assignmnet tab -->
<ng-template #popTemplate class="tooltip-container">
  <span class="singleline-text">
      <span>
          {{'File size : 10mb, Format : jpg, png, jpeg, pdf' | translate }}
      </span>

  </span>
</ng-template>