@import "variable";
.brdcrmb {
  margin-top: -3px;
}

.con-1{
    padding: 12px;
}
.back{
    font-size: 16px;
    color: $color-blank;
    cursor: pointer;
}
.back :hover{
    color: $lxp-theme-green !important;
}
:host /deep/ .mat-ink-bar {
    height: 2px !important;
    background-color: $lxp-theme-green !important;
  }
  :host /deep/  .mat-expansion-panel:not([class*='mat-elevation-z']) {
     box-shadow: none !important;
     border: 1px solid $color-border !important; 
}
  //dot
  .dot {
    height: 10px;
    width: 10px;
    background-color: #6A6A6A;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
.arr{
    position: absolute;
    top: -15px;
    right: 0px;
    border: 1px solid $color-border;
    padding: 3px;
    font-weight: 600;
}

.statusTxt {
  font-size: 15px;
}

  .box-0-1{
      margin-top: 10px;
      width: 100%;
      padding: 20px;
      padding-bottom: 3%;
      overflow: hidden;
      height: auto;
      background-color: $color-white;
      border : 1px solid $color-border;
  }
  .t-l{
    margin-left: 14px;
    margin-top: 5px;
  }
  .margin-5{
      margin-left: 5px;
  }
  .panel{
      margin-top: 15px;
  }
  .courseImg {
    border: 1px solid $profile-s-grey;
    width: 60%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
  }
.upload-btn{
    width: 100%;
}
.margin-30{
    margin-left: 30px;
}
.margin-21{
    margin-left: 21px;
}
.submit-btn{
    color: $color-white !important;
    background-color: $lxp-theme-green;
    width: 45%;
    margin-top: 6%;
}
// .noData {
//   margin-top: 18px;
//   margin-left: 42px;
// }
.margin-b-9{
margin-bottom: 9px;
}
  .m-t{
      margin-top: 10px;
  }
.m-l-68{
    margin-left: -95px;
}
.m-l-23{
    margin-left: 23px;
}
.dis-line{
    display: flex;
    line-height: 1.5;
}
  .uppertext {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 54%;
    color:$color-white;;
    font-size: 12px;
    padding: 5px;
  }
  .overlay {
    position: absolute;
    bottom: -50px;
    background: rgba(0, 0, 0, 0.5);
    width: 54%;
    height: 50px;
    transition: .5s ease;
    opacity: 0;
    color: $color-white;
    font-size: 12px;
  }
  .con:hover .overlay {
    opacity: 1;
  }

  .uppertext-1 {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 76%;
    color:$color-white;;
    font-size: 12px;
    padding: 5px;
  }
  .overlay-1 {
    position: absolute;
    bottom: -50px;
    background: rgba(0, 0, 0, 0.5);
    width: 76%;
    height: 50px;
    transition: .5s ease;
    opacity: 0;
    color: $color-white;
    font-size: 12px;
  }
  .con:hover .overlay-1 {
    opacity: 1;
  }
  .width{
    width: 58%;
  }
  .align-center{
      text-align: center;
  }

  
  /* mani assignment tab css starts here */
  .assignmentName {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .viewDoc {
      color: $color-blank;
      font-size: 20px;
      width: 20px;
  }

  .download-button {
    background: $lxp-theme-green !important; // red color
    float: right;
    position: relative;
    top: -12px;
    right: 26px;
    height: 35px;
    width: 35px;
}
.close-button {
  background: $lxp-theme-green !important; // red color
  float: right;
  top: -12px;
  position: relative;
  right: -53px;
  height: 35px;
  width: 35px;
}

.close-buttonVideo {
  background: $lxp-theme-green !important; // red color
  float: right;
  top: -12px;
  position: relative;
  height: 35px;
  width: 35px;
}

::ng-deep .matDialogMat .mat-dialog-container {
  overflow: hidden !important;
}
::ng-deep .cdk-global-scrollblock{
  overflow-y: auto !important;
}
 :disabled .addIcon{
  cursor: not-allowed;
}

.download-icon {
  position: relative;
  bottom: 2px;
}

.icon {
  color: $color-blue;
}

.not-submited {
    color: $lxp-gray;
}

.grade {
  color: $color-dark-green;
  }
  #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

::ng-deep .mat-expansion-panel-content {
margin-bottom: 1% !important;
}

.gradedUpload {
  color: $lxp-icon !important;
  cursor: not-allowed !important;
}

    /* mani assignment tab css ends here */

/* Ramya's css */
.projHead {
  // color: $lxp-theme-green;
  position: absolute;
  left: 73px;
}
.assignIcon {
  font-size: 19px;
  margin-left: 20px;
  cursor: text;
  color: $lxp-icon;
}
.group {
  margin-right: 13px;
}
.box-0-2{
  margin-top: 10px;
  margin-left: 71px;
  width: 79%;
  padding: 20px;
  padding-bottom: 3%;
  overflow: hidden;
  height: auto;
  background-color: $color-white;
  border : 1px solid $color-border;
}
.box-0-3 {
  background-color: $color-white;
  border : 1px solid $color-border;
  height: auto;
}
.groupBtn {
  border: 1px solid #5C6873;
  opacity: 1;
  background-color: #ffffff;
  color: #1F1A17;
  width: 20px;
  height: 20px;
  position: relative;
  right: 38px;
  top: 5px;
  cursor: default;
}
.groupBtn1 {
  border: 1px solid #5C6873;
  opacity: 1;
  background-color: #ffffff;
  color: #1F1A17;
  width: 20px;
  height: 20px;
  position: relative;
  right: 9px;
  top: 9px;
  cursor: default;
}
.grpName {
  position: relative;
  bottom: 2px;
  left: 1px;
}
.groupData {
  position: relative;
  bottom: 12px;
  right: 10px;
}
.arrBtn {
  background-color: #ffffff;
  border: 1px solid #5C6873;
  opacity: 1;
  color: #1F1A17;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 32px;
  top: 5px;
}
.grpIcon {
  font-size: 11px;
  margin-top: -8px;
  margin-left: -3px;
  cursor: default;
}
.arrBack {
  font-size: 11px;
  margin-top: -8px;
  margin-left: -3px;
  cursor: pointer;
}
.status {
  margin-right: 3rem;
}

.endDateTxt {
  margin-left: 92px;
}

.EndDate {
  margin-left: 1.4rem;
}

.itrationTxt {
  margin-left: 33px;
}

.itrationTxts {
  margin-left: 14px;
}

.upload-bltn {
  width: 70%;
  border: 1px soid #707070;
  background-color: #F5F5F5;
}

.colorRed {
  color: $color-maroon;
}

.colorGreen {
  color: $color-text-success;
}

.uploadedFile {
  color: #000000;
}

.submitedFile {
  color: #666666;
}

.submitstatus {
  color: #FFA04E;
  position: relative;
  left: 10px;
  font-size: 15px;
}
.gradeStatus {
  color: #0C781B;
  position: relative;
  left: 38px;
  font-size: 15px;
}
.projectSubmitstatus {
  color: #FFA04E;
  position: relative;
  right: 40px;
}
.iterStatus {
  position: absolute;
  right: 62px;
}
.grade {
  color: #0C781B;
  position: relative;
  right: 48px;
  // right: 3px;
}
.iterSubmit {
  color: #FFA04E;
}
.iterGrade {
  color: #0C781B;
}
.submitdot {
  background-color: #FFA04E;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}
.gradedot {
    background-color: #0C781B;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    right: 9px;
}
.m-r-40 {
  margin-right: 44px;
}
.m-r-2 {
  margin-right: 37px;
}
.topic {
  margin-top: 19px;
}
::ng-deep .learnerData .list-group-item{
background: #FBF6E1 0% 0% no-repeat padding-box !important;
box-shadow: 0px 1px 2px #00000029 !important;
border: 0.5px solid #D6D6D6 !important;
border-radius: 5px !important;
opacity: 1 !important;
}
.list {
margin-top: 8px;
}
.t-l-1 {
  margin-left: 25px;
  margin-top: 5px;
}
.teamName {
  position: relative;
  right: 28px;
  bottom: 6px;
}
.expansionarr {
  border: 1px solid $color-border;
  padding: 3px;
  font-weight: 600;
  margin-top: -6px;
  position: absolute;
  top: -11px;
  right: 3px;
}
.arrfwd {
  background-color: #ffffff;
  border: 1px solid #5C6873;
  opacity: 1;
  color: #1F1A17;
  width: 20px;
  height: 20px;
  float: right;
  position: absolute;
  right: 32px;
  top: -3px;
}
.learnerList {
  margin-top: 8px;
}
.panel1 {
  margin-top: 15px;
  margin-left: 25px;
}
.selectedfile {
  margin: 0px 10px 8px 10px;
}
.fileIcon {
  position: relative;
    top: 7px;
}
.totscore {
  position: relative;
  right: 40px;
}
.submission{
  margin-left: 2px; 
}
.fileData {
  background-color: #D5D5D5;
  border: 0.25px solid #707070;
  width: 100%;
  height: 2.8rem;
  padding: 0.3rem 5px;
}
.uploadfileName {
  position: relative;
  left: 10px;
  top: 5px;
}
.submitted-btn{
  color: $color-white !important;
  background-color: #898989;
  width: 45%;
  // margin-top: 6%;
  cursor: not-allowed;
}
.deleteIcon {
  color: #5C6873;
  font-size: 21px;
  margin-top: 4px;
}
.pointer {
  cursor: pointer;
}
.closeBtn {
  float: right;
  top: -12px;
  position: relative;
  right: -11px;
  height: 35px;
  width: 35px;
}
.work {
  position: relative;
  left: 35px;
}

::ng-deep .custom-mat-tooltip {

  position: absolute !important;
  bottom: 50px !important;
  background-color: black !important;
  opacity: 1 !important;
  font-size: 12px !important;
}
.itrCount {
position: relative;
right: 3rem;
}
.noSessionCard {
  margin: auto;
  margin-top: 3%;
  border-radius: 0;
  opacity: 1;
  text-align: center;
  padding-bottom: 8px !important;
  padding-right: 0px !important;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  opacity: 1;
  border-left: 5px solid #ffc107bf !important;
  width: 40%;
}
.color-yellow-card-status {
  border-left: 5px solid $lxp-status-yellow !important;
  color: $color-blank !important;
  border-radius: 6px;
}
.noSessionImg {
  width: 45px;
  margin-left: 0%;
}
.actImg {
  position: absolute;
  // top: 19px;
}
.noData {
  font: normal normal normal 23px/29px Roboto Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  padding-bottom: 13px;
  text-align: left;
}
.actTxt {
  margin-left: 12px;
}
/*Ramya CSS ends here*/
.videoPreview {
  background-color: #D5D5D5;
  border: 0.25px solid #707070;
  width: 70%;
  height: 2.8rem;
  padding: 0.3rem 5px;
}

.deleteBtn {
  color: #5C6873;
  font-size: 20px;
}

// .submitted-btn{
//   color: $color-white;
//   background-color: #898989;
//   width: 45%;
//   margin-top: 6%;
//   cursor: none;
// }

.videoPlay {
    color: #898989;
    font-size: 25px;
    background-color: white;
    width: 2.5rem;
    height: 2rem;
    padding: 4px 5px 5px 7px;
    border-radius: 2px;
    cursor: default;
}

.carouselCard {
  border: 0.5px solid #707070;
  cursor: pointer;
}

.carouselRow1 {
  height: 7rem;
}
// .carouselRow2 {
//   height: 50%;
// }

.carouselRow {
  height: 3rem;
  background-color: #5C6873;
}

.carouselRowHover {
  height: 4rem;
  background-color: #5C6873;
}

.playActions {
  margin-bottom: 10px;
}

.carouselCol {
  max-width: 73% !important;
  height: 15rem;
  margin-left: 2rem;
}

.carouselCol1 {
  max-width: 100% !important;
  height: 15rem;
  margin-left: -15px;
}

// .carouselHoverCol {
//   max-width: 100% !important;
//   height: 11rem;
// }

.carouselText {
  font-size: 12px;
  color: #ffffff;
}

.downloadBtn {
  top: 0.3rem;
}

.playBtn {
  font-size: 18px;
  top: 3px;
  left: 0.6rem;
}

.actionBtn {
  font-size: 12px;
  margin-left: 2rem;
}

.actionBtn1 {
  font-size: 12px;
  margin-left: 1.5rem;
}

.colAction {
 padding-left: 5px;
 cursor: pointer;
 
}
.imageIcon {
  font-size: 50px;
  margin-left: 3.2rem;
  color: #898989;
}
.feedBackTxt {
  color: $label2;
}

.AssignmentBtn {
  height: 3rem;
  font-weight: bolder;
  font-size: 15px;
  border: 1px solid #707070;
}

.textArea {
  align-content: left;
  border-block-end-width: 1px solid #BEBEBEBF;
  color: $label2;
  width: 100%;
}

.assignmentIcon {
  color: #5C6873;
}

.pdfIcon {
  font-size: 50px;
  margin-left: 3rem;
  color: #898989;
}

:host ::ng-deep .widthClass .owl-carousel.owl-drag .owl-item {
  width: 13.5rem !important;
}

:host ::ng-deep .arrow .owl-theme .owl-nav [class*='owl-'] {
  color: $color-darkGrey;
  font-size: 30px !important;
  // background: #252525;
  background: transparent;
  display: inline-block;
  cursor: pointer !important;
  padding: 14px !important;
  border-radius: 50px !important;
  width: 40px;
  z-index: -1 !important;
  opacity: 0.7;
}

:host ::ng-deep .arrow .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 30%;
  z-index: 1 !important;
  left: -18px;
  height: 50px;
  width: 50px;

}

:host ::ng-deep .arrow .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 30%;
  z-index: 1 !important;
  right: -18px;
  height: 50px;
  width: 50px;

}

:host ::ng-deep .owl-theme {
 height: 15rem !important;
}

::ng-deep .itdata .arrow .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 12%;
  z-index: 1 !important;
  left: -18px;
  height: 50px;
  width: 50px;

}

::ng-deep .itdata .arrow .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 12%;
  z-index: 1 !important;
  right: -25px;
  height: 50px;
  width: 50px;

}

:host ::ng-deep .owlItration .owl-theme {
  height: 9rem !important;
 }

:host ::ng-deep .owl-carousel .owl-stage-outer{
  height: 100%;
}
.errormsg {
  padding: 20px 44px 20px 0px;
  font-size: 18px;
  font-weight: 500;
  background: #F7FBFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.5px solid #707070;
  border-radius: 10px;
  opacity: 1;
}

.redHover:hover {
  color: $lxp-theme-green !important;
}
.backIc {
  width: 10px !important;
  margin-left: 10px !important;
}
.courseName {
  margin-left: 10px;
  margin-top: 12px;
}
.assignImg {
  width: 10%;
  height: 38px;
}
.errmsg {
  height: 30rem;
}
.subStatus {
  position: relative;
  left: 28px;
}
.assignDetails {
  margin-right: 9px;
}
.box-0-3{
margin-top: 10px;
margin-left: 34px;
width: 95%;
padding: 20px;
padding-bottom: 3%;
overflow: hidden;
height: auto;
background-color: #ffffff;
border: 1px solid #ccc;
}

.matCardIconRow {
  height: 60%;
}

.matCardIconRow1 {
  height: 71%;
}

.materialCard {
  width: 8rem;
  height: 7rem;
  cursor: pointer;
  margin-left: 1rem;
}

.icons {
  font-size: 30px;
  padding: 1.2rem 0rem;
  color: #898989;
}

.fileSelDet {
  background-color: #5C6873;
  height: 40%;
}
.fileSelDet {
  height: 2rem;
  background-color: #5C6873;
}

.fileSelDetHover {
  height: 3rem;
  background-color: #5C6873;
}

.fileNameCol {
  padding-left: 5px !important;
}

.fileColor {
  font-size: 10px;
  color:#E8E8E8;
}

.playBtnmobile {
  font-size: 14px;
  top: 3px;
  left: 0rem;
}

.actionBtnmobile {
  font-size: 10px;
  margin-left: 1rem;
}

.downloadBtnMobile {
  font-size: 10px;
  top: 0.3rem;
}

.colActionDownload {
  padding-left: 0px;
  cursor: pointer;
}

.actionBtn1Mobile {
  font-size: 10px;
  margin-left: 1rem;
}

.m-l {
  margin-left: 44px;
}

.startDate {
  margin-left: -6rem;
}

@media (max-width: 767px) {
.noSessionCard {
  width: 100% !important;
}

.noData {
  text-align: center;
}

.noSessioncardRow {
  width: 100%;
}

.spanTxt {
  font-size: 14px;
}

.performCard {
  width: 100%;
  height: 10rem;
  padding: 8px !important;
}

.subTittle {
  font-size: 14px;
  font-weight: bolder;
  color: black;
  margin: 0 0 10px !important;
}


.textGrayColor1 {
  color: $color-lightGray;
}

.submitstatus1 {
  color: #FFA04E;
}

.gradeStatus1 {
  color: #0C781B;
}

.footer {
  padding: 15px;
  font-size: inherit;
  left: 0;
  bottom: 0 !important;
  width: 100%;
  color: $label;
  // position: fixed;
  z-index: 999999;
  font-weight: 500;
  background-color: $profile-t-grey;
  text-align: right;
  border-top: 2px solid $profile-p-grey;
}

}
// Mobile
@media (min-width: 200px) and (max-width: 767.98px) {
  .footer {
      text-align: center;
  }
  :host ::ng-deep .mat-tab-label, .mat-tab-label-active {
    min-width: 110px !important;
    padding: 3px !important;
    margin: 0px !important;
}

:host ::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination { 
  display: none !important;
}
}