<div class="loginWrapper">
    <mat-card class="h-100 loginContainer d-flex justify-content-start">
      <div class="brandLogo d-lg-flex justify-content-between align-items-center flex-column">
        <div class="topImage">
          <figure class="logo">
            <img alt="" src="https://assets.lntedutech.com/application_images/edutech-logo.webp">
          </figure>
        </div>
        <div class="middleImage">
          <figure class="obstacles">
            <img src="https://assets.lntedutech.com/application_images/entryimage.webp" alt="" />
          </figure>
        </div>
        <div class="downloadApp d-flex justify-content-center align-items-center">
          <span>{{'Download our Mobile app' | translate}}</span>
          <figure class="googlePlay">
            <img alt="" src="https://assets.lntedutech.com/application_images/googleplay.webp">
          </figure>
          
        </div>
      </div>
      <div class="loginSection">
        <div class="signInContainer d-flex justify-content-center align-items-center flex-column h-100">
          <figure class="logo">
            <img alt="" src="https://assets.lntedutech.com/application_images/edutech-logo.webp">
          </figure>
          <!-- Auth Verification -->
          <div class="authVerification">
              <div *ngIf="!secondStep">
                <h2>{{'Scan this QR Code' | translate}}</h2>
                <div class="qrCode">
                  <span>
                    <em></em>
                    <em></em>
                    <em></em>
                    <em></em>
                    <img [src]="qrCode" alt="QR Code" />
                  </span>
                </div>
                <span class="download">
                  {{'Download' | translate}} <span>&nbsp;{{'Google authenticator' | translate}}&nbsp;</span> {{'App in your mobile to scan this code' | translate}}
                </span>
                <div class="gradientBtn">
                  <button id="login" mat-raised-button (click)="secondStep=true;">
                    <span>{{'Next' | translate}}</span>
                  </button>
                </div>
              </div>
              <div class="secondStep" *ngIf="secondStep">
                <h2 class="d-flex justify-content-center">{{'Enter the code generated in your Google Authenticator App' | translate}}</h2>
                <div class="d-flex justify-content-center OTPInput mt-5 mb-5 otp">
                    <ng-otp-input #authInput (onInputChange)="onAuthChange($event)" (keydown.enter)="verifyAuth()"  [config]="{length:6,allowNumbersOnly: true}"></ng-otp-input>
                </div>
                <div class="gradientBtn">
                  <button id="login" mat-raised-button (click)="verifyAuth()">
                    <span *ngIf="!loader">{{'Verify' | translate}}</span>
                    <div *ngIf="loader" class="spinnerLoader">
                      <!-- <div class="stage">
                        <div class="dot-falling"></div>
                      </div> -->
                    </div>
                  </button>
                  <span class="resetAuthenticator" (click)="resetAuth()">Reset Goggle Authenticator?</span>
                </div>
              </div>
            <div class="dontHaveAccount">
                <span>{{'Go back to ' | translate}}<a class="signup" (click)="backToIn()"> {{'Sign in' | translate}}</a></span>
              </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>