<div class="loginWrapper">
    <div class="loginContainer d-flex justify-content-start">

      <div class="carouselSection">
        <div class="topImage">
          <figure class="logo">
            <img alt="" src="../../../../assets/images/edutech-logo.png" />
          </figure>
        </div>
        <div class="stepsToFollow">
          <div>
            <h3>
              <span>Steps to be followed to</span> 
              <span>login for the first time</span>
            </h3>
            <ul>
              <li class="animated fadeInDown">
                <div><span>1</span></div> 
                <div>In your mobile, install <a>'Google Authenticator'</a> from the Google Play Store or App Store</div>
              </li>
              <li class="animated fadeInDown delay1s">
                <div><span>2</span></div>
                <div>Click ' <img src="/assets/gPlus.png" alt="google plus" /> ' in Google Authenticator and select <strong>'Scan a QR code'</strong></div>
              </li>
              <li class="animated fadeInDown delay2s">
                <div><span>3</span></div>
                <div>Scan the QR code displayed on your screen and click <strong>'Next'</strong></div>
              </li>
              <li class="animated fadeInDown delay3s">
                <div><span>4</span></div>
                <div>Enter the 6 digit code displayed on your Google Authenticator and click <strong>'Verify'</strong></div>
              </li>
              <li class="animated fadeInDown delay4s">
                <div><span>5</span></div>
                <div>Carry out all the above mentioned steps in your personal device and do not delete the authenticator app. You would require to enter the 6 digit code everytime you login.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="loginSection">
        <figure class="logo">
          <img alt="" src="../../../../assets/images/edutech-logo.png" />
        </figure>
        <span class="visitWebsite"><a href="https://lntedutech.com/" target="dontopen">www.lntedutech.com</a></span>
        <div>
          <div class="signInContainer d-flex justify-content-center align-items-center flex-column h-100">
            <!-- Auth Verification -->
            <div class="authVerification">
              <div class="firstStep" *ngIf="!secondStep">
                <h1><span>{{'Google' | translate}}</span> {{'Authenticator' | translate}}</h1>
                <div class="qrCode">
                  <span>
                    <em></em>
                    <em></em>
                    <em></em>
                    <em></em>
                    <img [src]="qrCode" alt="QR Code" />
                  </span>
                </div>
                <span class="download">
                  {{'Scan this QR code using "Google authenticator"' | translate}}
                  <!-- {{'Download' | translate}} <span>&nbsp;{{'Google authenticator' | translate}}&nbsp;</span> {{'App in your mobile to scan this code' | translate}} -->
                </span>
                <div class="gradientBtn">
                  <button id="login" mat-raised-button (click)="secondStep=true;">
                    <span>{{'Next' | translate}}</span>
                  </button>
                </div>
              </div>
              <div class="secondStep" *ngIf="secondStep">
                <h1><span>Enter</span>{{'OTP' | translate}}</h1>
                <h4>Enter the code generated in your <br /><span>Google Authenticator</span> App</h4>
                <div class="d-flex justify-content-center OTPInput mt-5 mb-5 otp">
                  <ng-otp-input #authInput (onInputChange)="onAuthChange($event)" (keydown.enter)="verifyAuth()"  [config]="{length:6,allowNumbersOnly: true}"></ng-otp-input>
                </div>
                <div class="d-flex justify-content-center mt-1">
                  <re-captcha  #captchaRef="reCaptcha" (resolved)="resolvedReset2FA($event)" (error)="onError($event)" errorMode="handled" [siteKey]="siteKey" size='invisible'></re-captcha>
                </div>
                <div class="gradientBtn">
                  <button id="login" mat-raised-button (click)="verifyAuth()">
                    <span *ngIf="!loader">{{'Verify' | translate}}</span>
                    <div *ngIf="loader" class="spinnerLoader">
                    </div>
                  </button>
                  <span>
                    <a class="resetAuthenticator" (click)="checkCaptchaReset2FA(captchaRef)">{{'Reset Google Authenticator?' | translate}}</a>
                  </span>
                </div>
              </div>
              <div class="dontHaveAccount">
                <span>{{'Go back to ' | translate}}<a class="signup" (click)="backToIn()"> {{'Sign in' | translate}}</a></span>
              </div>
              <div class="downloadApp d-flex justify-content-center align-items-center">
                <figure class="googlePlay" (click)="openGooglePlay()">
                  <img alt="" src="../../../../assets/images/googlePlay.png" />
                </figure>
                <figure class="playStore" (click)="openPlayStore()">
                  <img alt="" src="../../../../assets/images/playstore.png" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="left"></div>
      <div class="right"></div>
      <div class="container">
        <div class="copyrights">
          <span>© {{currentYear}} L&T EduTech. All rights reserved</span>
        </div>
        <div class="policy">
          <ul>
            <li>
              <a href="https://lntedutech.com/support-form/" target="newTab">
                <span>Technical Support</span>
              </a>
            </li>
            <li>
              <a href="https://lntedutech.com/feedback-form/" target="newTab">
                <span>Feedback</span>
              </a>
            </li>
            <li>
              <a class="privacyPolicy" href="https://lntedutech.com/privacy-policy-2/" target="privacyPolicy">
                <span>Privacy policies</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>