<h1> Group Management</h1>
<div class="row">
  <div class="card col-3">
    <h1>Select Group/Sub Group</h1>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <!-- <button mat-icon-button disabled></button> -->
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename"
          (click)="loadsubgroup(node)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox class="checklist-leaf-node" [checked]="selected === node" (change)="selected = node"
          name="checkbox" [(ngModel)]="node.checkbox" [checked]="checklistSelection.isSelected(node)"
          (change)="checklistSelection.toggle(node);selectgroup(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)" [checked]="selected === node" (change)="selected = node"
          name="checkbox" [(ngModel)]="node.checkbox" [indeterminate]="descendantsPartiallySelected(node)"
          (change)="todoItemSelectionToggle(node);selectgroup(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>
    </mat-tree>

  </div>
  <div class=" col-8">
    <div class="tab_container">
      <input id="tab1" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs" checked>
      <label class="tab-class" for="tab1"><i class="fa fa-pencil-square-o"></i><span>Create Group</span></label>

      <input id="tab2" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs">
      <label class="tab-class" for="tab2"><i class="fa fa-pencil-square-o"></i><span>View User</span></label>

      <section id="content1" class="tab-content">
        <b>{{currentpath?.item}} -> New Group</b>
        <form (ngSubmit)="savegroup(groupform)" #groupform="ngForm">
          <br>
          <span>Group Name&nbsp;<b class="text-danger">*</b></span>&nbsp;&nbsp;
          <mat-form-field class="field px-2">
            <input type="text" placeholder="Enter Group/Sub Group Name" matInput ngModel name="group_name"
              #groupname1="ngModel" required>
            <mat-error *ngIf="groupname1.errors">
              <div *ngIf="groupname1.errors?.required" class="text-danger">Group Name is
                required</div>
              <!-- <div *ngIf="groupname1.errors?.pattern" class="text-danger">License  Number
                  Should Be Numbers and max Size 15 only</div> -->
            </mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Save</button> &nbsp;
          <button mat-raised-button color="primary" type="reset">Cancel</button>
        </form>
      </section>
      <section id="content2" class="tab-content">
      </section>
    </div>
  </div>
</div>
