@import "variable";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-family: sans-serif;
  background: #f6f9fa;
}

h3 {

  text-align: center;
}

span {
  font-weight: 500;
  font-size: 14px;
  color: #000;

}

a {

  text-decoration: none;
  outline: none;
}

/*Fun begins*/
.tab_container {
  text-align: center;
  width: 100%;
  // margin:  auto;
  // padding-top: 70px;
  position: relative;
  overflow: auto;
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
  clear: both;
  padding-top: 10px;
  display: none;
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}

.tab-class {
  font-weight: 500;
  font-size: 15px;
  display: block;
  float: left;
  width: 50%;
  padding: 10px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
  margin: 0px;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
  display: block;
  // padding: 20px;
  background: #fff;
  color: #000;
  font-weight: 200;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
  text-align: center;
}

.tab_container [id^="tab"]:checked+label {
  background: #fff;
  box-shadow: inset 0 1px #c5d7fc;
}

.tab_container [id^="tab"]:checked+label .fa {
  color: #a3b4c9;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 900px) {
  label span {
    display: none;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.green {
  color: $color-dark-green;
}

.red {
  color: $color-red;
}

.black {
  color: $color-blank;
}

// // for tree

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  // margin: 0.5rem;
  position: relative;
  width: auto;
  overflow: auto;
  max-height: 500px;

}

// * {
// 	margin: 0;
// 	padding: 0;
// }
body {
  padding: 100px;
  background: #929292;
  font-size: 100%;
  font-family: "Arial";
}

input {
  font-size: 1em;
}

.mat-tree-node {
  min-height: 35px;
}

mat-tree {

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.children-invisible {
  display: none;
}

.margin20 {
  margin-top: 20px;
}

.cdk-overlay-pane {
  height: 500px;
}

.mat-menu-panel {
  height: 500px;
}

button.mat-raised-button {
  background: #1F3777 !important;
  color: #ffffff;
  width: 45%;
  // margin-left: 15%;
}

button.mat-menu-item {
  width: 100% !important;
  height: 500px !important;
}

:host ::ng-deep .customize {
  height: 300px;
}


.newstyle {
  .btnClassicon {
    width: 22px;

  }


}

:host ::ng-deep mat-checkbox .mat-checkbox-layout {
  margin: 0px !important;
}

:host ::ng-deep mat-checkbox .mat-checkbox-frame {
  border: 0px;
  background-color: rgb(197, 215, 252) !important;

}

:host ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
:host ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #437891 !important;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 1px 0;
  background: rgb(197, 215, 252) !important;
  ;
  display: inline-block;
  border: 1px solid rgb(197, 215, 252) !important;
  ;
  box-sizing: border-box;
  border-radius: 5px;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 0 !important;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
  border: 1px solid #1f3777;
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #1f3777;
  // border: 1px solid #1f3777;
}

:host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
  height: 0 !important;
}

:host ::ng-deep .mat-form-field-ripple {
  height: 0 !important;
}

.addnewBtn {
  font-size: 12px;
  padding: 8px !important;
}

.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

:host ::ng-deep ul {
  padding-left: 25px !important;
}

// for table

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  min-width: 300px;

  .mat-stroked-button {
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 1px 0 1px;
    margin: 1px;
    word-break: break-all;
    white-space: normal;
  }

  .mat-header-cell:last-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
    display: initial;
    text-align: center;
  }
}

.mat-table {
  overflow: auto;
  max-height: 300px;
  max-width: 1000px;
  overflow-x: scroll;
}


.mobile-label {
  display: none;
}

table {
  width: 100%;
}

.mat-column-email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-select {
  flex: 0 0 70px !important;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-emailid {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-user_id {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-mobile {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-active {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.close {
  cursor: pointer;
  font-size: 25px;

}

.mat-raised-button[disabled]:not([class*='mat-elevation-z']) {
  color: #d2d1d1;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  //  flex: 0 0 24% !important;
  width: 24% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.cardheight {
  height: 450px !important;
  width: auto;
}

:host ::ng-deep .mat-tab-body-content {
  width: 100% !important;
  overflow: hidden !important;

}

.p-5 {
  padding: 1.5rem !important;
}

.p-5[_ngcontent-wto-c26] {
  padding: 1.0rem !important;
}
////////////////////////////////////////////////////////////
.shadow {
  border: 1px solid #ccc;
  box-shadow: 2px 0px 10px #ccc;
}

/deep/ .mat-checkbox.mat-accent {
  .mat-checkbox-frame {
    border: 1px solid #9E9E9E;
  }

  &.mat-checkbox-checked .mat-checkbox-background {
    background-color: white;
    border: 1px solid #004072;
  }

  .mat-checkbox-checkmark-path {
    stroke: #004072 !important;
  }
}

:host /deep/ .mat-checkbox-layout .mat-checkbox-label {
  white-space: normal;
  text-transform: capitalize;
  word-break: break-word;
}