
  <h1> Group Management</h1>

<div class="row">

  <div class ="card col-3">
    <h1>Select Group/Sub Group</h1>

    <!-- <button type="button" (click)="viewroleoptions(gruniqid)" [matMenuTriggerFor]="menu" >View Options</button> &nbsp;

    <mat-menu #menu="matMenu" >
  
      <button mat-menu-item style="height:500px;width:500px" >
                <div  style="height:500px" >
                 

                      </div>
      </button>
    </mat-menu> -->

    <ol class="tree" >
      <li>
        <label for="menu-1">menu-1</label>
        <input type="checkbox" checked id="menu-1" />
        <ol>
          <li>
            <label for="menu-1-1">menu-1-1</label>
            <input type="checkbox" id="menu-1-1" />
            <ol>
              <li>
                <label for="menu-1-1-1">menu-1-1-1</label>
                <input type="checkbox" id="menu-1-1-1" />
                <ol>
                  <li>
                    <label for="menu-1-1-1-1">menu-1-1-1-1</label>
                    <input type="checkbox" id="menu-1-1-1-1" />
                    <ol><li>
                      <label for="menu-1-1-1-1">menu-1-2</label>
                      <input type="checkbox" id="menu-1-2" />
                    </li>
                 
                    </ol>
                  </li>
                  <!-- <li class="file"><a href="">menu-1-1-1-2</a></li>
                  <li class="file"><a href="">menu-1-1-1-3</a></li>
                  <li class="file"><a href="">menu-1-1-1-4</a></li>
                  <li class="file"><a href="">menu-1-1-1-5</a></li>
                  <li class="file"><a href="">menu-1-1-1-6</a></li> -->
                </ol>
              </li>
              <!-- <li class="file"><a href="">menu-1-1-2</a></li>
              <li class="file"><a href="">menu-1-1-3</a></li>
              <li class="file"><a href="">menu-1-1-4</a></li> -->
            </ol> 
          </li>
          <!-- <li class="file"><a href="">menu-1-2</a></li>
          <li class="file"><a href="">menu-1-3</a></li> -->
        </ol>
      </li>
      
      <li>
        <label for="menu-2">menu-2</label>
        <input type="checkbox" id="menu-2" />
        <ol>
          <li>
            <label for="menu-2-1">menu-2-1</label>
            <input type="checkbox" id="menu-2-1" />
            <ol>
              <li>
                <label for="menu-2-1-1">menu-2-1-1</label>
                <input type="checkbox" id="menu-2-1-1" />
                <ol>
                  <li class="file"><a href="">menu-2-1-1-1</a></li>
                  <li class="file"><a href="">menu-2-1-1-2</a></li>
                  <li class="file"><a href="">menu-2-1-1-3</a></li>
                  <li class="file"><a href="">menu-2-1-1-4</a></li>
                  <li class="file"><a href="">menu-2-1-1-5</a></li>
                </ol>
              </li>
              <li class="file"><a href="">menu-2-1-2</a></li>
              <li class="file"><a href="">menu-2-1-3</a></li>
              <li class="file"><a href="">menu-2-1-4</a></li>
            </ol> 
          </li>
          <li class="file"><a href="">menu-2-2</a></li>
          <li class="file"><a href="">menu-2-3</a></li>
        </ol>
      </li>
      
      <li>
        <label for="menu-3">menu-3</label>
        <input type="checkbox" id="menu-3" />
        <ol>
          <li>
            <label for="menu-3-1">menu-3-1</label>
            <input type="checkbox" id="menu-3-1" />
            <ol>
              <li>
                <label for="menu-3-1-1">menu-3-1-1</label>
                <input type="checkbox" id="menu-3-1-1" />
                <ol>
                  <li class="file"><a href="">menu-3-1-1-1</a></li>
                  <li class="file"><a href="">menu-3-1-1-2</a></li>
                  <li class="file"><a href="">menu-3-1-1-3</a></li>
                  <li class="file"><a href="">menu-3-1-1-4</a></li>
                  <li class="file"><a href="">menu-3-1-1-5</a></li>
                </ol>
              </li>
              <li class="file"><a href="">menu-3-1-2</a></li>
              <li class="file"><a href="">menu-3-1-3</a></li>
              <li class="file"><a href="">menu-3-1-4</a></li>
            </ol> 
          </li>
          <li class="file"><a href="">menu-3-2</a></li>
          <li class="file"><a href="">menu-3-3</a></li>
        </ol>
      </li>
      
      <li>
        <label for="menu-4">menu-4</label>
        <input type="checkbox" id="menu-4" />
        <ol>
          <li>
            <label for="menu-4-1">menu-4-1</label>
            <input type="checkbox" id="menu-4-1" />
            <ol>
              <li>
                <label for="menu-4-1-1">menu-4-1-1</label>
                <input type="checkbox" id="menu-4-1-1" />
                <ol>
                  <li class="file"><a href="">menu-4-1-1-1</a></li>
                  <li class="file"><a href="">menu-4-1-1-2</a></li>
                  <li class="file"><a href="">menu-4-1-1-3</a></li>
                  <li class="file"><a href="">menu-4-1-1-4</a></li>
                  <li class="file"><a href="">menu-4-1-1-5</a></li>
                </ol>
              </li>
              <li class="file"><a href="">menu-4-1-2</a></li>
              <li class="file"><a href="">menu-4-1-3</a></li>
              <li class="file"><a href="">menu-4-1-4</a></li>
            </ol> 
          </li>
          <li class="file"><a href="">menu-4-2</a></li>
          <li class="file"><a href="">menu-4-3</a></li>
        </ol>
      </li>
      
      <li>
        <label for="menu-5">menu-5</label>
        <input type="checkbox" id="menu-5" />
        <ol>
          <li>
            <label for="menu-5-1">menu-5-1</label>
            <input type="checkbox" id="menu-5-1" />
            <ol>
              <li>
                <label for="menu-5-1-1">menu-5-1-1</label>
                <input type="checkbox" id="menu-5-1-1" />
                <ol>
                  <li class="file"><a href="">menu-5-1-1-1</a></li>
                  <li class="file"><a href="">menu-5-1-1-2</a></li>
                  <li class="file"><a href="">menu-5-1-1-3</a></li>
                  <li class="file"><a href="">menu-5-1-1-4</a></li>
                  <li class="file"><a href="">menu-5-1-1-5</a></li>
                </ol>
              </li>
              <li class="file"><a href="">menu-5-1-2</a></li>
              <li class="file"><a href="">menu-5-1-3</a></li>
              <li class="file"><a href="">menu-5-1-4</a></li>
            </ol> 
          </li>
          <li class="file"><a href="">menu-5-2</a></li>
          <li class="file"><a href="">menu-5-3</a></li>
        </ol>
      </li>
      
    </ol> 
  </div>
  <div class=" col-8">
    <div class="tab_container">
      <input id="tab1" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs" checked>
      <label class="tab-class" for="tab1"><i class="fa fa-pencil-square-o"></i><span>Create Group</span></label>
    
      <input id="tab2" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs">
      <label class="tab-class" for="tab2"><i class="fa fa-pencil-square-o"></i><span>View User</span></label>
    
      <!-- <input id="tab3" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs">
      <label class="tab-class" for="tab3"><span>By Traffic Fine Number</span></label>
  
      <input id="tab4" style="clear: both;padding-top: 10px;display: none;" type="radio" name="tabs">
      <label class="tab-class" for="tab4"><i class="fa fa-folder-open-o"></i><span>By Fine Details</span></label>
   -->

      <section id="content1" class="tab-content">
        <b>sample->sample1->New Group</b>
        <form (ngSubmit)="savegroup(groupform)" #groupform="ngForm">
          <br>
          <!-- <-------------------License Number----------------------->
            <span>Group Name&nbsp;<b class="text-danger">*</b></span>&nbsp;&nbsp;
          <mat-form-field class="field px-2">
            <input type="text" placeholder="Enter Group/Sub Group Name" matInput ngModel name="group_name"   #groupname1="ngModel"
              required>
            <mat-error *ngIf="groupname1.errors">
              <div *ngIf="groupname1.errors?.required" class="text-danger">Group Name is
                required</div>
                <!-- <div *ngIf="groupname1.errors?.pattern" class="text-danger">License  Number
                  Should Be Numbers and max Size 15 only</div> -->
            </mat-error>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" type="submit">Save</button> &nbsp;
          <button mat-raised-button color="primary" type="button">Cancel</button>
    
        </form>
      </section>
    
      <section id="content2" class="tab-content">
      
      </section>
    
    </div>
  </div>
 
  
</div>








<ol class="tree" *ngIf="groups?.length" >

<li *ngFor ="let g of groups;let j = index">
  <label (click)="loadsubgroup(g)" for="{{j+1}}">{{g.group_name}}</label>
  <input type="checkbox" checked id="{{j+1}}" />
  <ol>
    <li>
      <label for="menu-5-1">menu-5-1</label>
      <input type="checkbox" id="menu-5-1" />
      </li>
    </ol>
</li>

  <!-- <li>
    <label for="menu-1">menu-1</label>
    <input type="checkbox" checked id="menu-1" />
    <ol>
      <li>
        <label for="menu-1-1">menu-1-1</label>
        <input type="checkbox" id="menu-1-1" />
        <ol>
          <li>
            <label for="menu-1-1-1">menu-1-1-1</label>
            <input type="checkbox" id="menu-1-1-1" />
            <ol>
              <li>
                <label for="menu-1-1-1-1">menu-1-1-1-1</label>
                <input type="checkbox" id="menu-1-1-1-1" />
                <ol><li>
                  <label for="menu-1-1-1-1">menu-1-2</label>
                  <input type="checkbox" id="menu-1-2" />
                </li>
             
                </ol>
              </li>
            </ol>
          </li>

        </ol> 
      </li>
    </ol>
  </li> -->
  

</ol> 

