<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/Admin/auth/userManagement']">Home</a></li>
    <li *ngIf="groupid" class="breadcrumb-item"><a [routerLink]="['/Admin/auth/enrollment']">Course Enrollment</a></li>
    <li class="breadcrumb-item active" aria-current="page">Group Management</li>
  </ol>
</nav>
<h1 style="padding-left: 25px;"> Group Management</h1>
<div class="container  pb-5">

  <div class="container shadow margin20">
    <div class="row">

      <div class="card col-3 cardheight" infiniteScroll [infiniteScrollDistance]="2" [scrollWindow]="false"
        [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()">
        <div class="card-header">
          Select group/Sub group
        </div>

        <br>
        <mat-tree [dataSource]="treeSource" [treeControl]="treeControl" [trackBy]="trackBy">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node;" matTreeNodeToggle>
            <li class="mat-tree-node newstyle" renderDebug>
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button matTreeNodeToggle class="btnClassicon" (click)="loadsubgroup(node)"
                [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <!-- (change)="selected = node" -->
              <mat-checkbox  name="checkbox"
                [(ngModel)]="node.checkbox" (change)="selectgroup(node,groupform)">{{node.group_name}}</mat-checkbox>

            </li>
          </mat-tree-node>

          <!-- node with children -->
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li class="mat-tree-node newstyle" renderDebug>
              <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle class="btnClassicon"
                  [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <!-- [checked]="selected === node" (change)="selected = node" -->
                <mat-checkbox   name="checkbox"
                  [(ngModel)]="node.checkbox" (change)="selectgroup(node,groupform)">{{node.group_name}}</mat-checkbox>

                <!-- {{node.group_name}}2 -->
              </div>
            </li>
            <ul [class.children-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </mat-nested-tree-node>
        </mat-tree>

      </div>
      <div class="col-9 bg-white">


        <mat-tab-group (selectedTabChange)="tabClick($event)">
          <mat-tab label="Group details">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <br>
                  <div class="row">
                    <div class="col-md-6">

                      <span class="mt-0 mb-1"> {{currentpath?.group_name}}
                        <ng-container *ngIf="editstatus">
                          <ng-container *ngIf="currentpath?.group_name"> /</ng-container>
                          Create new
                          <ng-container *ngIf="currentpath?.group_name"> Sub</ng-container>
                          group
                        </ng-container>
                      </span>
                    </div>
                    <div class="col-md-6">
                      <ng-container *ngIf="currentpath?.group_name && !editstatus">
                        <button type="button" class="btn col-md-4 float-right addnewBtn" [disabled] = "currentpath?.is_active == false"
                          (click)="edit(false,currentpath.group_name)"><i class="fa fa-plus"></i> &nbsp;&nbsp;Add sub
                          group</button>
                      </ng-container>
                      <ng-container *ngIf="currentpath?.group_name && editstatus">
                        <button type="button" class="btn col-md-4 float-right addnewBtn"
                          (click)="edit(true,currentpath.group_name)"><i class="fa fa-pencil"></i>&nbsp;&nbsp; Edit
                          selected </button>
                      </ng-container>
                    </div>

                  </div>

                  <form (ngSubmit)="savegroup(groupform)" #groupform="ngForm" class=" border border-light p-5">

                    <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">
                        <ng-container *ngIf="editstatus">
                          Enter
                          <ng-container *ngIf="currentpath?.group_name">Sub </ng-container>
                        </ng-container>
                        group name
                      </label>
                      <input type="text" class="form-control mb-4" placeholder="Group/Sub group name" matInput
                        [(ngModel)]="group_name" name="group_name" #groupname1="ngModel" [required]=editstatus
                        value="{{editgroupname}}">
                      <!-- pattern="^[a-zA-Z0-9 sss]+$" -->
                      <!-- value="{{editgroupname}}" -->
                      <div
                        *ngIf="groupname1.invalid && (groupname1.dirty || groupname1.touched) || formsubmitted && groupname1.errors"
                        class="error-message">
                        <div *ngIf="groupname1.errors.required" class="error-message">
                          Group name is required.
                        </div>
                        <!-- <div *ngIf="groupname1.errors.pattern" class="error-message">
                          Group name is invalid.
                        </div> -->
                      </div>

                    </div>

                    <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">
                        <ng-container *ngIf="editstatus">
                          Select
                        </ng-container>
                        catalogue
                      </label>
                      <br>
                      <mat-form-field>
                        <mat-select name="catalogue" [(ngModel)]="catalogue" #catelogue1="ngModel" [required]=editstatus
                          class="form-control">
                          <mat-option *ngFor="let cat of catalogueList" [(value)]="cat.catalogue_id"
                            (onSelectionChange)="selectcatalogue($event, cat)">
                            {{cat.catalogue_name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <div
                        *ngIf="catelogue1.invalid && (catelogue1.dirty || catelogue1.touched) || formsubmitted && catelogue1.errors"
                        class="error-message">
                        <div *ngIf="catelogue1.errors.required" class="error-message">
                          Catalogue is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="currentpath && !editstatus">
                      <!-- [(ngModel)]="checked" -->
                      <mat-slide-toggle class="example-margin" [color]="color" name="toggle" [(ngModel)]="toggle">
                      </mat-slide-toggle>
                      <!-- [checked]="currentpath?.is_active" -->
                      <!-- (change)="toggle(currentpath.is_active)" -->
                      {{toggle === true ? 'Deactivate' : 'Activate'}}
                    </div>
                    <div class="col-6 mt-4">
                      <button *ngIf="editstatus" mat-flat-button color="primary" type="submit">Save</button> &nbsp;
                      <button *ngIf="!editstatus" [disabled]="!groupform.dirty" mat-flat-button color="primary"
                        (click)="updategroupdetails(groupform)" type="button">Update </button> &nbsp;
                      <button mat-flat-button color="primary" (click)="reset();getgroups()" type="reset">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </mat-tab>

          <mat-tab label="View user" [disabled]="disabled">
            <div class="row">
              <div class="col-md-6">
                <ng-container *ngIf="currentpath?.group_name">

                  <div class="card-header">
                    {{currentpath?.group_name}}'s user list
                  </div>
                </ng-container>
                <ng-container *ngIf="!currentpath?.group_name">

                  <div class="card-header">
                    All user list
                  </div>
                </ng-container>
              </div>
              <div class="col-md-6" *ngIf="currentpath?.is_active">
                <button mat-button (click)="gotoAddUser()" class="float_right" [routerLink]="['/Admin/auth/addUser']">
                  <mat-icon>add</mat-icon>Add user
                </button>
              </div>
            </div>
            <div class="example-container mat-elevation-z8" *ngIf="ELEMENT_DATA && ELEMENT_DATA.length > 0">
              <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    Select
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <span class="mobile-label">Select</span>
                    <mat-checkbox (change)="checkboxLabel(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user_id">
                  <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-label">User Id</span>
                    {{element.user_id}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span class="mobile-label">User Name</span>{{element.username}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
                  <mat-cell *matCellDef="let element"><span class="mobile-label">Email ID</span>
                    {{element.email || 'NA'}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="mobile">
                  <mat-header-cell *matHeaderCellDef> Mobile No </mat-header-cell>
                  <mat-cell *matCellDef="let element"> <span class="mobile-label">Mobile No</span>
                    {{element.mobile_number || 'NA'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"
                    [ngClass]="element.is_blocked ? 'red' : element.is_active ? 'green' : 'black'">
                    <span class="mobile-label">Status</span>
                    <!-- {{element.is_blocked ? 'Blocked' : element.is_active ? 'Active' : 'Inactive'}} </mat-cell> -->
                    {{element.is_active ? 'Active' : 'Inactive'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef (click)="deActivate()" class="pointer">
                    Actions <br *ngIf="selectedArray && selectedArray.length > 0">
                    <button *ngIf="selectedArray && selectedArray.length > 0" mat-stroked-button
                      (click)="deActivate('Activate')">
                      Activate</button>
                    <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
                      (click)="deActivate('De-activate')">
                      De-activate</button>
                    <!-- <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
                      (click)="block('Block')">
                      Block</button> -->
                    <!-- <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
                      (click)="block('Unblock')">
                      Un-block</button> -->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-label">Actions</span>
                    <!-- <button mat-icon-button (click)="viewDetail(element,viewDialog)">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button> -->
                    <button *ngIf="!element.is_blocked" mat-stroked-button
                      [disabled]="(selectedArray && selectedArray.length > 0)"
                      (click)="deActivate(!element.is_blocked && element.is_active ? 'De-activate' : 'Activate',element)">
                      {{element.is_active ? 'De-activate' : 'Activate'}}</button>
                    <!-- <button mat-stroked-button *ngIf="!element.is_blocked"
                      [disabled]="(selectedArray && selectedArray.length > 0)"
                      (click)="block(element.is_blocked ? 'Unblock' : 'Block',element)">
                      Block</button> -->
                    <button *ngIf="!element.is_blocked" mat-stroked-button
                      [disabled]="(selectedArray && selectedArray.length > 0)"
                      (click)="changeGroup(changeDialog,element)">
                      Change Group</button>
                    <!-- <mat-form-field class="width_100 ">
                      <mat-label>Change Group</mat-label>
                      <mat-select name="Change Group">
                        <mat-option *ngFor="let grp of groups" [value]="grp">
                          {{grp.group_name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </mat-row>
              </mat-table>
            </div>
            <mat-paginator #paginator *ngIf="ELEMENT_DATA && ELEMENT_DATA.length > 0" [length]="resultsLength"
              [pageSize]="10" (page)="next($event)">
            </mat-paginator>
            <div *ngIf="ELEMENT_DATA && ELEMENT_DATA.length == 0">
              <br><br>
              <h3 class="center"> No users in this group</h3>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>

  <ng-template #changeDialog>
    <span class="f_size_18 color_blue float_right">
      <i class="fa fa-times-circle-o close" aria-hidden="true" (click)="closedialogbox()"></i>
    </span>
    <h1 class="head">Change user group</h1>
    <mat-dialog-content style="width: 380px;">
      <br><br>
      <form [formGroup]="changeGrpForm">
        <div class="form-group">
          <label>Group name</label><span style="color: red;"> *</span><br>
          <mat-form-field class="width_100 ">
            <mat-select formControlName="group">
              <mat-option *ngFor="let grp of allgroups" [value]="grp">
                {{grp.group_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div><br>
      </form>
      <br><br>
    </mat-dialog-content><br>
    <mat-dialog-actions>
      <button mat-flat-button class="center blue_border" [disabled]="changeGrpForm.invalid" (click)="updateGroup()">
        Update group
      </button><br><br>
    </mat-dialog-actions>
  </ng-template>

</div>