<div class="limiter">
  <div class="container-reg100 p-t-77">
      <div class="wrap-reg p-l-50 p-r-50 p-t-77  p-b-30">
          <h1 class="head">Enter the OTP </h1>
          <form [formGroup]="recoverOTPForm">
          <div class="space">
          <p class="otptitle">OTP Code</p>

          <input [ngClass]="{ 'is-invalid': f.otp1.touched && f.otp1.errors }" class="otp" type="tel"
            formControlName="otp1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

          <input [ngClass]="{ 'is-invalid': f.otp2.touched && f.otp2.errors }" class="otp" type="tel"
            formControlName="otp2" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

          <input [ngClass]="{ 'is-invalid': f.otp3.touched && f.otp3.errors }" class="otp" type="tel"
            formControlName="otp3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

          <input [ngClass]="{ 'is-invalid': f.otp4.touched && f.otp4.errors }" class="otp" type="tel"
            formControlName="otp4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
          <!-- <input type="tel" formControlName="otp" class="form-control"
          [ngClass]="{ 'is-invalid': f.otp.touched && f.otp.errors }" /> -->
          <!-- <div *ngIf="f.otp.touched && f.otp.errors" class="invalid-feedback">
            <div *ngIf="f.otp.errors.required">OTP is required</div>
            <div *ngIf="f.otp.errors.pattern">OTP is invalid</div>
            <div *ngIf="f.otp.errors.maxlength">OTP must have only 4 numbers</div>
          </div> -->
          <br><br>
        </div>
        </form>
        <button class="btn mar15"  (click)="VerifyOTP()">
          Verify
       </button>

       <div  class="account">Don't get code?<b (click)="resendcode()">Resend code</b></div>


</div>
</div>
</div>          