.otp {
    margin: 0 5px;
    text-align: center;
    font-size: 40px;
    background-color: #94b5f1 !important;
    width: 21%;
    border: 1px solid #94b5f1;
    border-radius: 4px;
    transition: all .2s ease-in-out;

  }
  .otptitle{
    text-align: left;
    font-weight: 500;
    color: #1F3777;
    font-size: 16px;
  }
  .space{
      margin-top: 30%;
  }
  .mar15{
    margin-top: 15%;
}
.account{
    margin-top: 8%;
    color: #1F3777;
    word-break: break-all !important;
    text-align: center !important;
}