@import "variable";

.breadcrumb ol{
  margin-bottom: 0 !important;
}
.dept-input{ 
  width: 100% !important ;
  border: white !important;
  background-color: transparent;
}


//After Restructure
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .container-reg200 {
    padding: 35px 15px;
    background-color: $color-white;
    @media only screen and (min-width:992px) {
      padding: 35px;
    }
    // .dis {
    //   background-color: $color-white !important;
    // }
  }
}
.center_align {
  text-align: center;
}
.certificateWrapper {
  display: flex;
  flex-direction: column;
  .certificate {
    // background-color: #F0F0F0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    @media only screen and (min-width: 720px) {
      flex-wrap: nowrap;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .cBadge {
      width: 100%;
      display: inline-flex;
      @media only screen and (min-width: 720px) {
        width: 10%;
      }
      em {
        font-size: 30px;
        color: #373331;
      }
    }
    .common {
      width: 100%;
      margin-top: 20px;
      @media only screen and (min-width: 576px) {
        width: 48%;
      }
      @media only screen and (min-width: 720px) {
        margin-top: 0;
        width: 35%;
      }
      span {
        display: block;
        color: #808080;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
      }
      .heading {
        color: #222222;
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        margin-top: 2px;
        @media only screen and (min-width: 992px) {
          margin-top: 8px;
        }
      }
    }
    .download {
      width: 50%;
      text-align: right;
      position: absolute;
      right: 25px;
      top: 12px;
      @media only screen and (min-width: 720px) {
        width: 20%;
        position: relative;
        right: auto;
        top: auto;
      }
      button {
        background-color: $color-white;
        border: 1px solid rgba(27, 78, 155, 0.5);
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        align-items: center;
        padding: 8px 25px;
        @media only screen and (min-width: 720px) {
          width: 100%;
        }
        @media only screen and (min-width: 992px) {
          width: auto;
        }
        em {
          font-size: 17px;
          color: $color-blank;
          margin-right: 10px;
          line-height: normal;
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: $color-blank;
          line-height: normal;
        }
      }
    }
  }
}

::ng-deep .custom-modalbox {
  width: 400px;
  .mat-dialog-container{
    overflow: inherit !important;
  }
}

.imgSize {
  color: #333;
  text-align: center;
}
// responsiveness starts here
.collDept {
  align-self: flex-end;
}
.cameraIcon {
  z-index: 9;
  position: absolute;
  left: 12px;
  top: 12px;
  background: $color-white;
  width: 25px !important
}
.editBtn {
  width: 17px;
  cursor: pointer;
}
.profile-pic {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  figure {
    position: relative;
    mat-icon {
      cursor: pointer;
    }
  }
}

:host ::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}

.profile-progress {
  width: 70%;
  margin: 0 0 0 auto;
  // float right
  // float: right;
  // text-align: right !important;
  // margin-top: 70% !important;
}

.m-b-5px {
  margin-bottom: 5px;
}

.passwordDialog{
  width: 800px;
  margin-top: 24px;
}
.newPassMsg{
  margin-left : 186px;
     font-size: 13px;
     margin-top: 9px;
}

.emailDialog{
  width: 600px;
  margin-top: 24px;
   height: 120px;
}
.note{
  max-width: 100%;
}
.noteTxt{
  padding-bottom: 7px;
  border-bottom: 1px solid $color-border;
}
.languagesKnown {
  label {
    display: block;
  }
  .mat-select {
    display: inline-block;
  }
}
.genderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px 24px -15px;
  flex-wrap: wrap;
  .genderCol,.languagesKnown {
    width: 100%;
    @include md {
      width: 50%;
    }
    .form-group,mat-select {
      margin-top: 0.75em;
    }
  }
}

@media screen and (min-width:270px) and (max-width:335px) {
  .lap_95 {
    width: 100%;
  }

  .lap_s95 {
    width: 100% !important;
  }

  .bb-icon {
    border-bottom: 0px !important;
  }

  .lapview {
    display: none;
  }

}

@media screen and (min-width:335px) and (max-width:375px) {
  .bb-icon {
    border-bottom: 0px !important;
  }

  .lap_95 {
    width: 100%;
  }

  .lap_s95 {
    width: 100% !important;
  }

  .lapview {
    display: none;
  }

}

@media screen and (min-width:320px) and (max-width:719px) {
  .profile {
    justify-content: space-between;
  }

  .lap_95 {
    width: 100%;
  }

  .lap_s95 {
    width: 100% !important;
  }

  .lapview {
    display: none;
  }

  .editText {
    margin-right: 4% !important;
  }

  .first {
    order: 1;
    align-items: center;
  }
  .second {
    order: 3;
    margin-top: 20px !important;
  }
  .third {
    order: 2;
    margin-top: 30px !important;
  }

  .profile-progress {
    width: 100%;
    margin-top: 20px !important;
    padding-bottom: 35px;
  }

  .details-row {
    position: relative;
    display: flex;
    margin-top: -15% !important;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 15px 20px 15px;
    flex-wrap: wrap;
  }

  .passwordDialog {
    width: 450px !important;
    margin-top: 24px;
  }

  .newPassMsg{
    margin-left : 0px !important;
       font-size: 13px;
       margin-top: 9px;
  }

  .emailDialog{
    width: 450px !important;
  }

  .note{
    max-width: 80% !important;
  }
  .noteTxt{
    padding-bottom: 7px;
    border-bottom: 1px solid transparent !important;
  }
.mobileWidth{
  width: 77% !important;
}
  
}


.first,.second,.third {
  width: 100%;
  @include md {
    width: 30%;
  }
  @include lg {
    width: 33%;
  }
}

// .locationFields .form-group {
//   margin-bottom: 0;
// }
.locationFields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.75em;
  .rowWrapper {
    flex: 0 0 100%;
    max-width: 100%;
    @include md {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
.width_100 {
  width: 100%!important;
}
.form-group{
  width: 465px;
}

@media screen and (min-width:720px) and (max-width:991px) {

  .lap_95 {
    width: 95% !important;
  }

  .lap_s95 {
    width: 95% !important;
  }

  .lapview {
    display: block;
  }

  .first {
    order: 2;
    align-items: center;

  }
  .second {
    order: 3;
  }
  .third {
    order: 1;
    margin-top: 20px !important;

  }

  .profile-progress {
    width: 100%;
    margin-top: 20px !important;
    padding-left: 0;
    padding-bottom: 35px;
  }

  .details-row {
    display: flex !important;
    margin-top: -15% !important;
    width: 100%;
    // margin-left: 10% !important;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 25px 25px 25px;
    flex-wrap: nowrap;
  }

}

.throughTPO {
  ::ng-deep .mat-checkbox-frame {
    border-radius: 100px !important;
  }

  ::ng-deep &.mat-checkbox-checked .mat-checkbox-background {
    background-color: white;
    border: 1px solid $lxp-theme-green ;
    border-radius: 100px !important;
  }

  ::ng-deep .mat-checkbox-checkmark-path {
    stroke: $lxp-theme-green  !important;
    border-radius: 100px !important;
  }
}
::ng-deep .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: $lxp-theme-green !important;
}


.container120 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  height: 27px;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container120 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  // background-color: #ccc;
  border: 2px solid #ccc;
  border-radius: 50%;
}

.container120 input:checked ~ .checkmark {
  background-color: $color-white;
  border: 1px solid #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container120 input:checked ~ .checkmark:after {
  display: block;
}

.container120 .checkmark:after {
  font-family: FontAwesome;
  content: "\f111";
  left: 4px;
  font-size: 12px;
  top: -1px;
  width: 0px;
  height: 0px;
  color: $color-blue;
}



// .containerRad {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .containerRad input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// /* Create a custom checkbox */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   border: 2px solid grey;
//   border-radius: 50px;
//   background-color: white;
// }

// /* On mouse-over, add a grey background color */
// .containerRad:hover input~.checkmark {
//   background-color: rgb(240, 239, 239);
// }

// /* When the checkbox is checked, add a blue background */
// .containerRad input:checked~.checkmark {
//   background-color: $color-blue;
//   // left: 6px;
//   // top: 5px;
//   border-radius: 60px;
//   border: 2px solid grey;
//   // border-width: 5px 5px 5px 5px !important;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .containerRad:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .containerRad input:checked~.checkmark:after {
//   display: block;
// }

// .containerRad .checkmark:after {
//   // left: 6px;
//   // top: 5px;
//   // border-radius: 60px;
//   // border: solid white;
//   // border-width: 5px 5px 5px 5px !important;
// }


@media screen and (min-width:992px) {
  .lap_95 {
    width: 95% !important;
  }

  .lap_s95 {
    width: 95% !important;
  }

  .lapview {
    display: block;
  }

  .details-row {
    position: relative;
    display: flex;
    margin-top: -8% !important;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 40px 35px 40px;
    // flex-wrap: wrap;
  }

}

@media screen and (min-width:1440px) {
  @media screen and (min-width:1024px) {
    .lap_95 {
      width: 95% !important;
    }

    .lap_s95 {
      width: 95% !important;
    }
  }
  .lapview {
    display: block;
  }
}

@media screen and (min-width:2560px) {
  .lap_95 {
    width: 95% !important;
  }

  .lapview {
    display: block;
  }

  .details-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 35px 0 35px;
  }
}

// responsiveness ends here

.row {
  margin-left: 0 !important;
  margin-right: 0 !important
}

.inputs {
  border: 1.0px solid $color-border;
  padding: 8px !important;
}

label {
  color: $label;
  // font-size: 19px;
  font-weight: 500;
}
.valid {
  em {
    margin-right: 10px;
    color:$color-dark-green;
  }
}
.invalid-feedback {
  font-size: 90%;
  margin-left: 5px;
}

.mat-radio-button.mat-radio-button {
  margin-right: 30px;
}

div.account {
  word-break: break-all !important;
  margin-left: 15px;
}


.p-b-10px {
  padding-bottom: 15px !important;
}

.head {
  font-weight: lighter !important;
  margin: 0 0 20px 20px;
}
.lxp-Close{
  color:#626262;
  cursor: pointer;
  font-size: 12px;
}

.title {
  font-size: 18px;
  font-weight: 430;
}

div.account {
  color: $color-blue;
  word-break: break-all !important;
  text-align: center !important;
  margin-left: 15px;
  cursor: pointer;
}

.linkedin {
  width: 38px;
  font-size: 24px;
  border: 1px solid $color-border;
  padding: 5px;
  color: $color-blue !important;
  text-align: center;
  margin-right: 15px;
}

.avatar {
  // margin: auto;
  display: block;
  background: $color-white !important;
  border: 8px solid $color-white;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.iconImg {
  margin: auto;
  display: block;
  background: $profile-p-grey !important;
  border: 8px solid $color-white;
  width: 220px;
  padding: 50px;
}

.popupbtns {
  text-align: center;
  background: #00b0ed; /* Old browsers */
  background: -moz-linear-gradient(left, #00b0ed 0%, #53aa34 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00b0ed 0%,#53aa34 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00b0ed 0%,#53aa34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b0ed', endColorstr='#53aa34',GradientType=1 );
  color: $color-white;
  width: 30%;
  cursor: pointer;
  border-radius: 50px !important;
  margin: auto;
  display: block;
  margin-bottom: 5%;
  border: solid;
  font-size: 18px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mat-progress-bar {
  // width: 65%;
  // margin: auto;
  height: 25px;
  border-radius: 15px;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: $lxp-theme-green !important;
}

.m-t-50 {
  margin-top: 60% !important;
}

.m-l-30 {
  margin-left: 24%
}

.mat-dialog-content {
  overflow: hidden !important;
  max-height: 100% !important;
  // resize: both;
}

.percent {
  font-weight: 500;
  color: $color-darkGrey;
  margin-bottom: 5px;
}

.percentText {
  color: $color-darkGrey;
  margin-left: 5px;
  font-weight: 500;
  margin-bottom: 5px;
}

.submitbtnArea {
  text-align: center;
  margin-top: 1.5em;
  .submit {
    width: 25%;
    background-color: $lxp-theme-green;
    margin: auto;
    height: 45px;
    letter-spacing: 1px;
    border-radius: 50px !important;
    font-size: 16px;
  
  }
}


.errspan {
  float: right;
  margin-right: 10px;
  margin-top: -28px;
  position: relative;
  // z-index: 2;
  color: $color-blank;
}

.spaceClass {
  width: 48%;
  @media only screen and (max-width: 991px) {
    margin-bottom: 10px;
  }
  input {
    width: 100% !important;
  }
}
.yrOfPassing {
  @media only screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  input {
    width: 100% !important;
  }
}
.percentageSection {
  width: 80%;
  input {
    width: 100% !important;
  }
}
.percentageIcon {
  width: 18%;
  .addIcon {
    width: 100% !important;
    text-align: center;
    margin-left: 0 !important;
  }
}

// input[type=text] {
//   // width: 100%;
//   padding: 12px 20px;
//   // margin: 1px 0;
//   // background: none !important;
//   display: inline-block;
//   width: 465px;
//   border: 1px solid $color-border;
//   box-sizing: border-box;
// }
.error{
  color: red;
}
textarea:focus,
input:focus {
  outline: none;
}

.fa {
  cursor: pointer;
  color: $color-border;
}

.dis {
  pointer-events: none !important;
  color: $color-blank !important;
  background: $profile-t-grey !important;
  border: 1px solid $profile-t-grey !important;
}
.dis1 {
  pointer-events: none !important;
}
.otp {
  margin-top: 49px;
}

.col-md-1.col-sm-4.col-4.ng-star-inserted {
  margin-left: 100% !important;
  margin-top: -3% !important;
}

textarea {
  resize: none;
  color: $color-blank !important;
}

//////////////////////////////////////////////////////////////@extend

.bg-image {
  height: 100px;
}

::ng-deep .n .mat-select-arrow-wrapper {
  visibility: hidden !important;
}

.m-n {
  visibility: hidden !important;
}

.textarea:disabled,
.inputs:disabled {
  background-color: $color-light-grey;
  color: $color-blank;
}

mat-icon {
  color: $color-border;
}

.color-border {
  color: $color-border;
}

hr {
  border-top: 1px dotted $color-border;
  // border-style: ;
}

.m-t-5px {
  margin-top: 5px;
}

.m-t-25px {
  margin-top: 25px;
}

.m-r-25px {
  margin-right: 13%;
}

.bg-img {
  background-image: url('https://assets.lntedutech.com/application_images/p-bg-5.webp');
  // height: 210px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: '';
    display: block;
    padding-bottom: 35%;
    @media only screen and (min-width: 992px) {
      padding-bottom: 18%;
    }
    @media only screen and (min-width: 1550px) {
      padding-bottom: 15%;
    }
  }
}

.editText {
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  color: $color-blank;
  background: rgba(255, 255, 255, 0.6);
  font-size: 23px;
  padding: 13px;
  margin-right: 35px;
  margin-top: 15px;
  border: 1px solid $color-white;
  position: absolute;
  top: 0;
  right: 0;
  @media only screen and (min-width: 992px) {
    margin-top: 25px;
  }
}

.editIcon {
  color: $color-blank;
  font-size: 22px;
  width: 25px;
}

.uname {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
  color: $color-blank;
  font-weight: 300 !important;
  text-transform: capitalize;
}

.stateDet {
  font-size: 20px;
  margin-top: 11px;
  color: $color-darkGrey;
  font-weight: 300 !important;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.uID {
  width: inherit;
  color: $color-blank;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 7px;
  // border-bottom: 1px solid $color-border !important;
  text-align: center;
  margin: auto;
  display: block;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-l-12 {
  margin-left: 12%;
}

.bb {
  border-bottom: 1px solid $color-border !important;
}

.bb-icon {
  border-bottom: 1px solid $color-border;
}
.float_right {
  float: right;
  &.closebtn {
    margin-right: 12px;
  }
}
// :host ::ng-deep .mat-progress-bar-buffer {
//   background-color: $profile-t-grey !important;
// }

// :host ::ng-deep .mat-progress-bar-fill::after {
//   background-color: $profile-p-grey !important;
// }

// .cG {
//   color : $color-darkGrey;
// }


.form-control {
  border-radius: 0 !important;
}

:host ::ng-deep .mat-select-disabled .mat-select-value {
  color: $color-blank !important
}

.footer {
  padding: 30px;
  font-size: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $label;
  font-weight: 500;
  background-color: $profile-t-grey;
  text-align: center;
  border-top: 2px solid $profile-p-grey;
}

:host ::ng-deep .mat-radio-checked .mat-radio-label {
  color: $color-blank;
}

:host ::ng-deep .mat-radio-label {
  color: $color-darkGrey;
}

.addIcon {
  color: $color-blank;
  border: 1px solid $color-border;
  background: $color-border;
  /* margin: 6px; */
  margin-left: 20px;
  height: auto;
  width: 36px;
  padding: 6px;
}

.dIcon {
  margin-left: 10px;
  color: $color-blank;
  border: 1px solid $color-border;
  background: $color-white;
  /* margin: 6px; */
  height: auto;
  width: 36px;
  padding: 6px;
}

::ng-deep .swal2-styled.swal2-confirm {
  background-color: #1B4E9B !important;
  border-radius: 0 !important;
}

.downloadIcon {
  padding-bottom: 1px;
}

.qual, .details-row {
  
@media (min-width: 300px) {

  .col-md-12,
  .col-md-11,
  .col-md-10,
  .col-md-9,
  .col-md-8,
  .col-md-7,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3,
  .col-md-2,
  .col-md-1 {
    padding: 0px !important;
  }
}
}
:host ::ng-deep .green-progress .mat-progress-bar-fill::after {
  background-color: green !important;
}
:host ::ng-deep .orange-progress .mat-progress-bar-fill::after {
  background-color: orange !important;
}
:host ::ng-deep .mat-progress-bar-buffer {
  background-color: $profile-t-grey !important;
}


// // cookie bar 
// .cookie-bar {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   right: 0;
//   left: 0;
//   height: 64px;
//   text-align: center;
//   line-height: 66px;
//   background: $bule2;
//   color: $color-white;
//   font-size: 14px;
//   font-weight: 100;
//   transition: .8s;
//   animation: slideIn .8s;
//   animation-delay: .8s;
//   .message {
//     white-space: nowrap;
//     // text-shadow: 0 1px 0 darken($color-blue, 10%);
//     @media (max-width: 767px){
//       display: none;
//     }
//   }
//   .mobile {
//     display: none;
//     @media (max-width: 767px){
//       display: inline-block;
//     }
//   }
// }
// @keyframes slideIn {
//   0% {
//     transform: translateY(-66px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
// .close-cb {
//   border: none;
//   color: $color-white;
//   background: $bule2;
//   position: absolute;
//   display: inline-block;
//   right: 10px;
//   top:17px;
//   cursor: pointer;
//   border-radius: 3px;
//   box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);
//   line-height: 30px;
//   height: 30px;
//   width: 30px;
//   font-size: 16px;
//   font-weight: bold;
//   &:hover {
//     background: $bule2;
//   }
// }
// .checkbox-cb {
//   display: none;
//   &:checked + .cookie-bar {
//     transform: translateY(-66px);
//   }
// }


::ng-deep .tooltip-350 ~ .tooltip .tooltip-inner {
  max-width: 170px !important;
  min-width: 170px !important;
  z-index: 1 !important;
}

::ng-deep .tooltip-inner {

  opacity: 1 !important;
}

:host ::ng-deep .tooltip-arrow {
  opacity: 1 !important;
}


::ng-deep .passwordPopup {
  .mat-form-field-suffix {
    top: -0.21em !important;
    font-size: 15px;
  }
}
#message {

  .col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    p {
      width: 50%;
    }
  }
}

 ::ng-deep .blurBackground {
  backdrop-filter:blur(10px) !important;
  background-color:#b5b5b580 !important;
}

// dots css start
.snippet {
  text-align: initial;
  display: flex;
  justify-content: center;
  height: 26px;
  padding-top: 0.5em;
}
.dot-falling {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: white;
  color: white;
  box-shadow: 9999px 0 0 0 white;
  animation: dotFalling 1s infinite linear;
  animation-delay: .1s;
}

.dot-falling::before, .dot-falling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotFallingBefore 1s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dotFallingAfter 1s infinite linear;
  animation-delay: .2s;
}

@keyframes dotFalling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 white;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 white;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 white;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}
.info-row,.dept {
  display: inline-flex;
  width: 100%;
  .bb {
    width: 100%;
  }
}