<app-header></app-header>
<div class="profile">
  <div class="limiter">
    <div class="container-reg200 p-t-77">
      <div class="wrap-reg p-l-50 p-r-50 p-t-77  p-b-30"><br>
        <div class="overAll">
          <div>
            <form #createForm="ngForm">
              <mat-grid-list class="masterGrid" cols="2" rowHeight="2:1">
                <mat-grid-tile class="grid1">
                  <form>
                    <div class="row">
                      <mat-label>Information about you</mat-label>
                    </div>
                    <!-- <div class="form-group">
              <textarea class="form-control inputs" placeholder="500 characters"  formControlName="info"
                maxlength="500" [ngClass]="{ 'is-invalid': f.info.touched && f.info.errors }"> </textarea>
                <div *ngIf="f.info.touched && f.info.errors" class="invalid-feedback">
                <div *ngIf="f.info.errors.maxlength">Full Name must be 500 maximum of characters</div>
              </div>
             
              </div><br> -->
                    <div class="row">
                      <textarea style="resize: none;" [disabled]='showdeletedicon' class="inputs"
                        placeholder="1000 characters" maxlength="1000" [(ngModel)]="profileDetails.about_you"
                        name="info"></textarea>
                    </div><br>
                    <div class="row">
                      <mat-label>Gender</mat-label><span class="text-danger">*</span>
                      <div class="col">
                        <mat-radio-group [disabled]='showdeletedicon' [(ngModel)]="profileDetails.gender" name="gender"
                          required>
                          <mat-radio-button value="M">M</mat-radio-button>
                          <mat-radio-button value="F">F</mat-radio-button>
                          <mat-radio-button value="O">Rather not say</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row space5">
                      <mat-label>I am a</mat-label><span class="text-danger">*</span>
                      <div class="col studentradio">
                        <mat-radio-group [disabled]='showdeletedicon'
                          [(ngModel)]="profileDetails.is_student_or_professional" name="profession" required>
                          <mat-radio-button value="student">Student</mat-radio-button>
                          <mat-radio-button value="professional">Professional</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <div class="row space5">
                      <mat-label>Language Known</mat-label><br>
                    </div>
                    <div class="row language">
                      <mat-select [disabled]='showdeletedicon' multiple class="inputs" placeholder="Language"
                        [(ngModel)]="profileDetails.languages_known" name="language">
                        <mat-option *ngFor="let item of languageList" [value]="item._id">
                          {{item.languagename}}
                        </mat-option>
                      </mat-select>
                    </div><br>
                    <div class="row">
                      <mat-label>Location</mat-label><span class="text-danger">*</span><br>
                    </div>
                    <div class="row">
                      <div class="col">
                        <mat-select [disabled]='showdeletedicon' class="selectinputs" placeholder="Country"
                          [(ngModel)]="profileDetails.country" name="country" (selectionChange)="getAllState($event)"
                          required>
                          <mat-option [value]="country._id" *ngFor="let country of countryValue">
                            {{country.countryname}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col">
                        <mat-select [disabled]='showdeletedicon' class="selectinputs" [(ngModel)]="profileDetails.state"
                          name="state" placeholder="State" (selectionChange)="getDistrict($event)" required>
                          <mat-option [value]="state._id" *ngFor="let state of stateValue">
                            {{state.statename}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col">
                        <mat-select [disabled]='showdeletedicon' class="selectinputs"
                          [(ngModel)]="profileDetails.city_town" name="city" placeholder="City" required>
                          <mat-option [value]="city._id" *ngFor="let city of cityValue">
                            {{city.districtname}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </form>
                </mat-grid-tile>
                <!----------------------------Profile--------------------->
                <mat-grid-tile style="height: 23em;">
                  <form style="margin-left: 62%;">
                    <!-- <div class=""><br><br> -->
                    <div class="row myprofile">
                      <label>My Profile</label>
                      <mat-icon (click)="enableedit()" class="createicon">create</mat-icon>
                    </div>

                    <div class="row">
                      <div class="col-sm-4">
                        <img [src]="urlImage ? urlImage : '../../../../assets/learner/avatar2.png'" id="imageUpload"
                          accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" alt="Avatar"
                          class="avatar">
                        <div style="margin-top: -43%;">
                          <input style="display: none;" id="fileInput" type='file' #fileInput
                            (change)="onSelectFile($event)">
                          <mat-icon class="camera" for="fileInput" (click)="fileInput.click()">camera_alt</mat-icon>
                        </div>
                      </div>
                      <div class="col-sm-6" *ngIf="userData"><br>
                        <mat-label>{{userData.full_name}}</mat-label><br>
                        <mat-label *ngIf="userData.user_dtl">{{userData.user_dtl.username}}</mat-label><br>
                        <mat-label *ngIf="userData.user_dtl">{{userData.user_dtl.created_on | date : "dd.MM.y"}}
                        </mat-label>
                      </div>
                    </div>

                    <div class="row">
                      <!-- <div class="col"> -->

                      <!-- </div><br> -->

                      <div class="col">
                        <md-button class="profilecomplete">{{progress}}% </md-button> 
                        <section class="example-section">
                          <mat-progress-bar class="example-margin" mode="determinate" value="{{progress}}">
                          </mat-progress-bar>
                        </section>
                      </div>
                    </div>

                    <div class="Edit">
                      <div class="row">
                        <div class="col-sm-3">
                          <mat-label>Password</mat-label>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                          <mat-icon class="createicon" (click)="editPassword(passwordDialog)">create</mat-icon>
                        </div>
                      </div><br>
                      <!-- //added validation - Mythreyi -->
                      <div class="row" *ngIf="userData.user_mobile">
                        <div class="col-sm-3">
                          <mat-label *ngIf="userData.user_mobile">{{userData.user_mobile.mobile_number}}</mat-label>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                          <mat-icon class="createicon" (click)="editmobno(mobDialog)">create</mat-icon>
                        </div>
                      </div><br>
                      <div class="row" *ngIf="userData.email">
                        <div class="col-sm-3">
                          <span>{{userData.email}}</span>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                          <mat-icon class="createicon" (click)="editEmail(emailDialog)">create</mat-icon>
                        </div>
                      </div><br>
                    </div>
                    <!-- </div> -->
                  </form>
                </mat-grid-tile>
              </mat-grid-list><br><br>
              <!-----------------------Profile End----------------------->
              <div class="qual">
                <div class="row">
                  <mat-label>Qualification</mat-label><span class="text-danger">*</span>
                </div>
                <div class="row" *ngFor="let qualification of qual; let i = index;">

                  <div class="col-sm-6">
                    <div class="row">
                      <!-- {{qual | json}}<br>{{qual.length}}<br>{{qualification.institute_detail | json}}<br>
                      {{qualification.institute_detail[0]._id}} -->
                      <!-- {{level_detail[i]}} -->

                      <div class="col-sm-3">
                        <mat-select [disabled]='showdeletedicon' class="inputs"
                          [(ngModel)]="qualification.level_detail && qualification.level_detail[0] && qualification.level_detail[0]._id"
                          name="level_detail{{i}}" #lvl="ngModel" placeholder="Level" required>
                          <mat-option [value]="lv._id" *ngFor="let lv of levelValue" (click)="getLevel(lv,i)">
                            {{lv.level_name}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-sm-3">
                        <mat-select [disabled]='showdeletedicon' class="inputs"
                          [(ngModel)]="qualification.board && qualification.board[0] && qualification.board[0]._id"
                          name="board{{i}}" #brd="ngModel" placeholder="Board/University" required>
                          <mat-option [value]="board._id" *ngFor="let board of boardValue, let univ of uniValue"
                            (click)="getboard(board,i)">
                            {{board.Board_Name}}
                            {{univ.University_Name}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-sm-3">
                        <mat-select [disabled]='showdeletedicon' class="inputs"
                          [(ngModel)]="qualification.institute_detail && qualification.institute_detail[0] && qualification.institute_detail[0]._id"
                          name="institute_detail{{i}}" #ind="ngModel" placeholder="Institute" required>
                          <mat-option [value]="item._id" *ngFor="let item of institutes" (click)="getIns(item,i)">
                            {{item.institute_name}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-sm-3">
                        <mat-select [disabled]='showdeletedicon' class="inputs"
                          [(ngModel)]="qualification.discipline && qualification.discipline[0] && qualification.discipline[0]._id"
                          name="discipline{{i}}" #t="ngModel" placeholder="Discipline" required>
                          <mat-option [value]="item._id" *ngFor="let item of dis" (click)="getdis(item,i)">
                            {{item.discipline_name}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-3">
                        <mat-select [disabled]='showdeletedicon' class="inputs"
                          [(ngModel)]="qualification && qualification.specification_detail && qualification.specification_detail[0] && qualification.specification_detail[0]._id"
                          name="specification_detail{{i}}" #spec="ngModel" placeholder="Specification" required>
                          <mat-option [value]="item._id" *ngFor="let item of specValue"
                            (click)="getspecicification(item,i)">
                            {{item.specification_name}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div class="col-sm-3">
                        <input [disabled]='showdeletedicon' type="text" class="inputs" placeholder="Year of Passing"
                          mask="0000" [(ngModel)]="qualification.year_of_passing"
                          (focusout)="getYOP(qualification.year_of_passing,i)" name="year_of_passing{{i}}"
                          #name="ngModel" maxlength="4" minlength="4" required>
                      </div>
                      <div class="col-sm-3">
                        <input [disabled]='showdeletedicon' type="text" class="inputs" placeholder="Percentage"
                          mask="00.00" [(ngModel)]="qualification.percentage" suffix="%" name="percentage{{i}}"
                          (focusout)="getPerccent(qualification.percentage,i)" #name="ngModel" required>
                      </div>
                      <div class="col-sm-3">
                        <!-- {{i}} {{qual.length}} {{qual.length-1}} -->
                        <button mat-icon-button [disabled]='showdeletedicon' *ngIf="i == qual.length-1 && qual.length < 15"
                        (click)="addnewQual(i,qualification,qual)">
                          <mat-icon >add_circle_outline</mat-icon>
                        </button>
                        <button mat-icon-button [disabled]='showdeletedicon' (click)="removelastQual(i)">
                          <mat-icon >delete</mat-icon>
                        </button>
                      </div>
                    </div><br>
                  </div>
                </div>
              </div><br>
              <div>
                <div class="row" *ngFor="let word2 of words2; let in=index">
                  <div class="col-sm-2">
                    <input [disabled]='showdeletedicon' class="input" type="text" placeholder="Certificate Link"
                      [(ngModel)]="words2[in].value" name="name{{in}}" #name="ngModel" required />
                    <!-- <input [disabled]='showdeletedicon' class="input" type="text" placeholder="Certificate Link"
                    [(ngModel)]="words2[in]" name="name{{in}}" #name="ngModel" required /> -->
                  </div>
                  <div class="col-sm-3">
                    <button mat-icon-button *ngIf="in == words2.length-1 && words2.length < 15" (click)="add(in)"
                    [disabled]='showdeletedicon'>
                    <mat-icon >add_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button (click)="removenewLink(in)" [disabled]='showdeletedicon'>
                      <mat-icon >delete</mat-icon>
                    </button>
                    <!-- <mat-icon (click)="test()">delete</mat-icon> -->
                  </div>
                </div><br>
              </div>
              <div class="row">
                <div class="col-sm-2">
                  <!-- <input [disabled]='showdeletedicon' class="inputs" placeholder="Socialmedia Link"
                    [(ngModel)]="profileDetails.social_media && profileDetails.social_media[0].link" name="socialMedia"> -->
                  <input [disabled]='showdeletedicon' class="inputs" placeholder="linkedin Link"
                    [(ngModel)]="socialMediaLink" name="socialMedia">
                </div>
                <div class="col-sm-3">
                  <i class="fa fa-linkedin-square linkedin" aria-hidden="true"></i>
                </div>
              </div><br>
              <div *ngIf="profileDetails.is_student_or_professional == 'professional'">
                <div class="row">
                  <mat-label>Experience</mat-label><span class="text-danger">*</span>
                </div>
                <div class="row experirnce">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-4">
                        <input [disabled]='showdeletedicon' type="text" mask="00" class="inputs"
                          placeholder="Total Experience" [(ngModel)]="prof.total_experience" name="totExp" maxlength="2"
                          required>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" mask="SSSSSSSSSSSSSSSS" [disabled]='showdeletedicon' class="inputs"
                          placeholder="Current Organisation" [(ngModel)]="prof.organization" name="currentOrg"
                          minlength="4" maxlength="16" required>
                      </div>
                      <div class="col-sm-4">
                        <input type="text" mask="SSSSSSSSSSSSSSSS" [disabled]='showdeletedicon' minlength="4"
                          maxlength="16" class="inputs" placeholder="Current role" [(ngModel)]="prof.job_role"
                          name="currentRole" required>
                      </div>
                    </div>
                  </div>
                </div><br>
              </div>

              <div class="bt">
                <button class="subbtn" [disabled]="enable"
                  (click)="updateProfile(profileDetails.languages_known,profileDetails.country,
        profileDetails.state,profileDetails.city_town,profileDetails.socialMediaLink,profileDetails.about_you,prof)">Submit</button>
              </div><br>
            </form>
          </div>

          <!------------------------------Change Email Dialog---------------------->
          <ng-template #emailDialog>
            <span class="close">
              <i class="fa fa-times-circle-o" aria-hidden="true" (click)="closedialogbox()"></i>
            </span>
            <h1 class="head">Change the Email ID</h1>
            <mat-dialog-content style="width: 270px;margin-top: 24px; height: 350px;">
              <form [formGroup]="mailForm">
                <div class="form-group">
                  <label class="title">Enter new email id</label>
                  <input type="text" formControlName="mailid" placeholder="example@mail.com" class="form-control"
                    [ngClass]="{ 'is-invalid': f.mailid.touched && f.mailid.errors }" required>
                  <div *ngIf="f.mailid.touched && f.mailid.errors" class="invalid-feedback">
                    <div *ngIf="f.mailid.errors.required">Email is required</div>
                    <div *ngIf="f.mailid.errors.pattern">Email Id is invalid</div>
                  </div>
                </div>
                <button class="popupbtns" [disabled]="!mailForm.valid" (click)="updateEmail(mailForm.valid)">
                  Submit
                </button><br><br>
              </form><br>
            </mat-dialog-content>
            <mat-dialog-actions class="bt">
              <div class="account">Don't receive link?<button class="resendbtn"
                  (click)="updateEmail(mailForm.valid)">Resend link</button></div>
            </mat-dialog-actions>
          </ng-template>
          <!------------------------------Change mobileno Dialog---------------------->
          <ng-template #mobDialog>
            <span class="close">
              <i class="fa fa-times-circle-o" aria-hidden="true" (click)="closedialogbox()"></i>
            </span>
            <h1 class="head">Change the Mobile No</h1>
            <mat-dialog-content style="width: 285px;margin-top: 24px;">
              <form [formGroup]="otpForm">
                <div class="form-group">
                  <label class="title">Enter new mobile no</label>
                  <input type="text" formControlName="mobile" placeholder="+91" maxlength="10"
                    pattern="[1-9]{1}[0-9]{9}" mask="0000000000" class="form-control"
                    [ngClass]="{ 'is-invalid':  f.mobile.errors}" required />
                  <div *ngIf="f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                    <div *ngIf="f.mobile.errors.pattern">Mobile Number is invalid</div>
                    <div *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Mobile Number must be 10 digits
                    </div>
                  </div>
                </div>
                <p class="otphead">OTP will be send to this number</p>
                <div *ngIf="showotp"><br>
                  <p class="otphead">OTP Code</p>
                  <ng-otp-input [config]="config"
                  [ngClass]="{ 'is-invalid': f.otp.touched && f.otp.errors }"
                  formControlName="otp" (onInputChange)="onOtpChange($event)" mask="0">
                  </ng-otp-input>
                  <p>00:{{timeLeft}}</p> 
                  <!-- <input [ngClass]="{ 'is-invalid': f.otp1.touched && f.otp1.errors }" class="otp" type="tel"
                    formControlName="otp1" maxLength="1" size="1" min="0" max="9" mask="0" pattern="[0-9]{1}" /> -->

                  <!-- <input [ngClass]="{ 'is-invalid': f.otp2.touched && f.otp2.errors }" class="otp" type="tel"
                    formControlName="otp2" maxLength="1" size="1" min="0" max="9" mask="0" pattern="[0-9]{1}" />

                  <input [ngClass]="{ 'is-invalid': f.otp3.touched && f.otp3.errors }" class="otp" type="tel"
                    formControlName="otp3" maxLength="1" size="1" min="0" max="9" mask="0" pattern="[0-9]{1}" />

              <input [ngClass]="{ 'is-invalid': f.otp4.touched && f.otp4.errors }" class="otp" type="tel"
                formControlName="otp4" maxLength="1" size="1" min="0" max="9" mask="0" pattern="[0-9]{1}" /> -->
              <br><br>
            </div>
            <div *ngIf="showotp">
              <button class="popupbtns" (click)="otpverify()">Verify</button>
            </div><br>
            <div *ngIf="showotp" class="account">Didn't get OTP?<button class="resendbtn" (click)="Resendcode()">Resend OTP</button></div>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions *ngIf="isenable">
          <button class="popupbtns" [disabled]="!otpForm.valid" (click)="otpverification()">
            Verification
          </button><br><br>
        </mat-dialog-actions>
      </ng-template>
      <!---------------------------------Password Dialog--------------------------------->
      <ng-template  #passwordDialog>
        <span class="close">
          <i class="fa fa-times-circle-o" aria-hidden="true" (click)="closedialogbox()"></i>
        </span>
        <h1 class="head">Change the Password</h1>
        <mat-dialog-content style="width: 300px;margin-top: 24px;" >
          <form   [formGroup]="passwordForm">
            <label class="title">Enter the current password</label>
            <div class="input-group">
              <input class="form-control border-right-0" [type]="show_button ? 'text' : 'password'" formControlName="currentpassword" onCopy="return false" onDrag="return false"
              onDrop="return false" onPaste="return false"  [ngClass]="{ 'is-invalid': f.currentpassword.touched && f.currentpassword.errors }">
              <span class="input-group-append bg-white border-left-0">
                <span class="input-group-text bg-transparent">
                  <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()" aria-hidden="true"></i>
                </span>
              </span>
              <div *ngIf="f.currentpassword.touched && f.currentpassword.errors" class="invalid-feedback">
                <div *ngIf="f.currentpassword.errors.required">Current Password is required</div>
                <div *ngIf="f.currentpassword.errors.minlength">Current Password must be at least 8 characters</div>
                <div *ngIf="f.currentpassword.errors.pattern">Your password must contain at least one number and have a
                  mixture of Special characters, uppercase and lowercase letters.</div>
              </div>
            </div><br>


                <label class="title">Enter the new password</label>
                <div class="input-group">
                  <input class="form-control border-right-0" [type]="showNewButton ? 'text' : 'password'"
                    formControlName="newpassword" onCopy="return false" onDrag="return false" onDrop="return false"
                    onPaste="return false" [ngClass]="{ 'is-invalid': f.newpassword.touched && f.newpassword.errors }"
                    (keyup)="change($event)" />
                  <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                      <i [class]="showNewEyes ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="shownewPassword()"
                        aria-hidden="true"></i>
                    </span>
                  </span>
                  <div *ngIf="f.newpassword.touched && f.newpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newpassword.errors.required">New Password is required</div>
                    <div *ngIf="f.newpassword.errors.minlength">New Password must be at least 8 characters</div>
                    <div *ngIf="f.newpassword.errors.pattern">Your password must contain at least one number and have a
                      mixture of Special characters, uppercase and lowercase letters.</div>
                    <div *ngIf="f.newpassword.errors.mustMatch"> Passwords must be same</div>
                  </div>
                </div><br>
                <div class="box" id="message">
                  <div class="row">
                    <div class="col">
                      <p *ngIf="uppercase" id="uppercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                        Uppercase</p>
                      <p *ngIf="lowercase" id="lowercase" class="valid"><i class="fa fa-check" aria-hidden="true"></i>
                        Lowercase</p>
                    </div>
                    <div class="col">
                      <p *ngIf="spicalcharacter" id="specialcharacter" class="valid"><i class="fa fa-check"
                          aria-hidden="true"></i> Special character</p>
                      <p *ngIf="number" id="number" class="valid"><i class="fa fa-check" aria-hidden="true"></i> Number
                      </p>
                    </div>
                  </div>
                </div>



                <p class="head">The password should not be last password</p>
                <label class="title">Confirm the new password</label>
                <div class="input-group">

                  <input class="form-control border-right-0" [type]="showconButton ? 'text' : 'password'"
                    formControlName="confirmpassword" onCopy="return false" onDrag="return false" onDrop="return false"
                    onPaste="return false"
                    [ngClass]="{ 'is-invalid': f.confirmpassword.touched && f.confirmpassword.errors }" />
                  <span class="input-group-append bg-white border-left-0">
                    <span class="input-group-text bg-transparent">
                      <i [class]="showconEyes ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showconPassword()"
                        aria-hidden="true"></i>
                    </span>
                  </span>
                  <div *ngIf="f.confirmpassword.touched && f.confirmpassword.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be at least 8 characters</div>
                <div *ngIf="f.confirmpassword.errors.pattern">Your password must contain at least one number and have a
                  mixture of Special characters, uppercase and lowercase letters.</div> -->
                    <div *ngIf="f.confirmpassword.errors.mustMatch">Should be same as password</div>
                  </div>
                </div>
              </form><br>
            </mat-dialog-content><br>
            <mat-dialog-actions>
              <button class="popupbtns" [disabled]="passwordForm.invalid" (click)="updatePassword()">
                Submit
              </button><br><br>
            </mat-dialog-actions>
          </ng-template>
        </div>
      </div>
    </div>