<mat-card class="coursebg card12">
  <div class="">
    <div class="courseDetailsCol">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-2">
          <div class="pointhover">
            <div class="courseHover" (click)="gotoDesc(course)">
              <div>
                <span *ngIf="course?.course_type === 'primer_course'">
                  <img *ngIf="course?.categoryName === 'college connect'" style="margin-left: -4px;position: absolute;"
                    matTooltip="College connect" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip"
                    alt="flag" class="primerFlage" src="assets/learner/primerC.svg" />
                  <img *ngIf="course?.categoryName === 'vocational'" style="margin-left: -4px;position: absolute;"
                    matTooltip="Vocational" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag"
                    class="primerFlage" src="../../../../assets/learner/primerV.svg" />
                  <img *ngIf="
                  course?.categoryName === 'pro certification'
                " matTooltip="Pro certification" style="margin-left: -4px;position: absolute;" placement="right"
                    alt="flag" class="primerFlage" src="../../../../assets/learner/primerP.svg" />
                </span>
                <span *ngIf="course?.course_type === 'free_course'">
                  <img *ngIf="course?.categoryName === 'college connect'" style="margin-left: -4px;position: absolute;"
                    matTooltip="College connect" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip"
                    alt="flag" class="primerFlage" src="../../../../assets/learner/freeC.svg" />
                  <img *ngIf="course?.categoryName === 'vocational'" style="margin-left: -4px;position: absolute;"
                    matTooltip="Vocational" alt="flag" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip"
                    class="primerFlage" src="../../../../assets/learner/freeV.svg" />
                  <img *ngIf="
                    course?.categoryName === 'pro certification'
                  " matTooltip="Pro certification" style="margin-left: -4px;position: absolute;"
                    matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag" class="primerFlage"
                    src="../../../../assets/learner/freeP.svg" />
                </span>
                <div class="overlay animate__animated animate__fadeIn">
                  <mat-icon class="text"> play_arrow </mat-icon>
                </div>
              </div>
              <img alt="Course Img" [src]=course.course_img_url class="courseImg" />
            </div>
            <div class="coursePoints animate__animated animate__fadeInDown">
              <table class="f_size_12">
                <tr *ngIf="course.isBatchCourse">
                  <td>Instructor led sessions</td>
                  <td>Upto {{course.image_instructor_lead_session_time!==""?course.image_instructor_lead_session_time:0}}</td>
                  <!-- <td>Upto {{globalData.on_hover_image_data.instructor_lead_session}}</td> -->
                </tr>
                <tr>
                  <td>Self paced learning</td>
                  <td>{{course.image_self_paced_learning_time!==""?course.image_self_paced_learning_time:0}}</td>
                </tr>
                <tr *ngIf="course.isBatchCourse">
                  <!-- Mid course project -->
                  <td>Course project</td>
                  <td>{{course.total_mid_course_project_count!==""?course.total_mid_course_project_count:0}}</td>
                </tr>
                <tr *ngIf="course.isBatchCourse">
                  <td>Internal assessment</td>
                  <td>{{course.internal_assesment!==""?course.internal_assesment:0}}</td>
                </tr>
                <tr *ngIf="course.isBatchCourse">
                  <td>Final assessment</td>
                  <td>{{course.final_assesment!==""?course.final_assesment:0}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-4">
          <div class="f_size_17 f_wt_600 coursename">
            <p  title="{{course.course_name}}" placement="top">
              {{course.course_name}}
            </p>
          </div>
          <div class="courseWrapper d-flex justify-content-between lxp_gray123">
            <div class="courseAuthor">
              <p> By: {{course.author_details[0].author_name?course.author_details[0].author_name:'N/A'}} </p>
            </div>
            <div class="courseDuration">
              <p>Total duration: {{course.total_duration? course.total_duration : "1" + " hour"}}</p>
            </div>
            <div class="courseCredit">
              Credits: {{course.credits!==null?course.credits:0}}
            </div>
          </div>
          <div class="row" *ngIf="course.isBatchCourse">
            <div class="col-5" style="margin-bottom:10px;">
              <span class="lxp_gray123">Start Date:</span>
              <span class="f_wt_500">
                {{course.batch_start_date ?(course.batch_start_date |date:'dd MMM yyyy'):'N/A' }}
              </span>
            </div>
            <div class="col">
              <span class="lxp_gray123">End Date:</span>
              <span class="f_wt_500">
                {{course.batch_end_date ?(course.batch_end_date |date:'dd MMM yyyy'):'N/A' }}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col color_g f_size_14 descmc f_wt_400 h-80 ">

              <!-- {{(course.course_description?.length > 100)? (course.course_description | slice:0:100)+'...':(course.course_description) }} -->
              {{course.course_description}}

            </div>
          </div>
          <br>
          <div *ngIf="course.isBatchCourse">
            <div class="row">
              <div class="col">
                <p class="f_size_16 f_wt_500 color_black pull-left">Course Progression</p>
                <span class="pointer seemoreHove pull-right"
                        (click)="course.progresslistExp?course.progresslistExp=false:course.progresslistExp=true">
                        <p class="f_size_10 ">{{course.progresslistExp?'Show more...':'Show less...' }}</p>
                </span>
              </div>
            </div>
            <div class="row" *ngIf="!course.progresslistExp">
            <div class="col-8">
              <div class="row color_g">
                <div class="col m_b3px">
                  Instructor led session completed
                </div>
                <div class="col-3 f_wt_600">
                  <ng-container>{{course.instructor_lead_session_completed_count}}/{{course.instructor_lead_session_total_count}}</ng-container>

                </div>
              </div>
              <div class="row color_g">
                <div class="col m_b3px">
                  Internal assessment completed
                </div>
                <div class="col-3 f_wt_600">
                  {{course.internal_assesment?course.internal_assesment:'N/A'}}
                </div>
              </div>
              <!-- <div class="row color_g">
                <div class="col m_b3px">
                  Mid course project completed
                </div>
                <div class="col-3 f_wt_600">
                  {{course.completed_mid_course_project_count}}/{{course.completed_mid_course_project_count}}
                </div>
              </div>
              <div class="row color_g">
                <div class="col m_b3px">
                  Final assessment completed
                </div>
                <div class="col-3 f_wt_600">
                  {{course.final_assesment?course.final_assesment:'N/A'}}
                </div>
              </div> -->
            </div>
            <div class="col-4">
              <div class="row m-auto c_progress">
                <circle-progress percent="{{((100 * (course.week_completed_count!==null?course.week_completed_count:0)) / (course.week_total_count!==null?course.week_total_count:1))}}" [radius]="10" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [space]="-2"
                  [outerStrokeColor]="'#0DA207'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="3"
                  [titleColor]="'#666666'" [subtitleColor]="'#333333'" [subtitleFontSize]="4.5" [animation]="true"
                  [animationDuration]="10" [startFromZero]="false" [responsive]="true" title="Week" [subtitle]="courseWeekCircle"
                  [showUnits]="false" [showSubtitle]="true" subtitleFontWeight=600>
                </circle-progress>
              </div>

              <div class="row m-auto" style="display:none">
                <div class="col ">
                  <button mat-stroked-button class="blue_clr cap  pointer m-t-05">
                    <span class="cap f_size_12 f_wt_400 ">
                      {{ "Course report" | translate }}
                    </span>
                  </button>
                </div>
              </div>
              <!-- <div class="row m-auto">
                <div class="col justify-content-center align-self-center">
                  <a class="" style="color: red; font-size: 10px !important;" href="">View assessment
                    report</a>
                </div>
              </div> -->
            </div>
          </div>
          </div>
        </div>
        <!-- //4quadrant Self-Paced Learning// left lines //remove discussion link -->


        <!-- //DESKTOP CONTENT STARTS// -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 desktopTab d-flex justify-content-between flex-wrap">
          <div matRipple class="m-b-15px myCourseCards">
            <div class="card-hover cardHeights grey_border1 ">
              <div class="row">
                <div class="col ">
        
                  <div class="circle_outline pull-left  m-r-15px m-b-10px">
                    <span class="lxp-gauge lxp-theme-red title_img f_size_23"></span>
                    </div>
                  <p class="f_size_16 f_wt_500 color_black titleAlign"> Self-Paced Learning</p>
                </div>
              </div>
              <!-- ORIGIN CONTENT -->
              <div class="height_match">
                <div class="wrapper animate__animated animate__fadeInDown" *ngIf="!course.progressionExp">
                  <div class="row color_g f_size_13">
                    <div class="col">
                      <span>Keep learning and revising the topics to hone your skills.</span>
                    </div>
                  </div>
                  <div class="row lxp_gray123">
                    <div class="col-7"><span class="f_size_13">
                        Progression
                      </span></div>
                  </div>
                  <div class="row">
                    <div class="col-10 justify-content-center align-self-center">
                      <mat-progress-bar class="example-margin" [mode]="'determinate'"
                        [value]="course.self_paced_learning_progression!==''?course.self_paced_learning_progression:0">
                      </mat-progress-bar>
                    </div>
                    <div class="col-2 c_per">
                      {{(course.self_paced_learning_progression!==''?(course.self_paced_learning_progression>100?100:course.self_paced_learning_progression):0)| number:'1.0-0'}}%
                    </div>
                  </div>
                </div>
                <!-- SEE MORE CONTENT -->
                <div *ngIf="course.progressionExp" class="f_size_12 animate__animated animate__fadeInUp">
                  Modules completed {{(course.completed_module_count!=null?course.completed_module_count:0) +'/'+ (course.total_module_count!=null?course.total_module_count:0)}}<br>
                  Topics completed {{(course.completed_topic_count!=null?course.completed_topic_count:0) +'/'+ (course.total_topic_count!=null?course.total_topic_count:0)}}<br>
                  <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline; display: none;">View self-learning
                    activity details..</span>
                </div>
              </div>

              <div class="moreDetails d-flex justify-content-between align-items-center">
                <div class="seeMoreDetails">
                  <div class="">
                    <span class="pointer seemoreHove"
                      (click)="course.progressionExp?course.progressionExp=false:course.progressionExp=true">
                      <span class="f_size_10 ">{{course.progressionExp?'Hide details...':'See more details...' }}</span>
                    </span>
                    
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button *ngIf="course?.course_status !== 'completed'" class="btl-alin btn-txt-center bg_lxp_red color_white cap pointer " (click)="gotoDesc(course)">
                    <!-- <mat-icon class="icon-color m-t-m-2">play_circle_outline</mat-icon> -->
                    <i class="fa fa-play-circle mycourse-btn-img" aria-hidden="true"></i>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{
                                                        course?.course_status ===
                                                        "incomplete"
                                                          ? "Resume"
                                                          : course?.course_status ===
                                                            "suspend"
                                                          ? "Resume"
                                                          : ("Start" | translate)
                                                      }}&nbsp;
                    </span>
                  </button>
                  <button mat-stroked-button (click)="gotoDesc(course)" *ngIf="
                                                      course?.course_status === 'completed' 
                                                    " class="btl-alin btn-txt-center
                                                    bg_lxp_red color_white cap pointer m-t-05 ">
                    <mat-icon class="icon-color m-t-m-2">replay</mat-icon>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{ "Replay" | translate }}&nbsp;
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Second -->
          <div matRipple class="m-b-15px myCourseCards" *ngIf="course.isBatchCourse">
            <div class="card-hover cardHeights grey_border1" (mouseover)="instDefault ='../../../../assets/learner/mycourseicons/Instructor_hover.svg'" (mouseout)="instDefault='../../../../assets/learner/mycourseicons/Instructor_default.svg'">
              <div class="row">
                <div class="col ">
                  <div class="circle_outline pull-left  m-r-15px m-b-10px">
                    <span class="lxp-monitor lxp-theme-red title_img f_size_23"></span>
                  </div>
                  <p class="f_size_16 f_wt_500 color_black titleAlign"> Instructor Led</p>
                </div>
              </div>
              <!-- ORIGIN CONTENT -->
              <div class="height_match">
                <div class="row color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.ledinstExp">
                  <div class="col-5 ">
                    <img alt="" class="inst_hover" [src]="instDefault" width="100px" height="80px">
                  </div>
                  <div class="col p-l-0px">
                    <p>Interact with your faculty, ask questions and learn from your classmates.</p>
                  </div>
                </div>
                <!-- SEE MORE CONTENT -->
                <div *ngIf="course.ledinstExp" class="f_size_13 animate__animated animate__fadeInUp">
                  Sessions attended
                  {{course.instructor_lead_session_completed_count+'/'+course.instructor_lead_session_total_count}}<br>
                  <span class="pointer f_size_10" style="color:#C02222; text-decoration: underline;"
                    (click)="goInstructorLed(course)">View sessions details..</span>
                </div>
              </div>

              <div class="moreDetails d-flex justify-content-between align-items-center">
                <div class="seeMoreDetails">
                  <div class="">
                    <span class="pointer seemoreHove" (click)="course.ledinstExp?course.ledinstExp=false:course.ledinstExp=true">
                      <span class="f_size_10">{{course.ledinstExp?'Hide details...':'See more details...' }}</span>
                    </span>
                   
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button class="btl-alin btn-txt-center m_3_px_top
                          blue_clr cap pointer" (click)="goInstructorLed(course)">
                    <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/joinmain.svg"
                              width="16px" height="12.5px"> -->
        
        
                    <span class="cap f_wt_400 m-t-m-2NEW">
                      <i class="fa fa-hand-o-up mycourse-btn-img" aria-hidden="true"></i>
                      {{ "Join" | translate }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Third -->
          <div matRipple class="m-b-15px myCourseCards" *ngIf="course.isBatchCourse">
            <div class="card-hover cardHeights grey_border1" (mouseover)="discussDefault ='../../../../assets/learner/mycourseicons/Discussion_hover.svg'" (mouseout)="discussDefault='../../../../assets/learner/mycourseicons/Discussion_default.svg'">
              <div class="row">
                <div class="col ">
                  <div class="circle_outline pull-left  m-r-15px m-b-10px">
                    <span class="lxp-stack lxp-theme-red title_img f_size_23"></span>
                    </div>
                  <p class="f_size_16 f_wt_500 color_black titleAlign"> Discussion Forum</p>
                </div>
              </div>

              <div class="height_match">
                <div class="row color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.discussExp">
                  <div class="col-5 ">
                    <img alt="" [src]="discussDefault"
                      width="100px" height="80px">
                  </div>
                  <div class="col p-l-0px">
                    <p>Interact with peers by posting thoughts and comments on given topic.</p>
                  </div>
                </div>
                <div *ngIf="course.discussExp" class="f_size_13 animate__animated animate__fadeInUp">
                  Threads {{course.thread_count!==null?course.thread_count:'N/A'}}<br>
                  Comments {{course.comment_count!==null?course.comment_count:'N/A'}}<br>
                  Replies {{course.reply_count!==null?course.reply_count:'N/A'}}<br>
                  <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                    (click)="goToForum(course)">View discussions..</span>
                </div>
              </div>

              <div class="moreDetails d-flex justify-content-between align-items-center">
                <div class="seeMoreDetails">
                  <div class="">
                    <span class="pointer seemoreHove" (click)="course.discussExp?course.discussExp=false:course.discussExp=true">
                      <span class="f_size_10">{{course.discussExp?'Hide details...':'See more details...' }}</span>
                    </span>
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button *ngIf="userDetail.is_forum_config" class="btl-alin blue_clr btn-txt-center
                            cap pointer  p-7-lr" (click)="goToForum(course)">
                    <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/collaborate.svg"
                              width="16px" height="12.5px"> -->
                    <i class="fa fa-handshake-o mycourse-btn-img" aria-hidden="true"></i>
                    <span class="cap f_wt_400 m-t-m-2 span-ellip">
                      {{ "Collaborate" | translate }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Fourth -->
          <div matRipple class="m-b-15px myCourseCards" *ngIf="course.isBatchCourse">
            <div class="card-hover cardHeights grey_border1" (mouseover)="activityDefault ='../../../../assets/learner/mycourseicons/Activities_hover.svg'" (mouseout)="activityDefault='../../../../assets/learner/mycourseicons/Activities_defult.svg'">
              <div class="row">
                <div class="col ">
                  <div class="circle_outline pull-left  m-r-15px m-b-10px">
                    <img alt="" src="../../../../assets/learner/mycourseicons/activities.svg" width="22px" height="22px"
                  class="title_img">
                </div>                 
                     <p class="f_size_16 f_wt_500 color_black titleAlign"> Activities</p>
                </div>
              </div>

              <div class="height_match">
                <div class="row color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.activityExp" >
                  <div class="col-5 ">
                    <img alt="" [src]="activityDefault" width="100px" height="80px">
                  </div>
                  <div class="col p-l-0px">
                    <p>Practice the skills learnt while reading and attending classes.</p>
                  </div>
                </div>
                <div *ngIf="course.activityExp" class="f_size_13 animate__animated animate__fadeInUp">
                  Assignments completed {{course.assignment_submitted_count+'/'+course.assignment_total_count}}<br>
                  Projects completed {{course.completed_mid_course_project_count+'/'+course.total_mid_course_project_count}}<br>
                  <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                    (click)="gotoSubmissionDetails(course)">View submission details..</span>
                </div>
              </div>

              <!-- <div class="row pseudoheight"></div> -->
              <div class="moreDetails d-flex justify-content-between align-items-center">
                <div class="seeMoreDetails">
                  <div class="">
                    <span class="pointer seemoreHove" (click)="course.activityExp?course.activityExp=false:course.activityExp=true">
                      <span class="f_size_10">{{course.activityExp?'Hide details...':'See more details...' }}</span>
                    </span>
                  </div>
                  <!-- <div class="row m-auto">
                    <div class="col justify-content-center align-self-center">
                      <a class="" style="color: red; font-size: 10px !important;" [routerLink]="" (click)="gotoSubmissionDetails(course)">View submission details</a>
                    </div>
                  </div> -->
                </div>
                <div class="cardButton">
                  <button mat-stroked-button class="btl-alin blue_clr cap pointer btn-txt-center "
                    (click)="Go(course)">
                    <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/go.svg"
                      width="16px" height="12.5px"> -->
                    <mat-icon fontSet="material-icons-outlined" class="icon-color m-t-m-2">near_me</mat-icon>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{ "Go" | translate }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-3 p-x-7px"></div> -->
        <!-- Desktop Device Content Ends -->

        <!-- Mobile Device Content -->
        <!-- Tab sample -->
        <div class="courseCardTab container-fluid">
          <div class="">
              <div class="tabHeadings d-flex justify-content-between">
                <div class="tab first d-flex align-items-end" (click)="tabselector = 0; " [ngClass]="tabselector == 0 ? 'activetab' :''">
                  <span _ngcontent-jtm-c8="" class="circle_outline lxp-gauge lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Self-Paced <br />Learning</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab second d-flex align-items-end" (click)="tabselector = 1; " [ngClass]="tabselector == 1 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline lxp-monitor lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Instructor <br />Led</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab third d-flex align-items-end" (click)="tabselector = 2; " [ngClass]="tabselector == 2 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline lxp-stack lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Discussion <br />Forum</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab fourth d-flex align-items-end" (click)="tabselector = 3; " [ngClass]="tabselector == 3 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline tabIcon">
                    <img [src]="(tabselector==3)? '../../../../assets/learner/mycourseicons/activities.svg' : '../../../../assets/learner/mycourseicons/Activities_active.svg'" alt="activity" width="22px" height="22px" class="title_img activityImg"/>
                  </span>
                  <!-- <span class="title">Activities</span> -->
                </div>
              </div>
              <div class="tabContents">
                <div class="tabTitle d-flex justify-content-between" [ngClass]="tabselector == 1 || tabselector == 2 ? 'borderLeftRadius borderRightRadius':tabselector == 0 ? 'borderRightRadius':'borderLeftRadius'">
                  <span class="title" [ngClass]="tabselector == 0 ? 'livetab' :''">Self-Paced <br />Learning</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 1 ? 'livetab1' :''">Instructor <br />Led</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 2 ? 'livetab2' :''">Discussion <br />Forum</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 3 ? 'livetab3' :''">Activities</span>
                </div>

                <div class="cardTabs" *ngIf="tabselector == 0" [ngClass]="tabselector == 0 ? 'activetab' :''">
                  <div matRipple class="card-hover cardHeights grey_border1 ">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left  m-r-15px m-b-10px">
                          <span class="lxp-gauge lxp-theme-red title_img f_size_23"></span>
                        </div>
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Self-Paced Learning</p>
                      </div> -->
                    </div>
                    <div class="height_match">
                      <div class="wrapper animate__animated animate__fadeInDown" *ngIf="!course.progressionExp">
                        <div class="row color_g f_size_13">
                          <div class="col">
                            <span>Keep learning and revising the topics to hone your skills.</span>
                          </div>
                        </div>
                        <div class="row lxp_gray123">
                          <div class="col-7"><span class="f_size_13">
                              Progression
                            </span></div>
                        </div>
                        <div class="row">
                          <div class="col-10 justify-content-center align-self-center">
                            <mat-progress-bar class="example-margin" [mode]="'determinate'"
                              [value]="course.self_paced_learning_progression!==''?course.self_paced_learning_progression:0">
                            </mat-progress-bar>
                          </div>
                          <div class="col-2 c_per">
                            {{(course.self_paced_learning_progression!==''?(course.self_paced_learning_progression>100?100:course.self_paced_learning_progression):0)| number:'1.0-0'}}%
                          </div>
                        </div>
                      </div>
                      <div *ngIf="course.progressionExp" class="f_size_12 animate__animated animate__fadeInUp">
                        Modules completed {{(course.completed_module_count!=null?course.completed_module_count:0) +'/'+ (course.total_module_count!=null?course.total_module_count:0)}}<br>
                        Topics completed {{(course.completed_topic_count!=null?course.completed_topic_count:0) +'/'+ (course.total_topic_count!=null?course.total_topic_count:0)}}<br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline; display: none;">View self-learning
                          activity details..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove"
                            (click)="course.progressionExp?course.progressionExp=false:course.progressionExp=true">
                            <span class="f_size_10 ">{{course.progressionExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button *ngIf="course?.course_status !== 'completed'" class="btl-alin btn-txt-center bg_lxp_red color_white cap pointer " (click)="gotoDesc(course)">
                          <!-- <mat-icon class="icon-color m-t-m-2">play_circle_outline</mat-icon> -->
                          <i class="fa fa-play-circle mycourse-btn-img" aria-hidden="true"></i>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{
                                                              course?.course_status ===
                                                              "incomplete"
                                                                ? "Resume"
                                                                : course?.course_status ===
                                                                  "suspend"
                                                                ? "Resume"
                                                                : ("Start" | translate)
                                                            }}&nbsp;
                          </span>
                        </button>
                        <button mat-stroked-button (click)="gotoDesc(course)" *ngIf="
                                                            course?.course_status === 'completed' 
                                                          " class="btl-alin btn-txt-center
                                                          bg_lxp_red color_white cap pointer m-t-05 ">
                          <mat-icon class="icon-color m-t-m-2">replay</mat-icon>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{ "Replay" | translate }}&nbsp;
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 2 -->
                <div class="cardTabs" *ngIf="tabselector == 1" [ngClass]="tabselector == 1 ? 'activetab1' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="instDefault ='../../../../assets/learner/mycourseicons/Instructor_hover.svg'" (mouseout)="instDefault='../../../../assets/learner/mycourseicons/Instructor_default.svg'">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left  m-r-15px m-b-10px">
                          <span class="lxp-monitor lxp-theme-red title_img f_size_23"></span>
                        </div>
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Instructor Led</p>
                      </div> -->
                    </div>
                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.ledinstExp">
                        <div class="col-5 ">
                          <img alt="" class="inst_hover" [src]="instDefault" width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Interact with your faculty, ask questions and learn from your classmates.</p>
                        </div>
                      </div>

                      <div *ngIf="course.ledinstExp" class="f_size_13 animate__animated animate__fadeInUp">
                        Sessions attended
                        {{course.instructor_lead_session_completed_count+'/'+course.instructor_lead_session_total_count}}<br>
                        <span class="pointer f_size_10" style="color:#C02222; text-decoration: underline;"
                          (click)="goInstructorLed(course)">View sessions details..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.ledinstExp?course.ledinstExp=false:course.ledinstExp=true">
                            <span class="f_size_10">{{course.ledinstExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button class="btl-alin btn-txt-center m_3_px_top
                                blue_clr cap pointer" (click)="goInstructorLed(course)">
                          <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/joinmain.svg"
                                    width="16px" height="12.5px"> -->
              
              
                          <span class="cap f_wt_400 m-t-m-2NEW">
                            <i class="fa fa-hand-o-up mycourse-btn-img" aria-hidden="true"></i>
                            {{ "Join" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 3 -->
                <div class="cardTabs" *ngIf="tabselector == 2" [ngClass]="tabselector == 2 ? 'activetab2' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="discussDefault ='../../../../assets/learner/mycourseicons/Discussion_hover.svg'" (mouseout)="discussDefault='../../../../assets/learner/mycourseicons/Discussion_default.svg'">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left m-r-15px m-b-10px">
                          <span class="lxp-stack lxp-theme-red title_img f_size_23"></span>
                          </div>
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Discussion Forum</p>
                      </div> -->
                    </div>

                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown"  *ngIf="!course.discussExp">
                        <div class="col-5 ">
                          <img alt="" [src]="discussDefault"
                            width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Interact with peers by posting thoughts and comments on given topic.</p>
                        </div>
                      </div>
                      <div *ngIf="course.discussExp" class="f_size_13 animate__animated animate__fadeInUp">
                        Threads {{course.thread_count!==null?course.thread_count:'N/A'}}<br>
                        Comments {{course.comment_count!==null?course.comment_count:'N/A'}}<br>
                        Replies {{course.reply_count!==null?course.reply_count:'N/A'}}<br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                          (click)="goToForum(course)">View discussions..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.discussExp?course.discussExp=false:course.discussExp=true">
                            <span class="f_size_10">{{course.discussExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button *ngIf="userDetail.is_forum_config" class="btl-alin blue_clr btn-txt-center
                                  cap pointer  p-7-lr" (click)="goToForum(course)">
                          <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/collaborate.svg"
                                    width="16px" height="12.5px"> -->
                          <i class="fa fa-handshake-o mycourse-btn-img" aria-hidden="true"></i>
                          <span class="cap f_wt_400 m-t-m-2 span-ellip">
                            {{ "Collaborate" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 4 -->
                <div class="cardTabs" *ngIf="tabselector == 3" [ngClass]="tabselector == 3 ? 'activetab3' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="activityDefault ='../../../../assets/learner/mycourseicons/Activities_hover.svg'" (mouseout)="activityDefault='../../../../assets/learner/mycourseicons/Activities_defult.svg'">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left  m-r-15px m-b-10px">
                          <img alt="" src="../../../../assets/learner/mycourseicons/activities.svg" width="22px" height="22px"
                        class="title_img">
                      </div>                 
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Activities</p>
                      </div> -->
                    </div>
                    
                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown"  *ngIf="!course.activityExp">
                        <div class="col-5 ">
                          <img alt="" [src]="activityDefault" width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Practice the skills learnt while reading and attending classes.</p>
                        </div>
                      </div>
                      <div *ngIf="course.activityExp" class="f_size_13 animate__animated animate__fadeInUp">
                        Assignments completed {{course.assignment_submitted_count+'/'+course.assignment_total_count}}<br>
                        Projects completed {{course.completed_mid_course_project_count+'/'+course.total_mid_course_project_count}}<br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                          (click)="gotoSubmissionDetails(course)">View submission details..</span>
                      </div>
                    </div>

                    <!-- <div class="row pseudoheight"></div> -->
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.activityExp?course.activityExp=false:course.activityExp=true">
                            <span class="f_size_10">{{course.activityExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                        <!-- <div class="row m-auto">
                          <div class="col justify-content-center align-self-center">
                            <a class="" style="color: red; font-size: 10px !important;" [routerLink]="" (click)="gotoSubmissionDetails(course)">View submission details</a>
                          </div>
                        </div> -->
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button class="btl-alin blue_clr cap pointer btn-txt-center "
                          (click)="Go(course)">
                          <!-- <img class="mycourse-btn-img" alt="" src="../../../../assets/learner/mycourseicons/go.svg"
                            width="16px" height="12.5px"> -->
                          <mat-icon fontSet="material-icons-outlined" class="icon-color m-t-m-2">near_me</mat-icon>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{ "Go" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- tab sample -->
      </div>
    </div>
  </div>
</mat-card>
<div style="border-bottom: 1px solid #FFCC00"></div>