<div class="courses d-flex justify-content-start">
  <div class="{{course.progressClass}} progBar">
      <mat-progress-bar [mode]="mode" [value]="course.self_paced_learning_progression" [bufferValue]="bufferValue"></mat-progress-bar>
  </div>
  <figure class="d-flex align-items-start justify-content-center leftColImage" (click)="gotoDesc(course)">
      <img [src]="course.course_img_url + blobKey" alt="" />

      <button class="d-flex align-items-center"><em [class]="course.course_status === 'completed'?'lxp-PlayCircle':'lxp-Play_Icon'"></em>
          {{course?.course_status === "incomplete" ? ("Resume"| translate) : course?.course_status === "suspend" ? ("Resume"| translate) : course.course_status=== 'completed'?("Replay"| translate):("Start" | translate) }}
      </button>
      <div class="progStatus {{course.progressClass}}">
          <div class="d-flex justify-content-between progression">
              <span>{{'Progression' | translate}}</span>
              <span>{{course.self_paced_learning_progression}} %</span>
          </div>
          <mat-progress-bar style="height: 4px;" [mode]="mode" [value]="course.self_paced_learning_progression" [bufferValue]="bufferValue"></mat-progress-bar>
        </div>
  </figure>
  <div class="rightCol">
      <div class="d-flex justify-content-between align-items-center">
          <h3 class="titleClass" title="{{course.course_name}}">{{course.course_name}}</h3>
          <div class="searchProgression d-flex justify-content-end align-items-center" [ngClass]="userDetail.org_type === 'collegeconnect' ? 'yes':'no'">
              <!-- <span class="searchGallery" *ngIf ="shotDotSearch" (click)="openGallery(course)"><em class="lxp-Search"></em></span> -->
              <div class="percentage" *ngIf="userDetail.org_type === 'collegeconnect'">
                  <circle-progress percent="{{((100 * (course.current_week_count!==null?course.current_week_count:0)) / (course.actual_total_week!==null?course.actual_total_week:1))}}" [radius]="10" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [space]="-2" [outerStrokeColor]="'#56b35a'" [innerStrokeColor]="'#ededed'" [titleColor]="'#666666'" [subtitleColor]="'#333333'" [titleFontSize]="4.5" [subtitleFontSize]="5.5" [animation]="true" [animationDuration]="10" [startFromZero]="false" [responsive]="true" title="Week" [subtitle]="course.weekPercentage" [showUnits]="false" [showSubtitle]="true" subtitleFontWeight=800> </circle-progress>
              </div>
          </div>
          <!-- <span *ngIf="course?.batchid" class="menuIcon" [matMenuTriggerFor]="menu">
              <em class="lxp-Dot_Menu"></em>
          </span>
          <mat-menu #menu="matMenu" xPosition="before">
              <button *ngIf ="shotDotSearch" mat-menu-course (click)="openGallery(course)">
                <span><em class="lxp-Search mr-2"></em>Search</span>
              </button>
              <mat-divider *ngIf ="shotDotSearch"></mat-divider> 
          </mat-menu> -->
      </div>
      <div *ngIf="course?.batchid" class="showLessContent">
          <div [ngClass]="!course.isReadMore ? '' : 'showText'">
              <div class="arrowWrapper d-flex align-items-start">
                  <p [ngClass]="!course.isReadMore ? 'addEllipsis': ''">{{course.course_description}}</p>
                  <button class="readMoreLess" type="button" (click)="course.isReadMore = !course.isReadMore">
                      <em [class]="course.isReadMore?'lxp-Arrow':'lxp-DownArrow'"></em>
                  </button>
              </div>
              <div *ngIf="course?.batchid" class="durationCredits d-flex justify-content-between">
                  <span class="by">{{'By:' | translate}} <b>{{course.courseBy}}</b></span>
                  <span class="credits" *ngIf ="course.enableCredits">{{'Credits:' | translate}} <b>{{course.credits!==null?course.credits:0}}</b></span>
                  <span>
                      <em class="lxp-Duration"></em> 
                      {{'Duration:' | translate}} <b>{{course.batch_start_date ?(course.batch_start_date |date:'dd MMM yyyy'):'N/A' }} - {{course.batch_end_date ?(course.batch_end_date |date:'dd MMM yyyy'):'N/A' }}</b>
                  </span>
              </div>
              <div class="type d-flex justify-content-start">
                  <span>{{'Self learning -' | translate}} {{course.image_self_paced_learning_time!==""?course.image_self_paced_learning_time:0}} hrs</span>
                  <span>
                      <ng-container *ngIf="userDetail.org_type !== 'collegeconnect'">{{'Live Interactions' | translate}}</ng-container><ng-container *ngIf="userDetail.org_type == 'collegeconnect'">{{'Industry Talk' | translate}}</ng-container> - {{'upto' | translate}}  {{course.instructor_lead_session_total_count!==""?course.instructor_lead_session_total_count:0}}</span>
                  <span *ngIf="userDetail.org_type == 'collegeconnect'">{{'Course project -' | translate}} {{course.total_mid_course_project_count!==""?course.total_mid_course_project_count:0}}</span>
                  <span *ngIf="userDetail.org_type == 'collegeconnect'">{{'Internal Assessment -' | translate}} {{course.internal_assesment!==""?course.internal_assesment:0}}</span>
              </div>
          </div>
      </div>
      <div [ngClass]="userDetail.org_type === 'vocational' ? 'vocational':'notVocational'">
          <div *ngIf="course?.batchid" class="actionItems d-flex justify-content-between" [ngClass]="!course.isReadMore ? 'top' : 'zero'">
              <div class="viltActivitiesQA d-flex justify-content-start">
                  <div class="icons" (click)="goInstructorLed(course)">
                      <span><em class="lxp-VILT"></em></span>
                      <ng-container *ngIf="userDetail.org_type !== 'collegeconnect'"><p>{{'Live Interactions' | translate}}</p></ng-container>
                      <ng-container *ngIf="userDetail.org_type == 'collegeconnect'"><p>{{'Industry Talk' | translate}}</p></ng-container>
                  </div>
                  <div class="icons" (click)="gotoSubmissionDetails(course)">
                      <span><em class="lxp-Activities_New"></em></span>
                      <p>{{'Activities' | translate}}</p>
                  </div>
                  <!--  -->
                  <div class="icons" [ngClass]="course.course_status=='start' && userDetail.org_type !== 'collegeconnect'?'disabledcursor':''" [disabled]="course.course_status=='start'" (click)="userDetail.org_type !== 'collegeconnect'?gotoAskQuestions(course):gotoquestionanswer(course)">
                      <span><em class="lxp-book-question"></em></span>
                      <p>{{'Q&A' | translate}}</p>
                  </div>
                  <div *ngIf="userDetail.org_type === 'vocational' || userDetail.org_type ==='Corporate'" class="icons" (click)="goToForum(course)">
                      <span><em class="lxp-QA"></em></span>
                      <p>{{'Discussion Forum' | translate}}</p>
                  </div>
              </div>
              <div class="courseProgression viltActivitiesQA  d-flex align-items-center">
                  <div class="icons" *ngIf="userDetail.org_type === 'collegeconnect'" (click)="openReport(course)">
                      <span><em class="lxp-Assessment_Report"></em></span>
                      <p>{{'Assessment Report' | translate}}</p>
                  </div>
                  <div class="icons" (click)="gotoProgression(course)">
                      <span><em class="lxp-Analytics"></em></span>
                      <p>{{'Learning Progression' | translate}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>