<mat-card class="coursebg card12">
  <div class="">
    <div class="courseDetailsCol">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-3">
          <div class="pointhover">
            <div class="courseHover" (click)="gotoDesc(course)">
              <div>
                <span *ngIf="course?.course_type === 'primer_course'">
                  <img *ngIf="course?.categoryName === 'college connect'" style="margin-left: -4px;position: absolute;" matTooltip="College connect" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag" class="primerFlage" src="assets/learner/primerC.svg" />
                  <img *ngIf="course?.categoryName === 'vocational'" style="margin-left: -4px;position: absolute;" matTooltip="Vocational" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag" class="primerFlage" src="../../../../assets/learner/primerV.svg" />
                  <img *ngIf="course?.categoryName === 'pro certification'" matTooltip="Pro certification" style="margin-left: -4px;position: absolute;" placement="right" alt="flag" class="primerFlage" src="../../../../assets/learner/primerP.svg" />
                </span>
                <span *ngIf="course?.course_type === 'free_course'">
                  <img *ngIf="course?.categoryName === 'college connect'" style="margin-left: -4px;position: absolute;" matTooltip="College connect" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag" class="primerFlage" src="../../../../assets/learner/freeC.svg" />
                  <img *ngIf="course?.categoryName === 'vocational'" style="margin-left: -4px;position: absolute;" matTooltip="Vocational" alt="flag" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" class="primerFlage" src="../../../../assets/learner/freeV.svg" />
                  <img *ngIf="course?.categoryName === 'pro certification'" matTooltip="Pro certification" style="margin-left: -4px;position: absolute;" matTooltipPosition="right" matTooltipClass="custom-mat-tooltip" alt="flag" class="primerFlage" src="../../../../assets/learner/freeP.svg" />
                </span>
              </div>
              <figure>
                <span class="bgOverlay"></span>
                <img alt="Course Img" [src]=course.course_img_url class="courseImg" />
                <div *ngIf="course?.course_status !== 'completed'" class="overlay" (click)="gotoDesc(course)">
                  <i class="lxp-PlayCircle playIcon"></i> 
                  <span>{{course?.course_status === "incomplete" ? "Resume" : course?.course_status === "suspend" ? "Resume" : ("Start" | translate) }}</span>
                </div>
                <div *ngIf="course?.course_status === 'completed'" class="overlay" (click)="gotoDesc(course)">
                  <i class="lxp-PlayCircle playIcon"></i> <span>{{ "Replay" | translate }}</span>
                </div>
              </figure>
            </div>
            <div class="durationCreditTime justify-content-between" *ngIf="!course.courseInfoExp">
              <div class="courseHours courseCommon">
                <span class="heading">Hours</span>
                <h6>{{course.total_duration? course.total_duration : "1" + ""}}</h6>
              </div>
              <div class="courseCredit courseCommon">
                <span class="heading">Credits</span>
                <h6>{{course.credits!==null?course.credits:0}}</h6>
              </div>
              <div class="courseDuration courseCommon">
                <span class="heading">Course Duration</span>
                <h6>{{course.batch_start_date ?(course.batch_start_date |date:'dd MMM yyyy'):'N/A' }} - {{course.batch_end_date ?(course.batch_end_date |date:'dd MMM yyyy'):'N/A' }}</h6>
              </div>
            </div>
            <div class="coursePoints justify-content-between">
              <div class="courseCommon d-flex justify-content-between">
                <div>
                  <i class="lxp-Graduation"></i>
                </div>
                <div>
                  <span class="heading">Self paced learning</span>
                  <h6>{{course.image_self_paced_learning_time!==""?course.image_self_paced_learning_time:0}} hours</h6>
                </div>
              </div>
              <div class="courseCommon d-flex justify-content-between" *ngIf="course.isBatchCourse">
                <div>
                  <i class="lxp-LedSession"></i>
                </div>
                <div>
                  <span class="heading">Instructor led sessions</span>
                  <h6>Upto {{course.image_instructor_lead_session_time!==""?course.image_instructor_lead_session_time:0}}</h6>
                </div>
              </div>
              <div class="courseCommon d-flex justify-content-between" *ngIf="course.isBatchCourse">
                <div>
                  <i class="lxp-BarGraph"></i>
                </div>
                <div>
                  <span class="heading">Internal assessment</span>
                  <h6>{{course.internal_assesment!==""?course.internal_assesment:0}}</h6>
                </div>
              </div>
              <div class="courseCommon d-flex justify-content-between" *ngIf="course.isBatchCourse">
                <div>
                  <i class="lxp-CourseProject"></i>
                </div>
                <div>
                  <span class="heading">Course project</span>
                  <h6>{{course.total_mid_course_project_count!==""?course.total_mid_course_project_count:0}}</h6>
                </div>
              </div>
              <!-- <div class="courseCommon" *ngIf="course.isBatchCourse">
                <span class="heading">Final assessment</span>
                <h6>{{course.final_assesment!==""?course.final_assesment:0}}</h6>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-4">
          <div class="coursename">
            <h3 title="{{course.course_name}}" placement="top">
              {{course.course_name}}
            </h3>
            <div class="courseAuthor">
              <p>By: <i>{{course.author_name?course.author_name:'N/A'}}</i></p>
            </div>
          </div>
          <div class="courseDescription">
            <p>{{course.course_description}}</p>
          </div>
          <div class="courseProgression" *ngIf="course.isBatchCourse">
            <div class="progressionSection">
              <i class="lxp-Progress"></i>
              <h4>Course Progression</h4>
            </div>
            <div class="d-flex justify-content-between" *ngIf="!course.progresslistExp">
              <div class="progressionList">
                <p><span>Instructor led session completed</span> <span>{{course.instructor_lead_session_completed_count}}/{{course.instructor_lead_session_total_count}}</span></p>
                <p><span>Internal assessment completed</span> <span>{{course.internal_assesment?course.internal_assesment:'N/A'}}</span></p>
              </div>
              <div class="progressPercent">
                <div class="m-auto c_progress">
                  <circle-progress percent="{{((100 * (course.week_completed_count!==null?course.week_completed_count:0)) / (course.week_total_count!==null?course.week_total_count:1))}}" [radius]="10" [outerStrokeWidth]="2" [innerStrokeWidth]="2" [space]="-2" [outerStrokeColor]="'#0DA207'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="3" [titleColor]="'#666666'" [subtitleColor]="'#333333'" [subtitleFontSize]="4.5" [animation]="true" [animationDuration]="10" [startFromZero]="false" [responsive]="true" title="Week" [subtitle]="courseWeekCircle" [showUnits]="false" [showSubtitle]="true" subtitleFontWeight=600> </circle-progress>
                </div>
                <div class="m-auto" style="display:none">
                  <div class="col">
                    <button mat-stroked-button class="blue_clr cap  pointer m-t-05">
                      <span class="cap f_size_12 f_wt_400 ">
                        {{ "Course report" | translate }}
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <!-- <div class="col-8">
                <div class="row color_g">
                  <div class="col m_b3px">Instructor led session completed</div>
                  <div class="col-3 f_wt_600">
                    <ng-container>
                      {{course.instructor_lead_session_completed_count}}/{{course.instructor_lead_session_total_count}}
                    </ng-container>
                  </div>
                </div>
                <div class="row color_g">
                  <div class="col m_b3px">Internal assessment completed</div>
                  <div class="col-3 f_wt_600">{{course.internal_assesment?course.internal_assesment:'N/A'}}</div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- //4quadrant Self-Paced Learning// left lines //remove discussion link -->

        <!-- //DESKTOP CONTENT STARTS// -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
          <div class=" desktopTab d-flex justify-content-between flex-wrap">
            <!-- First -->
            <div class="myCourseCards">
              <div class="card-hover cardHeights grey_border1">
                <div class="d-flex justify-content-center align-items-center titleAlign">
                  <span class="lxp-gauge lxp-theme-red title_img f_size_23"></span>
                  <p class="f_size_16 f_wt_500 color_black">Self-Paced Learning</p>
                </div>

                <div class="height_match" *ngIf="!course.progressionExp">
                  <div class="">
                    <img alt="" class="inst_hover" src="../../../../assets/learner/mycourseicons/monitor-play-thin.svg">
                  </div>
                  <div class="progressBar">
                    <h6>Progression</h6>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="pBar">
                        <mat-progress-bar class="example-margin" [mode]="'determinate'" [value]="course.self_paced_learning_progression!==''?course.self_paced_learning_progression:0"></mat-progress-bar>
                      </div>
                      <div class="c_per">
                        {{(course.self_paced_learning_progression!==''?(course.self_paced_learning_progression>100?100:course.self_paced_learning_progression):0)| number:'1.0-0'}}%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button *ngIf="course?.course_status !== 'completed'" class="videoButton" (click)="gotoDesc(course)">
                    <i class="lxp-PlayCircle mycourse-btn-img" aria-hidden="true"></i>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{course?.course_status === "incomplete" ? "Resume" : course?.course_status === "suspend" ? "Resume" : ("Start" | translate) }}
                    </span>
                  </button>
                  <button mat-stroked-button (click)="gotoDesc(course)" *ngIf="course?.course_status === 'completed'" class="videoButton">
                    <i class="lxp-PlayCircle mycourse-btn-img" aria-hidden="true"></i>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{ "Replay" | translate }}
                    </span>
                  </button>
                </div>
                <!-- SEE MORE CONTENT -->
                <div class="hoverContent">
                  <div class="hoverWrapper">
                    <div class="d-flex justify-content-center hoverCenterAlign">
                      <div>
                        <p>Modules completed</p>
                        <h6>{{(course.completed_module_count!=null?course.completed_module_count:0) +'/'+ (course.total_module_count!=null?course.total_module_count:0)}}</h6>
                      </div>
                      <div>
                        <p>Topics completed</p>
                        <h6>{{(course.completed_topic_count!=null?course.completed_topic_count:0) +'/'+ (course.total_topic_count!=null?course.total_topic_count:0)}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Second -->
            <div class="myCourseCards" *ngIf="course.isBatchCourse">
              <div class="card-hover cardHeights grey_border1">
                <div class="d-flex justify-content-center align-items-center titleAlign">
                  <span class="lxp-monitor lxp-theme-red title_img f_size_23"></span>
                  <p class="f_size_16 f_wt_500 color_black">Instructor Led</p>
                </div>

                <div class="height_match">
                  <div class="color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.ledinstExp">
                    <img alt="" class="inst_hover" src="../../../../assets/learner/mycourseicons/Instructor_default.svg">
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button class="callToAction" (click)="goInstructorLed(course)">
                    <span class="cap f_wt_400 m-t-m-2NEW">
                      <i class="lxp-Join mycourse-btn-img icon-color" aria-hidden="true"></i>
                      {{ "Join" | translate }}
                    </span>
                  </button>
                </div>
              </div>
              <!-- SEE MORE CONTENT -->
              <div class="hoverContent">
                <div class="hoverWrapper">
                  <div class="d-flex justify-content-center hoverCenterAlign">
                    <div>
                      <p>Sessions attended</p>
                      <h6>{{course.instructor_lead_session_completed_count+'/'+course.instructor_lead_session_total_count}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Third -->
            <div class="myCourseCards" *ngIf="course.isBatchCourse">
              <div class="card-hover cardHeights grey_border1">
                <div class="d-flex justify-content-center align-items-center titleAlign">
                  <span class="lxp-Activities lxp-theme-red title_img f_size_23"></span>
                  <p class="f_size_16 f_wt_500 color_black">Activities</p>
                </div>

                <div class="height_match">
                  <div class="color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.activityExp" >
                      <img alt="" src="../../../../assets/learner/mycourseicons/Activities_defult.svg" />
                  </div>
                </div>
                <div class="cardButton">
                  <button mat-stroked-button class="callToAction" (click)="Go(course)">
                    <!-- <mat-icon fontSet="material-icons-outlined" class="icon-color m-t-m-2">near_me</mat-icon> -->
                    <i class="lxp-Go icon-color"></i>
                    <span class="cap f_wt_400 m-t-m-2">
                      {{ "Go" | translate }}
                    </span>
                  </button>
                </div>
              </div>
              <!-- SEE MORE CONTENT -->
              <div class="hoverContent">
                <div class="hoverWrapper">
                  <div class="d-flex justify-content-center hoverCenterAlign">
                    <div>
                      <p>Assignments completed</p>
                      <h6>{{course.assignment_submitted_count+'/'+course.assignment_total_count}}</h6>
                    </div>
                    <div>
                      <p>Projects completed</p>
                      <h6>{{course.completed_mid_course_project_count+'/'+course.total_mid_course_project_count}}</h6>
                    </div>
                  </div>
                  <div class="activitySubmissionDetails">
                    <span data-title="View submission details" (click)="gotoSubmissionDetails(course)">
                      <i class="lxp-OpenNew launchIcon"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fourth -->
            <div class="myCourseCards" *ngIf="course.isBatchCourse">
              <div class="card-hover cardHeights grey_border1">
                <div class="d-flex justify-content-center align-items-center titleAlign">
                  <span class="lxp-stack lxp-theme-red title_img f_size_23"></span>
                  <p class="f_size_16 f_wt_500 color_black">Discussion Forum</p>
                </div>

                <div class="height_match">
                  <div class="color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.discussExp">
                      <img alt="" src="../../../../assets/learner/mycourseicons/Discussion_default.svg" />
                  </div>
                </div>

                <div class="cardButton">
                  <!-- <button mat-stroked-button *ngIf="userDetail.is_forum_config" class="callToAction" (click)="goToForum(course)">
                    <i class="fa fa-handshake-o mycourse-btn-img" aria-hidden="true"></i>
                    <span class="cap f_wt_400 m-t-m-2 span-ellip">
                      {{ "Collaborate" | translate }}
                    </span>
                  </button> -->
                  <button mat-stroked-button class="callToAction" (click)="goToForum(course)">
                    <span class="cap f_wt_400 m-t-m-2 span-ellip">
                      <i class="lxp-Collaborate mycourse-btn-img icon-color" aria-hidden="true"></i> {{ "Collaborate" | translate }}
                    </span>
                  </button>
                </div>
              </div>
              <!-- SEE MORE CONTENT -->
              <div class="hoverContent">
                <div class="hoverWrapper">
                  <div class="d-flex justify-content-center hoverCenterAlign">
                    <div>
                      <p>Threads</p>
                      <h6>{{course.thread_count!==null?course.thread_count:'N/A'}}</h6>
                    </div>
                    <div>
                      <p>Comments</p>
                      <h6>{{course.comment_count!==null?course.comment_count:'N/A'}}</h6>
                    </div>
                    <div>
                      <p>Replies</p>
                      <h6>{{course.reply_count!==null?course.reply_count:'N/A'}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Desktop Device Content Ends -->

        <!-- Mobile Device Content -->
        <div class="courseCardTab container-fluid">
          <div class="">
              <div class="tabHeadings d-flex justify-content-between">
                <div class="tab first d-flex align-items-end" (click)="tabselector = 0; " [ngClass]="tabselector == 0 ? 'activetab' :''">
                  <span _ngcontent-jtm-c8="" class="circle_outline lxp-gauge lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Self-Paced <br />Learning</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab second d-flex align-items-end" (click)="tabselector = 1; " [ngClass]="tabselector == 1 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline lxp-monitor lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Instructor <br />Led</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab fourth d-flex align-items-end" (click)="tabselector = 3; " [ngClass]="tabselector == 3 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline lxp-Activities lxp-theme-grey title_img f_size_23 tabIcon">
                    <!-- <img [src]="(tabselector==3)? '../../../../assets/learner/mycourseicons/activities.svg' : '../../../../assets/learner/mycourseicons/Activities_active.svg'" alt="activity" width="22px" height="22px" class="title_img activityImg"/> -->
                  </span>
                  <!-- <span class="title">Activities</span> -->
                </div>
                <div *ngIf="course.isBatchCourse" class="tab third d-flex align-items-end" (click)="tabselector = 2; " [ngClass]="tabselector == 2 ? 'activetab' :''">
                  <span _ngcontent-wlb-c8="" class="circle_outline lxp-stack lxp-theme-grey title_img f_size_23 tabIcon"></span>
                  <!-- <span class="title">Discussion <br />Forum</span> -->
                </div>
              </div>
              <div class="tabContents">
                <div class="tabTitle d-flex justify-content-between" [ngClass]="tabselector == 1 || tabselector == 2 ? 'borderLeftRadius borderRightRadius':tabselector == 0 ? 'borderRightRadius':'borderLeftRadius'">
                  <span class="title" [ngClass]="tabselector == 0 ? 'livetab' :''">Self-Paced <br />Learning</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 1 ? 'livetab1' :''">Instructor <br />Led</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 3 ? 'livetab3' :''">Activities</span>
                  <span *ngIf="course.isBatchCourse" class="title" [ngClass]="tabselector == 2 ? 'livetab2' :''">Discussion <br />Forum</span>
                </div>

                <div class="cardTabs" *ngIf="tabselector == 0" [ngClass]="tabselector == 0 ? 'activetab' :''">
                  <div matRipple class="card-hover cardHeights grey_border1 ">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left  m-r-15px m-b-10px">
                          <span class="lxp-gauge lxp-theme-red title_img f_size_23"></span>
                        </div>
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Self-Paced Learning</p>
                      </div> -->
                    </div>
                    <div class="height_match">
                      <div class="wrapper animate__animated animate__fadeInDown" *ngIf="!course.progressionExp">
                        <div class="row color_g f_size_13">
                          <div class="col">
                            <span>Keep learning and revising the topics to hone your skills.</span>
                          </div>
                        </div>
                        <div class="row lxp_gray123">
                          <div class="col-7"><span class="f_size_13">
                              Progression
                            </span></div>
                        </div>
                        <div class="row">
                          <div class="col-10 justify-content-center align-self-center">
                            <mat-progress-bar class="example-margin" [mode]="'determinate'"
                              [value]="course.self_paced_learning_progression!==''?course.self_paced_learning_progression:0">
                            </mat-progress-bar>
                          </div>
                          <div class="col-2 c_per">
                            {{(course.self_paced_learning_progression!==''?(course.self_paced_learning_progression>100?100:course.self_paced_learning_progression):0)| number:'1.0-0'}}%
                          </div>
                        </div>
                      </div>
                      <div *ngIf="course.progressionExp" class="f_size_12 animate__animated animate__fadeInUp">
                        Modules completed {{(course.completed_module_count!=null?course.completed_module_count:0) +'/'+ (course.total_module_count!=null?course.total_module_count:0)}}<br>
                        Topics completed {{(course.completed_topic_count!=null?course.completed_topic_count:0) +'/'+ (course.total_topic_count!=null?course.total_topic_count:0)}}<br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline; display: none;">View self-learning
                          activity details..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove"
                            (click)="course.progressionExp?course.progressionExp=false:course.progressionExp=true">
                            <span class="f_size_10 ">{{course.progressionExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button *ngIf="course?.course_status !== 'completed'" class="btl-alin btn-txt-center bg_lxp_red color_white cap pointer " (click)="gotoDesc(course)">
                          <!-- <mat-icon class="icon-color m-t-m-2">play_circle_outline</mat-icon> -->
                          <i class="lxp-PlayCircle mycourse-btn-img" aria-hidden="true"></i>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{
                                                              course?.course_status ===
                                                              "incomplete"
                                                                ? "Resume"
                                                                : course?.course_status ===
                                                                  "suspend"
                                                                ? "Resume"
                                                                : ("Start" | translate)
                                                            }}&nbsp;
                          </span>
                        </button>
                        <button mat-stroked-button (click)="gotoDesc(course)" *ngIf="
                                                            course?.course_status === 'completed' 
                                                          " class="btl-alin btn-txt-center
                                                          bg_lxp_red color_white cap pointer m-t-05 ">
                          <i class="lxp-PlayCircle mycourse-btn-img" aria-hidden="true"></i>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{ "Replay" | translate }}&nbsp;
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 2 -->
                <div class="cardTabs" *ngIf="tabselector == 1" [ngClass]="tabselector == 1 ? 'activetab1' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="instDefault ='../../../../assets/learner/mycourseicons/Instructor_hover.svg'" (mouseout)="instDefault='../../../../assets/learner/mycourseicons/Instructor_default.svg'">
                    <div class="row">
                      <!-- <div class="col">
                        <div class="circle_outline pull-left  m-r-15px m-b-10px">
                          <span class="lxp-monitor lxp-theme-red title_img f_size_23"></span>
                        </div>
                        <p class="f_size_16 f_wt_500 color_black titleAlign"> Instructor Led</p>
                      </div> -->
                    </div>
                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown" *ngIf="!course.ledinstExp">
                        <div class="col-5 ">
                          <img alt="" class="inst_hover" [src]="instDefault" width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Interact with your faculty, ask questions and learn from your classmates.</p>
                        </div>
                      </div>

                      <div *ngIf="course.ledinstExp" class="f_size_13 animate__animated animate__fadeInUp">
                        Sessions attended
                        {{course.instructor_lead_session_completed_count+'/'+course.instructor_lead_session_total_count}}<br>
                        <span class="pointer f_size_10" style="color:#C02222; text-decoration: underline;"
                          (click)="goInstructorLed(course)">View session details..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.ledinstExp?course.ledinstExp=false:course.ledinstExp=true">
                            <span class="f_size_10">{{course.ledinstExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button class="btl-alin btn-txt-center m_3_px_top cap pointer" (click)="goInstructorLed(course)">
                          <span class="cap f_wt_400 m-t-m-2NEW">
                            <!-- <i class="fa fa-hand-o-up mycourse-btn-img" aria-hidden="true"></i> -->
                            <i class="lxp-Join mycourse-btn-img icon-color" aria-hidden="true"></i>
                            {{ "Join" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 3 -->
                <div class="cardTabs" *ngIf="tabselector == 3" [ngClass]="tabselector == 3 ? 'activetab3' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="activityDefault ='../../../../assets/learner/mycourseicons/Activities_hover.svg'" (mouseout)="activityDefault='../../../../assets/learner/mycourseicons/Activities_defult.svg'">
                    <div class="row">
                    </div>
                    
                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown"  *ngIf="!course.activityExp">
                        <div class="col-5 ">
                          <img alt="" [src]="activityDefault" width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Practice the skills learnt while reading and attending classes.</p>
                        </div>
                      </div>
                      <div *ngIf="course.activityExp" class="f_size_13 animate__animated animate__fadeInUp">
                        Assignments completed {{course.assignment_submitted_count+'/'+course.assignment_total_count}}<br>
                        Projects completed {{course.completed_mid_course_project_count+'/'+course.total_mid_course_project_count}}<br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                          (click)="gotoSubmissionDetails(course)">View submission details..</span>
                      </div>
                    </div>

                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.activityExp?course.activityExp=false:course.activityExp=true">
                            <span class="f_size_10">{{course.activityExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button class="btl-alin cap pointer btn-txt-center "
                          (click)="Go(course)">
                          <!-- <mat-icon fontSet="material-icons-outlined" class="icon-color m-t-m-2">near_me</mat-icon> -->
                          <i class="lxp-Go icon-color"></i>
                          <span class="cap f_wt_400 m-t-m-2">
                            {{ "Go" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TAB 4 -->
                <div class="cardTabs" *ngIf="tabselector == 2" [ngClass]="tabselector == 2 ? 'activetab2' :''">
                  <div *ngIf="course.isBatchCourse" matRipple class="card-hover cardHeights grey_border1" (mouseover)="discussDefault ='../../../../assets/learner/mycourseicons/Discussion_hover.svg'" (mouseout)="discussDefault='../../../../assets/learner/mycourseicons/Discussion_default.svg'">
                    <div class="row">
                    </div>

                    <div class="height_match">
                      <div class="row color_g f_size_13 animate__animated animate__fadeInDown"  *ngIf="!course.discussExp">
                        <div class="col-5 ">
                          <img alt="" [src]="discussDefault"
                            width="100px" height="80px">
                        </div>
                        <div class="col p-l-0px">
                          <p>Interact with peers by posting thoughts and comments on given topic.</p>
                        </div>
                      </div>
                      <div *ngIf="course.discussExp" class="f_size_13 animate__animated animate__fadeInUp">
                        <div class="d-flex justify-content-between">
                          <span>Threads {{course.thread_count!==null?course.thread_count:'N/A'}}</span>
                          <span>Comments {{course.comment_count!==null?course.comment_count:'N/A'}}</span>
                          <span>Replies {{course.reply_count!==null?course.reply_count:'N/A'}}</span>
                        </div><br>
                        <span class="pointer f_size_10" style="color: #C02222; text-decoration: underline;"
                          (click)="goToForum(course)">View discussions..</span>
                      </div>
                    </div>
      
                    <div class="moreDetails d-flex justify-content-between align-items-center">
                      <div class="seeMoreDetails">
                        <div class="">
                          <span class="pointer seemoreHove" (click)="course.discussExp?course.discussExp=false:course.discussExp=true">
                            <span class="f_size_10">{{course.discussExp?'Hide details...':'See more details...' }}</span>
                          </span>
                        </div>
                      </div>
                      <div class="cardButton">
                        <button mat-stroked-button *ngIf="userDetail.is_forum_config" class="btl-alin btn-txt-center
                                  cap pointer  p-7-lr" (click)="goToForum(course)">
                          <i class="lxp-Collaborate mycourse-btn-img icon-color" aria-hidden="true"></i>
                          <span class="cap f_wt_400 m-t-m-2 span-ellip">
                            {{ "Collaborate" | translate }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Mobile Tab Ends -->
      </div>
    </div>
  </div>
</mat-card>