<div>
  <nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/Admin/auth/userManagement">Home</a></li>
      <li class="breadcrumb-item"><a href="/Admin/auth/Wca">Course Management
        </a></li>
      <li class="breadcrumb-item"><a href="/Admin/auth/Wca">Courses</a></li>
      <li class="breadcrumb-item">
        <a href="/Admin/auth/Wca/addcourse?edit=true&viewingModule={{courseDetails?.courseid}}">
          Edit Course
        </a></li>

      <li class="breadcrumb-item" aria-current="page">Add Module</li>
    </ol>
  </nav>

  <div class="add-module-section">
    <mat-card style="text-align: center;">
      <mat-grid-list [cols]="breakpoint" rowHeight="1.70:2">

        <div class="row">
          <div class="col-md-2"> <img class="img"
              [src]="routedCourseDetails?.courseImage ? routedCourseDetails?.courseImage : '../../../../assets/images/image_upload.svg'">
            <br>
            <div class="course-name">{{routedCourseDetails?.courseName}}</div>
            <div class="course-name">{{noOfModules + ' Modules'}}</div>
            <div style="text-align: center;">
              <button mat-flat-button color="primary" (click)="crsDetails()" class="submit-btn">Course Details</button>
              <button mat-stroked-button color="primary" (click)="editResource()" class="reference-btn">Reference
                file</button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="add-module-btn">
              <span
                class="{{courseDetails && courseDetails.coursetype == 'SCORM' ? 'add-module-icon dis-btn' : 'add-module-icon'}}">
                <mat-icon (click)="navChooseTemp()">add_circle_outline</mat-icon>
              </span>
              <span (click)="navChooseTemp()"
                class="{{courseDetails && courseDetails.coursetype == 'SCORM' ? 'mod-btn dis-btn': 'mod-btn'}}">
                Add Module
              </span>
              <span>
                <span
                  class="{{courseDetails && courseDetails.coursetype == 'SCORM' ? 'dis-btn add-modulerepo-icon' : 'add-modulerepo-icon'}}">
                  <mat-icon (click)="addModuleRepos()" style=" padding-left: 5px;border-left: 1px solid grey;">
                    add_circle_outline</mat-icon>
                </span>
                <span (click)="addModuleRepos()"
                  class="{{courseDetails && courseDetails.coursetype == 'SCORM' ? 'repo-mod-btn dis-btn' : 'repo-mod-btn' }}">
                  Add Module from repository
                </span>
              </span>
            </div>
            <div class="module-list">

              <ng-container *ngIf="noOfModules !== 0; else noMod">

                <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="courseDetails.coursedetails"
                  [cdkDropListConnectedTo]="[todoList]" class="horizontalView" (cdkDropListDropped)="drop($event)">

                  <div class="" *ngFor="let module of courseDetails.coursedetails;let n = index" cdkDrag>


                    <!-- <ng-container class="example-box1" *ngFor="lets module of courseDetails.coursedetails;let n = index" cdkDrag> -->

                    <div class="prew1">
                      <div class="child-item" *ngIf="module.modulestatus !== 'false'">
                        <span class="del-icon-container">
                          <mat-icon class="info-icon" (mouseout)="onhoverLeave()"
                            (mouseover)="onHover(n)">info</mat-icon>
                          <mat-icon class="del-icon" (click)="deleteModule(n)">delete</mat-icon>

                        </span>
                        <div (click)="addTopic(module,n)" class="module-name">
                          {{module.modulename}}

                        </div>
                        <div style="color: grey;" *ngIf="isHover && n == hoverName" class="overlay">
                          <div *ngFor="let template of module.template_details">
                            {{module.modulename}}
                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- </ng-container> -->
                  </div>

                </div>
              </ng-container>

              <ng-template #noMod>
                <div class="no-module">
                  No Modules found
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </mat-grid-list>

      <mat-card-footer>
        <div>
          <button type="button" mat-flat-button color="primary" [disabled]="courseDetails && courseDetails.coursetype == 'SCORM'" (click)="onCreate()" class="continue-btn">Save</button>
        </div>
      </mat-card-footer>

    </mat-card>


  </div>

</div>