
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.woff2') format('woff2'),
         url('./fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
         url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
         url('./fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
         url('./fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.woff2') format('woff2'),
         url('./fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* Material Icons */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/material-Icons.woff2") format("woff2");
  }
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
  
  //IcoMoon Fonts
  @font-face {
    font-family: "icomoon";
    src: url("./fonts/icomoon.eot?");
    src: url("./fonts/icomoon.eot?#iefix") format("embedded-opentype"),
      url("./fonts/icomoon.ttf?") format("truetype"),
      url("./fonts/icomoon.woff?") format("woff"),
      url("./fonts/icomoon.svg?#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="lxp-"],
  [class*=" lxp-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .lxp-Settings:before {
    content: "\e971";
  }
  .lxp-Quiz_Report:before {
    content: "\e970";
  }
  .lxp-video_links:before {
    content: "\e96f";
  }
  .lxp-video-tutorial-1:before {
    content: "\e969";
  }
  .lxp-students:before {
    content: "\e96a";
  }
  .lxp-recorded_videos:before {
    content: "\e96b";
  }
  .lxp-Online_Code_Editor:before {
    content: "\e968";
  }
  .lxp-Download_Code:before {
    content: "\e967";
  }
  .lxp-Process:before {
    content: "\e966";
  }
  .lxp-Mail_Read:before {
    content: "\e964";
  }
  .lxp-Mail_UnRead:before {
    content: "\e965";
  }
  .lxp-Image_Folder:before {
    content: "\e95f";
  }
  .lxp-Notes:before {
    content: "\e960";
  }
  .lxp-TOC_Expand:before {
    content: "\e961";
  }
  .lxp-TOC_Collapse:before {
    content: "\e962";
  }
  .lxp-Lab_Practice:before {
    content: "\e95e";
  }
  .lxp-Activities_New:before {
    content: "\e93f";
  }
  .lxp-book-question:before {
    content: "\e92c";
  }
  .lxp-Play:before {
    content: "\e935";
  }
  .lxp-Assessment_Report:before {
    content: "\e95d";
  }
  .lxp-Launch:before {
    content: "\e959";
  }
  .lxp-Members:before {
    content: "\e955";
  }
  .lxp-add:before {
    content: "\e956";
  }
  .lxp-answers:before {
    content: "\e957";
  }
  .lxp-question:before {
    content: "\e958";
  }
  .lxp-Calendar_Todo:before {
    content: "\e952";
  }
  .lxp-Timer_Outlined:before {
    content: "\e953";
  }
  .lxp-Todo_task:before {
    content: "\e954";
  }
  .lxp-Bell:before {
    content: "\e930";
  }
  .lxp-Dot_Menu:before {
    content: "\e931";
  }
  .lxp-Nav_Hamburger:before {
    content: "\e932";
  }
  .lxp-Clock:before {
    content: "\e933";
  }
  .lxp-Duration:before {
    content: "\e934";
  }
  .lxp-QA:before {
    content: "\e936";
  }
  .lxp-Course_Progression:before {
    content: "\e937";
  }
  .lxp-VILT:before {
    content: "\e938";
  }
  .lxp-Search:before {
    content: "\e939";
  }
  .lxp-Assignments:before {
    content: "\e93a";
  }
  .lxp-JoinIcon:before {
    content: "\e93b";
  }
  .lxp-Filter:before {
    content: "\e93c";
  }
  .lxp-Timelapse:before {
    content: "\e93d";
  }
  .lxp-Timer:before {
    content: "\e93e";
  }
  .lxp-Edit_Document:before {
    content: "\e940";
  }
  .lxp-Bold_DownArrow:before {
    content: "\e942";
  }
  .lxp-Forward_Arrow:before {
    content: "\e943";
  }
  .lxp-Rewind_Arrow:before {
    content: "\e944";
  }
  .lxp-Dropdown:before {
    content: "\e945";
  }
  .lxp-Perform:before {
    content: "\e946";
  }
  .lxp-User_Settings:before {
    content: "\e947";
  }
  .lxp-DownArrow:before {
    content: "\e948";
  }
  .lxp-Right:before {
    content: "\e949";
  }
  .lxp-Right_Direction_Arrow:before {
    content: "\e94a";
  }
  .lxp-Play_Icon:before {
    content: "\e94b";
  }
  .lxp-Up:before {
    content: "\e94c";
  }
  .lxp-Down:before {
    content: "\e94d";
  }
  .lxp-Calendar_Filled:before {
    content: "\e94e";
  }
  .lxp-Calendar_Outlined:before {
    content: "\e94f";
  }
  .lxp-Self_Learning:before {
    content: "\e950";
  }
  .lxp-Right_Arrow:before {
    content: "\e951";
  }
  .lxp-Test:before {
    content: "\e92d";
  }
  .lxp-Collection:before {
    content: "\e92e";
  }
  .lxp-Analytics:before {
    content: "\e92f";
  }
  .lxp-HamburgerMenu:before {
    content: "\e914";
  }
  .lxp-SelfPaced:before {
    content: "\e926";
  }
  .lxp-Visibility:before {
    content: "\e925";
  }
  .lxp-User:before {
    content: "\e923";
  }
  .lxp-Phone:before {
    content: "\e924";
  }
  .lxp-Lock:before {
    content: "\e91e";
  }
  .lxp-MailOutline:before {
    content: "\e921";
  }
  .lxp-VisibilityOff:before {
    content: "\e922";
  }
  .lxp-ActivityCenter:before {
    content: "\e920";
  }
  .lxp-Logout:before {
    content: "\e91f";
  }
  .lxp-AccountCircle:before {
    content: "\e903";
  }
  .lxp-Arrow:before {
    content: "\e906";
  }
  .lxp-Tick:before {
    content: "\e907";
  }
  .lxp-OpenNew:before {
    content: "\e908";
  }
  .lxp-MenuList:before {
    content: "\e909";
  }
  .lxp-PdfFile:before {
    content: "\e90a";
  }
  .lxp-Notification:before {
    content: "\e90b";
  }
  .lxp-Next-Previous:before {
    content: "\e90c";
  }
  .lxp-ImageFile:before {
    content: "\e90d";
  }
  .lxp-Fullscreen:before {
    content: "\e90e";
  }
  .lxp-Expand:before {
    content: "\e90f";
  }
  .lxp-Collapse:before {
    content: "\e910";
  }
  .lxp-Close:before {
    content: "\e911";
  }
  .lxp-Graduation:before {
    content: "\e912";
  }
  .lxp-LedSession:before {
    content: "\e913";
  }
  .lxp-Activities:before {
    content: "\e900";
  }
  .lxp-PlayCircle:before {
    content: "\e915";
  }
  .lxp-MonitorPlay:before {
    content: "\e916";
  }
  .lxp-Join:before {
    content: "\e917";
  }
  .lxp-BarGraph:before {
    content: "\e918";
  }
  .lxp-Go:before {
    content: "\e919";
  }
  .lxp-CourseProject:before {
    content: "\e91a";
  }
  .lxp-Progress:before {
    content: "\e91b";
  }
  .lxp-Collaborate:before {
    content: "\e91c";
  }
  .lxp-calendar:before {
    content: "\e91d";
  }
  .lxp-Knowledge:before {
    content: "\e904";
  }
  .lxp-gauge:before {
    content: "\e901";
  }
  .lxp-monitor:before {
    content: "\e902";
  }
  .lxp-stack:before {
    content: "\e905";
  }
  .lxp-Info:before {
    content: "\e963";
  }
  .lxp-download:before {
    content: "\e95c";
  }
  .lxp-ThumbsDown:before {
    content: "\e95a";
  }
  .lxp-ThumbsUp:before {
    content: "\e95b";
  }
  .lxp-Reset:before {
    content: "\e984";
  }
  .lxp-lifebuoy:before {
    content: "\e941";
  }
  .lxp-sad:before {
    content: "\e929";
  }
  .lxp-smile:before {
    content: "\e92a";
  }
  .lxp-res-popout:before {
    content: "\e92b";
  }
  .lxp-bookmark:before {
    content: "\e927";
  }
  .lxp-bookmark-o:before {
    content: "\e928";
  }
  .lxp-photo:before {
    content: "\e96e";
  }
  .lxp-filedownload:before {
    content: "\e96d";
  }
  .lxp-pdf:before {
    content: "\e96c";
  }
  .lxp-info-circle:before {
    content: "\f05a";
  }