/* Roboto Condensed Font */
@font-face {
    font-family: 'RobotoCondensed';
    src: url('assets/fonts/RobotoCondensed-Light.woff2') format('woff2'),
         url('assets/fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('assets/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('assets/fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// @font-face {
//     font-family: 'Roboto';
//     src: url('assets/fonts/roboto-light-webfont.woff2') format('woff2'),
//          url('assets/fonts/roboto-light-webfont.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
//          url('assets/fonts/roboto-regular-webfont.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: url('assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
//          url('assets/fonts/roboto-medium-webfont.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'Roboto';
//     src: url('assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
//          url('assets/fonts/roboto-bold-webfont.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// }