// @import '~@angular/material/theming';

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #024d87;
$color-yellow: #eec720;
$color-light-yellow : yellow;
$color-maroon : #db3137;
$color-lightGray: #666666;
$color-darkGrey : #5e5e5e;
$color-icon : #ed989b;
$color-white : #ffffff;
$color-light-blue : #B8D0FF;
$color-light-pink : #ec8185;
$color-light-green: #00d2b9;
$color-blank:#1F1A17;
$color-small-blue: #94b5f1;
$color-border : #ccc;
$color-orange : #EB9605;
$color-subhead : #446bd4d1;
$color-light-grey : #b3b3aa47;
$color-field : #e3ecff;
$color-dark-green : #04d004;
$color-text-success: #0C781B;
$light-green : #7cfc00d4;
$icon-color : #00000057;
$box-shadow : #80808061;
$trend:#67d4b1;
$color-lightest-grey:#f5f5f570;
$newRegistericon: #203bbea8;
$newLearner : #203bbe40;
$activelearnerchart : #7fe7a5;
$inactivelearnerchart : #ea6c89;
$studentChart : #8080f8;
$professionalChart : #ea7c37;
$color-landing-blue:#1068B2;
$status-green: #679959;
$status-orange: #FFA04E;
$skeletonColor: #d8d9dd;

// Admin dashboard color 
$bg-green: #7cfc0061;
$bg-brown: #ffc10759;
$bg-color: #e3e3fe;
$bg-dark-brown : #af481161;
$light-grey : #f6f6f6;
$light-yellow:#faf5cb;

//Sarat 
$bread-crumb-bg  : #e5e3e3;
$profile-p-grey : #cecece;
$profile-s-grey : #dfdfdf;
$profile-t-grey : #eaeaea;
$label2:#333333;
$lineColor:#ccccccb0;
$bule2:#446bd4d1;

// Manju

// Main Color 
$lxp-gray:#898989;
$lxp-theme-green: #C02222;
$lxp-theme-yellow-sec:#FFCC00;
$lxp-dark-gray:#716d6d;
// Sec color
$lxp-text:#9E9E9E;
$lxp-footer-text:#3f444a;
$lxp-icon: #5c6873;
$lxp-status-yellow:#ffc107bf;
$lxp-button-text:#69727c;
$label: #5c6873;
$lxp-light-grey:#b5acac;
// #ffcc00;
$greyish: #444444;
$gerycolor:#4d4d4d;
$orangecolor1:#e2663d;
$geryshadecolor:#95989a33;
$greyshade: #b3b3b3;
$greencolor:#32ce6a;
$greenshade:#88bd2f;
$blackshade:#00000033;
$blackshade1:#00000029;
$blackshadecolor:#00000080;
$blackshade2:#0000000A;
$blackshade3:#0000006b;
$black2:#0000008a;
$blackcolor:#000000;
$blackcolor1:#000;
$greyblack:#70707040;
$lightblue:#2280C1;
$lightshadeblue:#27bbee;
$lightgreyblue:#A5A7B8;
$darkorange:#373331;
$darkgreyshade:#303134;
$lightgreen:#75D883;
$blue:#1B4E9B;
$whiteshade:#EDF1FB;
$colordarkblue:#004684;
$blueshadecolor:#607d8b;
$darkbluecolor:#0D05D5;
$grey1:#f2f2f2;
$colorgrey:#AAAAAA;
$greycolorshade:#707070;
$grey2:#808080;
$shadedgrey:#cccccc;
$lightgrey1:#8e8e8e;
$lightred:#be2020;
$darkblue1:#004684;
$lightblue1:#4e9ce1;
$black1:#222222;
$greycolor1:#B5B5B56B;
$lightgrey2:#717579;
$grey3:#999999;
$grey4: #757575;
$lightgrey: #444444;
$lightblue11:#00A99D;
$lightgreen1:#B8BF00;
$lightpink:#B637FA;
$green1:#49AE31;
$yellow1:#FFA800;
$whitecolor1:#fff;
$blackshade4:#00000040;
$whiteshade1:#FFF6F3;
$lightBorder :#EDEDED;
$fadeGrey:#F8F9FA;
$whiteColor:#ffffff;
//Screen Size definitions
$screen-sm-min: 576px;
$screen-md-min: 720px; // Small tablets (portrait view)
$screen-lg-min: 1024px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}