$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #024d87;
$color-yellow: #eec720;
$color-light-yellow : yellow;
$color-maroon : #db3137;
$color-darkGrey : #5e5e5e;
$color-icon : #ed989b;
$color-white : #ffffff;
$color-light-blue : #B8D0FF;
$color-light-pink : #ec8185;
$color-light-green: #00d2b9;
$color-blank:#000000;
$color-small-blue: #94b5f1;
$color-border : #ccc;
$color-orange : #EB9605;
$color-subhead : #446bd4d1;
$color-light-grey : #b3b3aa47;
$color-field : #e3ecff;
$color-dark-green : #04d004;
$light-green : #7cfc00d4;
$icon-color : #00000057;
$box-shadow : #80808061;
$trend:#67d4b1;
$color-lightest-grey:#f5f5f570;
$newRegistericon: #203bbea8;
$newLearner : #203bbe40;
$activelearnerchart : #7fe7a5;
$inactivelearnerchart : #ea6c89;
$studentChart : #8080f8;
$professionalChart : #ea7c37;
$color-landing-blue:#1068B2;

// Admin dashboard color 
$bg-green: #7cfc0061;
$bg-brown: #ffc10759;
$bg-color: #e3e3fe;
$bg-dark-brown : #af481161;
$light-grey : #f6f6f6;




//Sarat 

$bread-crumb-bg  : #e5e3e3;
// $label : #33333396;
$profile-p-grey : #cecece;
$profile-s-grey : #dfdfdf;
$profile-t-grey : #eaeaea;
$label2:#333333;
$lineColor:#ccccccb0;
$bule2:#446bd4d1;

// Manju

$label: #5c6873;
$lxp-theme-green: #3aaf9f;
$lxp-text:#9E9E9E;
$lxp-footer-text:#3f444a;
$lxp-icon: #5c6873;
$lxp-status-yellow:#ffc107bf;
$lxp-button-text:#69727c;