<!-- <div class="login"> -->
  <mat-card >
    <form [formGroup]="loginForm"><br><br>
      <mat-card-title style="text-align: center;"> Sign In </mat-card-title> <br>
      <mat-card-content>
        <div class="form-group">
          <label>User Name</label><span style="color: red;"> *</span>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
          <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">User Name is required</div>
            <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
            <div *ngIf="f.username.errors.minlength">User Name must be minimum of 3 characters </div>
            <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label><span style="color: red;"> *</span>
          <input type="password" formControlName="password" onCopy="return false" onDrag="return false"
            onDrop="return false" onPaste="return false" class="form-control"
            [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
          <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            <div *ngIf="f.password.errors.maxlength">Password must be 20 maximum of characters</div>
            <div *ngIf="f.password.errors.pattern">Your password pattern is invalid.</div>
            <!-- <div *ngIf="f.password.value"> Password and username cannot be same</div> -->
          </div>
        </div>
        <div class="forgot_ps">
          <!-- <mat-label  ><a [routerLink]="['/Learner/recover']"><strong>Forgot password/username?</strong></a></mat-label> -->
          <!-- recover -->
        </div>
        <br />
        <!-- <mat-checkbox class="remember_me" formControlName="remember_me">
          Remember Me
        </mat-checkbox> -->
        <br><br><br>

        <button id="login" mat-raised-button [disabled]="loginForm.invalid" (click)="login()">Sign
          in</button>
        <br><br>
        <!-- <div class="sign_up">Don't have an account? <a [routerLink]="['/Learner/register']"><strong>Sign
              up</strong></a> </div><br><br> -->
      </mat-card-content>
    </form>
  </mat-card>
<!-- </div> -->