@import "../../../../assets/variable.scss";

mat-card{
    width: 24%;
    margin: auto;
    margin-top: 5% ;
    border: 0.5px solid lightgrey;
}

button {
    background: $color-blue !important;
    color: white ;
    width: 70%;
}
mat-form-field {
    width: 80%;
    // height: 10vh !important;
}
.remember_me {
    float: left;
    margin-left: 6vh;
}
.sign_up, .remember_me,mat-card-title , a{
    color: #3f548b;
}
.mat-checkbox .mat-checkbox-frame {
    border-color: black;
    background-color: #dddddd
}
mat-card-title {
    font-weight: 400;
}
mat-error {
    float: left;
    margin-left: 10%;
    margin-top: -5%;
}

 