<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="viewWishlist()">
      <mat-panel-title class="top_course">
        Wish List
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="open">

      <mat-card style="text-align: center;">
        <mat-grid-list cols="4">
          <mat-grid-tile *ngFor="let course of wishlist" [style.border]="'none'" [colspan]="1" [rowspan]="1">
            <app-course-component [course]="course" [from]="'wishlist'"> </app-course-component>
          </mat-grid-tile>
          <p *ngIf="wishlist && wishlist.length == 0">No courses</p>
        </mat-grid-list>
      </mat-card>
    </div>

  </mat-expansion-panel>
</mat-accordion>