// @import "variable";
@import "../../../../assets/variable.scss";
.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.green {
  color: $color-dark-green;
}

.red {
  color: $color-red;
}

.mat-tab-group {
  height: 420px !important;
}

.mat-tab-body-content {
  height: 370px  !important;
}

.black {
  color: $color-blank;
}

:host ::ng-deep {
  .mat-stroked-button {
    width: 40%;
  }

  .mat-progress-spinner {
    position: absolute !important;
    top: 50% !important;
    left: 45% !important;

  }

  .mat-tab-label {
    width: 50% !important;
    font-weight: 600;
    font-size: medium;
  }
}

mat-header-cell {
  font-size: 14px;
  color: $color-blank;
}

.avatar {
  width: 25%;
  height: 80%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profileTable {

  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd !important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  min-width: 300px;

  .mat-stroked-button {
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 0px;
    margin: 1px;
  }

  .mat-header-cell:last-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
    display: initial;
    text-align: center;
  }
}

.mat-table {
  overflow: auto;
  max-height: 650px;
}

.mat-cell,
.mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
  word-break: break-all;
}

.search {
  .mat-form-field {
    width: 25% !important;
  }
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: 15px !important;
}

@media screen and (min-width:765px) {
  /deep/ .mat-tab-body-content {
    width: 900px !important;
    overflow: hidden !important;
  }

  .mat-cell {
    flex-wrap: wrap;
  }

  .mobile-label,
  .mobile-data {
    display: none;
  }

  .mat-column-email {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-select {
    flex: 0 0 75px !important;
  }

  .mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-emailid {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-user_id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-active {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

@media screen and (min-width: 320px) and (max-width:765px) {
  /deep/ .mat-paginator-container {
    min-height: 120px !important;
  }

  .avatar {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .profile {
    justify-content: space-between;
  }

  .left {
    order: 2;
  }

  .right {
    order: 1;
  }

  .mobile-label {
    width: 100px !important;
    word-break: break-all;
    display: inline-block;
    font-weight: bold;
  }

  .desktop-data {
    display: none;
  }

  .mobile-data {
    width: 58%;
    display: inline-block;
    font-weight: normal;
  }

  .mat-header-row {
    display: none;
  }

  mat-cell:first-of-type {
    padding-left: 0px;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  .mat-column-email {
    width: 100% !important;
  }

  .mat-column-select {
    flex: 0 0 75px !important;
  }

  .mat-column-name {
    width: 100% !important;
  }

  .mat-column-emailid {
    width: 100% !important;
  }

  .mat-column-user_id {
    width: 100% !important;
  }

  .mat-column-active {
    width: 100% !important;
  }

  .mat-column-actions {
    width: 100% !important;
  }
}