@import "../../../../assets/variable.scss";

// table {
//   width: 100%;
// }

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.green {
  color: $color-dark-green;
  font-weight: 500;
}

.red {
  color: $color-red;
  font-weight: 500;
}
.black {
  color: $color-blank;
  font-weight: 500;
}

::ng-deep .mat-stroked-button {
  width: 40%;
}

::ng-deep .mat-progress-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 45% !important;
}

mat-header-cell {
  // text-align: center;
  font-size: 14px;
  color: #3c3c3c;
}








.example-container {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  min-width: 300px;
  .mat-stroked-button {
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 0px;
    margin:1px;
  }
  .mat-header-cell:last-of-type {
    padding-top : 10px;
    padding-bottom: 10px;
    display: initial;
    text-align: center;
  }
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mobile-label {
  display: none;
}

@media(max-width: 560px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }
  mat-cell:first-of-type {
    padding-left: 0px;
  }
  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}