@import "variable";

.mat-form-field {
  font-size: 14px;
  width: 40%;
}

.green {
  color: $color-dark-green;
}

.red {
  color: $color-red;
}

.black {
  color: $color-blank;
}

::ng-deep .mat-stroked-button {
  width: 40%;
}

::ng-deep .mat-progress-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 45% !important;
}

mat-header-cell {
  font-size: 14px;
  color: $color-blank;
}

::ng-deep .mat-tab-label {
  width: 50% !important;
  font-weight: 600;
  font-size: medium;
}

::ng-deep .mat-tab-body-content {
  overflow: inherit !important;
  min-height: 500px !important;
  max-height: 500px !important;
  width: 1200px !important;
}

.avatar {
  width: 20%;
  height: 80%;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.profileTable {

  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd !important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  min-width: 300px;

  .mat-stroked-button {
    font-size: 12px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 0px;
    margin: 1px;
  }

  .mat-header-cell:last-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
    display: initial;
    text-align: center;
  }
}

.mat-table {
  overflow: auto;
  max-height: 650px;
}

.mobile-label {
  display: none;
}

.mat-cell,
.mat-header-cell {
  padding-left: 5px;
  padding-right: 5px;
  word-break: break-all;
}

.search {
  .mat-form-field {
    width: 25% !important;
  }
}

.mat-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: 15px !important;
}

@media screen and (min-width:765px) and (max-width:1240px) {
  .mat-cell {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:765px) {
  /deep/ .mat-paginator-container {
    min-height: 120px !important;
  }

  .profile {
    justify-content: space-between;
  }

  .left {
    order: 2;
  }

  .right {
    order: 1;
  }

  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  mat-cell:first-of-type {
    padding-left: 0px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}