<app-header></app-header>

<button mat-stroked-button (click)="openAddUser = !openAddUser">Add User</button>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-2">
    </div>
      <div class="col-md-2 col-sm-5 col-5" *ngIf="openAddUser">
        <form [formGroup]="addUserForm" >
          <div class="form-group">
            <label>User Name</label><span style="color: red;"> *</span>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
            <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">User Name is required</div>
              <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
              <div *ngIf="f.username.errors.minlength">User Name must be minimum of 3 characters </div>
              <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label><span style="color: red;"> *</span>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
            <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">Your email pattern is invalid.</div>
            </div>
          </div>
          <mat-form-field>
            <mat-label>Institute Name</mat-label>
            <mat-select formControlName="group">
              <!-- <mat-option *ngFor="let grp of groups" formControlName="group" [value]="grp._id">
                {{grp.group_name}}
              </mat-option> -->
              <mat-option  value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
            </mat-select>
          </mat-form-field><br>
          <button id="addUser" mat-stroked-button [disabled]="addUserForm.invalid" (click)="addUser()">Add User</button>
          <br>
        </form>
      </div>
    </div>


</div>