<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item active" aria-current="page">View Users</li>
  </ol>
</nav>

<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="resultsLength == null" style="height:100%">
  <mat-spinner diameter="50" strokeWidth="5"></mat-spinner>
</div>

<div class="p-5px">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <button mat-button (click)="gotoAddUser()" class="float_right" href="/Admin/auth/addUser">
    <mat-icon>add</mat-icon>Add User
  </button>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <!-- <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox> -->
          Select
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="mobile-label">Select</span>
          <mat-checkbox (click)="checkboxLabel(row)">
          </mat-checkbox>
        </mat-cell>
        <!-- <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td> -->
      </ng-container>

      <ng-container matColumnDef="user_id">
        <mat-header-cell *matHeaderCellDef> User Id </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">User Id</span>
          {{element.user_id}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">User Name</span>{{element.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="mobile-label">Email ID</span> {{element.email || 'NA'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile No </mat-header-cell>
        <mat-cell *matCellDef="let element"> <span class="mobile-label">Mobile No</span>
          {{element.mobile_number || 'NA'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"
          [ngClass]="element.is_blocked ? 'red' : element.is_active ? 'green' : 'black'">
          <span class="mobile-label">Status</span>
          {{element.is_blocked ? 'Blocked' : element.is_active ? 'Active' : 'Inactive'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef (click)="deActivate()" class="pointer">
          Actions <br *ngIf="selectedArray && selectedArray.length > 0">
          <button *ngIf="selectedArray && selectedArray.length > 0" mat-stroked-button
            (click)="deActivate('Activate')">
            Activate</button>
          <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
            (click)="deActivate('De-activate')">
            De-activate</button>
          <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
            (click)="block('Block')">
            Block</button>
          <button mat-stroked-button *ngIf="selectedArray && selectedArray.length > 0"
            (click)="block('Unblock')">
            Un-block</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Actions</span>
          <button *ngIf="!element.is_blocked" mat-stroked-button
            [disabled]="(selectedArray && selectedArray.length > 0)"
            (click)="deActivate(!element.is_blocked && element.is_active ? 'De-activate' : 'Activate',element)">
            {{element.is_active ? 'De-activate' : 'Activate'}}</button>
          <button mat-stroked-button [disabled]="(selectedArray && selectedArray.length > 0)"
            (click)="block(element.is_blocked ? 'Unblock' : 'Block',element)">
            {{element.is_blocked ? 'Unblock' : 'Block'}}</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>
  </div>

  <mat-paginator #paginator [length]="resultsLength" [pageSize]="10" (page)="next($event)" showFirstLastButtons>
  </mat-paginator>
<br><br>
</div>