<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <img class="logo" src="../../assets/images/logo.png">
  <a class="navbar-brand edutech" href="/Learner">EDUTECH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- id="navbarCollapse" -->

  <button class="backgroundco2" mat-menu-item (click)="navigateProfile()">
    
   </button>
  

   <div class="login_btn" >
    <!-- 
     -->
    <ul class="navbar-nav mr-auto">
      <li class="smallmenu2">
        <button class="backgroundcol" routerLink="/Learner/register" >Home</button>
       
      </li>

      <li class="smallmenu2">
        <button class="backgroundcol" routerLink="/Learner/login" >Adminstration</button>
      </li>

      <li class="smallmenu2">
        <button class="backgroundcol" routerLink="/Learner/login" >Courses</button>
      </li>
  
    </ul>
  </div>


  <div class="collapse navbar-collapse">
    
    

    <div class="">
      <ul class="navbar-nav mr-auto" >
        <ul class="navbar-nav mr-auto">
          
          <li>
            <i class="fa fa-bell bellicon" aria-hidden="true"></i>
          </li>
         

          <li (click)="navigateProfile()">
            <img class="profileimg" [src]="userimage ? userimage : '../../../../assets/learner/avatar2.png'">
          </li>

        </ul>
      </ul>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div class="header">
      <mat-menu class="menubar" #menu="matMenu">
        <button class="backgroundcol" mat-menu-item (click)="navigateProfile()">
          <label>Profile</label>
        </button>
        <button class="backgroundcol" routerLink="/Learner/MyCourse" mat-menu-item>
          <label>My Course</label>
        </button>
        <button class="backgroundcol" mat-menu-item>
          <label>Dashboard</label>
        </button>
        <button class="backgroundcol" mat-menu-item (click)="navigateWishlist()">
          <label>Wishlist</label>
        </button>
        <button class="backgroundcol" mat-menu-item>
          <label style="color: #fff;">Certificate</label>
        </button>
        <button class="backgroundcol" mat-menu-item (click)="logout()">
          <label>Logout</label>
        </button>
      </mat-menu>
    </div>

     </div>

</nav>


<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto"  id="navbarCollapse">
    <ul class="navbar-nav mr-auto" id="navbarCollapse">
      <li class="dropdownsmall">
        <a href="#" class="dropdown-toggle drop" data-toggle="dropdown">
          All Courses
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        </ul>
      </li>

      <li class="smallmenu">
        <a routerLink="/Learner/MyCourse">
          My Course
        </a>
      </li>

      <li class="smallmenu">
        <a href="#">
          Search
        </a>
      </li>

      <li class="smallmenu">
        <a href="#">
          Notifications
        </a>
      </li>

      <li class="smallmenu">
        <a href="#">
          My Cart
        </a>
      </li>

      <li class="smallmenu">
        <a href="#">
          Profile
        </a>
      </li><br><br>
    </ul>
  </ul>
</div>




<div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav mr-auto" id="navbarCollapse">
    <ul class="navbar-nav mr-auto" id="navbarCollapse">
      <li class="dropdownsmall">
        <a href="#" class="dropdown-toggle drop" data-toggle="dropdown">
         Categories
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        </ul>
      </li>
      <li class="smallmenu">
        <a href="#">
          Search
        </a>
      </li><br>

      <li class="smallmenu2"  *ngIf="userDetailes == null">
        <button class="backgroundcol2" routerLink="/Learner/register" >Register</button>
      </li><br>

      <li class="smallmenu2"  *ngIf="userDetailes == null">
        <button class="backgroundcol2" routerLink="/Learner/login" >Login</button>
        
      </li><br>
    </ul>

  </ul>

</div>








