<div class="choose-template-container">


    <nav aria-label="breadcrumb" class="coursebreadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Admin/auth/Wca">Home</a></li>

            <li class="breadcrumb-item " aria-current="page"><a href="/Admin/auth/Wca">Create Courses</a></li>

            <li class="breadcrumb-item " aria-current="page">Create Module</li>

            <li class="breadcrumb-item active" aria-current="page">Choose a Template</li>
        </ol>
    </nav>





    <div class="container wrap-body">
        <div class="row">

            <div class="col-md-12">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="bcgClrSync">


                        <mat-panel-title class="f_wt_500 f_size_18 color_black" style="margin-left: 20px;  border-bottom-style: solid;
                  border-bottom-width: thick;border-bottom-color: gold;">
                            Choose a template
                        </mat-panel-title>
                        <!-- routerLink="/Admin/auth/Wca/addtemplate" -->
                        <mat-panel-title (click)="navCreateTemp()" class="f_wt_500 f_size_18 color_black"
                            style="margin-left: 20px;">
                            Create a template
                        </mat-panel-title>




                        <mat-card style="text-align: center;">

                            <mat-grid-list [gutterSize]="'20px'" cols="4" rowHeight="1:1.5" class="custom-grid-list">
                                <div *ngFor="let tlist of templateList;let i = index">
                                    <mat-grid-tile
                                        [ngClass]="{'custom-grid-tile': tlist.template_id !== selectedTemplate.template_id,'selected-grid-tile': tlist.template_id == selectedTemplate.template_id}"
                                        (click)="selectTemplate(tlist)">

                                        <div style="color: grey;" (click)="selectTemplate(tlist)" class="overlay"
                                            *ngIf="isHover && hoverId == tlist.template_id">
                                            <div>
                                                {{"Updated on "+tlist.created_on}}
                                            </div>
                                            <div>
                                                {{"created by "+ tlist.createdby_name}}
                                            </div>
                                        </div>
                                        <div style="width: 200px;">
                                            <div class="tick-icon"
                                                *ngIf="tlist.template_id == selectedTemplate.template_id">
                                                <mat-icon class="green-icon">check_circle_outline</mat-icon>
                                            </div>
                                            <div
                                                class="{{tlist.template_id == selectedTemplate.template_id ? 'selected-grid-heading' : 'grid-heading' }} ">
                                                Consist of
                                            </div>
                                            <div class="grid-list">
                                                <ol class="order-list">
                                                    <li *ngFor="let template of tlist.template_details"
                                                        class="list-items">
                                                        <span style="margin-left: 28px;">
                                                            <img class="template-img" src="{{template.image}}">
                                                            <span>
                                                                {{template.name}}
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ol>
                                            </div>
                                            <mat-icon class="temp-info" (mouseout)="onhoverLeave()"
                                                (mouseover)="onHover(tlist.template_id)">info</mat-icon>
                                        </div>
                                        <div class="template-name">Template {{i + 1}}

                                        </div>

                                    </mat-grid-tile>

                                </div>
                            </mat-grid-list>
                            <mat-card-footer>
                                <div>
                                    <button type="button" (click)="templateParse(tlist)" mat-flat-button
                                        [disabled]='selectedTemplate.template_id == undefined' color="primary"
                                        class="submit-btn">Continue</button>
                                </div>
                            </mat-card-footer>
                        </mat-card>


                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>



    </div>


</div>