@import "../../../../assets/variable.scss";
mat-card {
    padding: 2% !important;
}
.mat-card:not([class*=mat-elevation-z]) {
   border: 0.5px solid lightgrey;
}
.top_course {
    font-size: 15px;
    font-weight: 600;
    margin-left: 3%;
}
::ng-deep .mat-grid-tile .mat-figure, mat-grid-tile {
    display: block !important;
}
.key_down {
    text-align: end !important;
}
.top_course {
    color: $color-blue !important;
}
img {
    width: 7%;
    margin-right: 3%;
}
.mat-expansion-panel {
    box-shadow: none;
}