@import "variable";


.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

::ng-deep .mat-expansion-indicator {
    margin-right: 25px !important;
}

::ng-deep .mat-expansion-indicator::after {
    padding: 7px !important;
    color: $color-blue;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 10px rgb(170, 170, 170);
}