@import "assets/variable";
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Add application styles & imports to this file! */
@import "~ngx-bar-rating/themes/br-default-theme.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

button:disabled:hover {
  cursor: not-allowed;
}

// @media (min-width: 300px) {

//   .col-md-12,
//   .col-md-11,
//   .col-md-10,
//   .col-md-9,
//   .col-md-8,
//   .col-md-7,
//   .col-md-6,
//   .col-md-5,
//   .col-md-4,
//   .col-md-3,
//   .col-md-2,
//   .col-md-1 {
//     padding: 0px !important;
//   }
// }

///////////////////////////// root loader ////////////////////////////////////////

.app-loading .logo {
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  display: contents;
}

body,
html {
  height: 100%;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 55%;
  width: 103%;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

///////////////////////////////////////////////////////////////////////
.container {
  max-width: 100% !important;
  overflow: hidden;
}

.contentTop {
  margin-top: 58px !important;
}

.contentTop1 {
  margin-top: 16px !important;
}

.contentTop2 {
  margin-top: 66px !important;
}

.f_wt_200 {
  font-weight: 300;
}

.f_wt_300 {
  font-weight: 300 !important;
}

.f_wt_400 {
  font-weight: 400 !important;
}

.f_wt_500 {
  font-weight: 500;
}

.f_wt_600 {
  font-weight: 600;
}

.f_wt_initial {
  font-weight: initial;
}

.f_size_12 {
  font-size: 12px !important;
}

.f_size_13 {
  font-size: 13px !important;
}

.f_size_14 {
  font-size: 14px !important;
}

.f_size_15 {
  font-size: 15px !important;
}

.f_size_16 {
  font-size: 16px !important;
}

.f_size_17 {
  font-size: 17px !important;
}

.f_size_18 {
  font-size: 18px !important;
}

.f_size_19 {
  font-size: 19px !important;
}

.f_size_20 {
  font-size: 20px !important;
}

.f_size_23 {
  font-size: 23px !important;
}

.f_size_25 {
  font-size: 25px;
}

.f_size_30 {
  font-size: 30px;
}

.width_100 {
  width: 100% !important;
}

.width_90 {
  width: 90% !important;
}

.width_80 {
  width: 80% !important;
}

.width_60 {
  width: 60% !important;
}

.width_70 {
  width: 70% !important;
}

.width_50 {
  width: 50% !important;
}

.width_40 {
  width: 40% !important;
}

.width_30 {
  width: 30% !important;
}

.width_25 {
  width: 25%;
}

.width_20 {
  width: 20% !important;
}

.width_15 {
  width: 15%;
}

.width_10 {
  width: 10% !important;
}

.space2 {
  margin-top: 2% !important;
}

.space5 {
  margin-top: 5% !important;
}

.space10 {
  margin-top: 10%;
}

.space20 {
  margin-top: 20%;
}

.space30 {
  margin-top: 30%;
}

.space40 {
  margin-top: 40%;
}

.pointer {
  cursor: pointer;
}

.strike_text {
  text-decoration: line-through;
}

.absolute {
  position: absolute !important;
}

.capitalize {
  text-transform: capitalize;
}

.float_right {
  float: right;
  text-align: right !important;
  text-align: end !important;
}

.float_left {
  float: left;
  text-align: left !important;
}

.center_align {
  text-align: center;
}

.center {
  margin: auto !important;
  display: block !important;
}

.background_trans {
  background: transparent !important;
}

.m-l-10 {
  margin-left: 10% !important;
}

.m-r-10 {
  margin-right: 10%;
}

.m-l-5 {
  margin-left: 5% !important;
}

.m-r-5 {
  margin-right: 5% !important;
}

.p-5px {
  padding: 5px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.blue_border {
  border: 1px solid $color-blue !important;
}

.background-maroon {
  background-color: $color-maroon !important;
}

.background-blue {
  background-color: $color-blue !important;
}

td {
  padding-bottom: 10px;
}

.display_flex {
  display: flex;
}

.no_margin {
  margin: 0 !important;
}

.no_padding {
  padding: 0 !important;
}

.no_border {
  border: none !important;
  box-shadow: none;
}

.color_blue {
  color: $color-blue !important;
}

.color_label {
  color: $label !important;
}

.color_white {
  color: $color-white !important;
}

.color_black {
  color: $color-blank !important;
}

.pos_fxd {
  position: fixed !important;
}

////////////////////////////////////////////////////////////////////////

// .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
//   background-color: $color-blue !important;
// }

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

// .br-default .br-selected:after {
//   color: $color-yellow !important;
// }

// .br-default .br-unit:after {
//   content: "\2605";
//   color: transparent;
//   -webkit-text-stroke-width: 1px;
//   -webkit-text-stroke-color: $color-yellow;
// }

.example-full-width {
  width: 100%;
}

// .parentcontent {
//   display: flex;
//   justify-content: center;
//   margin-top: 176px;
//   height: 198px;
// }

// .column2 {
//   text-align: center;
//   width: 90%;
//   float: right;
//   height: 100vh;
// }

// .continer {
//   margin-top: 50px;
//   position: relative;
//   -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
//   box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
//   padding: 10px;
//   background: $color-white;
//   display: flex;
//   justify-content: center;
//   height: 277px;
// }

.btn {
  display: inline-block;
  font-weight: 400;
  color: $color-white !important;
  text-align: center;
  vertical-align: middle !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $color-blue !important;
  border-radius: 0px !important;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.wrap-reg {
  width: 350px;
  height: auto;
  background: $color-white !important;
  border-radius: 3px;
  overflow: hidden;
}

@media (max-width: 480px) {
  .wrap-reg {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-l-50 {
  padding-left: 40px !important;
}

.p-r-50 {
  padding-right: 40px !important;
}

.p-t-77 {
  padding-top: 52px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-10px {
  padding: 10px !important;
}

// .mat-checkbox-checked.mat-accent .mat-checkbox-background,
// .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: $color-blue;
// }

// input[type=text],
// input[type="password"] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 1px 0;
//   background: $color-light-blue;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
//   border-radius: 5px;
// }

// label {
//   color: $color-blue;
//   font-weight: 500;
// }
.head {
  text-align: center;
  color: $color-blue !important;
}

.mand {
  color: $color-red !important;
}

// mat-icon {
//   cursor: pointer;
//   color: $color-blue;
// }

// .header{
//   .mat-menu-content {
//     background-color: #1F3777 !important;
// }
// }

.choose-template-container .mat-grid-tile .mat-figure {
  justify-content: unset !important;
  margin: 0px 0 0 10px;
  align-items: unset !important;
  display: unset !important;
}

.allow-cr {
  white-space: pre;
  color: #5e5e5e !important;
  background: white !important;
  box-shadow: 0 0 5px #aaaaaa !important;
  font-size: 16px;
}

.forgotusername {
  .mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
    overflow: hidden !important;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

// .mat-radio-button.mat-accent .mat-radio-inner-circle {
//   background-color: #213998 !important;
// }

// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color: #213998 !important;
// }

.reference-file-container {
  .file-selection .mat-radio-label-content {
    color: grey !important;
  }

  .file-selection {
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: unset !important;
    }

    .mat-form-field-flex {
      background: #b8d0ff !important;
      border-radius: 5px;
    }
  }
}

.save-btn {
  width: 70px;
  height: 30px;
  background-color: #1f3777 !important;
  /* margin: 20px 0px; */
  color: white !important;
  font-size: 14px;
  padding-bottom: 23px;
}

// .mat-header-row {
//   background: #d7e7ff !important;
//   min-height: 40px !important;
// }

h1 {
  color: #0e3877;
  font-weight: 500 !important;
}

.create-course .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1f3777 !important;
}

// .swal2-popup.swal2-modal.swal2-show {
//   width: 40% !important;
// }

// .mat-dialog-container {
//   display: block;
//   padding: 24px;
//   margin-top: 84px !important;
//   border-radius: 4px;
//   box-sizing: border-box;
//   overflow: auto;
//   outline: 0;
//   width: 70%;
//   height: 70%;
//   min-height: inherit;
//   max-height: inherit;
// }

.view-course-container {
  min-height: 30em;
  max-height: 35em !important;

  .mat-dialog-container {
    margin-top: unset !important;
    padding: 0.5em 1.5em !important;
  }
}

.create-course,
.view-course-container {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $color-light-grey !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-blue !important;
  }

  .ck.ck-editor {
    margin-left: 25px;
    width: 90%;
  }

  .ck-content {
    background-color: $color-field !important;
  }
}

.module-repo-container {
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1f3777 !important;
  }

  .repo-title-container .mat-form-field {
    width: 250px;
  }
}

.myC {
  .mat-tab-label {
    font-size: 17px !important;
    font-weight: 600 !important;
  }
}

//////////////////////
//Breadcrumb change : Mythreyi--- Sarat
.breadcrumb {
  display: flex;
  padding: 0px 0px 0px 26px !important;
  flex-wrap: wrap;
  border-radius: 0px !important;
  margin-bottom: 1rem;
  list-style: none;
  background-color: $bread-crumb-bg !important;
  border-radius: 0.25rem;
  height: 21px !important;

  a,
  a:hover {
    color: #004072;
  }
}

.mat-header-row {
  background: $color-border !important;
  min-height: 40px !important;
}

.mat-flat-button {
  border-radius: 0px !important;
}

mat-header-cell,
.mat-header-cell {
  font-size: 14px !important;
  color: $color-blank !important;
}

.angular-editor-textarea[_ngcontent-udl-c31] {
  background-color: #1f3777 !important;
  outline-color: lightblue;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.41) !important;
}

// .form-control {
//   background: #f7f7f7;
//   border-radius: 5px !important;
//   height: calc(1.9em + .75rem + 2px);
// }

// .form-control.is-invalid:focus,
// .form-control.is-invalid {
//   background: #f7f7f7;
//   border: none;
//   border-left: 5px solid red !important;
//   border-radius: 5px !important;
// }

// .form-control.is-valid:focus,
// .form-control.is-valid {
//   background: #f7f7f7;
//   border: none;
//   border-left: 5px solid $color-blue !important;
//   border-radius: 5px !important;
// }

// input:focus:invalid {
//   background: #f7f7f7;
//   border: none;
//   border-left: 5px solid red !important;
//   border-radius: 5px !important;
//   // border-left: 5px solid red !important;
//   // border-radius: 5px !important;
//   box-shadow: none;
//   // outline: 0 none;
// }

// input:focus:valid {
//   background: #f7f7f7;
//   border: none;
//   border-left: 5px solid $color-blue !important;
//   border-radius: 5px !important;
//   // border-left: 5px solid red !important;
//   // border-radius: 5px !important;
//   box-shadow: none;
//   // outline: 0 none;
// }
.course-details-container {
  .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }

  .mat-expansion-panel:first-of-type {
    border-top-right-radius: unset !important;
    border-top-left-radius: unset !important;
  }
  .mat-vertical-content {
    padding: unset !important;
  }
  .mat-expansion-panel-body {
    padding: unset !important;
  }

  .mat-vertical-stepper-header {
    height: 10px !important;
  }
}
