@import "assets/variable";
/* You can add global styles to this file, and also import other style files */
@import'~@angular/material/prebuilt-themes/deeppurple-amber.css';
body 

{font-family: Roboto, Arial, sans-serif;margin: 0;}

.basic-container {padding: 30px;}

.version-info {font-size: 8pt;float: right;margin: 8px;}


.example-full-width {
    width: 100%;
  }
  .parentcontent{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 176px;
    height: 198px;
  }
  // mat-card{
  //   width: 23%;
  //   border: dashed;
  // }
  .button{
    margin-top: 25px;
  }
  .column2 {
    text-align: center;
    width: 90%;
    float: right;
    height: 100vh;
  }
  .continer {
    margin-top: 50px;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    height: 277px;
  }


