

<nav aria-label="breadcrumb" class="coursebreadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Admin/auth/Wca">Home</a></li>

        <li class="breadcrumb-item active" aria-current="page">Create Courses</li>

        <li class="breadcrumb-item active" aria-current="page">Create Module</li>

        <li class="breadcrumb-item active" aria-current="page">Create Template</li>
    </ol>
</nav>


  <span *ngIf="createTopicForm?.controls">
<form [formGroup]="createTopicForm" (ngSubmit)="addTopicFrom()" class="formHeight">
    <div class="container wrap-body" >
        <div style="display: flex;" >
            <span *ngIf="queryData?.template_details" class="firstSpan"> Enter Module Name : </span>
            <span *ngIf="queryData?.template_details">
                <input class="Bcg" type="text"  placeholder="Enter the Name" formControlName="modulename"  required />
            </span>
            <span class="validmodule"> <small  *ngIf="createTopicForm?.controls?.modulename?.errors?.required && submitted">Module Name Required !!!</small>
            </span>
        </div>

        <div *ngIf="!queryData?.template_details"  class="dspFlx">
            <span style="color: red;">Go Back and Chooose or Create the Template Please !!!</span>
        </div>
<span *ngIf="createTopicForm?.get('moduledetails')?.controls">
        <div [hidden]="j?.value?.topicstatus === 'false'" class="row" formArrayName="moduledetails" *ngFor="let j of createTopicForm.get('moduledetails').controls; let i = index;">
          
            <div class="col-md-12">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true" class="bcgClrSync">
                       
                            <mat-card  style="text-align: center;">
                                <mat-grid-list [cols]="breakpoint"  rowHeight="1.70:2">
    
                                  <div class="example-list" >
                                      <div *ngIf="queryData">
                                        <!-- *ngFor="let item of queryData.template_details; let m = index" -->
        <div class="example-box1"   >
         <div (click)="activate(queryData?.template_details[i])" class="clickBcg bcgBorder" [class.active]="queryData?.template_details[i]?.name === active?.name">
            <div class="dspFlx" [formGroupName]="i">
                <span class="restictWidth"> <mat-form-field class="matWidth" appearance="outline">
                 <mat-label class="clrLabel">Topic Name</mat-label>
                 <input  matInput  style="color:black;" formControlName="topicname">
                 <mat-error > </mat-error>
               </mat-form-field>
               <span class="validmodule"> <small style="font-weight:590" *ngIf="createTopicForm?.controls?.topicname?.errors?.required && submitted">Topic Name Required !!!</small>
               </span>
            </span>
               <span class="example-spacer"></span>
               <span  *ngIf="query?.edit">
                   <mat-icon style="display: none;">save</mat-icon>
                   <mat-icon (click)="DeleteTopic(i,$event)">delete</mat-icon>
               </span>
             </div>
     <div class="colView" >
        <input style="display: none;" [id]="'fileInput3'+i" type='file' #fileInput3  (change)="onSelectFile($event,queryData?.template_details[i],j,i)">
        <span (dblclick)="fileInput3.click()"><img class="img1" src="{{queryData?.template_details[i]?.image}}"></span> 
          <span class="padTop">{{queryData?.template_details[i]?.name}}</span>
          <span class="padTop1 showCon" *ngIf="!j?.value?.topicimages[0]" > <small>content is empty Double Click to edit</small></span>
          <span class="padTop1" > <small>{{fileType}}</small></span>
         <span class="previewAndTime" [class.active]="queryData?.template_details[i]?.name==active?.name">
             <span><button *ngIf="j?.value?.topicimages[0]" mat-raised-button class="btnprev" type="button" (click)="previewimages(j,$event,queryData?.template_details[i])">preview</button></span>
             <span>
                 <small class="spanTime">  Time required to complete the topic </small>
                 <mat-card class="matcardTime">
                     00:00
                 </mat-card>
               </span>
         </span>
         <span *ngIf="!j?.value?.topicimages[0] && submitted"><small class="FileuploadValid">FileUpload Required !!!</small></span>
     </div>   
         </div>
     
      </div>
    </div>
      
    
                                
                                
    </div>
    
                                </mat-grid-list>
                            </mat-card>
    
                        
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </span>
        <div *ngIf="queryData?.template_details" class="dspFlx">
            <button class="backgroundcol2"  (click)="addTopicFrom($event,'draft')"   type="button">Save as a draft</button>
           <span class="padTwoSides"> <button class="backgroundcol1" (click)="addTopicFrom($event,'create')" type="button">Create</button></span>
            <button class="backgroundcol1" [routerLink]="['/Wca']"  type="button" >Cancel</button>

            </div>
    </div>
</form>
</span>






