@import "../../../../assets/variable.scss";

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

::ng-deep .mat-expansion-indicator {
    margin-right: 25px !important;
}

::ng-deep .mat-expansion-indicator::after {
    padding: 7px !important;
    color: $color-blue;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 10px rgb(170, 170, 170) !important;
}
.coursebreadcrumb {
    padding-top: 0px;

    ol {
        margin-bottom: 0 !important;
        background-color: #fff !important;
    }
}

.backgroundcol2{
    cursor: pointer;
    background-color: #1F3777 !important;
    white-space: nowrap;
    border: 1px solid !important;
    padding-top: 8px;
    color: #ffffff;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    float: right;
}
.backgroundcol1{
    cursor: pointer;
    background-color:  #ffffff !important;
    white-space: nowrap;
    border: 1px solid !important;
    padding-top: 8px;
    color: #1F3777;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    float: right;
}


.img1 {
    vertical-align: middle;
    width: 57px;
    border-color: #d4dcea;
}

.img2{
    
    vertical-align: middle;
    width: 50px;
    border-color: #d4dcea;
    margin: -20px -3px -19px 62px;
    float: left;
    padding: -57px 15px 5px 12px;
}


.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    // margin: -12px 12px 3px 631px;
}


@import "../../../../assets/variable.scss";

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}



// Ankit
.title {
    text-align: center;
    margin-top: 9px;
    font-size: 22px;
    color: $color-blue;
}

.backimage {
    height: 88px;
}

.small-box {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
    width: 260px;
    height: 95px;
    margin-top: 0%;
    position: relative;
}

.smallPMP {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
    width: 272px;
    height: 65px;
    position: relative;
}

.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: -20px;
    margin-top: -20px;
    transition: all .3s linear;
}

.svgimg {
    width: 42px;
    margin-left: 10px;
    margin-top: 10px;
}

.profileimg {
    margin-left: 95px;
    width: 65px;
    height: 65px;
    margin-top: -50px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid $color-white;
    background-color: $color-light-pink;
    cursor: pointer;

}

.ion {
    display: inline-block;
}

.col-lg-3 {
    -ms-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.small-box>.inner {
    padding: 10px;
}

.mat-grid-tile .mat-grid-tile-footer {
    color: $color-white;
    background: transparent;

}



.bg-red {
    background-color: $color-light-pink !important;
    color: $color-white;
}

.bg-yellow {
    background-color: $color-yellow !important;
    color: $color-white;
}

.bg-green {
    background-color: $color-light-green !important;
    color: $color-white;
}

.bg-blue {
    background-color: $color-light-blue !important;
    color: $color-white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 78%;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 68%;
    background-color: #000;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 60%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    color: $color-blue;
    text-align: center;
    font-weight: 500;
    font-size: 27px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    width: 15%;
    height: 55px;
}

.footerbtn {
    width: 120px;
    height: 55px;
    background-color: $color-blue;
    color: $color-white;
    text-align: center !important;
    margin-left: 86px;
}
.whatnewcard {
    text-align: center;
    margin-left: 1%;
    margin-right: 1%; 
    border: hidden;

}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    margin: 4px 168px 14px 107px;;
    border-radius: 4px;
     height: 100%;
  }

  .mat-card1 {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 16px;
    margin: 4px 168px 14px 107px;;
    border-radius: 4px;
    height: 100%;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: $color-white;
    font-weight: 500;
    transform: translate(-50%, -50%);
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: inline-block;
    height: 184px;
    width: 7px;
    margin-left: 17px;
    text-align: center;
    margin-bottom: -184px;
    font-size: 45px;
    transform: translate(-50%, -50%);
    line-height: 90px;
    background: rgb(247, 27, 88);
}

input[type=text]
{
  width: 100%;
  padding: 9px 20px;
  margin: 10px 10px;
  background: white;
  display: inline-block;
  border: 1px solid $color-blue;
  box-sizing: border-box;
  border-radius: 5px;
}

.inputs{
    border: 1px solid;
    padding: 8px !important;
    border-radius: 5px;
    color: $color-blue;
    width: 100%;
    background-color: none !important;
    margin: 10px 10px;
  }


  .inputs1{
    border: 1px solid;
    padding: 8px !important;
    border-radius: 5px;
    color: $color-blue;
    width: 100%;
    background-color: none !important;
    margin: 10px 30px;
  }


  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #f8f9fa;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 18px 11px;
    color: #1f3777;
    display: flex;
    flex-direction: inherit;
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
   
  }

  .example-box1{
  padding: 18px 11px;
    color: rgb(210, 216, 230);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
    margin: 0px 0px 9px 0px;
    border-style: inherit;
    border-width: 1px
   
}

  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

  .bcgBorder{
    border: 3px solid;
}


.colView{
display: flex;
flex-direction: column;
   display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    padding-bottom: 21px;
}

.padTop{
    padding-top: 4px;
    color: $color-blue;
}
.padTop1{
    padding-top: 4px;
    color: $color-darkGrey;
}

.penSize{
    font-size: 13px;
}

::ng-deep .mat-form-field-underline {
    display: none !important;
}




.clrLabel{
    color: $color-blue !important;
    font-weight: 500;
    font-size: larger;
}

.dspFlx{
display: flex;
padding-top: 8px;
padding-left: 15px;
}

.restictWidth{
width: 113px;
}

.matWidth{
    width: 100%;
}

.clickBcg.active{
   background:  $color-field;
   border:none
}

.showCon.active{
    display: none;
}

.spanTime{
    color: $color-darkGrey;
}
.btnprev{
    border-radius: 40px;
    background:  $color-blue;
    color: white;
    outline: none;
    font-size: smaller;
    padding: 0px;
}
.previewAndTime{
 display: none;
}
.bcgClrSync{
    background-color:#e9ecef;
}

.formHeight{
    height: 80%;
    overflow: auto;
}

.previewAndTime.active{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.matcardTime{
    height: 1px;
    padding: 2px 5px 19px 1px;
}

.firstSpan{
    display: flex;
    align-items: center;
    padding-left: 8%;
}
.dspFlx{
    display: flex;
    justify-content: center;
}

.Bcg{
    background: #B8D0FF;
    width: 100%;
    padding-left: 17px;
    height: 38px;
    border-radius: 11px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;  
  }
  .padTwoSides{
    padding: 0px 14px;
  }

  .validmodule{
    display: flex;
    color: red;    
   align-items: center;
    padding-left: 37px;
  }

  .FileuploadValid{
   font-weight: 590;
   color: red;
  }