@import "variable";
.knowledge-landing-container {
    overflow: hidden;

    .back-page {
        position: relative;
        border: none;
        margin-top: 1.5em;
        // .back-icons {
        //     width: 70px;
        //     &:hover {
        //         border: none;
        //         color: #c02222;
        //     }
        // }
        span {
            font-size: 20px;
            margin-left: 5px;
            margin-top: 2px;
            border-style: none;
            cursor: pointer;
        }
        img {
            width: 5px;
            height: 5px;
        }
        span:hover {
            border: none;
            color:#c02222;
        }
        span:focus {
            border: none;
            border-style: none;
            // color:red;
            // font-size: 18px;
        }
        span:active {
            outline: none;
            border: none;
            border-style: none;
            // color:red;
            // font-size: 18px;
        }
    }
    .header-section {
        border-bottom: 1px solid lightgray;
        // height: 9em;
        padding: 0 0 5px 0;
        .breadcrumb {
            background-color: white !important;
            padding: 0px 15px !important;
            font-size: 14px;
            display: inline-block;
            .breadcrumb-item {
                font-size: 14px;
                color: #333333;
                margin-bottom: 5px;
                display: inline-block;
                font-weight: 600;
                .active {
                    font-weight: bold;
                }
                @media only screen and (min-width: 576px) {
                    font-size: 16px;
                }
            }
        }
        .header-carousel {
            margin: 10px 15px;
            position: relative;
            .topic-chip {
                border: 1px solid #8f8f8f;
                text-align: center;
                padding: 10px 30px;
                border-radius: 48px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                user-select: none;
                &:active {
                    background-color: #bbbbbb;
                }
            }
            .topic-container {
                margin-right: 15px !important;
                .active-topic {
                    background: #f5f5f5;
                }
            }
        }
    }
    .main-section {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        min-height: 25.8em;
        // margin-bottom:50px;//for footer temp fix CAN REMOVE
        .resource-card {
            // height: 170px;
            // width: 220px;
            border: 1px solid #707070;
            border-radius: 5px;
            margin: 20px 0;
            // margin: 20px 20px 0 30px;
            cursor: pointer;
            transition: 0.5s all ease-in-out;
            position: relative;
            &:hover {
                box-shadow: 0px 3px 15px 1px rgba(136,136,136,0.5);
                .card-img {
                    .img-thumb, .thumbImg {
                        // transform: scale(1.2);
                        @media only screen and (min-width: 1200px) {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .card-img {
                height: 150px;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
                // height: 65%;
                img {
                    transition: transform .5s ease;
                }
                .img-thumb {
                    height: 100%;
                    // width: 60px;
                    // margin-left: 35%;
                }
                .thumbImg {
                    margin-top: -30px;
                    // position: absolute;
                    // left: 50%;
                    // top: 50%;
                    // transform: translate(-50%, -90%);
                }
            }
            .card-name {
                // height: 35%;
                background-color: rgba(92,104,115,0.85);
                color: white;
                padding: 8px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                .file-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
}
.commonBackStyle {
    margin-top: 15px !important;
    padding-left: 15px;
    display: inline-block;
    width: 75px;
    &:hover {
        i, span {
            color: #C02222;
        }
    }
    .backArrow {
        font-size: 6px;
        color: #231F20;
        font-weight: bold;
        transform: rotate(-90deg);
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    span {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: #999999;
        font-weight: lighter;
        margin: 0 0 0 5px;
    }
    .backText {
        display: inline-block;
        font-style: initial;
        vertical-align: middle;
        margin-left: 6px;
    }
}
.courseNameBreadcrum {
    margin-left: 7px;
    display: inline-block;
    width: 74%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 10px;
    .pipeLine {
        display: inline-block;
        margin-right: 10px;
    }
    span {
        color: #333333;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        // display: inline-block;
        vertical-align: middle;
    }
    i {
        display: inline-block;
        transform: rotate(90deg);
        font-size: 8px;
        color: #333333;
        margin: 0 7px;
    }
}
.img-thumb {
    object-fit: cover;
    width: 100% !important;
    margin-left: 0 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

drag-scroll {
    height: 50px;
    width: auto;
    margin: 0 20px;
}
.draggable-button-container {
    .leftArrow, .rightArrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .leftArrow {
        left: -10px;
    }
    .rightArrow {
        right: -10px;
    }
    button.disableArrow {
        display: none;
        cursor: initial;
    }
    button.showArrow {
        display: flex;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        min-width: inherit;
    }
}
::ng-deep.draggable-button-container .mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
}
::ng-deep.header-carousel .drag-scroll-content {
    display: flex !important;
    align-items: center;
    height: calc(100% + 3px) !important;
    overflow: auto hidden !important;
    @media only screen and (min-width: 991px) {
        overflow: hidden !important;
    }
}
::ng-deep.header-carousel .drag-scroll-wrapper.drag-scroll-container {
    @media only screen and (min-width: 991px) {
        height: 43px !important;
        overflow: initial !important;
    }
}
::ng-deep .knowledge-landing-container .owl-theme .owl-nav {
    text-align: inherit !important;
}

::ng-deep .knowledge-landing-container .owl-carousel .owl-nav .owl-next {
    float: right !important;
    position: absolute !important;
    top: 1% !important;
    right: 0px !important;
}

::ng-deep .knowledge-landing-container .owl-carousel .owl-stage-outer {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

::ng-deep .knowledge-landing-container .owl-carousel .owl-nav .owl-prev {
    position: absolute !important;
    top: 1% !important;
}

::ng-deep .knowledge-landing-container .owl-carousel.owl-drag .owl-item {
    width: 150px !important;
}


.backIc {
    cursor: pointer;
    width: 10px !important;
    margin-left: 10px !important;
}

.topic-container :hover {
    // box-shadow: 0px 3px 15px 1px rgba(136,136,136,0.5);
 
        .chip-hover {
            //  transition: transform .5s ease;
            transform: scale(1.2);
            // @media only screen and (min-width: 1200px) {
            //     transform: scale(1.2);
            // }
        }
    }

    ::ng-deep .tooltip-show {
        position: relative !important;
        font-size: 18px;
         top: -10px;
      }
