<app-header></app-header>
<div class="knowledge-landing-container">

  <div class="back-page">
    <div class="back-icons">
      <mat-icon class="material-icons f_size_15 backIc">arrow_back_ios
      </mat-icon>
      <span [routerLink]="['/Learner/knowledge']">Back</span>
    </div>
  </div>

  <div class="header-section">

    <nav aria-label="breadcrumb" class="coursebreadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          Knowledge Resources > <span class="active">{{resourceFile[0]?.area_of_interest}}</span></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">
          </li> -->
      </ol>
    </nav>
   
    <div class="header-carousel">

      <drag-scroll (reachesLeftBound)="leftBoundStat($event)"
      (reachesRightBound)="rightBoundStat($event)" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
        <span drag-scroll-item *ngFor="let value of topicList;let i = index" class="tooltip-pos">
          <span class="topic-container" (click)="onTopicSelection(value)">
            <!-- <span class="{{ selectedTopic == value ? 'topic-chip active-topic' : 'topic-chip'}}" 
            [matTooltip]="value">{{value}}</span> -->
            <span *ngIf="value.length >=6 " class="{{ selectedTopic == value ? 'topic-chip active-topic chip-hover' : 'topic-chip chip-hover'}}"  matTooltip="{{value}}"  matTooltipClass="tooltip-show">
              {{value | slice:0:6}}...</span>
            <span *ngIf="value.length < 6"  class="{{ selectedTopic == value ? 'topic-chip active-topic chip-hover' : 'topic-chip chip-hover'}}" >
              <!-- {{res?.title}} -->
              {{value}}
            </span>
          </span>
        </span>
      </drag-scroll>
      <div class="draggable-button-container">
        <div class="leftArrow">
          <button [disabled]="leftNavDisabled" mat-raised-button (click)="moveLeft()" class="draggable-button float-left"> <mat-icon> chevron_left </mat-icon> </button>
        </div>
        <div class="rightArrow">
          <button [disabled]="rightNavDisabled" mat-raised-button (click)="moveRight()" class="draggable-button float-right"> <mat-icon> chevron_right </mat-icon> </button>
        </div>
      </div>
      
      <!-- <owl-carousel-o [options]="TopicsOptions" class="questionList">
        <ng-template *ngFor="let value of topicList;let i = index" carouselSlide>
          <div class="topic-container" (click)="onTopicSelection(value)">
            <div class="{{ selectedTopic == value ? 'topic-chip active-topic' : 'topic-chip'}}" 
            [matTooltip]="value">{{value}}</div>
          </div>
        </ng-template>
      </owl-carousel-o> -->


    </div>

    </div>

  <div class="main-section">
    <ng-container *ngFor="let resData of resourceFile">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="resource-card" (click)="onPreview(resData)">
          <div class="card-img">
            <ng-container *ngIf="resData.thumbnail && resData.thumbnail.length > 0">
              <img [src]="resData.thumbnail" alt="" class="img-thumb">
            </ng-container>
            <ng-container *ngIf="!resData.thumbnail || resData.thumbnail.length == 0">
              <ng-container *ngIf="resData.fileType == 'pdf'">
                <img src="../../../assets/images/PDF-res.svg" class="thumbImg" alt="pdf">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'jpg' || resData.fileType == 'png' || resData.fileType == 'jpeg'">
                <img src="../../../assets/images/Image-res.svg" class="thumbImg" alt="image">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'mp4'">
                <img src="../../../assets/images/video-res.svg" class="thumbImg" alt="video">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'mp3'">
                <img src="../../../assets/images/Audio-res.svg" class="thumbImg" alt="audio">
              </ng-container>
              <ng-container *ngIf="resData.fileType == undefined || resData.fileType == 'csv'">
                <img src="../../../assets/images/Image-res.svg" class="thumbImg" alt="image">
              </ng-container>
            </ng-container>
          </div>
          <div class="card-name">
            <div class="file-name" style="-webkit-box-orient: vertical;">
              {{resData.filename}}
            </div>
          </div>
        </div>

      </div>
    </ng-container>

    <!-- <ng-container *ngIf="isPreview">
      <div class="image-container">
        <img src="https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg">
      </div>
    </ng-container> -->
  </div>

  
