<app-header></app-header>
<div class="knowledge-landing-container">

  <div class="back-page">
    <!-- <img src="assets\images\dialog backward.svg"> -->
    <!-- <span [routerLink]="['/auth/knowledge']"> <font color="black"> < </font> Back </span> -->
    <i class="fa fa-chevron-left" aria-hidden="true" style="font-size: 12px;cursor: pointer;">
      <span style="font-family: 'Roboto'" [routerLink]="['/Learner/knowledge']">Back</span></i>
  </div>

  <div class="header-section">

    <nav aria-label="breadcrumb" class="coursebreadcrumb">
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item">
          <a>Home</a></li> -->
        <li class="breadcrumb-item">
          <a>Knowledge Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          {{resourceFile[0].area_of_interest}}</li>
      </ol>
    </nav>
   
    <div class="header-carousel">
      <owl-carousel-o [options]="TopicsOptions" class="questionList">
        <ng-template *ngFor="let value of topicList;let i = index" carouselSlide>
          <div class="topic-container" (click)="onTopicSelection(value)">
            <div class="{{ selectedTopic == value ? 'topic-chip active-topic' : 'topic-chip'}}" 
            [matTooltip]="value">{{value}}</div>
          </div>
        </ng-template>
      </owl-carousel-o>


    </div>

    </div>

  <div class="main-section">
    <ng-container *ngFor="let resData of resourceFile">
      <div class="resource-card" (click)="onPreview(resData)">
        <div class="card-img">
          <ng-container *ngIf="resData.thumbnail && resData.thumbnail.length > 0">
            <img [src]="resData.thumbnail" alt="" class="img-thumb">
          </ng-container>
          <ng-container *ngIf="!resData.thumbnail || resData.thumbnail.length == 0">
            <ng-container *ngIf="resData.fileType == 'pdf'">
              <img src="../../../assets/images/PDF-res.svg" alt="pdf">
            </ng-container>
            <ng-container *ngIf="resData.fileType == 'jpg' || resData.fileType == 'png' || resData.fileType == 'jpeg'">
              <img src="../../../assets/images/Image-res.svg" alt="image">
            </ng-container>
            <ng-container *ngIf="resData.fileType == 'mp4'">
              <img src="../../../assets/images/video-res.svg" alt="video">
            </ng-container>
            <ng-container *ngIf="resData.fileType == 'mp3'">
              <img src="../../../assets/images/Audio-res.svg" alt="audio">
            </ng-container>
            <ng-container *ngIf="resData.fileType == undefined || resData.fileType == 'csv'">
              <img src="../../../assets/images/Image-res.svg" alt="image">
            </ng-container>
          </ng-container>
        </div>

        <div class="card-name">
          <div class="file-name">
            {{resData.filename}}
          </div>
        </div>
      </div>
    </ng-container>

    <!-- <ng-container *ngIf="isPreview">
      <div class="image-container">
        <img src="https://i.picsum.photos/id/1018/3914/2935.jpg?hmac=3N43cQcvTE8NItexePvXvYBrAoGbRssNMpuvuWlwMKg">
      </div>
    </ng-container> -->
  </div>
