<app-header></app-header>
<div class="knowledge-landing-container">
  <ul class="breadcrumb">
    <li><em routerLink="/Learner/knowledge" class="lxp-Go backArrow"></em> <span>{{'Knowledge Resources' | translate}}</span></li>
    <li>{{resourceFile[0]?.area_of_interest}}</li>
  </ul>

  <div class="header-section">
    <div class="header-carousel">
      <drag-scroll (reachesLeftBound)="leftBoundStat($event)"
      (reachesRightBound)="rightBoundStat($event)" [scrollbar-hidden] = true [drag-scroll-y-disabled] = true>
        <span drag-scroll-item *ngFor="let value of topicList;let i = index" class="tooltip-pos">
          <span class="topic-container" (click)="onTopicSelection(value)">
            <span *ngIf="value.length >=6 " class="{{ selectedTopic == value ? 'topic-chip active-topic chip-hover' : 'topic-chip chip-hover'}}"  matTooltip="{{value}}"  matTooltipClass="tooltip-show">
              {{value | slice:0:6}}...</span>
            <span *ngIf="value.length < 6"  class="{{ selectedTopic == value ? 'topic-chip active-topic chip-hover' : 'topic-chip chip-hover'}}" >
              <!-- {{res?.title}} -->
              {{value}}
            </span>
          </span>
        </span>
      </drag-scroll>
      <div class="draggable-button-container">
        <div class="leftArrow">
          <button [disabled]="leftNavDisabled" [ngClass]="leftNavDisabled ? 'disableArrow' : 'showArrow'" mat-raised-button (click)="moveLeft()" class="draggable-button float-left"> <mat-icon> chevron_left </mat-icon> </button>
        </div>
        <div class="rightArrow">
          <button [disabled]="rightNavDisabled" [ngClass]="rightNavDisabled ? 'disableArrow' : 'showArrow'" mat-raised-button (click)="moveRight()" class="draggable-button float-right"> <mat-icon> chevron_right </mat-icon> </button>
        </div>
      </div>
    </div>
 </div>

  <div class="main-section">
    <div class="item" *ngIf="showSkeleton">
      <div class="d-flex justify-content-between">
          <div class="item1">
              <ngx-skeleton-loader count="9" [theme]="{'border-radius': '5px', 'margin':'20px', height: '160px', width: '230px', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
          </div>
          
      </div>
      <div class="d-flex justify-content-between">
          <div class="item1">
              <ngx-skeleton-loader count="9" [theme]="{'border-radius': '5px','margin': '20px', height: '160px', width: '230px', 'background-color': '#d8d9dd', border: '1px solid white'}"></ngx-skeleton-loader>
          </div>
          
      </div>
  </div>
    <ng-container *ngFor="let resData of resourceFile">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="resource-card" (click)="onPreview(resData)">
          <div class="card-img">
            <ng-container *ngIf="resData.thumbnail && resData.thumbnail.length > 0">
              <img alt="" *ngIf="resData?.internal == 'yes' || resData?.internal == 'Yes'" [src]="resData?.thumbnail + blobKey" alt="" class="img-thumb">
              <img alt="" *ngIf="!resData?.internal || resData?.internal == 'no' || resData?.internal == 'No'" [src]="resData?.thumbnail" alt="" class="img-thumb">
            </ng-container>
            <ng-container *ngIf="!resData.thumbnail || resData.thumbnail.length == 0">
              <ng-container *ngIf="resData.fileType == 'pdf'">
                <img src="https://assets.lntedutech.com/application_images/PDF-res.svg" class="thumbImg" alt="pdf">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'jpg' || resData.fileType == 'png' || resData.fileType == 'jpeg'">
                <img src="https://assets.lntedutech.com/application_images/Image-res.svg" class="thumbImg" alt="image">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'mp4'">
                <img src="https://assets.lntedutech.com/application_images/video-res.svg" class="thumbImg" alt="video">
              </ng-container>
              <ng-container *ngIf="resData.fileType == 'mp3'">
                <img src="https://assets.lntedutech.com/application_images/Audio-res.svg" class="thumbImg" alt="audio">
              </ng-container>
              <ng-container *ngIf="resData.fileType == undefined || resData.fileType == 'csv'">
                <img src="https://assets.lntedutech.com/application_images/Image-res.svg" class="thumbImg" alt="image">
              </ng-container>
            </ng-container>
          </div>
          <div class="card-name">
            <div class="file-name" style="-webkit-box-orient: vertical;">
              {{resData.filename}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  
