@import "../../../../assets/variable.scss";

img {
    border: 1px solid rgb(141, 141, 141);
    height: auto;
    width: 100%;
    height: 145px;
}

.row {
    width: 90%;
    margin: auto;
}

.m-t-10 {
    margin-top: 10px;
}

::ng-deep .br-default .br-unit {
    font-size: 16px;
    height: 18px;
    width: 8px;
    margin-top: -10px !important;
}

.m-t-15 {
    margin-top: 7px;
}

.m-l-5 {
    margin-left: 5px !important;
}

.status {
    letter-spacing: 1px;
    border-radius: 0px;
}

.mat-progress-bar {
    display: block;
    height: 6px;
    overflow: hidden;
    position: relative;
    transition: opacity 250ms linear;
    border-radius: 30px;
}

.wishlist {
    position: absolute;
    z-index: 1;
    // margin-left: -5px;
    margin-top: 10px;

    .wishlist_btn {
        background: rgb(41, 41, 41);
    }
}

.mat-mini-fab {
    width: 33px;
    height: 35px;
}

mat-icon {
    font-size: 18px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $color-red;
}

.container {
    width: 96%;
    margin-left: 2%;

    .overlay {
        height: 70%;
        width: 76%;
        position: absolute;
        overflow: hidden;
        top: 2vh;
        left: 0;
        opacity: 0;
        margin-left: 12%;
        filter: alpha(opacity=0);
        background-color: $color-blue !important;
        color: $color-white;
        cursor: pointer;
    }
}

.margLeft{
    margin-left: -10px;
}

.dspFlx{
display: flex;
justify-content: space-evenly;
}
.dspFlx1{
    display: flex;
    align-items: center;
}

.container:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.course_description {
    text-align: initial;
    text-align: justify;
    color: honeydew;
}

.bottomButtons {
    position: absolute;
    bottom: 2vh !important;
    left: 8%;
}

.buy_now {
    border: 0.5px solid rgb(211, 210, 210);
}
.enroll{
    background-color: #1f3777;
    color: #fff;
}
.color-grey {
    color: #363738;
}