<div class="container">
  <div class="row wishlist" *ngIf = "showWishlist">
    <div class="col-md-9 col-sm-9 col-9"></div>
    <div class="col-md-2 col-sm-2 col-2">
      <button mat-mini-fab (click)="selectWishlist(course)" class="wishlist_btn">
        <mat-icon *ngIf="course.wishlisted == true" style="color:red;">favorite</mat-icon>
        <mat-icon *ngIf="course.wishlisted == false" style="color:transparent;">favorite</mat-icon>
      </button>
    </div>
    <div class="col-md-1 col-sm-1 col-1"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img *ngIf="course.course_img_url != 'null'" src="{{course.course_img_url}}">
      <img *ngIf="course.course_img_url == 'null'" src="../../../../assets/learner/1.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 f_wt_500 f_sz_14 float_left">
      {{course.course_name}}
    </div>
  </div>
  <!-- col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-5 display_flex">
      <bar-rating [readOnly]="true" [rate]="course.rating" [max]="5"></bar-rating><strong
        class="m-t-15 m-l-5">{{course.rating}}</strong>
    </div>
    <div class="col-md-2 m-t-15 col-sm-2 col-2">{{course.max_student_enrollments_allowed | number}}
    </div>
    <div class=" col-lg-5 col-md-5 m-t-15 col-sm-5 col-5" *ngIf="showCartBtn"> <strong>Rs {{course.price | number }}</strong>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 ">
      <button mat-flat-button *ngIf="showStatus" disabled = "{{final_status === 'Completed'}}" class="status color_white f_size_16 f_wt_400 width_100 p-10px"
        (click)="final_status != 'Completed' && goTocourse(final_status || 'Start')" [ngStyle]="{'background-color':final_status === null ? 
        '#1f3777' : final_status === 'Resume' ? '#2661ff' : final_status === 'Completed' ? '#028514' : '#1f3777' }">
        {{final_status || 'Start'}}</button>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 ">
      <small *ngIf="showStatus">{{final_status === 'Resume' && course.statusValue + '%' || null}}</small>
      <mat-progress-bar *ngIf="final_status === 'Resume'" mode="determinate" value="{{course.statusValue}}">
      </mat-progress-bar>
    </div>
  </div> -->

  <div class="overlay" (click)="gotoDescription()" *ngIf="canNavigate">
    <br>
    <div class="row" (click)="gotoDescription()">
      <div class="col-md-12" style="text-align: center;">
        Description
      </div>
    </div>
    <br>
    <div class="row" (click)="gotoDescription()">
      <div class="col-md-12">
        <p class="course_description">
          {{course.short_description}}
        </p>
      </div>
    </div>
    <div class="row bottomButtons"  *ngIf="showCartBtn">
      <div class="col-md-5 col-lg-5 col-sm-5 col-5">
        <button id="buy_now" mat-stroked-button class="buy_now f_wt_300" (click)="login()">Buy Now
        </button>
      </div>
      <div class="col-md-7 col-lg-7 col-sm-7 col-7">
        <button id="add_to_cart" mat-stroked-button class="buy_now f_wt_300" (click)="login()">Add
          to cart
        </button>
      </div>
    </div>
  </div>
</div>