@import "variable";

.progression-report-contianer {
  margin-bottom: 4em;
  @include md {
    margin-bottom: 0;
  }
    .progress-label{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1em;
    }
    .left-container {
        width: 100%;
        box-shadow: 0px 0px 6px #00000059;
        background: #F2F2F2; 
        

        @include xl {
          width: calc(100% - 400px);
        }

        .backArrow {
            font-size: 10px;
            color: #231F20;
            font-weight: bold;
            cursor: pointer;
            margin-bottom: 5px;
            transform: rotate(-180deg);
        }
        .breadcrum {
          font-size:12px;
          font-weight: 500;
          margin-bottom: 1em;
          padding-top: 1.2em;
          @include lg {
            padding: 1em 2.3em;
            padding-bottom: 0;
          }
        }
        .breadcrum1{
            color : #808080;
            padding-left: 0.5em; 
        }
        .partition{
            color: #BE2020;
            padding-left: 0.5em;
        }
        .breadcrum2{
            color: #333333;
            padding-left: 0.5em; 
            font-weight: bold;
        }
        .flag-line{
          @include lg {
            height: 3em;
            }
        }
        .type-label{
            width: 15em;
            color: #666666;
        }
        .mark-level{
            margin-left: 1em;
            font-weight: bold;
        }
        .activity-container{
            margin-top: 40px;
            .header-label {
              padding-left: 5px;
            }
        }
        .card-content{
            margin: 0 0 0 -2.3%;
            flex-wrap: wrap;
            padding: 0.5em 0.6em;
            .card-container {
              margin: 1em 0;
              width: 100%;
              box-shadow: 0 0 4px rgba(0,0,0,0.25);
              @include sm {
              margin: 1em 0.5%;
              width: 49%;
              }
              @include sm {
                margin: 1em 1.16%;
                width: 31%;
                }
            }
            .card-topic{
                color: #808080;
            }
            .card-strip{
                width: 0.4em;
                height: 2.5em;
                position: absolute;
                left: 0;
            }
            .card-strip-green {
                background: #61c98e;
            }
            .card-strip-red {
                background: #F15A24;
            }
            .card-strip-orange {
                background: #FFA04E;
            }
            .card-strip-grey {
                background: #666666;
            }
            .card-description{
              margin-top: 1.3em;
              margin-bottom: 1em;
                color: #00000099;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .sub-header{
                color:#808080;
            }
            .date-value{
                color: #0860a0;
            }
            .lastRow {
                width: 100%;
            }
            .first-content{
                width: 50%;
            }
            .statusCaps {
                text-transform: uppercase;
            }
            .status-value-green {
                color:#62ca8e;
            }
            .status-value-red {
                color:#F15A24;
            }
            .status-value-orange {
                color:#FFA04E;
            }
            .status-value-grey {
                color: #666666;
            }
            .score-content {
              text-align: left;
              padding-right: 5px;
            }
            .score-value {
                color:#0A2B43;
                font-size: 22px;
            }
            .file-icon{
                font-size: 42px;
                color: #B3B3B3;
            }
            .icon-content { 
              display: flex;
              flex-direction: row;
                text-align: right;
            }
        }
        .self-learning-container {
          margin-top: 2em;
          padding: 0 5px;
          
          @include xl {
            margin-top: 3em;
            padding: 0 15px;
          }
          .expansion-container {
                margin-top: 1em;
                @include lg {
                  margin-top: 2em;
                }
                > div {
                    box-shadow: 0 0 5px rgba(0,0,0,0.25);
                    overflow: hidden;
                    position: relative;
                    border-radius: 4px;
                    margin-top: 15px !important;
                    background-color: #ffffff;
                    
                    &:first-child {
                      margin-top: 0 !important;
                    }
                }
            }
         
            .week-number{
                font-size: 16px;
            }
            .week-block{ 
                border-right: 1px solid #c5c5c5;
            }
            .week-text{
                color: #808080;
                font-size: 12px;
            }
            .color-green{
                color: #02AF66;
            }
            .color-red{
                color: #ED1C24;
            }
            // .module-block{
            //     width: 20em;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            // }
            .topic-container{
                border: 1px solid #7070706b;
                background: #ffffff;
                font-size: 13px;
                display: flex;
                padding: 0.5em 1.2em;

                &:nth-child(odd) {
                  background-color: #F7F7FF;
                }

                .first-layer{
                    border-bottom: 1px solid #d4d2d2;
                    padding-bottom: 0.5em;
                }
                .second-layer{
                    padding-top: 1em;
                }
                .tic-circle {
                    font-size: 20px;
                    color: #02AF66;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    width: 100%;
                }
            }
            
        }
    }
    .breadcrum {
      font-size:12px;
      font-weight: 500;
      margin-bottom: 1em;
      padding-top: 1.2em;
          @include lg {
            padding: 1em 2.3em;
            padding-bottom: 0;
          }
    }
    .breadcrum1{
        color : #808080;
        padding-left: 0.5em; 
    }
    .partition{
        color: #BE2020;
        padding-left: 0.5em;
    }
    .breadcrum2{
        color: #333333;
        padding-left: 0.5em; 
        font-weight: bold;
    }
    
    .flag-line {
      @include lg {
      height: 3em;
      }
    }
    .type-label {
      width: 15em;
      color: #666666;
    }
    .mark-level {
      margin-left: 1em;
      font-weight: bold;
    }
    .activity-container {
      margin-top: 40px;
    }
    .card-content {
      margin-top: 0;
      flex-wrap: wrap;
      padding: 0.5em 0.6em;
      .card-container {
        margin-top: 1.5em;
        width: 32%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      }
      .card-topic {
        color: #808080;
      }
      .card-strip {
        width: 0.4em;
        height: 2.5em;
        position: absolute;
        left: 0;
      }
      .card-strip-green {
        background: #61c98e;
      }
      .card-strip-red {
        background: #f15a24;
      }
      .card-strip-orange {
        background: #ffa04e;
      }
      .card-strip-grey {
        background: #666666;
      }
      .card-description {
        margin-top: 2.3em;
        margin-bottom: 1.1em;
        color: #00000099;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .sub-header {
        color: #808080;
      }
      .date-value {
        color: #0860a0;
      }
      .lastRow {
        width: 100%;
      }
      .first-content {
        width: 50%;
      }
      .statusCaps {
        text-transform: uppercase;
      }
      .status-value-green {
        color: #62ca8e;
      }
      .status-value-red {
        color: #f15a24;
      }
      .status-value-orange {
        color: #ffa04e;
      }
      .status-value-grey {
        color: #666666;
      }
      .score-content {
        text-align: left;
        padding-right: 5px;
      }
      .score-value {
        color: #0a2b43;
        font-size: 22px;
      }
      .file-icon {
        font-size: 42px;
        color: #b3b3b3;
      }
      .icon-content { 
        display: flex;
        flex-direction: row;
          text-align: right;
      }
    }
    .self-learning-container {
      margin-top: 2em;
      padding: 0 5px;
      
      @include xl {
      margin-top: 3em;
      padding: 0 15px;
      }
      .expansion-container {
        margin-top: 1em;
        @include lg {
          margin-top: 2em;
        }
        > div {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          overflow: hidden;
          position: relative;
          border-radius: 4px;
          margin-top: 15px !important;
          background-color: #ffffff;
           
          &:first-child {
            margin-top: 0 !important;
          }
        }
      } 
      .week-number {
        font-size: 16px;
      }
      .week-block { 
        border-right: 1px solid #c5c5c5;
      }
      .week-text {
        color: #808080;
        font-size: 12px;
      }
      .color-green {
        color: #02af66;
      }
      .color-red {
        color: #ed1c24;
      }
      .module-block {
        width: 20em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media only screen and (max-width: 375px) {
          width: 17em;
        }
      }
      .topic-container {
        border: 1px solid #7070706b;
        background: #F7F7FF;
        font-size: 13px;
        display: flex;
        padding: 0.5em 0.9em;
        flex-direction: column;
        position: relative;
        @include md {
          flex-direction: row;
          padding: 0.5em 1.5em;
        }
        .leftPan {
          display: flex;
          flex-direction: column;
          justify-content: center; 
          flex-grow: 2;
        }
        .rightpan {
          flex-grow: 10;
          padding: 0;
          padding-top: 10px;
          @include md {
            padding: 0 10px;
          }
          .laya {
            display: flex;
            justify-content: space-around;
            padding-bottom: 3px;
            border-bottom: 1px solid #bebec3;
            > div {
              flex-grow: 1;
              text-align: left;
            }
          }
          .layb, .types {
            display: flex;
            justify-content: center;
            padding-top: 3px;
            > div {
              flex-grow: 2;
              text-align: center;
              min-width: 60px;
              &:first-child {
                flex-grow: 3.5;
                text-align: left;
              } 
            } 
          }
          .layb .types + div {
            text-align: left;
            .font-weight-bold {
              padding-left: 25%;
            }
          }
          .types { 
            justify-content: flex-start; 
          }
           
        }
        .statusarea {
          display: flex;
          align-items: center; 
          flex-grow: 0.5;
          min-width: 20px;
          position: absolute;
          right: 7px;
          @include md {
            position: relative;
            right: auto;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .icon {
            height: 20px;
            width: 20px;
            border-radius: 25px;
            font-size: 0.6em;
          }
          .green {
            background-color: #41d275;
            color: #fff;
            &::before {
              color: #fff;
            }
          }
        }
      }
    }

    .topic-container {
      border: 1px solid #7070706b;
      background: #F7F7FF;
      font-size: 13px;
      display: flex;
      padding: 0.5em 1.5em;
      .leftpan {
        border-bottom: 1px solid #d4d2d2;
        flex-grow: 3;
      }
      .rightpan {
        flex-grow: 5;
      }
      .statusarea {
        display: flex;
        align-items: center;
        width: 2%;
        min-width: 20px;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .icon {
          height: 20px;
          width: 20px;
          border-radius: 25px;
          font-size: 0.6em;
        }
        .green {
          background-color: #41d275;
          color: #fff;
          &::before {
            color: #fff;
          }
        }
      }
    }
    .secPie {
      display: flex;
      flex-direction: column;
      margin-bottom: 3.5em;
      @include md {
        flex-direction: row;
        margin-bottom: 1em;
      }
    }
    .pieChart {
      margin: 0 auto;
    }
  }
  .right-container {
    width: 0;
    display: none;
    background-color: #fff;
    padding: 3em 1em;
    box-shadow: 0 0 2px 0 #0000006b;

    @include xl {
      display: inline-block;
      width: 400px;
    }

    .left-content {
      justify-content: flex-end;
    }
    .content-border {
      border-right: 1px solid #bfbebe;
    }
    .right-content {
      justify-content: flex-start;
    }
    .hours {
      font-size: 22px;
      font-weight: bold;
    }
    .hrs {
      color: #9b9b9b;
      padding-top: 0.12em;
      padding-left: 0.3em;
    }
    .left-week {
      color: #9b9b9b;
      font-size: 12px;
      margin-left: 3.2em;
    }
    .right-week {
      color: #9b9b9b;
      font-size: 12px;
    }
    .zero-padding {
      padding: 0 !important;
    }
    .week-percentage {
      margin-left: 0.5em;
      margin-top: 0.1em;
      font-weight: bold;
      border-radius: 2.1em;
      width: 4em;
      text-align: center;
      font-size: 11px;
      .lxp-Right_Direction_Arrow {
        font-size: 8px;
        display: inline-block;
        padding-bottom: -3.9em;
        font-style: revert;
        font-weight: bold;
        margin-right: 0.5em;
      }
    }
    .lxp-Up,
    .lxp-Down {
      padding-right: 6px;
      font-size: 9px;
    }
    .percentage-text {
      font-size: 13px;
    }
    .color-green {
      color: #02af66;
      background: #d2f9cf;
    }
    .color-red {
      color: #ed1c24;
      background: #ffdce0;
    }
    .split {
      width: 1em;
      height: 2.5em;
      border-right: 1px solid #9b9b9b;
    }
    .text-green {
      color: #02af66;
    }
    .growth {
      margin-left: 7em;
      margin-top: 1em;
    }
    .statistics {
      font-size: 18px;
      margin-bottom: 1em;
    }
    .numbers {
      font-size: 36px;
      padding-right: 0.3em;
      padding-top: 0.3em;
    }
    .numbers-text {
      font-size: 13px;
    }
  }

  /************common css*****/
  .header-label {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 0;
  }

// No Card
.noCard {
  text-align: center;
  figure {
    margin: 15px 0;
  }
  p {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px ​!important;
  }
}

//Skeleton
.skeleton {
  margin: 20px 30px;
  .item {
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .loaderStyle {
      border-radius: 2px;
      height: 20px;
      width: 100%;
      background-color: $skeletonColor;
      border: 1px solid white;
      margin: 4px 0;
    }
  }
}

::ng-deep .activities-progress {
  .mat-progress-bar {
    width: 80% !important;
    border-radius: 5px;
    height: 9px !important;
    margin-top: 3px;
  }
  .mat-progress-bar-buffer {
    background-color: #dfdede !important;
  }
  .color-grey {
    height: 2em;
    .mat-progress-bar-fill::after {
      background-color: #cccccc !important;
    }
  }
  .color-yellow {
    height: 2em;
    .mat-progress-bar-fill::after {
      background-color: #ffd940 !important;
    }
  }
  .color-green {
    height: 2em;
    .mat-progress-bar-fill::after {
      background-color: #03c88d !important;
    }
  }
}

::ng-deep .activity-container {
  .mat-ink-bar {
    background-color: #be2020 !important;
  }
  .mat-tab-label-active {
    font-weight: bolder !important;
    color: black !important;
  }
  .mat-tab-body-content {
    min-height: 195px !important;
  }
}

::ng-deep .self-learning-container {
  .mat-expansion-panel-header {   
    font-size: 13px;
    padding: 0 0.5em;
    padding-top: 7px;
    height: auto !important;
    @include xl {
      height: 60px !important;
    }
    .mat-content {
      display: block;
      width: 100%;  
      .mat-expansion-panel-header-title {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 50px;
        @include md {
          padding-left: 0;
          flex-direction: row;
        }
        &> div {
          flex-grow: 1;
          text-align: center;
          &.week-block + div {
            text-align: left;
            padding-left: 0.8em;
          }
          &.week-block {
            font-size: 12px;
            position: absolute;
            left: 0;
            bottom: 5px;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 9px;
            padding-top: 30px;
            @include md {
              position: initial;
              padding-top: 0;
            }
          }
          .subinfo {
            display: flex;
            justify-content: space-around;
            padding: 10px 0 10px 0.8em;

            > div {
              flex-grow: 1;
              min-width: 75px;
              text-align: left;
            }
          }
          }
          div:nth-child(2) {
            font-weight: 700;
          }
          .statusring {
            position: absolute;
            right: 5px;
            top: 5px;
            @include md {
              position: initial;
            }
          } 
          .subinfo {    
            display: flex;
            justify-content: space-around;
            flex-grow: 3;
            padding: 10px 0;
            padding-left: 10px;
            @include md {
              padding: 0;
            }
            &> div {
              flex-grow: 1;
              text-align: left;
            }
          }
      }
    }
    span:last-child {
      min-width: 20px;
      text-align: center;
      margin-top: 50px;
      @include md {
        margin-top: 0;
      }
    }
  }
  .mat-expansion-panel-body {
    padding-left: 5px;
    padding-right: 5px;
  }
}

::ng-deep.expansion-container {
  .mat-progress-bar {
    height: 2px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .mat-expansion-panel:not([class*="mat-elevation-z"]) { 
    box-shadow: none;
  }
  .mat-progress-bar-buffer {
    background-color: white !important;
  }
  .bar-complete {
    .mat-progress-bar-fill::after {
      background-color: #32ce6a !important;
    }
  }

  .bar-inprogress {
    .mat-progress-bar-fill::after {
      background-color: #ffa800 !important;
    }
  }
}
