@import "variable";

.programReportWrapper {
    flex-direction: column;
    @media only screen and (min-width: 992px) {
        flex-direction: row;
    }
    .leftContainer {
        width: 100%;
        background: #F2F2F2;
        padding: 20px 0;
        @media only screen and (min-width: 992px) {
            width: calc(100% - 360px);
        }
        @media only screen and (min-width: 1140px) {
            width: calc(100% - 400px);
        }
        .topSection {
            padding: 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            .heading {
                color: $blackcolor;
                font-size: 26px;
                font-weight: 700;
                line-height: normal;
            }
            .title {
                margin-top: 20px;
                span {
                    display: flex;
                    color: $greycolorshade;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: normal;
                }
                h4 {
                    color: $lightshadeblue;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 4px;
                }
            }
        }
        .chartSection {
            padding: 20px;
            .heading {
                figure {
                    margin: 0;
                }
                span {
                    font-size: 20px;
                    font-weight: 500;
                    color: $colordarkblue;
                    line-height: normal;
                    margin-left: 10px;
                }
            }
            p {
                font-size: 14px;
                font-weight: 400;
                color: $greyish;
                line-height: 21px;
                margin: 15px 0;
            }
            .indicator {
                margin-top: 15px;
                display: inline-flex;
                flex-direction: column;
                width: 100%;
                h4 {
                    font-size: 15px;
                    font-weight: 500;
                    color: $label2;
                    line-height: normal;
                    margin: 0;
                }
                .indicatorBG {
                    background-color: $whitecolor1;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                    padding: 25px;
                    max-width: 1024px;
                    width: 98%;
                    margin: 15px auto 0 auto;
                }
                .grade {
                    border-radius: 30px;
                    display: flex;
                    width: 65%;
                    height: 15px;
                    > div {
                        height: 100%;
                        display: flex;
                        position: relative;
                        &.poor {
                            width: 23%;
                            background-color: rgba(255, 87, 34, 1);
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
                        &.average {
                            width: 46%;
                            background-color: rgba(255, 183, 77, 1);
                        }
                        &.good {
                            width: 31%;
                            background-color: rgba(73, 174, 49, 1);
                            border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                        }
                        span {
                            position: absolute;
                            bottom: -15px;
                            left: 50%;
                            transform: translateX(-50%);
                            color: $grey2;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
                .percentageCircle {
                    width: 35%;
                }
            }
            .assessmentDetails {
                h5 {
                    font-size: 14px;
                    font-weight: 500;
                    color: $greyish;
                    line-height: normal;
                    margin: 20px 0 15px 0;
                }
            }
        }
    }
    .rightContainer {
            width: 100%;
            background-color: #fff;
            padding: 1.5em;
            box-shadow: 0 0 2px 0 #0000006b;
            position: relative;
            height: 100%;
        @media only screen and (min-width: 720px) {
            padding: 1em 2em 3em 2em;
        }
        @media only screen and (min-width: 992px) {
            width: 360px;
            position: fixed;
            right: 0;
            top: 0;
            top: 72px;
            padding: 3em 2em;
        }
        @media only screen and (min-width: 1140px) {
            width: 400px;
        }
        .desktopWrapper {
          label {
              font-weight: 500;
              display: inline-block;
              margin: 0 10px 0 0;
              color: $label2;
              // width: 28%;
            }
            .vocationalJobRole {
              width: 100%;
              text-align: right;
            }
      }
      .reportListContainer, .rightImageContainer {
        margin-top: 2em;
      }
      .reportListContainer {
       ul {
         list-style: none;
         li {
           cursor: pointer;
           .reportItem {
            font-size: 0.9375em;
            font-weight: 500;
            padding: 1em;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            margin-bottom: 0.75em;
            // background-color: #F9F9F9;
            box-shadow: 0px 1px 3px #00000029;
            border-left: 5px solid #1B4E9B;
            background: linear-gradient(to right, #1B4E9B 50%, #F9F9F9 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all .5s ease-out;
            span {
              color: #222222;
              transition: all .6s ease-out;
            }
            &:hover {
              // background-color: #1B4E9B;
              border-left: 5px solid #27BBEE;
              background-position: left bottom;
              span {
                color: $color-white;
              }
            }
           }
         }
       }
      }
    
    }
   
}
::ng-deep.vocationalJobRole {
  .mat-form-field {
    width: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: $color-white;
    // box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px $blackshade;
    // }
  }
}
::ng-deep.jobRole {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-infix {
    border-top: 0 solid transparent;
  }
  .mat-form-field-label-wrapper {
    top: -0.99375em;
  }
  .mat-select-value {
    color: $blackcolor;
    font-weight: 500;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 1.5em .75em 0 .75em;
    border-radius: 6px 6px 6px 6px;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0%);
  }
  .mat-form-field-ripple, 
  .mat-form-field.mat-focused .mat-form-field-ripple, 
  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: transparent;
  }
  .mat-form-field-underline {
    // border: 1px solid #cdcdcd;
    height: 100%;
    bottom: 0;
  }
  .mat-form-field.mat-focused .mat-form-field-label, .mat-form-field-label {
    color: $color-lightGray;
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow, 
  .mat-select-arrow {
    color: $black2;
  }
  .mat-select {
    text-transform: capitalize;
  }
  .noHandIcon {
    .mat-select-trigger {
      cursor: not-allowed;
    }
    .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
      cursor: not-allowed;
    }
  }
}
::ng-deep.jobRolecustomClass {
  position: relative;
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color:$blackshade;
  }
  .mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
    background-color: $blackshade;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $label2 !important;
  }
  .mat-option-text {
    text-transform: capitalize;
  }
}
::ng-deep.assessmentDetails {
    .mat-accordion {
        .mat-expansion-panel {
            border-radius: 4px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .mat-expansion-panel-spacing {
        margin: 0;
    }
}