@import "variable";

.programReportWrapper {
    flex-direction: column;
    @media only screen and (min-width: 992px) {
        flex-direction: row;
    }
    .leftContainer {
        width: 100%;
        background: #F2F2F2;
        padding: 20px 0;
        @media only screen and (min-width: 992px) {
            width: calc(100% - 360px);
        }
        @media only screen and (min-width: 1140px) {
            width: calc(100% - 400px);
        }
        .topSection {
            padding: 0 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        .heading {
            color: $blackcolor;
            font-size: 26px;
            font-weight: 700;
            line-height: normal;
        }
        .title {
            margin-top: 20px;
            span {
                display: flex;
                color: $greycolorshade;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
            }
            h4 {
                color: $lightshadeblue;
                font-size: 20px;
                font-weight: 500;
                line-height: normal;
                margin-top: 4px;
            }
        }
    }
    .rightContainer {
            width: 100%;
            background-color: #fff;
            padding: 1.5em;
            box-shadow: 0 0 2px 0 #0000006b;
            position: relative;
            height: 100%;
        @media only screen and (min-width: 720px) {
            padding: 1em 2em 3em 2em;
        }
        @media only screen and (min-width: 992px) {
            width: 360px;
            position: fixed;
            right: 0;
            top: 0;
            top: 72px;
            padding: 3em 2em;
        }
        @media only screen and (min-width: 1140px) {
            width: 400px;
        }
    }
}