<mat-tab-group style="padding: 20px;">
  <mat-tab label="Overview"> 
    <div class="row">
      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    

  </mat-tab>
  <mat-tab label="Courses"> Courses </mat-tab>
  <mat-tab label="Learner"> Learner </mat-tab>
</mat-tab-group>
