<mat-tab-group style="padding: 20px;">
  <mat-tab label="Overview"> 
    <div class="row">
      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>New Registrations</h3>
              <span class="count">2,684</span>
            </div>
    
            <div class="col-md-4 icon">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/NewRegistrations.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>Total Learners</h3>
              <span class="count">50,864</span>
            </div>
    
            <div class="col-md-4 icon newLerner">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg nLSize"  src="../../../../assets/learner/TotalLearners.svg">
              </div>
            </div>
          </div>
          <div class="row margintop">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>Active Learners</h3>
              <span class="count">1820</span>
            </div>
    
            <div class="col-md-4 icon bg-green">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg fontSize"  src="../../../../assets/learner/ActiveLearners.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <h3>Inactive Learners</h3>
            </div>
            <div class="col-md-3">
            </div>
          </div>

          <div class="row">
            <div class="col-md-9">
              <span class="count">1820</span>
            </div>
            <div class="col-md-3">
              <img class="charticon InactiveIcon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>Available Courses</h3>
              <span class="count">200</span>
            </div>
    
            <div class="col-md-4 icon bg-yellow">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg "  src="../../../../assets/learner/AvailableCourses.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/PieChartdisable.svg" onmouseover="this.src='../../../../assets/learner/PieChart.svg'"onmouseout="this.src='../../../../assets/learner/PieChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-12">
        <div class="smallbox">
          <div class="row">
            <div class="col-md-8 ">
              <h3>Total Enrollments</h3>
              <span class="count">72,684</span>
            </div>
    
            <div class="col-md-4 icon bg-brown">
              <div style="width: 60px;margin-left: 6px;">
                <img  class="iconImg"  src="../../../../assets/learner/TotalEnrolments.svg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <img class="charticon" src="../../../../assets/learner/BarChartdisable.svg" onmouseover="this.src='../../../../assets/learner/BarChart.svg'"onmouseout="this.src='../../../../assets/learner/BarChartdisable.svg'"/>
            </div>
          </div><br>

          <div class="row">
            <div class="col-md-4">
              <img class="trendicon" src="../../../../assets/learner/Trending_Up.svg">
              <span class="trendno">4%</span>
            </div>
            <div class="col-md-8">
              <span class="text">Up from Yesterday</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-8">
        <div class="container containerShadow">
          <div class="row">
            <div class="col-12 bg-color ">
              <div style="margin-top: 14px;">
                <strong> New Registrations</strong>
              </div>
            </div>
          </div><br>

          <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
              <select name="day" class="rounded" (change)="onChange($event.target.value)">
                <option *ngFor="let days of days"  [value]="days.id">{{days.name}}</option>
                </select>
            </div>
          </div>
          <div class="margin"></div>
          <div style="display: block">
            <canvas #lineChart>{{ chart }}</canvas>
            </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card" (click)="isCollapsed = !isCollapsed">
        
        <div class="card-body">
          <span>To Do List</span>
        </div>
    </div>

      <div  *ngIf="isCollapsed">
        <div class="card">
          <div class="card-body">
            You can collapse this card by clicking Toggle
          </div>
        </div>
      </div>
      </div>
      </div>




    <div style="margin-top: 10%;"></div>

    

  </mat-tab>
  <mat-tab label="Courses">
    
    
 </mat-tab>
  <mat-tab label="Learner"> Learner </mat-tab>
</mat-tab-group>
