@import "variable";
::ng-deep .mat-tab-group {
     display: block !important;
    flex-direction: column;
    overflow: hidden  !important
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
    height: 100% !important;
}

::ng-deep .mat-typography h3 {
    margin: 0 0 5px !important;
}

.smallbox{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    height: 146px;
    margin-bottom: 10px;
    width: 84%;
    color: $color-darkGrey ;
    border-radius: 10px;
    background-color: $color-white;
    -webkit-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
    box-shadow: 3px 3px 24px 13px rgba(0, 0, 0, 0.09);
}

h2{
    padding-left: 20px;
    padding-top: 18px;
    font-size: 22px;
    padding-bottom: 5px;
}

h3{
    padding-left: 27px;
    padding-top: 14px;
    font-size: 14px;
}

@media (min-width: 300px)  {
    .col-md-9{
        padding: 0px !important;
        width: 78%;
        position: relative;
    }
}

.count{
    font-size: 20px;
    font-weight: 500;
    margin-left: 27px;
    color:$color-blank;
}

@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 20% !important;
    }
}

@media (min-width: 300px){
    .col-md-4 {
        position: relative;
        width: 30% !important;
    }
}

@media (min-width: 300px){
    .col-md-8 {
        position: relative;
        width: 76% !important;
    }
}


.text{
    font-size: 12px;
    color:$color-border;
    margin-left: 27px;
}

.trendicon{
    margin-left: 30%;
}
.trendno{
    margin-left: 3px;
    color: $trend;
}


  .icon{
    background: $newRegistericon;
    max-width: 42px;
    max-height: 40px;
    margin-top: 9px;
    border-radius: 11px;
    margin-left: 13px;
  }
  .margintop{
      margin-top: 25%;
  }
  .fontSize{
    width: 22px !important;
    padding-left: 5px !important;
    margin-left: 2px !important;
  }
  .nLSize{
    width: 25px !important;
    margin-left: 2px !important; 
  }
  .bg-brown{
      background-color: #af481161 !important;
  }
  .InactiveIcon{
    margin-top: -7px !important;
  }

  .newLerner{
    background: $newLearner !important;
  }

  .bg-green{
      background-color: #7cfc0061;
  }
  .bg-yellow{
      background-color: #ffc10759 !important;
  }
  .iconImg{
    margin-left: 1px;
    padding-top: 11px;
    width: 26px;
    padding-left: 3px;
  }
  .charticon{
    margin-top: 7px;
    width: 26px !important;
  }

  .containerShadow {
    padding: 15px;
    -webkit-box-shadow: 0px 1px 4px 3px rgba(9, 9, 9, 0.2);
    -moz-box-shadow: 0px 1px 4px 3px rgba(9, 9, 9, 0.2);
    box-shadow: 0px 1px 4px 3px rgba(9, 9, 9, 0.2);
    margin-top: 20px;
  }

  .container{
      width: 97.5%;
      border-radius: 5px;
      background-color: $color-white;
      border: 1px solid #e3e3fe;
  }
  .bg-color{
      background-color: #e3e3fe;
      height: 44px;
      margin-top: -20px;
      border-radius: 3px;
  }
  .rounded{
    background: #e3e3fe;
  }
  .margin{
      margin-top: 7%;
  }

  


