<div class="limiter">
  <div class="container-reg100 p-t-77">
    <div class="wrap-reg p-l-50 p-r-50 p-t-77  p-b-30">
      <!-- <mat-card > -->
      <h2 style="text-align: center;"> Admin Sign In </h2> <br>
      <form [formGroup]="loginForm">

        <mat-card-content>
          <div class="form-group">
            <label>User Name</label>
            <!-- <span style="color: red;"> *</span> -->
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
            <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">User Name is required</div>
              <div *ngIf="f.username.errors.pattern">User Name is invalid</div>
              <div *ngIf="f.username.errors.minlength">User Name must be minimum of 3 characters </div>
              <div *ngIf="f.username.errors.maxlength">User Name must be 20 maximum of characters</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <!-- <span style="color: red;"> *</span> -->
            <input [type]="show ? 'text' : 'password'" name="password" formControlName="password" onCopy="return false"
              onDrag="return false" onDrop="return false" onPaste="return false" class="form-control"
              [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
            <i [class]="show ? 'fa fa-eye errspan' : 'fa fa-eye-slash errspan'" (click)="show = !show"
              aria-hidden="true"></i>
            <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
              <div *ngIf="f.password.errors.maxlength">Password must be 20 maximum of characters</div>
              <div *ngIf="f.password.errors.pattern">Your password pattern is invalid.</div>
              <!-- <div *ngIf="f.password.value"> Password and username cannot be same</div> -->
            </div>
          </div>
          <div class="forgot_ps">
            <!-- <mat-label  ><a [routerLink]="['/Learner/recover']"><strong>Forgot password/username?</strong></a></mat-label> -->
            <!-- recover -->
          </div>
          <!-- <br /> -->
          <!-- <mat-checkbox class="remember_me" formControlName="remember_me">
          Remember Me
        </mat-checkbox> -->
          <br><br>
          <!-- <br> -->

          <button id="login" mat-raised-button [disabled]="loginForm.invalid" (click)="login()">Sign
            in</button>
          <br><br>
          <!-- <div class="sign_up">Don't have an account? <a [routerLink]="['/Learner/register']"><strong>Sign
              up</strong></a> </div><br><br> -->
        </mat-card-content>
      </form>
      <!-- </mat-card> -->
    </div>
  </div>
</div>
<!-- </div> -->