<div class="behaviourContainer">
    <div class="bencmark-info">
        <button (click)="openBenchmarkInfo(benchmarkInfo)">
        <img src="../../../../assets/images/benchmark.svg" alt="Score Benchmark Info">
        <span >Score Benchmark Info</span>
    </button>
    </div>
</div>

<ng-template #benchmarkInfo>
    <div class="benchmarkInfo">
        <em  class="lxp-Close"></em>
        <div class="heading5">SCORE BENCHMARK INFO</div>
        <figure class="chart">
            <img src="../../../../assets/images/behaviourmeter.svg" alt="">
        </figure>
        <div class="score d-flex justify-content-between align-items-center flex-wrap">
            <ng-container *ngFor="let score of benchMarkScore">
                <div class="score-content" [ngClass]="{'red':score.color == 'red', 'green': score.color == 'green', 'yellow':score.color == 'yellow' ,'orange':score.color == 'orange'}">
                    <div class="scorepoint">{{score.score}}</div>
                    <div class="scorelabel">{{score.label}}</div>
                </div>
            </ng-container>
        </div>
        <figure class="growth">
            <img src="../../../../assets/images/growth.svg" alt="">
        </figure>
    </div>
</ng-template>