@import "variable";

.batch-home-container {
    height: 90%;
    .batch-home-header {
        height: 10%;
        border-bottom: 1px solid $color-border;
        display: flex;
        justify-content: flex-end;
        padding: 5px 15px;
        .batch-btn {
            button {
                background-color: #1f3777 !important;
                height: 33px;
                width: 150px;
            }
        }
        .input-container {
            .input-box {
                width: 250px;
                outline-color: #335b96;
                height: 33px;
                padding-right: 20px;
            }
            .search-icn {
                position: relative;
                right: 7%;
            }
        }
        .sort-dropdown {
            margin-right: 10px;
            label {
                margin-right: 10px;
                color: $color-darkGrey;
            }
            select {
                outline-color: #335b96;
                width: 100px;
                height: 33px;
                margin-left: 5px;
            }
        }
    }
    .breadcrumb {
        margin-bottom: 0.5em;
    }
}
