<div class="batch-home-container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
    </ol>
  </nav>

  <!-- -------------------------------------batch header ---------------------------->
  <div class="batch-home-header">

    <div class="sort-dropdown">
      <span>Sort by: </span>
      <select name="sort" id="sort">
        <ng-container *ngFor="let val of sortValue">
          <option [value]=val>{{val}}</option>
        </ng-container>
      </select>
    </div>

    <div class="input-container">
      <input class="input-box" (keydown)="_handleKeydown($event)" type="text" placeholder="Search" />
      <i class="fa fa-search search-icn" aria-hidden="true"></i>
    </div>
    <div class="batch-btn">
      <button mat-flat-button color="primary" [routerLink]="['/Admin/auth/batch/create']">Create a Batch</button>
    </div>
  </div>

  <!-- ------------------------------------main section................................... -->
  <div class="batch-card-container">
    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>

    <mat-card class="batch-card">

      <span class="batch-card-header">
        Batch 1
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            Khousalya
          </div>
          <div class="f_size_12">
            Start Date: 23/06/2020
          </div>
        </div>
        <div class="f_wt_500">
          On-going
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            24
          </div>
        </div>

      </div>
      <div class="border-btm">
      </div>
    </mat-card>
    <div class="batch-paginator">
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>