<div class="batch-home-container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
    </ol>
  </nav>

  <!-- -------------------------------------batch header ---------------------------->
  <div class="batch-home-header">

    <div class="sort-dropdown">
      <span>Sort by: </span>
      <select name="sort" id="sort">
        <ng-container *ngFor="let val of sortValue">
          <option [value]=val>{{val}}</option>
        </ng-container>
      </select>
    </div>

    <div class="input-container">
      <input class="input-box" [(ngModel)]="searchBatch" type="text" placeholder="Search" />
      <i class="fa fa-search search-icn" aria-hidden="true"></i>
    </div>
    <div class="batch-btn">
      <button mat-flat-button color="primary" [routerLink]="['/Admin/auth/batch/create']"
      [queryParams]="{isEdit:'false'}">Create a Batch</button>
    </div>
  </div>

  <!-- ------------------------------------main section................................... -->
  <div class="batch-card-container">
    <ng-container *ngFor="let batch of batchList | filter:searchBatch">
    
    <mat-card class="batch-card" (click)="editBatch(batch.batchid)">
      <span class="batch-card-header">
        {{batch.batchname}}
      </span>

      <div class="main-content-1">

        <div class="status">
          <div style="padding-bottom: 5px;" class="f_wt_500">
            {{batch.batchdescription}}
          </div>
          <div class="f_size_12">
            Start Date: {{batch.batchstartdate | date: 'dd/MMM/yyyy'}}
          </div>
        </div>
        <div class="f_wt_500">
          <span class="{{batch.batchstatus == 'On-going' ? 'dot-going' : (batch.batchstatus == 'Yet to start') ? 'dot-start' : 'dot-complete'}}"></span>
          {{batch.batchstatus}}
        </div>

      </div>

      <div class="main-content-2">

        <div class="courses">
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Courses
          </div>
          <div class="f_size_12">
            2 VILT | 5 self Learning
          </div>
        </div>
        <div>
          <div class="f_wt_500" style="padding-bottom: 5px;">
            Learners
          </div>
          <div>
            {{(batch.user_details && batch.user_details.length > 0) ? batch.user_details.length : '-' }}
          </div>
        </div>

      </div>
      <div class="{{batch.batchstatus == 'On-going' ? 'border-going' : (batch.batchstatus == 'Yet to start') ? 'border-start' : 'border-complete'}}">
      </div>
    </mat-card>
  </ng-container>
    <!-- <div class="batch-paginator">
      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div> -->
  </div>
</div>