@import "variable";
.cateName {
  // position: relative;
  // top: 8px;
  padding-top: 3px;
}
.dropdown-toggle{
  background-color: $color-white;
  color: #898989 !important;
  padding: 6px;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  border-radius: 0px;
  border: 1px solid #898989;
  width: 166px;
}
.dropdown-toggle:hover {
  background-color: $lxp-theme-green !important;
  color: $color-white !important;
}
.dropdown-toggle:focus, .dropdown-toggle:active:focus, .dropdown-toggle.active:focus {
  outline: none !important;
  background-color: none;
  color: #898989;
  outline-style: none !important;
  box-shadow: none;
}

// .hovercolor {
//   color: $color-white !important;
//   padding: 6px;
//   font-size: 16px;
//   padding-left: 6px;
//   border: none;
//   // border-radius: 11px;
//   border: 1px solid #898989;
//   width: 155px;
//   background-color: $lxp-theme-green !important;
// }
.cardContainer{
  height: 400px !important;
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lxp-theme-green;
}
.forgot1 {
  color: $lxp-text;
  // cursor: pointer;
  font-size: 13px;
}
.primerFlage{
  height: 70px;
  // width: 67px;
  position: absolute;
  // margin-left: 20px;
  z-index: 1;
}
.dot {
  font-size: 16px;
  font-weight: bolder;
}
.a-e{
  text-align: end;
}

.m-t-3 {
  margin-top: 3%;
}

.m-b-10 {
  margin-bottom: 12px;
}

.m-l-2 {
  margin-top: 2%;
}

.m-left-2 {
  margin-left: 2%;
}
// @media screen and (min-width: 270px) and (max-width: 795px) {
//     .descmc {
//         max-height: 175px !important;
//         min-height: 40px;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
//     @media screen and (max-width: 500px) {
//         .statBtn {
//             width: 60%;
//             margin: auto !important;
//             text-align: center !important;
//             display: block !important;
//         }
//         .courseHover {
//           width: 100% !important;
//           height: 200px !important;

//       }
//     }
// }

// @media screen and (min-width: 500px) and (max-width: 765px) {
//     .statBtn {
//         width: 50%;
//         float: right;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
// }

// @media screen and (min-width: 765px) {
//     .statBtn {
//         float: right;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
// }

.vertical {
  border-left: 160px solid $color-subhead;
  max-width: 100%;
  height: 4px;
  position: absolute;
  left: 1%;
  border-radius: 20px;
}

.mHead {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #616060;
}
// :host ::ng-deep .mat-tab-labels > .mat-tab-label:first-child {
//   display: inherit !important;
// }
:host ::ng-deep .myCc .mat-tab-label .mat-tab-label-content {
  font-size: 14px !important;
  font-weight: 400 !important;
  // margin-right: 58%;
  // color: $lxp-gray !important;
}

.m-l-4 {
  margin-left: 4%;
}

.m-p-2 {
  margin-top: 2%;
}

.para {
  display: inline-flex;
  font-size: 15px;
  padding: 17px;
}

.box-size {
  padding: 5px !important;
  font-size: medium;
  width: 100%;
}

.progess {
  width: 75px;
  margin-left: 3px;
  margin-top: -9%;
  // margin-left: 24%;
  // position: absolute;
}
.finalScore {
  font-size: 22px;
  padding: 16px;
  margin-top: -3px;
}
.f_size_12 {
  font-size: 12px;
}
.padscore {
  font-size: 32px;
  color: $lxp-theme-green;
}
.no-border {
  border: none !important;
}
.no-border:focus {
  border: none !important;
}
.point {
  font-size: 32px;
  padding: 23px;
  margin-top: -7px;
  color: $light-green;
}
.f_size_13 {
  font-size: 13px;
}
.width-80 {
  max-width: 80%;
}

:host ::ng-deep.mat-tab-label {
  height: 48px;
  padding: 0px 28px !important;
  // min-width: 130px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

:host ::ng-deep.mat-tab-label .mat-tab-label-content :hover {
  // color: $color-blank !important;
}

:host /deep/ .mat-ink-bar {
  height: 2px !important;
  background-color: $lxp-theme-green !important;
  // left: 8px !important;
  // width: 90px !important;
}

.m-b-2 {
  margin-bottom: 2%;
}
.m-l-40 {
  margin-left: 40px;
}
.bodybg {
  width: auto;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 100vh;
  display: flex;
  background-color: $color-white;
}

:host ::ng-deep.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: -8px;
}

:host /deep/ .mat-tab-body {
  html {
    overflow: scroll;
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent !important;
    scroll-behavior: smooth !important;
  }
}

.coursebg {
  background-color: $color_white;
  // margin-left: 1%;
  // margin-top: 1%;
  // margin-bottom: 1%;
  box-shadow: none;
}

.hrStyle {
  margin-left: 21px;
  width: 90%;
}

:host ::ng-deep.mat-card {
  padding: 16px !important;
  border-radius: 0px;
}

.f_size_22 {
  font-size: 22px;
}

.p-b-5 {
  padding-bottom: 5px;
}
.module{
  font-size: 16px;
  margin-left: 4px;
  font-weight: 600;

}

.myC-head {
  margin-left: 1% !important;
  margin-top: 2%;
  margin-bottom: 1%;
}

.courseImg {
  border: 1px solid $profile-s-grey;
  width: 100%;
  height: 100%;
  margin: auto;
  // margin-left: 26px;
  border-radius: 10px;
}

.courseHover {
  position: relative;
  // width: 150px;
  height: 126px;
  // padding-top: 15px;
  // bottom: 1px;
  // padding: 5px 0;
  // padding: 15px 0;
}

.overlay {
  position: absolute;
  bottom: 1%;
  // left: 25px;
  right: 0;
  /* padding: 15px 0; */
  background-color: #0000001f;
  overflow: hidden;
  width: 0;
  height: 98%;
  transition: 0.7s ease;
  border-radius: 10px;
}

.courseHover:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 32px !important;
  position: absolute;
  top: 50%;
  padding: 2px;
  left: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.courseImgs {
  // width: 100%;
  // height: 100%;
  width: 90px;
  margin-top: 15%;
  // padding: 21px;
  // margin: auto;
}
.errorboxx {
  padding: 5px !important;
  margin-top: 5%;
}

.m-l-1 {
  margin-top: 1%;
}

.color-blue {
  border-left: 3px solid $lxp-status-yellow !important;
  color: $color-blank !important;
}

.color-blue-card-status {
  border-left: 3px solid $bule2 !important;
  color: $color-blank !important;
}

.m-l-4 {
  margin-left: 4%;
}

.color-grey-card-status {
  border-left: 3px solid #b5acac !important;
  // color: #b5acac !important;
}

.color-yellow-card-status {
  border-left: 3px solid $lxp-status-yellow !important;
  color: $color-blank !important;
}

.LaunchBtn {
  border: 1px solid $lxp-theme-green !important;
  border-radius: 5px;
  position: relative;
  float: right;
  margin-top: -5px;
  border: 1px solid currentColor;
  padding: 0px 7px;
  line-height: 22px;
}

.m-b-10 {
  margin-bottom: 12px;
}

.statBtn {
  border: 1px solid $lxp-theme-green !important;
  margin-top: 23%;
}

// .mat-stroked-button {
//   border: 1px solid currentColor;
//   padding: 0px 7px;
//   line-height: 25px;
// }
.color-grey {
  border-left: 3px solid #b5acac !important;
}

.no_pl {
  padding-left: 0 !important;
}

.coursenameT {
  // border-left: 5px solid #f3cc58;
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-weight: 600;
  height: 40px;
  padding-top: 8px;
  font-size: 16px;
  cursor: pointer;
}
.m-b-1 {
  margin-bottom: 1%;
}
.m-t-05 {
  margin-top: -0.5%;
}
.status {
  background: $lxp-theme-green;
  // padding: 2px 6px;
  // float: right;
  border-radius: 4px;
  // width: 50px;
  height: 19px;
  border: none;
  font-size: 11px;
  position: relative;
  top: -8px;
  color: $color-white;
  // margin-top: 5px;
}

.Completedstatus {
  background: #b5acac;
  padding: 2px 6px;
  float: right;
  border-radius: 4px;
  font-size: 13px;
  color: $color-white;
  // margin-top:5px;
}

.Upcomingstatus {
  background: $bule2;
  padding: 2px 6px;
  float: right;
  border-radius: 4px;
  font-size: 13px;
  color: $color-white;
  margin-top: 5px;
}

.space-10 {
  margin-top: 10px;
}

.mainCard {
  background: #f9f9f9;
  margin-left: 3px;
  width: 98%;
  padding-top: 9px;
}

.session-card {
  border-radius: 0px;
  box-shadow: none;
  margin-left: 3%;
  height: auto;
  margin-bottom: 0%;
  background: transparent !important;
}

.session-sub-card {
  width: 96%;
  border-bottom: 1px solid #dedede;
}

.m-l-4 {
  margin-left: 4%;
  // padding-bottom: 5px;
}

hr {
  margin-bottom: 0.5rem;
}
.event {
  vertical-align: sub;
  color: $lxp-icon;
}

.person {
  position: absolute;
  margin-left: 10px;
  color: $lxp-icon;
  font-size: 18px;
}

.aligned-icon {
  position: absolute;
  color: $lxp-text;
  margin-left: 32px;
}

.color_black2 {
  color: $label;
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: $profile-t-grey !important;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: $lxp-gray !important;
}
.tabsc{
 & .mat-badge-content {
    color: $color-white;
    background: $lxp-gray !important;
  }
  
}

.mat-progress-bar {
  height: 8px;
  border-radius: 15px;
}

.material-icons {
  font-size: 18px;
}

.blue_clr {
  background-color: $color-white;
  color: $lxp-button-text;
}

.blue_clr:hover {
  background-color: $lxp-theme-green !important;
  color: $color-white !important;
}

.blue_clr1 {
  background-color: $color-white;
  color: $lxp-button-text;
}

.blue_clr1:hover {
  background-color: $lxp-theme-green !important;
  color: $color-white !important;
}

.pad1020 {
  // padding: 20px 0 10px 18px !important;
  padding-top: 20px !important;
  // padding-left: 10px !important;
  padding-left: 20px !important;
}

.icon-color {
  font-size: 22px;
}

.cap::first-letter {
  text-transform: capitalize !important;
}

.pad-10-12 {
  padding: 15px 15px 0px 15px;
}

.width_35 {
  width: 35% !important;
}
.p-l-8 {
  padding-left: 8%;
}
// .upcoming{
//   margin-left: 7.5%;
// }
.card12 {
  background: transparent !important;
}

.card12:hover {
  // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
}
.cap {
  text-transform: capitalize;
}

.m-t-30 {
  margin-top: 25px;
}
.m-t-2 {
  margin-top: 2%;
}
.m-t-m-2 {
  top: -1.5px;
  position: relative;
}
.m-t-8 {
  margin-top: 8px;
}
.m-l-2p {
  margin-left: 2px;
}
.m-t {
  margin-top: 10%;
}
.l-b-2 {
  border-right: 1.5px solid $color-border;
  border-right-style: dashed;
}
.video {
  color: $lxp-theme-green;
  position: relative;
  top: 6px;
  font-size: 20px;
  margin-left: 8px;
}

.upcoming {
  position: relative;
  // bottom: 22px;
  // left: 3px;
}
.tabside {
  color: $color-blank;
  position: absolute;
  font-size: 18px;
}

.btl-alin {
  /* margin-top: -0.5%; */
  // text-align: left;
  /* justify-content: end; */
  border: 1px solid $lxp-theme-green !important;
  position: absolute;
  margin-left: -10%;
  margin-top: 2px;
  width: 100px;
  z-index: 99;
  height: 32px;
  // left: 268px;
  // bottom: 5px;
  // margin-left: 25%;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 120px !important;
  padding: 3px !important;
  margin: 3px !important;
}

.margin {
  margin-left: 2%;
}

.pad-7 {
  padding: 7px;
  padding-top: 14px;
}

.percent {
  // margin-left: 5px;
  margin-top: 8px;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
}

.statBtn {
  border: 1px solid $lxp-theme-green;
  border-radius: 4px;
  width: 103px;
}

.statBtn1 {
  border: 1px solid $lxp-theme-green;
  border-radius: 4px;
  width: 120px;
}

.timer {
  position: relative;
  top: 3px;
  font-size: 15px;
  left: 8px;
  cursor: text !important;
}
.m-p-14 {
  margin-top: 14px;
}
.aligned-with-icon {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  // margin-top: 15%;
  left: -94%;
}

.span-with-icon {
  display: none;
}

.startBtnicon {
  display: none;
}

.startBtnDiv {
  display: block;
}

.m-t-1 {
  margin-top: 2.8%;
}
.noCourse {
  padding: 50px;
}
.m-l-3 {
  margin-left: 3px;
}
.footer {
  padding: 15px;
  font-size: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  // position: fixed;
  z-index: 1;
  color: $label;
  // position: absolute;
  z-index: 1;
  font-weight: 500;
  background-color: $profile-t-grey;
  text-align: right;
  border-top: 2px solid $profile-p-grey;
}

:host ::ng-deep.footericon {
  width: 9%;
  position: absolute;
  margin-left: 5px;
}

.roundbtn {
  background-color: $color-red;
  font-size: 16px;
  border: none !important;
  width: 28% !important;
  color: $color-white;
  height: 36px;
}

.roundbtn :focus {
  outline: none !important;
  border: none !important;
}

:host ::ng-deep.footericon {
  width: 9%;
  position: absolute;
  margin-left: 5px;
}

.showbtn {
  color: $lxp-theme-green !important;
  margin-left: -56px;
  margin-left: -72px;
  font-size: 19px;
  font-weight: 500;

  .showbtn {
    color: $lxp-theme-green !important;
    margin-left: -56px;
    margin-left: -72px;
    font-size: 19px;
    font-weight: 500;
  }

  .showbtn :focus {
    outline: none !important;
    border: none !important;
  }

  /* The Modal*/

  .modal {
    display: block;
    position: fiaxed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* Modal Content */

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
  }

  :host
    ::ng-deep
    .mat-tab-header-pagination-controls-enabled
    .mat-tab-header-pagination {
    display: none !important;
  }

  #insidecard.uk-card-default {
    background: $color-white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border-left: 8px solid #b5acac;
    padding: 10px;
    margin-bottom: 20px;
  }

  .color-grey {
    border-left: 8px solid #b5acac !important;
    // color: #b5acac !important;
  }

  .color-yellow {
    border-left: 8px solid $lxp-status-yellow !important;
    color: $color-blank !important;
  }

  .color-white {
    color: #b5acac;
    background: $color-white !important;
    border-left: 0px !important;
  }

  :host
    ::ng-deep
    .mat-tab-header-pagination-controls-enabled
    .mat-tab-header-pagination {
    display: none !important;
  }

  :host ::ng-deep .mat-tab-header {
    padding-left: 128px;
    margin-bottom: 15px;
  }

  :host ::ng-deep .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none !important;
  }

  .letter_space {
    letter-spacing: 0.5;
  }
}
.catalogDropdownCol {
  // margin-top: 1rem;
  padding-right: 0px;
  margin-top: 11px;
}

.courseDetailsCol {
  padding-left: 0px;
}
.template {
  display: none;
}

::ng-deep .dialogContainer {
  overflow-y: hidden !important;
  width: 75% !important;
  max-height: 85% !important;
  margin: auto;
}
.menuBtn {
  display: none;
}

.vertDropDownMenu {
  display: none;
}

.menuBtnHoriz {
  display: none;
}

.availableCont {
  display: none;
}
.catDropdowns {
display: none;
}

.parrentAccordian {
  border-bottom: 1px solid #E0E0E0;
  padding: 20px 0px;
}

.parrentAccordianSub{
  padding: 20px 0px 0px 0px;
}

.parrentAccordiansuper{
  padding: 20px 0px;
}

.hedding {
  font-size: 16px;
}
.accordianText  {
  font-size: 16px;
  color:#000000;
  position: relative;
  top: 18px;
}

.parrentSubAccord {
  height: 100%;
  margin-top: 1rem;
}

.accordianTextsub {
  font-size: 16px;
  color:#000000;
  margin-left: 5rem;
}

.matBadgeAvail {
  position: relative;
  background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}

.searchCol {
  padding-right: 5px;
}

.mobileSearchRow {
  display: none;
}

::ng-deep .mat-tab-labels > .mat-tab-label:first-child {
  display: none !important;
}

.courceNameTag {
  width: 350px; 
  word-wrap:break-word !important;
}

// Mobile
@media (min-width: 200px) and (max-width: 767.98px) {

.dropdown {
    margin-right: 0rem !important;
  }

 :host ::ng-deep .matInkBar .mat-ink-bar {
     display: none !important;
     visibility: hidden !important;
 }
  .module{
    font-size: 14px;
    font-weight: 500;
    
  }
  .catalogDropdownCol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-right: 1.5rem;
  }
  .mobileSearchRow {
    display: block;
  }
  .arrowIcon .material-icons {
    float: right;
    margin-top: 1%;
  }
  .matTabCol{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  :host ::ng-deep .container {
    margin-left: 0px !important;
  }

  .errorboxx {
    margin-top: 15%;
  }

  .cardContainer{
    height: 100% !important;
    max-height: 100% !important;
  }
  
  .arrowPopup {
    font-size: 24px;
  }

  .rowMargin {
    margin-bottom: 20px;
  }

  .primerFlage{
    height: 75px;
    position: absolute;
    margin-left: -4px;
    z-index: 1;
  }
  ::ng-deep .mat-dialog-container {
    overflow: hidden !important;
  }


  .availableContainer {
    position: fixed; 
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color_white;
    z-index: 2; 
    cursor: pointer; 
  }

  .displayNone {
    display: none;
  }

.catDropdown {
  display: none;
}


.hovercolor {
  display: none;
}

.catDropdowns {
  margin-right: -1rem;
  display: block;
  padding: 2px !important;
  float: right;
  border: none;
  color: #495057;
  font-size: 14px !important;
  width: 135px !important;
  background-color: white;
}
 
  #cdk-overlay-0 {
    width: 95%;
  }
  .dropdown {
    float: right;
  }

::ng-deep .dialogContainer {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden !important;
    margin: auto;
  }

  .finalScore {
    padding: 16px 9px;
  }

  .startBtnCol {
    margin-top: 10px;
  }

  .bodybg {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .catalogTitle {
    margin: auto;
  }

  .aligned-with-icon {
    left: 0px;
    margin-top: 5%;
  }

  .courseHover {
    width: 100%;
    height: 100%;
  }

  .startBtnicon {
    display: block;
    position: relative;
    font-size: 12px;
    left: 0px;
    margin-top: 5%;
  }

  .startBtnDiv {
    display: none;
  }

  .courceNameCol {
    padding-left: 2rem;
  }

  .timer {
    left: 0px;
  }

  .alarmCol {
    text-align: right;
    padding-right: 20px;
  }

  .courseImg {
    margin-left: 0px;
  }

  .courseDetailsCol {
    padding-left: 15px;
  }

  .startBtnRow {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btl-alin {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
  }
  .catPost {
    display: none;
  }
  .template {
    display: block;
  }
  :host ::ng-deep #mat-tab-label-0-4 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-5 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-6 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-7 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-8 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-9 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-10 {
    display: none !important;
  }

  .menuBtnHoriz {
    display: block;
    margin-left: 10px;
  }

  .dropdown-content {
    min-width: 20vh !important;
    max-width: 38vh !important;
  }

  .roleSelect {
    font-size: 14px !important;
  }

  .roleBtn {
   width: auto !important;
   padding: 2px !important;
   border: none !important;
  }

  .roleDropdDwnBtn {
    // right: 0% !important;
    // bottom: 0% !important;
    // top: 3px !important;
    // left: 48% !important;
  }

  .courceNameTag {
    width: 200px !important; 
  }

.coursenameCol {
  margin-top: 10px;
}

.roledropdowniconSelect {
  padding-top: 0px !important;
}

.roleBatchOnSelect {
    display: none;
    font-size: 10px;
    width: 15px !important;
    height: 15px !important;
}

:host ::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

.search {
  width: 100% !important;
}

.glyphicon {
  display: block;
  position: absolute;
  float: right;
  right: 1rem;
  top: 0.7rem;
}
// Temporary css 
.right-addon {
  display: none;
}

.popupsearch {
  display: none;
}
// .container {
//   width: 355px !important;
//   margin-left: 0px !important;

// }

}

@media (min-width: 768px) and (max-width: 991.98px) {
  .module{
    font-size: 14px;
    font-weight: 500;
    
  }
  .menuBtn {
    display: block;
    position: absolute;
    top: 0.2%;
    right: 1%;
  }
  :host
  ::ng-deep
  .mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  display: none !important;
}
  .courseImg {
    margin-left: 15px;
  }
  .color_black2 {
    padding-left: 0px;
  }
  .catalogDropdownCol {
    padding-right: 0px !important;
    margin-top: 0.5rem;
  }

  .btl-alin {
    margin-left: -6%;
  }

  .timer {
    font-size: 17px;
  }

  .dropdown {
    margin-right: 10px;
    float: right;
  }

  .span-with-icon {
    display: block;
    float: right;
  }

  .startBtnicon {
    display: none;
  }

  .startBtnDiv {
    display: block;
  }

  .aligned-with-icon {
    display: none;
  }

  .catnamesss {
    margin-right: 25px !important;
  }

  .roleDropdDwnBtn{
    margin: 0.5rem 23% 0% 0% !important;
    right: 13% !important;
    bottom: 0% !important;
  }

  .roleBtn {
    padding: 2px !important;
    width: 11.5rem !important;
  }

  .search {
    width: 40% !important;
    margin-left: 0px !important;
  }

  .searchExpand {
    width: 14rem;
    float: right;
    margin-left: 38px;
    border: 1px solid #898989;
    border-radius: 0px;
    height: 38px;
  }
  .searchExpand:focus {
    border: 1px solid #C02222;
    box-shadow: 0 0 0 0.05rem #C02222 !important;
  }
  .catalogTitle {
    margin: auto;
  }
  .primerFlage{
    height: 75px;
    position: absolute;
    margin-left: -4px;
    z-index: 1;
  }
  :host ::ng-deep #mat-tab-label-0-3 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-4 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-5 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-6 {
    display: none !important;
  }

  :host ::ng-deep #mat-tab-label-0-7 {
    display: none !important;
  }

  :host ::ng-deep #mat-tab-label-0-8 {
    display: none !important;
  }

  :host ::ng-deep #mat-tab-label-0-9 {
    display: none !important;
  }

  // Temp css
  .inner-addon {
    display: block;
  }
}

// @media (max-width: 480px) and (max-width: 320px) {
//   .descmc {
//     max-height: 175px !important;
//     min-height: 40px;
//   }

//   .courseHover {
//     width: 100% !important;
//     height: 200px !important;

//   }
//   .show-less {
//     height: 0rem;
//     overflow: hidden;
//     padding: 0rem;
//   }

//   .pad1020 {
//     padding-top: 0px !important;
//     padding-left: 0px !important;
//   }
// }

// @media (max-width: 568px) {
//   .descmc {
//     max-height: 175px !important;
//     min-height: 40px;
//   }
//   .show-less {
//     height: 0rem;
//     overflow: hidden;
//     padding: 0rem;
//   }
//   .courseHover {
//     width: 100% !important;
//     height: 200px !important;
//   }

//   .pad1020 {
//     padding-top: 0px !important;
//     padding-left: 0px !important;
//   }

// }
@media only screen and (width: 1440px) {
  .roleDropdDwnBtn {
    right: 53% !important;
  }
}

@media only screen and (width: 1280px) {
  .btl-alin {
    margin-left: -8%;
  }
  .searchCol {
    padding-right: 15px;
  }

  .roleDropdDwnBtn {
    right: 47% !important;
  }
 
  :host ::ng-deep #mat-tab-label-0-5 {
    display: none !important;
  }
}

@media only screen and (width: 1024px) {

  .roleDropdDwnBtn {
    right: 34% !important;
  }

  .searchCol {
    padding-right: 15px;
  }

  .right-addon .glyphicon {
    right: 15rem !important;
}

  .search {
    width: 53% !important;
    margin-left: 10px !important;
    float: left !important;
  }

  :host ::ng-deep #mat-tab-label-0-3 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-4 {
    display: none !important;
  }
  :host ::ng-deep #mat-tab-label-0-5 {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .descmc {
    max-height: 175px !important;
    min-height: 40px;
  }

  .courseHover {
    width: 100% !important;
    height: 200px !important;
  }
  .show-less {
    height: 0rem;
    overflow: hidden;
    padding: 0rem;
  }

  .startBtnDiv {
    display: none;
  }

  .startBtnicon {
    display: block;
  }

  .startBtnRow {
    width: 430px;
  }

  .btl-alin {
    margin-left: -7.5rem;
  }

  .pad1020 {
    padding-top: 0px !important;
    padding-left: 0px !important;
  }
}
.assignbtn {
  position: relative;
  left: 21px;
  bottom: 39px;
}
.discussionbtn {
  position: relative;
  right: 100px;
  bottom: 39px;
}
.buttonCls {
  button {
    border: solid 1px $color-blank !important;
    color: $lxp-text;
  }
  mat-icon {
    position: relative;
    top: 4px;
  }
}
.no-p-l {
  padding-left: 0px !important;
}
.clr {
  background-color: $color-white;
  color: $lxp-button-text;
  border: solid 1px $color-border !important;
  color: $lxp-text;
  border-radius: 4px;
  margin-top: 2px;
  padding-left: 2px;
  // margin-left: 9.5%;
  height: 32px;
}
.infoIcon {
  position: relative;
  font-size: 16px;
  top: 3px;
}
.clr:hover {
  background-color: $lxp-dark-gray !important;
  color: $color-white !important;
}

.mypanel {
  width: 130px !important;
}
.available-course-btn {
  border: 1px solid $lxp-gray;
  padding: 7px;
  border-radius: 4px;
  margin-left: 30px;
}
.mat-badge {
  top: 7px;
}

:host ::ng-deep .cc-tab {
  position: relative !important;
  left: 100px !important;
}
.btn-icon {
  position: relative;
  top: 4px;
}
.close-button {
  background: $lxp-theme-green !important;
  float: right;
  bottom: 8px;
  position: relative;
  right: -9px;
  height: 35px;
  width: 35px;
}
.download-icon {
  position: relative;
}

//Grid
.courseImage {
  height: 178px;
  width: 100%;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.imageover:hover .courseImage {
  opacity: 0.3;
}

.imageover:hover .overlayimage {
  opacity: 1;
}
.overlayimage {
  position: absolute;
  bottom: -9%;
  left: 0;
  margin: 15px;
  right: 0;
  background-color: #00000087;
  overflow: hidden;
  color: $color-white !important;
  font-size: 17px;
  height: 178px;
  transition: 0.7s ease;
  border-radius: 5px;
  opacity: 0;
  font-size: 18px;
  padding: 19px;
  color: #3f444a;
  font-size: 16px;
}
.overlay {
  opacity: 1;
}

.shortdesc {
  padding: 15px;
}
.box-shadow {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // max-height: 100%
  box-shadow: none;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.catnamenew {
  color: #3f444a;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600 !important;
}
.courseName {
  position: relative;
  /* left: 10px; */
  font-size: 18px;
  // padding: 0px 19px;
  color: #3f444a;
  font-size: 18px;
  font-weight: 600 !important;
}
.courseName1{
  position: relative;
  /* left: 10px; */
  font-size: 18px;
  padding: 0px 19px;
  color: #3f444a;
  font-size: 18px;
  font-weight: 600 !important;
}
:host ::ng-deep body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px !important;
    height: 5px !important;
}
::-webkit-scrollbar {
  width: 5px !important;
}
.size {
  font-size: large;
}
.search {
  width: 38%;
  float: right;
  margin-left: 38px;
  // position: relative;
  // left: 69px;
  // top: 1px;
  border: 1px solid #898989;
  border-radius: 0px;
  height: 38px;
  // outline: none !important;
  // box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}

.popupsearch {
  width: 27%;
  position: relative;
  left: 61%;
  top: 2px;
  border: 1px solid #898989;
  border-radius: 4px;
  height: 32px;
  outline: none !important;
}

/* dropdown badge alignment */
// #mat-badge-content-6, #mat-badge-content-7 ,#mat-badge-content-8{
//   float: right;
//   position: initial;
// }

// ::ng-deep .cdk-overlay-container .cdk-overlay-pane .mat-select-panel{
//   min-width: 146px !important;
//   pointer-events: auto !important;
//   font-size: 14px !important;
//   transform: translateX(7px) translateY(-16px) !important;
// }
// .availableCourseOption{
//   width: 150px;
// }

// :host ::ng-deep #mat-tab-label-0-3 {
//   display: none;
// }
// :host ::ng-deep #mat-tab-label-0-4 {
//   display: none;
// }
// :host ::ng-deep #mat-tab-label-0-5 {
//   display: none;
// }
:host ::ng-deep #mat-badge-content-3 {
  background: #898989 !important;
}
.catnamesss {
  margin-right: 35px;
  cursor: pointer !important;
  background: $color-white;
  border: none;
  padding: 0px;
  // height: 40px;
  /* margin-bottom: 28px; */
  color: #a2a2a2;
  & .mat-badge-content{
    background: #bab9b9 !important;
  }
}

.catnamesss:focus {
  border-bottom: 2px solid $lxp-theme-green !important;
  color: $color-blank !important;
  padding-bottom: 10px;
  & .mat-badge-content{
    background: $lxp-gray !important;
  }
}
.catPost {
  position: absolute;
  float: right;
  right: 20px;
  top: 14px;
  cursor: pointer;
  /* bottom: 0; */
  z-index: 999;
}
.available-course-btn:hover {
  background-color: $lxp-theme-green;
}
.cathd1 {
 padding-right: 10px;
}
.btnredClass {
  width: 67%;
  border: 1px solid $lxp-theme-green;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  border-radius: 8px;
}

.errorCard {
  height: 150px;
}

.hr-tag {
  top: 5px;
  position: relative;
}
.dropdownicon {
  position: relative;
  top: 4px;
  left: 5px;
}
// ::ng-deep .mat-menu-content {
//   min-width: 146px !important;
// }
// ::ng-deep .mat-menu-panel{
//   // margin-top: 60px !important;
//   position: relative;
//   top: 55px !important;
//   right: 3px !important;
// }
.matBadge {
  position: relative;
  float: right;
  right: 19px;
  top: 22px;
  background: $lxp-icon !important;
}
.lxp-text:hover {
  color: $color-white;
}
.h-50{
  height: 50px !important;
}

.roleDropdown{
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: $color-white;
  color: #898989;
  padding: 6px;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  // border-radius: 11px;
  border: 1px solid #898989;
  width: 155px;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 237.5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999999;
  text-transform: capitalize !important;
  width: -webkit-fill-available;
  min-height: auto;
  max-height: 250px !important;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content1 {
  display: none;
}

.dropdown:hover .dropbtn{
  background-color: $lxp-theme-green;
  color: $color-white;
}


.matBadge12 {
  position: relative;
  float: right;
  right: 26px;
  top: 22px;
  background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}
.matBadgeNew {
  // position: relative;
  // float: right;
  // right: 11px;
  // top: 22px;
  background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}
.dynamicBagde {
  background: #5c6873 !important;
  left: 31px !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}
.matBadgeSubmenu{
  position: relative;
  float: right;
  right: 22px;
  background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}
.matBadgesuperSub {
  position: relative;
  float: right;
  right: 22px;
  background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}

.contedrop {
  padding: 14px 0 1px 14px;
    
  cursor: pointer;
}
.contedrop:hover {
  background: #cecece !important;
}
// :host ::ng-deep mat-badge-content {
//   color: $color-white;
//   background: $lxp-icon !important;
// }

::ng-deep .tooltip-inner {

  opacity: 1 !important;
  font-size: 12px !important;
}
:host ::ng-deep .tooltip-arrow {
  opacity: 1 !important;
}
.claimIcon:hover {
  cursor: not-allowed;
}
.alarmcursor {
  cursor: text;
}
::ng-deep .custom-mat-tooltip {
    
  position:  relative !important;
  bottom: 80px !important;
  background-color: black !important;
  opacity: 1 !important;
  right: 20px !important;
  font-size: 12px !important;
}

.errorDialouge{
  height: 400px;
  text-align:center;
  padding-top: 13%;
}

.roledropdown{
  background-color: $color-white;
  color: #898989;
  padding: 6px;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  // border-radius: 11px;
  border: 1px solid #898989;
  width: 155px;
}
::ng-deep .roleDropdDwnBtn{
  // position: absolute !important;
  // right: 29% !important;
  // bottom: 6% !important;
  padding-bottom: 4px; 
  position: relative!important;
  /* right: 29% !important; */
  bottom: 32px !important;
  /* left: 15%; */
  margin-left: 17%;
  //  margin-bottom: 0%;
}
.roleBtn{
  background-color: $color-white;
  color: #898989;
  padding: 6px;
  font-size: 16px;
  padding-left: 6px;
  border: none;
  // border-radius: 11px;
  border: 1px solid #898989;
  min-width: 237.5px;
  // position: relative;
  // top: 10px;
}
.dropdown:hover .roleBtn{
  background-color: $lxp-theme-green;
  color: $color-white;
}

.roleSelect{
  // float: left;
  //   padding-left: 7px;
  //   padding-top: 2px;
    float: left;
    padding-left: 7px;
    padding-top: 2px;
    white-space: nowrap;
}
.roleSelectChange{	
  float: left;
  padding-left: 7px;
  padding-top: 2px;
}
.roledropdowniconSelect{	
  position: sticky;
  float: right;
  padding-top: 4px;
}
.roleBatchOnSelect{	  
  position: relative;	
  float: right;	
  right: 46px;	
  top: 12px;	
  background: #5c6873 !important;	
  & .mat-badge-content {	
    background: $lxp-gray !important;	
  }	
}
.roledropdownicon{
  position: relative;
  float: right;
 top: 3px;
}
.mat-menu-item:hover:not([disabled]) {
  background-color: $color-light-grey !important;
}
.roleBatch{
  position: relative;
    float: right;
    right: 31px;
    top: -23px;
    background: #5c6873 !important;
  & .mat-badge-content {
    background: $lxp-gray !important;
  }
}
::ng-deep .childMenu{
  width: 155px !important;
    margin-top: 49px !important;
}
::ng-deep .subchildMenu{
  width: 155px !important;
  position: relative !important;
  margin-top: 120px !important;
}
// ::ng-deep .superSubMenu{
//   width: 155px !important;
//   position: relative !important;
//   top: 120px !important;
//   right: 310px !important;
// }
.mat-menu-item-submenu-trigger::after {
  right: 6px !important;
}
// .searchIcon {
//   position: relative;
//     bottom: 26px;
//     left: 85%;
// }
.inner-addon {
  position: relative;
}
.searchDiv {
  right: 12px;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.inner-addon .searchIcon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.inner-addon .popupsearchIcon {
  right: 14%;
  top: 8px;
  position: absolute;
}

.right-addon .glyphicon {right: 14rem;}
.right-addon input { padding-right: 30px; }
.right-addon .searchIcon { right: 30px;}

.search:focus {
  border: 1px solid $lxp-theme-green !important;
  box-shadow: 0 0 0 0.05rem $lxp-theme-green !important;
}
.popupsearch:focus {
  border: 1px solid $lxp-theme-green !important;
  box-shadow: 0 0 0 0.05rem $lxp-theme-green !important;
}
.ccSearch:focus {
  border: 1px solid $lxp-theme-green !important;
  box-shadow: 0 0 0 0.05rem $lxp-theme-green !important;
}

// New mege menu

.dropdown-submenu {
  position: relative;
}
.dropdown-menu:hover {
  display: block !important;
}

.dropdown-menu:active {
  display: block !important;
}
:host ::ng-deep .dropdown-menu {
  min-width: 12rem !important;
  max-width: auto !important;
  left: unset !important;
  right: 2% !important;
  // height: 38px !important;
  border-bottom: 1px solid #e4dddd !important;
  padding-top: 9px !important;
  border-radius: 0px !important;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: unset !important;
  right: 100% !important;
  margin-top: -1.3rem;
    position: absolute;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover {
  background-color: $lxp-light-grey;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -16px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
li {
  cursor: pointer;
  height: 37px;
  padding-top: 10px;
}
.subMenu {
  min-width: 180px;
}

.superSubMenu {
  min-width: 320px !important;
}

.superSubSpan {
  padding-right: 2rem !important;
}
/* toolti[p config for job role by mani */
:host ::ng-deep .customClass .tooltip-inner{
 position: relative !important;
 left: 35px !important;
    bottom: 5px;
}
:host ::ng-deep .customClass .tooltip-arrow{
  position: relative !important;
  left: 30px !important;
 }
 :host ::ng-deep .custClass .tooltip-inner{
  position: relative !important;
  left: 46px !important;
  bottom: 5px;
 }
 :host ::ng-deep .custClass .tooltip-arrow{
  position: relative !important;
  left: 41px !important;
  }
  .h-30{
    height: 30px !important;
  }
 .oneLineCat {
   width: 167px !important;
   word-wrap:break-word !important;
  }

 .catalogTitle {
    height: 60px !important;
  }
  /* tooltip config end by mani */
