@import "variable";

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $lxp-theme-green;
}
.forgot1 {
  color: $lxp-text ;
  // cursor: pointer;
  font-size: 13px;
}

.dot {
  font-size: 16px;
  font-weight: bolder;
}

.m-t-3 {
  margin-top: 3%;
}

.m-b-10 {
  margin-bottom: 12px;
}

.m-l-2 {
  margin-top: 2%;
}

.m-left-2{
  margin-left: 2%;
}
// @media screen and (min-width: 270px) and (max-width: 795px) {
//     .descmc {
//         max-height: 175px !important;
//         min-height: 40px;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
//     @media screen and (max-width: 500px) {
//         .statBtn {
//             width: 60%;
//             margin: auto !important;
//             text-align: center !important;
//             display: block !important;
//         }
//         .courseHover {
//           width: 100% !important;
//           height: 200px !important;

//       }
//     }
// }

// @media screen and (min-width: 500px) and (max-width: 765px) {
//     .statBtn {
//         width: 50%;
//         float: right;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
// }

// @media screen and (min-width: 765px) {
//     .statBtn {
//         float: right;
//     }
//     .courseHover {
//       width: 100% !important;
//       height: 200px !important;

//   }
// }

.vertical {
  border-left: 160px solid $color-subhead;
  max-width: 100%;
  height: 4px;
  position: absolute;
  left: 1%;
  border-radius: 20px;
}

.mHead {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #616060;
}
:host ::ng-deep .mat-tab-labels > .mat-tab-label:first-child{
  display: inherit !important;
}
:host ::ng-deep .myCc .mat-tab-label .mat-tab-label-content {
  font-size: 14px !important;
  font-weight: 400 !important;
  // margin-right: 58%;
  // color: $lxp-gray !important;

}

.m-l-4 {
  margin-left: 4%;
}

.m-p-2 {
  margin-top: 2%;
}

.para {
  display: inline-flex;
  font-size: 15px;
  padding: 17px;
}

.box-size {
  padding: 5px !important;
  font-size: medium;
  width: 100%;
}

.progess {
  width: 75px;
  margin-left: 3px;
  // margin-left: 24%;
  // position: absolute;

}
.finalScore{
  font-size: 22px;
    padding: 16px;
    margin-top: 11px;

}
.padscore{
  font-size: 32px;
  color: $lxp-theme-green;
}
.no-border{
  border: none !important;
}
.no-border:focus{
  border: none !important;
}
.point{
  font-size: 32px;
    padding: 23px;
    // margin-top: 25px;
    color: $light-green;

}
.f_size_13{
  font-size: 13px;
}
.width-80 {
  max-width: 80%
}

:host ::ng-deep.mat-tab-label {
  height: 48px;
  padding: 0px 28px !important;
  // min-width: 130px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

:host ::ng-deep.mat-tab-label .mat-tab-label-content :hover {
  // color: $color-blank !important;
}

:host /deep/ .mat-ink-bar {
  height: 2px !important;
  background-color: $lxp-theme-green !important;
  // left: 8px !important;
  // width: 90px !important;
  
}

.m-b-2 {
  margin-bottom: 2%;
}
.m-l-40{
  margin-left: 40px;
}
.bodybg {
  width: auto;
  padding-left: 18px;
  padding-right: 18px;
  min-height: 100vh;
  display: flex;
  background-color: $color-white;
}

:host ::ng-deep.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

:host /deep/ .mat-tab-body {

  html {
    overflow: scroll;
    overflow-x: hidden !important;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent !important;
  }
}

.coursebg {
  background-color: $color_white;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: none;
  
}

.hrStyle {
  margin-left: 21px;
  width: 90%;
}

:host ::ng-deep.mat-card {
  padding: 0%;
  border-radius: 0px;
}

.f_size_22 {
  font-size: 22px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.myC-head {
  margin-left: 1.4% !important;
  margin-top: 2%;
  margin-bottom: 1%;
}

.courseImg {
  border: 1px solid $profile-s-grey;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-left: 0;
  border-radius: 10px;
}


.courseHover {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 5px 0;
  padding: 15px 0;
}

.overlay {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  padding: 15px 0;
  background-color: #0000001f;
  overflow: hidden;
  width: 0;
  height: 80%;
  transition: .7s ease;
  border-radius: 10px;
}

.courseHover:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 32px !important;
  position: absolute;
  top: 50%;
  padding: 2px;
  left: 50%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.courseImgs {
  // width: 100%;
  // height: 100%;
  width: 90px;
  // padding: 21px;
  // margin: auto;
}
.errorboxx{
  padding: 5px !important;
  margin-top: 2.8%;
}

.m-l-1 {
  margin-top: 1%;
}

.color-blue {
  border-left: 3px solid $lxp-status-yellow !important;
  color: $color-blank !important;
}

.color-blue-card-status {

  border-left: 3px solid $bule2 !important;
  color: $color-blank !important;
}

.m-l-4 {
  margin-left: 4%;
}

.color-grey-card-status {
  border-left: 3px solid #b5acac !important;
  // color: #b5acac !important;
}

.color-yellow-card-status {
  border-left: 3px solid $lxp-status-yellow !important;
  color: $color-blank !important;
}


.LaunchBtn {
  border: 1px solid $lxp-theme-green !important;
  border-radius: 5px;
  position: relative;
  float: right;
  margin-top: -5px;
  border: 1px solid currentColor;
  padding: 0px 7px;
  line-height: 22px;
}

.m-b-10 {
  margin-bottom: 12px;
}

.statBtn {
  border: 1px solid $lxp-theme-green !important;
  margin-top: 23%;
}

// .mat-stroked-button {
//   border: 1px solid currentColor;
//   padding: 0px 7px;
//   line-height: 25px;
// }
.color-grey {
  border-left: 3px solid #b5acac !important;
}

.no_pl {
  padding-left: 0 !important;
}

.coursenameT {
  // border-left: 5px solid #f3cc58;
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-weight: 600;
  height: 40px;
  padding-top: 8px;
  font-size: 16px;
  cursor: pointer;

}
.m-b-1{
  margin-bottom: 1%;
}
.m-t-05{
  margin-top: -0.5%;
}
.status {
  background: $lxp-theme-green;
  // padding: 2px 6px;
  // float: right;
  border-radius: 4px;
  // width: 50px;
  height: 19px;
  border: none;
  font-size: 11px;
  position: relative;
  top:-8px;
  color: $color-white;
  // margin-top: 5px;
}

.Completedstatus {
  background: #b5acac;
  padding: 2px 6px;
  float: right;
  border-radius: 4px;
  font-size: 13px;
  color: $color-white;
  // margin-top:5px;
}

.Upcomingstatus {
  background: $bule2;
  padding: 2px 6px;
  float: right;
  border-radius: 4px;
  font-size: 13px;
  color: $color-white;
  margin-top: 5px;
}

.space-10 {
  margin-top: 10px;
}

.mainCard {
  background: #f9f9f9;
  margin-left: 3px;
  width: 98%;
  padding-top: 9px;
}

.session-card {
  border-radius: 0px;
  box-shadow: none;
  margin-left: 3%;
  height: auto;
  margin-bottom: 0%;
  background: transparent !important;

}

.session-sub-card {
  width: 96%;
  border-bottom: 1px solid #dedede;
}

.m-l-4 {
  margin-left: 4%;
  // padding-bottom: 5px;
}



hr {

  margin-bottom: 0.5rem;
}
.event{
  vertical-align: sub;
  color: $lxp-icon;
}

.person {
  position: absolute;
  margin-left: 10px;
  color: $lxp-icon;
  font-size: 18px;
}

.aligned-icon {
  position: absolute;
  color: $lxp-text;
  margin-left: 32px;
}

.color_black2 {
  color: $label;
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: $profile-t-grey !important;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: $lxp-gray !important;
}

:host ::ng-deep .mat-badge-content {
  color: $color-white;
  background: $lxp-gray;
}

.mat-progress-bar {
  height: 8px;
  border-radius: 15px;
}

.material-icons {
  font-size: 18px;
}

.blue_clr {
  background-color: $color-white;
  color: $lxp-button-text;

}

.blue_clr:hover {
  background-color: $lxp-theme-green !important;
  color: $color-white !important;
}

.blue_clr1 {
  background-color: $color-white;
  color: $lxp-button-text;
}

.blue_clr1:hover {
  background-color: $lxp-theme-green !important;
  color: $color-white !important;
}



.pad1020 {
  // padding: 20px 0 10px 18px !important;
  padding-top: 20px !important;
  // padding-left: 10px !important;
  padding-left: 20px !important;
}

.icon-color {
  font-size: 22px;
}


.cap::first-letter {
  text-transform: capitalize !important;
}

.pad-10-12 {
  padding: 15px 15px 0px 15px;
}

.width_35 {
  width: 35% !important;
}
.p-l-8{
  padding-left: 8%;
}
// .upcoming{
//   margin-left: 7.5%;
// }
.card12{
  background: transparent !important;
}

.card12:hover {
  // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
}
.cap{
  text-transform: capitalize;
}

.m-t-30{
  margin-top: 25px;
}
.m-t-2{
margin-top: 2%;
}
.m-t-8{
  margin-top: 8px;
}
.m-l-2p{
  margin-left: 2px;
}
.m-t{
  margin-top: 20%
}
.l-b-2{
  border-right: 1.5px solid $color-border; 
  border-right-style: dashed;
}
.video{
  color: $lxp-theme-green;
  position: relative;
  top: 6px;
  font-size: 20px;
  margin-left: 8px;
}

.upcoming {
  position: relative;
    bottom: 22px;
    left: 38px;
}
.tabside{
  color:$color-blank;
  position: absolute;
  font-size: 18px;
}

.btl-alin {
  /* margin-top: -0.5%; */
  // text-align: left;
  /* justify-content: end; */
  border: 1px solid $lxp-theme-green !important;
  position: absolute;
    margin-left: 18%;
    z-index: 99;
    height: 34px;
  // left: 268px;
    // bottom: 5px;
  // margin-left: 25%;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 120px !important;
  padding: 3px !important;
  margin: 3px !important;
}

.margin {
  margin-left: 2%;
}

.pad-7 {
  padding: 7px;
  padding-top: 14px;
}

.percent {
  // margin-left: 5px;
  margin-top: 8px;
  width: 50px;
  font-size: 14px;
  font-weight: 400;
}

.statBtn {
  border: 1px solid $lxp-theme-green;
  border-radius: 4px;
  width: 103px;
}

.statBtn1 {
  border: 1px solid $lxp-theme-green;
  border-radius: 4px;
  width: 120px;
}



.timer {
  position: relative;
  top: 3px;
  font-size : 15px;
  left: 8px;
  
}

.aligned-with-icon {
  position: relative;
  // left: 420px;
  font-size:12px;
  margin-top: 11%;
}

.noCourse {
  padding: 50px;
}

.footer {
  padding: 15px;
  font-size: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  // position: fixed;
  z-index: 1;
  color: $label;
  // position: absolute;
  z-index: 1;
  font-weight: 500;
  background-color: $profile-t-grey;
  text-align: right;
  border-top: 2px solid $profile-p-grey;
}

:host ::ng-deep.footericon {
  width: 9%;
  position: absolute;
  margin-left: 5px;

}

.roundbtn {
  background-color: $color-red;
  font-size: 16px;
  border: none !important;
  width: 28% !important;
  color: $color-white;
  height: 36px;
}

.roundbtn :focus {
  outline: none !important;
  border: none !important;
}

:host ::ng-deep.footericon {
  width: 9%;
  position: absolute;
  margin-left: 5px;
}

.showbtn {
  color: $lxp-theme-green !important;
  margin-left: -56px;
  margin-left: -72px;
  font-size: 19px;
  font-weight: 500;



  .showbtn {
    color: $lxp-theme-green !important;
    margin-left: -56px;
    margin-left: -72px;
    font-size: 19px;
    font-weight: 500;
  }

  .showbtn :focus {
    outline: none !important;
    border: none !important;
  }


  /* The Modal*/

  .modal {
    display: block;
    position: fiaxed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }


  /* Modal Content */

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
  }

  :host ::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }

  #insidecard.uk-card-default {
    background: $color-white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border-left: 8px solid #b5acac;
    padding: 10px;
    margin-bottom: 20px;
  }

  .color-grey {
    border-left: 8px solid #b5acac !important;
    // color: #b5acac !important;
  }

  .color-yellow {
    border-left: 8px solid $lxp-status-yellow !important;
    color: $color-blank !important;
  }

  .color-white {
    color: #b5acac;
    background: $color-white !important;
    border-left: 0px !important;
  }

  :host ::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
  }

  :host ::ng-deep .mat-tab-header {
    padding-left: 128px;
    margin-bottom: 15px;
  }

  :host ::ng-deep .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: none !important;
  }

  .letter_space {
    letter-spacing: 0.5;
  }
}

// Mobile 
@media (max-width: 480px) and (max-width: 320px) {
  .descmc {
    max-height: 175px !important;
    min-height: 40px;
  }

  .courseHover {
    width: 100% !important;
    height: 200px !important;

  }
  .show-less {
    height: 0rem;
    overflow: hidden;
    padding: 0rem;
  }

  .pad1020 {
    padding-top: 0px !important;
    padding-left: 0px !important;
  }
}

@media (max-width: 568px) {
  .descmc {
    max-height: 175px !important;
    min-height: 40px;
  }
  .show-less {
    height: 0rem;
    overflow: hidden;
    padding: 0rem;
  }
  .courseHover {
    width: 100% !important;
    height: 200px !important;
  }

  .pad1020 {
    padding-top: 0px !important;
    padding-left: 0px !important;
  }

}

@media only screen and (max-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .descmc {
    max-height: 175px !important;
    min-height: 40px;
  }

  .courseHover {
    width: 100% !important;
    height: 200px !important;
  }
  .show-less {
    height: 0rem;
    overflow: hidden;
    padding: 0rem;
  }

  .pad1020 {
    padding-top: 0px !important;
    padding-left: 0px !important;
  }

}
.assignbtn {
  position: relative;
  left: 21px;
  bottom: 39px;
}
.discussionbtn {
  position: relative;
  right: 100px;
  bottom: 39px;
}
.buttonCls {
button {
  border: solid 1px $color-blank !important;
  color: $lxp-text;
}
mat-icon {
  position: relative;
  top: 4px;
}
}
.clr {
  background-color: $color-white;
  color: $lxp-button-text;
  border: solid 1px $color-border !important;
  color: $lxp-text;
  margin-left: 9.5%;
  height: 32px;

}
.infoIcon{
  position: relative;
    font-size: 16px;
    top: 3px;
}
.clr:hover {
  background-color: $lxp-dark-gray !important;
  color: $color-white !important;
}

.mypanel{
  width: 130px !important;
}
.available-course-btn{
  border: 1px solid $lxp-gray;
  padding: 7px;
  border-radius: 4px;
  margin-left: 20px;
}
.mat-badge{
  top:7px
}

:host ::ng-deep .cc-tab{
  position: relative !important;
  left: 100px !important;
}
.btn-icon{
  position: relative;
  top: 4px;
}
.close-button {
  background: $lxp-theme-green !important;
  float: right;
  bottom: 8px;
  position: relative;
  right: -9px;
  height: 35px;
  width: 35px;
}
.download-icon {
  position: relative;
}
//Grid
.courseImage{
  height: 178px;
  width: 100%;
  
}

.overlay {
  opacity: 1;
}

.shortdesc{
  padding: 15px;
}
.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 100%
}
.courseName {
  position: relative;
  left: 10px;
  font-size: 18px;
}

.size {
  font-size: large
}
.search {
  width: 60%;
  position: relative;
  bottom: 2px;
  outline: none;
  box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
  
}
/* dropdown badge alignment */
// #mat-badge-content-6, #mat-badge-content-7 ,#mat-badge-content-8{
//   float: right;
//   position: initial;
// }


::ng-deep .cdk-overlay-container .cdk-overlay-pane .mat-select-panel{
  min-width: 146px !important;
  pointer-events: auto !important;
  font-size: 14px !important;
  transform: translateX(7px) translateY(-16px) !important;  
}
.availableCourseOption{
  width: 150px;
}
::ng-deep .tooltip-inner{
  
  opacity: 0.6 !important;
}
:host ::ng-deep .tooltip-arrow {
  opacity: 0.6 !important;
}
.catnamesss{
  padding: 0px 0px 6px;
  margin-right: 35px;
  /* margin-bottom: 28px; */
  color: #b8b8b8;
  border: none;
  background: $color-white;
  /* border-bottom: 1px solid #e0e0e0; */
  cursor: pointer;
  height: 34px;
}

.catnamesss:focus{
  border-bottom: 2px solid $lxp-theme-green !important;
  color:$lxp-text !important;
}
.catPost{
  position: absolute;
  float: right;
  right: 32px;
  top: 122px;
  /* bottom: 0; */
  z-index: 999;

}