<app-header></app-header>

<div class="row">
    <div class="col-10">
        <div class="f_size_22 myC-head animated animatedFadeInUp fadeInUp ">{{'My Courses' | translate }}</div>
    </div>
    <div class="col-2 mt-4">
        <span>
            <mat-button class="available-course-btn">
                <mat-select class="mypanel" placeholder="{{catalogueName}}" name="availableCourses" [(ngModel)]="availableCourses"
                (selectionChange)="availableCoursesDropdown(availableCourses)" 
                 required>
                <!-- <mat-option [value]="'ontime'">
                    <span>
                        College Connect
                    </span>
                    <span matBadge="20" matBadgePosition="after" matBadgeColor="warn"></span></mat-option>
                <mat-option [value]="'late'"><span>Vocational</span>
                    <span matBadge="10" matBadgePosition="after"></span></mat-option>
                <mat-option [value]="'not-submitted'"><span>
                    Pro Certification
                </span>
                <span matBadge="10" matBadgePosition="after"></span>
            </mat-option> -->
            <mat-option *ngFor="let category of categoryDetails" [value]="category.categoryId">{{category.categoryName}}
                <span matBadge="{{category.categoryCount}}" matBadgePosition="after"></span>
            </mat-option>
              </mat-select>
            </mat-button>
        </span>
       
    </div>
</div>

<!-- tabs here -->
<div class="row">
    <div class="col-12">
        <mat-tab-group mat-align-tabs="start" animationDuration="1000ms" class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 myCc container p-0 ">
            <mat-tab>
                <!-- [disabled]='incom.plete?length === 0' -->
                <ng-template matTabLabel>
                    <span matBadge="{{incomplete?.length}}" matBadgeOverlap="false">{{'Ongoing' | translate }}</span>
                </ng-template>

                  <div  *ngFor="let course of incomplete ;let j=index">
                            <mat-card class="coursebg" matRipple>
                                <!-- <div class="row width_100 no_margin"> -->
                                <!-- <div class="col-12 display_flex pointer no_pl" (click)="gotoDesc(course)"> -->
                                <div class="row">
<!-- // Card start -->
     <div class="col-7 l-b-2">
       <div class="row">
        <div class="col-2">
            <div class="courseHover" (click)="gotoDesc(course)"  data-toggle="modal" data-target="#myModal">
                <img alt="Course Img" src="{{course.course_img_url}}" class="courseImg">
                <div class="overlay">
                    <mat-icon class="text"> play_arrow </mat-icon>
                </div>
            </div>
        </div>
            <div class="col-8 m-t-2">
                <div class="p-l-8 f_size_18 f_wt_500 pointer" >
                   <span>
                    {{course.course_name}}
                   </span> 
                </div> 
                <div class="row">
                    <div class="col-10 p-l-3 width_100 m-l-2 color_black2 f_size_14 descmc f_wt_400  pointer" (click)="gotoDesc(course)">
                            <p style="margin-left: 41px;">
                                {{(course.course_description?.length > 100)? (course.course_description | slice:0:100)+'...':(course.course_description) }}
                            </p>
                    </div>
                </div>
                <div class="row">
                   <div class="col-10">
                            <button class="clr" (click)="goToAssignment(course)">
                                <mat-icon class="btn-icon">description</mat-icon>
                                <span>Assignments ({{course.assignmentCount}})</span>
                            </button>
                       
                  
                        <button class="clr ml-4" (click)="goToForum(course)">
                            <mat-icon class="btn-icon">forum</mat-icon>
                            <span>Discussion Forum ({{course.forumCount}})</span>
                        </button>       
                   </div>
                   <div class="">
                    <button mat-stroked-button  data-toggle="modal" data-target="#myModal" *ngIf="course?.coursePlayerStatus?.status !== 'completed'" class=" btl-alin blue_clr cap pointer" (click)="gotoDesc(course)">
                        <mat-icon class="icon-color">play_circle_outline</mat-icon>
                        <span class="cap f_wt_400">
                          {{course?.coursePlayerStatus?.status === 'incomplete | translate ' ? 'Resume | translate ' : 
                              course?.coursePlayerStatus?.status === 'suspend | translate ' ? 'Resume | translate ' : 'Start' | translate }}&nbsp;
                        </span>
                      </button>
                      <button mat-stroked-button *ngIf="course?.coursePlayerStatus?.status === 'completed'" class="btl-alin blue_clr cap pointer" data-toggle="modal" data-target="#myModal" (click)="gotoDesc(course)">
                      <mat-icon class="icon-color">replay</mat-icon>
                      <span class="cap f_wt_400">
                        {{'Replay' | translate }}&nbsp;
                      </span>
                    </button>
                   </div>
                </div>

                <div class="row">
                    <div class="col-12" class="m-t-30">
                            <span class="upcoming">Upcoming...      9 am to 10 am  | Live classroom  <mat-icon class="video">videocam</mat-icon></span>
                    </div>
            
                </div>
            </div>

            <div class="col-2">
                <div class="aligned-with-icon">  
                    <mat-icon class="timer"> alarm_on </mat-icon>
                    {{course?.course_duration != 1  ? (course.course_duration ? course.course_duration + ' hours' : '1' + ' hour') : '1' + 'hour'}}
            </div>
            </div>
        </div> 
    </div> 
        <div class="col-5">
            <div class="row m-t-2 m-l-2p">
                <div class="col-3">
                    <div>Activity</div>
                </div>
                <div class="col-3">
                    <div>Learning effort</div>
                </div>
                <div class="col-3">
                    <div>Points earned</div>
                </div>
                <div class="col-3">
                    <div >Final score</div>
                </div>
            </div>

            <div class="row m-t-2 m-l-2p">
                <div class="col-3">
                    <div class="m-t" ><sapn class="padscore">4</sapn> <sapn class="f_size_22">/</sapn> <span class="f_size_20">20</span></div>
                    <span>Pending</span>
                </div>
                <div class="col-3">
                    <div class="progess pointer">
                        <circle-progress [percent]="course?.coursePlayerStatus?.course_percentage|| 0" [radius]="10" [outerStrokeWidth]="1" [innerStrokeWidth]="1" [space]="-1" [outerStrokeColor]="'#ffcc00'" [innerStrokeColor]="'#9d9d9d'" [titleFontSize]="7" [unitsFontSize]="7"
                            [showSubtitle]="false" [animation]="true" [animationDuration]="300" [startFromZero]="false" [responsive]="true">
                        </circle-progress>
                    </div>
                </div>
                <div class="col-3">
                    <div class="point">56</div>
                </div>
                <div class="col-3">
                    <div class="finalScore">- - -</div>
                </div>
            </div>
        </div>
<!-- card end -->
        </div>
        </mat-card>
                  </div>



                <div *ngIf="incomplete?.length === 0" class="space5">
                    <mat-card class="coursebg width_90">
                        <div class="row width_90 no_margin">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 display_flex pointer no_pl" (click)="gotoDesc(course)">
                                <div class="lineer"></div>
                                <img alt="Course Img" src="assets/noCourseImg.jpg" class="courseImgs">
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 no_pl" style="padding: 5px !important;margin : auto">

                                <span style="font-size: medium;">{{'You have no enrolled courses at the moment.' | translate }}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span matBadge="{{completed?.length}}" matBadgeOverlap="false">{{'Completed' | translate }}</span>
                </ng-template>
                <div class="container" *ngFor="let course of completed;let k=index">
                    <mat-card class="coursebg" matRipple>
                        <!-- <div class="row width_100 no_margin"> -->
                        <!-- <div class="col-12 display_flex pointer no_pl" (click)="gotoDesc(course)"> -->
                        <div class="row">
                            <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                                <div class="courseHover" (click)="gotoDesc(course)" data-toggle="modal" data-target="#myModal">
                                    <img alt="Course Img" src="{{course.course_img_url}}" class="courseImg">
                                    <div class="overlay">
                                        <mat-icon class="text"> play_arrow </mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="no_pl pad1020">
                                    <div class=" no_pl">
                                        <div class=" font f_size_18 f_wt_500 pointer" >
                                            {{course.course_name}}
                                        </div>
                                    </div>
                                    <div class="no_pl width_100 color_black2 m-l-2 f_size_14 descmc f_wt_400  pointer">
                                        {{(course.course_description?.length > 100)? (course.course_description | slice:0:100)+'...':(course.course_description) }}
                                    </div>
                                    <div class="width_100 color_black2 f_size_12 f_wt_400 space2 m-b-2 pointer" >
                                        {{course.course_mode === 'self-placed' ? 'Self paced' : course.course_mode}}

                                        <span class="dot" *ngIf="course.course_mode">&nbsp;.&nbsp;</span>
                                        <span *ngFor="let l of course?.author_details;let in = index">
                                        {{l.author_name && in != 0 ? ', ' + l.author_name : l.author_name || null}}
                                        <span class="dot" *ngIf="l.author_name">&nbsp;.&nbsp;</span>
                                        </span>


                                        <mat-icon class="timer"> alarm_on </mat-icon>
                                        <span class="aligned-with-icon"> {{course?.course_duration != 1  ? (course.course_duration ? course.course_duration + ' hours | translate ' : '1' + ' hour | translate ') : '1' + 'hour | translate '}} </span>
                                        <!-- <span class="aligned-with-icon"> {{course.course_duration ? course.course_duration : '0'}} hours</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="progess pointer">
                                    <circle-progress [percent]="course?.coursePlayerStatus?.course_percentage|| 0" [radius]="10" [outerStrokeWidth]="1" [innerStrokeWidth]="1" [space]="-1" [outerStrokeColor]="'#ffcc00'" [innerStrokeColor]="'#9d9d9d'" [titleFontSize]="5" [unitsFontSize]="5"
                                        [showSubtitle]="false" [animation]="true" [animationDuration]="300" [startFromZero]="false" [responsive]="true">
                                    </circle-progress>
                                </div>

                                <div class=" color_black f_size_12 f_wt_400  pointer" >
                                    <div class="width_100 display_flex">
                                        <div class="btl-alin">
                                            <button mat-stroked-button *ngIf="course?.coursePlayerStatus?.status !== 'completed'" class="blue_clr cap  statBtn pointer" data-toggle="modal" data-target="#myModal" (click)="gotoDesc(course)">
                        <mat-icon class="icon-color">play_circle_outline</mat-icon>
                        <span class="cap f_wt_400">
                          {{course?.coursePlayerStatus?.status === 'incomplete' ? 'Resume' : 
                              course?.coursePlayerStatus?.status === 'suspend' ? 'Resume' : 'Start'}}&nbsp;
                        </span>
                      </button>
                                            <button mat-stroked-button *ngIf="course?.coursePlayerStatus?.status === 'completed'" class="blue_clr cap statBtn pointer" data-toggle="modal" data-target="#myModal" (click)="gotoDesc(course)">
                        <mat-icon class="icon-color">replay</mat-icon>
                        <span class="cap f_wt_400">
                          {{'Replay' | translate }}&nbsp;
                        </span>
                      </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- </div> -->
                            <!-- </div> -->

                        </div><br>
                        <div class="row buttonCls">
                            <div class="col-2"></div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12
                                                            assignbtn">
                                <button class="clr" (click)="goToAssignment(course)">
                                    <mat-icon>description</mat-icon>
                                    ASSIGNMENTS({{course.assignmentCount}})
                                </button>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 discussionbtn">
                                <button class="clr" (click)="goToForum(course)">
                                    <mat-icon>forum</mat-icon>
                                    DISCUSSION FORUM({{course.forumCount}})
                                </button>
                            </div>
                        </div>
                        <div class="row upcoming">
                            <div class="col-2"></div>
                            <div class="col-2">
                                <span>Upcoming...</span>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div *ngIf="completed?.length === 0" class="space5">

                    <mat-card class="coursebg width_90">
                        <div class="row width_90 no_margin">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 display_flex pointer no_pl" (click)="gotoDesc(course)">
                                <div class="lineer"></div>
                                <img alt="Course Img" src="assets/noCourseImg.jpg" class="courseImgs">
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 no_pl" style="padding: 5px !important;margin : auto">

                                <span style="font-size: medium;"> {{'You have no enrolled courses at the moment.' | translate }}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span matBadge="{{enrolledCourses?.length}}" matBadgeOverlap="false">{{'All' | translate }}</span>
                </ng-template>
                <div class="container" *ngFor="let course of enrolledCourses ;let i=index">
                    <mat-card class="coursebg" matRipple>
                        <!-- <div class="row width_100 no_margin"> -->
                        <!-- <div class="col-12 display_flex pointer no_pl" (click)="gotoDesc(course)"> -->
                        <div class="row">
                            <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                                <div class="courseHover" (click)="gotoDesc(course)" data-toggle="modal" data-target="#myModal">
                                    <img alt="Course Img" src="{{course.course_img_url}}" class="courseImg">
                                    <div class="overlay">
                                        <mat-icon class="text"> play_arrow </mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="no_pl pad1020">
                                    <div class="width-80  no_pl">
                                        <div class=" f_size_18 m-l-2 f_wt_500 pointer" >
                                            {{course.course_name}}
                                        </div>
                                    </div>

                                    <div class=" no_pl width_100 m-l-2 color_black2 f_size_14 descmc f_wt_400  pointer" >
                                        {{(course.course_description?.length > 100)? (course.course_description | slice:0:100)+'...':(course.course_description) }}
                                    </div>

                                    <div class="width_100 color_black2 f_size_12 f_wt_400 space2 pointer">
                                        {{course.course_mode === 'self-placed' ? 'Self paced' : course.course_mode}}

                                        <span class="dot" *ngIf="course.course_mode">&nbsp;.&nbsp;</span>
                                        <span *ngFor="let l of course?.author_details;let in = index">
                                        {{l.author_name && in != 0 ? ', ' + l.author_name : l.author_name || null}}
                                        <span class="dot" *ngIf="l.author_name">&nbsp;.&nbsp;</span>
                                        </span>

                                        <mat-icon class="timer"> alarm_on </mat-icon>
                                        <span class="aligned-with-icon"> {{course?.course_duration != 1  ? (course.course_duration ? course.course_duration + ' hours | translate ' : '1' + ' hour | translate ') : '1' + 'hour | translate '}} </span>
                                        <!-- <span class="aligned-with-icon"> {{course.course_duration ? course.course_duration : '0'}} hours</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-2">
                                <div class="progess pointer" >
                                    <circle-progress [percent]="course?.coursePlayerStatus?.course_percentage|| 0" [radius]="10" [outerStrokeWidth]="1" [innerStrokeWidth]="1" [space]="-1" [outerStrokeColor]="'#ffcc00'" [innerStrokeColor]="'#9d9d9d'" [titleFontSize]="5" [unitsFontSize]="5"
                                        [showSubtitle]="false" [animation]="true" [animationDuration]="300" [startFromZero]="false" [responsive]="true">

                                                        <!-- [outerStrokeWidth]="10"
                                    [innerStrokeWidth]="10"
                                    [space] = "-10"
                                    [outerStrokeColor]="'#4882c2'"
                                    [innerStrokeColor]="'#e7e8ea'" -->
                                    </circle-progress>
                                </div>
                                <div class="btl-alin">
                                    <button mat-stroked-button *ngIf="course?.coursePlayerStatus?.status !== 'completed'" class="blue_clr cap  statBtn pointer" data-toggle="modal" data-target="#myModal" (click)="gotoDesc(course)">
                                    <mat-icon class="icon-color">play_circle_outline</mat-icon>
                                    <span class="cap f_wt_400">
                                      {{course?.coursePlayerStatus?.status === 'incomplete | translate ' ? 'Resume | translate ' : 
                                          course?.coursePlayerStatus?.status === 'suspend | translate ' ? 'Resume | translate ' : 'Start' | translate }}&nbsp;
                                    </span>
                                  </button>
                                    <button mat-stroked-button *ngIf="course?.coursePlayerStatus?.status === 'completed'" class="blue_clr cap statBtn pointer" data-toggle="modal" data-target="#myModal" (click)="gotoDesc(course)">
                    <mat-icon class="icon-color">replay</mat-icon>
                    <span class="cap f_wt_400">
                      {{'Replay' | translate }}&nbsp;
                    </span>
                  </button>
                                </div>
                            </div>
                        </div><br>
                        <div class="row buttonCls">
                            <div class="col-2"></div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12
                                                            assignbtn">
                                <button class="clr" (click)="goToAssignment(course)">
                                    <mat-icon>description</mat-icon>
                                    ASSIGNMENTS({{course.assignmentCount}})
                                </button>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 discussionbtn">
                                <button class="clr" (click)="goToForum(course)">
                                    <mat-icon>forum</mat-icon>
                                    DISCUSSION FORUM({{course.forumCount}})
                                </button>
                            </div>
                        </div>
                        <div class="row upcoming">
                            <div class="col-2"></div>
                            <div class="col-2">
                                <span>Upcoming...</span>
                            </div>
                        </div>
                        <!-- </div> -->

                        <!-- </div> -->
                    </mat-card>
                </div>



                <div *ngIf="enrolledCourses?.length === 0" class="space5">
                    <mat-card class="coursebg width_90">
                        <div class="row width_90 no_margin">
                            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12 display_flex pointer no_pl" (click)="gotoDesc(course)">
                                <div class="lineer"></div>
                                <img alt="Course Img" src="assets/noCourseImg.jpg" class="courseImgs">
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 no_pl" style="padding: 5px !important;margin : auto">

                                <span style="font-size: medium;"> {{'You have no enrolled courses at the moment.' | translate }}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template  matTabLabel>
                    <span  matBadge="10" matBadgeOverlap="false">{{'College Connect' | translate }}</span>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span matBadge="10" matBadgeOverlap="false">{{'Vocational' | translate }}</span>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabLabel>
                    <span matBadge="10" matBadgeOverlap="false">{{'Pro Certification' | translate }}</span>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>






<div class="spinner-container" *ngIf="loading">
    <mat-spinner diameter="40"  class="mat-spinner-color"></mat-spinner>
</div>

<!-- Model for mobile user  -->
<div class="modal" *ngIf="show" id="myModal" role="dialog">
  <div class="modal-content">
      <div class="modal-header">
          <span style="font-size:22px; color: red;">{{'Alert !' | translate }}</span>
      </div>
      <div class="modal-body">
          <p class="f_size_16">{{'Courses works best in Laptop / Desktop.' | translate }}</p>
          <p class="f_size_16">{{'Accessing courses via mobile is forbidden.' | translate }} </p>
          <div class="row">
              <div class="col-8">
                  <p><b>{{'Recommended browsers' | translate }}</b></p>
              </div>
              <div class="col-1">
                  <a class="showbtn" (click)="alterDescriptionText()"> {{ showShortDesciption ? '>>': '<<' }}</a>
              </div>
          </div>
          <div [ngClass]="{'show-less': showShortDesciption}">
              <p>{{'L&T supports the most recent versions of the following browsers.' | translate }}</p>
              <ul>
                  <li>{{'Google Chrome' | translate }} ({{'recommended' | translate }})</li>
                  <li>{{'Firefox' | translate }}</li>
                  <li>{{'Safari' | translate }}</li>
                  <li>{{'Internet Explorer 11' | translate }}</li>
                  <li>{{'Microsoft Edge' | translate }}</li>

              </ul>
              <p>If you're using an older browser , updating your browser can help solve problems.</p>
          </div>


      </div>
      <div class="modal-footer">
          <button class="roundbtn" data-dismiss="modal" (click)="close()">Close</button>
      </div>
  </div>
</div>


<br>
<br>
<div *ngIf="!loading">

    <div class="footer">
        <!-- <span class="center_align">© 2020 L&T EduTech. &nbsp; &nbsp; | &nbsp; &nbsp; -->
        <span class="powered">
            <!-- <img width="160px" alt="" src="assets/learner/LnT-Full-black-logo.svg"> -->
            <span class="forgot1">2020 © L&T EduTech All Rights Reserved</span>
        </span>
        <!-- </span> -->

    </div>

</div>