@import "variable";

p {
    text-align: center;
}

.mat-dialog-container {
    display: block;
    border: 0.5px solid $color-blue;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

.mat-button,
.mat-stroked-button,
.mat-flat-button {
    min-width: 38%;
    margin: auto;
    border-radius: 0 !important;
    // background-color: $color-blue !important;
    //both confirm and cancel button same clr so no differentiate
}

.background-darkGrey {
    background-color: $lxp-theme-green !important;// 
    color: $color-white !important;
}

@media screen and (max-width: 600px) {

    p {
        font-size: 8px;
    }

    h2 {
        font-size: 12px;
        font-weight: bolder;

    }

    .mat-dialog-container {
        width: auto;
    }

}

.msg {
    text-transform: lowercase !important;
}
.msg:first-letter {
    text-transform: capitalize !important;
}